<template>
<form @submit.prevent="login"  name="form" class="form-horizontal" role="form" novalidate="true">
    <div  class="row justify-content-md-center">
     <div  class="col-lg-12 p-0">
        <div v-if="errorMsg" class="text-center alert alert-danger">
          <span class="h5">{{errorMsg}}</span>
          <button type="button" class="float-right btn btn-outline-danger p-0 px-2 border-0" @click="errorMsg=null">x</button>
        </div>
        
      </div>
    </div> 
    <div class="row justify-content-md-center">
  
     <div class="col-lg-12 card p-0">
        <div class="card-header text-center"><b class="card-title" v-if="!dataLoading"><i class="fa fa-lock mr-2"></i><span>Please login</span></b>
                            <div v-if="dataLoading" class="text-center">
                             <div class="loader"></div>
                            <b class="ml-2 card-title" style="vertical-align:middle;color:#3498db">Logging in...</b>
                            </div>
        </div>
     
        <div class="card-body">
          <div class=""> 
                <div class="form-group" v-bind:class="{ 'text-danger' : usernameInvalid }">
                          
                             <label   class="mr-1 mb-2" for="username">Username</label>
                                                
                             <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text" v-bind:class="{ 'text-danger border border-danger' : usernameInvalid }">
                                   <i class="fa fa-user" id="basic-addon1"></i>
                                  </div>  
                                </div>
                                <input type="text" v-bind:class="{ 'text-danger border border-danger' : usernameInvalid }" @keyup="checkUsernameValidity" v-model="username" id="username" :disabled="dataLoading" aria-label="Username" aria-describedby="basic-addon1" class="form-control" name="username" placeholder="Username">
                                
                             </div>
                             <span v-show="usernameInvalid" class="text-danger small"> Username is required</span>
                     
                            
                </div> 
  
                 <div class="form-group" v-bind:class="{ 'text-danger' : passwordInvalid}">
                         
                                <label class="mr-1 mb-2" for="password">Password</label>
                            
                         <div class="input-group">
                                <div class="input-group-prepend">
                                   <div class="input-group-text" v-bind:class="{ 'text-danger border border-danger' : passwordInvalid}">
                                    <i class="fas fa-key" id="basic-addon2"></i>
                                   </div>
                                </div>
                                <input type="password" v-bind:class="{ 'text-danger border border-danger' : passwordInvalid }" @keyup="checkPasswordValidity" v-model="password" id="password" :disabled="dataLoading" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="password" placeholder="Password">
                                
                             </div>
                         <span v-show="passwordInvalid" class="text-danger small"> Password is required</span>
                 
                 </div>
    
                 <br>
                <div class="form-group controls">
                       <div class="row m-0">
                        <div class="col p-0">
                           <button type="submit" :disabled="usernameInvalid || passwordInvalid || dataLoading" id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Logging in...">
                                <span class="fa fa-lock mr-2"></span> <span>Login</span>
  
                           </button>
                        </div>
                        <div class="col-auto p-0">
                           <a  href="/changepassrequest">Forgot password?</a>
                        </div>   
                           
                </div>
                
                
                
            </div>
         </div>
        </div>
      </div> 
    </div>
       
  </form>
</template>

<script>

import AuthenticationService from '../../public/modules/0000_common/0004_modules/authModule.js';
import {MenuService} from '../../public/modules/0000_common/0004_modules/menuModule.js';

export default {

  name: 'Login',
  
  data() {
      return {
          errorMsg: '',
          dataLoading: false,
          usernameInvalid:false,
          passwordInvalid:false,
          username:'',
          password:'',
          query_hash:''
      }
    },
      
      methods: {
        checkUsernameValidity() {
         if (this.username=='' || this.username==undefined || this.username==null) this.usernameInvalid= true;
         else this.usernameInvalid=false; 
        },
        checkPasswordValidity() {
         if (this.password=='' || this.password==undefined || this.password==null) this.passwordInvalid= true;
         else this.passwordInvalid=false;
        },
        login() {
          
          
          
          this.dataLoading=true;
          let vm = this;
          auth_svc = new AuthenticationService()
          AuthenticationService.Login(this.username, this.password, function(response) {
      
            if(response.success) {
                
                AuthenticationService.SetCredentials(response.data, vm.username,vm.password);
                  vm.dataLoading=true;
                 //load menus
                
                
                //var lang = $rootScope.globals.currentUser.lang;
                //var default_page = $rootScope.globals.currentUser.uep?.Params?.DefaultPageUri;
                //var params = $rootScope.globals.currentUser.uep?.Params?.DefaultPageParams;
                
                var stateName = 'app.navbar.home';           
                if (default_page!=undefined) stateName=default_page;
                
                var navbar=MenuService.getNavbarByTargetName(stateName,lang);
                if (params==undefined) params={};
                $state.go(stateName,params);
            }
            else {
                     
                vm.errorMsg = response.message;
                vm.dataLoading = false;
            }
          });
      }
    }
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
</style>
