
.multiselect-container {
  background:white;
  border:1px solid black;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
.alert-messages
{
  position:relative;
 /* z-index:9999;
  background-color: #efefef;
  right:0px;
  top:50px;
  margin: 0 auto;*/
  /*padding:10px;
  max-height:400px;*/
  /*overflow-y: scroll;*/
  
  
  
}

.alert-messages-inside
{
  
 /* position:fixed;*/
  
}
.multiSelectItem
{
  
  
}
.multiSelectItem:focus,.multiSelectItem:hover
{
 background-color: #efefef;
 cursor: default;
  
}.ui-select-panel-body-v-scroll{
    max-height: 180px;
    overflow-y: auto; 
}

/* to support Bootstrap 4*/
.ui-select-bootstrap.open .dropdown-menu {
  display: block;
  width:100%;
}


.ui-select-bootstrap .ui-select-toggle {
  position: static;
 /* padding:0;*/
}

.ui-select-bootstrap .ui-select-toggle-multiple-list {
  position: relative;
 /* padding:0;*/
}

.ui-select-bootstrap .ui-select-toggle-multiple-list > .dropdown-toggle-multiple-list {
 margin-right:35px;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}

/* Fix Bootstrap dropdown position when inside a input-group }*/
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.ui-select-bootstrap > input.ui-select-search.form-control {
  /*border-radius: 4px;  FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100% !important;
  
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap .ui-select-search-hidden{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
}

.ui-select-bootstrap > .ui-select-match > .btn{
  /* Instead of center because of .btn */
  text-align: left !important;
}

.ui-select-bootstrap > .ui-select-match > .dropdown-toggle-multiple-list {
  /*position: absolute;
  top: 45%;
  right: 50px;*/
  margin-right:30px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices ,.ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: 0;
  border-top: 0;
}

body > .ui-select-bootstrap.open {
  z-index: 1000; /* Standard Bootstrap dropdown z-index */
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
  position: relative;
}

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    cursor: pointer;
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-bootstrap .ui-select-match-text {
   width: 100%;
   padding-right: 2em;
}
.ui-select-bootstrap .ui-select-match-text span {
    display: inline;
    width: 100%;
    overflow: hidden;
   
}
.ui-select-size-xs{
 line-height:0.25; 
}
.ui-select-line-height-1{
 line-height:1; 
}
.ui-select-bootstrap .ui-select-toggle > a.btn {
  position: absolute;
  height: 10px;
  right: 10px;
  margin-top: -2px;
  
}

.ui-select-focus{
box-shadow: 0 0 0 0.2rem rgba(44, 96, 229, 0.25);
border-color: #9eb6f3;
border-radius:0.25rem !important;
color: #495057;
outline: 0;
}
.ui-select-focus-invalid{
border-color: #dc3545 !important;
box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
border-radius:0.25rem !important;
color: #495057;
outline: 0;
}

/* Spinner */
.ui-select-refreshing {
    position: absolute;
    right: 0;
    padding: 8px 27px;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
 }
 
@-webkit-keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ui-select-spin {
  -webkit-animation: ui-select-spin 2s infinite linear;
  animation: ui-select-spin 2s infinite linear;
}

.ui-select-refreshing.ng-animate {
  -webkit-animation: none 0s;
}

.input-group-multiple-list
{
  position: relative;
  display:block;
  
}
.btn-add-multiple-list
{
    position: absolute !important;
    top: 1px;
    right: 0;  
  
}
.ui-select-panel-body-v-scroll{
    max-height: 180px;
    overflow-y: auto; 
}
.btn-form-def-disabled:disabled
{
  opacity:unset !important;
}
.max-height-1-rem
{
  max-height: 1rem;
}

.widget-head .widget-prop {
   visibility: hidden;
}  

.widget-head:hover .widget-prop {
   visibility: visible;
}
.widget-active {
border:1px solid #9eb6f3;
} 
.widget-head-active {
background-color:#EAF0FD;
}

.inline-task-absolute
{
   max-width: 75vw;
   width: 90rem;
   position: absolute;
   background-color: white;
   z-index: 2;
   top:-17px;
   border:1px solid gray;
   box-shadow: 0 0.125rem 0.25rem rgba(14, 26, 57, 0.075) !important;
   
}

.trumbowyg-editor,.trumbowyg-textarea{
  position:relative;
  box-sizing:border-box;
  padding:10px;
  min-height:300px;
  width:100%;
  border-style:none;
  resize:none;
  outline:0;
  overflow:auto
  }

.task-instance-def-item
{
  /*
 overflow: hidden;
 position: relative;
 display: inline;
 */
}

.task-instance-def-item.ng-enter
{
transition: all ease-in-out 0.25s;
left: 120%;
}

.task-instance-def-item.ng-enter.ng-enter-active
{
left:0;
}


.task-instance-def-item.ng-leave
{
 margin-top: 0;
}

.task-instance-def-item.ng-leave.ng-leave-active
{
 top: -50%;

}

.codes-details{
    position: absolute;
    width: 70%;
    right: 15px;
    top:0;
    height:150px;
    background-color: white;
   
    overflow-y: auto;
   /* transition: height 0.5s; */
    box-shadow: 0 0.5rem 1rem rgba(14, 26, 57, 0.15) !important;
    border: 1px solid rgba(14, 26, 57, 0.1) !important;

}

.codes-details.active{
    position: absolute;
    width: 70%;
    right: 15px;
    top:0;
    height:100%;
    background-color: white;
    /*visibility: visible;*/
    
}





:root {
  --kt-table-border: #0e1a39; //#dcdcdc;
  --kt-table-font-color: #818181;
  --kt-table-bg-color: #f9f9f9;
  --kt-table-row-selected-bg:#216eff;
  --kt-table-row-hover-bg:#ccdbee; //#cfdfff;
  --white: #ffffff;
}

.table-katalyo-wrapper {
 overflow: auto;
 /* border: 1px solid var(--kt-table-border) !important;
 padding: 10px; */
}

.table-katalyo {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0 !important;
 /* table-layout: fixed;
  border: 1px solid #8888ff !important;*/
}
  
.table-katalyo thead {
    /*background-color: var(--kt-table-bg-color);#2C60E5;
    color: var(--kt-table-font-color) !important;*/
    border: none;
    /*border-bottom: 1px solid var(--kt-table-border) !important;
    border-top: 1px solid var(--kt-table-border) !important;*/
  
}

.table-katalyo thead th {
    /*background-color: var(--kt-table-bg-color);#2C60E5;
    color: var(--kt-table-font-color) !important;*/
    border: none;
   /* border-bottom: 1px solid var(--kt-table-border) !important;
    padding: 0.5rem;*/
  
}

.table-katalyo th:hover {
    cursor:pointer;
}

.table-katalyo th {
   padding: 0.375rem 0.375rem 0.375rem 0.375rem !important;
  /* position: relative;
    left: -10px;*/
    max-width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
}

.table-katalyo td {
   /* padding: 0.35rem !important;*/
    padding:0.375rem 0.375rem 0.375rem 0.7rem;
    max-width: 20rem;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
}



.table-katalyo tbody tr:hover {
     background-color: #CAD7F8 !important;
    /* filter: brightness(0.4);
     font-weight: 700;
     color: #000 !important;*/
     cursor: pointer;
     box-shadow: 0 0.125rem 0.25rem #0e1a3914 !important;

}

.table-katalyo th:last-child,.table-katalyo td:last-child {
    border-right: none;
}


.pagination-sm .page-link {
 /* font-size: 0.875rem !important;*/
  font-size: inherit !important;
  line-height: 1.25 !important;

  }

  .page-item.active .page-link {
    background-color: lightslategrey !important;
    font-weight: bolder;
}

.page-link {
   
    border: none !important;
    border-radius: 0.2rem;
    padding: 0.15rem 0.5rem !important;
}
.white-border-dashed
{
  border: 2px dashed white;
}

.lr-drop-target-after {
    border-bottom: 2px solid orange;
    margin-bottom: 10px;
    margin-top: 10px;

}

.lr-drop-target-before {
    border-top: 2px solid orange;
    margin-bottom: 10px;
    margin-top: 10px;
}

.lr-drop-target-after:before, .lr-drop-target-before:before {
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-left-color: orange;
    display: inline-block;
}

.lr-drop-target-after:before {
    z-index: 10;
    left: -5px;
    bottom: -6px;
}

.lr-drop-target-before:before {
    z-index: 10;
    left: -5px;
    top: -6px;
}

.lr-drop-target-after:after, .lr-drop-target-before:after {
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-right-color: orange;
    display: inline-block;
}

.lr-drop-target-after:after {
    right: -5px;
    bottom: -6px;
}

.lr-drop-target-before:after {
    right: -5px;
    top: -6px;
}


.show-on-hover-container:hover
{
  
  background-color: #f0f6ff !important;

}

.show-on-hover-container.selected
{
  
  background-color: #f0f6ff !important;
  box-shadow: 0 0.125rem 0.25rem #0e1a3913 !important;
  border: 1px solid #2C60E5;

}

.show-on-hover-container:hover .show-on-hover-item
{
  
  visibility:visible;

}

.show-on-hover-container .show-on-hover-item
{
  
  visibility:hiden;

}

.show-on-hover-item
{
  
  visibility:hidden ;

}
.initiate-task-widget
{
  visibility: hidden;
}
.initiate-task-widget.selected
{
visibility: visible;
}


.paginator-container-query {
  container-type: inline-size;
  container-name: nav-cont;
}

.nav-container {
  display: flex;
  width: 100%;
  padding-top: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.paginator-placeholder {
  width: 33%;
  height: 0;
  visibility: hidden;
}

@container nav-cont (max-width: 1060px) {
  .nav-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



.original-upload {
  height: 160px;
}

.upload-area {
  container-type: inline-size;
  container-name: upload-area;
}

@container upload-area (max-width: 434px) {
  .original-upload {
    height: 240px;
  }
}


.row-upload {
  container-type: inline-size;
  container-name: row-upload;
  display: grid;
  grid-template-columns: 36px 1fr 0.3fr 0.3fr 0.5fr 0.6fr;
  padding: 8px 0px 8px 0px !important;
}


.upload-abs-container {
  container-type: inline-size;
  container-name: upload-abs-container;
}

@container upload-abs-container (max-width: 394px) {
  .row-upload {
    grid-template-columns: 36px 1fr 1fr 1fr 1fr;
  }
}

.col-upload {
  font-size: 1rem;
  padding: 6px 0px 6px 12px;
}

@container row-upload (max-width: 486px){
  .col-upload {
    font-size: 0.75rem;
  }
  
  .upload-col-optional {
    display: none;  
   } 
  
  div.row-upload div:nth-child(1) {
  grid-column-start: 1;
  }

  div.row-upload span:nth-child(2) {
  grid-column-start: 2;
  }

  div.row-upload span:nth-child(3) {
  grid-column-start: 6;
  }

  div.row-upload span:nth-child(4) {
  grid-column-start: 3;
  }

  div.row-upload span:nth-child(5) {
  grid-column-start: 4;
  }

  upload-delete-container {
  grid-column-start: 5;
  }
}

@container row-upload (max-width: 394px){
  .col-upload {
    font-size: 0.625rem;
  }
    .upload-col-optional {
    display: none;
  }
  
  div.row-upload div:nth-child(1) {
  grid-column-start: 1;
  }

  div.row-upload span:nth-child(2) {
  grid-column-start: 2;
  }

  div.row-upload span:nth-child(3) {
  grid-column-start: 6;
  }

  div.row-upload span:nth-child(4) {
  grid-column-start: 3;
  }

  div.row-upload span:nth-child(5) {
  grid-column-start: 4;
  }

  upload-delete-container {
  grid-column-start: 5;
  }

}


div.row-upload div:nth-child(1) {
  grid-column-start: 1;
}

div.row-upload span:nth-child(2) {
  grid-column-start: 2;
}

div.row-upload span:nth-child(3) {
  grid-column-start: 3;
}

div.row-upload span:nth-child(4) {
  grid-column-start: 4;
}

div.row-upload span:nth-child(5) {
  grid-column-start: 5;
}

.upload-delete-container {
  container-type: inline-size;
  container-name: upload-delete-container;
  text-align:end;
  padding: 6px 12px;
}

.upload-delete-text {
  font-size: 1rem !important;
}

@container upload-delete-container (max-width: 66px){
  .upload-delete-text {
    font-size: 0.75rem !important;
  }
}

@container upload-delete-container (max-width: 48px){
  .upload-delete-text {
    font-size: 0.625rem !important;
  }
}


/* width & height*/
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/*
.task-instance-def-item.ng-enter
{
  animation-duration: 1s;
  animation-name: flyin;
  animation-iteration-count:  1;
 
}
.task-instance-def-item.ng-leave
{
  animation-duration: 1s;
  animation-name: flyout;
  animation-iteration-count:  1;
 
}
@keyframes flyin{
  
  from {
    top: -50px;   
  }
  to{
    top:0px;
  }
  
}
@keyframes flyout{
  
  from {
    top: 0px;   
  }
  to{
    top:-50px;
  }
  
}
*/


