.form-grid-container
{
	display: grid;
	grid-template-rows:100%;
	grid-template-columns:100%;
	//border: 1px dashed gray;
}

.halfOval {
   
   background-color: #9fbee3;
    border-radius: 40px 0px 0px 40px;
    width: 15px;
} 

.borderGreen {
   border: solid #9fbee3 2px;
}
