﻿/* The CSS that's required to position the elements */	   

 
html{
 /*position: absolute;
  position: relative;
  min-height: 100%;
*/
}

body{
   /*background-color: #333333 !important;
      margin: 0;
      padding:0;
      padding-top:5px;*/
     /* background-color:  #f8faff; 
     background-color: #95c8d8  #c6d9ec;
      margin-bottom: 50px;
     */
     margin-top:0 !important;
     margin-left:12px !important;
     margin-right:12px !important;
     
     /*height: 100%;
      overflow-x: hidden;
      */
      font-size: 0.9rem !important;
    line-height: 1.25 !important; 
     
   }

#header
{
 position: relative; 
 /*height: 5%;
 padding:2px;*/
 width: 100%;
 height:30px;
 background-color: #5f5f5f;
/* border-bottom: 3px solid Green;*/
color:  white;
}
#headerdetails
{
 position: relative; 
 /*height: 5%;*/
 padding:2px;
 width: 100%;
 background-color: #dedede;
/* border-bottom: 3px solid Green;*/
display:none;
color:#4D4DB8;
}
.navbarsize{
  border:1px solid red;
}
.navbarContainer
{
  
}
#contentHolder            	  
{
  top:5px;
  position: relative;
}

.layout            	  
{
  top:5px;
  margin-bottom:10px;
}

@media (max-width: 768px) {
    #contentHolder {
      margin-top: 240px;
    }
  }
.displayNone {
  display:none;
}
.min10
{
  position:relative;
  height:100%;
  min-height: 40px;
   /*padding:20px;*/
  border: 2px dashed gray;
  
}

.max300
{
  /*position:relative;
  height:100%;*/
  max-height: 300px;
 overflow-y: auto;
  
}
.max200
{
  /*position:relative;
  height:100%;*/
  max-height: 200px;
 overflow-y: auto;
  
}
.placeholder-drag-drop{
  /*border: 3px dotted #000 !important;*/
  /*margin-bottom:10px;*/
  /*height:20px;*/
  }

.myGrid {
  /*width: 98%;
    
   height: 250px;
   position:relative;*/
   
     
 height:450px;
/*width:100%;
 margin-right:15px !important;*/
}

@media (min-width: 1024px) {
  .my-grid {
    width: 772px;
  }
}

@media (min-width: 1280px) {
  .my-grid {
    width: 972px;
  }
}

@media (min-height: 768px) {
  .my-grid {
    height: 480px;
  }
}

@media (min-height: 900px) {
  .my-grid {
    height: 650px;
  }
}

.myGrid2  {
  height: 110px;
  margin-right: 0px;
  margin-left: 0px;
 background-color: #fff;
}

.myGrid2CellClass .ui-grid-cell-contents{
 background-color: #fff;
}


.myGridSmall {
  /*width: 98%;
    
   height: 250px;*/
   
    
 height:300px;
 
 /* position:relative;
width:100%;*/
}
.padding0{
  
  padding:0 !important
  
}
.padding5{
  
  padding:5px !important
  
}
.margin0{
  margin:0 !important
  
}
.margL0 { margin-left:0 !important }
.padL0 { padding-left:0 !important }
.padR0 { padding-right:0 !important }

.right-0{
  
  right:0 !important
  
}
.padding5{
  
  padding:5px !important
  
}

.noHorizontalPadding
{ padding-left:0 !important ;
padding-right:0 !important ;
 /*padding-top:2px;
 padding-bottom:1px;*/
/*margin-left: -40px !important;*/
}
ul.form-container
{
 padding: 0 !important;
  /*margin-left: -40px !important;*/
  
}
.marginL5
{
  
margin-left: 5px !important;
  
}
.inline-block-div
{
  
display:inline-block;
margin-right:10px;
margin-left:10px;
vertical-align: text-top;
  
}
.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}
.sort-box
{
 /* margin-right:10px !important;
  background-color: #F8F8F8;*/
  padding:5px !important;
 /* padding-right: 15px !important;*/
  }
.gridRow{
    /*background-color:#f1f1f1;
    border: 5px solid white;
    margin-left:1px;
    margin-right:15px;*/
}
  
.gridColumn{
    background-color:yellow;
    /*border: 5px solid white;
    margin-left:5px;
    margin-right:10px;*/
}
  
.no-border {
    border: none !important;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    background: none;
    margin: 0 !important;
}
.loadingGif
{
 
  width:55px;
  height:55px;
  background-image: url('/static/loading.gif');
  
}
.processingContent{
   background-color: #fff;
  /* padding-top:5px;
   padding-bottom:5px;*/
   box-shadow: 0 0 10px 10px #444;/*#9CC1E6;#FFDEAD;*/
}
.show-border
{
  border:5px dotted green;
  background-color: green;
  color:  green;
  /*min-height: 50px;*/
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.6;
}
.grid-column-border
{
 border:2px dotted Gray !important;
 
  
  margin: 5px !important;
}

.grid-row-border
{
 border:1px solid #e6e8eb !important;
}

.grid-row-background-afafaf
{
background-color: #afafaf !important;
}
.row-header-input{
  display: flex;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  color:#212529;
  background-color: #707c8c; 
 outline:none;
 padding-left: 1em;
}
.column-header-wrap
{
  width:68%;
}
.column-header-input{
 /* display: flex;*/
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  height:2rem;
  outline:none;
  /*padding-top: 0.5em;MIGOR*/
}
#processingDialog
{

}
.side-menu
{
  padding-right: 0 !important;
  margin-right: 0 !important;
  padding-left:5px;
  margin-top:5px;
  
}
.toolbox
{
  max-width: 93%;
}
.form-btns-top
{
  z-index: 5;
  top: 50px;
}
.form-props-pos
{
overflow-y: auto;
top:155px !important;
max-height: calc(100vh - 7rem);
}
.dataset-form-props-pos
{
overflow-y: auto;
top:120px !important;
max-height: calc(100vh - 7rem);
}
.properties-extended
{
background-color: #ffffff;
width:50%;
position:absolute;
right:0;
box-shadow: 0 0.5rem 1rem #0e1a3926 !important;
border:1px solid #e7e7e7;
}
.menu-sticky-pos
{
overflow-y: auto;
top:55px !important;
max-height: calc(100vh - 5rem);
}

#content            	  
{
 padding:5px !important;
 padding-left:0px !important;
 margin-bottom:50px;
  /*min-height:86vh;*/
 /*background-color:#6daac6;#b8d8d8;*/
}

.contentR         	  
{
 background-color:#6daac6;/*#b8d8d8;*/
}
.padding-0{
   padding-right: 0 !important;
   margin-right: 0 !important;
   padding-left:10px;
  
}

.padding-3{
   padding:3px;
  padding-left:5px
}
.footer
{
position: fixed;
min-height:2rem;
bottom: 0;
background-color:#eef1fa5c;
width: 100%;
align-items: center !important;
text-align:right;
/*padding-left:10px;
padding-right:10px;*/
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


.boxshadow {
    position: relative;
    box-shadow: 1px 2px 3px #888888;
    /*padding: 10px;*/
  /*  background: white;*/
  margin-bottom: 5px;
 /* margin-right:15px;*/
  background-color: #fefefe;
}

.boxshadow img {
    /*width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;*/
}

.boxshadow::after {
   /* content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    width: 70%; 
    left: 15%;  /*one half of the remaining 30% 
    height: 100px;
    bottom: 0;*/
}

.well-custom
{
  margin-bottom:5px !important;
  padding:5px !important;
  border-color:#c1c1c1 !important;
  border-radius: 0 !important;
}

.well-custom-flex
{
  margin-bottom:5px !important;
  padding:5px !important;
  border-color:#c1c1c1 !important;
  border-radius: 0 !important;
  display:flexbox;
  
}
.well-custom-no-lock-padding
{
  margin-bottom:5px !important;
  padding:20px;
  border-color:#c1c1c1 !important;
  border-radius: 0 !important;
}
.margin-top-5
{
   margin-top:5px !important;
}
.ui-grid-row{
clear: both;
}
.noPadTopBottom
{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.checkbox-zoom-large {
    zoom: 1.75;
}

/* The starting CSS styles for the enter animation */
.fade {
  transition:0.1s linear all;
  opacity:1;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-hide {
  opacity:0;
}


.exampleRow {
  /*  display: flex;
    flex-direction: row;  MIGOR VIDJETI DA LI PRIVRMENO*/
  }

.exampleCell {
    flex-grow: 1;
  }

.exampleRow, .exampleCell {
    margin: 5px;
    padding: 5px;
    background-color: rgba(11, 11, 11, 0.3);
    border: 1px solid; 
    border-radius: 3px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
.fade {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}
.fade.ng-hide {
    opacity:0;
}
.exampleCell2 {
    margin: 5px;
    padding: 5px;
    color: white;
    /* background-color: rgba(220, 5, 50, 0.7); */
    background-color: rgba(50, 50, 150, 0.7);
    border: 1px solid; 
    border-radius: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
.z-last{
padding-left:15px;
}
.icon-list .fa-hover a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #222;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

a.linkIcon {
   padding-top:15px;
   border:1px solid transparent;
}

a.linkIcon:hover {
   /* background-color: #1d9d74;
    color: #fff;*/
   background-color: #f1f1f1;
   border:1px solid #e1e1e1;
   color:orange;
    text-decoration: none;
    cursor: pointer;
}

.spinner-std {
  width: 100px;
  height: 100px;

  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 50px);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9c9;
  border: solid 3px #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

form.well {
  position: relative;
}

.overlay {
  opacity: .75;
  background-color: #000;
  width: calc(100% + 10px);
  height: calc(100% + 22px);
  position: absolute;
  z-index: 5;
  margin: -20px -20px;
  border-radius: 3px;
}

.login-progress {
  text-align: center;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% - 45px);
  color: #fff;
  z-index: 10;
}

.active-edit-sidemenu{
  background-color: #F7D358;
 /*  background-color:#2980B9;*/
  color: #fff !important;
  
}


.sidebar-nav .nav li a:hover {
    background-color: #428bca !important;
    color: white !important;
  }

.activeEditMode, .inactiveEditMode {font-size:30px;cursor:pointer;}
.activeEditMode, .inactiveEditMode {font-size:30px;cursor:pointer;}
i.activeEditMode { color: #5cb85c}
i.inactiveEditMode {color: #b3b3b3}

img.centered{
 display: block;
    margin-left: auto;
    margin-right: auto  
  
}
.visibility-visible
{
  visibility: visible;
}
.visibility-hidden
{
  visibility: hidden;
}

.row-eq-height {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
 }
 
.arrow-triangle {
    border-right: 2px solid; 
    border-bottom: 2px solid;
    height: 10px;
    width: 10px;
    transform: rotate(-45deg);
    margin:0 auto;
}
.arrow-right
{
   transform: rotate(-45deg);
   top:-6px;
   position: relative;
}
.arrow-left
{
   transform: rotate(135deg);
   top:-4px;
   position:relative;
}
.arrow-up
{
   transform: rotate(-135deg);
}
.arrow-down
{
   transform: rotate(45deg);
  
}
.arrow-line-up{
border:1px solid;
width: 0;
margin: 0 auto;
min-height:30px;
margin: 0 auto;
top:-10px;
position: relative;

}
.arrow-line-down{
border:1px solid;
width: 0;
min-height:30px;
margin: 0 auto;
bottom:-10px;
position: relative;
}
.arrow-line-up-down{
border:1px solid;
width: 0;
min-height:30px;
margin: 0 auto;
}
.arrow-line-left-right{
border:1px solid;
height: 0;
top:15%;
position: relative;
}
.bg-thistle{
 background-color: #eaeaea;/*#F3E2A9; #fffeee; #d5eabb;#E6E6FA; */
  
}
.bg-purple-custom{
background-color:  #210B61 ;
  
}
.bg-head-custom{
background-color: #ddefd8; /*#ddd888;*/
}

.properties-opened {
 position: relative;
 max-height:50%;
 overflow-y:scroll;
 top:50px;
 width:98%;
}
.sticky-properties-bottom {
 position: fixed;
   /* width: 100%;*/
    z-index:500;
    overflow: scroll;
    max-height:80%;
    /*width:inherit;*/
    max-width:50%;
    /*left:0;
  
  top:20px;
 bottom:0px;
  margin-top:40px;
*/  
}
 /*
.prop-btn {
      display: none;
    visibility: hidden;
}
*/
 /*.dataset-item:hover .prop-btn, .prop-btn:hover {
  display: inline-block;
      visibility: visible;
}*/
 .ml-5rem
 {
  margin-left: -6.5rem !important;
 }

.element-properties-btns {
    visibility: hidden;
   position: absolute !important;
    margin-right: 0.75rem;
    z-index: 100;
    height: fit-content !important;
    right: 0;
    top: -1.5rem;
    min-width: max-content;
}

.dataset-item:hover > div > .element-properties-btns, .dataset-item:focus > div > .element-properties-btns {
  visibility: visible; 
} 

.dataset-item:hover  > div >.blue-dropdown > .element-properties-btns, .dataset-item:focus > div >  .blue-dropdown > .element-properties-btns {
  visibility: visible; 
} 

div.build-mode .dataset-item:hover {
/* treba vidjeti kako na hover da zasivi pozadinu, ovo nije to */
/* border: 1px solid #e2e2e2;*/
  box-shadow:  0 0.125rem 0.25rem rgba(14, 26, 57, 0.08) !important;
  background-color: #ebfaff;
  border-radius: 0.25rem !important;
}


/*
.dataset-item:hover .fa {
  color: rgba(255, 255, 255, 0.9) !important;
}
*/

.grid-row-background-afafaf:hover .fa {
    color: rgba(255, 255, 255, 0.9) !important; 
 }

/*
.grid-row-background-afafaf:hover .container-prop-hover {
  visibility: visible; 
}*/

.container-prop-hover {
  background-color: #707c8c;
}

.container-footer {
 /*visibility: hidden;*/
 position:sticky;
 right:0.5rem;
}
.bottom-0 {
 bottom:0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}


.nav-button {
    background-color: transparent;
    border-bottom: 1px solid #2C60E5;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &-active {
        @extend .nav-button;
            color: #2C60E5;
            border-bottom: 1px solid #2C60E5;
      }
}
.dropdown-max-content-width
{
  width: max-content;
  
}

.menu-arrow {
position: absolute;
left: 8em;
top: -0.1em; 
}

.animFadeInOutOnce {
    width:200px;
    height: 200px;
    background: red;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}



.animFadeInOut {
    animation: fadeIn 1s infinite alternate;
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}

.builtOnKatalyo{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px solid #efefef;
    padding: 5px;
    background-color: rgba(255,255,255,0.95);
    color: #2b2b71e8;
    box-shadow: 1px 1px 3px #efefef;
    font-family: sans-serif;
  
}
 
@media print {
  body * {
  /*  visibility: hidden;   found other solution with new tab so this is not needed */
  }
  .printme, .printme * {
    visibility: visible;
  }
  .printme {
    position: absolute;
    left: 0;
    top: 0;
  }
  .noprint, .noprint * {
	 visibility: hidden !important;
  }
  
  .table-katalyo-wrapper {
     overflow: visible !important;
  }  
    
}


.blue-dropdown {
    position: absolute !important;
    right: 0;
    top: 0.15rem;
    margin-right: 0.75rem;
 /*   z-index: 100; */

 }

.blue-dropdown-new {
  position: absolute !important;
  visibility: visible !important;
  right: 0;
  margin-right: 0.75rem;
  margin-left: 0.75rem; 
  z-index: 100;
  }

  .element-properties-btns-new {
    visibility: hidden;
    background-color: #b1c2ef !important;
}

.dataset-item:hover > .element-properties-btns-new, .dataset-item:focus > .element-properties-btns-new {
  visibility: visible; 
} 

.dataset-item:hover  > .blue-dropdown-new > .element-properties-btns-new, .dataset-item:focus > .blue-dropdown-new > .element-properties-btns-new {
  visibility: visible; 
} 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
 
.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.col-gap-4 {
  column-gap: 4px;
}

.col-gap-8 {
  column-gap: 8px;
}

.col-gap-12 {
  column-gap: 12px;
}

.col-gap-16 {
  column-gap: 16px;
}

.col-gap-24 {
  column-gap: 24px;
}

.row-gap-4 {
  row-gap: 4px;
}

.row-gap-8 {
  row-gap: 8px;
}

.row-gap-12 {
  row-gap: 12px;
}

.row-gap-16 {
  row-gap: 16px;
}

.row-gap-24 {
  row-gap: 24px;
}

.bg-danger-10 {
  background-color: #FCEBED;
}

.bg-info-20 {
  background-color: #D1ECF1;
}


.p-12 {
  padding: 12px;
}

.pt-12,
.py-12 {
  padding-top: 12px;
}

.pb-12,
.py-12 {
  padding-bottom: 12px;
}

.pr-12,
.px-12 {
  padding-right: 12px;
}

.pl-12,
.px-12 {
  padding-left: 12px;
}