.navbar-custom {
    background-color: #555555;
   /*background-color:#eef1fa;#1D2951; #2980B9;
    border-radius:0;*/
    padding-left:10px;
    padding-right:10px;
   /* border-bottom: 2px solid #efefef;*/
    border-top: none;
   
   }

.navbar-custom #navbar-collapse-1 {
     min-width:796px; 
  } 

@media(max-width: 976px)
{
 .navbar-custom {
   /* background-color: #fff; #2980B9;
    border-radius:0;*/
    padding-left:10px;
    padding-right:10px;
    border-top: none;
  } 
  

}

@media (max-width: 1334px) {
    .navbar-header {
        float: none;
}

}   
.navbar-custom .navbar-nav > li > a {
    color:#e9e9e9;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
   /* background-color: #1D2951;
     font-size: medium;
    font-family: sans-serif;
    border-bottom: 2px solid #ffffff !important;*/
}

.sidemenu-custom .navbar-nav  li  a {
    color:#a1a1b1;
    border-left: 5px solid transparent;
    
     /* border-top: 5px solid transparent;
  background-color: #1D2951;
     font-size: medium;
    font-family: sans-serif;
    border-bottom: 2px solid #ffffff !important;*/
}

.sidemenu-custom .navbar-nav  li  a:hover,
.sidemenu-custom .navbar-nav  li  a:focus,
.sidemenu-custom .navbar-nav  .open a {
    text-decoration: none;
    color: #95c394;
    border-left: 5px solid #95c394;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    color: #95c394;
    border-bottom: 5px solid #95c394;
}

.navbar-custom .navbar-header
{
  margin-top:6px;
}
.navbar-custom .navbar-brand {
    color:#a1a1b1;
   /* margin-top:10px;*/
}
.navbar-custom .navbar-toggle {
    background-color:#006f9e;
    
   /* border:1px solid #006f9e;*/
}

.empty-side-menu
{
min-height:45px;
border:2px dashed #efefef;
}
.navbar-custom .navbar-nav li.active > a.nav-link  {
   /*background-color: orange;
   font-weight: bold;*/
   color: #ffc107 !important;
   border-bottom: 5px solid #ffc107;
}



.sidemenu-custom .navbar-nav li.active > a.nav-link  {
   /*background-color: orange;*/
   font-weight: bold;
   color: #4e4e8c !important;
   border-left: 5px solid #4e4e8c;
}



.side-menu-color{
   /* background-color: #ffffff;*/
    color: #a1a1b1;
}
div.toggle-side-menu
{
border-right: 5px solid transparent;
    
}
div.toggle-side-menu:hover
{
border-right: 5px double #cc4545;
cursor:pointer;
    
}
.active-edit-navbar{
  background-color: #F7D358;
 /*  background-color:#2980B9;*/
  color: #fff !important;
  
}
.dropdown-menu > li a
{
    color:#a1a1b1;
}
/* change background color on hover */
.dropdown-submenu > a:focus, .dropdown-submenu > a:hover, .dropdown-submenu:focus>a, r, .dropdown-submenu:hover>a,
.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus { background-color:#efefef; color:#cc4545;background-image: none; filter: none; text-decoration: none; border: none; }

.action-tab-item
{
    width:100%;
    text-align: left;
    /*border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem
    */
}


.action-tab-item>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
  padding:0.25rem;
 /* border: 1px solid transparent;*/
  border-right:1px solid #a1a1b1;
  text-decoration:none;
  width:100%;
 /* padding-left: 1.5rem !important;*/
  
}

.action-tab-item>a.active {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
  padding:0.25rem;
  border: 1px solid #a1a1b1;
  border-right: 1px solid transparent;
  box-shadow: 0 0.2rem 0 rgba(14, 26, 57, 0.075) !important;

  
}

.action-tab-item>a:hover
{
    background-color: #ddd;
   /* border-right: 1px solid transparent;*/
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    text-decoration:none;
}

.action-tab-item>a:disabled:hover
{
   /* background-color: #ddd;
    border-right: 1px solid transparent;*/
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    text-decoration:none;
    
}

.right-pane-top-border {
  border-top:1px solid #a1a1b1;
}




