.spinner-std {
 /* margin: 100px auto;
 
  top: 5px;*/
  position:relative;
  /*width: 50px;*/
  height: 40px;
 /* text-align: center;
 border:1px solid red;*/
  font-size: 10px;
  /*display: inline-block;
  background-color: #fff;*/
 
}

.spinner-std > div {
 /* background-color: #333;*/
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-std .rect1 {
  background-color: #eef1fa;
}
.spinner-std .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  background-color: #eef1fa;
}

.spinner-std .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #eef1fa;
}

.spinner-std .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #eef1fa;
}

.spinner-std .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background-color: #eef1fa;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.alert-messages-inside
{
  margin-bottom:5px;
  margin-right: 1px !important; 
  
}
.alert-msg-padd
{
 padding:5px;
  
}

.processing-style
{
color: #eef1fa;
background-color: gray;
box-shadow: 1px 2px 3px gray;

}

.app-msg-container{
    z-index: 2000;
    max-height:200px;
    position:fixed;
    display: flex;
    bottom: 0;
    min-width: 35rem;
    max-width: 50rem;
    right: 2rem;
    margin-bottom: 1rem;

}


.app-msg {
   overflow-y: auto;
}

.app-msg-animate.ng-enter{
   transition: ease-out all 0.3s;
   transform: translateY(130%);
   
}

.app-msg-animate.ng-enter.ng-enter-active {
    transform: translateY(0);
}

.app-msg-animate.ng-leave{
    transition: ease-in all 0.3s;
    transform: translateX(0);
}

.app-msg-animate.ng-leave.ng-leave-active{
    transform: translateY(130%);
}

/*
.app-msg.ng-enter
{
  animation-duration: 1s;
  animation-name: flyin;
  animation-iteration-count:  1;
 
}

.app-msg.ng-leave {
  animation-duration: 1s;
  animation-name: flyout;
  animation-iteration-count:  1;
}

@keyframes flyin{
  
  from {
    top: -200px;   
  }
  to{
    top:50px;
  }
  
}
@keyframes flyout{
  
  from {
    top: 50px;   
  }
  to{
    top:-50px;
  }
  
}*/


.loader {
    vertical-align: middle;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    display:inline-block;
}

.loader-lg {
    
    border: 18px solid #f3f3f3; /* Light grey */
    border-top: 18px solid #3498db; /* Blue */
    width: 100px;
    height: 100px;   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.processing-overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 !important;
}

.properties-container {
  position: absolute;
 /* z-index: 1;
  height: 100%;*/
width: 100%;
  background-color: white;
 /* margin: 0 !important;*/
 margin-top: -0.75rem !important;
}

/***************************************/
/*This is timeline processing animation*/
/***************************************/

.timeline-item {
    background: #fff;
   /* border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;*/
    padding: 12px;

    margin: 0 auto;
    /*max-width: 472px;*/
    min-height: 200px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    /*background-size: 800px 104px;
    height: 96px;*/
    position: relative;
}

.background-masker {
     background: #fff;
  /* position: absolute;*/
}

/* Every thing below this is just positioning */

.background-masker.masker-item {
    height:20px;
    
}
.background-masker.masker-margin {
    height:10px;
    
}
.background-masker.button-bottom {
    height:40px;
}