.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
 /*padding-left: 10px; migor dodao novo 
    padding-right: 15px; migor dodao novo */
}
.box {
    height: 100%;
    border: 1px solid #ccc;
 /*   background-color: #fff;*/
}

.box-no-border {
    height: 100%;
   
  /*   border: 1px solid #ccc;
   background-color: #fff;*/
}
.box-autoheight {/*migor dodao novo */
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content, {
    background-color: #F2F2F2;
   /* background-color: #FFFFF1;
    padding: 10px;*/
}
.box-header-btns {
    top: 20%;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
.gridster {
    border: 1px solid #ccc;
}

.fa-svg-icon {
display: inline-block;
vertical-align: middle;
min-width: 1em;
min-height: 1em;
height: 100%;
position: relative;
top: -1px;
}

.fa-svg-icon svg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.fa-svg-icon svg g,
.fa-svg-icon svg path {
fill: currentColor;
}

.custom-el-layout-style
{
  resize:both;
  overflow: auto;
}

.dropdown-list-item a
{
    color:#2C60E5;
    display: block;
    text-decoration:none;
}

.dropdown-list-item a:hover, .dropdown-list-item a:focus
{
    color:#ffffff;
    background-color: #2C60E5;
    text-decoration:none;
}
.kt-checkbox-label
{
color: rgba(14, 26, 57, 0.6) !important;
font-size: 0.75rem;
}
.kt-checkbox-properties
{
    color: rgba(14, 26, 57, 0.9);
    background-color: #fff;
    outline: 0;
    margin-left: 3px;
    transform: scale(1.15)
   /* border: 1px solid rgba(14, 26, 57, 0.1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    height: 1rem;*/
}

.text-placeholder {
    color: #b7bac4 !important;
}