{% load staticfiles %}
<!doctype html>
<html>
   
    <head>
        
        <title>Katalyo | Email system</title>
        
        <style>
            
           
        </style>
    </head>
  
  <body >
   {% autoescape off %} 
     {{email_body}}
  {% endautoescape %}
  </body>
</html>
