{% load static %}
<!doctype html>
<html>
   
    <head>
        
        <title ng-bind="headTitle">Katalyo | Signup | Email confirmation</title>
        <!--<link rel="shortcut icon" type="image/x-icon" href="{% static  'favicon.ico' %}" />-->
        <style>
            
           .main {padding:50px;border:1px solid #f8f8f8;background-color: #fdfdfd}
           .img-center {display:block;margin-left:auto;margin-right:auto;}
           .text-style{font: xx-large Open Sans, sans-serif;color: gray}
           .text-style-l{font: large Open Sans, sans-serif;color: gray}
           .text-style-m{font: medium Open Sans, sans-serif;color: gray}
           .mail-style{font: large Open Sans, sans-serif;color:#006f9e;text-decoration:none}
           .margin-top-20{margin-top:20px}
           .fcolor{color:white}
           .small-text{color:gray;font-size: x-small}
           .small-link{color:#006f9e;font-size: x-small}
           .btn-confirm-cls{color: #fff;background-color: #2C60E5; border-color: #2C60E5;display: inline-block;text-decoration: none;border: none;font: medium Open Sans, sans-serif;padding: 15px;padding-left: 25px;padding-right: 25px; }
           .btn {display: inline-block;
                    font-weight: 500;
                    text-align: center;
                    vertical-align: middle;
                    user-select: none;
                    border: 1px solid transparent;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: 0.25rem;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                }
           .btn-confirm-cls:hover{cursor: pointer}
        </style>
    </head>
  
  <body >
    
     <div class="main">
         <img width="30%" src="https://dev.katalyo.com/static/img/idea-development.png"></img>
         <div class="margin-top-20"><span class="text-style">Welcome to Katalyo!</span></div>
         <div class="margin-top-20"><span class="text-style-l">Katalyo will empower you to build enterprise grade applications faster and more efficient than ever without writing a single line of code!</span></div>
         <div class="margin-top-20 text-style-l">
            <span>You have signed up for Katalyo with the e-mail address
                <b><a rel="nofollow" class="mail-style">{{ email }}</a>.</b>
            </span>
         </div>
         <div class="margin-top-20 text-style-l">
            <span>Please confirm your e-mail to complete the signup process!
                
            </span>
         </div> 
      
         <div class="margin-top-20">
            
            <a title="Confirm e-mail" href="{{ link }}" target="_blank" class="btn btn-confirm-cls"><span class="fcolor"> Confirm e-mail </span> </a>
        </div>
        <div class="margin-top-20">
             <span class="small-text">You have received this e-mail because you have signed up for Katalyo. If you wish to delete your e-mail from katalyo please click on </span><a class="small-link" href="{{link}}">delete my e-mail from Katalyo records</a>  
        </div>
     </div>
  
  </body>
</html>
