<template>
      <form  @submit="saveResourceDef()" id="editResourceForm" name="form" class="form-horizontal" role="form" novalidate>
        <div class="card-header col p-2">
                    <div class="card-header-actions d-flex mb-4">
								
								<span class="tag mt-1">{{resource.ResourceType.name}} properties</span>
                                <span v-if="editResource" class="badge badge-info ml-2 my-auto text-white">Editing</span>
                                <span v-if="false" class="tag mt-1 ml-2">{{somethingComputed}}</span>
                    </div>

      
				<div class="col p-0">
                             
                               <span class="h5 mt-1 mr-2">  
                                   <b>{{resource.resourcedeflang_set[0].Name}}</b> 
                               </span>
										 <span  v-if="(resource.id != null || resource.id > 0) && editResource" class="h5 mt-1 ml-2">({{resource.id}})</span>

                               <button type="button" v-if="!editResource" title="Edit details" role="button" class="btn btn-xs btn-link " @click="EditResourceFn(true)">
                                      Edit                                                                                                
                               </button>

				</div>
						
        </div>


        <div v-if="editResource" class="row">


				
                <div class="col-lg-12">                          

                 
					<div class="form-group" :class="{ 'has-error' : false }">
                        <label class="col-24" for="resourceName">Name</label>
						<div class="col-24">
							<input type="text" v-model="resource.resourcedeflang_set[0].Name" class="form-control" id="Name" name="resourceName" placeholder="Resource name" />
							<p v-show="false" class="help-block">Enter resource name</p>
                        </div>
					</div>
                    
                    <div class="form-group" :class="{ 'has-error' : false }">
                        <label class="col-24" for="resourceSubject">Subject</label>
						<div class="col-24">
							<input type="text" v-model="resource.resourcedeflang_set[0].Subject" class="form-control" id="Subject" name="resourceSubject" placeholder="Resource subject" />
							<p v-show="false" class="help-block">Enter resource subject</p>
                        </div>
					</div>            
                              
                    <div class="form-group" :class="{ 'has-error' : false }">
                        <label class="col-24" for="Description">Description</label>
                        <div class="col-24">
							<textarea v-model="resource.resourcedeflang_set[0].Description" name="Description" class="form-control"></textarea>
                        	<p v-show="false" class="help-block">Enter resource description(min 20 chars).</p>
			
						</div>
					</div>

									
                </div>
				<div class="col-lg-12">
                
                     <!-- #hashtags -->
                     <!-- Resource status -->
                     <!-- IsBlockchain -->
                     
					<div class="col-lg-24">
							<div class="custom-control custom-checkbox">
							
							<input type="checkbox" class="custom-control-input" id="cbIsBlockchain" v-model="resource.IsBlockchain"> 
							<label class="custom-control-label label-xs" for="cbIsBlockchain">Immutable (secured on the blockchain)</label>
							 
							</div>
					</div>		
				
     
                </div>
				<div class="col-lg-24 p-4">
				
						 <!-- admin users & groups -->
				
				</div>
					
				<div v-if="editResource" class="col-24 mx-3">
							<div>
								<span v-if="resource.CreatedBy" class="small">Created by {{resource.CreatedBy.first_name}} {{resource.CreatedBy.last_name}}, {{resource.CreatedDateTime}}</span>
							</div>
							<div>
								<span v-if="resource.ChangedBy" class="small">Last change by {{resource.ChangedBy.first_name}} {{resource.ChangedBy.last_name}}, {{resource.ChangedDateTime}}</span>
							</div>
				</div>
                
                
                <div  class="col-lg-24 m-3">
                     
                            <button type="submit" id="saveResourceBtn" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save"></span>&nbsp Save properties</button>

                            <button type="button" role="button" @click="EditResourceFn(false)"  class="btn btn-xs btn-link text-muted ml-auto">Cancel</button>

                </div>
                   
						
        
		  </div>
      </form>
</template>

<script src="./kt-resource-definition.js" />
<!--<style src="./kt-resource-definition.css"></style>-->