// Animation
.animate-fastest {
  @include animate-fastest;
}
.animate-fast {
  @include animate-fast;
}
.animate-slow {
  @include animate-slow;
}


.bgOnHover:hover {
    background-color: blanchedalmond;
}

.bgOnHover:focus-within {
    background-color: blanchedalmond;
}

.show-more {
  -webkit-transition: max-height 0.2s;
  -moz-transition: max-height 0.2s;
  transition: max-height 0.2s;
  max-height: 0px;
}
.show-more.show {
  max-height: 300px;
}


 div > .showOnHover {
        visibility:hidden
    }
    
    div:hover > .showOnHover {
        visibility:visible
    }
    
 

.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cdcdcd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.noBorder {
}


