// Edit resource

// Properties sidebar
.expand-property-panel {
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    width: 20px;
    margin-left: auto;
    fill: $icon-muted;
  }
}

// Hide section & column headers while not in build mode
:not(.build-mode) .show-when-build {
  display: none;
}

.build-mode {
  .card-body {
    padding: 0;
  }
  .section-header {
   /* display: flex;*/
    align-items: center;
    @include animate-fastest;
    /*padding-left: $spacer*1.5;
    padding-right: $spacer*1.5;
    margin-left: 1px;
    margin-right: 1px;*/
   /* height: $spacer*2;*/
    background-color: $border-color;
   /* border-bottom: 1px solid $border-color;*/
  .handler {
      @include drag-drop;
      margin-left: -27px;
      margin-top: -5px;
    }
    .tag {
      color: $success;
    }
  }
 .form-section
  {
      box-shadow: 0 0 0 1px $border-color;
  
  &.active {
      box-shadow: 0 0.05rem 0.1rem 1px $primary;
    }
	
  }
  .column-header {
    /*display: flex;*/
    align-items: center;
    @include animate-fastest;
    padding-left: $spacer*1.5;
    padding-right: $spacer*1.5;
    height: $spacer*1.5;
    background-color: $gray-50;
    .tag {
      color: $success;
    }
  }
  .column-header-input {
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    height: $spacer*1.5;
    outline: none;
  }
  
  .build-form-actions {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: -$spacer;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: $spacer*2;
      cursor: pointer;
      .material-icons {
        @include animate-fastest;
        font-size: 20px;
      }
      &:hover {
        .material-icons {
          color: $light;
        }
      }
    }
  }
  .column-outline {
    @include animate-fastest;
    box-shadow: 1px 0 0 0 $border-color;
	&.hover
	{
      box-shadow: 0 0 16px 0 $gray-50;
	}
    /*&:last-child {
      box-shadow: none;
    }*/
    
    &.active {
      box-shadow: 0 0.05rem 0.1rem 1px $success;
    }
  }



	.hover > div.column-header {
    background-color: $gray-200;
	}
	.active > div.column-header {
    background-color: $gray-100;
    .tag {
      color: $orange;
    }
    span:hover {
      .material-icons {
        color: $orange;
      }
    }
  }
}
