// Buttons

.btn-secondary {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}
.btn-outline-primary {
  border-color: $secondary;
}
.btn-group {
  .btn-primary {
    color: $primary;
    background-color: $blue-100;
    border-color: lighten($primary, 25%);
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    &:not(:disabled):not(.disabled).active {
      background-color: $primary;
      color: $white;
    }
    &.focus {
      box-shadow: 0 0 0 2px lighten($primary, 30%);
    }
  }
}
.btn-w-icon {
  svg {
    width: 20px;
    fill: currentColor;
  }
}

// animated toogle switch

.switch {
    background-color: #ddd;
    border-radius: 18px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    position: relative;
    vertical-align: top;
    width: 45px;
}
.switch-input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}


.switch-handle {
  /*  background-color: #9f9c9c;*/
    border-radius: 10px;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 10%;
    transition: left 0.15s ease-out 0s;
    width: 18px;
}
.switch-handle::before {
    background-color: #f9f9f9;
    border-radius: 6px;
    content: "";
    height: 14px;
    left: 50%;
    margin: -6px 0 0 -6px;
    position: absolute;
    top: 45%;
    width: 13px;
    border: solid 2px darkgray;
}

    

.switch-label {
    background: #eceeef none repeat scroll 0 0;
    border-radius: inherit;
    display: block;
    font-size: 10px;
    height: inherit;
    position: relative;
    text-transform: uppercase;
    transition: all 0.15s ease-out 0s;
}
.switch-label::before, .switch-label::after {
    line-height: 1;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
    transition: inherit;
}

/* LABEL FEATURE
.switch-label::before {
    color: #aaa;
    content: attr(data-off);
    right: 11px;
}
.switch-label::after {
    color: white;
    content: attr(data-on);
    left: 11px;
    opacity: 0;   
}
*/

.switch-input:checked ~ .switch-label {
    background: #47a8d8 none repeat scroll 0 0;
}

/*  LABEL FEATURE
.switch-input:checked ~ .switch-label::before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label::after {
    opacity: 1;
}
*/



.switch-input:checked ~ .switch-handle {
    left: 25px;
}
.switch-green > .switch-input:checked ~ .switch-label {
    background-color: #4fb845;
}

