// Cards
.card-header {
  background: transparent;
  border: none;
  .card-header-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-bar {
      display: flex;
      align-items: center;
    }
  }
  .card-header-title {
    margin-top: $spacer/2;
    margin-bottom: 0;
  }
}
.card-footer {
  border: none;
  background: none;
  /*background: $gray-20;
  border-color: $gray-50;*/
}
