// Component library list
.list-component-library {
  .item {
    @include animate-fastest;
    @include drag-drop;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    /*padding: 9px 10px 8px;*/
    padding: 7px 5px 7px;
    font-size: $font-size-sm;
    line-height: 1;
    background-color: $gray-50;
    border-radius: $border-radius-lg;
    &:hover {
      background-color: $gray-100;
    }
    &:focus, &:active {
      background-color: $gray-100-flat;
    }
    .handler {
      margin-left: auto;
      margin-right: -$spacer/2;
    }
  }
}
