// Resources menu
.list-resources-menu {
  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
 /*   padding: $spacer $spacer $spacer $spacer*1.25;*/
    font-weight: 500;
    svg.feather {
      margin-right: $spacer*.75;
      stroke: $icon-muted;
    }
    .btn {
      margin-left: auto;
      opacity: 0;
    }
    &:hover {
      color: $black;
      svg.feather {
        stroke: $primary;
      }
      .btn {
        opacity: 1;
      }
    }
  }
}
