// Permissions
.permission-list {
  list-style: none;
  padding: 0;
  min-height: 220px;
  .item {
    /*display: flex;
    align-items: center;*/
    padding: $spacer 0;
    border-bottom: 1px solid $border-color;
    .added {
      display: flex;
      align-items: center;
      border: none;
      .delete {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .material-icons {
          font-size: 12px;
          color: $text-muted;
        }
        &:hover .material-icons {
          color: $danger;
        }
      }
      &:hover {
        background-color: transparent;
        color: $success;
      }
    }
  }
}
