// Tabs
.nav-tabs.simple-tabs {
  .nav-item {
    margin-right: $spacer * 1.5;
  }
  .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: $text-muted;
    border-color: transparent;
    &:hover {
      color: $primary;
    }
    &.active {
      color: $primary;
      background-color: transparent;
      border-bottom: 2px solid $primary;
    }
  }
}

    
/* MIGOR DODAO */
.nav-link-close {
     visibility:hidden;
}

.nav-tabs.simple-tabs .nav-item:hover .nav-link-close {
    visibility: visible;
}
.nav-tabs.simple-tabs .nav-item:active .nav-link-close {
    visibility: visible;
}


 
/* property tabs migor*/

.prop-tabs {
  /* border-bottom: 1px solid rgba(14, 26, 57, 0.1);*/
  }
  .prop-tabs .nav-item {
    margin-bottom: -1px; 
    }
  .prop-tabs .nav-link {
    cursor: pointer; 
    padding: 5px !important;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
    }
    .prop-tabs .nav-link:hover, .prop-tabs .nav-link:focus {
      border-color: rgba(14, 26, 57, 0.2) rgba(14, 26, 57, 0.2) rgba(14, 26, 57, 0.1); 
      }
    .prop-tabs .nav-link.disabled {
      color: rgba(14, 26, 57, 0.6);
      background-color: transparent;
      border-color: transparent; 
      }
  .prop-tabs .nav-link.active,
  .prop-tabs .nav-item.show .nav-link {
    color: rgba(14, 26, 57, 0.7);
    background-color: antiquewhite;
    border-color: rgba(14, 26, 57, 0.3) rgba(14, 26, 57, 0.3) rgba(14, 26, 57, 0.02); 
    }
  .prop-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
 }
    

.prop-tab-content {
   background-color: antiquewhite;  
  border: solid thin #c7a0a0;  
  border-bottom: solid thin #c7a0a0;  
  border-right: solid thin #c7a0a0;
}  
    
    