// Task lifecycle
.task-lifecycle {
  .col {
    box-shadow: 1px 0 0 0 $border-color;
    &:last-child {
      box-shadow: none;
    }
  }
  .task-lifecyle-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 64px;
    background-color: $gray-20;
    padding: 0 $spacer*1.5 $spacer/2 $spacer*1.5;
    border-bottom: 1px solid $border-color;
    margin-bottom: $spacer/2;
  }
  .form-group {
    padding: $spacer/2 $spacer*1.5;
    margin: 0;
    cursor: grab;
    border-bottom: 1px dashed $border-color;
    &:hover {
      background-color: $gray-50;
    }
    &:last-child {
      border: none;
    }
  }
}
