:root {
  //--kt-grid-border-color: #d4d4d4;
  --kt-grid-border-color: #d4d4d400;
  //--kt-grid-border-color-input: #c4c4d0;
  --kt-grid-border-color-input: #c4c4d045;
  --kt-grid-font-color: #535353;
  --kt-grid-font-color-row-selected: #ffffff;
  --kt-grid-font-color-row-hover: #ffffff;
   --kt-grid-font-color-row-hover: black;
   
  --kt-grid-font-color-white: #ffffff;
//  --kt-grid-bg-color: #edecf3;
  --kt-grid-bg-color:   #edecf300;

  //--kt-grid-row-bg-odd:#f6f6fd;
  //--kt-grid-row-bg-even:#e7e7ef;
  --kt-grid-row-selected-bg:#a8a8ff;
  --kt-grid-row-hover-bg:#cfdfff;
  
  
  --kt-grid-filter-outline-color:#4545ff;
  --kt-grid-filter-outline-color-hover: #8383ff;
  //--kt-grid-row-count-picker-bg-color: #ffffff;
 
  
  //--kt-grid-menu-bg: #e0e0ff;
  //--kt-grid-menu-hover-bg: #c9c9ee;
  //--kt-grid-menu-btn-bg: #c4c4d0;
  //--kt-grid-pager-bg: #fbfbfb;
  //--kt-grid-pager-btn-bg:#f1f1f1;
  //--kt-grid-pager-control-border : #66afe9;
  //--kt-grid-footer-bg:#edecf3;
  --kt-grid-pager-input-font-color:#535353;
}


/************************ ui-grid **********************************/
.ui-grid {
    border: 1px solid var(--kt-grid-border-color);
    border: none;
}

/************************ ui-grid canvas (this is data) **********************************/
.ui-grid-canvas {
     padding-top: 0;
     color: var(--kt-grid-font-color);
}

/************************ ui-grid header **********************************/
.ui-grid-top-panel {
  background-color: var(--kt-grid-bg-color);//#2C60E5;
  color: var(--kt-grid-font-color) !important;
}

.ui-grid-header {
    /*border-bottom: 1px solid #424242;*/
    box-sizing: border-box;
     padding-bottom: 2px;
  
}

.ui-grid-header-cell {
    border-color: var(--kt-grid-border-color);
    //border: none;  
}


.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border-right-color: var(--kt-grid-border-color);
    //border: none !important;
    display: flex;
    align-items: end;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
 
    border-right-color: var(--kt-grid-border-color);
    border: none !important;
}

/************************ ui-grid header filter **********************************/
input[type="text"].ui-grid-filter-input {
   
    border: 1px solid var(--kt-grid-border-color-input);
    outline-color: var(--kt-grid-filter-outline-color); 
    border-radius: 5px;      
}

input[type="text"].ui-grid-filter-input:hover {
  border: 1px solid var(--kt-grid-filter-outline-color-hover);
}

/************************ ui-grid selected row **********************************/

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background-color: var(--kt-grid-row-selected-bg);
  color: var(--kt-grid-font-color-row-selected) !important;
}


.ui-grid-filter-container {
    padding: 4px 5px;
}


/************************ ui-grid hover **********************************/

.ui-grid-row:hover > [ui-grid-row] > .ui-grid-cell:hover .ui-grid-cell,
.ui-grid-row:nth-child(odd):hover .ui-grid-cell,
.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: var(--kt-grid-row-hover-bg);
  color: var(--kt-grid-font-color-row-hover);
}

/************************ ui-grid cell style **********************************/

.ui-grid-cell {

    border-bottom: 1px solid var(--kt-grid-border-color);
    border-right: none;
}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    /*background-color: #fbfbfb;*/
    border-bottom: 1px solid var(--kt-grid-border-color);
}
/************************ ui-grid row background for even and odd **********************************/

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: var(--kt-grid-row-bg-odd);
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: var(--kt-grid-row-bg-even);
}

/************************ ui-grid last row style **********************************/

.ui-grid-row:last-child .ui-grid-cell {
    border-bottom-color: var(--kt-grid-border-color);
    border: none;
}

/************************ ui-grid footer **********************************/
.ui-grid-footer-panel {
   
   background-color: var(--kt-grid-footer-bg);
   
   border-bottom: none;
   border-top: 1px solid var(--kt-grid-border-color);
   //border: none;
   
}
.ui-grid-footer-cell {
  
    border-color: var(--kt-grid-border-color);
    border: none;
}
.ui-grid-footer-info
{
 color: var(--kt-grid-font-color);
}

/************************ ui-grid button **********************************/
.ui-grid-menu-button {

  background-color: var(--kt-grid-menu-btn-bg);
  color: var(--kt-grid-font-color) !important;
  border-left: none;
  border-bottom: 1px solid var(--kt-grid-border-color);
    
}

.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 1px solid var(--kt-grid-border-color);
}
.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item.ui-grid-menu-item-active {
      background-color: var(--kt-grid-menu-bg);
}

/************************ ui-grid dropdown poperties (sort, fields) **********************************/

.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item:hover,
.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item:focus {
  background-color: var(--kt-grid-menu-hover-bg);
}
.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item.ui-grid-menu-item-active {
  background-color: var(--kt-grid-menu-bg);
}

.ui-grid-scrollbar-placeholder {
    background-color: var(--kt-grid-menu-btn-bg);
}

/************************ ui-grid pager **********************************/

.ui-grid-pager-panel {
 
}
.ui-grid-pager-container {
color:var(--kt-grid-font-color);

}
.ui-grid-pager-control {

}
.ui-grid-pager-control button,
.ui-grid-pager-control span,
.ui-grid-pager-control input {
  
}
.ui-grid-pager-control button {
  background: var(--kt-grid-pager-bg);
  border: 1px solid var(--kt-grid-border-color-input);
  color: var(--kt-grid-font-color);
}
.ui-grid-pager-control button:hover {
  background-color: var(--kt-grid-pager-btn-bg);
  color: var(--kt-grid-border-color-white);
  text-decoration: none;
}
.ui-grid-pager-control button:focus {
  border-color: var(--kt-grid-border-color-input);

}
.ui-grid-pager-control button:active {
  border-color: var(--kt-grid-border-color-input);
}
.ui-grid-pager-control button:active:focus {
  color: var(--kt-grid-font-color-white);
  background: var(--kt-grid-pager-btn-bg);
}
.ui-grid-pager-control button:active:hover,
.ui-grid-pager-control button:active:focus {
  color: var(--kt-grid-font-color-white);
  background: var(--kt-grid-pager-btn-bg);
}
.ui-grid-pager-control button:hover,
.ui-grid-pager-control button:focus,
.ui-grid-pager-control button:active {
  color: var(--kt-grid-font-color-white);
  background: var(--kt-grid-pager-btn-bg);
}
.ui-grid-pager-control button[disabled] {
}
.ui-grid-pager-control button[disabled]:hover,
.ui-grid-pager-control button[disabled]:focus {
  background-color:  var(--kt-grid-pager-bg);
  border-color: var(--kt-grid-pager-btn-bg);
}
.ui-grid-pager-control input {
  color: var(--kt-grid-font-color);
  background: var(--kt-grid-font-color-white);
  border: 1px solid var(--kt-grid-border-color-input);
}
.ui-grid-pager-control input:focus {
  border-color: var(--kt-grid-pager-control-border);
}
.ui-grid-pager-control input[disabled],
.ui-grid-pager-control input[readonly],
.ui-grid-pager-control input::-moz-placeholder {
}
.ui-grid-pager-control input::-moz-placeholder,
.ui-grid-pager-control input:-ms-input-placeholder,
.ui-grid-pager-control input::-webkit-input-placeholder {
  color: var(--kt-grid-pager-input-font-color);
}
.ui-grid-pager-control input::-ms-expand {
}
.ui-grid-pager-control input[disabled],
.ui-grid-pager-control input[readonly] {
  background-color: var(--kt-grid-pager-bg);
}
.ui-grid-pager-control input[disabled] {
}
.ui-grid-pager-control .ui-grid-pager-max-pages-number {
}
.ui-grid-pager-control .ui-grid-pager-max-pages-number > * {
}
.ui-grid-pager-control .ui-grid-pager-max-pages-number abbr {
}
.ui-grid-pager-control .first-bar {
  border-left: 2px solid var(--kt-grid-border-color-input);
}
.ui-grid-pager-control .first-bar-rtl {
  border-left: 2px solid var(--kt-grid-border-color-input);
}
.ui-grid-pager-control .first-triangle {
  border-color: transparent var(--kt-grid-border-color-input) transparent transparent;
}
.ui-grid-pager-control .next-triangle {
}
.ui-grid-pager-control .prev-triangle {
}
.ui-grid-pager-control .last-triangle {
  border-color: transparent transparent transparent var(--kt-grid-border-color-input);
}
.ui-grid-pager-control .last-bar {
  border-left: 2px solid var(--kt-grid-border-color-input);
}
.ui-grid-pager-control .last-bar-rtl {
  border-left: 2px solid var(--kt-grid-border-color-input);
}
.ui-grid-pager-row-count-picker {
}
.ui-grid-pager-row-count-picker select {
  color: var(--kt-grid-font-color);
  background: var(--kt-grid-row-count-picker-bg-color);
  border: 1px solid var(--kt-grid-border-color-input);
}
.ui-grid-pager-row-count-picker select:focus {
  border-color: var(--kt-grid-pager-control-border);
}
.ui-grid-pager-row-count-picker select[disabled],
.ui-grid-pager-row-count-picker select[readonly],
.ui-grid-pager-row-count-picker select::-moz-placeholder {
}
.ui-grid-pager-row-count-picker select::-moz-placeholder,
.ui-grid-pager-row-count-picker select:-ms-input-placeholder,
.ui-grid-pager-row-count-picker select::-webkit-input-placeholder {
  color: var(--kt-grid-pager-input-font-color);
}
.ui-grid-pager-row-count-picker select::-ms-expand {
}
.ui-grid-pager-row-count-picker select[disabled],
.ui-grid-pager-row-count-picker select[readonly] {
  background-color: var(--kt-grid-pager-bg);
}
.ui-grid-pager-row-count-picker select[disabled] {
}
.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label {
}
.ui-grid-pager-count-container {
  color:var(--kt-grid-font-color);
}
.ui-grid-pager-count-container .ui-grid-pager-count {
}
.ui-grid-pager-count-container .ui-grid-pager-count abbr {
}

.ui-grid-viewport
{
 // background-color:var(--kt-grid-bg-color);
}





/************************ scroll bar **********************************/

/*
.ui-grid-viewport::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #f3f3f3;
}

.ui-grid-viewport::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 2px;
}

.ui-grid-viewport::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
    
.ui-grid-menu-button::-webkit-scrollbar, .ui-grid-menu::-webkit-scrollbar, .ui-grid-menu-mid::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}



.ui-grid-render-container-middle .scroll-y,
.ui-grid-render-container-left .scroll-y {
  display: none !important;
}
.ui-grid-render-container-middle:hover + .ui-grid-pinned-container-right .scroll-bar {
  opacity: 0.7 !important;
}

*/



//MIGOR DODAO 


.ui-grid-header-cell:first-child {
 display:flex;
 align-items:end;
}

.ui-grid-header-cell-primary-focus {
 padding-bottom: 0px;
   // padding-left: 10px;
}

.ui-grid-header-cell-row:first-child div:first-child div:first-child  {
//background-color:red;
}