<div ng-class="{'shadow mx-2 my-1 app-msg-animate':messageList.length>0}" ng-if="countVisible()>0 && !closeAllClickedVar" class="card " >
    
    
    <div ng-if="messageList.length > 1"  class="card-header p-1">
                                                <!-- FOR MULTIPLE MESSAGES -->
      <div class="row m-0"> 
          <div class="col px-0 ">
              <i class="fa fa-comments mb-2 mr-1"> </i> 
              <i class="badge badge-primary mb-2">{{countVisible()}}</i>
         </div>
         
           <div class="col my-auto">
              <button  class="btn btn-outline-danger btn-sm border-0 float-right px-0 py-0" ng-click="closeAllClicked()" aria-label="close">
                <i class="fa fa-times mx-1"></i><span class=""></span>
              </button>
           </div>
            
       </div>
            
        <div class="row m-0"> 
        
            <div class="col px-0" style="max-height: 200px;overflow: auto;    max-height: 150px">
               <div class=" card-body alert-messages-inside m-0 p-0" ng-repeat="msg in messageList">
                
                 <div ng-if="msg.show" class="alert-msg-padd" ng-class="{'success':'alert-success','info':'alert-info','warning':'alert-warning','error':'alert-danger'}[msg.type]">
                   <span style="max-height:200px" ng-bind-html="convertToHtml($index+1+'. '+msg.dt+' <b></b> '+msg.message.message)"></span>
 
                   <span ng-if="msg.type=='error' && msg.src=='frontend' && msg.message.stack" ng-bind-html="convertToHtml('<b>Details:</b> '+msg.message.stack)"></span>
                   <span ng-if="msg.type=='error' && msg.src!='frontend' && msg.message.lineno" ng-bind-html="convertToHtml(' <b>Line number:</b> '+msg.message.lineno +' <b>Type:</b> '+msg.message.type+' <b>File:</b> '+msg.message.filename)"></span>
               
                </div>

                
            </div>  
            
         </div> 
     </div>
       
     
    </div> 
    
    
    <!-- when only 1 msg-->
    <!--<div ng-if="messageList.length==1"  class="card-header p-1">-->
     <div ng-if="messageList.length==1"  class="card-header p-1">
       
        <div style="position:absolute; right:-10px; top:-10px; z-index:1000" class="">
              <button  class="btn btn-outline-danger btn-sm border-0 p-0" ng-click="closeAllClicked()" aria-label="close">
                <i class="fa fa-times mx-1"></i><span class=""></span>
              </button>
            </div>
            
       <div class="row m-0">
       
          <div class="col-1 my-auto">
              <i class="fa fa-comments mr-1 "> </i> 
          </div>
                
        <div class="col-1 my-auto">
               <i class="badge badge-primary ">{{countVisible()}}</i>
          </div>
          
        <div class="col-21 pr-0 pl-1">
         <div style="">  
               <div class=" card-body alert-messages-inside m-0 p-0" ng-repeat="msg in messageList">
                
                 <div style="min-width: 300px;overflow-y: auto;    max-height: 80px;" ng-if="msg.show" class="alert-msg-padd" ng-class="{'success':'alert-success','info':'alert-info','warning':'alert-warning','error':'alert-danger'}[msg.type]">
                 <!--  <button class="close marginL5" ng-click="closeAlert($index)" aria-label="close">&times;</button>-->
                   <span ng-bind-html="convertToHtml($index+1+'. <b></b> '+msg.message.message)"></span>
                   <span ng-if="msg.type=='error' && msg.src=='frontend'" ng-bind-html="convertToHtml('<b>Details:</b> '+msg.message.stack)"></span>
                  <!-- <span ng-if="msg.type=='error' && msg.src!='frontend'" ng-bind-html="convertToHtml(' <b>Line number:</b> '+msg.message.lineno +' <b>Type:</b> '+msg.message.type+' <b>File:</b> '+msg.message.filename)"></span>-->
                </div>
            
                
            </div>  
             </div>  
            
         </div>

      <!--  <div class="col-1 my-auto">
              <button  class="btn btn-outline-danger btn-sm border-0 p-0" ng-click="closeAllClicked()" aria-label="close">
                <i class="fa fa-times mx-1"></i><span class=""></span>
              </button>
            </div>-->
            

            
       </div> 
    </div>


</div>
