<div idd="ktActionsButtonsExe" class="widget-head" ;">

   <div class="row">
      <div class="col" ng-if="fd.FormDef.length>0">
   
         <div class="my-1" style="{{fd.Parameters.CustomCSS}} display: flex;flex-wrap: wrap;gap: 8px" ng-if="!fd.Parameters.ShowAsGroup">
				
				<div ng-repeat="button in fd.FormDef track by $index" ng-class="{'mr-2':fd.FormDef.length<$index+1}" class="d-inline-block text-{{::button.textAlign}}">
					
					 <div ng-switch="button.action.value">
                     
						<div ng-switch-when="initiatetask" ng-if="!button.hideButton" ng-show="!localVars.taskInitiated && resourceDefinition.form_type=='i'">
							<button type="submit" class="btn {{::button.size}} {{::button.btnClass}} ">
                   <i class="{{::button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> {{::button.btnLabel}}  </button> 
						</div>
						
						
						<div ng-switch-when="completetask" ng-if="!button.hideButton" ng-click="fd.localVars.ProcessButtonAction(button,$event,localVars.previousTask,$index)" ng-show="resourceDefinition.task_execute_id>0 && resourceDefinition.taskExecuteInstance.Status.Name!='completed'">
							<button type="button"  class="btn  {{::button.size}} {{::button.btnClass}}">
                                <i class="{{::button.icon}} " ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> {{::button.btnLabel}}  
                           </button> 
						</div>
						<div ng-switch-when="executetask" ng-if="!button.hideButton" ng-click="fd.localVars.ProcessButtonAction(button,$event,localVars.previousTask,$index)" ng-show="resourceDefinition.task_execute_id>0 && resourceDefinition.taskExecuteInstance.Status.Name!='completed'">
							<button type="button"  class="btn  {{::button.size}} {{::button.btnClass}}">
                                    <i class="{{::button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> {{::button.btnLabel}}  
                            </button> 
						</div>
						
						<div ng-switch-default>
							<button type="button" ng-if="!button.hideButton" ng-click="fd.localVars.ProcessButtonAction(button,$event,localVars.previousTask,$index)"  class="btn  {{::button.size}} {{::button.btnClass}}">
                               <i class="{{::button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> {{::button.btnLabel}}  
                            </button> 
						</div>
					
					</div>
               
				</div>
      	</div>

	      <div ng-if="fd.Parameters.ShowAsGroup">
		      <div class="btn-group text-{{::button.textAlign}}" role="group">
							 
						<button ng-repeat="button in fd.FormDef track by $index" type="button" ng-click="fd.localVars.ProcessButtonAction(button,$event,localVars.previousTask,$index)" class="btn {{::button.size}} {{::button.btnClass}}" ng-class="{'active':fd.localVars.clickedButton==$index}">
			            <i class="{{::button.icon}} " ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> {{::button.btnLabel}}  
			         </button> 
							
				</div>
	      </div>         

	      <div style="{{fd.Parameters.InlineTaskStyle}}">
   			<div  ng-repeat="sTask in fd.localVars.loadedTasks track by sTask.taskId">
 
   				<div kt-task-proc-directive fd="fd" local-vars="sTask.localVars" task-definition="resourceDefinition"></div>
        
   			</div>
   		</div>
	 	</div>
	</div>

</div>