<div>
  <div class="row m-0 p-2" ng-form="notificationForm">  
		
			<div class="col-auto my-auto">
				<label class="text-muted mr-2" for="notification{{act.id1}}">Select notification</label>
			</div>
			<div class="col">
				<kt-dropdown-standard ng-if="act.notificationsLoaded" ng-model="act.actionParams.notification" selected-items="act.actionParams.notification"
														on-select-fn="notificationSelected(item,model)" is-multiple="false" name="notification{{$index}}"
														ng-required="false" dropdown-items="notificationList" dropdown-id="'notification'+$index"
														parent-form-id="'notification'+$index" search-text="'Select notification'"></kt-dropdown-standard>
			</div>
      <div class="col-auto mt-1">
        <button type="button" title="{{fd.Search.name}}" class="btn btn-light btn-sm rounded-0" href ng-click="showFormula=!showFormula">
                    <i class="fa fa-calculator"></i>
        </button>
      </div>
  
  </div>  
  <div class="row m-0 p-2" ng-if="showFormula">
    
    <div class="col-12">
      <label  class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}Formula">Formula</label>
          
      <textarea   ng-model="act.actionParams.formula" ng-change="" placeholder="Enter formula" class="form-control rounded-0"/>
    </div>      
    <div class="col-12">
      <label  class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}Condition">Condition</label>
          
      <textarea ng-model="act.actionParams.condition" ng-change="" placeholder="Enter condition"  name="condition" class="form-control rounded-0"/>
    </div>
    
    
  </div>

</div>
