<div class="m-2" id="ActionButtonsProperties" style="">
    
    <style>
       .btn.active {
         box-shadow: 2px 3px 6px 2px #808080c7;
       }
    </style>
    
    <div class="row m-2">  <!--<b> Define actions</b>-->
	 
			<span class="mr-2 bold">Widget reference:</span><span class="mr-2" title="Widget reference" ng-bind="fd.UuidRef"></span> <button type="button" title="Copy widget reference" class="btn btn-link p-0" ng-click="fd.localVars.copyToClipboard(fd.UuidRef)"><i class="fa fa-copy ml-1"></i></button>
			<span ng-class="{'visibility-visible':fd.copyUuid,'visibility-hidden':!fd.copyUuid}" class="text-primary small ml-1">Copied!</span>
		
    </div>

    <div class="row m-2">
					<label  class="">	Group buttons</label>   
            <input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.Parameters.ShowAsGroup" />  		                    
	</div>
    
     
    
      <div class="row m-2">
					<label  class="">	
						Custom CSS:
					</label>       	         
	</div>
    
     <div class="row m-2">	
						<input type="text" class="form-control form-control-sm col-20  my-2 mr-2"  ng-model="fd.Parameters.CustomCSS" />  
				      	         
	</div>

	  <div class="row m-2">
					<label  class="">	
						Inline task style:
					</label>       	         
	</div>
    
     <div class="row m-2">	
						<input type="text" class="form-control form-control-sm col-20  my-2 mr-2"  ng-model="fd.Parameters.InlineTaskStyle" />  
				      	         
	</div>
     
     <div class="row mx-2 my-auto">


                   <div ng-repeat="button in fd.FormDef track by $index" ng-click="fd.localVars.showButtonDefinition($index)" class="pl-0 col-sm-auto mt-1" > 
                       <button type="button"  ng-class="fd.localVars.selectedButtonIndex == $index ? 'active': ''"  class="col-24 btn mr-2 {{fd.localVars.actionButtonClass[fd.localVars.selectedButtonSize]}}"   >
                           <i class="{{button.icon}} " ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}">    </i> 
                            <span ng-if="button.btnLabel" > {{button.btnLabel}} </span>
                             <span ng-if="!button.btnLabel" class=" mr-2">   </span> 
                       </button>  
                       
                       <div ng-if="$index == fd.localVars.selectedButtonIndex" class="p-2 col-12" style="border-right:1px solid black" >      
                       </div>
                         
                    </div> 
                       
              	
					<div class="col-sm-auto mt-1">
		               
		                  <button type="button"  ng-click="fd.localVars.addButtonToList()" class="btn btn-sm btn-link">
								<i class="fa fa-plus mr-2"></i>     
								<span class="small">  Add New Action</span>
					      </button>
				 
					</div>
    	
		  </div>  
        
    
   

    <div id="Details_view" ng-if="fd.localVars.selectedButtonIndex>=0 && fd.FormDef.length>0" class="p-2" style=" box-shadow: 2px 3px 6px 2px #808080c7;">

            <div class="small my-2">  
                <b> Button action category </b>
            </div>
  
            <div class="w-50 mb-2"> 
                   <kt-dropdown-standard  
                       ng-model="fd.localVars.selectedButton.action" 
                       on-select-fn = "fd.localVars.onSelectFn(item,model)"
                       dropdown-items="fd.localVars.actionTypes"
                       selected-items = "fd.localVars.selectedButton.action" 
                       is-multiple="false" 
                       name="actions" required="false"  dropdown-id="'action'" parent-form-id="'innerForm'" 
                       search-text="'Select action type...'">
                   </kt-dropdown-standard>
            </div>
    

          	<div ng-if="fd.localVars.selectedButton.action.value=='openpage'" class="mb-2">
				
				
				<div class="my-2">
					<div ng-form="formPageSelect" class="w-50">
						<label class="text-muted" for="pageId">Select page</label>
						<kt-dropdown-standard ng-model="fd.localVars.selectedButton.page" ng-if="fd.localVars.pagesLoaded" on-select-fn="fd.localVars.onSelectPageCallback(item,model)" selected-items="fd.localVars.selectedButton.page" is-multiple="false" name="pageId" ng-required="false" dropdown-items="fd.localVars.pageList" dropdown-id="'resourceList'+resource.Parameters.dataset.id" parent-form-id="'formResource'+resource.Parameters.dataset.id" search-text="'Select page'"></kt-dropdown-standard>
					</div>
					<div class="custom-control custom-checkbox mt-2">
									
							<input type="checkbox" class="custom-control-input" id="cbUseState{{fd.PresentationId}}" ng-model="fd.localVars.selectedButton.use_state"> 
							<label class="custom-control-label label-xs" for="cbUseState{{fd.PresentationId}}">Load page data from state</label>
									 
					</div>
				</div>
					
			</div>
    		
    		<div ng-if="fd.localVars.selectedButton.action.value=='runtask'" class="mb-2">
				
               <div ng-form="formPageSelect" class="my-2 p-0 w-50">
						<label class="small bold" for="taskId">Select task</label>
						<kt-dropdown-standard ng-model="fd.localVars.selectedButton.task" ng-if="fd.localVars.tasksLoaded" selected-items="fd.localVars.selectedButton.task" is-multiple="false" name="taskId" ng-required="false" dropdown-items="fd.localVars.taskList" dropdown-id="'resourceList'+resource.Parameters.dataset.id" parent-form-id="'formResource'+resource.Parameters.dataset.id" search-text="'Select task'"></kt-dropdown-standard>
				</div>
				
                
				<div class="small bold">Task position on page</div>		  
				<div class="btn-group my-1" role="group" aria-label="OpenTaskType">
					  <button type="button" ng-click="fd.localVars.selectedButton.OpenTaskType='current'" ng-class="{'active':fd.localVars.selectedButton.OpenTaskType=='current'}" class="btn btn-sm btn-outline-primary">
						  Open in current container
					  </button>
					  <button type="button" ng-click="fd.localVars.selectedButton.OpenTaskType='inline'" ng-class="{'active':fd.localVars.selectedButton.OpenTaskType=='inline'}" class="btn btn-sm btn-outline-primary">
						  Inline task
					  </button>
					   <button type="button" ng-click="fd.localVars.selectedButton.OpenTaskType='container'" ng-class="{'active':fd.localVars.selectedButton.OpenTaskType=='container'}" class="btn btn-sm btn-outline-primary">
                           Task container
                        </button>
				</div>
				
				<div class="my-2">
					<label  class="kt-checkbox-label">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.localVars.selectedButton.ShowCloseTaskBtn" />  
						Show close task button
					</label>       
			         
				</div>
					
			 </div>
  
	<div class="mt-4 mb-2 border-top">
      <!-- <b> Button looks and feels </b>-->
    </div>
	<div class="row m-0 border-bottom">
		<div class="col-lg-12 ">
			<div class="my-2">
				<div class="mb-1 small bold">Button label</div>
				<div class="">
					<input type="text" class="form-control form-control-sm" ng-model="fd.localVars.selectedButton.btnLabel"  />
				</div>
			</div>
            
			
			<div class="my-3">
				<div class="my-1 small bold">Button visibility</div>
				
				<div>
					<label  class="kt-checkbox-label" for="cbHideButton{{fd.PresentationId}}">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbHideButton{{fd.PresentationId}}" ng-model="fd.localVars.selectedButton.hideButton" ng-checked="fd.localVars.selectedButton.hideButton" />  
						Hide button on page load
					</label>       
			         
				</div>

				<div ng-if="fd.localVars.selectedButton.action.value!='openpage'" class="mt-3 mb-2 small bold">Check if button is visible after action is executed</div>
				<div ng-if="fd.localVars.selectedButton.action.value!='openpage'" class="border rounded" >
					
					<div ng-repeat="action in fd.localVars.selectedButton.visibilityAfterAction track by $index">
						<label  class="kt-checkbox-label" for="cbShowButton{{fd.PresentationId}}{{$index}}">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbShowButton{{fd.PresentationId}}{{$index}}" ng-model="action.visible" ng-checked="action.visible" />  
							{{fd.FormDef[action.index].btnLabel}} ({{fd.FormDef[action.index].action.name}})
						</label>       
			         
					</div>
					
				</div>

				


		    </div>
		</div>
		<div class="col-lg-12">
			
			<div class="row col-lg-12 ">
				<div class="small bold my-2 ">Button size
                    <input type="range" min="0" max="3"  ng-change="fd.localVars.selectedButton.size=fd.localVars.actionButtonClass[fd.localVars.selectedButtonSize]" ng-model="fd.localVars.selectedButtonSize" class="form-control form-control-xs">
				 <div class="text-center">  {{fd.localVars.actionButtonSize[fd.localVars.selectedButtonSize]}}</div>
                </div>
               
              <!--  
                <div>
						<button type="button" ng-click="fd.localVars.selectedButton.size='btn-lg'" ng-class="fd.localVars.selectedButton.size=='btn-lg' ? 'btn-success': 'btn-outline-primary'" class="btn btn-lg">
						Large </button>
						<button type="button" ng-click="fd.localVars.selectedButton.size=''"  ng-class="fd.localVars.selectedButton.size=='' ? 'btn-success': 'btn-outline-primary'" class="btn">
						Regular </button>
						<button type="button" ng-click="fd.localVars.selectedButton.size='btn-sm'" ng-class="fd.localVars.selectedButton.size=='btn-sm' ? 'btn-success': 'btn-outline-primary'" class="btn btn-sm">
						Small </button>
						<button type="button" ng-click="fd.localVars.selectedButton.size='btn-xs'" ng-class="fd.localVars.selectedButton.size=='btn-xs' ? 'btn-success': 'btn-outline-primary'"  class="btn btn-xs">
						Extra small </button>
				</div>-->
			</div>
			<div class="m-2">
				<div class="small bold my-2">
                    Align
                </div>
						
				<div class="btn-group" style="    flex-wrap: wrap;">
					
						 <label class="btn btn-outline-primary btn-xs" ng-model="fd.localVars.selectedButton.textAlign" uib-btn-radio="'left'" uncheckable>  <span class="fa fa-align-left"></span> </label>
						<label class="btn btn-outline-primary btn-xs" ng-model="fd.localVars.selectedButton.textAlign" uib-btn-radio="'center'" uncheckable> <span class="fa fa-align-center"></span> </label>
						<label class="btn btn-outline-primary btn-xs" ng-model="fd.localVars.selectedButton.textAlign" uib-btn-radio="'right'" uib-uncheckable="uncheckable"> <span class="fa fa-align-right"></span></label>
				 
				</div>
			</div>
            
           <div class="ml-2 my-4">
            <div class="small bold my-2">
                    Colors & Icons
                </div>
                
			  <div class="" kt-icon-picker select-colors="true" select-icons="true" selected-icon="fd.localVars.selectedButton.icon" selected-button="fd.localVars.selectedButton.btnClass" ></div>
  
			</div>
			
		</div>
	</div>
	<div ng-if="fd.localVars.actionButtonProps[fd.PresentationId]>0" class="mt-1">
                <div ng-if="false" class="col-auto">
                      <b><label> {{fd.localVars.selectedButton.name}} </label></b>
                </div>
                
	</div>
		
		
	<div class=" my-2 p-2" ng-if="fd.localVars.selectedButton.action.value=='completetask'">
		
    <div>
    
       <span  class="text-muted " >Action outcome: </span>
        
        <span  ng-if="fd.localVars.selectedButton.outcome" class="p-1  mr-2" >
      
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">  <!-- Button trigger modal -->      
                 
                    {{fd.localVars.selectedButton.outcome.name1}}
                     <span class='ml-1 fas fa-cog'></span> 
                </button>
        </span>
         
         <span ng-if="!fd.localVars.selectedButton.outcome" class="p-1  mr-2" >              
                <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModalCenter">     <!-- Button trigger modal --> 
                  <span class='fas fa-cog'></span> 
                </button>
         </span>
         
      
    </div>
    
           
    
    </div>

    <div class=" my-2 p-2" ng-if="fd.localVars.selectedButton.action.value=='clearform'">
          	<label class="label-xs text-muted">Widget id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.localVars.selectedButton.widgetId"  /> 
    
    </div>
    
       <div ng-if="fd.localVars.actionButtonProps[fd.PresentationId]>0" class="row p-4">
	
            
			<div class="col text-right">
							     <button type="button" ng-click="fd.localVars.RemoveButtonFromList(fd.localVars.selectedButtonIndex)"  class="btn btn-sm btn-outline-danger">
							     <span class='fa fa-trash mr-2'></span> Remove button</button>
			</div>
		</div>
    
     

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" ng-if="fd.localVars.selectedButton.action.value=='completetask'" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Outcomes </h5>
        <!-- on click fd.localVars.selectedButton.outcome = fd.localVars.outcomes[fd.localVars.selectedOutcomeIndex];-->
        <button   type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
          <div kt-outcome-def-list class="w-100" local-vars="fd.localVars" task="fd.localVars.resourceDefinition" fd="fd"></div>
  
      </div>
      <div class="modal-footer justify-content-center">
       <!-- <button ng-click="fd.selectedButton.outcome = fd.outcomes[fd.selectedOutcomeIndex];" type="button" class="btn btn-secondary" data-dismiss="modal">
            Close</button>-->
            
       <div ng-if="fd.localVars.selectedOutcomeIndex == null || fd.localVars.selectedOutcomeIndex == undefined" class="mt-3 text-center">
         
            <span  class="p-1 mr-2" > There are no selected outcomes. Please select one from above!</span>
		
      </div>
      
       <div class="">
        <button ng-if="fd.localVars.selectedOutcomeIndex != null || fd.localVars.selectedOutcomeIndex != undefined" ng-click="fd.localVars.selectedButton.outcome = fd.localVars.outcomes [fd.localVars.selectedOutcomeIndex]; fd.localVars.saveTaskOutcomes()" type="button" class="btn btn-primary">
            Save </button>
             </div>
      </div>
    </div>
  </div>
</div>
    
    
   
    
    </div>
	
  </div>
  