<div class="widget-head" ng-class="{'widget-active m-2 shadow':fd.localVars.actionButtonProps[fd.PresentationId]>0}">

   <div ng-if="gsrvc.getFormViewType()==1 || formParams.formViewType==1">
      
		<div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':fd.localVars.actionButtonProps[fd.PresentationId]>0,'bg-light':fd.localVars.actionButtonProps[fd.PresentationId]==0}">
       
            <div class="col-auto p-0">
                <i class="fa fa-rocket mx-2"></i><label >Action buttons ({{fd.PresentationId}})</label>
                <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
            </div>
       
           <!--  <div class="col pl-0 my-auto">

				<div class="" >
                      <button ng-repeat="button in fd.localVars.selectedButtons track by $index" type="button" 
                           class="btn btn-xs mr-2 {{button.btnClass}}" 
                           ng-click="fd.localVars.showButtonDefinition($index)" > 
                            <i class="bold mr-2"></i> {{button.btnLabel}} 
                        </button> 
                        <span class="bold small mr-2" > {{fd.localVars.selectedButtons.length}} actions defined</span>
 
				</div>
				
            </div>  -->
            
            <div class="col text-right my-auto">
                <button type="button" ng-click="fd.localVars.toggleButtonDefinition(0)" class="btn btn-xs btn-warning" style="">
                    <span class="" style=""> {{fd.FormDef.length}} action{{fd.FormDef.length > 1 ? 's':''}} defined</span>
                </button>
            </div>
            
            
            <div class="col-auto my-auto p-0">
                  
					<a  href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.localVars.toggleButtonDefinition(0)"><i class="fas fa-cog"></i> </a>	
   	
			</div>
            
            
		   	<div class="col-auto p-0">
			     <div kt-task-dropdown> </div>
			
			</div>	
		</div>
	</div>
    
    
	<div ng-if="fd.localVars.actionButtonProps[fd.PresentationId]>0 && (formParams.formViewType==1 || gsrvc.getFormViewType()==1)" class="p-2">
      <div kt-form-element-properties fd="fd" local-vars="fd"></div>
      
      
		<!--<div ng-if="fd.localVars.actionButtonProps[fd.PresentationId]>0" class="row m-0 mt-1">
		
            
             <div class="col-auto my-auto p-0">
                  <button type="button"  ng-click="fd.localVars.addNewActionButton()" class="btn btn-outline-primary btn-xs">
                    <i class=""></i>
						<i class="fa fa-plus mr-2"></i><span>Reset values</span>
			      </button>
                  
		
   	
			</div>
            
			<div class="col text-right">
							     <button type="button" ng-click="fd.localVars.RemoveButtonFromList(fd.localVars.selectedButtonIndex)"  class="btn btn-sm btn-outline-danger">
							     <span class='fa fa-trash mr-2'></span> Remove button</button>
			</div>
		</div>-->
        
   </div>

	
	
	 </div>
      
   
        <div ng-if="fd.localVars.selectedTaskIndex>-1" class="card-body p-1">
                 <div class="d-inline-block">
                      <b><label> {{fd.localVars.selectedTasks[fd.localVars.selectedTaskIndex].name}} ({{fd.localVars.selectedTasks[fd.localVars.selectedTaskIndex].id}}) </label></b>
                </div>
                 
                <div class="d-inline-block ml-2">
                      <input type="text" class="form-control" ng-model="fd.localVars.selectedTasks[fd.localVars.selectedTaskIndex].btnLabel"  />
                </div>
            
                <div class="d-inline-block ml-2">
                  <div kt-icon-picker select-colors="true" select-icons="true" selected-icon="fd.localVars.selectedTasks[fd.localVars.selectedTaskIndex].icon" selected-button="fd.localVars.selectedTasks[fd.localVars.selectedTaskIndex].btnClass" ></div>
                   
                </div>
                <div class="d-inline-block ml-2">
                                             <button type="button" ng-click="fd.localVars.RemoveTaskFromList(fd.localVars.selectedTaskIndex)"  class="btn btn-xs btn-outline-danger">
                                             <span class='fa fa-trash mr-2'></span> Remove task</button>
                 </div>
                <div class="d-inline-block ml-3">
                                             <button type="button" ng-click="fd.localVars.selectedTaskIndex=-1;fd.localVars.actionButtonProps[fd.PresentationId]=0"  class="btn btn-xs btn-outline-primary">
                                             <span class='fa fa-times mr-2'></span>Close details</button>
                 </div> 

        </div>   
     

   </div>
  
  <div id="action_buttons" ng-if="gsrvc.getFormViewType()==2"> 
   <div>
      <div class="col" ng-if="fd.FormDef.length>0">
   
         <div class="my-1 text-{{fd.Parameters.TextAlign}}">

				<div ng-repeat="button in fd.FormDef track by $index" ng-class="{'mr-2':fd.FormDef.length<$index+1}" class="d-inline-block">
					
					 <div ng-switch="button.action">
                     
                     <!-- MIGOR DODAO DA SE VIDI BUTTON  -->
                     <div ng-switch-when="initiatetask" ng-if="!button.hideButton" ng-show="!fd.localVars.taskInitiated ">
							<button type="submit" class="btn {{button.size}} {{button.btnClass}} mr-2">
                                <i class="{{button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i>
                                    {{button.btnLabel}}  
                            </button> 
						</div>
      
						<div ng-switch-when="initiatetask" ng-if="!button.hideButton">
							<button type="button" class="btn {{button.size}} {{button.btnClass}} mr-2">
                                <i class="{{button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i>
                                    {{button.btnLabel}}  
                            </button> 
						</div>
						
						
						<div ng-switch-when="completetask" ng-if="!button.hideButton">
							<button type="button"  class="btn mr-2 {{button.size}} {{button.btnClass}}">
                                <i class="{{button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> 
                                    {{button.btnLabel}}  
                            </button> 
						</div>
						<div ng-switch-when="executetask" ng-if="!button.hideButton">
							<button type="submit"  class="btn mr-2 {{::button.size}} {{::button.btnClass}}">
                   				<i class="{{::button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> {{::button.btnLabel}}  </button> 
						</div>
						
						<div ng-switch-default>
							<button type="button" ng-if="!button.hideButton" class="btn mb-2 mr-2 {{button.size}} {{button.btnClass}}">
                                    <i class="{{button.icon}}" ng-class="{'mr-2':button.icon!='' && button.icon!=undefined}"></i> 
                                        {{button.btnLabel}}  
                                    </button> 
						</div>
					
					</div>
               
				</div>
          
			</div>
	</div>
		
		<div style="{{fd.Parameters.InlineTaskStyle}}">		
      		<div ng-repeat="sTask in fd.localVars.loadedTasks track by sTask.taskId">
    
      			<div kt-task-proc-directive fd="fd" local-vars="sTask.fd" task-definition="taskDefinition"></div>
           
      		</div>
      	</div>
  </div>

</div>