  <div ng-form="'ktActionIT'+$id" class="row m-0 p-2">  
 
      <!--<div class="col p-0 mt-1" kt-select-generic input-array="taskList" selected-item="taskListParameters.selectedItem" on-select-fn="setInitiateTaskAction(item,model)" input-parameters="taskListParameters">
      </div>-->
      
      			<kt-dropdown-standard ng-if="taskList"
							ng-model="taskListParameters.selectedItem" 
							selected-items="taskListParameters.selectedItem" 
							dropdown-items="taskList"
                            on-select-fn="setInitiateTaskAction(item,model)"
							is-multiple="false" required="true"  dropdown-id="'page'" parent-form-id="'ktActionIT'+$id"  search-text="'Search or select ...'">
				</kt-dropdown-standard>
                            
                            
      <div class="col-auto mt-1">
        <button type="button" title="{{fd.Search.name}}" class="btn btn-light btn-sm rounded-0" href ng-click="showFormula=!showFormula">
                    <i class="fa fa-calculator"></i>
        </button>
      </div>
  
  </div>  
  <div class="row m-0 p-2" ng-if="showFormula">
    <div class="col-24 mb-1"> 
						<div class="btn-group" role="group" aria-label="OpenTaskType">
							  <button type="button" ng-click="act.actionParams.OpenTaskType='newPage'" ng-class="{'active':act.actionParams.OpenTaskType=='newPage'}" class="btn btn-sm btn-outline-primary">
								  Open in new page
							  </button>
							  <button type="button" ng-click="act.actionParams.OpenTaskType='current'" ng-class="{'active':act.actionParams.OpenTaskType=='current'}" class="btn btn-sm btn-outline-primary">
								  Open in current container
							  </button>
							  <button type="button" ng-click="act.actionParams.OpenTaskType='inline'" ng-class="{'active':act.actionParams.OpenTaskType=='inline'}" class="btn btn-sm btn-outline-primary">
								  Inline task
							  </button>
						</div>
		</div>
    <div class="col-12">
      <label  class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}Formula">Formula</label>
          
      <textarea   ng-model="act.actionParams.formula" ng-change="" placeholder="Enter formula" class="form-control rounded-0"/>
    </div>      
    <div class="col-12">
      <label  class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}Condition">Condition</label>
          
      <textarea ng-model="act.actionParams.condition" ng-change="" placeholder="Enter condition"  name="condition" class="form-control rounded-0"/>
    </div>
    
    
  </div>
<!-- MIGOR: Zasad sakrio dok ne vidimo kako da poboljsamo direktivu
<div class="col-md-6">   
      <div kt-icon-picker select-colors="true" select-icons="true" btn-label="act.actionParams.initTaskBtnTxt" selected-icon="act.actionParams.initTaskBtnIcon" selected-button="act.actionParams.initTaskBtnStyle" ></div>
                 
       <input type="text" class="form-control" ng-model="act.actionParams.initTaskBtnTxt" placeholder="Create task button text" />
</div>     
                  
           
<div class="col-md-5">                
    <div kt-icon-picker select-colors="true" select-icons="true" btn-label="act.actionParams.cancelBtnTxt" selected-icon="act.actionParams.cancelBtnIcon" selected-button="act.actionParams.cancelBtnStyle" ></div>
                   
    <input type="text" class="form-control"  placeholder="Cancel button text" ng-model="act.actionParams.cancelBtnTxt"  />
                      
</div>

-->
