<div ktAppNavbar>
    <div class="text-right my-2" style="position:sticky;top:50px;height:100%">
		<button type="button" class="btn btn-success" ng-click="saveMenu()">
		<i class="fa fa-save mr-2"></i>Save menu</button>
	</div>
                 
	<div class="mt-1">
		<div ng-if="false"> 
			<div ng-if="localVars.pageList.length==0" class="row m-0 mt-2">
				<div class="col-24 my-auto"> You don't have any pages. The best way forward is to create your first page.</div>
				<div class="col-24 my-auto">
						<span class="mr-2">Create your first page</span>
						<button type="button"  ng-click="createPage()" class="btn btn-sm btn-outline-info mb-2" kt-bootstrap-tooltip data-toggle="tooltip" data-placement="right" title="Click to define your data">Build new page</button>
				
				</div>
				<div class="col-24 my-auto">
										
				</div>
			</div>
		</div>
	</div>

	<div class="mt-1 row m-0">
	
		<div class="col-lg-5 p-0">
			<div class="col-lg-24 m-0 shadow p-2" id="collapseTasks" style="max-height:35rem;overflow-y:scroll;width: max-content">
				<div class="helper" style="opacity: 0.5;">
					<h6 class="mb-1">Pages</h6>
					<p class="small text-muted mb-2">To build application menu use the <i class="mx-1 fas fa-grip-vertical"></i> icon to drag &amp; drop pages on navigation bar above</p>
				</div>
				<div class="mb-2">
					<input type="text" class="form-control form-control-xs" placeholder="Search pages" ng-model="localVars.filterPages"  />
				</div>
				<div  id="app-menu-task-list"   dragula="'app-menu-bag'" dragula-scope="$root" dragula-model="localVars.pageList">   
				  
				  <div ng-repeat="page in localVars.pageList track by page.id" ng-show="([page.name] | filter:localVars.filterPages).length" style="background-color: #f5f5f5" class="border rounded text-dark mb-1">
						 
					<div  class="row m-0">
					  <div class="col">{{$index+1}}. {{page.name}} ({{page.id}})</div>
					  <div class="col-auto p-0">
						<button type="button" class="btn btn-outline-primary btn-xs border-0 element-drag-handle" ><i class="element-drag-handle fas fa-grip-vertical"></i> </button></div>
					  </div>   
				   </div> 
					   
				</div>
			</div>
			
				 
		</div>
	
		<div class="navbarContainer sticky col-lg-19 p-0 " ng-style="gsrvc.getTopForSticky(90)" style="height:100%;top:90px;position: sticky">
		
			
		  
			<div class="row m-0">
				<div class="col-lg-24 p-0">
					<nav class="navbar navbar-expand-lg navbar-custom p-0 border-bottom">
			   
						<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarToggler{{application.id}}" aria-controls="navbarToggler{{application.id}}" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarToggler{{resource.id}}" ng-if="localVars.pagesLoaded">
				
							<div class="col p-0" ng-class="{'white-border-dashed':navbarItemsLeft.length==0}">
								<div class="row m-0"> 
									<div style="position:absolute" class="col-auto p-0 m-0" kt-bootstrap-tooltip title="Navigation bar - drop page on target" ng-if="navbarItemsLeft.length==0">
														<i  class="fa fa-bullseye text-white m-2 p-2"></i> <span class="text-white"> Drop here in Navigation bar</span>
									</div>
									<div class="col p-0">
										<ul  style="min-height: 48px;" class="navbar-nav mr-auto" dragula="'app-menu-bag'" dragula-scope="$root" dragula-model="navbarItemsLeft" id="navbarLeft">
													
											<li id="{{$index}}" ng-repeat="ni in navbarItemsLeft " class="nav-item p-0"  ng-class="{'active': localVars.selectedSide == 'left' && localVars.selectedNavbar.index == $index}">
				
																												
												<div class="" style="display: flex;justify-content: center;" ng-if="localVars.selectedSide == 'left' && localVars.selectedNavbar.index == $index && localVars.showNavbarDetails">
														<button type="button" style="padding:0.2rem 0.2rem 0.1rem 0.2rem; top:-10px" class="btn btn-primary btn-xs position-absolute element-drag-handle" ><i class="element-drag-handle fas fa-grip-horizontal"></i> </button>
														<button type="button" style="padding: 2px 4px;border-radius:8px;top:-10px;margin-left: 65px;" ng-class="{'btn-danger':!ni.deleteItem,'btn-success':ni.deleteItem}" class="fnt4 position-absolute" ng-click="localVars.deleteNavbar(ni,$index,'left')" ><i class="fa fa-times"></i> </button>
												</div>
																												
												<a   href class="nav-link" ng-click="localVars.selectedSide = 'left'; localVars.getNavbarDetails(navbarItemsLeft,$index)">
														<i class="{{ni.katalyonode_menus_Icon}}"></i> <span class="ml-1" ng-if="ni.katalyonode_menus_Name==undefined"> {{ni.name}} </span>
														<span class="ml-1" ng-if="ni.katalyonode_menus_Name!=undefined"> {{ni.katalyonode_menus_Name}} </span>
												</a>
																											
											</li>
				
										</ul>
									</div>
								</div>
							</div>
							
							<div class="col-auto">  
							
								<ul class="navbar-nav navbar-custom" dragula="'app-menu-bag'" dragula-scope="$root" dragula-model="navbarItemsRight" id="navbarRight">
											 
									<li ng-repeat="nir in navbarItemsRight track by $index" class="nav-item element-drag-handle"  ng-class="{'dropdown':nir.katalyonode_menus_PopulateType=='navbarright'}">
										
										<a href ng-click="localVars.selectedSide ='right';localVars.getNavbarDetails(navbarItemsRight,$index)" data-disabled="true" class="nav-link dropdown-toggle"
										   href data-toggle="dropdown" id="navbarRightDropdownEdit" aria-haspopup="true" aria-expanded="false">
										  <i class="{{nir.katalyonode_menus_Icon}} mr-1"></i><span class="ml-1">{{nir.katalyonode_menus_Name}}</span>
										</a>
										
										 <ul class="dropdown-menu dropdown-menu-right rounded-0 border-0 py-0 shadow-sm" aria-labelledby="navbarRightDropdownEdit">
										  
											<li class="nav-item"  ng-repeat="cnr in nir.layout track by $index">
											  <a href ng-click="localVars.selectedSide ='right';getNavbarDetails(cnr.katalyonode_menus_Navbar)" class="nav-link"><i class="fa fa-{{cnr.katalyonode_menus_Icon}} mr-2"></i>{{cnr.katalyonode_menus_Name}}</a>
											</li>
											 
											 <li  class="nav-item"> <a class="nav-link" href><i class="fa fa-sign-out-alt mr-2"></i>Logout</a></li> 
										</ul>
										   
									</li>
											 
								</ul>
							</div>    
						</div>
					</nav>
				</div>	
					
					
				<div ng-show="localVars.selectedNavbar.katalyonode_menus_MenuType==2 && (localVars.showNavbarDetails || localVars.showMenuDetails)" ng-if="localVars.showNavbarDetailsFirst" class="col-lg-5 p-0">
					<div class="p-2 shadow-sm sidemenu-custom">
						<div class="helper border-bottom" style="opacity: 0.5;">
								<h6 class="mb-1 text-center border-bottom border-primary">Container items</h6>
								<p class="small text-muted mb-2">To build the sub menu, use <i class="mx-1 fas fa-grip-vertical"></i> icon to drag &amp; drop pages bellow</p>
						</div>
						
						<div style="border:dashed" ng-class="{'empty-side-menu':localVars.selectedNavbar.layout.length==0}">
							<div class="w-100" ng-if="localVars.selectedNavbar.layout.length==0" kt-bootstrap-tooltip title="Menu - drop items here">
								
							</div> 
							<ul style="min-height: 45px;" class="navbar-nav side-menu-color" dragula="'app-menu-bag'" dragula-scope="$root" dragula-model="localVars.selectedNavbar.layout" id="sideMenu">
										
									<li id="{{$index}}" ng-repeat="mi in localVars.selectedNavbar.layout track by $index" class="nav-item p-0 border-0" ng-class="{'active':localVars.selectedMenu.index == $index}">
																				
														
										<a   href class="nav-link-custom nav-link padding5" ng-click="localVars.getMenuDetails(localVars.selectedNavbar.layout,$index)">
																								<i class="{{mi.katalyonode_menus_Icon}}"></i> <span ng-if="mi.katalyonode_menus_Name==undefined" class="mx-3"> {{mi.name}} </span> <span ng-if="mi.katalyonode_menus_Name!=undefined" class="mx-3"> {{mi.katalyonode_menus_Name}} </span> 
										</a>
										<div class="bg-white position-absolute" style="right: 15px;margin-top:-30px" ng-if="localVars.selectedMenu.index == $index">
														<button type="button" class="btn btn-outline-primary btn-xs border-0 element-drag-handle" ><i class="element-drag-handle fas fa-grip-vertical"></i> </button>
														<button type="button" ng-class="{'btn-outline-danger':!mi.deleteItem,'btn-outline-success':mi.deleteItem}" ng-click="localVars.deleteMenu(mi,$index)" class="btn btn-outline-danger btn-xs border-0" ><i class="fa fa-times"></i> </button>
										</div>
										<div ng-if="mi.katalyonode_menus_MenuType==2" kt-sidemenu-container></div>
										<!--
												<a ng-switch-when="sidemenu" ng-if="mi.MenuType==2 && mi.TaskType==2" ng-click="setSideMenu(mi.id)" ui-sref = "app.menu.tasks.execute({{mi.Params}})" ><i  class="fa fa-{{mi.Icon}}">&nbsp; {{mi.Name}}</i></a>
										-->
									</li>
							</ul>
						</div>
					</div>
				</div>
				<div  class="col-lg-19 p-0">
					<div class="shadow-sm" kt-navbar-definition ng-if="localVars.showNavbarDetails && localVars.selectedNavbar" local-vars="localVars" navbar-item="localVars.selectedNavbar"></div>
					<div class="shadow-sm" kt-menu-definition ng-if="localVars.showMenuDetails" local-vars="localVars" menu-item="localVars.selectedMenu"></div>
				</div>
				  
				</div>
			</div>
	
		</div>
 </div>

