
<div class="row m-0 form-group mb-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-click="showProperties()" 
    ng-class="{'bg-gray-20  border shadow':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}">
	
	
	 <div style="{{fd.labelAlign}}" class="{{fd.gridClassElement}}"  style="min-width: 150px !important" ng-class="{'col-auto':fd.Parameters.CustomSize}">

		<div>
			
			 <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
               <input type="checkbox" class="my-2 mr-2" ng-if="fd.Parameters.TextRight" ng-disabled="fd.ReadOnly" style="transform: scale({{fd.Parameters.Scale}});accent-color:{{fd.Parameters.ValueFontColor}};" name="{{fd.Name}}{{fd.ItemId}}" ng-model="formData[0][fd.FieldName]" ng-checked="formData[0][fd.FieldName]" />  
			{{fd.Label}}
			<input type="checkbox" class="my-2 ml-2" ng-if="!fd.Parameters.TextRight" ng-disabled="fd.ReadOnly" style="transform: scale({{fd.Parameters.Scale}});accent-color:{{fd.Parameters.ValueFontColor}};" name="{{fd.Name}}{{fd.ItemId}}" ng-model="formData[0][fd.FieldName]" ng-checked="formData[0][fd.FieldName]" />  
			
			</label>
		
			<p ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
		  
			
		</div>	
		
		<div class="element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
		  <span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
		  <button type="button" class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort"><i class="element-drag-handle fa fa-grip-vertical"></i></button>
		  <button type="button" class="btn btn-primary btn-xs prop-btn" title="Field properties" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </button>		
				
		</div>
   </div>             
</div>

    

