<div class="p-1">    
       
       
          <div class="text-center">
		<!--	<label class="label-xs text-muted"><b>ID:</b> {{fd.ItemId}}</label>-->
			<label class="d-block label-xs text-muted"><b> ID:</b> {{fd.PresentationId || 'none'}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
          </div>
          
          
         <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
	  
            
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
	   
    	
	 <label class="label-xs text-muted">Checkbox size ({{fd.Parameters.Scale}})</label> <input  type="number" min="1" max="10" step="0.01" ng-model="fd.Parameters.Scale" class="form-control form-control-xs" />
	      
	<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
          <label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
    <div class="">
                    
				<label  class="kt-checkbox-label" for="cbTextRight{{fd.PresentationId}}">
				
				<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbTextRight{{fd.PresentationId}}" ng-model="fd.Parameters.TextRight" ng-checked="fd.Parameters.TextRight" />  
				Text right
				</label> 
                     
	</div>
            
</div>
          	 <div kt-field-extended-properties></div>   
    
</div>   