<!--  input-array = "widget" -->
<ng-form name ="innerForm{{fd.ItemId}}" > 
<div class="row m-0 form-group mb-1" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'bg-gray-20 mr-0 p-1 border':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd.ItemId==gsrvc.getSelectedItemId() && gsrvc.getFieldPropertiesOpened() }">

      <div ng-class="colLength[fd.labelLength-1]">
           <label  class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}"><a ng-if="!inputArray.locked" title="sort" href><i class="element-drag-handle fa fa-sort"></i></a>  {{fd.Label}}</label> 
      </div>
     
    <div  ng-class="colLength[fd.ValueLength-1]">
        <div class="mb-0 border p-1 rounded-0" >{{fd.sItemValue}}</div>
        <div class="mb-0 border p-1" >{{fd.Search}}</div>
          
    </div>
    
	 <div class="row" >
			<button id="textbox-addon-{{fd.PresentationId}}" type="button" title="{{fd.Search.name}}" class="btn btn-light rounded-0" href ng-click="localVars.Calculate()">
              <i class="fa fa-calculator"></i>
      </button>	
	<div class="element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
		<a href class="btn btn-primary btn-xs prop-btn element-drag-handle " title="sort"><i class="fa fa-sort"></i></a>	
        <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" ng-click="showProperties()"><i class="fa fa-cog"></i> </a>		
        
      
	</div>
 
</div>


</ng-form>
