<div>

        <div class="text-center"><h5>Properties</h5></div>
		<hr>
    	<label>Label length </label> <input  type="number" min="1" max="12"   ng-model="fd.LabelLength"   class="form-control form-control-xs" />
		<label>Value length </label> <input  type="number" min="1" max="12"  ng-model="fd.ValueLength"  class="form-control form-control-xs" />
		<label>Formula </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Search"  />	 
		<label>Max length </label> <input type="text" class="form-control form-control-xs" ng-model="fd.MaxLength"  />	 
		<label>Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
		<label>Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
		<label>SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
		
		 <div class="checkbox">
			<label><input type="checkbox" ng-model="fd.Required"> Required </label>
		</div>
		<div class="checkbox">
		  <label>
			<input type="checkbox" ng-model="fd.Multiline"> Multiple lines
		  </label>
		 </div>

    
          <div kt-field-extended-properties>
          </div>
 
</div>
   
	
	 

