<div class="mb-1">
   
      <div ng-if="label" ng-class="labelLength">
           <label  class="border-0" for="{{name}}" ng-class="{'label-xs text-muted':sizeXs}">{{label}}</label>
          
      </div>
      

        <div class="row form-group m-0 mb-1" ng-form="innerForm" >
           <div class="col-lg-24 p-0">
               <kt-dropdown-standard 
              
                   size="'small'"
                   ng-model="selectedCode"     selected-items="selectedCode" 
                   dropdown-id="'codeList'+item.id"        parent-form-id="'codeList'+item.id" 
                   dropdown-items="localVars.codeList"
                   is-multiple="false" 
                   name="{{name}}" 
                   required="false" 
                
                   search-text="'Search or select user...'">
               </kt-dropdown-standard>
                         
            </div>
         </div>                      
      
      
            
              
	  
	<kt-dropdown-standard ng-model="fd.selectedResource" size="'small'" selected-items="fd.selectedResource" ng-if="fd.RelatedLoaded" on-select-fn="fd.onSelectCallback(item,model)" is-multiple="false" size="'small'" name="selectedDataset{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.resourcesList" dropdown-id="'selectedDataset'+fd.PresentationId" parent-form-id="'selectedDataset'+fd.PresentationId" search-text="'Select dataset'"></kt-dropdown-standard>
    
    
   <!-- <div class="p-0" ng-class="valueLength">
         <ui-select ng-model="selectedCode" sizexs="{{sizeXs}}" on-select="onSelectUniqueCallback($item,$model)" name="{{name}}" ng-required="required" reset-search-input="true" > 
            <ui-select-match xsmall="true" allow-clear="true" class="ui-select-match" placeholder="{{searchText}}">
             <span class="p-0">{{$select.selected.name}} </span>
            </ui-select-match>
            <ui-select-choices class="ui-select-choices" repeat="code in (codeList | filter: { name: $select.search }) track by code.id" refresh="refreshResults($select)" refresh-delay="0">
              <span>{{code.name}}</span>
            </ui-select-choices>
        </ui-select>
		      
    </div>-->
   
</div>   
 