

   <div ng-show="CodeHead.id"  id="ktCodesDetailEdit">
    
      <div class="modal-header py-1">    
          <div class="modal-title fnt12 modal-title text-center col mx-0 my-2">
             <!--   <i class="fa fa-barcode mr-2"></i>-->
                 <span> Add Code Details </span>
                <!--   <button type="button" class="close" ng-click="unselectRows()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>   -->              
           </div>    
           
        
     
      </div>
         
      
    <div class="">  
      
      
      <!--   <div ng-show="true" class="d-flex border-bottom">

               <div class="p-0">
               <div type="button" ng-click="toggleEditCodes()" class="btn text-primary my-1">
                    <span ng-show="showEditCodes" class='fa fa-chevron-up '></span> 
                     <span ng-hide="showEditCodes" class='fa fa-chevron-right'></span>
                </div>
              </div>
             <div  class="modal-title fnt10  mx-0 my-2">
                 <span>Codes Parameters </span> 
           </div>
          
      
        </div>-->
        
        
    <div ng-show="true" id="Edit">
  
        
  <!--
    <div class="my-3">
    
      <form ng-submit="saveCode(codeHeadForm.$valid)" id="codeHead" name="codeHeadForm" class="form-horizontal" role="form" novalidate>

              
                 <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeId.$touched) && form.codeId.$invalid }">
                    <label class=" col-lg-6" for="codeId">Code ID</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="CodeHead.id" ng-required="true"ng-disabled="true" class="form-control" id="codeId" name="codeId" placeholder="Code ID" />
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeId.$touched) && codeHeadForm.codeId.$invalid" class="help-block">Enter code id</p>
                    </div>
                </div>
                
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeName.$touched) && codeHeadForm.codeName.$invalid }">
                    <label class=" col-lg-6" for="codeName">Code name</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="CodeHead.CodesHeadLang[0].CodeName" ng-required="true" class="form-control" id="codeName" name="codeName" placeholder="Code name" />
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeName.$touched) && codeHeadForm.codeName.$invalid" class="help-block">Enter code name</p>
                    </div>
                </div>
                   <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.CodeHeadName.$touched) && codeHeadForm.CodeHeadName.$invalid }">
                    <label class=" col-lg-6" for="codeHeadName">Code unique identifier</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="CodeHead.CodeHeadName" ng-required="false" class="form-control" id="codeHeadName" name="codeHeadName" placeholder="Code unique identifier" />
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeHeadName.$touched) && codeHeadForm.codeHeadName.$invalid" class="help-block">Enter unique identifier (any text up to 255 characters)</p>
                    </div>
                </div> 
               
                  <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeType.$touched) && codeHeadForm.codeType.$invalid }">
                    <label class="col-lg-6" for="codeType">Code type</label>
                    <div class="col-lg-10">
                       <ui-select ng-model="CodeHead.CodeType" ng-disabled="disabled" name="codeType" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match"  placeholder="Search or select code type...">
                            <span>{{$select.selected.name}}
                            <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                        </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices"  repeat="ct in (codeTypeList | filter: { name: $select.search }) track by ct.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span class="p-0">{{ct.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeType.$touched) && codeHeadForm.codeType.$invalid" class="help-block">Select code type</p>
                    </div>
                </div>
                  
                     <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.lang.$touched) && codeHeadForm.lang.$invalid }">
                    <label class="col-lg-6" for="lang">Language</label>
                    
                    <div ng-form="langForm" class="col-lg-10">
                    
                    
                       <ui-select ng-model="CodeHead.CodesHeadLang[0].Lang" ng-disabled="disabled" name="lang" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match"  placeholder="Search or select language...">
                            <span class="p-0">{{$select.selected.name}}
                            <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                        </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="cl in (codeLanguageList | filter: { name: $select.search }) track by $index" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{cl.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.lang.$touched) && codeHeadForm.lang.$invalid" class="help-block">Select language</p>
                    
                    
                     <kt-dropdown-standard ng-model="CodeHead.CodesHeadLang[0].Lang" selected-items="CodeHead.CodesHeadLang[0].Lang" on-select-fn="onSelectCallback2(item,model)" is-multiple="false" name="lang2"
						 ng-required="false" dropdown-items="codeLanguageList" dropdown-id="'langId'" parent-form-id="'langForm'" search-text="'Select ..'">
                      </kt-dropdown-standard>
						
  
                    </div>
                </div>
                
                    <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.status.$touched) && codeHeadForm.status.$invalid }">
                    <label class="col-lg-6" for="lang">Status</label>
                    <div class="col-lg-10">
                       <ui-select ng-model="CodeHead.Status" ng-disabled="disabled" name="status" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select status...">
                            <span class="p-0">{{$select.selected.name}}
                            <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                          </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="cs in (codeStatusList | filter: { name: $select.search }) track by cs.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{cs.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.status.$touched) && codeHeadForm.status.$invalid" class="help-block">Select status</p>
                    </div>
                </div> 
                
                <div class="form-group row ml-2">
                    <label class="col-lg-6" for="lang">User generated id</label>
                    <div class="col-lg-10">
                      <input type="checkbox" class="checkbox-zoom-large" ng-model="CodeHead.UserGeneratedId" name="userGeneratedId" ng-required="false"  />

                    </div>
                </div> 
                                
                <div  class="control-group row ml-2">
                       
                            <button type="submit" id="clearBtn" ng-disabled="codeHeadForm.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save code</button>
                           
                 </div>

  </form>
</div>
        -->
        
 </div> 
 
    <!--<div ng-show="true" class="d-flex border-bottom">

            <div class="p-0">
                 <div type="button" ng-click="toggleListCodes()" class="btn text-primary my-1">
                         <span  class='fa fa-chevron-right'></span>
                         <span ng-hide="true" class='fa fa-chevron-down'></span>
                 </div>
             </div>
                    
             <div  class="modal-title fnt10  mx-0 my-2">
                 <span>Codes List </span>    
           </div>
          
      
        </div>-->
   
  
    
 <div ng-show="true" id="ListCodes">

     <form ng-show="true"  ng-submit="saveCodesDetails()" id="formCodes" name="formCodes" class="mt-2 form-horizontal" role="form" novalidate>
     
    
        <div id="Title" class="text-center modal-title fnt12 col my-3"> 
           
        </div>

      
        <div id="Details" class=""> 
	
			<!--	<div ng-if="codesDetails.length>0" ng-model="codesDetails">-->
                <div ng-if="codesDetails.length || true" ng-model="codesDetails">
				
             
                    <div style=" border-bottom: solid 1px gray;" class="row mx-4 w-100">
                    
						<div class="col-2 my-2 "><label class="bold">id</label></div>
						<div class="col-8 my-2"><label class="bold">Name</label></div>
						<div class="col-8 my-2"><label class="bold">Value</label></div>
						<div class="col-2 my-2 text-center"><label class="bold">Icon</label></div>
						<div class="col-2 my-2 text-center"><label class="bold">Active</label></div>
					</div>
					
                    <div   class="my-4"  >
                    
                    
                    <div ng-repeat="codeItem in codesDetails track by $index">
						<div class="row mx-4 my-1">
								<div class="col-2 align-items-center "> 
                                    <label class="form-control form-control-xs " style="border:none" > <nobr>{{codeItem.id}} </nobr></label> 
                                </div>
                                
								<div class="col-8 px-1 align-items-center">
									<input  type="text" ng-model="codeItem.Name" ng-required="true" placeholder="Code Name" class="form-control form-control-xs"/>
								</div>
                                
								<div class="col-8 px-1 align-items-center">
									<input  type="text" ng-model="codeItem.Value" ng-required="true" placeholder="Code Value" class="form-control form-control-xs"/>					
								</div>
								
								 <div class="col-2 px-1 align-items-center text-center">
									 <div kt-icon-picker title='TEST' unique-id="$index+'_'+codeItem.id" select-colors="false" select-icons="true" selected-icon="codeItem.Params.Icon" selected-button="codeItem.Params.btnClass" ></div>
								 </div>
								 <div class="col-2 px-1 align-items-center text-center">
									 <button type="button"  class="btn btn-sm p-0" ng-class="{'btn-outline-success':codeItem.Active,'btn-outline-danger':!codeItem.Active}"  href title="Status" ng-click="codeItem.Active=!codeItem.Active">
                                        <i  class="px-1" ng-class="{'fas fa-check':codeItem.Active,'fas fa-times':!codeItem.Active}"></i>
                                     </button>
								 </div>
								 <div  class=" col-1 px-1 ml-2 align-items-center">
									 <button type="button" class="  btn btn-sm p-0 px-1"  title="Remove code" ng-click="removeCode($index)">
                                        <i  class="fas fa-trash-alt"></i>
                                     </button>
								 </div>
						 </div>
					</div>
                    </div>
       
					
					
			</div>
			
			 <div class="col my-1 text-center">
					<div style="border:none" type="button" id="clearBtn"  ng-click="addEmptyCodeItem()" class="btn btn-lg btn-outline-primary ">
							<span class='fa fa-plus'></span> 
                     </div>
			</div>
            
             <div class="col my-1">
					
				<div ng-show="codesDetails.length" class="my-2">
					<button type="submit" id="submitBtn" ng-disabled="formCodes.$invalid || codeDetails.length>0" class="btn btn-outline-primary">
					 <span class='fa fa-save'></span>&nbsp Save codes</button>
				</div>  
			</div>
            
            
		</div>
	</form>

    </div>

      </div>
      
     
      
    </div>

 
