<div classs="card">
	<div class="" ng-if="loadingActions" kt-processing-animation show-msg="true" message="Loading actions..."></div>
	<div class="row" ng-if="codesActions.selectedActionIndex==$index && !loadingActions" ng-repeat="code in codesActions.codesActionsList track by $index">
	    
		<div class="col-auto"> 
		  <div class="item">
		    <div class="small bold p-2"> Drag actions from here </div> 
		    <div kt-codes-actions></div>  
           
		  </div>
		</div>
	
		<div class="col p-2">
		    <div  class="text-center bold"> Drop Actions on canvas bellow</div>
		  
		    <ul  style="border: dashed 2px;" class="p-2 bg-gray-50" ng-class="{'min10' : code.actions.length==0}" dragula-scope="$root" dragula="'bag-actions'" dragula-model="code.actions" ng-model="code.actions">   
	             <!--<li ng-if="code.actions.length==0">-->
           
		        
		        <li ng-repeat="act in code.actions track by $index"  class="card mb-1"> 
		        
                    <div class="card-header p-0 bg-light">
                        <a href title="Sort action">
                             <div class="p-1 element-drag-handle pb-0 d-inline bg-dark text-white"><span class="mr-2">Action {{$index+1}} - {{act.name1}}</span><i class="fas fa-grip-vertical element-drag-handle text-primary ml-1"></i></div>
                        </a>
                             <a class="btn btn-xs btn-outline-danger border-0 float-right"  href title="Remove action" ng-click="removeAction($parent.$index,$index)"><i  class="fa fa-times"></i></a>
                    </div>
            
                    <div  ng-switch="act.type" class="border border-dark">   
                              <div ng-switch-when="1" kt-action-initiate-task></div>
                              <div ng-switch-when="2" kt-action-send-notification></div>
                      </div>
	        
		        </li>
		        
                 <li>
                        <div class="mt-2 ml-4">
                        Drop here
                             <div >
                             <i class=" far fa-2x fa-hand-point-up" ></i>
                             </div>
                        </div>
                </li>
			
		    </ul>
		</div>
	
	</div>
</div>