<div class="px-2">

    <div id="codeActionsDragula" class="list group" dragula-scope="$root" dragula="'bag-actions'"  dragula-model="actions" ng-model="actions">
      <div ng-repeat="action in actions track by $index" class="list-component-library" >
        <div style=" border: 2px solid gray;"  class="element-drag-handle item mb-1" href>
            <span class="element-drag-handle text-primary" ><i class="element-drag-handle fas fa-grip-vertical mr-1"></i> {{action.name1}} </span>
        </div>
		</div>
	</div>
</div>