
   
<!-- Modal -->
<div ng-show="codeId>0" class="modal fade bd-example-modal-lg" id="exampleModalC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="min-height: 150px;">

        <div class="text-center" ng-hide="codesLoaded" style="position:absolute;width:100%;">    
            <div class="lds-ring"><div></div>  <div></div>     <div></div>    <div></div>   </div>
        </div>
    
      <div class="modal-header py-1">    
          <div class="modal-title fnt12 col mx-0 my-2">
                <i class="fa fa-barcode mr-2"></i>
                 <span> {{codeName}}  </span>
                   <button type="button" class="close" ng-click="unselectRows()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>                 
           </div>    
      </div>
         
      
    <div class="">  
      
       <!-- <div ng-show="codesLoaded" class="d-flex border-bottom">-->
         <div ng-show="true" class="d-flex border-bottom">

               <div class="p-0">
               <div type="button" ng-click="toggleEditCodes()" class="btn text-primary my-1">
                    <span ng-show="showEditCodes" class='fa fa-chevron-up '></span> 
                     <span ng-hide="showEditCodes" class='fa fa-chevron-right'></span>
                </div>
              </div>
             <div  class="modal-title fnt10  mx-0 my-2">
                 <span>Codes Parameters </span> 
           </div>
          
      
        </div>
        
        
    <div ng-show="showEditCodes" class="p-2" id="Edit">
  
        
  
    <div class="my-3">
    
      <form ng-submit="saveCodeHead(codeHeadForm.$valid)" id="codeHead" name="codeHeadForm" class="form-horizontal" role="form" novalidate>

              
                 <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeId.$touched) && form.codeId.$invalid }">
                    <label class=" col-lg-6" for="codeId">Code ID</label>
                    <div class="col-lg-16">
                        <input type="text" ng-model="CodeHead.id" ng-required="true"ng-disabled="true" class="form-control" id="codeId" name="codeId" placeholder="Code ID" />
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeId.$touched) && codeHeadForm.codeId.$invalid" class="help-block">Enter code id</p>
                    </div>
                </div>
                
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeName.$touched) && codeHeadForm.codeName.$invalid }">
                    <label class=" col-lg-6" for="codeName">Code name</label>
                    <div class="col-lg-16">
                        <input type="text" ng-model="CodeHead.CodeName" ng-required="true" class="form-control" id="codeName" name="codeName" placeholder="Code name" />
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeName.$touched) && codeHeadForm.codeName.$invalid" class="help-block">Enter code name</p>
                    </div>
                </div>
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.CodeHeadName.$touched) && codeHeadForm.CodeHeadName.$invalid }">
                    <label class=" col-lg-6" for="codeHeadName">Code unique identifier</label>
                    <div class="col-lg-16">
                        <input type="text" ng-model="CodeHead.CodeHeadName" ng-required="false" class="form-control" id="codeHeadName" name="codeHeadName" placeholder="Code unique identifier" />
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeHeadName.$touched) && codeHeadForm.codeHeadName.$invalid" class="help-block">Enter unique identifier (any text up to 255 characters)</p>
                    </div>
                </div>            
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeDescription.$touched) && codeHeadForm.codeDescription.$invalid }">
                    <label class="col-lg-6" for="codeDescription">Code description</label>
                    <div class="col-lg-16">
                        <textarea ng-model="CodeHead.Description" name="codeDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeDescription.$touched) && codeHeadForm.codeDescription.$invalid" class="help-block">Enter code description(min 20 chars).</p>

                    </div>
                </div>
                
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.codeType.$touched) && codeHeadForm.codeType.$invalid }">
                    <label class="col-lg-6" for="codeType">Code type</label>
                    <div ng-form="CodeType" class="col-lg-16">
                     <kt-dropdown-standard ng-if="codeTypeList.length>0" ng-model="CodeHead.CodeType" selected-items="CodeHead.CodeType" on-select-fn="onSelectCallbackCodeType(item,model)" is-multiple="false" name="codeType"
                         ng-required="false" dropdown-items="codeTypeList" dropdown-id="'codeType'" parent-form-id="'CodeType'" search-text="'Select code type..'">
                      </kt-dropdown-standard>
                    
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.codeType.$touched) && codeHeadForm.codeType.$invalid" class="help-block">Select code type</p>
                    </div>
                </div>
     
               <!--   
                <div ng-if="false" class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.lang.$touched) && codeHeadForm.lang.$invalid }">
                    <label class="col-lg-6" for="lang">Language</label>
                    
                    <div ng-form="langForm" class="col-lg-16">
                    
                    
                       
                    
                     <kt-dropdown-standard ng-model="CodeHead.CodesHeadLang[0].Lang" selected-items="CodeHead.CodesHeadLang[0].Lang" on-select-fn="onSelectCallback2(item,model)" is-multiple="false" name="lang2"
						 ng-required="false" dropdown-items="codeLanguageList" dropdown-id="'langId'" parent-form-id="'langForm'" search-text="'Select ..'">
                      </kt-dropdown-standard>
					
                        <p ng-show="(codeHeadForm.$submitted || codeHeadForm.lang.$touched) && codeHeadForm.lang.$invalid" class="help-block">Select language</p>
                    	
                    	 <kt-dropdown-standard ng-if="fd.datasetItems" 
                                ng-model="itemValue.val" 
                                is-multiple="fd.Multiline" 
                                selected-items="itemValue.val" 
                                required-field="fd.Required" 
                                dropdown-items="fd.datasetItems" 
                                dropdown-id="fd.Name+fd.ItemId" 
                                parent-form-id="'innerForm'+fd.ItemId" 
                                search-text="fd.SearchText">
                        </kt-dropdown-standard>
  
                    
                    </div>
                </div>
                -->
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (codeHeadForm.$submitted || codeHeadForm.status.$touched) && codeHeadForm.status.$invalid }">
                    <label class="col-lg-6" for="active">Active</label>
                   <div class="col-lg-16">
                      <input type="checkbox" class="checkbox-zoom-large" ng-model="CodeHead.Active" name="active" ng-required="false"  />

                    </div>
                </div> 
                
                <div class="form-group row ml-2">
                    <label class="col-lg-6" for="lang">User generated id</label>
                    <div class="col-lg-16">
                      <input type="checkbox" class="checkbox-zoom-large" ng-model="CodeHead.UserGeneratedId" name="userGeneratedId" ng-required="false"  />

                    </div>
                </div> 
                                
                <div  class="control-group px-3">
                       
                            <button type="submit" id="clearBtn" ng-disabled="codeHeadForm.$invalid" class="btn btn-light">
                                <span class='fa fa-save mr-2'></span>Save code</button>
                           
                 </div>

  </form>
</div>
        
        
 </div> 
 
 <!--edit codes FORM -->
  <div  class="">
        <div ng-show="codesLoaded" class="d-flex border-bottom">

            <div class="p-0">
                 <div type="button" ng-click="toggleListCodes()" class="btn text-primary my-1">
                         <span ng-hide="showListCodes" class='fa fa-chevron-right'></span>
                         <span ng-show="showListCodes" class='fa fa-chevron-down'></span>
                 </div>
             </div>
                    
             <div  class="modal-title fnt10  mx-0 my-2">
                 <span>Codes List </span>    
           </div>
          
      
        </div>
   </div>
  
    
 <div ng-show="showListCodes">

     <form ng-show="codesLoaded"  ng-submit="saveCodesDetails()" id="formCodes" name="formCodes" class="mt-2 form-horizontal" role="form" novalidate>
      <!--  <form ng-show="codesLoaded"  ng-submit="saveCodesDetails()" id="formCodes" name="formCodes" class="mt-2 form-horizontal" role="form" novalidate>-->

    
        <div id="Title" class="text-center modal-title fnt12 col my-3"> 
           
        </div>

      
        <div id="Details" class=""> 
	
				<div ng-if="codesDetails.length>0" ng-model="codesDetails">
					<!--<div style=" box-shadow: 1px 1px 2px 2px #00000021;" class="row mx-4">-->
             
                    <div style=" border-bottom: solid 1px gray;" class="row mx-4">
                    
						<div class="col-2 my-2 "><label class="bold">id</label></div>
						<div class="col-8 my-2"><label class="bold">Name</label></div>
						<div class="col-8 my-2"><label class="bold">Value</label></div>
						<div class="col-2 my-2 text-center"><label class="bold">Icon</label></div>
						<div class="col-2 my-2 text-center"><label class="bold">Active</label></div>
					</div>
					
                    <div   class="my-4"  >
                    
                    
                    <div ng-repeat="codeItem in codesDetails track by $index">
						<div class="row mx-4 my-1">
								<div class="col-2 align-items-center "> 
                                    <label class="form-control form-control-xs " style="border:none" >{{codeItem.id}}</label> 
                                </div>
                                
								<div class="col-8 px-1 align-items-center">
									<input  type="text" ng-model="codeItem.Name" ng-required="true" placeholder="Code Name" class="form-control form-control-xs"/>
								</div>
                                
								<div class="col-8 px-1 align-items-center">
									<input  type="text" ng-model="codeItem.Value" ng-required="true" placeholder="Code Value" class="form-control form-control-xs"/>					
								</div>
								
								 <div class="col-2 px-1 align-items-center text-center">
									 <div kt-icon-picker title='TEST' unique-id="$index+'_'+codeItem.id" select-colors="false" select-icons="true" selected-icon="codeItem.Params.Icon" selected-button="codeItem.Params.btnClass" ></div>
								 </div>
								 <div class="col-2 px-1 align-items-center text-center">
									 <button type="button"  class="btn btn-sm p-0" ng-class="{'btn-outline-success':codeItem.Active,'btn-outline-danger':!codeItem.Active}"  href title="Status" ng-click="codeItem.Active=!codeItem.Active">
                                        <i  class="px-1" ng-class="{'fas fa-check':codeItem.Active,'fas fa-times':!codeItem.Active}"></i>
                                     </button>
								 </div>
								 <div  class=" col-1 px-1 ml-2 align-items-center">
									 <button type="button" class="  btn btn-sm p-0 px-1"  title="Remove code" ng-click="removeCode($index)">
                                        <i  class="fas fa-trash-alt"></i>
                                     </button>
								 </div>
						 </div>
					</div>
                    </div>
       
					
					
			</div>
			
			 <div class="col my-1 text-center">
					<div style="border:none;margin-left: -100px;" type="button" id="clearBtn"  ng-click="addEmptyCodeItem()" class="btn btn-lg btn-outline-primary ">
							<span class='fa fa-plus'></span> 
                     </div>
			</div>
            
             <div class="col my-1">
					
				<div class="my-2">
					<button type="submit" id="submitBtn" ng-disabled="formCodes.$invalid || codeDetails.length>0" class="btn btn-outline-primary">
					 <span class='fa fa-save'></span>&nbsp Save codes</button>
				</div>  
			</div>
            
            
		</div>
	</form>

    </div>

      </div>
      
     
      
    </div>
  </div>
</div> 
