<div ng-form="ktListProperties{{fd.PresentationId}}">
     
     <div kt-property-header>  </div>

     <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            Basic  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
        
        
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
		
		<div class="mb-1 border-bottom">
				<label class="label-xs text-muted bold">Date type</label>
		</div>
		 <div>
			
			<label class="custom-control-label label-xs">
				<input type="radio" class="mr-1" ng-model="fd.Dbtype" value="datefielddefinition"></input>
				Date
			</label>
		</div>
		<div>
			
			<label class="custom-control-label label-xs">
				<input type="radio" class="mr-1" ng-model="fd.Dbtype" value="datetimefielddefinition"></input>
				Date and time
			</label>
		</div>
		 
		<div ng-if="fd.dirLoaded">
		 
			<label class="label-xs text-muted">Date format </label> 

			<kt-dropdown-standard ng-model="fd.ParametersLang.format1" size="'small'" selected-items="fd.ParametersLang.format1" is-multiple="false" name="dateFormat{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.dateFormatList" dropdown-id="'dateFormat'+fd.PresentationId" parent-form-id="'dateFormat'+fd.PresentationId" search-text="'Select date format'"></kt-dropdown-standard>
		</div>
		<div ng-if="fd.dirLoaded && fd.Dbtype=='datetimefielddefinition'">
        	
        	<label class="label-xs text-muted">Time format </label>

        	<kt-dropdown-standard ng-model="fd.ParametersLang.format2" size="'small'" selected-items="fd.ParametersLang.format2" is-multiple="false" name="timeFormat{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.timeFormatList" dropdown-id="'timeFormat'+fd.PresentationId" parent-form-id="'timeFormat'+fd.PresentationId" search-text="'Select time format'"></kt-dropdown-standard>

        </div>
        
		<!--<label class="label-xs text-muted">Selected format: {{fd.ParametersLang.format1.name}} {{fd.ParametersLang.format2.name}}  </label>-->
	 
		<br><label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
		<label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
		
	</div>	

    </div>
	
	<div kt-field-extended-properties></div>   
	
 </div>   
