<div>
	<!--<div class="expand-property-panel tag" data-toggle="collapse" href="#extendedPropertyPanel" role="button" aria-expanded="true" aria-controls="extendedPropertyPanel">
				Date extended properties
                  
                  	<svg class="settings" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><path opacity=".3" d="M19.28 8.6l-.7-1.21-1.27.51-1.06.43-.91-.7c-.39-.3-.8-.54-1.23-.71l-1.06-.43-.16-1.13L12.7 4h-1.4l-.19 1.35-.16 1.13-1.06.44c-.41.17-.82.41-1.25.73l-.9.68-1.05-.42-1.27-.52-.7 1.21 1.08.84.89.7-.14 1.13c-.03.3-.05.53-.05.73s.02.43.05.73l.14 1.13-.89.7-1.08.84.7 1.21 1.27-.51 1.06-.43.91.7c.39.3.8.54 1.23.71l1.06.43.16 1.13.19 1.36h1.39l.19-1.35.16-1.13 1.06-.43c.41-.17.82-.41 1.25-.73l.9-.68 1.04.42 1.27.51.7-1.21-1.08-.84-.89-.7.14-1.13c.04-.31.05-.52.05-.73 0-.21-.02-.43-.05-.73l-.14-1.13.89-.7 1.1-.84zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"></path><path d="M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"></path></svg>
                  
	</div>-->
    
      <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#extendedPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col px-1">
            Extended properties  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
        
        
        
	<div class="mb-4 collapse show" id="extendedPropertyPanel">
		<div ng-if="!fd.Parameters.CustomSize">
			<!--<div class="my-1 small bold text-primary border-bottom border-primary">Grid size</div>-->
				<label class="label-xs text-muted">Element width</label>
				
				<input  type="range" min="1" max="24"   ng-model="fd.Parameters.ElementWidth"   class="form-control form-control-xs" />
			
			  <label class="label-xs text-muted">Label length </label>
			  <input  type="range" min="1" max="24"   ng-model="fd.LabelLength"   class="form-control form-control-xs" />
				<label class="label-xs text-muted">Value length </label> <input  type="range" min="1" max="24"  ng-model="fd.ValueLength"  class="form-control form-control-xs" />
		</div>
		<div ng-if="fd.Parameters.CustomSize">
			<div class="mb-1 small bold">Custom size</div>
		 
			  <label class="label-xs text-muted">Label length </label> <input  type="text" ng-model="fd.Parameters.LabelStyle.Width"   class="form-control form-control-xs" />
				<label class="label-xs text-muted">Value length </label> <input  type="text" ng-model="fd.Parameters.ElementStyle.Width"  class="form-control form-control-xs" />
		</div>
		
		<div class="custom-control custom-checkbox">
                    
					<input type="checkbox" class="custom-control-input" id="cbUseDefault" ng-model="fd.UseDefault"> 
					<label class="custom-control-label label-xs" for="cbUseDefault">Show default value</label>
							 
		</div>
				  
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbShowField" ng-model="fd.ShowField"> 
					<label class="custom-control-label label-xs" for="cbShowField">Show field</label>
							 
		</div>
			
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbUseSystemDate" ng-model="fd.UseSystemDate"> 
					<label class="custom-control-label label-xs" for="cbUseSystemDate">Populate with system date/time</label>
							 
		</div>
				   
				   
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbReadOnly" ng-model="fd.ReadOnly"> 
					<label class="custom-control-label label-xs" for="cbReadOnly">Read only</label>
							 
		</div>
				  
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbUpdateWithDefault" ng-model="fd.UpdateWithDefault"> 
					<label class="custom-control-label label-xs" for="cbUpdateWithDefault">Update with default value</label>
							 
		</div>
			
			
		<label>Default: {{fd.DefaultValue}} </label>
		
		<div class="custom-control custom-checkbox">
				          
		          <input type="checkbox" class="custom-control-input" id="cbNoUpdate" ng-model="fd.NoUpdate"> 
		          <label class="custom-control-label label-xs" for="cbNoUpdate">Do not update or search this field</label>
				           
		</div>
		
		          <button type="button" class="mt-2 btn btn-xs btn-warning" title="Delete container" ng-click="localVars.gsrvc.changeConfirmDeleteElement()"><i  class="fa fa-trash text-dark" ng-class="{'disabled': formParams.formLocked}"></i>
			          Delete element
		          </button>
		          <div class="my-1">
			          <div ng-if="localVars.gsrvc.getConfirmDeleteElement()" class="card">
				          <div class="card-header p-0 px-1 bg-light">
					          
					          <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete element confirmation</span></span>
					          
				          </div>
				          <div class="my-1">
					          <div class="ml-1 small bold text-dark">Click Confirm to delete element! </div>
					          <div class="ml-1 small text-dark">This action may result in a loss of data!</div>
				          </div>
				          <div class="p-1">
					          <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="localVars.gsrvc.deleteElement(fd)">
						          Confirm <i  class="ml-2 fa fa-check"></i>
					          </button>
					          <button type="button" ng-click="localVars.gsrvc.setConfirmDeleteElement(false)"  class="btn btn-xs btn-link text-muted ml-auto">Cancel</button>
				          </div>
			          </div>
		          </div>
          </div>
</div>