<style>
.text-gray {
    color: #00dbdb;
}
</style>
<div idd="ktDate2" class="form-group row m-0 mt-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-form="innerForm{{fd.ItemId}}" ng-class="{ 'was-validated' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched),'bg-gray-20 m-1 p-1 shadow-sm':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened() }">
     
  <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
           
   </div>

   <div style="{{fd.labelAlign}}" class="{{fd.gridClassElement}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
	<!--  DATE - value -->
	<div  ng-if="!fd.ReadOnly" > 	
       <div name="first-date" ng-if="!fd.Search.ShowSecondDate">
            <div  class= "input-group">	
              <input kt-style-attribute fd="fd" ng-class="{'text-gray':innerForm.$pristine }" style-type="'element'" style="{{fd.customStyleElement}}" type="date" class="form-control" aria-describedby="date{{fd.ItemId}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.on_change_action()"   name="{{fd.Name}}{{fd.ItemId}}" ng-required="fd.Required" close-text="Close" />
               <span class="invalid-feedback">{{fd.ErrorMsg}}</span>
            </div>

	   </div>
			
       <!-- second date -->
       <div name="second-date" ng-if="fd.Search.ShowSecondDate">	
             <!-- fromDate labela -->
             <div class= "input-group">	
                  <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="date" class="form-control" ng-model="fd.Search.fromDate" placeholder="From date" aria-describedby="date{{fd.ItemId}}-2" ng-model="fd.Search.fromDate" name="{{fd.Name}}TST" close-text="Close" /> 
             </div>
             
              <!-- toDate labela -->
              <div  class= "input-group mt-1">	
                  <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="date" class="form-control" ng-model="fd.Search.toDate" placeholder="To date"  ng-model="fd.Search.toDate" name="{{fd.Name}}TST2" close-text="Close" />
              </div>

       </div>
				
	   
   </div> <!--ne diraj-->

    <div  ng-if="fd.ReadOnly">
        <div kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" style="min-height: 35px;" class="form-control border rounded p-1">{{formData[0][fd.FieldName] | date: fd.format}}</div>
          
    </div>

    <!--  BLUE DROPDOWN   style="visibility:visible !important" -->
	    <div style="visibility:visible !important"   class="blue-dropdown rounded shadow" >

			<div class="dropdown element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
				<span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
				<a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href>
                    <i class=" fa fa-grip-vertical element-drag-handle"></i>
                </a>
				<a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="fd.showProperties()"><i class="fa fa-cog"></i> </a>		
			<!--
				<a ng-if="showSearchFilters || formParams.formViewType==1" id="search-filter-{{fd.PresentationId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
					<i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
				<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.PresentationId}}">
			 
				<div class="btn-group-vertical" role="group" aria-label="Search filter">
			    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyDateFilters(0)" ng-class="{'active':fd.Search.filter=='gt'}">  <span class="{{search[0].icon}}"></span> {{search[0].name}} </button>
			    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyDateFilters(1)" ng-class="{'active':fd.Search.filter=='lt'}">  <span class="{{search[1].icon}}"></span> {{search[1].name}}</button>
			    <button type="button"  class="btn btm-sm btn-light" ng-click="applyDateFilters(2)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="{{search[2].icon}}"></span> {{search[2].name}}</button>	   
			    <button type="button"  class="btn btm-sm btn-light" ng-click="applyDateFilters(3)" ng-class="{'active':fd.Search.filter=='beetwen'}">  <span class="{{search[3].icon}}"></span> {{search[3].name}}</button>	   
			  </div>
			</div>-->

			</div>

			<div class="" aria-labelledby="mass-property-{{fd.PresentationId}}" kt-mass-update-properties>
	    </div>
		</div>
	
	</div>
	 
 </div>
	