
<div class="m-2  row py-2">


	<div>
            

				<label  class="kt-checkbox-label" for="cbHasParent{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbHasParent{{fd.PresentationId}}" ng-model="fd.HasParentDataset" ng-checked="fd.HasParentDataset" />  
					This is a child record (check and select parent dataset)
				</label>
                     
     
                     
	</div>

	<div ng-if="fd.HasParentDataset && fd.selectedResourceItemParent.name_confirmed" class="col my-auto text-right">
       
          <label class="label">Parent dataset name: <b>{{fd.selectedResourceItemParent.name_confirmed}}</b></label>
        
	 </div>	 
</div>


<div ng-if="fd.HasParentDataset" class="m-2 row p-2">       
    <div class="col-12 p-1">
         		<span class=""><h6>Select parent dataset</h6></span>
             <div ng-form="innerFormParentDataset{{fd.PresentationId}}">
    					<kt-dropdown-standard ng-if="fd.datasetListParentDownloaded" is-multiple="false" 
                                 ng-model="fd.selectedDatasetParent" 
                                 selected-items="fd.selectedDatasetParent" 
                                 required-field="false" 
                                 dropdown-items="fd.datasetListParent" 
                                 dropdown-id="'datasetParent'+fd.PresentationId" 
                                 parent-form-id="'innerFormParentDataset'+fd.PresentationId" 
                                 search-text="'Select parent dataset'"
                                 on-select-fn="fd.onSelectDatasetParentCallback(item,model)">
                         </kt-dropdown-standard>
                         
                          <div ng-if="fd.datasetListParent.length==0"> No parent datasets !</div>
                         
                </div>  
             
    </div>
         


  <div class="col-24 p-0">
      
    <div class="row m-1 my-3">
        <div class="col-24 p-1">
           <span class="h6">Choose parent dataset record</span>
        </div>

      <div class="col-24">
			<div class="my-1">
				
				<label class="label-xs my-auto">
					<input type="radio" ng-model="fd.PopulateParentMethod" value="A">
				 	</input>Auto select parent record
		        </label>
			</div>
			<div class="mb-1">

				<label class="label-xs">
					<input type="radio" ng-model="fd.PopulateParentMethod" value="M">
		        	</input>
						Manually select parent record (using the search form)
				 </label>
			</div>

      </div>
             
   <div ng-if="fd.PopulateParentMethod=='A'" class="row m-0 my-1 text-dark">
            <div class="col-24"><h6>Select source of data</h6></div>
            <div class="col-6">
            
                <div class="bg-gray-100 row m-0 p-1 text-center">
					<div class="col-auto">  
						<b>Previous Task</b>
					</div>
					<div class="col text-right">
						<a href title="Click to select previous task"><i
							ng-class="{'far fa-square ml-3 text-danger':fd.PopulateTypeParentLocal!='3','far fa-check-square ml-3 text-success':fd.PopulateTypeParentLocal=='3'}"
							ng-click="fd.localVars.setSelectedSourceParent(-1)"></i></a>
					</div>
				</div>

            </div>
            <div class="col">
				
              <div class="bg-gray-100 mb-2 p-1 text-center"><b>This Task</b> </div>
            
              <div class="col mb-3" ng-repeat="cti in fd.localVars.currentTaskInitiateDatasetsParent track by $index">
                <div class="row bg-gray-100 p-1">
									<div class="col">  
									  <div><b>Task:</b> {{cti.task_name}} ({{cti.task_def_id}})</div>
									  <div><b>Widget id:</b> {{cti.parentElementId}}</div>
									  <div><b>Dataset id:</b> {{cti.relatedId}}</div>
									  <div><b>Widget type:</b> {{cti.type}}</div>
									</div>
					
									<div class="col-auto">
										<a href title="Click to select previous task"><i
											ng-class="{'far fa-square ml-3 text-danger':cti.parentElementId!=fd.SrcParentWidgetId || fd.PopulateTypeParentLocal!='2','far fa-check-square ml-3 text-success':cti.parentElementId==fd.SrcParentWidgetId && fd.PopulateTypeParentLocal=='2'}"
											ng-click="fd.localVars.setSelectedSourceParent(cti)"></i></a>
									</div>
					
                </div>
              </div>
              <div class="col mb-3" ng-if="fd.localVars.formType=='e'" ng-repeat="cte in fd.localVars.currentTaskExecuteDatasetsParent track by $index">
                <div class="row bg-gray-100 p-1">
									<div class="col" >	
										<div><b>Task:</b> {{cte.task_name}} ({{cte.task_def_id}})</div>
										<div><b>Widget id:</b> {{cte.parentElementId}}</div>
										<div><b>Dataset id:</b> {{cte.relatedId}}</div>
										<div><b>Widget type:</b> {{cte.type}}</div>
								  </div> 
					
									<div class="col-auto" >	
										<a href title="Click to select widget this task"><i
											ng-class="{'far fa-square ml-3 text-danger':cte.parentElementId!=fd.SrcParentWidgetId || fd.PopulateTypeParentLocal!='2','far fa-check-square ml-3 text-success':cte.parentElementId==fd.SrcParentWidgetId && fd.PopulateTypeParentLocal=='2'}"
											ng-click="fd.localVars.setSelectedSourceParent(cte)"></i></a>
				          </div>
				
                </div>  
             </div>
          </div>
        </div>
                     
    </div>
     
  </div>
   
</div>
<div class="row p-2 m-0 mt-2" ng-if="fd.HasParentDataset">
  <button class="btn btn-primary btn-sm" type="button" ng-click="fd.confirmParent()">Confirm</button>
</div>