<div id="ktDatasetMapper{{fd.PresentationId}}" class="card border-0">
  <div class="row m-0">
      <div ng-if="fd.localVars.resourceTypesList.length>0" class="col-lg-24 my-2">
        <span class="h6">Select resource type </span>
      </div>
      <div ng-if="fd.localVars.resourceTypesList.length>0"  class="col-lg-24">
          <div ng-repeat="rt in fd.localVars.resourceTypesList" class="form-check form-check-inline">
            <label class="form-check-label">
            <input type="radio" ng-model="fd.Parameters.SelectedResourceType" value="{{rt.type}}" ng-click="fd.localVars.GetPublishedResourcesByType(rt.type)">
            {{rt.name}}</label>
          </div>
      </div>

    <div ng-if="fd.Parameters.SelectedResourceType" class="col-24 mt-2">
     
          <span class="h6 text-dark"> Select {{fd.Parameters.SelectedResourceType}} </span>
    </div>
    <div ng-if="fd.Parameters.SelectedResourceType" class="col-12 mt-2" ng-form="innerForm{{fd.PresentationId}}">   
     
              <div ng-form="innerForm{{fd.PresentationId}}">
    					<kt-dropdown-standard ng-if="fd.localVars.publishedResourceList.length>0" is-multiple="false" 
                                 ng-model="fd.localVars.selectedDataset" 
                                 selected-items="fd.localVars.selectedDataset" 
                                 required-field="true" 
                                 dropdown-items="fd.localVars.publishedResourceList" 
                                 dropdown-id="fd.Name+fd.ItemId" 
                                 parent-form-id="'innerForm'+fd.PresentationId" 
                                 search-text="fd.SearchText"
                                 on-select-fn="fd.localVars.onSelectDatasetCallback(item,model)"
                                 >
                         </kt-dropdown-standard>
                         
                          <div ng-if="fd.localVars.publishedResourceList.length==0"> No published {{fd.Parameters.SelectedResourceType}}s !</div>
                         
                </div>  

               
    </div>
    
                        
	</div>
  
  <div ng-if="!fd.localVars.hidePopulateMethod && fd.Parameters.SelectedResourceType" class="row m-0 my-3 text-dark">
        <div class="col-lg-24">
           <span class="h6">Choose the source of data </span>
        </div>
        <div class="col-lg-24">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                      <input class="form-check-input" value="A" type="radio" data-ng-model="fd.PopulateMethod"> 
                      Automatic data mapping</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" value="M" type="radio"  data-ng-model="fd.PopulateMethod"> 
                        Manual entry (using the form)</label>
                    </div>
        </div>
   </div> 
              
   <div ng-if="fd.PopulateMethod=='A'" class="row m-0 my-1 text-dark">
            <div class="col-24"><h6>Select source of data</h6></div>
            
						<div class="col-6">
							
							<div class="bg-gray-100 row m-0 p-1 text-center">
									<div class="col"><b>Previous Task</b></div>
									
									<div class="col-auto">
										<a href title="Click to select previous task"><i
												ng-class="{'far fa-square ml-3 text-danger':fd.RelatedPopulateType!='3','far fa-check-square ml-3 text-success':fd.RelatedPopulateType=='3'}"
												ng-click="fd.localVars.setSelectedSource(-1)"></i></a>
									</div>
							</div>
            </div>
            <div class="col">
           
            
							<div class="bg-gray-100 mb-2 p-1 text-center"><b>This Task</b> </div>

	 
            
              <div class="col mb-3" ng-repeat="cti in fd.localVars.currentTaskInitiateDatasets track by $index">
                <div class="row bg-gray-100 p-1">
                  <div class="col">
                   <span><b>Task:</b> {{cti.task_name}} ({{cti.task_def_id}})</span>
                   <span><b>Widget id:</b> {{cti.parentElementId}}</span>
                   <span><b>Dataset id:</b> {{cti.relatedId}}</span>
                   <span><b>Widget type:</b> {{cti.type}}</span>
									</div> 
									<div class="col-auto">	
										<a href title="Click to select widget"><i
                      ng-class="{'far fa-square ml-3 text-danger':cti.parentElementId!=fd.SrcWidgetId || (fd.RelatedPopulateType!='2' && fd.RelatedPopulateType!='4') ,'far fa-check-square ml-3 text-success':(cti.parentElementId==fd.SrcWidgetId && fd.RelatedPopulateType=='2') || fd.RelatedPopulateType=='4'}"
                      ng-click="fd.localVars.setSelectedSource(cti)"></i></a>
                  </div> 
                  
                 
                </div>
              </div>
              <div class="col  mb-3" ng-if="fd.localVars.formType=='e'" ng-repeat="cte in fd.localVars.currentTaskExecuteDatasets track by $index">
                <div class="row bg-gray-100 p-1">
									
										<div class="col">	
											<div><b>Task:</b> {{cte.task_name}} ({{cte.task_def_id}})</div>
											<div><b>Widget id:</b> {{cte.parentElementId}}</div>
											<div><b>Dataset id:</b> {{cte.relatedId}}</div>
											<div><b>Widget type:</b> {{cte.type}}</div>
										</div>
										
										<div class="col-auto" >
											<a href title="Click to select widget"><i
												ng-class="{'far fa-square ml-3 text-danger':cte.parentElementId!=fd.SrcWidgetId || (fd.RelatedPopulateType!='2' && fd.RelatedPopulateType!='4') ,'far fa-check-square ml-3 text-success':(cte.parentElementId==fd.SrcWidgetId && fd.RelatedPopulateType=='2') || fd.RelatedPopulateType=='4'}"
												ng-click="fd.localVars.setSelectedSource(cte)"></i></a>
										</div>
								
								</div>  
             </div>
          </div>
        </div>
                  
        
  </div>
  <div class="row p-2 m-0 mt-2">
			<div>
				<button class="btn btn-primary btn-sm" type="button" ng-click="fd.localVars.confirm()">Confirm</button>
			</div>
  </div>
</div>