<div class="form-group row m-0 mt-1 dataset-item" ng-if="::fd.ShowField" ng-form="innerForm{{::fd.ItemId}}" ng-class="{ 'was-validated' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched),'bg-gray-20 m-1 p-1 border shadow-sm':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened() }">
     
  <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{::fd.labelAlign}}" class="{{::fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{::fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{::fd.Label}} 
           </label>
           
   </div>

   <div style="{{fd.labelAlign}}" class="{{fd.gridClassElement}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
	<!--  DATE - value -->
			<div   ng-if="!fd.ReadOnly" >
      	
        <div name="first-date" ng-if="!fd.Search.ShowSecondDate">
          <!--<b ng-if="fd.type=='rlist'"> {{fd.Search.name}}:  </b>-->
              
            <div  class= "input-group">	
              <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="date" class="form-control" aria-describedby="date{{fd.PresentationId}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.on_change_action()"   name="{{fd.Name}}{{fd.ItemId}}" ng-required="fd.Required" close-text="Close" />
             
               <span class="invalid-feedback">{{::fd.ErrorMsg}}</span>
												</div>

           
            
             

	 	  </div>
			
         <!-- second date -->
      <div name="second-date" ng-if="fd.Search.ShowSecondDate">	
                 <!-- between1 labela -->
              
                <div class= "input-group">	
                  
                    <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="date" class="form-control" ng-model="fd.Search.between1" placeholder="From date" aria-describedby="date{{fd.PresentationId}}-2" ng-model="fd.Search.between1" name="{{fd.Name}}TST" close-text="Close" ng-change="fd.on_change_between('between1')" />
                  
               </div>
              
                <!-- between2 labela -->
              
                <div  class= "input-group mt-1">	
                  
                    <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="date" class="form-control" ng-model="fd.Search.between2" placeholder="To date"  ng-model="fd.Search.between2" name="{{fd.Name}}TST2" close-text="Close" ng-change="fd.on_change_between('between2')"/>
                 
                    
              
                </div>

        </div>
	
	 </div>	 <!--ne diraj-->

    <div  ng-if="fd.ReadOnly">
        <div kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" ng-class="{'form-control':fd.Parameters.BorderForReadOnly}">{{formData[0][fd.FieldName] | date: fd.format}}</div>
          
    </div>
		 
	 <div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="::showSearchFilters">
		
			<a  id="search-filter-{{::fd.PresentationId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
				<i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
			<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{::fd.PresentationId}}">
			 
			 <div ng-if="fd.localVars.filterReady" class="btn-group-vertical" role="group" aria-label="Search filter">
					<button type="button"  class="btn btm-sm btn-light"  ng-click="applyDateFilters(0)" ng-class="{'active':fd.Search.filter=='gte'}">  <span class="{{fd.localVars.search[0].icon}}"></span> {{::fd.localVars.search[0].name}} </button>
					<button type="button"  class="btn btm-sm btn-light"  ng-click="applyDateFilters(1)" ng-class="{'active':fd.Search.filter=='lte'}">  <span class="{{fd.localVars.search[1].icon}}"></span> {{::fd.localVars.search[1].name}}</button>
					<button type="button"  class="btn btm-sm btn-light" ng-click="applyDateFilters(2)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="{{fd.localVars.search[2].icon}}"></span> {{::fd.localVars.search[2].name}}</button>	   
					<button type="button"  class="btn btm-sm btn-light" ng-click="applyDateFilters(3)" ng-class="{'active':fd.Search.filter=='between'}">  <span class="{{fd.localVars.search[3].icon}}"></span> {{::fd.localVars.search[3].name}}</button>	   
				</div>
			</div>
			
	  </div>
	</div>
	 
 </div>
	