<div class="row p-2">
    
	  <div class="col-12">
      
		<div>
			<span class="badge badge-primary">Available mappings</span>
		</div>
		<div class="border border-primary rounded p-2 available" dragula="'bag-mapping'" dragula-scope="$root" dragula-model="mappingList" ng-model="mappingList">
			<div class="tag border rounded bg-primary-light row m-0 pl-2" ng-repeat="map in mappingList track by map.id">
				
					<div class="col p-0">
						<a href ng-click="localVars.showMappingDetailsFn(map)" data-toggle="modal" data-target="#d2dMapper{{fd.PresentationId}}" class="">{{map.name}}</a>
					</div>
					<div class="col-auto p-0">
						<button type="button" class="btn btn-xs btn-outline-primary border-0 element-drag-handle">
							<i class="fas fa-grip-vertical element-drag-handle"></i>
						</button>		
					</div>
				
			</div>

		</div>
	</div>
	<div class="col-12">
      
	   <div>
	   	<span class="badge badge-success" ng-if="fd.DatasetMapping==undefined || fd.DatasetMapping.length==0" class="mx-2"> 0 mappings selected</span>
		<span class="badge badge-success"ng-if="fd.DatasetMapping.length>0" class="mx-2"> {{fd.DatasetMapping.length}} mapping(s) selected</span>
	
	   </div>
		<div ng-if="mappingsLoaded" class="border border-success rounded p-2 selected" dragula-scope="$root" dragula="'bag-mapping'" dragula-model="fd.DatasetMapping" ng-model="fd.DatasetMapping">
			
             <div  class=""  ng-if="fd.DatasetMapping==undefined || fd.DatasetMapping.length==0"> Drop here </div>
             
            <div class="tag border rounded bg-success-light row m-0 pl-2" ng-repeat="sMap in fd.DatasetMapping track by sMap.id">
				<div class="col p-0">
					<a href ng-click="localVars.showMappingDetailsFn(sMap)" data-toggle="modal" data-target="#d2dMapper{{fd.PresentationId}}" class="text-success">{{sMap.name}}</a>
				</div>
				<div class="col-auto p-0">
					<button type="button" class="btn btn-xs btn-outline-success border-0 element-drag-handle">
							<i class="fas fa-grip-vertical element-drag-handle"></i>
					</button>		
				</div>
			</div>


		</div>
     
	</div>
  
	  
     <div ng-if="saveDatasetMappingHeadStatus!='updateMapping'" class="col-24 my-2">
		<button type="button" ng-click="localVars.showMappingData()" kt-bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
			title="Didn't find the mapping you need. No problem, all you need is to click on a button to Create a new one!"
			class="btn btn-outline-primary btn-sm">
                  <i class="fa fa-plus"></i> Create New Mapping 
					  
            </button>
		<!--<a class="btn btn-outline-primary btn-xs border-0" href kt-bootstrap-tooltip data-toggle="tooltip" data-placement="bottom"
		   title="Didn't find the mapping you need. No problem, all you need is to click on a button to Create a new one!">?</a>
		-->
		
     </div>
     
	<div id="d2dMapper{{fd.PresentationId}}" class="modal fade">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
		  
				<!-- Modal Header -->
				<div class="modal-header">
				  <h4 class="modal-title">Define mapping</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			
				<!-- Modal body -->
				<div class="modal-body">
					<div class="row m-0">
						<div name='addNewMapping'  class="col-lg-6 my-2">
						     <!--
						     <button  ng-if="localVars.showMappingDetails" class="btn btn-link btn-xs border-0" type="button" ng-click="localVars.showMappingName=!localVars.showMappingName">Edit mapping</button>
						    -->
						     
						     <div  ng-if="localVars.showMappingName" class="col-24 my-2">
								    
							   <div class="mt-2"> 
								<label class="">  Mapping Name </label>
								<input  type="text" ng-model="mappingFields.mappingName"  placeholder="Enter  name..."class="form-control"/>
							  </div>
											    
							    <div class="mt-2">  
								<label class="">  Display Name </label>
								<input  type="text" ng-model="mappingFields.mappingDisplayName"  placeholder="Enter display name..."class="form-control" />
							  </div>
							 
							  <label class="mt-2">Select dataset1</label>
							  <kt-dropdown-standard ng-model="mappingFields.dataset1" ng-if="localVars.datasetLoaded" selected-items="mappingFields.dataset1" is-multiple="false" name="dataset1Id" ng-required="false" dropdown-items="localVars.datasetList" dropdown-id="'dataset1Mapping'+fd.PresentationId" parent-form-id="'mappingParent'+fd.PresentationId" search-text="'Select dataset 1'"></kt-dropdown-standard>
									    
						    
						     <label class="mt-2">Select dataset2</label>
							   <kt-dropdown-standard ng-model="mappingFields.dataset2" ng-if="localVars.datasetLoaded" selected-items="mappingFields.dataset2" is-multiple="false" name="dataset2Id" ng-required="false" dropdown-items="localVars.datasetList" dropdown-id="'dataset2Mapping'+fd.PresentationId" parent-form-id="'mappingParent'+fd.PresentationId" search-text="'Select dataset 2'"></kt-dropdown-standard>
							    
									 
							<label class="mt-2">Select mapping type</label>
							   <kt-dropdown-standard ng-model="mappingFields.mappingType" ng-if="localVars.mappingTypeLoaded" selected-items="mappingFields.mappingType" is-multiple="false" name="dtaset1Id" ng-required="false" dropdown-items="localVars.codeList" dropdown-id="'mappingType'+fd.PresentationId" parent-form-id="'mappingParent'+fd.PresentationId" search-text="'Select maping type'"></kt-dropdown-standard>
							    
							</div>
					    
				    
						</div> <!--  name='addNewMapping'-->
					    
						<div class="col-lg-18"><!--ng-show="!localVars.showMappingName && localVars.showMappingDetails"-->
						    
						    
							<div class="row my-2" ng-if="dataset1Loaded">
										   
							  
								<div  class="col-lg-8">
									<div class="sticky" ng-style="gsrvc.getTopForSticky(60)">
										<span class="badge badge-primary"  >DATASET 1 - {{selectedDataset1.name}} ({{selectedDataset1.id}})</span>  
									    
										<div id="dataset1-mapping" class="dataset1Container border border-primary rounded py-1">   
											<div style="max-height: 30rem;overflow: auto;" dragula="'bag-dataset-mapping'" dragula-scope="$root" dragula-model="dataset1Fields">
												<div ng-repeat="item in dataset1Fields track by item.id" class="exampleRow border rounded text-primary bg-primary-light p-1">
															 
													<div  class="element-drag-handle"><b class="element-drag-handle">{{$index+1}}. {{item.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b>
													    <i class="element-drag-handle">({{item.GenericType}})</i>
													</div>
														     
												</div> 
														     
											</div>
										</div>
									</div>
								</div>  
												
								<div class="col-lg-12">
								    
									<span class="badge badge-primary" >DATASET 2  - {{selectedDataset2.name}} ({{selectedDataset2.id}})</span>
									<div class="border border-primary rounded p-2">
										<div style="max-height: 30rem;overflow: auto;">
											<div ng-repeat="item2 in dataset2Fields track by $index" >
											    
												
												<div  ng-switch="item2.type" >
													
													<div ng-switch-when="date">
																  
														<div class=""> <b> {{$index+1}}. {{item2.name}}</b> <i>({{item2.type}} - from) </i></div>
															 
														<div  class="exampleRow{{$index}} border-primary rounded bg-primary-light" dragula="'bag-dataset-mapping'" dragula-scope="$root" dragula-model="item2.fields" style="min-height:50px; border:1px dashed ;" >
														<div ng-repeat="field in item2.fields track by $index" class="exampleCell bg-gray-200 border-0 element-drag-handle"> <b class="element-drag-handle">{{$index+1}}.  {{field.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b>
															<i class="element-drag-handle">({{field.GenericType}}) </i> <a class="btn btn-outline-danger border-0" href ng-click="removeItem($parent.$index,$index)"><i class="fa fa-times float-right"></i></a></div>
														</div>
																
														<div class=""> <b> {{$index+1}}. {{item2.name}}</b> <i>({{item2.type}} - to) </i></div>
																 
														<div  class="exampleRowFields2{{$index}} border-primary rounded bg-primary-light" dragula="'bag-dataset-mapping'" dragula-scope="$root" dragula-model="item2.fields2" style="min-height:50px; border:1px dashed ;" >
														<div ng-repeat="field in item2.fields2 track by $index" class="exampleCell bg-gray-200 border-0 element-drag-handle"> <b class="element-drag-handle">{{$index+1}}.  {{field.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b>
															<i class="element-drag-handle">({{field.GenericType}}) </i> <a class="btn btn-outline-danger border-0" href ng-click="removeItemF2($parent.$index,$index)"><i class="fa fa-times float-right"></i></a></div>
														</div>
													</div>
													  
													<div ng-switch-default>
														<div class=""> <b> {{$index+1}}. {{item2.name}}</b> <i>({{item2.type}}) </i></div>
															 
														<div  class="exampleRow{{$index}} border-primary rounded bg-primary-light" dragula="'bag-dataset-mapping'" dragula-scope="$root" dragula-model="item2.fields" style="min-height:50px; border:1px dashed ;" >
															<div ng-repeat="field in item2.fields track by $index" class="exampleCell bg-gray-200 border-0 element-drag-handle">
																
																<div class="row m-0">
																	<div class="col my-auto">
																		<span class="element-drag-handle">
																	
																			<b class="element-drag-handle">
																			{{$index+1}}.  {{field.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}
																			</b>
																			({{field.GenericType}}) 
																		</span>
																	</div>
																	<div class="col-auto p-0">
																		<a class="btn btn-outline-danger border-0" href ng-click="removeItem($parent.$index,$index)">
																			<i class="fa fa-times"></i>
																		</a>
																	</div>
																</div>
															</div>
														</div>
															    
															    
													</div>
												</div>
													
											</div>
										</div>
									</div>
								</div>                    
							</div>
						</div>
					
					</div>
					
					<div class="row m-0 mt-1 px-4" ng-show="localVars.showMappingDetails"> 
										
						<!--<button type="button" ng-click="saveDatasetMappingHead()" class="btn btn-light">
						<span class="fa fa-floppy-o"></span> Save as New Mapping</button>-->
						
						<button type="button"  class="btn btn-success" ng-show="saveDatasetMappingHeadStatus=='updateMapping'" ng-click="saveDatasetMappingHead(selectedResource)">
							<span class='fa fa-save'></span> Save changes </button> 
					     
						<button type="button"  class="btn btn-success" ng-show="saveDatasetMappingHeadStatus=='createMapping'" ng-click="saveDatasetMappingHead()">
							<span class='fa fa-save'></span> Save new mapping </button> 
									  
					</div>
					
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
				  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
     <!-- These are mapping details-->
</div>