<div class="mt-1">

 <button type="button" ng-if="fd.ElementType!='resourceid'" class="w-100 btn btn-xs btn-warning" title="Delete container" ng-click="localVars.gsrvc.changeConfirmDeleteElement()"><i  class="fa fa-trash text-dark" ng-class="{'disabled': formParams.formLocked}"></i>
						Delete element
					</button>
	<div class="my-1">
						<div ng-if="localVars.gsrvc.getConfirmDeleteElement()" class="card">
							<div class="card-header p-0 px-1 bg-light">
								
								<span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small"> This action may result in a loss of data!</span></span>
								
							</div>
							<div class="mt-2">
								<div class="ml-1 small bold text-center text-dark">  Click Confirm to delete element!</div>
							</div>
							<div class="p-1 text-center">
								<button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="localVars.gsrvc.deleteElement(fd)">
									Confirm <i  class="ml-2 fa fa-check"></i>
								</button>
								<button type="button" ng-click="localVars.gsrvc.setConfirmDeleteElement(false)"  class="btn btn-xs btn-link text-muted ml-auto">Cancel</button>
							</div>
						</div>
	</div>
	 
</div>
