

<div class="" >
   
	<div  kt-style-attribute fd="fieldElement" style-type="'element'"  style="{{fieldElement.customStyleElement}}" ng-style="size!='small' && {'min-height': '38px'}" class="row border rounded bg-white m-0 p-1" ng-class="{ 'border-danger is-invalid' : ($parent.{{parentFormId}}.$submitted || $parent.{{parentFormId}}.{{dropdownId}}.$touched) && $parent.{{parentFormId}}.$invalid}" ng-click="switchMode();">
		<div class="col p-0">
			<div class="badge badge-secondary m-1" ng-repeat="si in selectedItems track by si.id">
				<span class="{{::size}}" style="{{customStyleItems}}">{{::si.name}} ({{::si.id}})</span>
                <div style="position:relative">

                     <button style="position:absolute;   right: -12px;   top: -22px; color:black;background-color:azure; border-radius: 9px;padding: 1px 2px 1px 2px;" ng-if="localVars.editMode" type="button" class="border-0" ng-click="removeItem($event,$index)">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
			</div>
			
		</div>
        
		<div class="col-auto p-0 expand-property-panel"  role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			
            <i style="font-size: large;" ng-show="!localVars.editMode" class="fas fa-angle-down mr-1"></i> 

            <i style="font-size: large;" ng-show="localVars.editMode" class="fas fa-angle-up mr-1 ng-hide"></i>            
		</div>
						
	</div>  
	
      
   </div>  
   
   <!--  ng-show="localVars.editMode"  -->      
	<div id="pokazise{{$id}}"  ng-show="localVars.editMode"  ng-class="{'show shadow-sm border': localVars.editMode}" class="show-more   mx-n1 rounded bg-white" style="z-index:1000;position:absolute;width:99%;overflow-y: scroll;">
		
		<div style="position: sticky;    top: 0;">
			<input autofocus id="{{::parentFormId}}.{{::dropdownId}}search"  ng-focus="showDropdownItems=true" ng-blur="showDropdownItems=false" ng-class="{'form-control-xs':size=='small'}" ng-change="loadItemsOnChange()" ng-model-options="{ debounce: 1000 }" ng-model="search.searchFilter" type="text" placeholder="{{::searchText}}"  name="{{::parentFormId}}.{{::dropdownId}}search" class="w-100"/>
		</div>
		 	
         <div style="overflow-y: auto;">
         
		<div ng-repeat="item in dropdownItems track by item.id" ng-show = "item.name.toLowerCase().indexOf(search.searchFilter.toLowerCase())!=-1 || search.searchFilter.trim()==''"  >
			<label style="overflow: hidden;{{customStyleItems}}" ng-click="clickItem(item,$index);item.isSelected = !item.isSelected"  class=" bgOnHover d-flex align-items-center kt-checkbox-label" for="cbdd-{{dropdownId}}-{{item.id}}">
			
				<input  type="checkbox" class="  m-1" name="cbdd-{{dropdownId}}-{{item.id}}"  ng-model="item.isSelected" ng-checked="item.isSelected" style="overflow: hidden;" />  
				<span class="ml-1 bold" style="{{customStyleItems}}" > {{::item.name}} ({{::item.id}}) </span> 
			</label>	
		</div>
        </div>
		
	</div>
	
</div>