<div class="dropdown">
      
	<div ng-if="showSearchInput" class="position-absolute col p-0">
		<input autofocus id="{{::parentFormId}}.{{::dropdownId}}search" ng-change="loadItemsOnChange()" ng-model-options="{ debounce: 1000 }" ng-model="search.searchFilter" type="text"  ng-keydown="processKeyboardEntry($event,-1)" placeholder="Search items"  name="{{::parentFormId}}.{{::dropdownId}}search" class="form-control"/>
	</div>			
	<button type="button" href style="overflow-y:overlay" ng-keydown="processKeyboardEntry($event,-1)" ng-class="{'visibility-hidden':showSearchInput,'is-invalid border-danger':(form.$submitted || form.{{::dropdownId}}.$touched) && form.{{::dropdownId}}.$invalid}" ng-blur ="dropdownBlurred()" class="p-1 w-100 border btn form-control" title="" id="{{::parentFormId}}.{{::dropdownId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div class="row m-0 text-left">
				<div class="col px-1">
					<span ng-show="selectedItem!=null"  class="{{::size}}" style="overflow-y: hidden">{{selectedItem.name}}</span>
					<span ng-show="selectedItem==null" class="text-muted-strong {{::size}}" style="overflow-y: hidden">{{searchText}}</span>
				</div>
							
				<div ng-if="false" class="col-auto">
					<a class="btn btn-xs px-1 btn-outline-danger border-0" ng-click="clear($event)"><i class="fa fa-times"></i></a>
				</div>
				<div ng-hide="(form.$submitted || form.{{::dropdownId}}.$touched) && form.{{::dropdownId}}.$invalid" class="col-auto">
					<i class="fa fa-caret-down"></i>
				</div>
			</div>
			
	</button>
	
	<div ng-if="isMultiple && selectedItems.length>0" class="border-bottom border-right border-left rounded-bottom pt-2 mt-n2">
			<div  class="badge badge-secondary m-1" ng-repeat="si in selectedItems track by si.id">
				<span class="{{::size}}">{{si.name}}</span>
				<button type="button" class="btn btn-xs btn-outline-danger border-0" ng-click="removeItem($index)">
					<i class="fa fa-times"></i>
				</button>
			</div>
	</div>
      <div   class="dropdown-menu shadow w-100" aria-labelledby="{{::parentFormId}}.{{::dropdownId}}" style="z-index: 1050;">   
	      <div style="max-height:20rem;overflow-y:auto;width: inherit">
			<div  ng-repeat="di in dropdownItemsFiltered track by di.id" ng-keydown="processKeyboardEntry($event,$index)" class="text-primary dropdown-list-item mb-1">    
				
				 
									
				<a ng-if="::!!isMultiple" href id="{{::parentFormId}}.{{::dropdownId}}.DropdownItem{{::di.id}}" class="col dropdown-list-item {{::size}}" ng-click="selectItem($event,di)"><i class="mx-2" ng-class="isSelectedMultiple(di) ? 'far fa-check-square':'far fa-square'"></i><span>{{::di.name}}</span></a>
									 
	 
				<a ng-if="::!!isMultiple==false" href id="{{::parentFormId}}.{{::dropdownId}}.DropdownItem{{::di.id}}" ng-click="selectItem($event,di)" class="col dropdown-list-item">{{::di.name}}</a> 
			</div>
		</div>
		<div ng-if="selectedItem!=null" class="text-right small px-2">
			<a href class="small text-danger" ng-click="clear($event)">{{::clearCloseLink}}</a> 
		</div>
		<!--<p ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback','d-block':(form.$submitted || form.{{dropdownId}}.$touched) && form.{{dropdownId}}.$invalid}">{{searchText}}</p>-->
 
	</div>
</div>