<div idd="ktDropdownStandard" class="row m-0" ng-class="{'border rounded p-1':isMultiple && !editMode}" style="position: relative;min-height: 30px;">
      
	<select ng-if="!isMultiple" class="form-control"  
            ng-class="{'form-control-xs':size=='small','is-invalid' : ($parent.form.$submitted || $parent.form.{{::dropdownId}}.$touched) && $parent.form.{{::dropdownId}}.$invalid }" 
            name="{{::dropdownId}}" 
            ng-change="selectItem()" 
            ng-required="requiredField" 
            ng-model="model.selectedItems">
            
		    <option ng-if="searchText" value="" selected hidden class="text-light">{{::searchText}}</option>
		<option ng-repeat="(id,val) in dropdownItems track by val.id" ng-value="val">
				{{val.name}}
		</option>
     </select>
     
     <!--  <select ng-if="!isMultiple" class="form-control"  name="{{::dropdownId}} "
          ng-class="{'form-control-xs':size=='small','is-invalid' : ($parent.form.$submitted || $parent.form.{{::dropdownId}}.$touched) && $parent.form.{{::dropdownId}}.$invalid }" 
          ng-options="option.name for option in dropdownItems  track by option.id"
          ng-model="model.selectedItems"
          ng-change="selectItem()" 
          ng-required="requiredField" 
          >
         <option ng-if="searchText" value="" selected hidden class="text-light">{{::searchText}}</option> 
      </select>-->
      

	<div ng-if="isMultiple" class="p-0" style="z-index:10000" ng-class="{'col-lg-24 position-absolute border rounded bg-white shadow-sm':editMode,'col-lg-23' :!editmode}">
		
		<div ng-class="{'p-1':editMode}">
			<input ng-show="editMode" autofocus id="{{::parentFormId}}.{{::dropdownId}}search"  ng-focus="showDropdownItems=true" ng-blur="showDropdownItems=false" ng-class="{'form-control-xs':size=='small'}" ng-change="loadItemsOnChange()" ng-model-options="{ debounce: 1000 }" ng-model="search.searchFilter" type="text" placeholder="{{::searchText}}"  name="{{::parentFormId}}.{{::dropdownId}}search" class="w-100 px-1 border-0"/>
		</div>
        
		<select class="w-100 border-top border-bottom border-left-0 border-right-0" ng-class="{'form-control-xs':size=='small'}" 
            ng-if="editMode" name="{{::dropdownId}}" 
            ng-change="selectItem()" multiple
            ng-required="::required" 
            ng-model="model.selectedItems">
			
			<option ng-if="id!=undefined && showId" ng-show = "val.name.toLowerCase().indexOf(search.searchFilter.toLowerCase())!=-1 || search.searchFilter.trim()==''" ng-repeat="(id,val) in dropdownItems track by id" ng-value="::val">
				{{::val.name}} ({{::val.id}})
			</option>
			
			<option ng-if="id!=undefined && !showId" ng-show = "val.name.toLowerCase().indexOf(search.searchFilter.toLowerCase())!=-1 || search.searchFilter.trim()==''" ng-repeat="(id,val) in dropdownItems track by id" ng-value="::val">
						{{::val.name}}
			</option>
	
		</select>
		<div ng-click="setEditMode(true)" class="" style="overflow: auto">
			<div class="badge badge-secondary m-1" ng-repeat="si in model.selectedItems track by si.id">
				<span class="{{::size}}">{{::si.name}} ({{::si.id}})</span>
				<button ng-if="editMode" type="button" class="btn btn-xs btn-outline-danger border-0 p-0 px-1" ng-click="removeItem($index)">
					<i class="fa fa-times"></i>
				</button>
			</div>
					
			<!--
			<div ng-if="selectedItem!=null" class="text-right small px-2">
				<a href class="small text-danger" ng-click="clear($event)">{{::clearCloseLink}}</a> 
			</div>
			<p ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback','d-block':(form.$submitted || form.{{dropdownId}}.$touched) && form.{{dropdownId}}.$invalid}">{{searchText}}</p>-->
			
		</div>
		<div ng-if="editMode" class="p-1">
				<button  type="button" class="btn btn-xs btn-success border-0" ng-click="acceptChanges()">
							Apply
				</button>
				<button  type="button" class="btn btn-xs btn-danger border-0 ml-1" ng-click="setEditMode(false)">
							Cancel
				</button>
		</div>	
	</div>
	
	<div ng-if="isMultiple && !editMode && model.selectedItems.length==0" ng-click="setEditMode(true)" class="col-lg-23 p-0" >
		<!--<span class="badge badge-secondary m-1">0 items selected</span>	-->
	</div>
	<div class="p-0 px-1" ng-class="{'col-lg-1':model.selectedItems.length!=0,'col-lg-24':model.selectedItems==undefined || model.selectedItems.length==0}" ng-if="isMultiple && !editMode">
		<button  type="button" class="btn btn-xs border-0 text-right p-0 py-2 w-100" ng-click="setEditMode(true)">
						<i class="fa fa-angle-down"></i>
		</button>
	</div>
</div>