    <div class="card">
      <div class="text-center"><h3>Edit code</h3></div>
  </div>
  
    <div class="card">
      <form ng-submit="saveCode(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

              
                 <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.codeId.$touched) && form.codeId.$invalid }">
                    <label class=" col-lg-8" for="codeId">Code ID</label>
                    <div class="col-lg-6">
                        <input type="text" ng-model="CodeHead.id" ng-required="true"ng-disabled="true" class="form-control" id="codeId" name="codeId" placeholder="Code ID" />
                        <p ng-show="(form.$submitted || form.codeId.$touched) && form.codeId.$invalid" class="help-block">Enter code id</p>
                    </div>
                </div>
                
                <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.codeName.$touched) && form.codeName.$invalid }">
                    <label class=" col-lg-8" for="codeName">Code name</label>
                    <div class="col-lg-6">
                        <input type="text" ng-model="CodeHead.CodesHeadLang[0].CodeName" ng-required="true" class="form-control" id="codeName" name="codeName" placeholder="Code name" />
                        <p ng-show="(form.$submitted || form.codeName.$touched) && form.codeName.$invalid" class="help-block">Enter code name</p>
                    </div>
                </div>
                   <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.CodeHeadName.$touched) && form.CodeHeadName.$invalid }">
                    <label class=" col-lg-8" for="codeHeadName">Code unique identifier</label>
                    <div class="col-lg-6">
                        <input type="text" ng-model="CodeHead.CodeHeadName" ng-required="false" class="form-control" id="codeHeadName" name="codeHeadName" placeholder="Code unique identifier" />
                        <p ng-show="(form.$submitted || form.codeHeadName.$touched) && form.codeHeadName.$invalid" class="help-block">Enter unique identifier (any text up to 255 characters)</p>
                    </div>
                </div>            
                  <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid }">
                    <label class="col-lg-8" for="codeDescription">Code description</label>
                    <div class="col-lg-6">
                        <textarea ng-model="CodeHead.CodesHeadLang[0].Description" name="codeDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid" class="help-block">Enter code description(min 20 chars).</p>

                    </div>
                </div>
                  <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.codeType.$touched) && form.codeType.$invalid }">
                    <label class="col-lg-8" for="codeType">Code type</label>
                    <div class="col-lg-6">
                       <ui-select ng-model="CodeHead.CodeType" ng-disabled="disabled" name="codeType" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match"  placeholder="Search or select code type...">
                            <span>{{$select.selected.name}}
                            <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                        </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices"  repeat="ct in (codeTypeList | filter: { name: $select.search }) track by ct.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span class="p-0">{{ct.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.codeType.$touched) && form.codeType.$invalid" class="help-block">Select code type</p>
                    </div>
                </div>
                  
                     <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.lang.$touched) && form.lang.$invalid }">
                    <label class="col-lg-8" for="lang">Language</label>
                    <div class="col-lg-6">
                       <ui-select ng-model="CodeHead.CodesHeadLang[0].Lang" ng-disabled="disabled" name="lang" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match"  placeholder="Search or select language...">
                            <span class="p-0">{{$select.selected.name}}
                            <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                        </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="cl in (codeLanguageList | filter: { name: $select.search }) track by $index" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{cl.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.lang.$touched) && form.lang.$invalid" class="help-block">Select language</p>
                    </div>
                </div>
                
                    <div class="form-group row ml-2" ng-class="{ 'has-error' : (form.$submitted || form.status.$touched) && form.status.$invalid }">
                    <label class="col-lg-8" for="lang">Status</label>
                    <div class="col-lg-6">
                       <ui-select ng-model="CodeHead.Status" ng-disabled="disabled" name="status" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select status...">
                            <span class="p-0">{{$select.selected.name}}
                            <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                          </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="cs in (codeStatusList | filter: { name: $select.search }) track by cs.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{cs.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.status.$touched) && form.status.$invalid" class="help-block">Select status</p>
                    </div>
                </div> 
                
                <div class="form-group row ml-2">
                    <label class="col-lg-8" for="lang">User generated id</label>
                    <div class="col-lg-6">
                      <input type="checkbox" class="checkbox-zoom-large" ng-model="CodeHead.UserGeneratedId" name="userGeneratedId" ng-required="false"  />

                    </div>
                </div> 
                                
                <div  class="control-group row ml-2">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save code</button>
                           
                 </div>

  </form>
</div>