<div ng-if="localVars.executeTaskDataLoaded">
		 <div kt-task-proc-execute task-definition="::localVarsExecuteTask.taskDefinition" dashboard="::localVarsExecuteTask.dashboard" resource-definition="::localVarsExecuteTask.resourceDefinition"
			  task-execute-instance="::localVarsExecuteTask.taskExecuteInstance" task-initiate-instance="::localVarsExecuteTask.taskInitiateInstance" local-vars="::localVarsExecuteTask"></div>
</div>	
