<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVarsWidget.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':localVarsWidget.datasetMapperType>0,'bg-light':localVarsWidget.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0">
          <i class="fa fa-code mx-2"></i><label >Execute smart contract ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
       <a href title="sort" ng-class="{'widget-prop':localVarsWidget.datasetMapperType==0 || localVarsWidget.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="localVarsWidget.showProperties(1)" ng-class="{'btn-warning':localVarsWidget.selectedResourceItem.name_confirmed!='' && localVarsWidget.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':localVarsWidget.selectedResourceItem.name_confirmed=='' || localVarsWidget.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="localVarsWidget.selectedResourceItem.name_confirmed!='' && localVarsWidget.selectedResourceItem.name_confirmed!=undefined">{{localVarsWidget.selectedResourceItem.name_confirmed}}</span>
				<span ng-if="localVarsWidget.selectedResourceItem.name_confirmed=='' || localVarsWidget.selectedResourceItem.name_confirmed==undefined">Select smart contract</span>
			  </button>
			</div>
        <div class="col-auto p-0" ng-if="localVarsWidget.selectedResourceItem.name_confirmed!='' && localVarsWidget.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVarsWidget.datasetMapperType==0 || localVarsWidget.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVarsWidget.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
						<a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="localVarsWidget.showForm=!localVarsWidget.showForm"><i ng-class="{'fas fa-eye-slash':!localVarsWidget.showForm,'fas fa-eye':localVarsWidget.showForm}"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
			
            
              <div kt-task-dropdown2> </div>
			
		</div>
	 </div>
    <div class="p-3"> 
        <div ng-if="localVarsWidget.datasetMapperType>0" class="mb-2">
           <div kt-form-element-properties fd="fd" local-vars="localVarsWidget"></div> 
         </div>
	
		<div class="mb-2">
				<span ng-if="fd.contractFunctions" class="bold small p-1 text-primary" ng-click="fd.contractDatasets=true;fd.contractFunctions=false;"><a href>Contract datasets</a></span><span ng-if="fd.contractDatasets" class="bold small border-bottom border-success p-1 text-success">Contract datasets</span>
				<span ng-if="fd.contractDatasets" class="bold small p-1 text-primary" ng-click="fd.contractDatasets=false;fd.contractFunctions=true;"><a href>Contract functions</a></span><span ng-if="fd.contractFunctions" class="bold small border-bottom border-success p-1 text-success">Contract datasets</span>
		</div>
		
		<div ng-if="fd.contractDatasets">
			<div ng-repeat="dataset in fd.resource.Parameters.Datasets track by $index" class="d-inline-block mr-2">
								
								
				<button type="button" ng-click="fd.loadBlockchainDataset(dataset)" class="btn btn-sm btn-outline-info my-2">
					{{dataset.DatasetName}}<i ng-class="{'d-none':fd.selectedDataset.DatasetName!=dataset.DatasetName,'d-inline-block':fd.selectedDataset.DatasetName==dataset.DatasetName}" class="ml-2 fa fa-check text-success"></i></button>
								
			</div>
			
			<div>
				<label class="label text-muted">Primary key </label> <input type="text" class="form-control form-control-sm" ng-model="fd.BlockChainPrimaryKey"  />
				<button type="button" ng-click="fd.GetBlockchainDatasetRecords()" class="btn btn-sm btn-outline-primary my-2">
					Get data</button>
			</div>
			<div ng-if="fd.datasetLoaded" ui-grid="fd.gridOptions" ui-grid-selection ui-grid-resize-columns  ui-grid-move-columns ui-grid-save-state ui-grid-pagination ui-grid-grouping class="myGrid" > </div>
		<!--<div kt-smart-table client-side="true" allow-sort="true" table-data="fd.selectedDataset.data" table-columns="fd.selectedDataset.columns" row-selected-change="fd.rowSelectionChanged(item)"></div>-->
		</div>
		<div ng-if="fd.contractFunctions">
			<div ng-repeat="function in fd.resource.Parameters.Functions track by $index" class="d-inline-block mr-2">
								
								
				<button type="button" ng-click="fd.loadBlockchainFunction(function)" class="btn btn-sm btn-outline-info my-2">
					{{function.FunctionName}}<i ng-class="{'d-none':fd.selectedFunction.FunctionName!=function.FunctionName,'d-inline-block':fd.selectedFunction.FunctionName==function.FunctionName}" class="ml-2 fa fa-check text-success"></i></button>
								
			</div>
			<div ng-show="!localVarsWidget.formLoaded && fd.selectedFunction.InputDatasetId" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>

			<div ng-if="localVarsWidget.formLoaded">
				<div kt-grid grid-type="::localVarsWidget.gridsterType" resource-form-loaded="localVarsWidget.formLoaded" parent-resource-def-id="::fd.ParentDatasetDefId" resource-record-id="::localVarsWidget.datasetRecordId"
				   resource-definition="::taskDefinition" form-params-parent="formParams" form-params="::localVarsWidget.formParams" form-data="formData[fd.PresentationId]"
				  parent="::localVarsWidget.dashboard.widgets" all-columns="::localVarsWidget.dashboard.widgets" class="ktGrid"></div>
			<!--  -->
			</div>
			<button type="button" ng-click="fd.executeBlockchainFunction(fd.selectedFunction)" class="btn btn-sm btn-outline-primary my-2">
					Execute {{fd.selectedFunction.FunctionName}}</button>
				
		</div>
	</div> 
	<!--
		<div ng-if="!localVarsWidget.formLoaded" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>

		<div ng-if="localVarsWidget.formLoaded">
		  
				<div kt-grid grid-type="::localVarsWidget.gridsterType" task-form-loaded="localVarsWidget.formLoaded" parent-dataset-def-id="::fd.ParentDatasetDefId" dataset-record-id="::localVarsWidget.datasetRecordId"
						  task-definition="::taskDefinition" form-params="::localVarsWidget.formParams" form-params-parent="::formParams" form-data="formData[fd.PresentationId]" parent="::localVarsWidget.dashboard.widgets" all-columns="::localVarsWidget.dashboard.widgets" class="ktGrid">
				</div>
				<button type="button" ng-click="fd.GetBlockChainData(dataset)" class="btn btn-sm btn-outline-info my-2">
				{{dataset.DatasetName}}</button>
		</div>
	-->					

</div>