  <!-- ELEMENT GENERAL WIDGET -->
 <div>
        <div ng-click="fd.localVars.showGeneral = !fd.localVars.showGeneral" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#generalProperties" role="button" aria-expanded="false" aria-controls="extendedPropertyPanel">
              <span class="col p-0">  
         Constraints  
               </span>  
       <!-- <i class="fa fa-cogs fa-lg"></i>  -->
             <i style=" font-size: large;" ng-hide="fd.localVars.showGeneral" class="fas fa-angle-down"></i> 
             <i style=" font-size: large;" ng-hide="!fd.localVars.showGeneral" class="fas fa-angle-up"></i> 
                 
        </div>
        
		<div id="generalProperties" class="collapse m-0 mt-2">
			
			<div class="">
				<label  class="kt-checkbox-label" for="cbUnique{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties border my-2 mr-2" name="cbUnique{{fd.PresentationId}}" ng-model="fd.Unique" ng-checked="fd.Unique" />  
					Unique
				</label>
            
			</div> 
			
		</div>
</div>
        