  <!-- ELEMENT GENERAL WIDGET -->
 <div > <!--ng-if="fd.localVars.showDataSourceProps"-->
 	
        <div ng-click="fd.localVars.showDataSource = !fd.localVars.showDataSource" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#dataSourceProperties" role="button" aria-expanded="false" aria-controls="dataSourceProperties">
              <span class="col p-0">  
         Data and validation properties  
               </span>  
       <!-- <i class="fa fa-cogs fa-lg"></i>  -->
             <i style=" font-size: large;" ng-hide="fd.localVars.showDataSource" class="fas fa-angle-down"></i> 
             <i style=" font-size: large;" ng-hide="!fd.localVars.showDataSource" class="fas fa-angle-up"></i> 
                 
        </div>
        
		<div id="dataSourceProperties" class="collapse m-0 mt-2">
			
			<div class="">
				
				<label  class="kt-checkbox-label" for="cbRequired{{fd.PresentationId}}">
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbRequired{{fd.PresentationId}}" ng-model="fd.Required" ng-checked="fd.Required" />  
					Required
				</label>
								 						
			</div>
            
			
			<div class="">
                    
				<label  class="kt-checkbox-label" for="cbUseDefault{{fd.PresentationId}}">
				
				<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbUseDefault{{fd.PresentationId}}" ng-model="fd.UseDefault" ng-checked="fd.UseDefault" />  
				Show default value on form
				</label>
                     
			</div>
		  
		  
			<div class="">
				<label  class="kt-checkbox-label" for="cbUpdateWithDefault{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbUpdateWithDefault{{fd.PresentationId}}" ng-model="fd.UpdateWithDefault" ng-checked="fd.UpdateWithDefault" />  
					Use default value for update or search
				</label>       
			         
			</div>

			<div>
				<label  class="kt-checkbox-label">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" ng-model="fd.Parameters.UseUserProperty" />  
					Populate value from user advanced properties
				</label>       
			         
			</div>

			<div ng-if="fd.ElementType=='text'">
				<label class="label-xs text-muted">Regex </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.Regex"  />
			</div>

			<div ng-if="fd.ElementType=='list'">
				<label class="mt-1 label-xs text-muted">Conditional code </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.Condition"  />
            </div>     
      
			<div ng-if="fd.ElementType=='date'">

				<div class="">
	            
					<label  class="kt-checkbox-label" for="cbUseSystemDate{{fd.PresentationId}}">
						
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbUseSystemDate{{fd.PresentationId}}" ng-model="fd.UseSystemDate" ng-checked="fd.UseSystemDate" />  
						Populate with system date/time
					</label>
	                     
				</div>
				<div class="">
	            
					<label  class="kt-checkbox-label" for="cbEpoch{{fd.PresentationId}}">
						
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbEpoch{{fd.PresentationId}}" ng-model="fd.Parameters.Epoch" ng-checked="fd.Parameters.Epoch" />  
						Source in epoch format
					</label>
	                     
				</div>

				<div class="">
					<label class="label-xs text-muted">Source field name</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.SourceFieldName"  />
				</div>
			
			</div>

			<!--
			<div ng-if="fd.Parameters.ValueFromUserParams" ng-form="userParams{{fd.PresentationId}}">
					<label class="pl-0 label-xs text-muted" for="nameField">Select advanced param</label>
					<kt-dropdown-standard ng-model="fd.NameField" size="'small'" selected-items="fd.NameField" on-select-fn="fd.localVars.onSelectUserParams(item,model)" is-multiple="false" size="'small'" name="userParams{{fd.PresentationId}}" ng-required="false" dropdown-items="fd.localVars.UserParams" dropdown-id="'userParams'+fd.PresentationId" parent-form-id="'userParams'+fd.PresentationId" search-text="'Select tag'"></kt-dropdown-standard>
			</div>
			-->
			<div ng-if="fd.Parameters.UseUserProperty">
				<label class="label-xs text-muted">Enter advance property id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.UserPropertyId"  />
			</div>


			<div class="">
				<label  class="kt-checkbox-label" for="cbLoadFromState{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbLoadFromState{{fd.PresentationId}}" ng-model="fd.Parameters.LoadFromState" ng-checked="fd.LoadFromState" />  
					Load data from state
				</label>       
			         
			</div>
	
			<div class="">
				<label>Default: {{fd.DefaultValue}} </label>
				<button type="button" ng-click="fd.SetDefault()" class="btn btn-xs btn-info my-2">
                              Set default</button>
			</div>
            
			<div class="">
				<label  class="kt-checkbox-label" for="cbNoUpdate{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbNoUpdate{{fd.PresentationId}}" ng-model="fd.NoUpdate" ng-checked="fd.NoUpdate" />  
					Do not use this field (for update or search)
				</label>        

			</div>
            
		</div><!--generalProperties-->
        <!--
         <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#massPropertyUpdate">
                        <span >Mass update</span>
            </button>
        </div>
        -->
</div>
        