  <!-- ELEMENT SIZE WIDGET -->
 <div class="mt-1" id="extendedPropertyPanel"><!--collapse show-->
        
        <div ng-click="fd.localVars.showSize = !fd.localVars.showSize" class="expand-property-panel tag border-bottom border-success  my-1 py-1" data-toggle="collapse" href="#elementSize{{fd.PresentationId}}" role="button" aria-expanded="false" aria-controls="extendedPropertyPanel">
               <span class="col p-0">Element size </span>  
              <!-- <i class="fa fa-cogs fa-lg"></i>         -->
                 <i style=" font-size: large;" ng-hide="fd.localVars.showSize" class="fas fa-angle-down"></i> 
                 <i style=" font-size: large;" ng-hide="!fd.localVars.showSize" class="fas fa-angle-up"></i> 
        </div>
        
        <div class="collapse" id="elementSize{{fd.PresentationId}}">
        
             <ul class="mt-2 nav prop-tabs small" >
                  <li  class="nav-item">
                    <a class="nav-link" ng-class="{'active bold ':!fd.Parameters.CustomSize}"  ng-click="fd.Parameters.CustomSize = false">Standard size</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " ng-class="{'active bold ':fd.Parameters.CustomSize}"   ng-click="fd.Parameters.CustomSize = true">Custom size</a>
                  </li>
            </ul>
            
            
            <div ng-if="!fd.Parameters.CustomSize" class="prop-tab-content p-1"  >
            
                   <label class="label-xs text-muted">Element width {{fd.Parameters.ElementWidth}}</label> 
                   <input id="elementWidth{{fd.PresentationId}}" type="range" min="1" max="24"   ng-model="fd.Parameters.ElementWidth"   class="form-control form-control-xs" />
                    
                  <label class="label-xs text-muted">Label length {{fd.LabelLength}}</label> 
                  <input  type="range" min="1" max="24"   ng-model="fd.LabelLength"   class="form-control form-control-xs" />
                  
                   <label class="label-xs text-muted">Value length {{fd.ValueLength}}</label> 
                   <input  type="range" min="1" max="24"  ng-model="fd.ValueLength"  class="form-control form-control-xs" />                       
            </div>
            
            
            <div ng-if="fd.Parameters.CustomSize"  class="prop-tab-content p-1 mb-4" >
                
                  <label class="label-xs text-muted">Label width </label> <input  type="text" ng-model="fd.Parameters.LabelStyle.Width"   class="form-control form-control-xs" />
                  <label class="label-xs text-muted">Label height </label> <input  type="text" ng-model="fd.Parameters.LabelStyle.Height"  class="form-control form-control-xs" />
                   <label class="label-xs text-muted">Value width </label> <input  type="text" ng-model="fd.Parameters.ElementStyle.Width"   class="form-control form-control-xs" />
                  <label class="label-xs text-muted">Value height </label> <input  type="text" ng-model="fd.Parameters.ElementStyle.Height"  class="form-control form-control-xs" />
                               
            </div>   

        </div>    	     
       
</div>

	  