 <!-- BASIC PROPERTIES --> 

<div>
	
    <div ng-click="fd.localVars.showMain = !fd.localVars.showMain" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            MAIN  </span>
             <!--     	<i class="fa fa-cog fa-lg"></i> -->
          <i style=" font-size: large;" ng-show="fd.localVars.showMain" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!fd.localVars.showMain" class="fas fa-angle-up"></i> 
	</div>
    
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
	
		<label class="label-xs text-muted">Max length </label> <input type="text" class="form-control form-control-xs" ng-model="fd.MaxLength"  />	 
		<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
		<label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
		<label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
		

		<div>
			<label  class="kt-checkbox-label" for="cbMultiline{{fd.PresentationId}}">
				<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbMultiline{{fd.PresentationId}}" ng-model="fd.Multiline" ng-checked="fd.Multiline" />  
				Multiple lines
			</label>      
		</div>

		<div ng-if="fd.Multiline">
			<label class="label-xs text-muted">Number of rows </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.NumberRows"  />
		</div>
        
        </div>
  </div>