<!-- new file widget-->
<div class="form-group pb-1 row m-0 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-form="innerForm{{::fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.Dataset{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.Dataset{{fd.ItemId}}.$invalid,'bg-gray-20 mr-0 border':fd.ItemId==gsrvc.getSelectedItemId() && gsrvc.getFieldPropertiesOpened() }">
      
  

    	<div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} <span style="{{fd.customStyleLabel}}" ng-if="fd.PresentationType==0">({{fd.localVars.gridData.length}} records)</span>
           </label>
           
      	</div>

	<!--  BLUE DROPDOWN   style="visibility:visible !important" -->
    <div style="visibility:visible !important"   class="blue-dropdown rounded shadow" >
           
        <div class="element-properties-btns bg-primary rounded shadow mt-2" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                <span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
                <a href class="btn btn-primary btn-xs prop-btn element-drag-handle" title="sort"><i class="element-drag-handle fa fa-grip-vertical"></i></a>	
                <a href class="btn btn-primary btn-xs prop-btn" ng-click="gsrvc.setFieldProperties(fd,$event)"><i class="fa fa-cog"></i> </a>		
        </div>
        
        <div class="" aria-labelledby="mass-property-{{fd.PresentationId}}" kt-mass-update-properties>
        </div>
                    
    </div>    

	<div ng-if="fd.ShowSearchForm && fd.localVars.formLoaded" class="{{fd.colLength[fd.ValueLength-1]}} p-0 my-auto">
 			<div kt-grid grid-type="fd.localVars.gridsterType" show-search-filters="fd.localVars.showSearchFilters" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="fd.ParentDatasetDefId" resource-record-id="fd.localVars.datasetRecordId"
	                            resource-definition="resourceDefinition" form-params="fd.localVars.formParams" form-params-parent="formParams" form-data="fd.localVars.widgetState.formData" parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets">
	        </div>
	        
            <button ng-if="false" type="button" class="btn btn-outline-primary btn-xs"  ng-click="fd.localVars.SelectRecords()"><i  class="fa fa-save"></i>Apply search</button>
 	</div>

    <!-- DROPDOWN -->	
    	
	<div class="{{fd.colLength[fd.ValueLength-1]}} my-auto"> 
					
		<div ng-if="fd.PresentationType==1 && !fd.ReadOnly" >
							
							<kt-dropdown-standard ng-if="fd.datasetItems && !fd.Multiline" ng-model="itemValue.val" is-multiple="false"selected-items="itemValue.val" required-field="fd.Required" dropdown-items="fd.datasetItems" dropdown-id="fd.Name+fd.ItemId" parent-form-id="'innerForm'+fd.ItemId" search-text="fd.SearchText"></kt-dropdown-standard>
							<div ng-if="!fd.datasetItems" class="form-control">Dataset placeholder</div>

							<kt-dropdown-multiple ng-if="fd.Multiline" ng-model="formData[0][fd.FieldName]" selected-items="formData[0][fd.FieldName]" name="Dataset{{fd.ItemId}}" required="fd.Required" dropdown-items="fd.datasetItems" dropdown-id="'Dataset'+fd.ItemId" parent-form-id="'innerForm'+fd.ItemId" search-text="fd.SearchText"></kt-dropdown-multiple>

							<p ng-class="{'invalid-tooltip right-0 mr-3':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback','d-block':(innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}">{{fd.ErrorMsg}}</p>
					
		</div>
					
		<div ng-if="fd.PresentationType==1 && fd.ReadOnly">
						
						 <div ng-if="formData[0][fd.FieldName].length==0" class="border p-1 rounded-0">0 {{fd.Label}} selected</div>
						 <div ng-if="(formData[0][fd.FieldName]==undefined || formData[0][fd.FieldName]==null) && formParamsParent.formViewType==1" class="border p-1 rounded bg-white">Dataset records placeholder</div>
						 <div ng-if="(formData[0][fd.FieldName]==undefined || formData[0][fd.FieldName]==null) && formParamsParent.formViewType==2" class="border p-1 rounded bg-white"> No data</div>
						 		
						 <div ng-if="formData[0][fd.FieldName].length>0 && formData[0][fd.FieldName][0].id!=undefined" class="pt-2 mt-n2">
						 		<div  class="badge badge-secondary m-1" ng-repeat="item in formData[0][fd.FieldName] track by item.id">
						 			<span class="">{{item.name}}</span>
						 		</div>
						 	
						 </div>
                         
						 <div style="min-height: 35px;" class="border p-1 mb-0 rounded bg-white">{{formData[0][fd.FieldName].name}}{{formData[0][fd.FieldName][0].name}}</div>
						
		</div>
                    
                    
	</div>

	<div class="col-lg-24" ng-show=" (fd.Parameters.DefineTasks && resourceDefinition.form_definition) || (fd.selectedTasks.length>0 && !formDefinition && fd.resourceDataRecordSelected)">
		<div kt-initiate-task-widget fd="fd" local-vars="localVars"></div>
	</div>
      



    <div class="card" ng-if="fd.Search.taskId.id>0 && !formDefinition" ng-show="fd.ShowField">
      <div class="card-header">
        <div kt-task-proc-directive fd="fd" taskDefinition="taskDefinition" local-vars="localVarsSearch"></div>
      </div>
    </div>  
 	<div ng-if="fd.PresentationType==0" ng-class="fd.colLength[fd.ValueLength-1]" class="p-0">
	         
				<div class="" ng-if="fd.fileSelected">
					
					<button  ng-if="fd.Parameters.DeleteChildren" type="button" ng-click="fd.localVars.deleteChildRecord()" class="btn btn-danger btn-xs" style="margin:12px"><i class="fa fa-times-circle mx-1"></i><span ng-bind="fd.ParametersLang.DeleteLabelBtn || 'Delete record'"></span></button>

		            <button type="button"  class="btn btn-outline-primary border-0 btn-xs"  ng-click="fd.previewFile(fd.localVars.SelectedFile.id,fd.SelectedFile['resource'+fd.Related+'_'+org_id+'_FileType'])"><i class="fa fa-search"></i> Preview file</button>

					 <button type="button"  class="btn btn-outline-primary border-0 btn-xs"  ng-click="fd.downloadFile(fd.localVars.SelectedFile.id,fd.SelectedFile['resource'+fd.Related+'_'+org_id+'_Name'])"><i class="fa fa-download"></i> Download file</button>

		 		</div>  
	               
	               	 <div id="smartTable{{fd.PresentationId}}" kt-smart-table ng-if="fd.localVars.smartTableLinked && fd.localVars.fileListDownloaded && (fd.localVars.filesData.length>0 || (formParams.formViewType==1 && formParamsParent.formViewType!=2))" class=""  

		              use-pagination="true" 
		              parameters="fd.Parameters"
		              font-size="fd.Parameters.table.fontSize"
		              cell-padding="fd.Parameters.table.cellPadding"
		              column-defs="fd.localVars.filesColumns"
		              items-on-page="fd.localVars.widgetState.pageSize" 
		              row-selected-change="fd.localVars.fileSelectionChanged(item)"
		              kt-refresh-data="fd.localVars.getFiles(tableState, pageNumber,pageSize)"
					  initial-page="fd.localVars.widgetState.currentPage"
		              grid-data ="gridData()"
		              kt-process-action="processTableAction(item,actionId)">
	          		</div>  


									<div ng-if="fd.localVars.fileListDownloaded && formParams.formViewType==1 && formParamsParent.formViewType!=2" class="mt-3">
								    <button type="button" class="btn btn-outline-primary btn-xs"  ng-click="fd.saveGridState()"><i  class="fa fa-save"></i> Save grid layout</button> 
									</div>			
	              
	       
	 
						 
	         
					 
	</div>

</div> <!-- form-group -->