 <!-- BORDERS PANEL -->
<div>
    <div class="expand-property-panel tag py-3" data-toggle="collapse" href="#layoutPanel" role="button" aria-expanded="true" aria-controls="layoutPanel">
            <span class="col p-0">Borders </span>  
                        <i class="far fa-square fa-lg"></i>
    </div>
  
    <div class="mb-4 mt-n2 collapse" id="layoutPanel" style="">
            <div class="form-group mb-1">
              
                <div class="p-3">
                    <svg width="100%"  viewbox="-100 0 1200 1000" preserveAspectRation="true">
                        <polygon stroke-width="1" stroke-dasharray="1 1"  style="fill: #f1f1f1;stroke: #bbb;" points="0,0 1000,0 1000,1000 0,1000"></polygon>       
                        <polygon class="circleclass"  stroke-width="1" stroke-dasharray="2 1"  style="fill: white;stroke: #bbb;" points="400,400 600,400 600,600 400,600"></polygon>       
                         
                        <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.left);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.left ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style="stroke: rgb(0, 0, 0);" points="150,150 200,200 200,800 150,850">
                         <title>Left Border</title>
                        </polygon>
                       <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.right);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.right ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style=" stroke: rgb(0, 0, 0);" points="850,150 800,200 800,800 850,850 ">
                       <title>Right Border</title>
                       </polygon>
                       <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.top);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.top ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style=" stroke: rgb(0, 0, 0);" points="150,150 200,200 800,200 850,150 ">
                       <title>Top Border</title>
                       </polygon>
                        <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.bottom);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.bottom ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style=" stroke: rgb(0, 0, 0);" points="150,850 200,800 800,800 850,850">
                        <title>Bottom Border</title>
                        </polygon>
                    </svg>
                </div>
            
                <div class="text-center">
                  <label class="label-xs text-muted " for="setElementWidth">Selected border: {{fd.selectedBorder.name}}</label>  
                </div>
                <label class="label-xs text-muted" for="setElementWidth">Set border style</label>
              
                <select ng-model="fd.selectedBorder.style" class="form-control form-control-xs" id="setElementWidth">
                <option default="">solid</option>
                <option>dashed</option>
                <option>dotted</option>

                </select>
                <div class="">
                    
                    <label  class="kt-checkbox-label" for="cbRoundedBorder{{fd.PresentationId}}">
                                
                        <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbRoundedBorder{{fd.PresentationId}}" ng-model="fd.Parameters.RoundedBorders" ng-checked="fd.Parameters.RoundedBorders" />  
                        Rounded
                    </label>
                    
                             
                </div>
                     
              <div class="mb-2"><label class="label-xs text-muted">Set color</label>
              <input type="color"  ng-model="fd.selectedBorder.color" class="form-control form-control-xs ">
              </div>
               
                  <div class="mb-2"><label class="label-xs text-muted">Set width</label>
              <input type="number" min="0" max="15" ng-model="fd.selectedBorder.width" class="form-control form-control-xs ">
              </div>
               
               <div class="mb-2"><label class="label-xs ">Preview</label>
                <div class="bg-white p-4 m-1" style="">  
                    <div class="bg-gray-100" 
                    ng-style="{'border-left-style':fd.Parameters.border.left.style,'border-left-width':fd.Parameters.border.left.width,'border-left-color':fd.Parameters.border.left.color,            'border-right-style':fd.Parameters.border.right.style,'border-right-width':fd.Parameters.border.right.width,'border-right-color':fd.Parameters.border.right.color,
                    'border-top-style':fd.Parameters.border.top.style,'border-top-width':fd.Parameters.border.top.width,'border-top-color':fd.Parameters.border.top.color,
                    'border-bottom-style':fd.Parameters.border.bottom.style,'border-bottom-width':fd.Parameters.border.bottom.width,'border-bottom-color':fd.Parameters.border.bottom.color };" 
                    style="min-height: 50px;">  </div>
                    
                </div>
            
            </div>

        </div>

    </div>
</div>