<div id="ktFieldAdvancedProperties{{fd.PresentationId}}" ng-if="fd.localVars.ShowAdvancedProperties" class="m-0 mt-2">
            
            <div ng-click="fd.localVars.showAdvanced = !fd.localVars.showAdvanced" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#advancedProperties" role="button" aria-expanded="true" aria-controls="extendedPropertyPanel">
                      <span class="col p-0">  
                        Advanced  
                       </span>  
                     <i style=" font-size: large;" ng-hide="fd.localVars.showAdvanced" class="fas fa-angle-down"></i> 
                     <i style=" font-size: large;" ng-hide="!fd.localVars.showAdvanced" class="fas fa-angle-up"></i> 
                         
             </div>
        
         	<div id="advancedProperties" class="collapse m-0 mt-2">
            
           <div  class="" ng-form="uniqueForm">
					<label class="pl-0 label-xs text-muted" for="nameField">Select tag</label>
					<kt-dropdown-standard ng-model="fd.UniqueIdObj" size="'small'" selected-items="fd.UniqueIdObj" on-select-fn="fd.onSelectUnique(item,model)" is-multiple="false" size="'small'" name="unique{{fd.PresentationId}}" ng-required="false" dropdown-items="fd.tagList" dropdown-id="'unique'+fd.PresentationId" parent-form-id="'unique'+fd.PresentationId" search-text="'Select tag'"></kt-dropdown-standard>
			</div>
            
            
                <div class="">
                    <label class="label-xs text-muted">Source field name</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.SourceFieldName"  />
                </div>
                 <div>
                    <label class="label-xs text-muted">From array</label> <input type="number" min="0" max="100" class="form-control form-control-xs" ng-model="fd.Parameters.FromArray"  />	
                </div>
                <div class="">
                    <label class="label-xs text-muted">Dependent field Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldId"  />
                </div>
                <div class="">
                    <label class="label-xs text-muted">Dependent field type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldType"  />
                </div>

                <div class="">
                    <label class="label-xs text-muted">Dependent field filter </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldFilter"  />
                </div>
                <div class="">	
                    <label class="label-xs text-muted">Dependent field element </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldElement"  />
                </div>
            
            </div>
 </div>