  <!-- ELEMENT STYLE WIDGET -->
         
 <div>
        <div ng-click="fd.localVars.showStyle = !fd.localVars.showStyle" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#style" role="button" aria-expanded="false" aria-controls="extendedPropertyPanel">
              <span class="col p-0">  
           Style & visibility
               </span>  
     <!--   <i class="fa fa-cogs fa-lg"></i>  --> 
             <i style=" font-size: large;" ng-hide="fd.localVars.showStyle" class="fas fa-angle-down"></i> 
             <i style=" font-size: large;" ng-hide="!fd.localVars.showStyle" class="fas fa-angle-up"></i>         
        </div>
        
        
        <div id="style" class="collapse m-0 mt-2">
			
           
                 <div class="">
            

                <label  class="kt-checkbox-label" for="cbShowField{{fd.PresentationId}}">
                    
                    <input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowField{{fd.PresentationId}}" ng-model="fd.ShowField" ng-checked="fd.ShowField" />  
                    Show field
                </label>
                     
     
                     
            </div>
            
            <div class="mb-1">
            
                <label  class="kt-checkbox-label" for="cbReadOnly{{fd.PresentationId}}">
                    
                    <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbReadOnly{{fd.PresentationId}}" ng-model="fd.ReadOnly" ng-checked="fd.ReadOnly" />  
                    Read only
                </label>
            
                     
            </div>

            <label class="m-1 label-xs text-muted">Custom element CSS </label> <input  type="text" ng-model="fd.Parameters.customCSS"   class="form-control form-control-xs" />
               
                <ul class="mt-2 nav prop-tabs small">
      
                      <li ng-hide="fd.Parameters.HideElementProperties" class="nav-item">
                        <a class="nav-link" ng-class="{'active bold':!fd.isLabelStyle}"   ng-click="fd.isLabelStyle = false">Value style</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " ng-class="{'active bold':fd.isLabelStyle}"    ng-click="fd.isLabelStyle = true">Label style</a>
                      </li>
                </ul>
            
            
            <div ng-if="fd.isLabelStyle" class="prop-tab-content p-1 mb-4" >
            
                <div class="">
                
                    <label  class="kt-checkbox-label" for="cbHideLabel{{fd.PresentationId}}">
                        
                        <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbHideLabel{{fd.PresentationId}}" ng-model="fd.Parameters.HideLabel" ng-checked="fd.Parameters.HideLabel" />  
                        Hide label
                    </label>
          
                </div>

                <div class="">
                
                    <label  class="kt-checkbox-label" for="cbFontBold{{fd.PresentationId}}">
                        
                        <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbFontBold{{fd.PresentationId}}" ng-model="fd.Parameters.FontBold" ng-checked="fd.Parameters.FontBold" />  
                        Bold
                    </label>
          
                </div>

                 
                <div class="">
                    <label class="label-xs text-muted">Font size </label> <input  type="number" step="0.01" min="0.01" max="100"   ng-model="fd.Parameters.FontSize"   class="form-control form-control-xs" />
                </div>
                <label class="label-xs text-muted" for="setFontUnits">Font Units</label>
              <select ng-model="fd.Parameters.FontUnits" class="form-control form-control-xs" id="setFontUnitsLabel">
                <option >px</option>
                <option>em</option>
                <option>%</option>
              </select>

                <div class="">  
                    <label class="label-xs text-muted">Font color </label> <input  type="color" ng-model="fd.Parameters.FontColor"   class="form-control form-control-xs" /> 
                </div>
			
            
               <div class="m-0 mt-2">
			
                    <div class="col p-0">
                      <!--  <div class="my-1 small bold text-primary border-bottom border-primary">Align label</div>-->
                        <div class="d-flex justify-content-cente" role="group" aria-label="Label align">
                            <button type="button" ng-click="fd.Parameters.LabelAlign='left'" ng-class="{'active':fd.Parameters.LabelAlign=='left'}" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-align-left"></i>
                            </button>
                            <button type="button" ng-click="fd.Parameters.LabelAlign='center'" ng-class="{'active':fd.Parameters.LabelAlign=='center'}" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-align-center"></i>
                            </button>
                            <button type="button" ng-click="fd.Parameters.LabelAlign='right'" ng-class="{'active':fd.Parameters.LabelAlign=='right'}" class="btn btn-sm btn-outline-primary">
                                <i class="fas fa-align-right"></i>
                            </button>
                        </div>			   
                    </div> 
                </div>
                <label class="m-1 label-xs text-muted">Custom CSS </label> <input  type="text" ng-model="fd.Parameters.customCssLabel"   class="form-control form-control-xs" />
             </div> <!--Labestyle-->
             
         
             <div ng-if="!fd.isLabelStyle" ng-hide="fd.Parameters.HideElementProperties" class="prop-tab-content p-1 mb-4" >
                
                <div class="">
                   <!-- <div class="my-1 small bold text-primary border-bottom border-primary">Value style</div>-->
                                   
                </div>
                
                <div class="">
                
                    <label  class="kt-checkbox-label" for="cbValueFontBold{{fd.PresentationId}}">
                        
                        <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbValueFontBold{{fd.PresentationId}}" ng-model="fd.Parameters.ValueFontBold" ng-checked="fd.Parameters.ValueFontBold" />  
                        Bold
                    </label>
          
                </div>

                 <div class="">
                
                    <label  class="kt-checkbox-label" for="cbNoBorder{{fd.PresentationId}}">
                        
                        <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbNoBorder{{fd.PresentationId}}" ng-model="fd.Parameters.BorderForReadOnly" ng-checked="fd.Parameters.BorderForReadOnly" />  
                        Add borders for read only
                    </label>
          
                </div>

                <div class="">
                    <label class="label-xs text-muted">Font size </label> <input  type="number" step="0.01" min="0.01" max="100"   ng-model="fd.Parameters.ValueFontSize"   class="form-control form-control-xs" />
                </div>
                 <label class="label-xs text-muted" for="setFontUnits">Font Units</label>
              <select ng-model="fd.Parameters.ValueFontUnits" class="form-control form-control-xs" id="setFontUnits">
                <option >px</option>
                <option>em</option>
                <option>%</option>
              </select>
                <div class="">  
                    <label class="label-xs text-muted">Font color </label> <input  type="color" ng-model="fd.Parameters.ValueFontColor"   class="form-control form-control-xs" /> 
                </div>
                 <label class="m-1 label-xs text-muted">Custom CSS </label> <input  type="text" ng-model="fd.Parameters.customCssElement"   class="form-control form-control-xs" />
                
            </div>
         
        </div> <!-- STYLE -->
        
  </div>
		