<div ng-init=" toggleSize = true; toggleGeneral" class="mt-1">
	
	<!--<div class="expand-property-panel tag border-bottom border-success text-success py-1" data-toggle="collapse" href="#extendedPropertyPanel" role="button" aria-expanded="true" aria-controls="extendedPropertyPanel">
               	<span class="col p-0">Extended properties </span>  <i class="fa fa-cogs fa-lg"></i>
     </div>-->
	 
	 <div class="mt-1 mb-1" id="extendedPropertyPanel"><!--collapse show-->
        
         <div kt-field-general-property>
          </div>

           <div kt-field-data-source-properties>
          </div>
          
          <div kt-field-size-property>
          </div>
        
           <div kt-field-style-property>
          </div>
        
 
           <div kt-field-advanced-properties>
          </div>
	
		

		
	</div>
	 
	<div kt-delete-element></div>
</div>

	  