<div idd="ktFormLayout" 
    ng-class="{'p-1':(inputArray.layout.length==0 || inputArray.countActive==0) && formParams.formViewType==1 && formParamsParent.formViewType!=2,'mb-1 pb-1':(inputArray.layout.length==0 || inputArray.countActive==0) && (formParams.formViewType==2 || formParamsParent.formViewType==2)}" 
    class="pt-1">

 <ul class="row m-0 form-container" ng-class="{'min10' : (inputArray.layout.length==0 || inputArray.countActive==0) && formParams.formViewType==1 && formParamsParent.formViewType!=2}" dragula="'bag-dataset'" dragula-scope="$root" dragula-model="inputArray.layout" ng-model="inputArray.layout">
  <li ng-if="(inputArray.layout.length==0 || inputArray.countActive==0) && formParams.formViewType==1 && formParamsParent.formViewType!=2" class="tag mt-1 p-2 d-inline-block"> Drop here 
  	<div><i class="far fa-2x fa-hand-point-up"></i></div>
  </li>

   <li ng-repeat="fd in inputArray.layout" class="p-0 {{fd.Parameters.CustomCSS}}  {{ (fd.Parameters.ElementWidth &&  !fd.Parameters.CustomSize) ? ('col-lg-'+fd.Parameters.ElementWidth) : 'col-auto'}} {{fd.Parameters.customCSS}}" ng-class="{'mb-1': $index+1==inputArray.layout.length}">

     <div ng-if="fd.Status=='Active'" ng-switch="fd.ElementType">
      
       <div ng-switch-when="tabs"> 
         	<uib-tabset active="active">
	  
             <uib-tab index="$index" ng-repeat="tab in fd.Tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                <div kt-tabs></div>
             </uib-tab>
	  
          </uib-tabset>
        </div>
        <div ng-switch-when="gcol" kt-grid-column grid-type="gridType" parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition" input-array="fd" form-params="formParams" form-data="formData"
								form-params-parent="formParamsParent" parent="inputArray" class="noHorizontalPadding" ng-class="{'col-lg-{{column.SizeX}} col-md-{{column.Parameters.SizeXMd}} col-sm-{{column.Parameters.SizeXSm}} col-{{column.Parameters.SizeXXs}}':!fd.Parameters.AutoSize,'col-auto':fd.Parameters.AutoSize}" all-columns="allColumns"> </div>
								
								<div ng-switch-when="row" kt-grid-row grid-type="gridType" row="fd"  resource-form-loaded="resourceFormLoaded" show-search-filters="showSearchFilters"
                     parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition"
                     form-params="formParams" form-params-parent="formParamsParent" form-data="formData" parent="inputArray" all-rows="allColumns"></div>
       
								<!--
								<div ng-switch-when="time">
												<vue-component name="kt-time" v-props-input-fd="fd"
																											v-props-input-form-data="formData"
																											v-props-input-form-params="formParams"
																											v-props-input-form-params-parent="formParamsParent" />
								</div>
								-->
							 <div ng-switch-default kt-form-field-generator> </div>
     
     </div>
		
    </li>

  </ul>
  
  <div class="modal fade" role="dialog" aria-labelledby="massPropertyUpdate" id="massPropertyUpdate" aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>Mass Property Update</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
		      				<div kt-mass-property-update-select2></div>
		      		</div>
				</div>
			</div>
    </div>
        
  
</div>
