<!--<div ktFormLayoutExe class="pt-1">-->

 <ul idd="ktFormLayoutExe" class="row pt-1 m-0 form-container">
  
  
  
   <li ng-repeat="fd in inputArray.layout track by $index" 
        class="p-0 {{fd.Parameters.customCSS}}   {{ (fd.Parameters.ElementWidth &&  !fd.Parameters.CustomSize) ? ('col-lg-'+fd.Parameters.ElementWidth) : 'col-auto'}} " 
        ng-class="{'mb-1': $index+1==inputArray.layout.length}">

      <div ng-if="fd.Status=='Active'" ng-switch="fd.ElementType">
    
       
        <div ng-switch-when="gcol" kt-grid-column grid-type="::gridType" parent-resource-def-id="::parentResourceDefId" resource-record-id="::resourceRecordId" resource-definition="::resourceDefinition" input-array="fd" form-params="::formParams"
													form-data="formData" form-params-parent="::formParamsParent" parent="::inputArray" class="noHorizontalPadding"
													ng-class="{'col-lg-{{::column.SizeX}} col-md-{{::column.Parameters.SizeXMd}} col-sm-{{::column.Parameters.SizeXSm}} col-{{::column.Parameters.SizeXXs}}':!fd.Parameters.AutoSize,'col-auto':fd.Parameters.AutoSize}"
													all-columns="::allColumns"> </div>
								
								<div ng-switch-when="row" kt-grid-row grid-type="::gridType" row="fd"  resource-form-loaded="::resourceFormLoaded" show-search-filters="::showSearchFilters"
                     parent-resource-def-id="::parentResourceDefId" resource-record-id="::resourceRecordId" resource-definition="::resourceDefinition"
                     form-params="::formParams" form-params-parent="::formParamsParent" form-data="formData" parent="::inputArray" all-rows="::allColumns"></div>
       
							 <div ng-switch-default kt-form-field-generator> </div>
     
     </div>
		
    </li>

  </ul>
<!--</div>-->
