<div id="ktGridsterWidgetResource">
				<div style="display: inline-block;border:1px solid #ccc;width: 100%;background-color:#eee">
				<div ng-if="!widget.locked" style="display: inline-block;border:1px solid #ccc">
					<i class="fa fa-hand-paper-o drag-handle" style="display: inline-block"></i>
				</div>
				
				<div style="display: inline-block;background-color:#eee">&nbsp {{ widget.name }}	</div>
				
				<div class="float-right" style="margin-right:6px">
				
						<a title="Lock/Unlock widget" ng-click="lock($index)"><i ng-class="{'fa fa-lock': widget.locked ,'fa fa-unlock-alt': !widget.locked,'color:black': widget.locked}"></i></a>
						<a uib-popover-template="'widgetproperties.html'" ng-if="!widget.locked" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top"><i class="fa fa-caret-square-o-right"></i> </a>  
						<a uib-popover-template="'toolbox.html'" ng-if="!widget.locked" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top"><i class="fa fa-plus-square"  ng-class="{'color:black': widget.locked}"></i> </a>  
						<a title="Remove widget" ng-if="!widget.locked" ng-click="!widget.locked && remove($index)"><i  class="fa fa-times" ng-class="{'disabled': widget.locked}"></i></a>
					</div>
				
				</div>
            <!--<button type="button" class="btn-link" uib-popover="Evo jel radi"><i class="fa fa-plus-square"></i> </abuttom>-->
						
	
				<div >
         <div  ng-switch="gridsterType" >
            <div ng-switch-when="resource" kt-formlayout active="formLoaded" input-array="widget"> </div>
            <div ng-switch-when="task" kt-taskformlayout active="formLoaded" input-array="widget"> </div>
				 </div>	 
          <script id="toolbox.html" type="text/ng-template">
					<div ng-if="widget.locked" >Unlock widget!</div>
					<div ng-if="!widget.locked" kt-toolbox />
              </script>
				
      <script id="widgetproperties.html" type="text/ng-template">
        <div>
      		<div class="box-header-btns float-right" >		</div>
          <label>Name </label> <input type="text" class="form-control" ng-model="widget.name"  />
          <div class="checkbox">
          <label>
                <input type="checkbox" ng-click="ShowHideWidget()" ng-model="widget.showField"> Show widget
          </label>
           
      </div>
          <label>Tab index </label> <input type="number" placeholder="tab-index" class="form-control" ng-model="widget.tabIndex"  />
        </div>

      </script>
        
				</div> <!-- box-content -->
        
			</div> <!-- box -->