<div idd="ktGridColumnExe"  ng-if="::inputArray.ShowField" 
        class="p-0"  
        ng-style="{ 'font-size': inputArray.Parameters.FontSize!=undefined ? inputArray.Parameters.FontSize+'px' : 'inherit' }"  > 
          
           <div  ng-if="::inputArray.ShowHeader" class="row m-0 px-0">               
                            <div class="col">
                                <span  
                               
                                style="font-size: {{inputArray.Parameters.HeaderFontSize}}; " 
                                class="section-title tag show-when-edit py-2 mb-0 ml-1 bg-transparent border-0 {{inputArray.Parameters.HeaderTextAlign}} ">
                                {{::inputArray.Name}}
                                </span>
                            </div>		
            </div>
            

          <div ng-switch="::gridType" ng-show="::inputArray.Status=='Active'">  
            
                <div ng-switch-when="task" kt-taskformlayout > </div>
                <div ng-switch-when="page" kt-pageformlayout > </div>
                <div ng-switch-default kt-formlayout > </div>
                         
          </div>
            

   
</div>