 <div id="ktGridColumnProperties">
 
 
    <div class="mt-2 label-xs text-muted text-center">
                <label class="label-xs text-muted" ><b>Presentation ID:</b> {{fd.PresentationId || 'none'}}</label>
                 <label class="label-xs text-muted"><b>Uuid:</b> {{fd.UuidRef || 'none'}}</label>
                 <label class="label-xs text-muted"><b>Type:</b> {{fd.Name}} ({{fd.ElementType}})</label>
    </div>
                  
                  
    <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag  my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
                <span class="col p-0">
                Basic  </span>
              <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
              <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
    </div>
        
        
	   <div class="mb-4 collapse show" id="mainPropertyPanel">
       
	      <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" id="cbShowField" ng-model="fd.ShowField"> 
                    <label class="custom-control-label label-xs" for="cbShowField">  Show column
                    </label>   
           </div>
           
            

                  
             <div ng-if="false" class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cbAllowSort" ng-model="fd.AllowSort"> 
                     <label class="custom-control-label label-xs" for="cbAllowSort">
                               Allow sort
                     </label>
              </div>
                  
                  
            <div class="mb-2">
                   <label class="label-xs text-muted">Column size {{fd.SizeX}}</label> <input  type="range" min="0" max="24"  ng-model="fd.SizeX"  class="form-control form-control-xs" />
               <label class="label-xs text-muted">Medium size screen {{fd.Parameters.SizeXMd}} </label> <input  type="range" min="0" max="24"  ng-model="fd.Parameters.SizeXMd"  class="form-control form-control-xs" />
               <label class="label-xs text-muted">Small size screen {{fd.Parameters.SizeXSm}}</label> <input  type="range" min="0" max="24"  ng-model="fd.Parameters.SizeXSm"  class="form-control form-control-xs" />
                <label class="label-xs text-muted">Extra small size screen {{fd.Parameters.SizeXXs}}</label> <input  type="range" min="0" max="24"  ng-model="fd.Parameters.SizeXXs"  class="form-control form-control-xs" />
            
                <div class="custom-control custom-checkbox">
                        
                            <input type="checkbox" class="custom-control-input" id="cbAutoSize" ng-model="fd.Parameters.AutoSize"> 
                        <label class="custom-control-label label-xs" for="cbAutoSize">Auto size</label>
                         
                </div>
                
                <div class="py-1">
                <label class="py-1 d-block label-xs text-muted">Background color</label>
               
                <div style="position: relative;">
                    <button ng-hide="fd.Parameters.BackgroundColor" style="position:absolute;pointer-events: none;" class="w-100 bg-info text-white btn btn-xs btn-outline-info"> Pick color </button>
                    
                    <input type="color" ng-change="fd.BackgroundColorChanged()" ng-model="fd.Parameters.BackgroundColor" class="form-control form-control-xs ">
                    
                   </div>
                
                
                </div>
                <label class="label-xs text-muted">Opacity</label>
                <input type="number" ng-change="fd.BackgroundColorChanged()" min="0" max="1" step="0.01" ng-model="fd.Parameters.BackgroundOpacity" class="form-control form-control-xs ">
             
                <label class="m-1 label-xs text-muted">Custom CSS </label> <input  type="text" ng-model="fd.Parameters.customCSS"   class="form-control form-control-xs" />
 

             </div>
              
              
              
                  <button ng-class="" type="button" class="btn btn-xs btn-warning" title="Delete container" ng-click="localVars.gsrvc.changeConfirmDeleteElement()">
                    <i  class="fa fa-trash text-dark mr-1"></i>Delete column
                  </button>
                  
                <div class="my-1">
                
                            <div ng-if="localVars.gsrvc.getConfirmDeleteElement()" class="card">
                                <div class="card-header p-0 px-1 bg-light">
                                    
                                    <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete column confirmation</span></span>
                                    
                                </div>
                                <div class="my-1">
                                    <div class="ml-1 small bold text-dark">Click Confirm to delete column! </div>
                                    <div class="ml-1 small text-dark">This action may result in a loss of data!</div>
                                </div>
                                <div class="p-1">
                                    <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="localVars.gsrvc.setConfirmDeleteElement(false);localVars.gsrvc.deleteElement(fd)">
                                        Confirm 
                                        <i  class="ml-2 fa fa-check"></i>
                                    </button>
                                    <button type="button" ng-if="fd.layout.length > 0" ng-click="localVars.gsrvc.setConfirmDeleteElement(false)"  class="btn btn-xs btn-link text-muted ml-auto">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                </div>
             
             
             <div ng-if="false">
                  <label>Tab index </label> <input type="number" placeholder="tab index" class="form-control" ng-model="fd.TabIndex"  />
                 
             </div>
    </div>
   
   
    <hr class="my-0">
    
    
    
    <!--    HEADER PANEL    -->
     <div ng-click="localVars.showHeader = !localVars.showHeader" class="expand-property-panel tag my-1 py-1" data-toggle="collapse" href="#headerPropertyPanel" role="button" aria-expanded="true" aria-controls="headerPropertyPanel">
			<span class="col p-0">
            HEADER  </span>
          <i style=" font-size: large;" ng-show="localVars.showHeader" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showHeader" class="fas fa-angle-up"></i> 
    </div>
        
		
    <div class="mb-4 collapse show" id="headerPropertyPanel">
		   
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fd.ShowHeader"> Show header</label>
            </div>
            
            <label>Header text</label> <input type="text" class="form-control form-control-xs"  ng-model="fd.Name"></input>

            
            <div class="col-24   py-1 px-0">
                <label class="label-xs text-muted">Font size </label> <input  type="text"  ng-model="fd.Parameters.HeaderFontSize"   class="form-control form-control-xs" />
            </div>
              
            <div class="col-24  py-1 px-0">  
                <label class="label-xs text-muted">Font color </label> <input  type="color" ng-model="fd.Parameters.HeaderFontColor"   class="form-control form-control-xs" /> 
            </div>
        
                    
                    
            <div class="col-24  py-1 px-0">
               <label class="label-xs text-muted">Background color</label>
                <input type="color" ng-model="fd.Parameters.HeaderBackgroundColor" class="form-control form-control-xs" /> 
                
            </div>
           
            <div class="col-24  py-1 px-0">
                <label class="col-12 custom-control custom-checkbox">                  
                    <input type="checkbox" class="custom-control-input" id="cbFontBold" ng-model="fd.Parameters.HeaderFontBold"/> 
                    <label class="custom-control-label label-xs" for="cbFontBold">Bold</label>                 
                </label>
            </div>  

            
        <div class="row m-0 mt-1">      
            <div class="col-24 p-0">
                    <div class="mb-1 small bold ">Text Align</div>   
                    <div class="btn-group ">
                         <label class="btn btn-success btn-sm m-1" ng-model="fd.Parameters.HeaderTextAlign" uib-btn-radio="'justify-content-start'" uncheckable>  <span class="fa fa-align-left"></span> </label>
                        <label class="btn btn-success btn-sm m-1" ng-model="fd.Parameters.HeaderTextAlign" uib-btn-radio="'justify-content-center'" uncheckable> <span class="fa fa-align-center"></span> </label>
                        <label class="btn btn-success btn-sm m-1" ng-model="fd.Parameters.HeaderTextAlign" uib-btn-radio="'justify-content-end'" uib-uncheckable="uncheckable"> <span class="fa fa-align-right"></span></label>
                    </div>
            </div>
        </div> 
        
        <div class="col mt-1 p-0">
            <div class="custom-control custom-checkbox">                           
                        <input type="checkbox" class="custom-control-input" id="cbShowAsLink" ng-model="fd.Parameters.ShowAsLink"> 
                        <label class="custom-control-label label-xs" for="cbShowAsLink">Show as link</label>                
            </div>
        </div>
        
        
        <div class="col p-0" ng-show="fd.Parameters.ShowAsLink">
            <label class="label-xs text-muted">Link URL</label>
                <input type="text" ng-model="fd.Parameters.LinkUrl" class="form-control form-control-xs" /> 
        </div>
	 
     
 
        <!--  Fonts -->  
        <div class="expand-property-panel tag py-3" data-toggle="collapse" href="#layoutFonts" role="button" aria-expanded="true" aria-controls="extendedPanelShadow">
                <span class="col p-0">Fonts </span>
                <i class="fas fa-font fa-lg"></i>
        </div>		
        <div class="mb-4 mt-n2 collapse " id="layoutFonts" style="">
            
              <label class="label-xs text-muted" for="setFontUnits">Font Units</label>
                  <select ng-model="fd.Parameters.FontUnits" class="form-control form-control-xs" id="setFontUnits">
                    <option >px</option>
                    <option>em</option>
                    <option>%</option>
                  </select>
              <label class="label-xs text-muted">Font Size</label>
            <input type="number"  ng-model="fd.Parameters.FontSize" class="form-control form-control-xs ">
        

             <label class="label-xs text-muted">Font Color</label>
            <input type="color" ng-model="fd.Parameters.FontColor" class="form-control form-control-xs ">
        
        </div>   <!--  Fonts -->  
      
    </div> 
  
    <hr class="my-0">
    
    
    <!-- BORDERS PANEL -->
    <div class="expand-property-panel tag py-3" data-toggle="collapse" href="#layoutPanel" role="button" aria-expanded="true" aria-controls="layoutPanel">
            <span class="col p-0">Borders </span>  
                        <i class="far fa-square fa-lg"></i>
    </div>
  
   <div class="mb-4 mt-n2 collapse" id="layoutPanel" style="">
    <div class="form-group mb-1">
      
     <div class="p-3">
        <svg width="100%"  viewbox="-100 0 1200 1000" preserveAspectRation="true">
            <polygon stroke-width="1" stroke-dasharray="1 1"  style="fill: #f1f1f1;stroke: #bbb;" points="0,0 1000,0 1000,1000 0,1000"></polygon>       
            <polygon class="circleclass"  stroke-width="1" stroke-dasharray="2 1"  style="fill: white;stroke: #bbb;" points="400,400 600,400 600,600 400,600"></polygon>       
             
            <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.left);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.left ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style="stroke: rgb(0, 0, 0);" points="150,150 200,200 200,800 150,850">
             <title>Left Border</title>
            </polygon>
           <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.right);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.right ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style=" stroke: rgb(0, 0, 0);" points="850,150 800,200 800,800 850,850 ">
           <title>Right Border</title>
           </polygon>
           <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.top);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.top ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style=" stroke: rgb(0, 0, 0);" points="150,150 200,200 800,200 850,150 ">
           <title>Top Border</title>
           </polygon>
            <polygon class="BlueWhenHover" ng-click="fd.selectBorder(fd.Parameters.border.bottom);" ng-style="{'fill': fd.selectedBorder==fd.Parameters.border.bottom ? 'rgb(135, 206, 235)' : 'rgb(216, 216, 216)'}" style=" stroke: rgb(0, 0, 0);" points="150,850 200,800 800,800 850,850">
            <title>Bottom Border</title>
            </polygon>
        </svg>
    </div>
    
    <div class="text-center">
      <label class="label-xs text-muted " for="setElementWidth">Selected border: {{fd.selectedBorder.name}}</label>  
    </div>
      <label class="label-xs text-muted" for="setElementWidth">Set border style</label>
      
	<select ng-model="fd.selectedBorder.style" class="form-control form-control-xs" id="setElementWidth">
        <option default="">solid</option>
        <option>dashed</option>
        <option>dotted</option>

      </select>
      <div class="">
            
		<label  class="kt-checkbox-label" for="cbRoundedBorder{{fd.PresentationId}}">
					
			<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbRoundedBorder{{fd.PresentationId}}" ng-model="fd.Parameters.RoundedBorders" ng-checked="fd.Parameters.RoundedBorders" />  
			Rounded
		</label>
			
                     
	</div>
		  
      
      <div class="mb-2"><label class="label-xs text-muted">Set color</label>
      <input type="color"  ng-model="fd.selectedBorder.color" class="form-control form-control-xs ">
      </div>
       
          <div class="mb-2"><label class="label-xs text-muted">Set width</label>
      <input type="number" min="0" max="15" ng-model="fd.selectedBorder.width" class="form-control form-control-xs ">
      </div>
       
       <div class="mb-2"><label class="label-xs ">Preview</label>
        <div class="bg-white p-4 m-1" style="">  
            <div class="bg-gray-100" 
            ng-style="{'border-left-style':fd.Parameters.border.left.style,'border-left-width':fd.Parameters.border.left.width,'border-left-color':fd.Parameters.border.left.color,            'border-right-style':fd.Parameters.border.right.style,'border-right-width':fd.Parameters.border.right.width,'border-right-color':fd.Parameters.border.right.color,
            'border-top-style':fd.Parameters.border.top.style,'border-top-width':fd.Parameters.border.top.width,'border-top-color':fd.Parameters.border.top.color,
            'border-bottom-style':fd.Parameters.border.bottom.style,'border-bottom-width':fd.Parameters.border.bottom.width,'border-bottom-color':fd.Parameters.border.bottom.color };" 
            style="min-height: 50px;">  </div>
            
        </div>
    
    </div>
          
  </div>
  
  </div>  <!--borders_panel-->

  <hr class="my-0">

    <!-- LAYOUT PANEL -->
   <div class="expand-property-panel tag py-3" data-toggle="collapse" href="#layout3" role="button" aria-expanded="true" aria-controls="extendedPanel">
    	<span class="col p-0">Layout</span>
         <i class="fa fa-layer-group fa-lg"></i>
   </div>          
           
   <div class="mb-4 mt-n2 collapse " id="layout3" style="">
        <div class="form-group mb-1">
      
        <div class="p-3">
           <svg width="100%"  viewbox="-100 0 1200 1000" preserveAspectRation="true">
            <polygon stroke-width="6" stroke-dasharray="4 4"  style="fill: #f1f1f1;stroke: #bbb;" points="0,0 1000,0 1000,1000 0,1000"></polygon>       
            <polygon class="circleclass"  stroke-width="1" stroke-dasharray="2 1"  style="fill: white;stroke: #bbb;" points="400,400 600,400 600,600 400,600"></polygon>       
             
             <!-- BORDERS -->
            <polygon   style="fill: rgb(135, 206, 235);" points="150,150 200,200 200,800 150,850"></polygon>
            <polygon    style=" fill: rgb(135, 206, 235);" points="850,150 800,200 800,800 850,850 "></polygon>
            <polygon    style=" fill: rgb(135, 206, 235);" points="150,150 200,200 800,200 850,150 "></polygon>
            <polygon   style=" fill: rgb(135, 206, 235);" points="150,850 200,800 800,800 850,850"></polygon>
     
            <svg x="20" y="450" style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.margin.left ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.margin.left)" class="hoverParent" id="leftmargin" >  
                <rect width="150" height="150" style="fill:transparent;" /> 
                <path class="blueOnHover" transform="scale(0.25) translate(0,100)" d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z"  ></path>
                <svg class="blueOnHover" x="-15" y="-30" width="150" height="120">
                  <text ng-hide="fd.Parameters.margin.left.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.margin.left.value}}{{fd.Parameters.margin.left.units}}</span>
                  </text>
                  <text ng-show="fd.Parameters.margin.left.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                  </text> 
               </svg>
            </svg>
            
            
            <svg id="rightmargin" x="860" y="450" class="hoverParent" style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.margin.right ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.margin.right)" class="hoverParent"  >  
                <rect width="150" height="150" style="fill:transparent;" /> 
                <path class="blueOnHover" transform="scale(0.25) translate(0,100)" d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z" ></path>
                <svg class="blueOnHover" x="-10" y="-30" width="150" height="120">
                  <text ng-hide="fd.Parameters.margin.right.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.margin.right.value}}{{fd.Parameters.margin.right.units}}</span>
                  </text>
                  <text ng-show="fd.Parameters.margin.right.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                  </text> 
               </svg>
            </svg>
                  
            <svg id="topmargin" x="450" y="20" class="hoverParent" style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.margin.top ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.margin.top)"  >  
              <rect width="150" height="150" style="fill:transparent;" /> 
              <path class="blueOnHover" transform="scale(0.25) rotate(90,200,200)  " d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z"> </path>
              <svg class="blueOnHover" x="40" y="0" width="150" height="120">
                  <text ng-hide="fd.Parameters.margin.top.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.margin.top.value}}{{fd.Parameters.margin.top.units}}</span>
                  </text>
                  <text ng-show="fd.Parameters.margin.top.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                  </text> 
               </svg>
            </svg>
               
             <svg id="bottommargin" x="450" y="860" class="hoverParent" style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.margin.bottom ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.margin.bottom)" class="hoverParent"  >  
                <rect width="150" height="150" style="fill:transparent;" /> 
                <path class="blueOnHover" transform="scale(0.25) rotate(90,200,200)  " d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z" ></path>
                <svg class="blueOnHover" x="40" y="0" width="150" height="120">
                  <text ng-hide="fd.Parameters.margin.bottom.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.margin.bottom.value}}{{fd.Parameters.margin.bottom.units}}</span>
                  </text>
                  <text ng-show="fd.Parameters.margin.bottom.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                  </text> 
                </svg>
            </svg>
           
          <svg x="230" y="450" class="hoverParent" style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.padding.left ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.padding.left)"  fill="#bb" >
          {{$id}}
                  
             <rect width="15" height="15" style="fill:transparent;" /> 
             <path class="blueOnHover" transform="scale(0.25) translate(0,100)" d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z" ></path>
             <svg class="blueOnHover" x="-10" y="-30" width="150" height="120">
                  <text ng-hide="fd.Parameters.padding.left.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.padding.left.value}}{{fd.Parameters.padding.left.units}}</span>
                  </text>
                  <text ng-show="fd.Parameters.padding.left.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                  </text> 
            </svg>
           </svg>
             
           
            <svg x="640" y="450" style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.padding.right ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.padding.right)"  fill="#bb" class="hoverParent" >
              <rect width="150" height="150" style="fill:transparent;" />   
              <path class="blueOnHover"  transform="scale(0.25) translate(0,100)" d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z" ></path>
              <svg class="blueOnHover" x="-10" y="-30" width="150" height="120">
                  <text ng-hide="fd.Parameters.padding.right.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.padding.right.value}}{{fd.Parameters.padding.right.units}}</span>
                  </text>
                   <text ng-show="fd.Parameters.padding.right.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                  </text>                    
              </svg>
            </svg>
            
            
            <svg x="450" y="240"  style="cursor:pointer" class="hoverParent" ng-style="{'fill':fd.selected==fd.Parameters.padding.top ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.padding.top)"  fill="#bb"  >
              <rect width="150" height="100" style="fill:transparent;" />   
              <path class="blueOnHover"  transform="scale(0.25) rotate(90,200,200)  " d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z"></path>
              <svg class="blueOnHover" x="50" y="20" width="150" height="90">
                 <text ng-hide="fd.Parameters.padding.top.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    {{fd.Parameters.padding.top.value}}{{fd.Parameters.padding.top.units}}</span>
                 </text>
                 <text ng-show="fd.Parameters.padding.top.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                    auto</span>
                 </text>    
              </svg>
            </svg>
                  
            <svg x="450" y="640"  style="cursor:pointer" ng-style="{'fill':fd.selected==fd.Parameters.padding.bottom ? 'blue':'gray'}" ng-click="fd.select(fd.Parameters.padding.bottom)"  fill="#bb" class="hoverParent" >
             <rect width="100" height="100" style="fill:transparent;" />   
             <path class="blueOnHover"  transform="scale(0.25) rotate(90,200,200)  " d="m 487.971,235.993 -85.468,-85.464 c -5.22,-5.228 -14.396,-5.228 -19.616,0 l -7.452,7.448 c -5.4,5.408 -5.4,14.548 0.004,19.956 l 48.456,48.792 H 67.911 l 48.696,-49.02 c 5.408,-5.412 5.408,-14.384 0,-19.796 l -7.444,-7.524 c -5.232,-5.232 -14.404,-5.272 -19.624,-0.044 L 4.035,235.813 c -2.672,2.676 -4.1,6.24 -4.032,9.916 -0.072,3.82 1.36,7.396 4.032,10.068 l 85.464,85.464 c 5.228,5.232 14.396,5.228 19.62,0 l 7.444,-7.448 c 5.416,-5.416 5.416,-13.784 0,-19.192 L 66.707,265.185 h 358.792 l -50.096,49.668 c -2.612,2.604 -4.052,5.884 -4.052,9.592 0,3.708 1.436,7.088 4.052,9.7 l 7.444,7.396 c 2.616,2.612 6.1,4.02 9.812,4.02 3.716,0 7.196,-1.448 9.812,-4.06 l 85.5,-85.508 c 2.664,-2.668 4.096,-6.248 4.028,-9.924 0.076,-3.824 -1.36,-7.404 -4.028,-10.076 z"> </path>
             <svg class="blueOnHover"  x="50" y="20" width="150" height="90"> 
                  <text  ng-hide="fd.Parameters.padding.bottom.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                        {{fd.Parameters.padding.bottom.value}}{{fd.Parameters.padding.bottom.units}}</span>
                   </text>
                   <text  ng-show="fd.Parameters.padding.bottom.auto" x="50%" y="50%" font-size="60" dominant-baseline="middle" text-anchor="middle">
                        auto</span>
                    </text>    
              </svg>
           </svg>
          
        </svg>
        </div>
    
    <div ng-show="fd.selected" >
        <div class="text-center">
          <label class="label-xs  " for="setElementWidth"> <b> {{fd.selected.name}}</b></label>  
        </div>
        
         
          <div class=" mb-2">
           <div class="pt-2">
                  <input  type="checkbox" ng-change="fd.selected.value=0;fd.selected.units='px'"  ng-model="fd.selected.auto"> 
                  <label class="label-xs text-muted"> Auto size </label>
              </div>  
                   
          </div>
          
          <div  class="row mb-2">
          
            <div class="col">
                <label class="label-xs text-muted"> Value</label>
                <input  ng-disabled="fd.selected.auto" type="number" min="-500" max="500" ng-model="fd.selected.value" class="form-control form-control-xs ">
            </div >
            
             <div class="col">
                <label class="label-xs text-muted" for="setElementWidth"> Units</label>
              <select ng-disabled="fd.selected.auto" ng-model="fd.selected.units" class="form-control form-control-xs" id="setElementWidth">
                <option >px</option>
                <option>em</option>
                <option>%</option>
              </select>
              </div>  
             
          </div>
        </div>
    
    
        <div class="text-center" ng-hide="fd.selected">
           Nothing selected
         </div>  
                 
      </div>
      
     </div> <!--Margins panel-->
	
    
	<hr class="my-0">


	<!--  Shadow panel-->  
	<div class="expand-property-panel tag py-3" data-toggle="collapse" href="#layoutShadow" role="button" aria-expanded="true" aria-controls="extendedPanelShadow">
			<span class="col p-0">Shadow </span>
           	<i class="fa fa-umbrella-beach fa-lg"></i>
	</div>		
	<div class="mb-4 mt-n2 collapse " id="layoutShadow" style="">
		
		  <label class="label-xs text-muted" for="setShadowUnits">Units</label>
              <select ng-model="fd.Parameters.ShadowUnits" class="form-control form-control-xs" id="setShadowUnits">
                <option >px</option>
                <option>em</option>
                <option>%</option>
              </select>
		  <label class="label-xs text-muted">h-offset</label>
		<input type="number"  ng-model="fd.Parameters.ShadowHOffset" class="form-control form-control-xs ">
		  <label class="label-xs text-muted">v-offset</label>
		<input type="number"  ng-model="fd.Parameters.ShadowVOffset" class="form-control form-control-xs ">
		  <label class="label-xs text-muted">Blur</label>
		<input type="number"  ng-model="fd.Parameters.ShadowBlur" class="form-control form-control-xs ">
		  <label class="label-xs text-muted">Spread</label>
		<input type="number"  ng-model="fd.Parameters.ShadowSpread" class="form-control form-control-xs ">
		 <label class="label-xs text-muted">Color</label>
		<input type="color" ng-model="fd.Parameters.ShadowColor" class="form-control form-control-xs ">
	
	</div>   <!--  Shadow panel-->  
  
 </div>
