<div idd="ktGrid" class="">
	<div class="" ng-if="!formLoaded" animation-type="'form'" kt-processing-animation-timeline show-msg="true" message="Loading form..."></div>
	
	<ul ng-if="showGridNavigation && formParamsParent.formViewType==1" class="nav nav-tabs simple-tabs border-0 mb-2 mx-4" id="myTab" role="tablist">
					  
					  <li class="nav-item">
					    <a class="nav-link" ng-class="{'active':formParamsParent.formViewType==2}" href id="preview-tab1" data-toggle="tab" ng-click="ShowFormView(2,true)" role="tab" aria-controls="preview" aria-selected="{{formParamsParent.formViewType==2}}">Preview</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" ng-class="{'active':formParamsParent.formViewType==1}" id="build-tab1" href data-toggle="tab" ng-click="ShowFormView(1,false)" role="tab" aria-controls="build" aria-selected="formParamsParent.formViewType==1">Build</a>
					  </li>
		
					  <li class="nav-item">
					    <a class="nav-link" ng-class="{'active':formParamsParent.formViewType==3} || {'active':formParamsParent.formViewType==4}" id="layout-tab1" href data-toggle="tab" ng-click="ShowFormView(4)" role="tab" aria-controls="layout" aria-selected="{{formParamsParent.formViewType==4 || formParamsParent.formViewType==3}}"><i class="fa fa-th-large mr-1" ></i>
								Arrange layout
							</a>
					  </li>
					 
	</ul>
	
	<div ng-if="( formParams.formViewType==3 || formParams.formViewType==4) && formParamsParent.formViewType!=2" class="m-2 btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">

	  <label class="btn btn-outline-primary btn-toggle active" ng-click="ShowFormView(4)">
	    <input type="radio" name="options" id="option2" autocomplete="off" checked>
			<i class="fa fa-th-large mr-1" ></i> Arrange containers
	  </label>
	  <label class="btn btn-outline-primary btn-toggle" ng-click="ShowFormView(3)">
	    <input type="radio" name="options" id="option3" autocomplete="off">
				<i class="fa fa-columns mr-1" ></i> Arrange  columns
	  </label>
	</div>
	
	<div ng-if="formParams.formViewType==4" dragula="'bag-rows-{{gridType}}-{{$id}}'" dragula-model="allColumns.layout" class="">
	  <div ng-repeat="widget in allColumns.layout track by $index" class="gridRepeatContainer" >
	               <div ng-if="widget.Status=='Active'" kt-grid-row grid-type="gridType" row="widget"  resource-form-loaded="formLoaded" show-search-filters="showSearchFilters"
		   parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition"
		   form-params="formParams" form-params-parent="formParamsParent" parent="allColumns" form-data="formData" all-rows="allColumns"></div>
	                 
	  </div>
	</div>
	<div ng-if="formParams.formViewType!=4 && formLoaded" class="">
	  <div ng-repeat="widget in allColumns.layout track by $index" class="gridRepeatContainer">
	               <div ng-if="widget.Status=='Active'" kt-grid-row grid-type="gridType" row="widget"  resource-form-loaded="formLoaded" show-search-filters="showSearchFilters"
		   parent-resource-def-id="parentDatasetDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition"
		   form-params="formParams" form-params-parent="formParamsParent" parent="allColumns" form-data="formData" all-rows="allColumns"></div>
	                 
	  </div>
	</div>
</div>