<div idd="ktGridExe" class="">
	<div id="gridloading" class="" ng-if="!formLoaded && !hideProcessingAnimation" animation-type="'form'" kt-processing-animation-timeline show-msg="true" message="Loading form..."></div>

	<div ng-if="formLoaded" class="">
	  <div ng-repeat="widget in allColumns.layout track by $index" class="gridRepeatContainer">
	               <div ng-if="widget.Status=='Active'" kt-grid-row grid-type="::gridType" row="widget"  resource-form-loaded="formLoaded" show-search-filters="::showSearchFilters"
		   parent-resource-def-id="::parentResourceDefId" resource-record-id="::resourceRecordId" resource-definition="::resourceDefinition"
		   form-params="::formParams" form-params-parent="::formParamsParent" parent="::allColumns" form-data="formData" all-rows="::allColumns"></div>
	                 
	  </div>
	</div>
</div>