<div id="ktGridsterWidget">
				<div style="border-bottom:1px solid #ccc;background-color:#eee"> <!--style="display: inline-block;border:1px solid #ccc;width: 100%;">-->
         
          <div class="float-left" ng-show="!inputArray.locked" style="margin-left:6px"> <!--class="box-header" style="display: inline-block;border:1px solid #ccc">-->
          	<a href class="drag-handle"><i class="fa fa-arrows"></i></a>
           
          </div>
				<strong style="padding-left:20px"> {{ inputArray.name }}</strong>
        <div class="float-right" style="margin-right:6px">
				
						<a uib-popover-template="'widgetproperties.html'" ng-if="!inputArray.locked" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top"><i class="fa fa-caret-square-o-right"></i> </a>  
						<a uib-popover-template="'toolbox.html'" ng-if="!inputArray.locked" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top"><i class="fa fa-plus-square"  ng-class="{'color:black': inputArray.locked}"></i> </a>  
						<a title="Remove widget" ng-if="!inputArray.locked" ng-click="remove(inputArray)"><i  class="fa fa-times" ng-class="{'disabled': inputArray.locked}"></i></a>
            <a title="Lock/Unlock widget" ng-if="!formLocked" ng-click="inputArray.locked=!inputArray.locked;inverse()"><i ng-class="{'fa fa-lock': inputArray.locked ,'fa fa-unlock-alt': !inputArray.locked,'color:black': inputArray.locked}"></i></a>	
        </div>
				</div>
            <!--<button type="button" class="btn-link" uib-popover="Evo jel radi"><i class="fa fa-plus-square"></i> </abuttom>-->
						
	
				<div ng-switch="gridsterType" style="margin-top:15px;margin-right:0px"> <!--migor margin-right-->
 
            <div ng-switch-when="resource" kt-formlayout> </div>
            <div ng-switch-when="task" kt-taskformlayout> </div>
			
        
				</div> <!-- box-content -->
        
          <script id="toolbox.html" type="text/ng-template">
              <div ng-if="inputArray.locked" >Unlock widget!</div>
              <div ng-if="!inputArray.locked" kt-toolbox />
          </script>
				
      <script id="widgetproperties.html" type="text/ng-template">
        <div>
              <div class="box-header-btns float-right" >		</div>
                <label>Name </label> <input type="text" class="form-control" ng-model="inputArray.name"  />
                <div class="checkbox">
                  <label>
                      <input type="checkbox" ng-model="inputArray.showField"> Show widget
                  </label>
                   
                </div>
                <label>Tab index </label> <input type="number" placeholder="tab index" class="form-control" ng-model="inputArray.tabIndex"  />
              </div>
      </script>
        
			</div> <!-- panel -->