 <div ng-if="::row.Parameters.Printable"  class=" dropleft rounded" style=" z-index:100;  min-width: max-content;text-align: right;">
		     
            <a ng-click="oldprintRow(row.PresentationId)" id="search-filter-{{::fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="noprint btn btn-secondary btn-sm" href>
             <i style="color:black" class="noprint fas fa-print fa-sm {{::fd.Search.icon}} " title="Filter : {{::fd.Search.name}}"></i>{{::fd.Search.name}}</a>
                     
 </div>	
               
<div id="row{{::row.PresentationId}}" class="form-section" ng-show="::row.ShowField"
			style="background: url({{::row.Parameters.BackgroundImageUrl}}) {{::row.Parameters.BackgroundColorA}} {{::row.Parameters.RepeatBackText}} !important;
		 height: {{::row.Parameters.BackgroundImageHeight}}{{::row.Parameters.BackgroundImageUnit}};
		
		">
  
   <div class="row m-0">	
   
        <div class="col p-0">
            <div ng-if="::row.ShowHeader" class="row m-0 section-header">
				<div class="col p-1 my-auto">
							<!--	<input type="text" class="row-header-input border-0 bg-transparent" ng-if="row==gsrvc.selectedField && gsrvc.propertiesOpened"  ng-model="row.name" contenteditable="true" />-->
							<span  class="section-title tag show-when-edit p-1 px-2 mb-0 ml-1 bg-transparent border-0" >{{::row.Name}}</span>
                </div>	
    
            </div>
		</div>
	</div>

 

	
	<div class="row p-0 m-0">            
                
		<div ng-repeat="column in row.layout track by column.id" ng-show="column.ShowField" class="p-0 col-lg-{{::column.SizeX}} col-md-{{::column.Parameters.SizeXMd}} col-sm-{{::column.Parameters.SizeXSm}} col-{{::column.Parameters.SizeXXs}} {{column.Parameters.customCSS}}"
							ng-class="{'col-auto':column.Parameters.AutoSize,'rounded':column.Parameters.RoundedBorders}"
			style="
     padding-top:{{::column.Parameters.padding.top.value}}{{::column.Parameters.padding.top.units}} !important;
     padding-bottom:{{::column.Parameters.padding.bottom.value}}{{::column.Parameters.padding.bottom.units}} !important;
     padding-left:{{::column.Parameters.padding.left.value}}{{::column.Parameters.padding.left.units}} !important;
     padding-right:{{::column.Parameters.padding.right.value}}{{::column.Parameters.padding.right.units}} !important;
     margin-top:{{::column.Parameters.margin.top.value}}{{::column.Parameters.margin.top.units}} !important;
     margin-bottom:{{::column.Parameters.margin.bottom.value}}{{::column.Parameters.margin.bottom.units}} !important;
     margin-left:{{::column.Parameters.margin.left.value}}{{::column.Parameters.margin.left.units}} !important;
     margin-right:{{::column.Parameters.margin.right.value}}{{::column.Parameters.margin.right.units}} !important;
     border-top:{{::column.Parameters.border.top.width}}px {{::column.Parameters.border.top.style}} {{::column.Parameters.border.top.color}} !important; 
     border-bottom:{{::column.Parameters.border.bottom.width}}px {{::column.Parameters.border.bottom.style}} {{column.Parameters.border.bottom.color}} !important; 
     border-left:{{::column.Parameters.border.left.width}}px {{::column.Parameters.border.left.style}} {{::column.Parameters.border.left.color}} !important;
     border-right:{{::column.Parameters.border.right.width}}px {{::column.Parameters.border.right.style}} {{::column.Parameters.border.right.color}} !important;
					background-color: {{::column.Parameters.BackgroundColor}} !important;
					box-shadow: {{::column.Parameters.ShadowHOffset}}{{::column.Parameters.ShadowUnits}} {{::column.Parameters.ShadowVOffset}}{{::column.Parameters.ShadowUnits}} {{::column.Parameters.ShadowBlur}}{{::column.Parameters.ShadowUnits}} {{::column.Parameters.ShadowSpread}}{{::column.Parameters.ShadowUnits}} {{::column.Parameters.ShadowColor}};
     ">
            <div  ng-switch="::column.ElementType">
                  <div ng-switch-when="gcol" ng-if="::column.Status=='Active'" kt-grid-column resource-record-id="::resourceRecordId"  resource-form-loaded="resourceFormLoaded" grid-type="::gridType" show-search-filters="showSearchFilters"
											parent-resource-def-id="::parentResourceDefId" resource-record-id="::resourceRecordId" resource-definition="::resourceDefinition" input-array="column" form-params="::formParams"
											form-params-parent="::formParamsParent" form-data="formData" parent="::row" all-columns="row.layout" all-rows="allRows" index="$index" class="p-0"> 
                  </div>
            </div>
    </div>
  </div>
   
</div>
