 <div>
                     
              <div class="mt-2 text-center">
                 <label class="label-xs text-muted"><b>Presentation ID:</b> {{fd.PresentationId || 'none'}}</label>
                 <label class="label-xs text-muted"><b>Uuid:</b> {{fd.UuidRef || 'none'}}</label>
                 <label class="label-xs text-muted"><b>Type:</b> {{fd.Name}} ({{fd.ElementType}})</label>
             </div>
            
     <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            Basic  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
	</div>
    
            
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
           
	       
	        <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" id="cbShowField" ng-model="fd.ShowField"> 
                    <label class="custom-control-label label-xs" for="cbShowField">
                        Show row
                     </label>
            </div>
                  
            <div class="custom-control custom-checkbox">         
                <input type="checkbox" class="custom-control-input" id="cbShowHeader" ng-model="fd.ShowHeader"> 
                    <label class="custom-control-label label-xs" for="cbShowHeader">
                        Show header
                    </label>       
            </div>
          
            <div class="custom-control custom-checkbox">         
                <input type="checkbox" class="custom-control-input" id="cbPrintable" ng-model="fd.Parameters.Printable"> 
                    <label class="custom-control-label label-xs" for="cbPrintable">
                        Printable
                    </label>       
            </div>
           <div class="my-2">
           	<div class="small border-bottom">
           		Image source type
           	</div>
			 <div class="custom-control custom-radio">
				<input type="radio" id="srcType1{{fd.PresentationId}}" class="custom-control-input" ng-model="fd.Parameters.SrcType" value="web" name="srcType{{fd.PresentationId}}" ng-click="fd.Parameters.SrcType='web'" ng-checked="fd.Parameters.SrcType=='web'">
				<label class="custom-control-label label-xs" for="srcType1{{fd.PresentationId}}">Web</label>
      		</div>
	       	<div class="custom-control custom-radio">
				<input type="radio" id="srcType2{{fd.PresentationId}}" class="custom-control-input" ng-model="fd.Parameters.SrcType" value="file" name="srcType{{fd.PresentationId}}" ng-click="fd.Parameters.SrcType='file'" ng-checked="fd.Parameters.SrcType=='file'">
				<label class="custom-control-label label-xs" for="srcType2{{fd.PresentationId}}">Resource file</label>
	      	</div>
	      </div>
	       <div class="mb-2 p-2">    
       		<div ng-if="fd.Parameters.SrcType=='web' || fd.Parameters.SrcType===undefined">
				<label >Background image url</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.BackgroundImageUrl"  />
			</div>
			<div class="mb-2" ng-if="fd.Parameters.SrcType=='file'">
				<div ng-form ="'sourceFile'+fd.PresentationId" class="">
                   <label class="label-xs text-muted"> Source file </label>   

                   	<kt-dropdown-standard ng-model="fd.Parameters.FileDefId" size="'small'" selected-items="fd.Parameters.FileDefId" is-multiple="false" name="sourceFile{{fd.PresentationId}}" ng-required="false" dropdown-items="fd.localVars.listOfFileTypes" dropdown-id="'sourceFile'+fd.PresentationId" parent-form-id="'sourceFile'+fd.PresentationId" search-text="'Select file type'"></kt-dropdown-standard>

                 </div>

				<label>Source file record id</label> <input type="number" class="form-control form-control-xs" ng-model="fd.Parameters.FileId"  />
			</div>
			<div class="custom-control custom-checkbox">
			
				<input type="checkbox" class="custom-control-input" id="cbRepeat" ng-change="fd.BackRepeatChanged()" ng-model="fd.Parameters.RepeatBackImg"> 
				<label class="custom-control-label label-xs" for="cbRepeat">
				Repeat background image
				</label>
                     
			</div>
			<label class="label-xs text-muted">Background color</label>
			<input type="color" ng-change="fd.BackgroundColorChanged()" ng-model="fd.Parameters.BackgroundColor" class="form-control form-control-xs ">
			<label class="label-xs text-muted">Opacity</label>
			<input type="number" ng-change="fd.BackgroundColorChanged()" min="0" max="1" step="0.01" ng-model="fd.Parameters.BackgroundOpacity" class="form-control form-control-xs ">
			
			 <label class="label-xs text-muted" for="setElementWidth"> Units</label>
			<select ng-model="fd.Parameters.BackgroundImageUnit" class="form-control form-control-xs" id="setElementWidth">
				<option >px</option>
				<option>em</option>
				<option>%</option>
			</select>
			<label>Background image height</label> <input type="number" class="form-control form-control-xs" ng-model="fd.Parameters.BackgroundImageHeight"  />	 
		
	       </div>
	       
                  <div ng-if="false" class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="cbAllowSort" ng-model="fd.AllowSort"> 
	         <label class="custom-control-label label-xs" for="cbAllowSort">
                       Allow sort
                    </label>
                     
                  </div>
                  <button type="button" class="btn btn-xs btn-warning" title="Delete container" ng-click="localVars.gsrvc.changeConfirmDeleteElement()"><i  class="fa fa-trash text-dark" ng-class="{'disabled': formParams.formLocked}"></i>
						Delete layout container
					</button>
					<div class="my-1">
						<div ng-if="localVars.gsrvc.getConfirmDeleteElement()" class="card">
							<div class="card-header p-0 px-1 bg-light">
								
								<span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete layout confirmation</span></span>
								
							</div>
							<div class="my-1">
								<div class="ml-1 small bold text-dark">Click Confirm to delete layout container! </div>
								<div class="ml-1 small text-dark">This action may result in a loss of data!</div>
							</div>
							<div class="p-1">
								<button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="localVars.gsrvc.setConfirmDeleteElement(false);localVars.gsrvc.deleteElement(fd)">
									Confirm 
                                    <i  class="ml-2 fa fa-check"></i>
								</button>
								<button type="button" ng-click="localVars.gsrvc.setConfirmDeleteElement(false)"  class="btn btn-xs btn-link text-muted ml-auto">
                                Cancel
                                </button>
							</div>
						</div>
					</div>
               
	    
	    <div ng-if="false">
                  <label>Tab index </label> <input type="number" placeholder="tab index" class="form-control" ng-model="fd.TabIndex"  />
                  <label>SizeX </label> <input type="number" placeholder="sizeX" class="form-control" ng-model="fd.SizeX"  />
               </div>
   </div>
 </div>

