<style>
/*
.halfOval {
    max-width: 2%;
   background-color: #a0C580;
    border-radius: 40px 0px 0px 40px;
} 
.borderGreen {
   border: solid #a0C580 2px;
}*/

</style>
<div idd="ktGridRow" class="" ng-show="row.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" 
    ng-class="{'active':row==gsrvc.selectedField && gsrvc.propertiesOpened,'bg-white m-2 p-0':(formParams.formViewType==1 || formParams.formViewType==3 || formParams.formViewType==4) && formParamsParent.formViewType!=2}"
        style="background: url({{row.Parameters.BackgroundImageUrl}}) {{row.Parameters.BackgroundColorA}} {{row.Parameters.RepeatBackText}} !important; height: {{row.Parameters.BackgroundImageHeight}}{{row.Parameters.BackgroundImageUnit}};">
        
  <div class="d-flex m-0">	
  
       <div style="" ng-click="gsrvc.setFieldProperties(row,parent)" ng-show="formParams.formViewType==1 && formParamsParent.formViewType!=2 && !row.AllowSort " 
            class="halfOval d-flex flex-column justify-content-between p-0 ">  
            <div class="showOnHover">     
                  <a style="padding: 0.1rem 0.2rem;" title="Insert layout container above" href class="btn btn-primary align-top border-0  btn-xs" ng-click="addRowAbove(row)">
                   
                       <span class="fa fa-arrow-up" ng-class="{'disabled': formParams.formLocked}" />       
                       
                </a>
            </div>
            
            <div>
                <i class="task-element-drag-handle handler fas fa-grip-vertical text-white ml-1" style="opacity:0.8"></i>
            </div>
            
            <div class="showOnHover">
                
                  <a style="padding: 0.1rem 0.2rem;"  title="Insert layout container below" href class="btn btn-primary border-0 btn-xs" ng-click="addRowBelow(row)">
                   
                    <span class="fa fa-arrow-down" ng-class="{'disabled': formParams.formLocked}" />                   

                </a>
            </div>
         
       </div>	
       
       



   <div id="row_content" style="max-width: 98%;" class="col p-0"    ng-class="{ 'borderGreen':  isFormViewTypeEqual(1)}">
   
       <div id="row_header" ng-show="row.ShowHeader"   class="row m-0 section-header " ng-click="gsrvc.setFieldProperties(row,parent)"
		ng-class="{
        '':formParams.formViewType==1 || formParamsParent.formViewType==1,
        'bg-gray-200':formParams.formViewType==2 || formParamsParent.formViewType==2
        }" >
	    
		<!--<a ng-hide="formParams.formViewType==2||formParams.formViewType==1||formParams.formViewType==3" class="btn btn-secondary ml-3" 
                ng-class="{'':formParams.formViewType==3,'element-drag-handle':formParams.formViewType==1,'{{gridType}}-row-drag-handle':formParams.formViewType==4}" title="Sort layout container" href>
				<i class="fa fa-sort text-info"  ng-class="{'element-drag-handle':formParams.formViewType==1,'{{gridType}}-row-drag-handle':formParams.formViewType==4}"></i>
		</a>-->
	    
		<div class="col p-1 my-auto">
						<span  class="section-title tag show-when-edit p-1 px-2 mb-0 ml-1 bg-transparent border-0" ng-if="formParams.formViewType==2 || formParamsParent.formViewType==2">{{row.Name}}</span>
            <input type="text" class="row-header-input border-0 bg-transparent" ng-class="{'text-primary bold':row==gsrvc.selectedField && gsrvc.propertiesOpened}" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2" ng-model="row.Name" />
		</div>	
		
        <div class="col-auto p-0 pl-1 my-auto" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2 && !row.AllowSort">
			
       
          <!--  <a href title="Layout container properties" class="btn btn-link btn-sm ml-1" ng-click="gsrvc.setFieldProperties(row,parent)"><i class="fa fa-cog text-dark"></i></a>-->
			<a title="Enable sort" ng-if="parent.elementType=='gcol'" href class="btn btn-xs btn-light p-1 mr-1" ng-click="row.AllowSort=!row.AllowSort"><i class="fa fa-sort text-dark"></i></a>
		
			<!--<a title="Add column to container" ng-if="false" href class="btn btn-light btn-sm" ng-click="addColumn(row)"><i class="fa fa-columns text-dark" ng-class="{'disabled': formParams.formLocked}"></i></a>-->
			
		</div>
		<div class="col-auto p-0 pl-1" ng-if="row.AllowSort">
			
			<a title="Disable sort"  href class="btn btn-light btn-sm" ng-click="row.AllowSort=!row.AllowSort"><i class="fa fa-sort text-dark"></i> Disable sort</a>
		
		</div>
	</div>
		
	 <!--<div ng-if="row.layout.length==0">-->
        <div  ng-if="parent.layout.length==0">
       
         <button ng-click="addColumn(row,1)"> + </button>
        </div>
    
	<!-- PREVIEW MODE ROW AND COLUMNS -->		
	<div  class="row p-0 m-0" ng-if="!row.AllowSort && formParams.formViewType==3" dragula="'bag-columns-{{gridType}}'" dragula-model="row.layout">
    
		<div ng-class="{'rounded':column.Parameters.RoundedBorders}" ng-repeat="column in row.layout track by column.id" class="p-0 col-lg-{{column.SizeX}} col-md-{{column.Parameters.SizeXMd}} col-sm-{{column.Parameters.SizeXSm}} col-{{column.Parameters.SizeXXs}}"
							
            style="    
             padding: {{column.Parameters.padding.top.value}}{{column.Parameters.padding.top.units}}  {{column.Parameters.padding.right.value}}{{column.Parameters.padding.right.units}} {{column.Parameters.padding.bottom.value}}{{column.Parameters.padding.bottom.units}} {{column.Parameters.padding.left.value}}{{column.Parameters.padding.left.units}} !important;   
             margin:{{column.Parameters.margin.top.value}}{{column.Parameters.margin.top.units}} !important;{{column.Parameters.margin.right.value}}{{column.Parameters.margin.right.units}} {{column.Parameters.margin.bottom.value}}{{column.Parameters.margin.bottom.units}} {{column.Parameters.margin.left.value}}{{column.Parameters.margin.left.units}} !important;  
             border-top:{{column.Parameters.border.top.width}}px {{column.Parameters.border.top.style}} {{column.Parameters.border.top.color}} {{column.Parameters.border.right.width}}px {{column.Parameters.border.right.style}} {{column.Parameters.border.right.color}} {{column.Parameters.border.bottom.width}}px {{column.Parameters.border.bottom.style}} {{column.Parameters.border.bottom.color}} {{column.Parameters.border.left.width}}px {{column.Parameters.border.left.style}} {{column.Parameters.border.left.color}} !important;
             background-color: {{column.Parameters.BackgroundColor}} !important;
                            box-shadow: {{column.Parameters.ShadowHOffset}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowVOffset}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowBlur}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowSpread}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowColor}};
             ">
            <div  ng-switch="column.ElementType">
                  <div ng-switch-when="gcol" ng-if="column.Status=='Active'" kt-grid-column resource-form-loaded="resourceFormLoaded" grid-type="gridType" show-search-filters="showSearchFilters" parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition" input-array="column" form-params="formParams" form-params-parent="formParamsParent" form-data="formData" parent="row" all-columns="row.layout" all-rows="allRows" index="$index" class="p-0"> 
                  </div>
            </div>
        </div>
   
    </div>
	
    <!-- BUILD MODE ROW AND COLUMNS-->
	<div class="row p-0 m-0" ng-if=" isFormViewTypeEqual(2) || formParams.formViewType==1 || formParams.formViewType==2 ">
		<div ng-class="{'border rounded p-4': 1==1}" ng-repeat="column in row.layout track by column.id" ng-show="column.ShowField || isFormViewTypeEqual(1)" class="p-0 col-lg-{{column.SizeX}} col-md-{{column.Parameters.SizeXMd}} col-sm-{{column.Parameters.SizeXSm}} col-{{column.Parameters.SizeXXs}}" ng-class="{'col-auto':column.Parameters.AutoSize}"
			style="
                 padding:{{column.Parameters.padding.top.value}}{{column.Parameters.padding.top.units}} {{column.Parameters.padding.right.value}}{{column.Parameters.padding.right.units}} {{column.Parameters.padding.bottom.value}}{{column.Parameters.padding.bottom.units}} {{column.Parameters.padding.left.value}}{{column.Parameters.padding.left.units}} !important; 
                 margin:{{column.Parameters.margin.top.value}}{{column.Parameters.margin.top.units}} {{column.Parameters.margin.right.value}}{{column.Parameters.margin.right.units}} {{column.Parameters.margin.bottom.value}}{{column.Parameters.margin.bottom.units}} {{column.Parameters.margin.left.value}}{{column.Parameters.margin.left.units}} !important;
                 border:{{column.Parameters.border.top.width}}px {{column.Parameters.border.top.style}} {{column.Parameters.border.top.color}} {{column.Parameters.border.right.width}}px {{column.Parameters.border.right.style}} {{column.Parameters.border.right.color}} {{column.Parameters.border.bottom.width}}px {{column.Parameters.border.bottom.style}} {{column.Parameters.border.bottom.color}} {{column.Parameters.border.left.width}}px {{column.Parameters.border.left.style}} {{column.Parameters.border.left.color}} !important;
                 background-color: {{column.Parameters.BackgroundColorA}} !important;
                                box-shadow: {{column.Parameters.ShadowHOffset}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowVOffset}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowBlur}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowSpread}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowColor}};
                 ">
            <div  ng-switch="column.ElementType">
                  <div ng-switch-when="gcol" ng-if="column.Status=='Active'" kt-grid-column  resource-form-loaded="resourceFormLoaded" grid-type="gridType" show-search-filters="showSearchFilters" parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition" input-array="column" form-params="formParams"
											form-params-parent="formParamsParent" form-data="formData" parent="row" all-columns="row.layout" all-rows="allRows" index="$index" class="p-0"> 
                  </div>
            </div>
        </div>
       
    
    </div>
   

	<div class="row p-1" ng-if="row.AllowSort || formParams.formViewType==4">
		
		<a class="btn btn-outline-primary ml-3" ng-class="{'element-drag-handle':formParams.formViewType==1,'{{gridType}}-row-drag-handle':formParams.formViewType==4}" title="Sort layout container" href>
				<i class="fa fa-sort" ng-class="{'element-drag-handle':formParams.formViewType==1,'{{gridType}}-row-drag-handle':formParams.formViewType==4}"></i>
		</a>
		
		<span  class="tag h6 ml-3">Layout container &nbsp {{::parent.layout.indexOf(row)+1}} </span>
	
	</div>
   </div>
	
</div>   
</div>
