<div idd="ktGridColumn" ng-show="inputArray.ShowField || ((formParams.formViewType==1 || formParams.formViewType==4 || formParams.formViewType==3) && formParamsParent.formViewType!=2)"  class="p-0 "  
    ng-class="{'column-outline':(formParams.formViewType==1 || formParams.formViewType==3) && formParamsParent.formViewType!=2,'active':inputArray==gsrvc.selectedField && gsrvc.propertiesOpened,'m-1':formParams.formViewType==3}">
    
    
      <div id="column_header" ng-click="gsrvc.setFieldProperties(inputArray,parent)" ng-if="inputArray.ShowHeader || (formParams.formViewType!=2 && formParamsParent.formViewType!=2)" 
        class="px-0" 
        ng-class="{'column-header':formParams.formViewType==1 || formParams.formViewType==3,'m-1 border border-dark':formParams.formViewType==4,'bg-primary-light':formParams.formViewType==2 || formParamsParent.formViewType==2}"> 

		<div class="row m-0" ng-if="formParams.formViewType==1 || formParams.formViewType==2 || formParamsParent.formViewType==2">
			
            
            <div  id="Add_column_left" class="col-auto p-0" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
				     <a title="Add column to the left" href ng-if="inputArray==gsrvc.selectedField && gsrvc.propertiesOpened" 
                     class="btn btn-light p-0 px-1 m-1 btn-xs" ng-click="addColumn(parent,0)">
					<i class="fa fa-arrow-left text-dark m-0" ng-class="{'disabled': formParams.formLocked}"></i>
					<i class="fa fa-columns text-dark m-0" ng-class="{'disabled': formParams.formLocked}"></i>
				</a>
			</div>
            
			<div class="col">
				<input type="text" class="column-header-input bg-transparent border-0" ng-class="{'text-success bold':inputArray==gsrvc.selectedField && gsrvc.propertiesOpened}" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2" ng-model="inputArray.Name" contenteditable="true" />
				<span  class="section-title tag show-when-edit py-2 mb-0 ml-1 bg-transparent border-0" ng-if="formParams.formViewType==2 || formParamsParent.formViewType==2">{{inputArray.Name}}</span>
			</div>
            
            
            <!--showOnHover-->
          <!--  <div ng-hide="inputArray.layout.length==0 " id="delete_element" class=" showOnHover col-auto p-0">
        	 <div class="dropdown d-inline-block" >     
							<a href class="btn btn-outline-danger border-0 btn-xs" title="Remove field" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-trash-alt"></i>
							</a>
							<div class="dropdown-menu shadow p-0 dropdown-max-content-width" aria-labelledby="dropdownMenuButton">
								<div class="card-header p-0 px-1 bg-light">
									 
									 <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete widget confirmation</span></span>
									 
								</div>
								<div class="m-1">
									 <div class="m-1 small bold text-dark">Click Confirm to delete widget! </div>
									 <div ng-if="false" class="ml-1 small text-dark">This action may result in a loss of data!</div>
								</div>
								<div class="p-1">
                                      <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="deleteElement()">   
										 Confirm <i  class="ml-2 fa fa-check"></i>
									 </button>
								</div>
							</div>
			</div>
			
		</div>-->
        
      <!--  <div id="delete widget" class="col-auto p-0">
	
             <div kt-task-dropdown> </div>
			
		</div>-->
        
           
	        <div id="add_column_right" class="col-auto p-0" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                  <a title="Add column to the right" href  ng-if="inputArray==gsrvc.selectedField && gsrvc.propertiesOpened" 
                  class="btn btn-light p-0 px-1 m-1 btn-xs" ng-click="addColumn(parent,1)">
                    <i class="fa  fa-columns  text-dark" ng-class="{'disabled': formParams.formLocked}"></i>
                    <i class="fa fa-arrow-right text-dark" ng-class="{'disabled': formParams.formLocked}"></i>     
                </a>
		    </div>
            
           
            
		    
            
		</div>
		
		<div class="row m-0" ng-if="formParams.formViewType==3">
	    	
		    <span  class="section-title col-auto m-1">{{inputArray.Name}}</span>
		     <div class="col-auto my-auto" ng-if="inputArray==gsrvc.selectedField && gsrvc.propertiesOpened">
					<input  type="number" min="1" max="24"  ng-model="inputArray.SizeX"  class="form-control form-control-xs" />
					
				 </div>
				
		</div>
		
	</div>
	
	<div class="row m-0 p-1 text-center" ng-if="formParams.formViewType==3">
		
		<a class="btn btn-outline-primary col-auto ml-3 {{gridType}}-column-drag-handle"  title="sort" href>
				<i class="{{gridType}}-column-drag-handle fa fa-sort"></i>
		</a>
		
		<span  class="h6 col-auto my-auto ml-3">Column &nbsp {{::parent.layout.indexOf(inputArray)+1}} </span>
	
		 <div class="text-danger col text-right" ng-if="inputArray==gsrvc.selectedField && gsrvc.propertiesOpened">
					<a title="Clear selection" href class="btn btn-link py-1 ml-3 btn-sm" ng-click="showHideProperties(false);">
							<i class="fa fa-times m-0"></i>
							<span class="ml-1">Clear selection</span>
					</a>
		</div>	
           
		
	</div>
	
	
	
	
  	<div ng-switch="gridType" ng-show="(formParams.formViewType==1 || formParams.formViewType==2 || formParams.formViewTypeParent==2) && inputArray.Status=='Active'">   
	
		
		<div ng-switch-when="task" kt-taskformlayout > </div>
		<div ng-switch-when="page" kt-pageformlayout > </div>
		<div ng-switch-default kt-formlayout > </div>
		    
</div>
	

</div> <!-- card -->