<div id="ktHeaderProperties"class="p-1">

        <div class="text-center">
			<label class="label-xs text-muted"><b>ID:</b> {{fd.PresentationId || 'none'}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
		</div>
		
        <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
	  </div>
        
		
    <div class="mb-4 collapse show" id="mainPropertyPanel">
		   
            <div class="checkbox">
                <label><input type="checkbox" ng-model="fd.ShowField"> Show header</label>
            </div>
            
            <label>Header text</label> <textarea class="form-control form-control-xs" rows="4" ng-model="fd.ResponseMsg"></textarea>

             <label class="label-xs text-muted">Element width {{fd.Parameters.ElementWidth}}</label> 
             <input id="elementWidth{{fd.PresentationId}}" type="range" min="1" max="24"   ng-model="fd.Parameters.ElementWidth"   class="form-control form-control-xs" />
            
            <label>Header text max length </label> 
            <input type="text" class="form-control form-control-xs" ng-model="fd.MaxLength"  />
      

            <div class="col-24   py-1 px-0">
                <label class="label-xs text-muted">Font size </label> <input  type="number" step="0.01" min="0.01" max="20"   ng-model="fd.Parameters.FontSize"   class="form-control form-control-xs" />
            </div>
              
            <div class="col-24  py-1 px-0">  
                <label class="label-xs text-muted">Font color </label> <input  type="color" ng-model="fd.Parameters.FontColor"   class="form-control form-control-xs" /> 
            </div>
        
           
            <div class="col-24 py-1 px-0">
                <label class="label-xs text-muted">Opacity</label>
                <input type="number" ng-change="fd.BackgroundColorChanged()" min="0" max="1" step="0.01" ng-model="fd.Parameters.BackgroundOpacity" class="form-control form-control-xs ">
            </div>
            
                    
            <div class="col-24  py-1 px-0">
               <label class="label-xs text-muted">Background color</label>
                <input type="color" ng-model="fd.Parameters.BackgroundColor" class="form-control form-control-xs" /> 
                
            </div>
           
            <div class="col-24  py-1 px-0">
                <label class="col-12 custom-control custom-checkbox">                  
                    <input type="checkbox" class="custom-control-input" id="cbFontBold" ng-model="fd.Parameters.FontBold"/> 
                    <label class="custom-control-label label-xs" for="cbFontBold">Bold</label>                 
                </label>
            </div>  
            
            
         
        <div class="row m-0 mt-1">      
            <div class="col-24 p-0">
                    <div class="mb-1 small bold ">Text Align</div>   
                    <div class="btn-group ">
                         <label class="btn btn-success btn-sm m-1" ng-model="fd.Parameters.TextAlign" uib-btn-radio="'left'" uncheckable>  <span class="fa fa-align-left"></span> </label>
                        <label class="btn btn-success btn-sm m-1" ng-model="fd.Parameters.TextAlign" uib-btn-radio="'center'" uncheckable> <span class="fa fa-align-center"></span> </label>
                        <label class="btn btn-success btn-sm m-1" ng-model="fd.Parameters.TextAlign" uib-btn-radio="'right'" uib-uncheckable="uncheckable"> <span class="fa fa-align-right"></span></label>
                    </div>
            </div>
        </div> 
        
        <div class="col mt-1 p-0">
            <div class="custom-control custom-checkbox">                           
                        <input type="checkbox" class="custom-control-input" id="cbShowAsLink" ng-model="fd.Parameters.ShowAsLink"> 
                        <label class="custom-control-label label-xs" for="cbShowAsLink">Show as link</label>                
            </div>
        </div>
        
        
        <div class="col p-0" ng-show="fd.Parameters.ShowAsLink">
            <label class="label-xs text-muted">Link URL</label>
                <input type="text" ng-model="fd.Parameters.LinkUrl" class="form-control form-control-xs" /> 
        </div>
	 
    </div> 	


<div fd="fd" kt-field-border-property>
 </div>
	
 </div>     


 