<div  class="widget-head m-2" ng-class="{'widget-active shadow':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}">
    
	<div ng-if="gsrvc.getFormViewType()==1 || formParams.formViewType==1">
		<div  class="row m-0 p-0 mb-1" 
                ng-class="{'widget-head-active':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened(),'bg-light':!gsrvc.getFieldPropertiesOpened()}">
			
            <div class="col-auto p-0">
				<i title= "Id: {{::fd.PresentationId}}" class="fas fa-heading mx-2"></i><label >Headline ({{fd.PresentationId}})</label>
				<a href title="sort" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
				
			</div>
			<div class="col text-right p-0">
					  <a href class="btn btn-outline-primary border-0 btn-sm widget-prop" title="Show properties" ng-click="gsrvc.setFieldProperties(fd, $event)"><i class="fas fa-cog"></i> </a>		
			</div>
			
        <div class="col-auto p-0">		
		    <div kt-task-dropdown> </div>	
		</div>
			 
		</div>
	</div>

    
    <div  ng-if="fd.ResponseMsg" class="col-{{fd.Parameters.ElementWidth}} p-0" style="text-align: {{fd.Parameters.TextAlign}};">
			<div ng-hide="fd.Parameters.ShowAsLink" class="py-1 col-24" ng-class="{'bold':fd.Parameters.FontBold,'rounded':fd.Parameters.RoundedBorders}" 
                        ng-bind-html="fd.ResponseMsg"
                        style="
				     	border-top:{{::fd.Parameters.border.top.width}}px {{::fd.Parameters.border.top.style}} {{::fd.Parameters.border.top.color}} !important; 
				     	border-bottom:{{::fd.Parameters.border.bottom.width}}px {{::fd.Parameters.border.bottom.style}} {{fd.Parameters.border.bottom.color}} !important; 
				     	border-left:{{::fd.Parameters.border.left.width}}px {{::fd.Parameters.border.left.style}} {{::fd.Parameters.border.left.color}} !important;
				     	border-right:{{::fd.Parameters.border.right.width}}px {{::fd.Parameters.border.right.style}} {{::fd.Parameters.border.right.color}} !important;
                            font-size: {{fd.Parameters.FontSize}}rem;
                            color: {{fd.Parameters.FontColor}};
                            background-color: {{fd.Parameters.BackgroundColor}}; ">
                        {{fd.ResponseMsg}}
             </div>
					
			<a ng-show="fd.Parameters.ShowAsLink"   class="py-1 col-24" ng-class="{'bold':fd.Parameters.FontBold}" 
					href="{{fd.Parameters.LinkUrl}}"
					style="
                        font-size: {{fd.Parameters.FontSize}}rem;
                        color: {{fd.Parameters.FontColor}};	
                        background-color: {{fd.Parameters.BackgroundColor}};">
                    {{fd.ResponseMsg}}
            </a>
	</div>
   
   
    <div  ng-if="!fd.ResponseMsg" class="{{colLength[fd.LabelLength-1]}} p-0">
					<div  class="py-1 col-24" ng-class="{'bold':fd.Parameters.FontBold,'rounded':fd.Parameters.RoundedBorders}" ng-hide="fd.Parameters.ShowAsLink"
                       
                        style="
                            font-size: {{fd.Parameters.FontSize}}rem;
                            color: {{fd.Parameters.FontColor}};
                            text-align: {{fd.Parameters.TextAlign}};
                            background-color: {{fd.Parameters.BackgroundColor}}; ">
                 
                     Header Text
                    </div>
				
	</div>
	
	
			       
</div>
		
	
 
