
<!-- ICON PICKER-->
<div ng-show="showIcons" id="ktIconPicker"  style="position:absolute !important; z-index:1000 !important; "  class="bg-gray-50" >
    
      <div class="text-right">
       <!-- <h5 class="" id="exampleModalLongTitle">Icon selector </h5>-->
        <button  style="top: -20px;    position: absolute;  z-index: 1000;  right: -14px;" type="button" class="btn btn-sm btn-danger" ng-click="showIconsFunc(false)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
                    
       <div class="" ng-class="{' shadow':!designMode,'card':designMode}" aria-labelledby="iconPicker{{uniqueId}}">
               
            <div class="text-center" ng-hide="itemsLoaded" style="position:absolute;width:100%;    z-index: 1000;">   
                    <div class="lds-ring"><div></div>  <div></div>     <div></div>    <div></div>   </div>
            </div>
    
			<div style="min-height: 100px;" ng-if="selectIcons" class="row m-0 pl-0 rounded-0 border bg-gray-50">
			
				<div class="col-24 p-2"> 
					<input ng-show="icons.length>0" type="text" ng-model="iconsFilter.filter" ng-change="changed_filter();" ng-model-options="{debounce: 200}" placeholder="Filter icons" class="form-control" name="iconsfilter"  />  
				</div>    
					   
				<div class="col-24 m-0" style="min-width: 40rem;max-height: 20rem;overflow: auto;">                              
					<div ng-if="showButtons" class="row m-0">
						<div  ng-repeat="icon in filteredIcons"  class="col text-center p-1">
							<a title="{{::icon.shorty}}" class="btn btn-outline-primary border-0 p-0 p-1 px-2" ng-click="iconChosen(icon)" href ><i  class="{{::icon.full}}"> </i> </a> 
						</div>
				   </div>  
				</div>
                
                
			
			</div>
	
			<div  ng-if="selectColors" class="m-0 pl-0 rounded-0 border bg-white" >
				<div class="row m-0 p-2">	
				 <span class="mr-2"> <b>Select style</b> </span>
					<div ng-repeat="button in allButtons" >             
						<button  title="{{button}}" type="button" ng-click="styleChosen(button)" ng-class="{'p-0':button=='btn-link','p-3':button!='btn-link',}" class="btn {{button}} ml-1"> <span ng-if="button == 'btn-link'">{{button}}</span> </button>          
					</div> 
	
				</div>
	
			</div>
            
             <div class="bg-gray-50 text-center">
          <button class="btn btn-primary" type="button"  ng-click="showIconsFunc(false)" >Finish </button>
      </div>
            
		</div>
                
                
     
   
</div> 

  

<!-- EXE VERSION-->
 <div ktexe class=" m-0" ng-if="icons.length>0">
		
	<div ng-if="!selectIcons || selectedIcon"  class="" ng-class="{'':!designMode}">				
					
					<span class="small muted mr-2"> <b>{{title}}</b></span> 
                   <!-- <span class="small bold" > Icon </span>  -->
				   <button   style="min-height: 20px;min-width: 20px;"  class="p-0 px-1"  ng-class="setBtnClass()" id="iconPicker{{uniqueId}}"
                        ng-show="selectIcons || !designMode" type="button" title="{{selectedIcon}}"
                        ng-click="showIconsFunc(true)"   aria-haspopup="true" aria-expanded="false">
                        
                        <i class="{{selectedIcon}}"></i>
                        <span ng-if="selectedIcon" >{{btnLabel}}</span>
                        <span ng-if="!selectedIcon" > ...</span>
				   </button>
				 <!--  <button type="button" ng-show="selectColors" ng-click="pickAll()" class="btn btn-link"> Change button </button> -->
				 <span ng-show="designMode" class="small mx-3">{{selectedIcon}}</span>
		 
	
	</div>
    
    <div ng-if="selectIcons && !selectedIcon">
        <button   style="min-height: 20px;min-width: 20px;"  class="btn btn-outline-primary p-0 px-1"    type="button" title="{{selectedIcon}}"
                        ng-click="showIconsFunc(true)"   aria-haspopup="true" aria-expanded="false" >
                        
                        <i class=" fas fa-paint-brush"></i>
                        <span ></span>
                    
		 </button>
    </div>
    
</div>