<div  class="widget-head" ng-class="{'widget-active m-2 shadow':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}">
   
	
	<div ng-if="gsrvc.getFormViewType()==1 || formParams.formViewType==1">
      
		<div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened(),'bg-light':!gsrvc.getFieldPropertiesOpened()}">
			<div class="col-auto p-0">
				<i class="fas fa-image mx-2"></i><label >Image ({{fd.PresentationId}})</label>
				<a href title="sort" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
			</div>
			<div class="col text-right my-auto p-0">
					  <a href class="btn btn-outline-primary border-0 btn-sm widget-prop" title="Show/hide image" ng-click="fd.localVars.hideImage=!fd.localVars.hideImage"><i class="fas fa-eye"></i> </a>		
			</div>
			<div class="col-auto my-auto p-0">
					  <a href class="btn btn-outline-primary border-0 btn-sm widget-prop" title="Show properties" ng-click="gsrvc.setFieldProperties(fd)"><i class="fas fa-cog"></i> </a>		
			</div>
			
			 <div class="col-auto p-0">
			
                    <div kt-task-dropdown> </div>
            
			</div>
			 
		</div>
	</div>
	
	<div ng-if="!fd.localVars.hideImage" ng-class="{'text-center':fd.Parameters.ImageAlign=='center','text-left':fd.Parameters.ImageAlign=='left','text-right':fd.Parameters.ImageAlign=='right'}">
		<img width="{{fd.Parameters.ImageWidth}}%" src="{{fd.ImageUrl}}"></img>
	</div>
	   
</div>
		
	
	 

 
 
