<div>
       
      <div>
           <label class="text-muted">Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
      </div>
      <div>
           <label class="text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
      </div>
      <div>
           <label class="text-muted">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
      </div>
      <div class="custom-control custom-checkbox mr-3">
                    
		<input type="checkbox" class="custom-control-input" id="cbInlineTask" ng-model="fd.InlineTask"> 
            <label class="custom-control-label label-xs" for="cbInlineTask">Start task inline</label>
                     
        </div>

      	  
	<div class="custom-control custom-checkbox">
                    
			<input type="checkbox" class="custom-control-input" id="cbAnyTask" ng-click="fd.ShowTaskList()" ng-model="fd.AnyTask"> 
            <label class="custom-control-label label-xs" for="cbAnyTask">Start any task</label>
                     
      </div>
  </div>
  