<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVars.showResourceDetails || localVars.selectedResourceIndex>-1}">
   <div ng-if="(gsrvc.getFormViewType()==1 || formParams.formViewType==1) && formParamsParent.formViewType!=2">
      
        <div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':localVars.showResourceDetails,'bg-light':!localVars.showResourceDetails}">
            <div ng-if="fd.ElementType=='itask'" class="col-auto p-0">
                <i class="fa fa-rocket mx-2"></i><label >Resource action widget ({{::fd.PresentationId}})</label>
                <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
            </div>
           
            <div class="col pl-0 my-auto">

                    <div class="" >
                           <button 
                              
                               ng-repeat="resource in fd.FormDef track by resource.id" type="button"
                               data-toggle="tooltip" data-placement="top" title="Task id: {{resource.id}}"                           
                               ng-click="localVars.ShowResourceDefinition22($index)"  
                               class="btn {{resource.size}} {{resource.btnClass}}"
                               ng-class="{'active':resource.id==localVars.resourceItem.id}"
                           >
                            <i class="{{resource.icon}} " ng-class="{'mr-2 mb-2':resource.icon!=undefined && resource.icon!=null && resource.icon!=''}"></i> {{resource.btnLabel}} </button> 
                    </div>
                    
             </div>  
              
             <div class="col-auto my-auto p-0">
                        <button type="button"  ng-click="localVars.showAddResource = true;localVars.showResourceDetails=!localVars.showResourceDetails;localVars.selectedResourceIndex=-1" class="btn btn-outline-primary btn-xs">
                            <i class="fa fa-plus mr-2"></i><span>Add resource</span>
                      </button>
                          <a href ng-if="false" class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}"
                             title="Show/hide properties" ng-click="localVars.showProperties(2)"><i class="fas fa-cog"></i> </a>    
                        
                            <a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="localVars.showForm=!localVars.showForm"><i ng-class="{'fas fa-eye-slash':!localVars.showForm,'fas fa-eye':localVars.showForm}"></i> </a> 
             </div>
                
             <div class="col-auto p-0" ng-if="fd.ElementType=='itask'">
               
                <div kt-task-dropdown2> </div>
                   
                </div>  
            
        </div>
    </div>
    
    
    <div id="Resource_details" ng-show="localVars.showResourceDetails"  >
    
        <div ng-show="localVars.showAddResource" class="row m-2 p-1">
                        
                                            <div class="col-auto my-auto  bold mr-2" >
                                                <label>Action Type :</label>
                                            </div>      
                                          
                                            <div class="col-auto btn-group" role="group" aria-label="ResourceType" >
                                                
                                                  <button type="button" ng-click="localVars.setResourceType('page')"  ng-class="{'active':localVars.selectedResourceType=='page'}" class="btn btn-sm btn-outline-primary">
                                                      Open page
                                                  </button>
                                                  <button type="button" ng-click="localVars.setResourceType('task')" ng-class="{'active':localVars.selectedResourceType=='task'}" class="btn btn-sm btn-outline-primary">
                                                      Execute task
                                                  </button>
                                            </div>
                                        
                                        
                                        <div class="col-lg-10">
                                            <kt-dropdown ng-if="localVars.resourceLoaded" ng-model="localVars.resourceItem" is-multiple="false" select-item-fn="setDropdownValue(theSelectItemFn)" name="{{fd.Name}}{{fd.ItemId}}" dropdown-items="localVars.resourceListForDropdown" dropdown-id="'ResourceDropDown'+fd.PresentationId" parent-form-id="'innerForm'+fd.ItemId" search-text="'Select resource'"></kt-dropdown>
        
                                        </div>
                                        <div class="col-auto my-1">
                                              <button type="button" ng-click="localVars.ShowResourceDetails()" ng-show="localVars.resourceLoaded" class="btn btn-outline-primary btn-sm">
                                            <i class="fa fa-plus mr-2"></i>Add</button>
                                        </div>
                                      
        </div>
    
  

        <div ng-if="localVars.showResourceDetails && !localVars.showAddResource" class="row m-1">
                         
                <div  class="card-body p-1">
                
                            <div class="m-2">
                                <div class="mb-1 d-inline bold mr-2" ><label>Action Type :</label></div>        
                                <div class="mb-1 d-inline text-primary bold" ng-show="localVars.selectedResourceType=='page'">
                                <label>Open page</label></div>
                                <div class="mb-1 d-inline text-primary bold" ng-show="localVars.selectedResourceType=='task'">
                                <label>Execute task</label></div>           
                            </div>
                                    
     
                            <div class="m-2  bold" >
                                    <label>Label :</label>
                            </div>
                        
                            <div   class="col-auto" data-toggle="tooltip" data-placement="top" title="{{fd.FormDef[localVars.selectedResourceIndex].id}}">
                                   <input type="text" class="form-control" ng-model="localVars.selectedResource.btnLabel"  />
                            </div>
                             
                     
                            <div class=" ml-2 mt-2" ng-if="localVars.selectedResourceType=='task'"> 
                                  <div class="mb-1  bold">  <label> Task Type  </label>  
                                  </div>
                                  <div class="btn-group" role="group" aria-label="OpenTaskType">
                                          <button type="button" ng-click="localVars.selectedResource.OpenTaskType='newPage'" ng-class="{'active':localVars.selectedResource.OpenTaskType=='newPage'}" class="btn btn-sm btn-outline-primary">
                                              Open in new page
                                          </button>
                                          <button type="button" ng-click="localVars.selectedResource.OpenTaskType='current'" ng-class="{'active':localVars.selectedResource.OpenTaskType=='current'}" class="btn btn-sm btn-outline-primary">
                                              Open in current container
                                          </button>
                                          <button type="button" ng-click="localVars.selectedResource.OpenTaskType='inline'" ng-class="{'active':localVars.selectedResource.OpenTaskType=='inline'}" class="btn btn-sm btn-outline-primary">
                                              Inline task
                                          </button>
                                           <button type="button" ng-click="localVars.selectedResource.OpenTaskType='container'" ng-class="{'active':localVars.selectedResource.OpenTaskType=='container'}" class="btn btn-sm btn-outline-primary">
                                              Task container
                                          </button>
                                   </div>
                            </div>
                            
                            <div class="row mt-2 ml-0">
                                <div class="col">
                                    <div class="mb-1 bold"> <label> Button size  </label></div>
                                    <div>
                                        <button type="button" ng-click="localVars.selectedResource.size='btn-lg'" ng-class="localVars.selectedResource.size=='btn-lg' ? 'btn-success': 'btn-outline-primary'" class="btn btn-lg">
                                        Large </button>
                                        <button type="button" ng-click="localVars.selectedResource.size=''"  ng-class="localVars.selectedResource.size=='' ? 'btn-success': 'btn-outline-primary'" class="btn">
                                        Regular </button>
                                        <button type="button" ng-click="localVars.selectedResource.size='btn-sm'" ng-class="localVars.selectedResource.size=='btn-sm' ? 'btn-success': 'btn-outline-primary'" class="btn btn-sm">
                                        Small </button>
                                        <button type="button" ng-click="localVars.selectedResource.size='btn-xs'" ng-class="localVars.selectedResource.size=='btn-xs' ? 'btn-success': 'btn-outline-primary'"  class="btn btn-xs">
                                        Extra small </button>
                                    </div>             
                                </div> 
                            </div>
                            
                            <div class="m-3 d-inline-block">
                                <div kt-icon-picker select-colors="true" select-icons="true" selected-icon="localVars.selectedResource.icon" selected-button="localVars.selectedResource.btnClass" >
                                </div>
                            </div>
                            
                            <div class="my-3">
                                <div class="d-inline-block  ml-3">
                                                <button type="button" ng-click="localVars.AddResource()"  class="btn btn-sm btn-success">
                                                OK
                                                </button>
                                </div> 
                              
                            
                                <div class="d-inline-block ml-2">
                                            <button type="button" ng-click="localVars.selectedResourceIndex=-1;localVars.showResourceDetails=false"  class="btn btn-sm btn-danger">
                                             Cancel </button>
                                </div>
                            </div>
                                         
                            <div id="6" class="float-right mx-2">
                                       <button type="button" ng-click="localVars.RemoveResourceFromList(localVars.selectedResourceIndex)"  class="btn btn-sm btn-outline-danger">
                                            <span class='fa fa-trash mr-1'></span> Delete 
                                       </button>
                            </div>
                                    
                </div>
                        

        </div> 
          
    
    
    </div> <!-- resource details-->
    
   
  
  <div ng-if="gsrvc.getFormViewType()==2"> 
       <div>
              <div ng-if="fd.FormDef.length>0">
           
                  <div class="my-1" style="display: flex;flex-wrap: wrap;gap: 8px;">
                  
                       <div class="d-inline" ng-repeat="resource in fd.FormDef track by resource.id">
                            <button type="button" ng-if="resource.ResourceType=='task'" ng-hide="localVars.taskIsOpen(resource.id)" ng-click="localVars.LoadTask(resource.id,0,localVars.previousTask,resource.OpenTaskType)"  class="btn {{resource.size}} {{resource.btnClass}}">
                                <i class="{{resource.icon}} " ng-class="{'mr-2':resource.icon!=undefined && resource.icon!=null && resource.icon!=''}"></i> {{resource.btnLabel}}  
                                </button>
                             
                             <button type="button" ng-if="resource.ResourceType=='page'" ng-hide="localVars.taskIsOpen(resource.id)" ng-click="localVars.OpenPage(resource)"  class="btn {{resource.size}}  {{resource.btnClass}}">
                                <i class="{{resource.icon}} " ng-class="{'mr-2':resource.icon!=undefined && resource.icon!=null && resource.icon!=''}"></i> {{resource.btnLabel}}  
                                </button> 

                       </div>       
                 
                  </div>
                  
               </div>
            
              <div ng-repeat="sTask in fd.localVars.loadedTasks track by sTask.taskId" class="mb-1">
                <div kt-task-proc-directive fd="fd" local-vars="sTask.localVars" task-definition="resourceDefinition">
                </div>     
              </div>
      </div>

  </div>

 </div>