<div class="p-1">
	
	
	<div ng-if="localVars.datasetMapperType==1" fd="fd" local-vars="localVars" kt-dataset-mapper></div>
    
	<div ng-if="localVars.datasetMapperType>1" class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                 
								 
                                   <label ng-click="localVars.datasetMapperType=5" class="btn btn-sm btn-primary active">
                                    <span class='fa fa-cog'></span> <input  type="radio" name="formtype" id="option1" autocomplete="off"> Contract properties 
                                  </label>
								  <label ng-click="localVars.datasetMapperType=3" class="btn btn-sm btn-primary">
                                    <span class='fa fa-database'></span><input  type="radio" name="formtype" id="option2" autocomplete="off"> abc 
                                  </label>
								  <label ng-click="localVars.datasetMapperType=4" class="btn btn-sm btn-primary">
                                    <span class='fa fa-copy'></span> <input  type="radio" name="formtype" id="option3" autocomplete="off"> xyz
                                  </label>

    </div>
	
	<div ng-if="localVars.datasetMapperType==5" class="row m-0 p-2">
		<div class="col-24">
				<label class="label text-muted" >Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
				 <label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
				 <label class="label text-muted">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				 <label class="label text-muted">Function </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Parameters.Function"  />
				
				<!--<label class="label-xs text-muted">Primary key name </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.PrimaryKeyName"  />-->
		</div>	
		 <div  class="col-12 mt-1">
				<div class="mb-2">
								<span class="bold small border-bottom border-info p-1 text-info">Contract dataset</span>
				</div>
				
				<div ng-repeat="dataset in fd.resource.Parameters.Datasets track by $index" class="p-2">
							
							
							<button type="button" ng-click="fd.loadBlockchainDatasetDefinition(dataset)" class="btn btn-sm btn-outline-info my-2">
							{{dataset.DatasetName}}</button>
							
				</div>
						
		</div>  
		 
		   
		<div class="col-12 mt-1">   
			    
		</div>

	</div>
 
	
</div>