<div class="row col form-group mx-0 mt-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-class="{ 'has-error' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}.$invalid,'bg-gray-20 mr-0 border':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened() }">
  
	 <div style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize,'border':formParams.formViewType==1}">
            <label ng-if="!fd.Parameters.ShowAsLink" kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   ng-class="{'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
           <a  ng-if="fd.Parameters.ShowAsLink" href="{{fd.Parameters.LinkUrl}}" kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"  ng-class="{'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}" >{{fd.Label}}</a>

         <div class="element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
           	 <span class="label label-xs text-white mx-1 bold">{{fd.Name}}</span>
	  		<a class="btn btn-primary btn-xs prop-btn element-drag-handle "  title="sort" href><i class="element-drag-handle fa fa-grip-vertical"></i></a>
       		<a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>		
	</div>
    
   </div>
	

</div> 
	