<div id="ktLabelProperties" class="p-1">

        <div class="text-center mt-2">
			<label class="label-xs text-muted"><b> Id:</b> {{fd.PresentationId || 'none'}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
		</div>
        
        
    <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
	</div>
    
        
        
	 <div class="mb-2 collapse show" id="mainPropertyPanel">
		
		
		<label class="label-xs text-muted">Label text</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
			
		
		<div class="">
            
				<label  class="kt-checkbox-label" for="cbShowField{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowField{{fd.PresentationId}}" ng-model="fd.ShowField" ng-checked="fd.ShowField" />  
					Show label
				</label>
                     
		</div>
		<div class="">
            
				<label  class="kt-checkbox-label" for="cbShowAsLink{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowAsLink{{fd.PresentationId}}" ng-model="fd.Parameters.ShowAsLink" ng-checked="fd.Parameters.ShowAsLink" />  
					Show as hyperlink
				</label>
                     
		</div>
		<div ng-if="fd.Parameters.ShowAsLink">
			<label class="label-xs text-muted">Link URL</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.LinkUrl"  />
		</div>
            	<div kt-field-size-property></div>
            	<div kt-field-style-property></div>
                 <div kt-delete-element></div>
          </div>
          
			 
	 </div
     
    
	 
</div>
