<div>

        <div kt-property-header></div>

         <div ng-click="fd.showBasic = !fd.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="fd.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!fd.showBasic" class="fas fa-angle-up"></i> 
        </div>
    
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
		
		 
		
		<div  class="" ng-form="codeListForm{{fd.PresentationId}}">
					<label class="pl-0 label-xs text-muted" for="nameField">Code</label>
					<kt-dropdown-standard ng-if="fd.codeListDownloaded && !fd.loadingProperties" ng-model="fd.code.selectedCode" size="'small'" selected-items="fd.code.selectedCode" is-multiple="false" size="'small'" name="codeList{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.codesDefinitionList" dropdown-id="'codeList'+fd.PresentationId" parent-form-id="'codeListForm'+fd.PresentationId" search-text="'Select tag'"></kt-dropdown-standard>
		</div>
	 
		<button type="button" class="mb-2 btn btn-outline-info btn-xs"   ng-click="fd.getCodes(fd.code.selectedCode.id)">Apply</button>
		
	<div class="">
            
				<label  class="kt-checkbox-label" for="cbMultiline{{fd.PresentationId}}">
					
					<input type="checkbox" ng-click="fd.Multiline ? fd.Dbtype='textfielddefinition' : fd.Dbtype='foreignkeydefinition'"class="kt-checkbox-properties my-2 mr-2" name="cbMultiline{{fd.PresentationId}}" ng-model="fd.Multiline" ng-checked="fd.Multiline" />  
					Select multiple values
				</label>
			
                     
	</div>
	
	   
    <div>
		      <label class="mt-1 label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
             <label class="mt-1 label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
             <label class="mt-1 label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />

            <div ng-if="fd.Multiline">
                <button  type="button" class="btn btn-xs btn-outline-danger"   ng-click="clearMultiple()">Clear values <i class="fa fa-times"></i></button>
                <div>
                  <label class="label-xs text-muted">Min items</label> <input ng-if="fd.Multiline"  type="text" class="form-control form-control-xs" ng-model="fd.MaxLength"  />
                </div>
            </div>
              
		</div>
	</div>
         
    <div kt-field-extended-properties></div>

 </div>     


 