<div id="ktListExe{{fd.PresentationId}}" class="row m-0 mt-1 dataset-item" ng-class="{ 'is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$dirty) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid,'is-valid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$dirty) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$valid}" ng-if="::fd.ShowField">

      
	<div ng-hide="::fd.Parameters.HideLabel" class="{{fd.gridClassLabel}}" style="{{fd.labelAlign}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}" class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  {{fd.Label}} </label>
           
  </div>
	
	<div class="{{fd.gridClassElement}} my-auto">
		<div  ng-if="!fd.ReadOnly && (fd.codesLoaded || codesLoaded)" >   	   
		
			<div ng-form ="innerForm{{::fd.ItemId}}"  ng-class="{'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}">
     		<div ng-if="!fd.Multiline" kt-style-attribute fd="fd" style-type="'element'"> 
					<select class="form-control" name="{{::fd.Name}}{{::fd.ItemId}}" style="{{fd.customStyleElement}}" ng-model-options="{ allowInvalid: true }" ng-change="fd.selection_changed()" 
					ng-class="{'text-placeholder':formData[0][fd.FieldName]===undefined || formData[0][fd.FieldName]==='','border-danger is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid }"
					  ng-required="fd.Required" ng-model="formData[0][fd.FieldName]">
					  <option ng-if="fd.Required" value="" disabled selected>{{fd.SearchText}}</option>
					  <option class="text-placeholder" ng-if="!fd.Required" value="" selected>{{fd.SearchText}}</option> <!--style="color:#B6BAC3"-->
						<option ng-repeat="(id,val) in fd.codeList | filter: search.searchFilter track by id" ng-value="::val" ng-style="(id!=undefined && {'color': fd.Parameters.ValueFontColor}) || (id==undefined && {'color': '#B6BAC3'})" class="p-1">
							{{::val.name}}
					</option>
					</select>
				</div>

				
			 	<kt-dropdown-multiple ng-if="fd.Multiline" field-element="fd" ng-model="formData[0][fd.FieldName]" selected-items="formData[0][fd.FieldName]" name="{{::fd.Name}}{{::fd.ItemId}}" ng-required="fd.Required" required-field="fd.Required" dropdown-items="fd.codeList" dropdown-id="fd.Name+fd.ItemId" parent-form-id="'innerForm'+fd.ItemId" search-text="fd.SearchText"></kt-dropdown-multiple>
			 
			 	<p class="noprint" ng-style="{'display':((innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid) ? 'block' : 'none'}" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{::fd.ErrorMsg}}</p> 
			</div>
		</div>
	
  	<div  ng-if="fd.ReadOnly && !fd.Multiline"  kt-style-attribute fd="fd" style-type="'element'"  style="{{fd.customStyleElement}}">
       
  		<div ng-class="{'form-control':fd.Parameters.BorderForReadOnly}">{{::formData[0][fd.FieldName+'.name']}}{{::formData[0][fd.FieldName].name}}</div>
  	</div>
	
  	<div  ng-if="fd.ReadOnly && fd.Multiline"  kt-style-attribute fd="fd" style-type="'element'"  style="{{fd.customStyleElement}}">
       
    	<div  ng-repeat="item in ::formData[0][fd.FieldName] track by $index" style=" margin-bottom: 1px !important;" ng-class="{'form-control':fd.Parameters.BorderForReadOnly}">{{::item.name}}</div>
  	</div>
			
		<div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="::showSearchFilters">
		 			 
						<a id="search-filter-{{fd.PresentationId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
							<i class="fa fa-filter mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
						<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.PresentationId}}">
					 
							<div class="btn-group-vertical" role="group" aria-label="Search filter">
								<button type="button"  class="btn btm-sm btn-light"  ng-click="applyListFilters(0)" ng-class="{'active':fd.Search.filter=='onlist'}">  <span class="{{fd.searchList[0].icon}}"></span> {{::fd.searchList[0].name}} </button>
								<button type="button"  class="btn btm-sm btn-light"  ng-click="applyListFilters(1)" ng-class="{'active':fd.Search.filter=='notonlist'}">  <span class="{{fd.searchList[1].icon}}"></span> {{::fd.searchList[1].name}}</button>	   
							</div>.
					   </div>
	 

		</div>

	</div>
	    	
</div>