<div id="ktList{{fd.PresentationId}}" ng-click="showProperties($event)" class="row form-group m-0 pb-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-class="{'bg-gray-20  border shadow':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}"> 


     <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" class="{{fd.gridClassLabel}}" style="{{fd.labelAlign}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}" class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  {{fd.Label}} </label>
           
     </div>
	
	<div class="{{fd.gridClassElement}} my-auto">
         <div  ng-if="!fd.ReadOnly && fd.codesLoaded" >   	   
            
            <div ng-form ="innerForm{{fd.ItemId}}" 
            
                ng-class="{'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}">
          
                <select kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}};" class="form-control" ng-if="!fd.Multiline" name="{{::fd.Name}}{{::fd.ItemId}}" ng-change="fd.selection_changed()"
            
                      ng-required="fd.Required" ng-model="formData[0][fd.FieldName]">
                    <option ng-repeat="(id,val) in fd.codeList | filter: search.searchFilter track by id" ng-value="val" class="p-1">
                            {{val.name}}
                    </option>
                </select>

                <kt-dropdown-multiple ng-if="fd.Multiline" field-element="fd" ng-model="formData[0][fd.FieldName]" selected-items="formData[0][fd.FieldName]" name="{{fd.Name}}{{fd.ItemId}}" ng-required="fd.Required" dropdown-items="fd.codeList" dropdown-id="fd.Name+fd.ItemId" custom-style="fd.customStyleElement" parent-form-id="'innerForm'+fd.ItemId" search-text="fd.SearchText"></kt-dropdown-multiple>
               
                
            </div>
         </div>
        
        <div  ng-if="fd.ReadOnly && !fd.Multiline">
             <div class="form-control border rounded p-1">{{formData[0][fd.FieldName+'.name']}}</div>
        </div>
        
        <div  ng-if="fd.ReadOnly && fd.Multiline">     
             <div  ng-repeat="item in formData[0][fd.FieldName] track by $index" style=" margin-bottom: 1px !important;" class="form-control">{{item.name}}</div>
        </div>
            
            
            
        <div style="visibility:visible !important"   class="blue-dropdown rounded shadow" >

                <div class="element-properties-btns bg-primary rounded shadow mt-2" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                    <span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
                    <a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href>  <i class="element-drag-handle fa fa-grip-vertical"></i>  </a>
                    <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>	
                    <a ng-if="showSearchFilters" id="search-filter-{{fd.PresentationId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
                        <i class="fa fa-filter mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
                    <div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.PresentationId}}">
                        <div class="btn-group-vertical" role="group" aria-label="Search filter">
                            <button type="button"  class="btn btm-sm btn-light"  ng-click="applyListFilters(0)" ng-class="{'active':fd.Search.filter=='onlist'}">  <span class="{{fd.searchList[0].icon}}"></span> {{fd.searchList[0].name}} </button>
                            <button type="button"  class="btn btm-sm btn-light"  ng-click="applyListFilters(1)" ng-class="{'active':fd.Search.filter=='notonlist'}">  <span class="{{fd.searchList[1].icon}}"></span> {{fd.searchList[1].name}}</button>	   
                        </div>
                    </div>  
                </div> 
            
                <div class="" aria-labelledby="mass-property-{{fd.PresentationId}}" kt-mass-update-properties></div>
            
        </div>
    </div>
 </div>   