
<div class="mb-2">
Please select which property will be updated  ?
</div>


    <select class="form-control form-control-sm" ng-model="selected"
        ng-change="activateMassUpdateFn(selected)"   ng-options="item.Label for item in massUpdateFieldList track by item.id">
    </select>
  <br/>
  
  
 <div ng-if="selected"> 
  
  <div class="d-flex justify-content-center">
  
  <div class="p-4 m-2 border">
 <input type="checkbox"  ng-model="localVars.turnAllPropertiesOn"  >
 
 Make all fields '{{selected.Label |lowercase}}' ?

  
</div>

 <div class="p-4 m-2 border">
 <input type="checkbox" ng-model="localVars.turnAllPropertiesOff">
 
 Make all fields not '{{selected.Label |lowercase}}' ?

  
</div>

</div>
  


<div class="mt-2">
   <button  class="btn btn-success m-2" type="button" ng-click="hideMassUpdateFn()"> 
       OK
    </button>
    <button  class="btn btn-warning m-2" type="button" ng-click="deActivateMassUpdateFn($index)"> 
       Cancel
    </button>
</div>

</div>


	<!-- <div class="col-12 mt-1">
    
    {'readOnly': { 'true':'All fields are readonly'
					  
				 <button type="button"  class="btn btn-sm btn-outline-secondary mb-1 col-11" ng-click="fd.localVars.setField(fd.localVars.dashboard.widgets.layout,'ReadOnly',true,'All fields are readonly')">
				    <span class='fa fa-ban'></span> Mark all read only </button>
				
				<button type="button"  class="btn btn-sm btn-outline-secondary mb-1 col-11" ng-click="fd.localVars.setField(fd.localVars.dashboard.widgets.layout,'ReadOnly',false,'Removed readonly on all fields')">
				    <span class='fa fa-pencil'></span> Clear read only </button>
				
				  
				<button type="button"  class="btn btn-sm btn-outline-secondary mb-1 col-11" ng-click="fd.localVars.setField(fd.localVars.dashboard.widgets.layout,'Required',false,'All fields are not required')">
				    <span class='far fa-square'></span> Mark all fields not required </button>
				
				<button type="button"  class="btn btn-sm btn-outline-secondary mb-1 col-11" ng-click="fd.localVars.setField(fd.localVars.dashboard.widgets.layout,'Required',true,'All fields are required')">
				    <span class='far fa-check-square'></span> Mark all fields required </button>
				
				<button type="button"  class="btn btn-sm btn-outline-secondary mb-1 col-11" ng-click="fd.localVars.setField(fd.localVars.dashboard.widgets.layout,'ShowField',false,'All fields are hidden')">
				    <span class='fas fa-eye-slash'></span> Hide all fields </button>
				
				<button type="button"  class="btn btn-sm btn-outline-secondary mb-1 col-11" ng-click="fd.localVars.setField(fd.localVars.dashboard.widgets.layout,'ShowField',true,'All fields are visible')">
				    <span class='fas fa-eye'></span> Show all fields </button>
		</div>  -->