
<div class="mb-2">
Please select which property will be updated  ?
</div>


    <select class="form-control form-control-sm" ng-model="selected"
        ng-change="activateMassUpdateFn(selected)"   ng-options="item.Label for item in fd.massUpdateFieldList track by item.id">
    </select>
  <br/>
  
  
 <div ng-if="selected"> 
  
  <div class="d-flex justify-content-center">
  
  <div class="p-4 m-2 border">
 <input type="checkbox" ng-model="localVars.turnAllPropertiesOn">
 
 Make all fields '{{selected.Label |lowercase}}' ?

  
</div>

 <div class="p-4 m-2 border">
 <input type="checkbox"  ng-model="localVars.turnAllPropertiesOff">
 
 Make all fields not '{{selected.Label |lowercase}}' ?

  
</div>

</div>
  


<div class="mt-2">
   <button  class="btn btn-success m-2" type="button" ng-click="hideMassUpdateFn()"> 
       OK
    </button>
    <button  class="btn btn-warning m-2" type="button" ng-click="deActivateMassUpdateFn($index)"> 
       Cancel
    </button>
</div>

</div>