  <!-- element mass update -->
 <div ng-if="fd.massUpdate.Active || massUpdate.Active" class="border bg-light rounded shadow-sm px-1 mr-2" >

			<div ng-if="fd.massUpdate.Item.Component=='checkbox'" class="">
				
				<label  class="kt-checkbox-label" for="cb{{fd.massUpdate.Item.Field}}{{fd.PresentationId}}">
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cb{{fd.massUpdate.Item.Field}}{{fd.PresentationId}}" ng-model="fd[fd.massUpdate.Item.Field]" ng-checked="fd[fd.massUpdate.Item.Field]" />  
					{{fd.massUpdate.Item.Label}}
				</label>
								 						
			</div>
            
			<div ng-if="fd.massUpdate.Component=='textbox'" class="">
                    
				 <label class="label-xs text-muted">{{fd.massUpdate.Item.Label}}</label> <input  type="text"  ng-model="fd[fd.massUpdate.Item.Field]"   class="form-control form-control-xs" />
			</div>
            
		  	<div ng-if="fd.massUpdate.Item.Component=='number'" class="">
                    
				 <label class="label-xs text-muted">{{fd.massUpdate.Item.Label}}</label> <input  type="number" ng-model="fd[fd.massUpdate.Item.Field]"   class="form-control form-control-xs" />
			</div>

			<div ng-if="fd.massUpdate.Item.Component=='range'" class="">
                    
				 <label class="label-xs text-muted">{{fd.massUpdate.Item.Label}}</label> <input  type="range" ng-model="fd[fd.massUpdate.Item.Field]"   class="form-control form-control-xs" />
			</div>

			<div ng-if="fd.massUpdate.Item.Component=='radio'" class="">
            

				<label  class="kt-checkbox-label" for="cbShowField{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cb{{fd.massUpdate.Item.Field}}{{fd.PresentationId}}" ng-model="fd[fd.massUpdate.Item.Field]" ng-checked="fd[fd.massUpdate.Item.Field]" />  
					Show field
				</label>       
			</div>
			
<!--massUpdateProperties-->
</div>
        