<form ng-submit="saveSideMenu(ktMenuDefinitionForma)" class="px-4 py-2" name="ktMenuDefinitionForma" id="ktNavbarDefinition" role="form" novalidate>   
	<div class="row m-0 ">

		<div class="col text-center h4 pb-4 m-0 "> Menu details for <b>{{menuItem.katalyonode_menus_Name}}</b>({{menuItem.katalyonode_menus_id}}) 
            <span class="ml-2 h4 text-danger" ng-if="menuItem.deleteItem">Deleted!
            </span>
        </div>
	  
	</div>

	<div class="row m-0 mt-1">
 
		<div class="col-lg-24 mb-1">
  
  
		   <div class="row m-0 mt-1">
		
				<div ng-if="false" class="col p-0">
					<div class="mb-1 small">Menu type</div>
						<div class="btn-group" role="group" aria-label="Menu type">
							<button type="button" ng-click="menuItem.katalyonode_menus_MenuType=2" ng-class="{'active':menuItem.katalyonode_menus_MenuType==2}" class="btn btn-sm btn-outline-primary">
								Task
							</button>
							<button type="button" ng-click="menuItem.katalyonode_menus_MenuType=1" ng-class="{'active':menuItem.katalyonode_menus_MenuType==1}" class="btn btn-sm btn-outline-primary">
								System page
							</button>
							<button ng-if="false" type="button" ng-click="menuItem.katalyonode_menus_MenuType=3" ng-class="{'active':menuItem.katalyonode_menus_MenuType==3}" class="btn btn-sm btn-outline-primary">
								Dropdown menu
							</button>
						</div>			   
					</div> 
				</div>
		  


			<div class="row m-0 mb-1"> 
	 
			
				<div class="col-lg-12 p-0">
					<div class="">
						<label class="label">Page</label> 
					</div>
					<div class="pt-2" ng-if="localVars.manualPageSelect"
>
				
						<kt-dropdown-standard ng-if="localVars.pagesLoaded && localVars.manualPageSelect"
						ng-model="menuItem.Target" 
						selected-items="menuItem.Target" 
						dropdown-items="localVars.pageList"
						is-multiple="false" required="true"  dropdown-id="'page'" parent-form-id="'innerForm'" search-text="'Search or select page...'">
						</kt-dropdown-standard>
					</div>
					<div class="bold py-2">{{menuItem.Target.name}}</div>
					
					<div class="custom-control custom-checkbox mt-2">
									
							<input ng-init="menuItem.katalyonode_menus_Active=true" type="checkbox" class="custom-control-input" id="rbActive"  name="active" ng-required="false" ng-model="menuItem.katalyonode_menus_Active">
							<label class="custom-control-label" for="rbActive">Active</label>
							 
					</div>
	
				</div>
				<div class="col-lg-12 p-0">
					 
					<div class="">
						<label class="label">Text</label> 
					</div>
	   
					<div class="">
						<input  type="text"   ng-model="menuItem.katalyonode_menus_Name"   class="form-control" />
					</div>
					<div class="my-3">
						<div kt-icon-picker select-colors="false" unique-id="menuItem.katalyonode_menus_id" select-icons="true" selected-icon="menuItem.katalyonode_menus_Icon" selected-button="menuItem.btnClass" ></div>
					</div>  
				</div>
			</div>

			
		</div>

	</div>

	<div class="p-2">
  
			<div kt-users-groups-select update-on-change="menuItem.Users" ng-if="menuItem.UsersGroupsDownloaded" selected-users="menuItem.Users" selected-groups="menuItem.Groups" header-label="headerLabel"
				 users-label="usersLabel" groups-label="groupsLabel">
			</div>                           
  
	</div>     

	<div ng-if="!localVars.hideBtns" class="row m-0 mt-1 border-top">
		<div class="p-1">

			<button type="submit" class="btn btn-outline-success" "><i class="fa fa-save mr-1"></i>Save</button>
		
			 <button type="button" class="btn btn-outline-danger border-0 ml-2" ng-click="menu_service.setCurrentNavbarId(null);">
			<span class="fa fa-times"></span><span class="ml-2">Cancel</span></button>
		</div>
	</div>
</form>
	