<form ng-if="navbarItem.index+1" ng-submit="saveNavbar(ktNavbarDefinitionForma)" name="ktNavbarDefinitionForma" id="ktNavbarDefinition" role="form" novalidate>   
	<div class="row m-0 ">

		<div class="col text-center h4 py-3 m-0 border-bottom"> 
        
             <span ng-if="navbarItem.katalyonode_menus_Name">   
                <b> {{navbarItem.katalyonode_menus_Name}}</b>
               
              <!--  ({{navbarItem.katalyonode_menus_id}} ) -->
             </span>
                <span class="ml-2 h4 text-danger" ng-if="navbarItem.deleteItem">Deleted!</span>
        </div>
	  
	</div>

	<div class="row m-0 mt-1">
 
		<div class="col-lg-24 mb-1">
  
  
		   <div class="row m-0 mt-1">
		
				<div ng-if="false" class="col p-0">
					<div class="mb-1 small">Menu type</div>
						<div class="btn-group" role="group" aria-label="Menu type">
							<button type="button" ng-click="navbarItem.katalyonode_menus_MenuType=2" ng-class="{'active':navbarItem.katalyonode_menus_MenuType==2}" class="btn btn-sm btn-outline-primary">
								Task
							</button>
							<button type="button" ng-click="navbarItem.katalyonode_menus_MenuType=1" ng-class="{'active':navbarItem.katalyonode_menus_MenuType==1}" class="btn btn-sm btn-outline-primary">
								System page
							</button>
							<button ng-if="false" type="button" ng-click="navbarItem.katalyonode_menus_MenuType=3" ng-class="{'active':navbarItem.katalyonode_menus_MenuType==3}" class="btn btn-sm btn-outline-primary">
								Dropdown menu
							</button>
						</div>			   
					</div> 
				</div>
		  

	

			<div class="row m-0 mb-1"> 
	 
				<div class="col-lg-12 p-0" ng-if="navbarItem.katalyonode_menus_MenuType!=2">
					<div class="d-flex">
						<div <label class="label">Page ID:&nbsp;</label></div>
                        <div class="bold ">{{navbarItem.katalyonode_menus_Target_id}} </div>
					</div>
					<div class="pt-2" ng-if="localVars.manualPageSelect">
							<kt-dropdown-standard ng-if="localVars.pagesLoaded"
							ng-model="navbarItem.Target" 
							selected-items="navbarItem.Target" 
							dropdown-items="localVars.pageList"
							is-multiple="false" required="true"  dropdown-id="'page'" parent-form-id="'innerForm'" search-text="'Search or select page...'">
							</kt-dropdown-standard>
					</div>
                    <!--	<div class="bold py-2">{{navbarItem.Target.name}}</div>-->
                    
                        
					
					<div>
                    
						<label  class="kt-checkbox-label" for="cbActive">
				
							<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbActive" ng-model="navbarItem.katalyonode_menus_Active" ng-checked="navbarItem.katalyonode_menus_Active" />  
								Active
						</label>
                     
					</div>
				
		 
				</div>
				
				<div class="col-lg-12 p-0" ng-if="navbarItem.katalyonode_menus_MenuType==2">
					<div class="">
						<label class="label">Menu type</label> 
					</div>
					<div class="bold py-2">container</div>

					<div>
                    
						<label  class="kt-checkbox-label" for="cbActive">
				
							<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbActive" ng-model="navbarItem.katalyonode_menus_Active" ng-checked="navbarItem.katalyonode_menus_Active" />  
								Active
						</label>
                     
					</div>
					
				</div>
				<div class="col-lg-12 p-0">
					 
					<div class="">
						<label class="label">Text</label> 
					</div>
	   
					<div class="">
						<input  type="text"   ng-model="navbarItem.katalyonode_menus_Name"   class="form-control" />
					</div>
					

					<div class="d-flex my-3">
                        <span class="my-auto mr-2"> Icon:</span>
						<div kt-icon-picker select-colors="false" unique-id="navbarItem.katalyonode_menus_id" select-icons="true" selected-icon="navbarItem.katalyonode_menus_Icon" selected-button="navbarItem.btnClass" ></div>
					</div>  
				</div>
			</div>

			
		</div>

	</div>

	<div class="p-2">
  
			<div kt-users-groups-select update-on-change="navbarItem.Users" ng-if="navbarItem.UsersGroupsDownloaded" selected-users="navbarItem.Users" selected-groups="navbarItem.Groups" header-label="headerLabel"
				 users-label="usersLabel" groups-label="groupsLabel">
			</div>                           
  
	</div>     

<!--	<div ng-if="!localVars.hideBtns" class="row m-0 mt-1 border-top">
		<div class="p-1">

			<button type="submit" class="btn btn-outline-success" "><i class="fa fa-save mr-1"></i>Save</button>
		
			 <button type="button" class="btn btn-outline-danger border-0 ml-2" ng-click="menu_service.setCurrentNavbarId(null);">
			<span class="fa fa-times"></span><span class="ml-2">Cancel</span></button>
		</div>
	</div>-->
	
</form>
	