<div>
      <form ng-submit="newResource(form.$valid)" id="newForm" name="form" class="form-horizontal" role="form" ng-controller="newResourceCtrl as nrc" novalidate>

                        <div class="boxshadow sort-box"><h4 class="text-center">Please select the type of resource you would like to create !</h4>
                    
                            <input type="hidden" ng-model="id" class="col-xs-6" id="id" name="id">
                            <input type="hidden" ng-model="resource.currentUser" class="col-xs-6" id="currentUser" name="currentUser">
                        </div>
               

                       
                 <div class="boxshadow sort-box" ng-if="!selectedResourceType.Value">
                  
                 <!-- <div class="row">
                      <div class="col-sm-12">Please select the type of resource you would like to create!</div>        
                  </div>-->
                  
                  <div class="row">
                      <div class="col-sm-12">
                          <a class="linkIcon col-sm-2 text-center" ng-click="resourceTypeSelected('dataset')">
                            <div><i class="fa fa-database fa-5x"></i></div>
                            <div><h4 class="text-center">Dataset</h4></div>
                          </a>
                    
              
                          <a class="linkIcon col-sm-2 text-center" ng-click="resourceTypeSelected('task')" ><div><i class="fa fa-tasks fa-5x"></i></div><div class="text-center"><h4 >Task</h4></div></a>
                    
                          <a class="linkIcon  col-sm-2 text-center" ng-click="resourceTypeSelected('file')"><div><i class="fa fa-file-o fa-5x"></i></div><h4 class="text-center">File</h4></a>
              
                    
                          <a class="linkIcon  col-sm-2 text-center" ng-click="resourceTypeSelected('page')"><div><i class="fa fa-newspaper-o fa-5x"></i></div><h4 class="text-center">Page</h4></a>
                      </div>
                    </div>  
                </div>
            
           <div class="boxshadow sort-box" ng-if="selectedResourceType.Value">
                
                  <div class="form-group row" ng-show="resource.resourceID != null || resource.resourceID > 0">
                                <label class="col-sm-2" for="resourceID">{{resource.ResourceDefId.ResourceType.name}} ID</label>
                                <div class="col-sm-6" >
                                    <input type="text" ng-model="resource.resourceID" id="resourceID" ng-disabled="true" class="form-control"></input>

                                </div>
                
                 </div>
             
           </div>
  
  </form>
</div>