<div class="p-1">

	<div ng-if="localVars.datasetMapperType==1" fd="fd" local-vars="localVars" kt-dataset-mapper></div>
     
	<div ng-if="localVars.datasetMapperType>1">
		
		  <button type="button" class="btn btn-light rounded-0" ng-class="{'btn-light':localVars.datasetMapperType==2,'btn-info':localVars.datasetMapperType!=2}" ng-click="localVars.datasetMapperType=2">
           <span class='fa fa-cog'></span> Properties</button>
         <button type="button" class="btn btn-info rounded-0" ng-class="{'btn-light':localVars.datasetMapperType==3,'btn-info':localVars.datasetMapperType!=3}" ng-click="localVars.datasetMapperType=3">
           <span class='fa fa-database'></span> Define parent dataset</button>
         <button type="button"  class="btn btn-info rounded-0" ng-class="{'btn-light':localVars.datasetMapperType==4,'btn-info':localVars.datasetMapperType!=4}" ng-click="localVars.datasetMapperType=4">
           <span class='fa fa-copy'></span> Copy data from other datasets</button>
	</div>
	<div ng-if="localVars.datasetMapperType==2" class="bg-light text-dark p-2">
			<label>Label </label> <input type="text" class="form-control" ng-model="fd.placeholder"  />
				 <label>Error msg </label> <input type="text" class="form-control" ng-model="fd.errorMsg"  />
				 <label>SearchText </label> <input type="text" class="form-control" ng-model="fd.searchText"  />
			
			<hr>
			
			 <div class="d-inline-block mt-1">
					  
				 <button type="button"  class="btn btn-light" ng-click="localVars.setField(localVars.dashboard.widgets.layout,'readOnly',true,'All fields set to readonly')">
				    <span class='fa fa-ban'></span> Mark all read only </button>
				
				<button type="button"  class="btn btn-light" ng-click="localVars.setField(localVars.dashboard.widgets.layout,'readOnly',false,'Cleared readonly on all fields')">
				    <span class='fa fa-pencil'></span> Clear read only </button>
				
				  
				<button type="button"  class="btn btn-light" ng-click="localVars.setField(localVars.dashboard.widgets.layout,'required',false,'All fields set to required')">
				    <span class='fa fa-circle-o'></span> Mark all fields not required </button>
				
				<button type="button"  class="btn btn-light" ng-click="localVars.setField(localVars.dashboard.widgets.layout,'required',true,'All fields set to not required')">
				    <span class='fa fa-check-circle-o'></span> Mark all fields required </button>
				
				<button type="button"  class="btn btn-light" ng-click="localVars.setField(localVars.dashboard.widgets.layout,'showField',false,'All fields are hidden')">
				    <span class='fas fa-eye-slash'></span> Hide all fields </button>
				
				<button type="button"  class="btn btn-light" ng-click="localVars.setField(localVars.dashboard.widgets.layout,'showField',true,'All fields are visible')">
				    <span class='fas fa-eye'></span> Show all fields </button>
		    </div>  
		   
			<hr>
			<div>   
			   <h6>Define message after successful processing</h6>
			    <textarea ng-model="fd.responseMsg" placeholder="Enter message"  name="responseMsg"  class="form-control"/>
			    
			</div>

	</div>
	
	<div ng-if="localVars.datasetMapperType==3" kt-dataset-mapper-parent class="bg-light text-dark"></div>
	<div ng-if="localVars.datasetMapperType==4" kt-dataset-to-dataset-mapper class="bg-light text-dark"></div>

</div>