<div class="widget-head" ng-class="{'widget-active m-1 shadow':fd.localVars.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
   <div class="row bg-light m-0 p-0 mb-1" ng-class="{'widget-head-active':fd.localVars.datasetMapperType>0,'bg-light':fd.localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
   
      <div class="col-auto p-0">
          <i class="fa fa-envelope mx-2"></i><label >Send notification ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
       <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
      </div>
         
      <div class="col text-right my-auto">
        <button type="button"  ng-click="fd.localVars.showProperties(1,false)" ng-class="{'btn-warning':fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined,
        'btn-outline-primary no-border':fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
        <span ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">{{fd.localVars.selectedResourceItem.name_confirmed}}</span>
        <span ng-if="fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined">Select notification</span>
        </button>
      </div>
      
      <div class="col-auto p-0" ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">

            <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
             title="Show/hide properties" ng-click="fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> </a> 
          
      </div>
      
       <div class="col-auto p-0">
                    
                     <div kt-task-dropdown2> </div>
          </div>	        
      
      
      
  </div>
  <div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="fd.localVars" kt-dataset-mapper></div>
  
  <div ng-if="!fd.localVars.formLoaded && fd.localVars.showForm" kt-processing-animation show-msg="true" message="Loading form..."></div>

  <div ng-if="fd.localVars.formLoaded && (fd.localVars.showForm || formParams.formViewType==2)" class="well-custom bg-white">
  
          <div kt-grid grid-type="fd.localVars.gridsterType" parent-resource-def-id="fd.parentResourceDefId" resource-record-id="fd.localVars.resourceRecordId" resource-definition="resourceDefinition" form-params="formParams" form-data="formData[fd.presentationId]"
			  parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets" class="ktGrid">
          </div>
			 <button type="button" ng-if="false" class="btn btn-outline-secondary rounded-0 ml-3" ng-click="fd.localVars.sendNotification()">
           <span class='fa fa-envelope'></span> Send notification</button>
			 
  <!--  -->
  </div>

</div>