<div ng-form ="innerForm{{fd.ItemId}}" class="row  pb-1 m-0 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" 
        ng-class="{'bg-gray-20 border shadow-sm':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}" ng-class="{ 'is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}"> 

  	
		<div class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}" style="{{fd.labelAlign}}">
			 <label kt-style-attribute fd="fd" style-type="'label'" class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}"
					 ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}"
					 style="{{fd.customStyleLabel}}"> {{fd.Label}} </label>
				 <span class="mx-3 small muted">{{formatedNumber}}</span>
		 </div>
		
		<div class="{{fd.gridClassElement}} my-auto">
			<div ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}">
				<div ng-if="fd.Search.name!='Between' && !fd.ReadOnly" ng-if="!fd.ReadOnly">
					 <b ng-if="showSearchFilters"> {{fd.Search.name}}  </b> 
				
					   
					<input  type="number" kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}};" tabindex="{{inputArray.TabIndex}}" ng-min="fd.Parameters.Min" ng-max="fd.Parameters.Max" ng-step="fd.Parameters.StepValue" ng-blur="formatNumber()" ng-model="formData[0][fd.FieldName]"  ng-change="fd.ShowSearchForm?refreshSearchValue():fd.Search=None"  ng-required="fd.Required" placeholder="{{fd.SearchText}}"  name="{{fd.Name}}{{fd.ItemId}}"  class="form-control" 
					   ng-class="{ 'text-danger is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid && formParams.formViewType!=1 }"/>
					<p ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
					  
				</div>
				
				 <div ng-if="fd.Search.name=='Between'">
				 <b> Between:  </b> 
				   <input  type="number" kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="number" tabindex="{{inputArray.tabIndex}}" ng-model="fd.Search.between1" ng-disabled="fd.ReadOnly" ng-required="false" placeholder={{fd.SearchText}}  name="{{fd.Name}}"  class="form-control"/>
					<p ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
			   
				
				
				 <b> And:  </b> 
				   <input type="number" kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="number" tabindex="{{inputArray.tabIndex}}" ng-model="fd.Search.between2" ng-disabled="fd.ReadOnly" ng-required="false" placeholder={{fd.SearchText}}  name="{{fd.Name}}"  class="form-control"/>
					<p ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
				</div>
				 
				 <div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly"   style="{{fd.customStyleElement}}">
					<div ng-if="fd.Parameters.SourceFieldName=='' || fd.Parameters.SourceFieldName==undefined" style="min-height: 35px;"  class="mb-0 border p-1 rounded" ng-bind="formatedNumber"></div>
					<div ng-if="fd.Parameters.SourceFieldName!='' && fd.Parameters.SourceFieldName!=undefined" ng-class="{'bold':fd.Parameters.ValueFontBold}" class="mb-0" >
						<span  ng-bind="fd.formatNumberBlockchain(formData[0][fd.Parameters.SourceFieldName])" ></span>
						<span class="ml-1" ng-bind="fd.Parameters.NumberStyleSuffix"></span>
					</div>
				  
				</div>  
			
			</div>
			<!--  BLUE DROPDOWN   style="visibility:visible !important" -->
            <div style="visibility:visible !important"   class="blue-dropdown rounded shadow" >
		  
                <div class="element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                    <span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
                    <a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href>
                        <i class=" fa fa-grip-vertical element-drag-handle"> </i>
                    </a>
                    <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>		
                </div>
                
                <div class="" aria-labelledby="mass-property-{{fd.PresentationId}}" kt-mass-update-properties>
                </div>
            
            </div>
		</div>
	</div>

	<script id="numbersearchproperties.html" type="text/ng-template"> 
	
    
		<div >
			<div class="row">
			<button type="button" id="Greater then" class="btn btn-light ng-binding"  ng-click="applyNumFilters(0)">  <span class="{{search[0].icon}}"></span> {{search[0].name}} </button>
			</div>
			<div class="row">
			<button type="button" id="Lower then  " class="btn btn-light ng-binding"  ng-click="applyNumFilters(1)">  <span class="{{search[1].icon}}"></span> {{search[1].name}}</button>
			</div>
			<div class="row">
			<button type="button" id="Ends" class="btn btn-light ng-binding" ng-click="applyNumFilters(2)">  <span class="{{search[2].icon}}"></span> {{search[2].name}}</button>	   
			</div>
			<div class="row">
			<button type="button" id="Exact" class="btn btn-light ng-binding" ng-click="applyNumFilters(3)">  <span class="{{search[3].icon}}"></span> {{search[3].name}}</button>	   
			</div>
	 		 
		</div>
	 
	</script>