<div ng-form="innerForm{{fd.ItemId}}" class="row m-0 mt-1 dataset-item" ng-class="{ 'is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}" ng-if="::fd.ShowField"> 
	
  	    
		<div ng-hide="::fd.Parameters.HideLabel" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}" style="{{fd.labelAlign}}">
			 <label kt-style-attribute fd="fd" style-type="'label'" class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}"
					 ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}"
					 style="{{fd.customStyleLabel}}"> {{fd.Label}} </label>
				 <span class="mx-3 small muted">{{formatedNumber}}</span>
		 </div>
		
		<div class="{{fd.gridClassElement}} my-auto">
        
			<div ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}">
				<div ng-if="fd.Search.name!='Between' && !fd.ReadOnly" ng-if="!fd.ReadOnly">
					   
					<input  type="number" kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" tabindex="{{inputArray.TabIndex}}" ng-min="::fd.Parameters.Min" ng-max="::fd.Parameters.Max" ng-step="::fd.Parameters.StepValue" ng-blur="formatNumber()" ng-model="formData[0][fd.FieldName]" ng-pattern="::fd.Parameters.Regex" ng-change="refreshSearchValue()"  ng-required="fd.Required" placeholder="{{fd.SearchText}}"  name="{{fd.Name}}{{fd.ItemId}}"  class="form-control" ng-model-options="{ debounce: 250 }"
					   ng-class="{ 'text-danger is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}"/>
					<p class="noprint" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
					  
				</div>
				
				 <div ng-if="fd.Search.name=='Between'">
				 <b> Between:  </b> 
				   <input  type="number" kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="number" tabindex="{{inputArray.tabIndex}}" ng-model="fd.Search.between1" ng-disabled="fd.ReadOnly" ng-required="false" placeholder={{fd.SearchText}}  name="{{fd.Name}}"  class="form-control"/>
					<p class="noprint" ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
			   
				
				 <b> And:  </b> 
				   <input type="number" kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="number" tabindex="{{inputArray.tabIndex}}" ng-model="fd.Search.between2" ng-disabled="fd.ReadOnly" ng-required="false" placeholder={{fd.SearchText}}  name="{{fd.Name}}"  class="form-control"/>
					<p class="noprint" ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
				</div>
				 
				 <div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly"   style="{{fd.customStyleElement}}">
					<div ng-if="fd.Parameters.SourceFieldName=='' || fd.Parameters.SourceFieldName==undefined" ng-class="{'form-control':fd.Parameters.BorderForReadOnly}" ng-bind="fd.localVars.formatNumber(formData[0][fd.FieldName])"></div>
					<div ng-if="fd.Parameters.SourceFieldName!='' && fd.Parameters.SourceFieldName!=undefined" ng-class="{'bold':fd.Parameters.ValueFontBold}" class="mb-0" >
						<span  ng-bind="fd.formatNumberBlockchain(formData[0][fd.Parameters.SourceFieldName])" ></span>
						<span class="ml-1" ng-bind="fd.Parameters.NumberStyleSuffix"></span>
					</div>

					<div ng-if="fd.ErrorMsg">
						<span class="text-danger">{{fd.WalletError}}</span>
					</div>
				  
				</div>

				
			  
			
			</div>
			<div class="element-properties-btns bg-primary rounded shadow" ng-if="::showSearchFilters">
					<a ng-if="showSearchFilters" id="search-filter-{{fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
						<i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
					<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.ItemId}}">
				 
						<div class="btn-group-vertical" role="group" aria-label="Search filter">
							<button type="button"  class="btn btm-sm btn-light"  ng-click="applyNumFilters(0)" ng-class="{'active':fd.Search.filter=='gte'}">  <span class="fa fa-chevron-right"></span> {{fd.localVars.search[0].name}} </button>
							<button type="button"  class="btn btm-sm btn-light"  ng-click="applyNumFilters(1)" ng-class="{'active':fd.Search.filter=='beetwen'}">  <span class=" fa fa-expand"></span> {{fd.localVars.search[1].name}}</button>
							<button type="button"  class="btn btm-sm btn-light" ng-click="applyNumFilters(2)" ng-class="{'active':fd.Search.filter=='lte'}">  <span class="fa fa-chevron-left"></span> {{fd.localVars.search[2].name}}</button>	   
							<button type="button"  class="btn btm-sm btn-light" ng-click="applyNumFilters(3)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="fa fa-bars"></span> {{fd.localVars.search[3].name}}</button>	   
						</div>
				   </div>
			</div>
		</div>
 
</div>	 