
  <div class="p-1">    
      
      
     <div kt-property-header>  </div>
       
       <div ng-click="fd.localVars.showBasic = !fd.localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
                <span class="col p-0">
                BASIC  </span>
              <i style=" font-size: large;" ng-show="fd.localVars.showBasic" class="fas fa-angle-down"></i> 
              <i style=" font-size: large;" ng-show="!fd.localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
	  
         
       
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
        
	  
    <label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
    <label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
    <label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
	
	<div class="border-bottom my-1">Validators</div>
	<label class="label-xs text-muted">Min value </label> <input type="number" class="form-control form-control-xs" ng-model="fd.Parameters.Min"  />
	<label class="label-xs text-muted">Max value </label> <input type="number" class="form-control form-control-xs" ng-model="fd.Parameters.Max"  />	
	<label class="label-xs text-muted">Step </label> <input type="number" class="form-control form-control-xs" ng-model="fd.Parameters.StepValue"  /> 
	<label class="label-xs text-muted">Regex </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.Regex"  />
	
	
	<div class="custom-control custom-checkbox">
								
			<input type="checkbox" class="custom-control-input" id="cbRequired" ng-model="fd.Required"> 
			<label class="custom-control-label label-xs" for="cbRequired">Required</label>
								 
	</div>
	
	<div class="custom-control custom-checkbox">
								
			<input type="checkbox" class="custom-control-input" id="cbConvertBlockchainFormat" ng-model="fd.Parameters.ConvertBlockchainFormat"> 
			<label class="custom-control-label label-xs" for="cbConvertBlockchainFormat">Convert from blockchain format</label>
								 
	</div>
	
	<div class="custom-control custom-checkbox">
								
			<input type="checkbox" class="custom-control-input" id="cbConvertToDays" ng-model="fd.Parameters.ConvertToDays"> 
			<label class="custom-control-label label-xs" for="cbConvertToDays">Convert to days</label>
								 
	</div>
      
      <div class="custom-control custom-radio">
		<input type="radio" id="fieldType1" class="custom-control-input" ng-model="fd.FieldType" value="1" name="fieldType" ng-click="fd.Dbtype='integerfielddefinition'" ng-checked="fd.Dbtype=='integerfielddefinition'">
		<label class="custom-control-label label-xs" for="fieldType1">Integer</label>
      </div>
       <div class="custom-control custom-radio">
		<input type="radio" id="fieldType2" class="custom-control-input" ng-model="fd.FieldType" value="2" name="fieldType" ng-click="fd.Dbtype='decimalfielddefinition'" ng-checked="fd.Dbtype=='decimalfielddefinition'">
		<label class="custom-control-label label-xs" for="fieldType2">Decimal</label>
      </div>
       <div ng-if="fd.Dbtype=='decimalfielddefinition'">
		<label class="label-xs text-muted">Decimal places</label> <input type="number" min="1" max="18" ng-change="fd.setStep()" class="form-control form-control-xs" ng-model="fd.MaxLength"  />	
      </div>
        <div class="custom-control custom-radio">
		<input type="radio" id="numberStyle1" class="custom-control-input" ng-model="fd.Parameters.NumberStyle" value="percentage" name="numberStyle1" ng-click="fd.Parameters.NumberStyle='percentage'" ng-checked="fd.Parameters.NumberStyle=='percentage'">
		<label class="custom-control-label label-xs" for="numberStyle1">Percentage</label>
      </div>
	<div class="custom-control custom-radio">
		<input type="radio" id="numberStyle2" class="custom-control-input" ng-model="fd.Parameters.NumberStyle" value="currency" name="numberStyle2" ng-click="fd.Parameters.NumberStyle='currency'" ng-checked="fd.Parameters.NumberStyle=='currency'">
		<label class="custom-control-label label-xs" for="numberStyle2">Currency</label>
      </div>
	<label class="label-xs text-muted">Number style sign </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.NumberStyleSuffix"  />
       
   </div>
       
          <div kt-field-extended-properties>
          </div>
    

  </div>

 
	 