<div ng-init="localVars.editOutcome=false" id="ktOutcomeDefList" class="w-100">

      <div ng-if="false" class="">
        <label ng-show="task.InfiniteTask" title="Usually used for repeating tasks like reports and lists of dataset records with a search functionality"  class="p-4 form-check-label text-muted" for="check4">Task has no outcomes (task can never be completed)</label>
      </div>
	

    <style>
    li > .showOnHover {
        visibility:hidden
    }
    
    li:hover > .showOnHover {
        visibility:visible
    }
    
     li.shadowOnHover {
        box-shadow: 2px 2px 2px 2px #0000004a !important;
    }
    
    li:hover.shadowOnHover {
        box-shadow: 3px 3px 4px 2px #0000006a !important;
    }
    
    </style>
    <div id="list_of_outcomes" class="">
    
    	<ul class="nav simple-tabs mb-2 pb-2" id="myTab" role="tablist">
        
        <li  id="zaglavlje"  class="row mx-2 mb-2 w-100 d-flex nav-item">
                <div class="col-1 text-center">
					  <b><label>  </label></b>    
				</div>
                <div class="col-9">   
                        <b><label> Outcome display name </label></b>       
                </div>
                     
                 <div class="col-9">
                          <b><label> Outcome value </label></b>      
                 </div>
                    
                 <div class="col-3">
                            <b><label>Edit</label></b>      
                 </div>
                    
        <li>
       
       <!-- TODO  - klik na cijeli li element da mijenja selected outcome ? ng-click="selectedOutcome= !selectedOutcome; localVars.selectedOutcomeIndex = selectedOutcome ? $index: null "-->
	      <li  ng-repeat="outcome in localVars.outcomes track by $index" class="row shadowOnHover py-3 m-2 w-100 nav-item">
            
                <div class="col-1 ">
                    
                    <div class=" text-center custom-control custom-checkbox">
                   
                        <input type="checkbox" class="custom-control-input ng-pristine ng-untouched ng-valid ng-empty" id="selectOutcome{{$index}}" ng-model="localVars.isSelected[localVars.selectedButtonIndex][$index]" ng-change="localVars.promjenioOutcome($index,localVars.isSelected) "> 
                        <label class="custom-control-label label-xs" for="selectOutcome{{$index}}">.</label>
                       
                    </div>
                    
          
				</div>
                <div class="col-9">
                       <input ng-disabled="localVars.selectedButton.outcome!=outcome " type="text" class="form-control form-control-xs" ng-model="outcome.name1"  />
                </div>
                 
                <div class="col-9">  
                      <input ng-disabled="localVars.selectedButton.outcome!=outcome " type="text" class="form-control form-control-xs" ng-model="outcome.outcomeName"  />
                </div>
                
                 <div class="col-3 xshowOnHover">     
                 
                   	<button style="position:absolute" id="locked" ng-show="editOutcome != true" type="button" ng-click="localVars.selectedButton.outcome=outcome; editOutcome = true" class="btn p-1 btn-xs btn-info"><span> <i class="fas fa-lock "></i> </span></button>
                    <button style="position:absolute"  id="unlocked" ng-show="editOutcome == true " type="button" ng-click="localVars.selectedButton.outcome=null; editOutcome = false" class="btn p-1 btn-xs btn-danger"><span> <i class="fas fa-lock-open "></i> </span></button>
                
                 </div>  
                 
                 <div class="col-2 xshowOnHover">     
                 
                   	<button id="trash" type="button" ng-click="localVars.outcomes.splice($index,1)" class="btn p-1 btn-xs "><span> <i class="fa fa-trash "></i> </span></button>
                   
                 </div>  
                 
                 
                  <div id="OUTCOME_ACTIONS" class="w-100 row col-24 " ng-if="editOutcome">  <!--  outcome actions-->
                       
                          <div class="col-1">.</div>
                          
                          <div class="col p-0">
                          
                          <div class="">
                            <label class="bold m-3" >Outcome Actions</label>
                         </div>
                       
                         <!--   <div  ng-if=" !loadingActions" ng-repeat="outcome in localVars.outcomes track by $index">-->
                             <div  ng-if=" !loadingActions" >
                           
                             <div class="row m-0">
                                    <div class="col-10"> 
                                     
                                      <div class="item">
                                       
                                        <div kt-outcome-actions></div>             
                                         <div class="small p-2 text-center"> Drag actions from here  </div>
                                      </div>
                                    </div>

                                    <div class="col">
                                        
                                                <div class="">
                                                       
                                                        <ul  class="p-2 bg-gray-50" ng-class="{'min10' : outcome.actions.length==0}" dragula-scope="$root" dragula="'bag-outcomes'" dragula-model="outcome.actions" ng-model="outcome.actions">     
                                                             <!--<li ng-if="outcome.actions.length==0">-->
                                                             <li ng-if="outcome.actions.length==0">
                                                             
                                                                 <div class="mt-4">
                                                                    <i class=" far fa-2x fa-hand-point-up"></i>
                                                                 </div>
                                                             </li>
                                                             <li ng-repeat="act in outcome.actions track by $index"  class="card mb-1"> 
                                                             
                                                                  <div class="card-header p-0 bg-light">
                                                                        <a href title="Sort action">
                                                                              <div class="small p-1 element-drag-handle pb-0 d-inline bg-dark text-white">Action {{$index+1}} <i class="fas fa-grip-vertical element-drag-handle text-primary ml-1"></i></div>
                                                                        </a>
                                                                              <a class="btn btn-xs btn-outline-danger border-0 float-right"  href title="Remove action" ng-click="removeAction($index)"><i  class="fa fa-times"></i></a>
                                                                    </div>
                                              
                                                                  <div  ng-switch="act.type" class="border border-dark">   
                                                                            <div ng-switch-when="1" kt-action-initiate-task></div>
                                                                            <div ng-switch-when="2" kt-action-initiate-task></div>
                                                                  </div>
                                                         
                                                             </li>
                                                             
                                                      
                                                        </ul>
                                                         <div  class="small text-center"> Drop Actions on canvas bellow</div>
                                                </div>
                                        
                                    </div>

                                </div>
                        </div>
                            
                     </div>     
                  </div><!--  outcome actions-->
			
            </li>

		</ul>
    </div>
    

	 <div ng-if="localVars.selectedOutcomeIndex == null || localVars.selectedOutcomeIndex == undefined" id="DETAILS"class="col">
        <div ng-click="addOutcomeItem();"  style="cursor: pointer; " class="text-center mb-3"> 
        <i class="fas fa-lg fa-plus"></i>
        </div>
     
		<ul class="nav simple-tabs mb-3" id="myTab" role="tablist">
		
		</ul>	
		
	 </div>
     
    </div>
         
      <div class="p-1 my-2" ng-if="localVars.editOutcome">
      </div>
      
	  </div><!--row-->
      
     <!-- <div ng-if="localVars.selectedOutcomeIndex!=null && localVars.selectedOutcomeIndex!=undefined" class="mt-3 text-center">
            <span  class="text-muted mr-2" >
                Selected outcome:
            </span>
            <span class="p-1 bold  mr-2" >{{ localVars.outcomes[localVars.selectedOutcomeIndex].name1 }}</span>
           
      </div>-->
      

       
</div>