<div id="ktPageMenu">
	<div class="text-right my-2">
		<button type="button" class="btn btn-success" ng-click="savePageMenu()">
		<i class="fa fa-save mr-2"></i>Save menu</button>
	</div>
                 
	<div class="mt-1">
		<div ng-if="false"> 
			<div ng-if="localVars.pageList.length==0" class="row m-0 mt-2">
				<div class="col-24 my-auto"> You don't have any pages. The best way forward is to create your first page.</div>
				<div class="col-24 my-auto">
						<span class="mr-2">Create your first page</span>
						<button type="button"  ng-click="createPage()" class="btn btn-sm btn-outline-info mb-2" kt-bootstrap-tooltip data-toggle="tooltip" data-placement="right" title="Click to define your data">Build new page</button>
				
				</div>
				<div class="col-24 my-auto">
										
				</div>
			</div>
		</div>
	</div>

	<div class="mt-1 row m-0">
	
		<div class="col-lg-5 p-0">
			<div class="col-lg-24 m-0 shadow p-2" id="collapseTasks" style="max-height:35rem;overflow-y:scroll;width: max-content">
				<div class="helper" style="opacity: 0.5;">
					<h6 class="mb-1">Pages</h6>
					<p class="small text-muted mb-2">To build application menu use the <i class="mx-1 fas fa-grip-vertical"></i> icon to drag &amp; drop pages on navigation bar above</p>
				</div>
				<div class="mb-2">
					<input type="text" class="form-control form-control-xs" placeholder="Search pages" ng-model="localVars.filterPages"  />
				</div>
                
                
                <div  id="app-menu-page-list"  >
                            
                   <div lr-drag-src-safe="pages" ng-repeat="page in localVars.pageList track by $index" ng-show="([page.name] | filter:localVars.filterPages).length" style="background-color: #f5f5f5" class="border rounded text-dark mb-1">
					<div  class="row m-0">
					  <div class="col">{{$index+1}}. {{page.name}} ({{page.id}})</div>
					  <div class="col-auto p-0">
						<button  type="button" class="btn btn-outline-primary btn-xs border-0 element-drag-handle" ><i class=" fas fa-grip-vertical"></i> </button></div>
					  </div>   
				   </div> 
					   
				</div>
			</div>
			
				 
		</div>
	
		<div class="col-lg-19" >
		
			
			<div class="row m-0">
				
				    
                <div id="pagemenu" ng-show="resource.ResourceType.ResourceCode=='pagemenu'" class="col-lg-5 p-0">
					<div class="p-2 shadow-sm sidemenu-custom">
						<div class="helper " style="opacity: 0.5;">
								<div class="mb-1 text-center border-bottom border-primary h5 p-1">Side menu</div>
                                <div class="my-3"> </div>
							<!--	<p class="small text-muted m-2">To build the side menu, use <i class="mx-1 fas fa-grip-vertical"></i> icon to drag &amp; drop pages bellow</p>-->
						</div>
						
						<div style="border:dashed 1px gray" ng-class="{'empty-side-menu':localVars.selectedNavbar.layout.length==0}">
                        	
                        
							<div class="w-100" ng-if="localVars.pageMenuItems.length==0" kt-bootstrap-tooltip title="Drop items here">			
							</div>  
                            
                            <ul class="my-1 navbar-nav side-menu-color">
                             <li min-height="100px" lr-drop-target="pages" lr-drag-src="pages" lr-drop-success="whenSuccesfullDrop"  ng-repeat="mi in localVars.pageMenuItems | ngRepeatfilter as filtered" id="{{$index}}"  
                                class="nav-item m-0 ml-1 p-0 border-0" ng-class="{'active':localVars.selectedMenu.index == $index}" style="position:relative">
                                                                                                                
                                            <a  class="nav-link-custom nav-link padding5 m-0" ng-click=" localVars.getMenuDetails(localVars.pageMenuItems,$index)">
                                                        <i class="{{mi.katalyonode_menus_Icon}}"></i>
                                                        <span ng-if="mi.katalyonode_menus_Name==undefined" class="mx-1"> {{mi.name}} </span>
                                                        <span ng-if="mi.katalyonode_menus_Name!=undefined" class="mx-1"> {{mi.katalyonode_menus_Name}} </span> 
                                            </a>
                                            <div class=" position-absolute" style="right: 10px;top:2px" ng-if="true || localVars.selectedMenu.index == $index">
                                                        <button type="button" class="btn btn-outline-primary btn-xs border-0 element-drag-handle" ><i class=" fas fa-grip-vertical"></i> </button>
                                                        <button type="button" ng-class="{'btn-outline-danger':!mi.deleteItem,'btn-outline-success':mi.deleteItem}"
                                                            ng-click="localVars.deletePageMenu(mi,$index)" class="btn btn-outline-danger btn-xs border-0" ><i class="fa fa-times"></i> 
                                                        </button>
                                            </div>
                                            <div ng-if="mi.katalyonode_menus_MenuType==2" kt-sidemenu-container></div>
                                        
                                 </li>
                            </ul>
						</div>
                        
                        <p class=" text-muted my-3">To build the side menu, use <i class="mx-1 fas fa-grip-vertical"></i> icon to drag &amp; drop pages above</p>
                                    
					</div>
				</div>
                
                
				<div  class="col-lg-19 p-0">
				<!--	<div class="shadow-sm" kt-navbar-definition ng-if="localVars.showNavbarDetails" local-vars="localVars" navbar-item="localVars.selectedNavbar"></div>-->
					<div class="shadow-sm" kt-menu-definition ng-if="localVars.showMenuDetails" local-vars="localVars" menu-item="localVars.selectedMenu"></div>
				</div>
				  
				</div>
                
                
			</div>
	
		</div>

</div>