<div class="row m-0">
	<div class="col-3 border-right border-primary">	
	</div>
	
</div>


<div ng-show="(tds.showTaskFormFn()=='i'  && !taskDefinition.AutoInitiate) || (tds.showTaskFormFn()=='e' )" class="border border-primary rounded shadow">
	
	<form ng-submit="saveForm()" name="form" class="form-horizontal py-1" ng-class="{'edit-mode':taskDefinition.formParams.formViewType==1}" role="form" novalidate>
				
		<div class="m-0 p-1 border-bottom bg-white" id="taskToolboxId" ng-style="(taskDefinition.formParams.formViewType==1 || taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4) && gsrvc.getTopForSticky(0)" ng-class="{'form-btns-top position-sticky':taskDefinition.formParams.formViewType==1 || taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4}">
		 
			
				<div class="row">
					<div class="col">
						<ul class="nav nav-tabs simple-tabs border-0 mx-4" id="myTab" role="tablist">
						  
						  <li class="nav-item">
						    <a class="nav-link" ng-class= "{'active':taskDefinition.formParams.formViewType==2}" href id="preview-tab" data-toggle="tab" ng-click="ShowFormView(2,true)" role="tab" aria-controls="preview" aria-selected="true">
							Preview
							<span class="badge badge-light ml-2 text-primary">Ctrl+P</span>
						    </a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" ng-class= "{'active':taskDefinition.formParams.formViewType==1}" id="build-tab" href data-toggle="tab" ng-click="ShowFormView(1,false)" role="tab" aria-controls="build" aria-selected="false">
							Build
							<span class="badge badge-light ml-2 text-primary">Ctrl+B</span>
						    </a>
						  </li>
			
						  <li class="nav-item">
						    <a class="nav-link" ng-class= "{'active':taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4}" id="layout-tab" href data-toggle="tab" ng-click="ShowFormView(4)" role="tab" aria-controls="layout" aria-selected="false"><i class="fa fa-th-large mr-1" ></i>
							Arrange layout</a>
						  </li>
					  </ul>
			
					  </div>
					    <div class="col-auto mr-3">
						<span ng-if="formVersion" class="small mr-2"><b class="mr-2">Version:</b>{{formVersion}}</span>
						<button type="submit" ng-disabled="savingPageForm" class="btn btn-sm btn-primary">Save form</button>
						
					    </div>
				</div>
		   
		
		</div>

	<div class="row m-0" ng-show="(tds.showTaskFormFn()=='i' && !taskDefinition.AutoInitiate) || (tds.showTaskFormFn()=='e')">
	
		<div class="col p-0">
			<div class="row m-0">
				<div class="p-0 col-24 collapse"  ng-class="{'build-mode':taskDefinition.formParams.formViewType==1 || taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4,'show':!gsrvc.getTaskLoadedInPlaceholder()}">
					<div kt-grid grid-type="gridsterType" resource-form-loaded="formLoaded" form-params="resourceDefinition.formParams" form-data="" parent="dashboard.widgets" all-columns="dashboard.widgets" resource-definition="resourceDefinition" class="ktGrid"></div>
				</div>
		    				
			</div>
		
		</div>
	</div>
	</form>
  </div>
</div>