<div class="panel-default margin0">
  <div class="panel-heading"><span class="fa fa-wrench">&nbsp Page toolbox</span>
  <a class="float-right" href uib-popover-template="'helptoolbox.html'" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="right-top"><i class="fa fa-question"></i> </a>		
  </div>
    <div class="list group toolbox" ng-model="toolboxItems">
      <div ng-repeat="toolboxItem in toolboxItems track by toolboxItem.id">
          <a  title="Drag me" class="toolbox-drag-handle list-group-item" href>
            <span  class="toolbox-drag-handle" ng-class="toolboxItem.facss"></span>&nbsp {{toolboxItem.placeholder}}</a>
      </div>
		</div>
	
</div>

 <script id="helptoolbox.html" type="text/ng-template"> 
	
		 <span>To build page form drag & drop elements from toolbox!</span> 
		 
 </script>