<div class="row m-0">
    <div class="p-0 sidemenu-custom col-lg">
    
       <div class="py-3">
         
           <div class="p-0">
             <ul class="navbar-nav side-menu-color">
               <li ng-repeat="mi in sideMenus track by mi.katalyonode_menus_id" ng-switch="::mi.katalyonode_menus_MenuPosition" class="nav-item p-0 border-0" ng-class="{'text-center':!menu_service.getSideMenuSize(),'active':mi.katalyonode_menus_id==menu_service.selectedSideMenuId}">
                       
                       <a ng-switch-when="sidemenu" title="{{::mi.katalyonode_menus_Name}}" class="nav-link-custom nav-link padding5" ng-click="setSideMenu(mi.katalyonode_menus_id)" ui-sref="{{::mi.katalyonode_pages_Target}}(::mi.katalyonode_menus_Params)" >
                        <i ng-class="{'fa fa-{{::mi.katalyonode_menus_Icon}}':menu_service.getSideMenuSize(),'fa fa-{{::mi.katalyonode_menus_Icon}} fa-lg text-center':!menu_service.getSideMenuSize()}"></i>
                          <i class="fa-lg text-center" ng-if="!menu_service.getSideMenuSize() && mi.katalyonode_menus_Icon==undefined">{{$index}}</i>
                        <span ng-if="menu_service.getSideMenuSize()" class="ml-2">{{::mi.katalyonode_menus_Name}}</span>
                       </a>
                       <div ng-switch-when="sidemenu" ng-if="::mi.katalyonode_menus_MenuType==3" kt-sidemenu-container>
                       </div>
               </li>
             </ul>
           </div>
       </div>
       
    </div>
    <div class="col-lg-auto p-0 toggle-side-menu" title="Double click to toggle menu size" ng-dblclick="menu_service.changeSideMenuSize()"></div>
</div>
            