<div class="p-2 text-center m-auto" ng-class="{'card':showAsCard}">
  
  <div class="spinner-std" ng-show="showMsg">
    <div class="rect1 bg-dark ml-1"></div>
    <div class="rect2 bg-dark ml-1"></div>
    <div class="rect3 bg-dark ml-1"></div>
    <div class="rect4 bg-dark ml-1"></div>
    <div class="rect5 bg-dark ml-1"></div>
  </div>
  <div> <h5>{{ message }}</h5></div>
  
</div>
