<div class="timeline-wrapper h-100">
    <div class="timeline-item h-100">
        <div ng-if="animationType=='form'" class="animated-background">
            <div ng-repeat="fi in formItems track by fi" class="row m-0">
                <div class="col-1 background-masker masker-item"></div>
                <div class="col-3"></div>
                <div class="col-1 background-masker masker-item"></div>
                <div class="col-14"></div>
                <div class="col-5 background-masker masker-item"></div>
                <div class="col-24 background-masker masker-margin"></div>
            </div>
           <div class="row m-0">
             <div class="background-masker button-bottom col-1"></div>
             <div class="col-2"></div>
            
             <div class="background-masker button-bottom col-21"></div>
           </div>
        </div>
         <div ng-if="animationType=='table'" class="animated-background">
            <div ng-if="showMsg" class="h4 text-center my-auto">{{message}}</div>
            <div ng-repeat="fi in formItems track by fi" class="row m-0">
                <div ng-if="$index==0" class="col-24 background-masker masker-margin"></div>
                <div class="col-4"></div>
                <div class="col-1 background-masker masker-item"></div>
                <div class="col-4"></div>
                <div class="col-1 background-masker masker-item"></div>
                <div class="col-4"></div>
                <div class="col-1 background-masker masker-item"></div>
                <div class="col-4"></div>
                <div class="col-1 background-masker masker-item"></div>
                <div class="col-24 background-masker masker-margin"></div>
            </div>
           
        </div>
    </div>
</div>