 <!-- PROPERTY HEADER --> 
  <div id="property_header" class="label-xs bg-white border p-2 rounded text-muted text-center mt-2" title="ID: {{fd.ItemId}} | Presentation ID: {{fd.PresentationId}} | UUid: {{fd.UuidRef}}"  >
       <div class="">
           <b>Presentation ID: </b>
           <span ng-show="fd.PresentationId"  ng-bind="fd.PresentationId"> </span>
           <span ng-show="fd.PresentationId == null"> none  </span>

       </div>
       <div class="">
           <b>Uuid: </b>
           <span ng-show="fd.UuidRef"  ng-bind="fd.UuidRef"> </span>
           <span ng-show="fd.UuidRef == null" class="bold"> none  </span>

       </div>

         <div class="">
           <b>Type:</b> <span>{{fd.Name }} ({{fd.ElementType}})</span>
       </div>
          <div class="">
           <b>Field name: </b>
           
             <span ng-show="fd.FieldName"  ng-bind="fd.FieldName">  </span>
              <span ng-show="fd.FieldName == null"> none  </span>
       </div>

       <div>
       
         
       </div>
    </div>