<div class="p-1" ng-form="innerFormProperties">
     	  
        <div kt-property-header>  </div>
        
        
         <div ng-click="fd.localVars.showBasic = !fd.localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
                <span class="col p-0">
                MAIN  </span>
              <i style=" font-size: large;" ng-show="fd.localVars.showBasic" class="fas fa-angle-down"></i> 
              <i style=" font-size: large;" ng-show="!fd.localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
        
		<div class="mb-4 collapse show" id="mainPropertyPanel">
			
			<label class="pl-0 label border-bottom">New or existing relationship</label>

			<div class="my-1">
				
				<label class="form-check-label">
					<input type="radio" ng-model="fd.Parameters.ResourceRelationshipType" value="new" ng-click="fd.localVars.getResources()">
				 	</input>
					Create new relationship
		        </label>
			</div>
			<div class="my-2">
				
				<label class="form-check-label" >
					<input type="radio" ng-model="fd.Parameters.ResourceRelationshipType" value="existing" ng-click="fd.localVars.getExistingResources()"></input>
					Select existing relationship
		        </label>
			</div>
			<div class="mb-2">
				
				<label class="form-check-label" >
					<input type="radio" ng-model="fd.Parameters.ResourceRelationshipType" value="view" ng-click="fd.localVars.getResources()"></input>
					Link to existing dataset (for resource view)
		        </label>
			</div>
			
			

			<div class="my-2" ng-if="fd.Parameters.ResourceRelationshipType=='new' || fd.Parameters.ResourceRelationshipType=='view'">

				<label class="pl-0 label border-bottom">Relationship type</label>
				<div class="my-2">
					
					<label class="form-check-label">
						<input type="radio" ng-model="fd.MaxLength" ng-value="1" ng-click="fd.Multiline=false;fd.Dbtype='foreignkeydefinition'"></input>
						Link only one record (1:1)
			        </label>
				</div>
				<div class="mb-2">
					
					<label class="form-check-label">
			        	<input type="radio" ng-model="fd.MaxLength" ng-value="0" ng-click="fd.Multiline=true;fd.Dbtype='manytomanyfielddefinition'">
			        	</input>
			        	Link unlimited number of records (1:n)
			        </label>
				</div>


			</div>
          <label class="pl-0 label-xs text-muted" for="nameField">Select dataset</label>              
	  
	<kt-dropdown-standard ng-model="fd.selectedResource" size="'small'" selected-items="fd.selectedResource" ng-if="fd.RelatedLoaded" on-select-fn="fd.onSelectCallback(item,model)" is-multiple="false" name="selectedDataset{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.resourcesList" dropdown-id="'selectedDataset'+fd.PresentationId" parent-form-id="'selectedDataset'+fd.PresentationId" search-text="'Select dataset'"></kt-dropdown-standard>

	

	<div ng-if="fd.localVars.publishedLoaded">
		<label class="pl-0 label-xs text-muted" for="selectedPublished{{fd.PresentationId}}">Select published version</label>
              
	  
		<kt-dropdown-standard ng-model="fd.Parameters.publishedDataset" size="'small'" selected-items="fd.Parameters.publishedDataset" on-select-fn="fd.onSelectPublished(item,model)" is-multiple="false" name="selectedPublished{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.localVars.publishedResourceList" dropdown-id="'selectedPublihed'+fd.PresentationId" parent-form-id="'selectedPublished'+fd.PresentationId" search-text="'Select published dataset form'"></kt-dropdown-standard>
	</div>
          <!-- For now removed - find better solution 
          <label class="pl-0 label-xs text-muted" for="nameField">Search form task</label>
              
	 
	<kt-dropdown-standard ng-model="fd.Search.taskId" size="'small'" selected-items="fd.Search.taskId" ng-if="fd.RelatedLoaded" on-select-fn="fd.onSelectSearchForm(item,model)" is-multiple="false" size="'small'" name="taskForm{{fd.PresentationId}}" ng-required="true" dropdown-items="fd.taskList" dropdown-id="'taskForm'+fd.PresentationId" parent-form-id="'taskForm'+fd.PresentationId" search-text="'Select task'"></kt-dropdown-standard>
          
           <label class="label-xs text-muted">Widget from selected task</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Search.WidgetId"  />
     -->      

     		<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
			<label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
			<label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />

			<div class="my-2">

				<label class="pl-0 label border-bottom">Select presentation component</label>
				<div class="my-1">
					
					<label class="form-check-label">
						<input type="radio"  ng-model="fd.PresentationType" value="0" ></input>
						Table
			        </label>
				</div>
				<div class="my-1">
					
					<label class="form-check-label">
						<input type="radio" ng-model="fd.PresentationType" value="1"></input>
						Dropdown
			        </label>
				</div>
				<div class="mb-2">
					<label class="form-check-label">
						<input type="radio" ng-model="fd.PresentationType" value="2"></input>
						Use only search form
			        </label>
				</div>
			</div>

			<div>

              <label class="pl-0 label-xs text-muted" for="nameField">Select dataset fields</label>
              
	  
			 
		 	  <kt-dropdown-multiple ng-model="fd.NameField" size="'small'" selected-items="fd.NameField" name="nameField{{fd.PresentationId}}" required="false" dropdown-items="fd.presentationElements" dropdown-id="'nameField'+fd.PresentationId" parent-form-id="'nameField'+fd.PresentationId" search-text="'Select fields for dropdown'"></kt-dropdown-multiple>
	
		 	 </div>
	
    	 
            
       <!-- remove this for now - ToDo - implement if needed later
          <div kt-codes-dropdown search-text="Select unique field identifier" label="Unique identifier" size-xs="true" value-length="col-24" code-name="tags" selected-code-id="fd.UniqueId"></div>
       -->
		    
			
	<!--
	<div class="custom-control custom-radio">
		<input type="radio" id="relationshipType1" class="custom-control-input" ng-model="fd.RelationshipType" value="1" ng-click="fd.MaxLength=1;fd.Multiline=false;fd.Dbtype='foreignkeydefinition'" name="relationshipType" ng-checked="fd.MaxLength==1">
		<label class="custom-control-label label-xs" for="relationshipType1">Link only one record (1:1)</label>
	</div>
	-->

	
              <div ng-if="false">
           	   <label class="label-xs text-muted">Max number of records </label> <input type="number" class="form-control form-control-xs" type="number" min="2"  ng-model="fd.MaxLength"  />
              </div>
           	


			<div>
				
				<label  class="kt-checkbox-label" for="cbHasParentDataset{{fd.PresentationId}}">
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbHasParentDataset{{fd.PresentationId}}" ng-model="fd.HasParentDataset" ng-checked="fd.HasParentDataset" />  
					Add existing dataset records
				</label>
								 						
			</div>


			<div>
				
				<label  class="kt-checkbox-label" >
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.ShowSearchForm" ng-click="fd.localVars.ShowSearchForm(fd.Parameters.PublishedResourceId)" />  
					Show search form
				</label>
								 						
			</div>


			<div class="">
				
				<label  class="kt-checkbox-label" >
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.AutoSearch" />  
					Auto search
				</label>
								 						
			</div>

			<div class="">
				
				<label  class="kt-checkbox-label">
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.Parameters.NoGetData"/>  
					Do not get data
				</label>
								 						
			</div>
            <div class="">
				
				<label  class="kt-checkbox-label">
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.Parameters.LinkChildren"/>  
					Link child records
				</label>
								 						
			</div>   

			 <div class="">
				
				<label  class="kt-checkbox-label">
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  ng-model="fd.Parameters.DeleteChildren"/>  
					 Enable relationship deletion
				</label>
								 						
			</div> 
			 <div ng-if="fd.Parameters.DeleteChildren">
           	   <label class="label-xs text-muted">Delete button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.DeleteLabelBtn"  />
             </div>
           	  
		  
		</div>
		
          <div kt-field-extended-properties></div>
 
</div>   

  
	 