<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="panel panel-default padding0 margin0">
          <div class="panel-heading"><span class="fa fa-wrench">&nbsp Previous task</span>
          <button type="button" ng-click="isCollapsed = !isCollapsed" ><span ng-class="{'fa fa-plus-square': isCollapsed,'fa fa-minus-square': !isCollapsed }" ></span></button>
          </div>
          <div uib-collapse="isCollapsed" class="panel-body">
                 <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGridSmall"> </div>             
          </div>
          <div class="padding0 margin0">
                <div class="col-sm-6 padding0 margin0">
                    <div class="panel panel-default padding0 margin0">
                      <div class="panel-heading"><span class="fa fa-rocket">&nbsp Datasets from start form</span></div>
                      <div class="panel-body max200">
                        
                           
                            <ul class="resourceMapperDragular21" ng-class="{'min10' : (pTaskInitiateFormResources.length==0) && (selectedResource[0].src_type_id==21)}">   
                                  <li ng-if="pTaskInitiateFormResources.length==0 && selectedResource[0].src_type_id==21"> Drop back dataset here </li>
                                
                                  <li  ng-repeat="ptifr in pTaskInitiateFormResources track by ptifr.id">
                                     <a class="element-drag-handle list-group-item" href>
                                          <span class="{{ptifr.facss}}"></span>&nbsp {{ptifr.name}}
                                          
                                     </a>
                                  </li>
                          
                            </ul>
                         
                    </div>
                  </div>
               </div>
                <div class="col-sm-6 padding0 margin0">  
                    <div class="panel panel-default padding0 margin0">
                       <div class="panel-heading"><span class="fa fa-cog">&nbsp Datasets from execute form</span></div>
                       <div class="panel-body max200">
                                <ul class="resourceMapperDragular22" ng-class="{'min10' : (pTaskExecuteFormResources.length==0) && (selectedResource[0].src_type_id==22)}">   
                                  <li ng-if="pTaskExecuteFormResources.length==0 && selectedResource[0].src_type_id==22"> Drop back dataset here </li>
                                
                                  <li ng-repeat="ptefr in pTaskExecuteFormResources track by ptefr.id">
                                     <a class="element-drag-handle list-group-item" href>
                                          <span class="{{ptefr.facss}}"></span>&nbsp {{ptefr.name}}
                                     </a>
                                  </li>
                          
                            </ul>
                       </div> 
                    </div>
                </div>
          </div>
    </div>
    </div>
   
</div>

<div class="row">
       <div class="col-sm-offset-6">
          <div class="fa fa-arrow-down fa-2x">
          </div>
   </div>
</div>


<div class="row">
  
   <div class="col-sm-12">
        <div class="panel panel-default  padding0 margin0">
          <div class="panel-heading"><span class="fa fa-wrench">&nbsp Current task</span></div>
          <div class="padding0 margin0">
                <div class="col-sm-4 padding0 margin0">
                    <div class="panel panel-default padding0 margin0">
                      <div class="panel-heading"><span class="fa fa-rocket">&nbsp Datasets from start form</span></div>
                      
                      <div class="panel-body max200">
                         
                           
                            <ul class="resourceMapperDragular11 list group" ng-class="{'min10' : initiateFormResources.length==0 && selectedResource[0].src_type_id==11}">   
                                  <li ng-if="initiateFormResources.length==0 && selectedResource[0].src_type_id==11"> Drop back dataset here </li>
                                
                                  <li ng-repeat="ifr in initiateFormResources track by ifr.id" >
                                     <a class="element-drag-handle list-group-item" href>
                                          <span class="{{ifr.facss}}"></span>&nbsp {{ifr.name}}
  
                                     </a>
                                  </li>
                          
                            </ul>
                       
                     </div>
                      
                  </div>
               </div>
                    <div class="col-sm-4  padding0 margin0">  
                    <div class="panel panel-default padding0 margin0">
                       <div class="panel-heading"><span class="fa fa-cog">&nbsp Selected dataset</span></div>
                       <div class="panel-body max200">
                          <ul class="resourceMapperDragular" ng-class="{'min10' : selectedResource.length==0}" ng-model="selectedResource">   
                              <li ng-if="selectedResource.length==0"> Drop dataset here </li>
                            
                              <li ng-repeat="r in selectedResource track by r.id" >
                                 <a class="element-drag-handle list-group-item" href>
                                      <span ng-class="r.facss"></span>&nbsp {{r.name}}                                   
                                      <br>({{r.src_type_id}} : {{src_type_text[r.src_type_id]}})
                                      
                                  </a>
                              </li>
                          
                         </ul>
                       </div> 
                    </div>
                </div>
                <div class="col-sm-4  padding0 margin0">  
                    <div ng-if="formType=='e'" class="panel panel-default padding0 margin0">
                       <div class="panel-heading"><span class="fa fa-cog">&nbsp Execute form resources</span></div>
                       <div class="panel-body max200">
                            <ul class="resourceMapperDragular12 list group" ng-class="{'min10' : executeFormResources.length==0 && selectedResource[0].src_type_id==12}">   
                                  <li ng-if="executeFormResources.length==0 && selectedResource[0].src_type_id==12"> Drop back resource here </li>
                                
                                  <li ng-repeat="efr in executeFormResources track by efr.id" >
                                     <a class="element-drag-handle list-group-item" href>
                                          <span class="{{efr.facss}}"></span>&nbsp {{efr.name}}
                                       
  
                                     </a>
                                  </li>
                          
                            </ul>
                       </div> 
                    </div>
                </div>
          </div>
      </div>
    </div>
   
</div>

<div class="row">
       <div class="col-sm-offset-6">
          <div class="fa fa-arrow-up fa-2x">
          </div>
   </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            
            <span class="fa fa-wrench">&nbsp Fixed datasets</span>
             <input  type="text"  ng-model="fixedResourceSearch" placeholder="Search datasets" class="form-control"/>
          </div>
          <div class="panel-body max200">
                <ul class="resourceMapperDragular3 list group" ng-class="{'min10' : fixedResources.length==0 && selectedResource[0].src_type_id==3}" >   
                                  <li ng-if="fixedResources.length==0 && selectedResource[0].src_type_id==3"> Drop back resource here </li>
                                
                                  <li  ng-repeat="fr in fixedResources | filter: fixedResourceSearch track by fr.id ">
                                     <a class="element-drag-handle list-group-item" href>
                                          <span  class="{{fr.facss}}"></span>&nbsp {{fr.id}} | {{fr.name}} | {{fr.subject}}
                                         
  
                                     </a>
                                  </li>
                          
              </ul>
                  
          </div>
    </div>
    </div>
   
</div>
