<div class="form-group row m-0 mb-1" ng-show="fd.showField || !inputArray.locked" ng-form="innerForm{{fd.itemId}}" ng-class="{ 'has-error' : (innerForm{{fd.itemId}}.$submitted || innerForm{{fd.itemId}}.selectDataset{{fd.itemId}}.$touched) && innerForm.selectDataset{{fd.itemId}}.$invalid }">
      
  <div ng-class="colLength[fd.labelLength-1]">
  
     <label  class="ml-3 form-control-label no-border" for="selectDataset"><a ng-if="!inputArray.locked" title="sort" href><i class="element-drag-handle fa fa-sort"></i></a>{{fd.placeholder}}</label>
          
  </div>
	<div ng-if="!fd.readOnly" ng-class="colLength[fd.valueLength-1]" >
       
           
      <ui-select  ng-model="selectedResource"  on-select="onSelectCallback($item, $model)" ng-disabled="disabled" name="selectDataset{{fd.itemId}}" ng-required="false" reset-search-input="false" > 
          	
          <ui-select-match class="ui-select-match" placeholder="Search or select dataset..."  >
              <span>{{$select.selected.name}}
                  <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
              </span>
          </ui-select-match>
           
            <ui-select-choices class="ui-select-choices" repeat="co in (fd.resourcesList | filter: { name: $select.search }) track by co.id" refresh="getResources($select.search)">
               <span>{{co.name}} ({{co.id}})</span>
            </ui-select-choices>
        </ui-select>
	
            <p ng-show="(innerForm{{fd.itemId}}.$submitted || innerForm{{fd.itemId}}.selectDataset{{fd.itemId}}.$touched) && innerForm{{fd.itemId}}.selectDataset{{fd.itemId}}.$invalid" class="help-block">Select dataset</p>
    
      </div>
      <div  ng-if="fd.readOnly" ng-class="colLength[fd.valueLength-1]" >
       
             <div  style=" margin-bottom: 1px !important;" class="form-control">{{selectedResource.name}}({{selectedResource.id}})</div>
      </div>
      
    <div class="row">
            <button ng-if="showSearchFilters || !inputArray.locked" type="button" title="{{fd.search.name}}" class="btn btn-light rounded-0" href uib-popover-template="'resourcelinksearchproperties.html'" ng-click="isOpen=True" popover-is-open="isOpen" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top">
                      <i class="fa fa-filter"></i>
            </button>
            
            <div class="ml-3" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                    <a class="btn btn-light" title="Show properties" href ng-click="gsrvc.setFieldProperties(fd)"><i class="fa fa-cog"></i> </a>		

            </div> 
  </div> 
        
      
     
  <div>   
        
        <span ng-if="localVars.gridOptions2.data.length>0" >{{localVars.gridOptions2.data.length}} {{selectedResource.name}} selected ! </span>
        <span ng-if="!localVars.gridOptions2.data.length==0"> 0 {{selectedResource.name}} selected !</span>
        <span><button  ng-if="localVars.isResourceSelected && (fd.hasParentDataset || localVars.gridOptions2.data.length==0) || !inputArray.locked" type="button" class="btn btn-light"  ng-click="localVars.pickResourceData()"> {{ localVars.pickButtonLabel }} </button> </span>
        <button type="button" class="btn btn-light"  ng-click="localVars.showGrid=!localVars.showGrid"><i ng-class="{'fa fa-plus':!localVars.showGrid,'fa fa-minus':localVars.showGrid}"></i> </button>
  </div>	
    
 
 
    <div ng-hide="!localVars.pickButtonClicked" class="row">
             
         <div id="grid1"  ui-grid="localVars.gridOptions"  ui-grid-move-columns ui-grid-save-state ui-grid-auto-resize ui-grid-grouping ui-grid-selection ui-grid-resize-columns ui-grid-exporter class="myGrid"></div>  
     
    </div>
 
    <div class="row" ng-show="localVars.showGrid && !localVars.pickButtonClicked" >
           <div id="grid2"  ui-grid="localVars.gridOptions2"  ui-grid-move-columns ui-grid-save-state ui-grid-auto-resize ui-grid-grouping ui-grid-selection ui-grid-resize-columns class="myGrid"></div> 
            <button type="button" ng-if="!inputArray.locked" class="btn btn-light"  ng-click="fd.saveGridState()"><i  class="'fa fa-plus'"></i> Save grid layout</button>
   </div>
  
</div> <!-- form-group -->
<script id="resourcelinksearchproperties.html" type="text/ng-template"> 
	 <div>
	 	
		<label>Choose filter method</label>
							
		<div call="row">
		<button type="button" class="btn btn-light ng-binding" ng-click="applySearchFilters(0)">  <span class="fa fa-bars"></span> On list</button>	   
		</div>
		<button type="button"  class="btn btn-light ng-binding"  ng-click="applySearchFilters(1)">  <span class="fa fa-expand"></span> Not on list</button>
		
	</div>
	 
</script>