<div class="form-group pb-1 row m-0 dataset-item" ng-if="fd.ShowField" ng-form="innerForm{{::fd.ItemId}}" 
ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.Dataset{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.Dataset{{fd.ItemId}}.$invalid,'bg-gray-20 mr-0 border':fd.ItemId==gsrvc.getSelectedItemId() && gsrvc.getFieldPropertiesOpened() }">
      
  

    <div ng-hide="::fd.Parameters.HideLabel" style="{{::fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{::fd.customStyleLabel}}"   for="{{::fd.Name}}{{::fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize}">  
                    {{::fd.Label}} <span style="{{::fd.customStyleLabel}}" ng-if="::fd.PresentationType==0">({{fd.localVars.gridData.length}} records)</span>
           </label>
           
      </div>

	<div ng-if="fd.ShowSearchForm" class="{{fd.colLength[fd.ValueLength-1]}} p-0 my-auto">
 			<div kt-grid grid-type="fd.localVars.gridsterType" show-search-filters="showSearchFilters" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="fd.ParentDatasetDefId" resource-record-id="fd.localVars.datasetRecordId"
	                            resource-definition="resourceDefinition" form-params="fd.localVars.formParams" form-params-parent="formParams" form-data="formData[0][fd.FieldName]" parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets">
	        </div>
	        
            <button ng-if="false" type="button" class="btn btn-outline-primary btn-xs"  ng-click="fd.localVars.SelectRecords()"><i  class="fa fa-save"></i>Apply search</button>
 	</div>

	<!-- DROPDOWN -->	
	<div class="{{::fd.colLength[fd.ValueLength-1]}} my-auto"> 
					<div ng-if="::fd.PresentationType==1 && !fd.ReadOnly" >
							
							<kt-dropdown-standard ng-if="!fd.Multiline && fd.datasetItems.length>0" ng-model="itemValue.val" selected-items="itemValue.val" required-field="::fd.Required" dropdown-items="fd.datasetItems" dropdown-id="'Dataset'+fd.ItemId" parent-form-id="'innerForm'+fd.ItemId" search-text="::fd.SearchText"></kt-dropdown-standard>
							<div ng-if="fd.datasetItems.length==0" class="form-control">No data in dataset</div>
							
							<kt-dropdown-multiple ng-if="fd.Multiline && fd.datasetItems.length>0" ng-model="formData[0][fd.FieldName]" selected-items="formData[0][fd.FieldName]" name="Dataset{{::fd.ItemId}}" required="::fd.Required" dropdown-items="fd.datasetItems" dropdown-id="'Dataset{{::fd.ItemId}}'" parent-form-id="'innerForm{{::fd.ItemId}}'" search-text="fd.SearchText"></kt-dropdown-multiple>
			 				 
			 				<p ng-class="{'invalid-tooltip right-0 mr-3':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback','d-block':(innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid}">{{::fd.ErrorMsg}}</p>
					
					</div>
					
					<div ng-if="::fd.PresentationType==1 && fd.ReadOnly">
						
														<div ng-if="formData[0][fd.FieldName].length==0" class="border p-1 rounded-0">0 {{::fd.Label}} selected</div>
														<div ng-if="(formData[0][fd.FieldName]==undefined || formData[0][fd.FieldName]==null)" class="border p-1 rounded bg-white"> No data</div>
														
														
														<div ng-if="formData[0][fd.FieldName].length>0 && formData[0][fd.FieldName][0].id!=undefined" class="pt-2 mt-n2">
																<div  class="badge badge-secondary m-1" ng-repeat="item in formData[0][fd.FieldName] track by item.id">
																	<span class="">{{item.name}}</span>
																</div>
															
														</div>
					
														<div style="min-height: 35px;" class="border p-1 mb-0 rounded bg-white">{{formData[0][fd.FieldName].name}}{{formData[0][fd.FieldName][0].name}}</div>
						
				 </div>
		
				
		</div>
		<div class="col-lg-24" ng-show="fd.selectedTasks.length>0 && fd.resourceDataRecordSelected">
			<div kt-initiate-task-widget fd="fd" local-vars="fd.localVars"></div>
		</div>
      



    <div class="card" ng-if="fd.Search.taskId.id>0" ng-show="::fd.ShowField">
      <div class="card-header">
        <div kt-task-proc-directive fd="fd" taskDefinition="taskDefinition" local-vars="localVarsSearch"></div>
      </div>
    </div>  
    				<!--ng-if="fd.resourceDataRecordSelected.length>0"-->
 		<button  ng-if="fd.localVars.isRecordSelected && fd.Parameters.DeleteChildren" type="button" ng-click="fd.localVars.deleteChildRecord()" class="btn btn-danger btn-xs" style="margin:12px"><i class="fa fa-times-circle mx-1"></i><span ng-bind="fd.ParametersLang.DeleteLabelBtn || 'Delete record'"></span></button>
		<div ng-if="::fd.PresentationType==0" ng-class="::fd.colLength[fd.ValueLength-1]">
          
         
            <div class="" ng-if="fd.localVars.datasetlistlinked && fd.localVars.gridDataRetrieved && fd.localVars.gridData.length>0">
                <div kt-smart-table
               		use-pagination="true"
               		allow-sort="true"
               		initial-page="1"
               		items-on-page="10"
               		row-selected-change="fd.rowSelectionChanged(item)"
               		parameters="fd.Parameters"
                    font-size="fd.Parameters.table.fontSize"
                    cell-padding="fd.Parameters.table.cellPadding"
                    column-defs="fd.localVars.columnDefs"
                  	kt-refresh-data="fd.getDatasetDataForSmartTable(tableState, pageNumber,pageSize)"> 
             	</div>

		</div>		 
<div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="::showSearchFilters">
		     
		     <a  id="search-filter-{{::fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
			     <i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
		     <div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{::fd.ItemId}}">
			
			<div class="btn-group-vertical" role="group" aria-label="Search filter">
			   <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(0)" ng-class="{'active':fd.Search.filter=='onlist'}">  <span class="fa fa-chevron-right"></span> {{::search[0].name}} </button>
			   <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(1)" ng-class="{'active':fd.Search.filter=='notonlist'}">  <span class=" fa fa-expand"></span> {{::search[1].name}}</button>
			 </div>
		     </div>
		     
		</div>
</div> <!-- form-group -->

