<div >
     
      <div>
        <div class="col-sm-6">
          <div class="text-center"><h5>Properties</h5></div>
          <hr>
    	             
            <label>Label length </label> <input  type="number" min="1" max="12"   ng-model="fd.labelLength"   class="form-control" />
             <label>Value length </label> <input  type="number" min="1" max="12"  ng-model="fd.valueLength"  class="form-control" />
            
            <label>Label </label> <input type="text" class="form-control" ng-model="fd.placeholder"  />
             <label>Error msg </label> <input type="text" class="form-control" ng-model="fd.errorMsg"  />
             <label>SearchText </label> <input type="text" class="form-control" ng-model="fd.searchText"  />
            
            <div class="checkbox">
              <label>
              <input type="checkbox" ng-model="fd.hasParentDataset"> Change selected dataset records
              </label>
             </div>
            
            <div class="checkbox">
              <label>
              <input type="checkbox" ng-model="fd.required"> Required
              </label>
             </div>
             
          
    </div>
     <div class="col-sm-6">
          <div class="text-center"><h5>Extended properties</h5></div>
          <hr>
          <div kt-field-extended-properties>
          </div>
    </div>
    
    </div>
  </div>  
  