<div class="row">
    <div class="col-sm-6">
        
          <span class="">&nbsp <h5>Select dataset</h5></span>
          <ui-select  ng-model="selectedDatasetParent"  on-select="onSelectDatasetParentCallback($item, $model)" ng-disabled="disabled" name="selectRelatedDataset" ng-required="true" reset-search-input="false" > 
          	
              <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                <span>{{$select.selected.name}} ({{$select.selected.id}})</span>
                <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
              </ui-select-match>
           
              <ui-select-choices class="ui-select-choices" repeat="dataset in (datasetList | filter: { name: $select.search }) track by dataset.id" refresh="refreshResults($select)" refresh-delay="0">
                 <span>{{dataset.name}} ({{dataset.id}})</span>
              </ui-select-choices>
            </ui-select>
           
         <span class="">&nbsp <h5>Choose dataset record (this record will be retrieved and shown on the form)</h5></span>
          
              <div class="btn-group input-group-sm" data-toggle="buttons">
                    
                    <label class="btn btn-light" ng-class="{'active': relatedPopulateType==1}" ng-click="setPopulateType(1)">
                      <input name="rPopulateType" class="" value="1" type="radio" data-ng-model="relatedPopulateType"> Fixed dataset
                    </label>
                          
                    <label class="btn btn-light" ng-class="{'active': relatedPopulateType==2}" ng-click="setPopulateType(2)">
                        <input name="rPopulateType" class="" value="2" type="radio"  data-ng-model="relatedPopulateType"> Dataset from current task
                    </label>
                    <label class="btn btn-light" ng-class="{'active': relatedPopulateType==3}" ng-click="setPopulateType(3)">
                        <input name="rPopulateType" class="" value="3" type="radio" data-ng-model="relatedPopulateType"> Dataset from previous task
                    </label>
              
              </div>         
              
              </div>
         
        </div>
    </div>
</div>


<div ng-if="relatedPopulateType==1" class="fixed">
    <div class=="col-sm-12"><h4>Selected dataset is used as a fixed source</h4></div>
</div>

<div ng-if="relatedPopulateType==2" class="current">
  <div class="col-sm-12">
    <h5>Selected dataset from this task are retrieved and shown on the form</h5>
    <span ng-if="formPriority=='e'"><b>First search for {{selectedResourceItem.name_confirmed}} dataset on <u>execute</u> form </b></span>
    <span ng-if="formPriority=='i'"><b>First search for {{selectedResourceItem.name_confirmed}} dataset on <u>start</u> form</b> </span>
    <button class="btn btn-primary" type="button" ng-click="changePriority()">Change priority</button>
    <div class="col-sm-6" ng-repeat="cti in currentTaskInitiateDatasets track by $index">
    
      <span><b>Task:</b> {{cti.task_name}} ({{cti.task_def_id}})</span>
      <span><b>Widget id:</b> {{cti.parentElementId}}</span>
      <span><b>Widget type:</b> {{cti.type}}</span>  
    
    </div>
     <div class="col-sm-6" ng-repeat="cte in currentTaskExecuteDatasets track by $index">
      
      <span><b>Task:</b> {{cte.task_name}} ({{cte.task_def_id}})</span>
      <span><b>Widget id:</b> {{cte.parentElementId}}</span>
      <span><b>Widget type:</b> {{cte.type}}</span>
    </div>
  </div>
</div>

<div ng-if="relatedPopulateType==3" class="previous">
     <h5>Selected datasets from previous tasks are retrieved and shown on the form</h5>
     <span ng-if="formPriority=='e'"><b>First search for {{selectedResourceItem.name_confirmed}} dataset on <u>execute</u> form </b></span>
     <span ng-if="formPriority=='i'"><b>First search for {{selectedResourceItem.name_confirmed}} dataset on <u>start</u> form</b> </span>
      <button class="btn btn-primary" type="button" ng-click="changePriority()">Change priority</button>
      <div class="col-sm-6" ng-repeat="pti in previousTaskInitiateDatasets track by $index">
    
      <span><b>Task:</b> {{pti.task_name}} ({{pti.task_def_id}})</span>
      <span><b>Widget id:</b> {{pti.parentElementId}}</span>
      <span><b>Widget type:</b> {{pti.type}}</span>  
    
    </div>
     <div class="col-sm-6" ng-repeat="pte in previousTaskExecuteDatasets track by $index">
      
      <span><b>Task:</b> {{pte.task_name}} ({{pte.task_def_id}})</span>
      <span><b>Widget id:</b> {{pte.parentElementId}}</span>
      <span><b>Widget type:</b> {{pte.type}}</span>
    </div>
</div>
<button class="btn btn-primary" type="button" ng-click="confirmRelated()">Confirm</button>