

<!--  input-array = "widget" -->
<div id="ktResourceId" class="row m-0 form-group dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-form="innerForm{{$index}}" 
    ng-class="{ 'text-danger' : (innerForm{{$index}}.$submitted || innerForm{{$index}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{$index}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'bg-gray-20 mr-0  border':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened() }">
   	
      
    <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
        
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
           
    </div>
    <div class="blue-dropdown-new" >
     
            <div class="element-properties-btns-new rounded"  ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                <span title="Label" class="label label-xs text-white mx-2 bold">{{fd.Label}}</span>
                <span title="Element type" class="label label-xs text-white mx-1 bold">{{fd.Name}}</span>
                <a class="btn btn-outline-primary btn-xs border-0 prop-btn element-drag-handle"  title="move" href><i class="element-drag-handle fa fa-grip-vertical"></i></a>
                <a   class="btn btn-outline-primary btn-xs border-0 prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>      
            </div>
           
           <div class="" aria-labelledby="mass-property-{{fd.ItemId}}"
                kt-mass-update-properties>
            </div>

    </div>
     
    <div class="{{fd.gridClassElement}} my-auto"> 
     
     <div kt-style-attribute fd="fd" style-type="'element'"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="!fd.Multiline && !fd.ReadOnly" style="{{fd.customStyleElement}}">
        <div class="" ng-hide="fd.Search.name=='Between'"  ng-if="!fd.ReadOnly">
      
            <input  type="number" min="1" tabindex="{{inputArray.tabIndex}}" ng-model="formData[0][fd.FieldName]" ng-change="refreshSearchValue()"
            ng-required="fd.Required" placeholder={{fd.SearchText}}  name="{{fd.Name}}{{fd.ItemId}}"  class="form-control"/>
          
            <div ng-if="showSearchFilterType" >
                <button type="button" class="btn btn-light ng-binding"  ng-click="applyNumFilters(0)">  <span class="{{search[0].icon}}"></span> {{search[0].name}} </button>
                <button type="button"  class="btn btn-light ng-binding"  ng-click="applyNumFilters(1)">  <span class="{{search[1].icon}}"></span> {{search[1].name}}</button>
                <button type="button"  class="btn btn-light ng-binding" ng-click="applyNumFilters(2)">  <span class="{{search[2].icon}}"></span> {{search[2].name}}</button>	   
                <button type="button" class="btn btn-light ng-binding" ng-click="applyNumFilters(3)">  <span class="{{search[3].icon}}"></span> {{search[3].name}}</button>	   	 
           </div>
           <div>
             <span ng-show="(innerForm{{$index}}.$submitted || innerForm{{$index}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{$index}}.{{fd.Name}}{{fd.ItemId}}.$invalid" class="text-danger small">{{fd.errorMsg}}</span>
           </div>
        </div>
     </div>
      <div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" style="{{fd.customStyleElement}}">
          <div title="{{formData[0][fd.FieldName]}}" ng-if="formParamsParent.formViewType!=2 || formParams.formViewType!=2" ng-class="{'form-control':fd.Parameters.BorderForReadOnly}" class="mb-1" >{{formData[0][fd.FieldName]}}</div>
          <div class="mb-1 form-control" ng-if="formParamsParent.formViewType==2 && formParams.formViewType==2"></div>
            
      </div>
    
    
	<div class="noprint" ng-if="!fd.ReadOnly && (showSearchFilters || !inputArray.Locked)" ng-show="fd.Search.name=='Between'"">
            <input  type="number" min="1" tabindex="{{inputArray.tabIndex}}" ng-model="fd.Search.between1" ng-disabled="fd.ReadOnly" ng-required="fd.Required" placeholder={{fd.SearchText}}  name="{{fd.Name}}"  class="form-control">
            <span class="noprint" ng-show="(innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}.$invalid" class="text-danger small">{{fd.ErrorMsg}}</span>
       
          <b class="noprint m-1"> And  </b> 
            <input  type="number" min="1" tabindex="{{inputArray.tabIndex}}" ng-model="fd.Search.between2" ng-disabled="fd.ReadOnly" ng-required="fd.Required"
             placeholder={{fd.SearchText}}  name="{{fd.Name}}"  class="form-control noprint"/>
            
            
            <span class="noprint" ng-show="(innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}.$invalid" class="text-danger small">{{fd.ErrorMsg}}</span>
	</div>
  
  
     <!--  BLUE DROPDOWN -->
	<!--   <div class="dropdown element-properties-btns bg-primary rounded shadow" >

        <div ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
            <span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
            <a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href><i class="element-drag-handle fa fa-grip-vertical"></i></a>
            
            <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="showProperties()">
                <i class="fa fa-cog"></i> 
            </a>		
            
            <a ng-if=" Object.keys(ss.formData[0]).length &&  (showSearchFilters || formParams.formViewType==1)" id="search-filter-{{fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
                <i class="fa fa-filter" title="Filter : {{fd.Search.name}}"></i></a>
                
            <div class="dropdown-menu shadow p- dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.ItemId}}">
             <div class="btn-group-vertical" role="group" aria-label="Search filter">
                <button type="button"  class="btn btm-sm btn-light"  ng-click="applyFilters(0)" ng-class="{'active':fd.Search.filter=='gt'}">  <span class="{{search[0].icon}}"></span> {{search[0].name}} </button>
                <button type="button"  class="btn btm-sm btn-light"  ng-click="applyFilters(1)" ng-class="{'active':fd.Search.filter=='lt'}">  <span class="{{search[1].icon}}"></span> {{search[1].name}}</button>
                <button type="button"  class="btn btm-sm btn-light" ng-click="applyFilters(2)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="{{search[2].icon}}"></span> {{search[2].name}}</button>	   
                <button type="button"  class="btn btm-sm btn-light" ng-click="applyFilters(3)" ng-class="{'active':fd.Search.filter=='beetwen'}">  <span class="{{search[3].icon}}"></span> {{search[3].name}}</button>	   
              </div>
            </div>
        </div>
        
        
        <div  ng-if="$root.selectedMassUpdate" class="dropdown-mass-property-change w-100 bg-white shadow p-1 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="mass-property-{{fd.ItemId}}">
           <div class="btn-group-vertical" role="group" aria-label="Search filter">
           
            
                  <div ng-if="$root.selectedMassUpdate.value=='required'" class="custom-control custom-checkbox my-1">							
                        <input type="checkbox" class="custom-control-input" id="cbRequired{{fd.PresentationId}}" ng-model="fd.Required"> 
                        <label class="custom-control-label label-xs" for="cbRequired{{fd.PresentationId}}">Required</label>			 
                    </div> 
                    
                    <div ng-if="$root.selectedMassUpdate.value=='readOnly'" class="custom-control custom-checkbox my-1">							
                        <input type="checkbox" class="custom-control-input" id="cbReadOnly{{fd.PresentationId}}" ng-model="fd.ReadOnly"> 
                        <label class="custom-control-label label-xs" for="cbReadOnly{{fd.PresentationId}}">Read Only</label>			 
                    </div> 
                     
                    
            </div>
         </div>
        
	  </div>-->
      
              
        <!--  BLUE DROPDOWN   style="visibility:visible !important" -->
	    
      
      
      
      
	 <div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="(formParams.formViewType==2 || formParamsParent.formViewType==2) && showSearchFilters">
		
		<a  id="search-filter-{{fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
			<i class="fa fa-filter mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
		<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.ItemId}}">
		 
		 <div class="btn-group-vertical" role="group" aria-label="Search filter">
		    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyFilters(0)" ng-class="{'active':fd.Search.filter=='gt'}">  <span class="{{search[0].icon}}"></span> {{search[0].name}} </button>
		    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyFilters(1)" ng-class="{'active':fd.Search.filter=='between'}">  <span class="{{search[1].icon}}"></span> {{search[1].name}}</button>
		    <button type="button"  class="btn btm-sm btn-light" ng-click="applyFilters(2)" ng-class="{'active':fd.Search.filter=='lt'}">  <span class="{{search[2].icon}}"></span> {{search[2].name}}</button>	   
		    <button type="button"  class="btn btm-sm btn-light" ng-click="applyFilters(3)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="{{search[3].icon}}"></span> {{search[3].name}}</button>	   
		  </div>
		</div>
		
	  </div> 
      
    </div>
	 
</div>
