<div>
      
   <div kt-property-header></div>
      
       <!-- BASIC PROPERTIES --> 
    <div >
        <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
                <span class="col p-0">
                BASIC  </span>
              <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
              <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
        
        <div id="mainPropertyPanel" class="mb-4 collapse show" >
        
             <label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
             <label class="label-xs text-muted">Search Text </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
        
        
        </div>
  </div>
		 
      
	<div kt-field-extended-properties>
    </div>
   
</div>



 