<div class="widget-head" ng-class="{'widget-active m-2 shadow':fd.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':fd.datasetMapperType>0,'bg-light':fd.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0">
          <i class="fa fa-code mx-2"></i><label >Read smart contract ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
       <a href title="sort" ng-class="{'widget-prop':fd.datasetMapperType==0 || fd.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="fd.showProperties(1)" ng-class="{'btn-warning':fd.selectedResourceItem.name_confirmed!='' && fd.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':fd.selectedResourceItem.name_confirmed=='' || fd.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="fd.selectedResourceItem.name_confirmed!='' && fd.selectedResourceItem.name_confirmed!=undefined">{{fd.selectedResourceItem.name_confirmed}}</span>
				<span ng-if="fd.selectedResourceItem.name_confirmed=='' || fd.selectedResourceItem.name_confirmed==undefined">Select smart contract</span>
			  </button>
			</div>
        <div class="col-auto p-0" ng-if="fd.selectedResourceItem.name_confirmed!='' && fd.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.datasetMapperType==0 || fd.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
						<a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="fd.showForm=!fd.showForm"><i ng-class="{'fas fa-eye-slash':!fd.showForm,'fas fa-eye':fd.showForm}"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
		
                    <div kt-task-dropdown2> </div>
			
			
		</div>
	 </div>
	<div class="p-3" ng-if="fd.datasetMapperType>0"> 
        <div class="mb-2">
           <div kt-form-element-properties fd="fd" local-vars="fd"></div> 
		</div>		
	</div>
	<div class="p-3" ><!--ng-if="fd.datasetMapperType==2"-->	
		<div ng-if="!fd.formLoaded" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>

		<div ng-if="fd.formLoaded">
		  
				<div kt-grid grid-type="::fd.gridsterType" resource-form-loaded="fd.formLoaded" parent-resource-def-id="::fd.ParentDatasetDefId" resource-record-id="::fd.resourceRecordId"
						  resource-definition="::resourceDefinition" form-params="::fd.formParams" form-params-parent="::formParams" form-data="fd.formData" parent="::fd.dashboard.widgets" all-columns="::fd.dashboard.widgets" class="ktGrid">
				</div>
				<button ng-if="!fd.Parameters.AutoLoad" type="button" ng-click="fd.readContract()" class="btn btn-sm btn-outline-primary my-2">
					{{fd.Label}}</button>
				<button ng-if="fd.wItemValue.length==0" type="button" ng-click="fd.getFormResourceOriginal(fd.Related)" class="btn btn-sm btn-outline-primary my-2">
					Reload original form</button>
		</div>
					

	</div>
</div> 

