<div>
      <form  ng-submit="saveResourceDef(form)" id="editResourceForm" name="form" class="form-horizontal" role="form" novalidate>
        <div class="card-header col p-3">
                    <div class="card-header-actions d-flex mb-4">
								
								<span class="tag mt-1">{{resource.ResourceType.ResourceName}} properties</span>
                                <span ng-if="editResource" class="badge badge-info ml-2 my-auto text-white">Editing</span>
                                <span ng-if="false" class="tag mt-1 ml-2">{{somethingComputed}}</span>
                    </div>

      
				<div class="col p-0">
                             
                               <span class="h5 mt-1 mr-2">  
                                   <b>{{resource.Name}}</b> 
                               </span>
										 <span  ng-if="(resource.id != null || resource.id > 0) && editResource" class="h5 mt-1 ml-2">({{resource.id}})</span>

                               <button type="button" ng-if="!editResource" title="Edit details" role="button" class="btn btn-xs btn-link " ng-click="EditResourceFn(true)">
                                      Edit                                                                                                
                               </button>

				</div>
						
        </div>


        <div ng-if="editResource" class="row">


				
                <div class="col-lg-12">                          

                 
					<div class="form-group" :class="{ 'has-error' : false }">
                        <label class="col-24" for="resourceName">Name</label>
						<div class="col-24">
							<input type="text" ng-model="resource.Name" class="form-control" id="Name" name="resourceName" placeholder="Resource name" />
							<p ng-show="false" class="help-block">Enter resource name</p>
                        </div>
					</div>
                    
                    <div class="form-group" :class="{ 'has-error' : false }">
                        <label class="col-24" for="resourceSubject">Subject</label>
						<div class="col-24">
							<input type="text" ng-model="resource.Subject" class="form-control" id="Subject" name="resourceSubject" placeholder="Resource subject" />
							<p ng-show="false" class="help-block">Enter resource subject</p>
                        </div>
					</div>            
                              
                  <div class="form-group" :class="{ 'has-error' : false }">
                        <label class="col-24" for="Description">Description</label>
                        <div class="col-24">
							<textarea ng-model="resource.Description" name="Description" class="form-control"></textarea>
                        	<p ng-show="false" class="help-block">Enter resource description(min 20 chars).</p>
			
						</div>
			</div>

			<div class="col-lg-24">
							
				<label class="label-xs" for="cbIsBlockchain">
					<input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbIsBlockchain" id="cbIsBlockchain" ng-model="resource.IsBlockchain"> 
					Immutable (secured on the blockchain)
				</label>
							 
						
			</div>
			
                </div>
				<div class="col-lg-12">
                
                    <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid }">
	                    <label class="col-lg-24" for="ddlResourceStatus">{{resource.ResourceName}} status</label>
	                    <div class="col-lg-24">
	                       
	                       <kt-dropdown-standard ng-if="statusesDownloaded" 
	           					ng-model="resource.Status" 
	           					selected-items="resource.Status" 
	           					dropdown-items="resourceStatusList"
	           					is-multiple="false" name="resourceStatus" required="true"  dropdown-id="'resourceStatus'" parent-form-id="'form'" search-text="'Search or select status...'">
	       					</kt-dropdown-standard>
	                        <p ng-show="(form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid" class="help-block">Select resource status</p>
	                    </div>
                	</div>
						
				
     
                </div>
				<div class="col-lg-24 p-4">
				
						 <!-- admin users & groups -->
				
				</div>
					
				<div ng-if="editResource" class="col-24 mx-3">
							<div>
								<span ng-if="resource.CreatedBy.first_name" class="small">Created by {{resource.CreatedBy.first_name}} {{resource.CreatedBy.last_name}}, </span><span class="small" ng-bind="resource.CreatedDateTime | date:'dd.MM.yyyy'"></span>
							</div>
							<div>
								<span ng-if="resource.ChangedBy.first_name" class="small">Last change by {{resource.ChangedBy.first_name}} {{resource.ChangedBy.last_name}}, </span><span class="small" ng-bind="resource.ChangedDateTime | date:'dd.MM.yyyy'"></span>
							</div>
				</div>
                
                
                <div  class="col-lg-24 m-3">
                     
                            <button type="submit" id="saveResourceBtn" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save mr-1"></span>Save properties</button>

                            <button type="button" role="button" ng-click="EditResourceFn(false)"  class="btn btn-xs btn-link text-muted ml-auto">Cancel</button>

                </div>
                   
						
        
		  </div>
      </form>
</div>