<div>

 <!--<div class="expand-property-panel tag" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
						<span class="col p-0">Main rich textbox properties </span>
                  	<i class="fa fa-cog fa-lg"></i>
                  
	</div>-->
    
        <div class="mt-2 text-center">
                 <label class="label-xs text-muted"><b>ID:</b> {{fd.PresentationId || 'none'}}</label>
                 <label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
         </div>
            
    
      <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
	</div>
    
    
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
		
		
    
		<label class="label-xs text-muted">Max length </label> <input type="text" class="form-control form-control-xs" ng-model="fd.MaxLength"  />	 
		<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
		<label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
		<label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
		
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbRequired{{fd.PresentationId}}" ng-model="fd.Required"> 
					<label class="custom-control-label label-xs" for="cbRequired{{fd.PresentationId}}">Required</label>
							 
		</div>
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbMultiline{{fd.PresentationId}}" ng-model="fd.Multiline"> 
					<label class="custom-control-label label-xs" for="cbMultiline{{fd.PresentationId}}">Multiple lines</label>
							 
		</div>
				<div class="">
													
					<label  class="kt-checkbox-label" for="cbSimpleTextArea{{fd.PresentationId}}">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbSimpleTextArea{{fd.PresentationId}}" ng-model="fd.Parameters.UseSimpleTextarea" ng-checked="fd.Parameters.UseSimpleTextarea" />  
						Use simple text area
					</label>
				
																						
					</div>
	 </div>
          <div kt-field-extended-properties>
          </div>
 
</div>
   
	
	 

