<ng-form name ="innerForm{{::fd.ItemId}}" class="form-group"> 
<div class="row m-0 mt-1 dataset-item" ng-if="fd.ShowField" ng-class="{ 'text-danger' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid}">
	
	
	<div kt-style-attribute fd="fd" style-type="'label'" ng-hide="::fd.Parameters.HideLabel" ng-class="{'{{::colLength[fd.LabelLength-1]}}':!fd.Parameters.CustomSize,'custom-el-layout-style col-auto':fd.Parameters.CustomSize,'col-auto': fd.Parameters.CustomSize}"
		 style="text-align:{{::fd.Parameters.LabelAlign}} !important;width:{{::fd.Parameters.LabelStyle.Width}}">
	
			     <label  class="marginL5 form-control-label no-border align-middle" for="{{::fd.Name}}"> {{::fd.Label}}</label>
			    
	</div>
	
	<div ng-class="{'{{::colLength[fd.ValueLength-1]}}':!fd.Parameters.CustomSize,'custom-el-layout-style col-auto':fd.Parameters.CustomSize,'col-auto': fd.Parameters.CustomSize}" >
		<div kt-style-attribute fd="fd" style-type="'element'"  ng-if="!fd.ReadOnly && !fd.Parameters.UseSimpleTextarea" style="width:{{fd.Parameters.ElementStyle.Width}}">
					
						
							<div style="min-height: 50px !important;" trumbowyg-ng ng-blur="on_blur_action()" ng-model="formData[0][fd.FieldName]" placeholder="{{::fd.SearchText}}" editor-config="{autogrow: true, btns: [ 'foreColor', 'backColor','bold','italic','underline','strikethrough','|','removeformat','viewHTML',]}">
							
							</div>
				   
					
					<p ng-show="(innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid" class="text-danger small">{{::fd.ErrorMsg}}</p>
		</div>
		<div kt-style-attribute fd="fd" style-type="'element'"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="!fd.ReadOnly && fd.Parameters.UseSimpleTextarea" style="width:{{fd.Parameters.ElementStyle.Width}}">
		  <div class="">
		    <textarea tabindex="{{::inputArray.TabIndex}}" rows="{{::fd.Parameters.NumberRows}}" ng-model="formData[0][fd.FieldName]" ng-model-options="{ debounce: 250 }"
		     ng-required="::fd.Required" placeholder={{::fd.SearchText}}  name="{{::fd.Name}}{{::fd.ItemId}}"
		     ng-class="{ 'text-danger is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid }"  class="form-control">
		    </textarea>
		    <p ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{::fd.ErrorMsg}}</p> 
		  </div>  
		</div>
				
				 
			<div kt-style-attribute fd="fd" style-type="'element'" ng-if="::fd.ReadOnly" style="width:{{::fd.Parameters.ElementStyle.Width}}">
	
				<div style="min-height: 35px;" class="border p-1 rounded" ng-bind-html="fd.readOnlyVal"></div>
				
			</div>
		
	</div>
 
</div>

</ng-form>
