<ng-form name ="innerForm{{fd.ItemId}}" class="form-group"> 
<div class="row m-0 mt-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'bg-gray-20 mr-0 p-0 border':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened() }">
	
	
	<div kt-style-attribute fd="fd" style-type="'label'" ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
	
			     <label  kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}" class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}"> {{fd.Label}}</label>
			    
	</div>
	
	<div ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" class="{{fd.gridClassElement}}" kt-style-attribute fd="fd" style-type="'element'" style="min-height: 50px !important;{{fd.customStyleElement}}">
		<div ng-if="!fd.ReadOnly">
					
						
							<div trumbowyg-ng ng-blur="on_blur_action()" ng-model="formData[0][fd.FieldName]" placeholder="Enter text" editor-config="{autogrow: true, btns: [ 'foreColor', 'backColor','bold','italic','underline','strikethrough','|','removeformat','viewHTML',]}">
							
							</div>
				   
					
					<p ng-show="(innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid" class="text-danger small">{{fd.ErrorMsg}}</p>
		</div>
				
				 
			<div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly" style="{{fd.customStyleElement}}">
	
				<div style="min-height: 35px;" class="border p-1 rounded" ng-bind-html="fd.readOnlyVal"></div>
				
			</div>
			 
		<div class="dropdown element-properties-btns bg-primary rounded shadow mt-4" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
			<span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
			<a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href><i class="element-drag-handle fa fa-grip-vertical"></i></a>
			<a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>		
			<!--
			<a ng-if="showSearchFilters || formParams.formViewType==1" id="search-filter-{{fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
				<i class="fa fa-filter" data-toggle="tooltip" data-placement="top" title="Filter : {{fd.Search.name}}"></i></a>
			<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.ItemId}}">
			 
			 <div class="btn-group-vertical" role="group" aria-label="Search filter">
				<button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(0)" ng-class="{'active':fd.Search==search[0]}">  <span class="fa fa-chevron-right"></span> {{search[0].name}} </button>
				<button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(1)" ng-class="{'active':fd.Search==search[1]}">  <span class=" fa fa-expand"></span> {{search[1].name}}</button>
				<button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(2)" ng-class="{'active':fd.Search==search[2]}">  <span class="fa fa-chevron-left"></span> {{search[2].name}}</button>	   
				<button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(3)" ng-class="{'active':fd.Search==search[3]}">  <span class="fa fa-bars"></span> {{search[3].name}}</button>	   
			  </div>
			</div>-->
			
		</div>
	</div>
 
</div>

</ng-form>
