<div class="p-1">

        
        <div class="text-center">
			<label class="label-xs text-muted"><b> ID:</b> {{fd.PresentationId || 'none'}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
		</div>
        
        
       <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
	  </div>
    
    
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
		
		
		<div  class="row m-0 mt-1">
			
			<div class="col p-0">
				<div class="mb-1 small bold">Align separator</div>
				<div class="btn-group" role="group" aria-label="Label align">
					<button type="button" ng-click="fd.Parameters.ItemAlign='left'" ng-class="{'active':fd.Parameters.ItemAlign=='left'}" class="btn btn-sm btn-outline-primary">
						<i class="fas fa-align-left"></i>
					</button>
					<button type="button" ng-click="fd.Parameters.ItemAlign='center'" ng-class="{'active':fd.Parameters.ItemAlign=='center'}" class="btn btn-sm btn-outline-primary">
						<i class="fas fa-align-center"></i>
					</button>
					<button type="button" ng-click="fd.Parameters.ItemAlign='right'" ng-class="{'active':fd.Parameters.ItemAlign=='right'}" class="btn btn-sm btn-outline-primary">
						<i class="fas fa-align-right"></i>
					</button>
				</div>			   
		    </div> 
		</div>
		 

		<label class="label-xs text-muted">Element width {{fd.Parameters.ElementWidth}}</label> 
                   <input id="elementWidth{{fd.PresentationId}}" type="range" min="1" max="24"   ng-model="fd.Parameters.ElementWidth"   class="form-control form-control-xs" />


		<label class="label-xs text-muted">Separator length {{fd.LabelLength}}</label> <input  type="range" min="1" max="24"   ng-model="fd.LabelLength" class="form-control form-control-xs" />
		
		 <div class="mt-1 custom-control custom-checkbox">
                    
			<input type="checkbox" class="custom-control-input" id="cbShowField" ng-model="fd.ShowField"> 
			<label class="custom-control-label label-xs" for="cbShowField">Show separator</label>
                     
		</div>
		 <div kt-delete-element></div>
			 
	 </div>
	 
</div>
