<div class="p-1">

		<div class="expand-property-panel tag" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">Main textbox properties </span>
                  
                  	<i class="fa fa-cog fa-lg"></i>
                  
		</div>
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
		<div>
			<label class="label-xs text-muted"><b>ID:</b> {{fd.ItemId}}</label>
			<label class="label-xs text-muted"><b>Presentation ID:</b> {{fd.PresentationId}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
		</div>
		
		<label class="label-xs text-muted">Max length </label> <input type="text" class="form-control form-control-xs" ng-model="fd.MaxLength"  />	 
		<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
		<label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
		<label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
		<label class="label-xs text-muted">Regex </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.Regex"  />
		
		<div class="custom-control custom-checkbox">
							
					<input type="checkbox" class="custom-control-input" id="cbMultiline" ng-model="fd.Multiline"> 
					<label class="custom-control-label label-xs" for="cbMultiline">Multiple lines</label>
							 
		</div>
		<div ng-if="fd.Multiline">
			<label class="label-xs text-muted">Number of rows </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.NumberRows"  />
		</div>

	 </div>
          <div kt-field-extended-properties>
          </div>
 
</div>
   
	
	 

