<div class="row form-group m-0 mt-1 dataset-item" ng-class="{ 'has-error' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}.$invalid,'bg-gray-20 mr-0 p-1 border':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened(),'justify-content-center':fd.Parameters.ItemAlign=='center','justify-content-end':fd.Parameters.ItemAlign=='right'}">
  
	 <div class="{{colLength[fd.LabelLength-1]}}" ng-class="{'border':formParams.formViewType==1}" style="text-align:{{fd.Parameters.ItemAlign}} !important">
           <hr>
           
           
           <div class="element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
           	 <span class="label label-xs text-white mx-1 bold">{{fd.Name}}</span>
              <a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href><i class=" fa fa-grip-vertical"></i></a>
               <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>		
            </div>

	</div>
	 
	 
 	
</div> 
	