<!--  input-array = "widget" -->
<ng-form class="" name ="innerForm{{fd.ItemId}}" class="form-group " ng-class="{ 'is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}" novalidate> 
<div class="row m-0 mt-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-class="{'bg-gray-20 m-1 p-1 border shadow':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}">

      <div kt-style-attribute fd="fd" ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style-type="'label'" class="{{colLength[fd.LabelLength-1]}}" ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" style="text-align:{{fd.Parameters.LabelAlign}} !important;width:{{fd.Parameters.LabelStyle.Width}}">
		
           <label  class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid}">  {{fd.Label}} </label>
           
      </div>
	
	<div class="{{colLength[fd.ValueLength-1]}} my-auto">
		<div kt-style-attribute fd="fd" style-type="'element'"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="!fd.Multiline && !fd.ReadOnly" style="width:{{fd.Parameters.ElementStyle.Width}}">
		  <div class="">
		    <input  type="text" tabindex="{{inputArray.TabIndex}}" ng-pattern="fd.Parameters.Regex" ng-model="formData[0][fd.FieldName]" ng-change="localVars.refreshSearchValue()"  ng-required="fd.Required" placeholder={{fd.SearchText}}  name="{{fd.Name}}{{fd.ItemId}}" class="form-control"
		     ng-model-options="{ debounce: 250 }" ng-blur="on_blur_action()" ng-class="{ 'text-danger is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid  && formParams.formViewType!=1}"/>
		    <p ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}:{{fd.Parameters}}</p>
			
		  </div>
		 
		</div>
		<div kt-style-attribute fd="fd" style-type="'element'"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="fd.Multiline && !fd.ReadOnly" style="width:{{fd.Parameters.ElementStyle.Width}}">
		  <div class="">
		    <textarea tabindex="{{inputArray.TabIndex}}" rows="{{fd.Parameters.NumberRows}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.ShowSearchForm?refreshSearchValue():fd.Search=null"
		     ng-required="fd.Required" placeholder={{fd.SearchText}}  name="{{fd.Name}}{{fd.ItemId}}"
		     ng-model-options="{ debounce: 250 }" ng-blur="on_blur_action()" ng-class="{ 'text-danger is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid  && formParams.formViewType!=1}"  class="form-control">
		    </textarea>
		    <p ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}:{{fd.Parameters}}</p> 
		  </div>  
		</div>
		<div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" style="width:{{fd.Parameters.ElementStyle.Width}}">
		  <div class="mb-0 border p-1 rounded" style="min-height: 35px;" >{{formData[0][fd.FieldName]}}</div>
		    
		</div>
	    
		 <div class="dropdown element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
			<span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
			<a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort" href><i class="element-drag-handle fa fa-grip-vertical"></i></a>
			<a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>		
			
			<a ng-if="showSearchFilters || formParams.formViewType==1" id="search-filter-{{fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
				<i class="fa fa-filter" title="Filter : {{fd.Search.name}}"></i></a>
			<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.ItemId}}">
			 
			 <div class="btn-group-vertical" role="group" aria-label="Search filter">
			    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(0)" ng-class="{'active':fd.Search.filter=='begins'}">  <span class="fa fa-chevron-right"></span> {{search[0].name}} </button>
			    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(1)" ng-class="{'active':fd.Search.filter=='contains'}">  <span class=" fa fa-expand"></span> {{search[1].name}}</button>
			    <button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(2)" ng-class="{'active':fd.Search.filter=='ends'}">  <span class="fa fa-chevron-left"></span> {{search[2].name}}</button>	   
			    <button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(3)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="fa fa-bars"></span> {{search[3].name}}</button>	   
			  </div>
			</div>
	</div>

	
		<div class="dropleft element-properties-btns bg-primary rounded shadow" ng-if="(formParams.formViewType==2 || formParamsParent.formViewType==2) && showSearchFilters">
		     
		     <a  id="search-filter-{{fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
			     <i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
		     <div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.ItemId}}">
			
			<div class="btn-group-vertical" role="group" aria-label="Search filter">
			   <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(0)" ng-class="{'active':fd.Search.filter=='begins'}">  <span class="fa fa-chevron-right"></span> {{search[0].name}} </button>
			   <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(1)" ng-class="{'active':fd.Search.filter=='contains'}">  <span class=" fa fa-expand"></span> {{search[1].name}}</button>
			   <button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(2)" ng-class="{'active':fd.Search.filter=='ends'}">  <span class="fa fa-chevron-left"></span> {{search[2].name}}</button>	   
			   <button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(3)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="fa fa-bars"></span> {{search[3].name}}</button>	   
			 </div>
		     </div>
		     
		</div>
	</div>
</div>

     
    
         
     

</ng-form>
