<div class="form-group" ng-form="innerForm">
	   	   
	<!--
    <kt-dropdown-standard ng-if="usersDownloaded" ng-model="selected.users" selected-items="selected.users" size="size" on-select-fn="userSelected(item,model)" is-multiple="true" name="user{{selectId}}" ng-required="false" dropdown-items="userList" dropdown-id="'user'+selectId" parent-form-id="'user'+selectId" search-text="'Select user'"></kt-dropdown-standard>
	-->
	
                
    <kt-dropdown-multiple  
        ng-model="selected.users" 
        selected-items="selected.users" name="users{{selectId}}" required="false" 
        dropdown-items="userList" 
        dropdown-id="'user'+selectId" 
        parent-form-id="'user'+selectId"  
        search-text="'Search or select users...'">
    </kt-dropdown-multiple>
                                          
                              
 </div>   
 