<div class="form-group" ng-form="innerForm">
	   	   
	
	<!--
	<kt-dropdown-standard ng-if="groupsDownloaded" ng-model="selected.groups" selected-items="selected.groups" size="size" on-select-fn="groupSelected(item,model)" is-multiple="true" name="group{{selectId}}" ng-required="false" 
    dropdown-items="groupList" dropdown-id="'group'+selectId" parent-form-id="'group'+selectId" search-text="'Select group'"></kt-dropdown-standard>-->
	
  <div ng-if="groupsDownloaded">   
   
    <kt-dropdown-multiple  
        ng-model="selected.groups" 
        selected-items="selected.groups" name="group{{selectId}}" required="false" 
        dropdown-items="groupList" 
        dropdown-id="'group'+selectId" 
        parent-form-id="'group'+selectId"  
        search-text="'Search or select groups...'">
    </kt-dropdown-multiple>    
    
  </div> 
 </div>   
 