<div class="row form-group m-0 mb-1" ng-form="innerForm" ng-class="{ 'text-danger is-invalid was-validated' : (innerForm.$submitted || innerForm.user.$touched) && innerForm.user.$invalid }">
   <div class="col-lg-24 p-0">
   
       <kt-dropdown-multiple ng-if="usersDownloaded" 
               ng-model="selectedUsers" 
               selected-items="selectedUsers" 
               name="user" 
               ng-required="false" 
               dropdown-items="userList"               
               dropdown-id="'user'" 
               parent-form-id="'innerForm'" 
               search-text="'Search or select user...'">
       </kt-dropdown-multiple>
       
	   <p ng-show="(innerForm.$submitted || innerForm.user.$touched) && innerForm.user.$invalid" ng-class="{'d-block invalid-feedback':(innerForm.$submitted || innerForm.user.$touched) && innerForm.user.$invalid}">Select user</p>
	
    </div>
 </div>   
 