<div class="row form-group m-0 mb-1" ng-form="innerForm" ng-class="{ 'text-danger is-invalid was-validated' : (innerForm.$submitted || innerForm.group.$touched) && innerForm.group.$invalid }">	
	<div class="col-lg-24 p-0">
    
       <kt-dropdown-multiple ng-if="groupsDownloaded" 
               ng-model="selectedGroups" 
               selected-items="selectedGroups" 
               name="groups" 
               ng-required="false" 
               dropdown-items="groupList" 
               dropdown-id="'group'"
               parent-form-id="'innerForm'" 
               search-text="'Search or select group...'">     
        </kt-dropdown-multiple>
        
        <p ng-show="(innerForm.$submitted || innerForm.group.$touched) && innerForm.group.$invalid" ng-class="{'d-block invalid-feedback':(innerForm.$submitted || innerForm.group.$touched) && innerForm.group.$invalid}">Select group</p>
	
    </div>	 	   
  
 </div>   
 