<div ng-form="innerForm" class="row m-0 mb-1" ng-class="{ 'text-danger' : (innerForm.$submitted || innerForm.{{inputParameters.name}}.$touched) && innerForm.{{inputParameters.name}}.$invalid }">
 
    <div ng-if="!inputParameters.hideLabel" ng-class="{ 'pl-0' : inputParameters.paddingLeft }" class="{{inputParameters.columnSizeLabel}} my-auto">
      <label ng-class="{ 'pl-0' : inputParameters.paddingLeft }" class="{{inputParameters.labelTextSize}}" for="{{inputParameters.name}}">{{inputParameters.label}}</label>
    </div>
      <div ng-class="{ 'pl-0': inputParameters.paddingLeft }" class="p-0 {{inputParameters.dropdownSize}}">
            
           <input type="hidden" name="selectedItemHidden" ng-model="selectedItem" ng-required="requiredField"/> <!--MIGOR REUQIRED TEST TODO-->
      
          <ui-select ng-model="selectedItem" sizexs="{{inputParameters.sizeXs}}" ng-disabled="disabled" on-select="onSelectFn({item:$item,model:$model})" name="{{inputParameters.name}}" ng-required="{{inputParameters.required}}" reset-search-input="false" > 
              <ui-select-match allow-clear="true" class="ui-select-match {{inputParameters.labelTextSize}}" placeholder="{{inputParameters.placeholder}}" >
               
                    <span class="p-0">{{$select.selected.name}} ({{$select.selected.id}})</span>
                <!--
                <a class="col-auto btn btn-link p-0 my-auto" ng-class="{'btn-xs':inputParameters.sizeXs,'btn-sm':!inputParameters.sizeXs || inputParameters.sizeXs==undefined}" ng-click="clear($event, $select)">
                
                    <i class="fa fa-times"></i>
                </a>
             -->
                
                </ui-select-match>
               
               <ui-select-choices class="ui-select-choices" repeat="item in (inputArray| filter: { name: $select.search}) track by item.id" refresh="refreshFn({filter:$select.search})">
          
              <span>{{item.name}} ({{item.id}})</span>
              </ui-select-choices>
          </ui-select>
           <span ng-show="(innerForm.$submitted || innerForm.{{inputParameters.name}}.$touched) && innerForm.{{inputParameters.name}}.$invalid" class="text-danger small">{{inputParameters.errorMsg}}</span>
      </div>
     
 </div>