<div style="margin:0;padding:0">
      <ui-select ng-model="selectedUserModel" ng-disabled="disabled"  on-select="populateUser($item, $model)" class="input-sm"  ng-required="true" reset-search-input="false" > 
            <ui-select-match class="ui-select-match" placeholder="{{fd.searchText}}">
              <span>{{$select.selected.username}}-{{$select.selected.first_name}} {{$select.selected.last_name}}
                <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
              </span>
            </ui-select-match>
            <ui-select-choices class="ui-select-choices" repeat="user in (userList | filter: { name: $select.search }) track by user.id" refresh="refreshResults($select)" refresh-delay="0">
              <span>{{ user.name }}</span>
            </ui-select-choices>
        </ui-select>
</div>