<div ktSmartTable>


    <button class="ml-4 mt-2 btn btn-primary btn-sm" ng-if="parameters.printable" ng-click="export2excel()">Export za print
    </button>


    <div ng-if="parameters.ShowTableFeatures || parameters.BuildMode" id="tableToolbox" class=" text-right">
       
         <!-- <button type="button" class="btn btn-outline-dark border-0 "  ng-click="printTable()">
                <span class="fa fa-print"></span>
          </button>-->
             
          <button ng-if="parameters.BuildMode" type="button" class=" btn btn-outline-dark border-0 "  ng-click="toggleTableConfigMenu()">
                  <span class="fa fa-plus"></span>
          </button>
                        
        <!--   <button type="button" class="btn btn-outline-dark border-0"  ng-click="exportTable()">
                      <span class="fa fa-save"></span>
           </button>-->
           
            <button ng-hide="!parameters.BuildMode" type="button" class="btn btn-outline-dark border-0"  ng-click="toggleSortMenu()">
                        <span class="fas fa-sort-amount-up"></span>
           </button>
           
    </div>
       
       
           <!------------------------------------------------------------  TABLE when NOT CLIENT ! ----------------------------------------------------->
    
    <div idd="tblcontainer" style="border:1px solid #D4D6DB; border-radius: 0.25rem; " class="table-katalyo-wrapper">
	  <table id="NOT_CLIENT_SIDE" style="overflow:auto;font-size: {{fontSize}} !important;color:#26304c"  ng-if="!clientSide" st-table="displayTableData" st-items-by-page="stItemsByPage" st-pipe="refreshData"  class="table-katalyo">
		<thead>
            <tr style="background-color: #EAEBEE">
            
                <th  ng-if="::allowSort && (tc.visible || tc.visible==undefined) && (($index!=1 && showActionButtons) || !showActionButtons)" 
                       ng-repeat="tc in columnDefs track by tc.name"   style="padding: {{cellPadding}} !important;"
                        lr-drag-src="headers" lr-drop-target="headers"   st-sort="{{tc.name}}"  > 
 
                    <span >{{::tc.displayName}}</span>
                </th>
                
                <th  ng-click="flipSort(tc)" ng-repeat="tc in columnDefs track by tc.name"  style="width: {{tc.width}}; padding: {{cellPadding}} !important"
                    ng-if="!allowSort && (tc.visible || tc.visible==undefined) && (($index!=1 && showActionButtons) || !showActionButtons)" 
                     lr-drag-src="headers" lr-drop-target="headers"   st-sort="dataSortFun.lista"     >

                    <div class="d-flex {{tc.style}}" >
                        <div class="mt-1 ml-1 d-flex flex-column justify-content-center">
                        <!--     <span ng-show="tc.sort=='descending'" class="sortasc fas fa-sort-up " >  </span>
                            <span ng-show="tc.sort=='ascending'" class="sortdesc fas fa-sort-down" >  </span>-->
                           <span ng-show="tc.sort=='descending'" class="mr-1 fas fa-sort-up " >  </span>
                            <span ng-show="tc.sort=='ascending'" class="mr-1 fas fa-sort-down" >  </span>
                        </div>
                        <span > {{::tc.displayName}}</span>

                       <input ng-show="displayTableData == undefined" type="checkbox" class="mt-1 ml-2" id="cbHidden" ng-model="localVars.showMenu" ng-click=" $event.stopPropagation()" > 
                    
                    </div>
                    
                     <div ng-show="localVars.showMenu" ng-click=" $event.stopPropagation()" style="z-index: 1000;background-color: white" id="tblMenu" class="border m-2 p-2  d-flex flex-column ">
                       
                       	<div>	
                           <input type="checkbox" class="" id="cbHidden" ng-model="tc.visible"> 
                           <label class=" label-xs" for="cbHidden"> Column visible </label> 
                        </div>	
                        
                        <div class="my-2" >	
                           <div>  <label class=" label-xs" for="cbWidth"> Width: </label>   </div>
                           <div>  <input type="text" class="w-100" id="cbWidth" ng-model="tc.width"/> </div>
                        </div>	
                        
                        <div class="my-2" >	
                           <div> <label class=" label-xs" for="cbStyle"> CSS style: </label>   </div>
                           <div> <input type="text" class="w-100" id="cbStyle" ng-model="tc.style"/> </div>
                        </div>	
                         <div class="my-2" >    
                           <div> <label class=" label-xs" for="cbStyle"> Column name: </label>   </div>
                           <div> <input type="text" class="w-100" id="cbStyle" ng-model="tc.displayName"/> </div>
                        </div>  
                        
                         <div class="mt-2">	
                            <label class=" label-sm" for="cbDrugo"> Sort </label>
                             <button ng-class="{'active' : tc.sort == 'ascending'}" style="padding: 0.325rem 0.45rem; font-size: 0.8rem; "  type="button" class="btn btn-outline-primary btn-xs" ng-click="tc.sort='ascending'">
                                <span class="fa fa-arrow-up"></span>
                              </button>
                               <button ng-class="{'active' : tc.sort == 'descending'}" style="padding: 0.325rem 0.45rem; font-size: 0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  ng-click="tc.sort='descending'">
                                  <span class="fa fa-arrow-down"></span>
                                </button>
                               <button style="padding: 0.325rem 0.45rem; font-size: 0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  ng-click="tc.sort=''">
                                    <span class="fas fa-times"></span>
                                </button>
            
                       	</div>

                        <div class="my-2" >	
                           <div> <label class=" label-xs" for="cbSortPriority"> Sort priority: {{tc.sortOrder +1 }} </label>   </div>
                           <div> <input ng-change="promjena(tc)" type="range" name="range" min="0"  max="2" class="w-100" id="cbSortPriority" ng-model="tc.sortOrder"/> </div>
                        </div>	
       
                     
                      <div>	
                           <input type="checkbox" class="" id="cbFormat" ng-model="tc.disableGrouping"> 
                           <label class=" label-xs" for="cbFormat"> Disable 1000s separator</label> 
                        </div>	  
                 

                        <div class="d-flex my-2">
                            <div class=" pr-1"><label class="label-xs" for="cbDecimal">Decimal places:</label></div>
                            <div><input type="text" class="w-100 ng-touched" id="cbDecimal" ng-model="tc.decimalPlaces" style="" ng-pristine="" ng-untouched="" ng-valid="">
                            </div>
                         </div>                       
                        
                    </div>
                    
                    
                </th>	
                
                <th colspan="100">
                        
                         <div style=" right:0; background-color: white; max-width: 25%; z-index: 100; overflow: auto; width: fit-content; margin-top: -1.5rem;"  ng-show="showTableConfigMenu" class="ml-1 border m-2 p-2 position-absolute d-flex flex-column ">
                               
                              <div  style="font-weight:100"  lr-drag-src="headers2" lr-drop-target="headers2"  ng-repeat="hd in columnDefs ">
                            
                              <input type="checkbox" class="" id="cbDrugo" ng-model="hd.visible"> 
                                    {{::hd.displayName}}
                             </div>
                           
                        </div>
                        
                      
                        
                         <div style="  box-shadow:0 0 1px #0885BA; right:0px; background-color: white;width: 15%;" id="tblSortMenu" ng-show="showSortMenu" class="ml-1 border m-2 position-absolute d-flex flex-column ">
                           <div class="m-1 bold"> Sort order </div>
                           <div class="mx-1 p-1" style="">
                                
                                <div ng-repeat="cd in sortColumnDefs"  style="border: 1px solid; border-radius: 1rem;margin: 2px 2px 2px 2px; font-weight:100;background-color:#ede0e0"  lr-drag-src="headers3" lr-drop-target="headers3"  lr-drop-success="dropSuccess()" >
                                
                                     <div style="border: none !important;  border-radius: 1rem;background-color: #E7E9EC;padding: 2px 4px 2px 4px;  line-height: 1.0;" class="bold d-inline-block"> {{$index+1}}  
                                     </div>
                                     
                                     <div class="d-inline-block ml-1"> {{::cd.displayName}} 
                                     </div>
                              
                                </div>
                           
                           </div>
                         </div>
                        
                        
                        
                </th>
            </tr>
		</thead>
		<tbody> 
       
        <!--processAction({'item':row,'actionId':1})" ng-mouseover="showActions=true" ng-mouseleave="showActions=false"-->
			<tr  on-dbl-click="processAction({'item':row,'actionId':1})" ng-click="setLeftPosition($event,row)" ng-repeat="row in displayTableData"  ng-class="{'bg-primary': row.isSelected}" st-select-row="row" st-selected="rowSelected(row) "   >
				
                <td  ng-repeat="tcRow in columnDefs track by tcRow.name"  ng-style="{'padding' : cellPadding, 'text-align': tcRow.ElementType == 'number' ? 'right' : 'left' }"   ng-if="(tcRow.visible || tcRow.visible==undefined) && (($index!=1 && showActionButtons) || !showActionButtons)">
 
                    <!--<span ng-bind="::getItem(tcRow,row)" class=""></span>-->
					   <span ng-bind="::row.getItem[tcRow.name]" class=""></span>
				</td>
                
                 
                <td  ng-if="showActionButtons" 
                       ng-class="{'visibility-visible':row.isSelected,'visibility-hidden':!row.isSelected}" 
                       style="margin-top: 25px !important;border-radius: 0.25rem;border: 1px solid #cdcdcd;min-width: 12rem;z-index: 1;{{leftCss}}"
                        class="position-absolute shadow-sm p-0 bg-white">
                    <div>
                       <button title="{{getActionLabel(0)}}" ng-click="processAction({'item':row,'actionId':1})" type="button" class="btn btn-outline-primary border-0 fnt7 w-100">
                           <div >
                                <i class="fa fa-edit mr-2"></i>{{getActionLabel(0)}}
                           </div>
                       
                       </button>
                    </div> 
                  
               </td>
               
		       <td></td>
			</tr>

		</tbody>
		<tfoot>
            <tr ng-show="::usePagination">
                <td colspan="100%">
                  <div class="pt-3 text-left border-top" st-pagination="" st-initial-page="initialPage" st-items-by-page="local.stItemsOnPage" st-displayed-pages="10"></div>
                </td>
            </tr>
		</tfoot>
	</table>
  
    </div>
    
    
    <!------------------------------------------------------------  TABLE when CLIENT SIDE ----------------------------------------------------->
    

    
	<table id="CLIENT_SIDE" ng-if="::clientSide" st-pipe="refreshData"  st-table="displayTableData2" class="table table-striped table-katalyo">		
	<thead>
            <tr >
                <th  ng-if="::allowSort && (tc.visible || tc.visible==undefined)" lr-drag-src="headers" lr-drop-target="headers"  ng-repeat="tc in columnDefs track by tc.name"  st-sort="{{tc.name}}">
                {{::tc.displayName}}
                </th>
                
                <th  ng-if="!allowSort  && (tc.visible || tc.visible==undefined)"   st-sort="{{tc.name}}" lr-drag-src="headers" lr-drop-target="headers" st-sort-default="{{tc.sort}}"  st-sort="{{tc.name}}"  ng-repeat="tc in columnDefs track by tc.name"> 
                    
                    <div class="d-flex" >
                        <div class="mt-1 ml-1 d-flex flex-column justify-content-center">
                            <span class="sortasc fas fa-sort-up " >  </span>
                            <span class="sortdesc fas fa-sort-down" >  </span>
                        </div>
                         <span > {{::tc.displayName}}</span>
                         <label class="fas fa-sort-down"  class="" id="cbVisible" ng-click="showMenu=!showMenu"> -->
                         <input type="checkbox" class="mt-1 ml-2" id="cbHidden" ng-model="localVars.showMenu" ng-click=" $event.stopPropagation()"> 
 
                    </div>
                   
                    <div ng-click=" $event.stopPropagation()" style=" background-color: white;width: 15%;" id="tblMenu" ng-show="localVars.showMenu" class="border m-2 p-2 position-absolute d-flex flex-column ">
                       
                       	<div>	
                           <input type="checkbox" class="" id="cbHidden" ng-model="tc.visible"> 
                           <label class=" label-xs" for="cbHidden"> Column visible </label> 
                        </div>	
  
                         <div class="mt-2">	
                            <label class=" label-sm" for="cbDrugo"> Sort </label>
                             <button ng-class="{'active' : tc.sort == 'ascending'}" style="padding: 0.325rem 0.45rem; font-size: 0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  ng-click="tc.sort='ascending'">
                                <span class="fa fa-arrow-up"></span>
                              </button>
                               <button ng-class="{'active' : tc.sort == 'descending'}" style="padding: 0.325rem 0.45rem; font-size: 0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  ng-click="tc.sort='descending'">
                                  <span class="fa fa-arrow-down"></span>
                                </button>
                                 <button style="padding: 0.325rem 0.45rem; font-size: 0.8rem; "  type="button" class="btn btn-outline-primary btn-xs"  ng-click="tc.sort=''">
                                    <span class="fas fa-times"></span>
                                  </button>
                                  
                                
                       	</div>	
                        
                    </div>
                   
                </th>
                
                <th>
                        <button type="button" class="ml-1 btn btn-outline-primary btn-xs"  ng-click="toggleTableConfigMenu()">
                        <span class="fa fa-plus"></span>
                        </button>
                        
                       <!-- <button type="button" class="btn btn-outline-primary btn-xs"  ng-click="exportTable()">
                                <span class="fa fa-save"></span>
                        </button>-->
                        
                        
                        <div style=" right: 0px; background-color: white;width: 15%;" id="tblTableConfigMenu" ng-show="showTableConfigMenu" class="ml-1 border m-2 p-2 position-absolute d-flex flex-column ">
                               
                            <div  style="font-weight:100"  lr-drag-src="headers2" lr-drop-target="headers2"  ng-repeat="hd in columnDefs ">
                            
                                <input type="checkbox" class="" id="cbDrugo" ng-model="hd.visible"/> 
                                    {{::hd.displayName}}
                             </div>
                           
                        </div>
                        
                        
                      <!--  <div style=" right: 0px; background-color: white;width: 15%;" id="tblSortMenu" ng-show="showSortMenu" class="ml-1 border m-2 p-2 position-absolute d-flex flex-column ">
                               
                            <div  style="font-weight:100"  lr-drag-src="headers3" lr-drop-target="headers3"   lr-drop-success="dropSuccess(e, cd, columnDefs)" ng-repeat="cd in columnDefs ">
                            
                                <input type="checkbox" class="" id="cbTrece" ng-model="cd.visible"/> 
                                    {{::cd.displayName}}
                             </div>
                           
                        </div>-->
                        
                        
                </th>
                 
            </tr>
		</thead>
        
		<tbody>
        <!--  opcija za multiple ....  st-select-mode="multiple"   -->
            <tr ng-class="{'bg-primary': row.isSelected}" ng-click="setLeftPosition($event,row)" st-select-row="row" ng-repeat="row in displayTableData" st-selected="rowSelected(row)">
                <td ng-if="tcRow.visible || tcRow.visible==undefined" ng-repeat="tcRow in columnDefs track by tcRow.name" ng-bind="::row.getItem[tcRow.name]">
                </td>
                <td></td>
            </tr>
           
            
             <tr ng-if="displayTableData2.length==0" ng-repeat="tc in columnDefs">
            <td  ng-repeat="tcRow in columnDefs track by tcRow.name" >&nbsp;
                </td>
              </tr>
               <tr ng-if="displayTableData2.length==0">
             <td  ng-repeat="tcRow in columnDefs track by tcRow.name">&nbsp;
                </td>
              </tr>
               <tr ng-if="displayTableData2.length==0">
             <td  ng-repeat="tcRow in columnDefs track by tcRow.name"> &nbsp;
                </td>
              </tr>
            
		</tbody>
        
		<tfoot>
          <tr >
                <td ng-show="::usePagination" colspan="100%" class="">
                  <div class="pt-3 text-left border-top" st-pagination="" st-initial-page="initialPage" st-items-by-page="local.stItemsOnPage" st-displayed-pages="10"></div>
                </td>
            </tr>
		</tfoot>
	</table>
    
    
    <div class="paginator-container-query">
    <div class="nav-container">
        <div style="width: 344.59px; height: 0;visibility: hidden;" ></div>
        <nav style="display:inline" ng-show="displayTableData.length>0" class="">
             <ul class="pagination pagination-sm my-auto py-4" style="align items: center;display:inline-flex;font-size: {{fontSize}} !important"> 
            
                <li ng-class="{disabled:tableState.pagination.currentPage==1}" class="page-item"><a href="#" class="page-link" ng-click="selectPage(1); $event.preventDefault(); $event.stopPropagation();"><span class="fa fa-chevron-left"><span class="fa fa-chevron-left"></span></a></i> 
                <li ng-class="{disabled:tableState.pagination.currentPage==1}" class="page-item"><a href="#" class="page-link" ng-click="selectPage(tableState.pagination.currentPage-1); $event.preventDefault(); $event.stopPropagation();"><span class="fa fa-chevron-left"></a></i> 
                <li ng-repeat="page in tableState.pagination.pages" class="page-item" ng-class="{active: page==tableState.pagination.currentPage}"><a href="#" class="page-link" ng-click="selectPage(page); $event.preventDefault(); $event.stopPropagation();">{{page}}</a></li> 
                <li ng-class="{disabled:tableState.pagination.currentPage==tableState.pagination.numberOfPages}" class="page-item"><a href="#" class="page-link" ng-click="selectPage(tableState.pagination.currentPage+1); $event.preventDefault(); $event.stopPropagation();"><span class="fa fa-chevron-right"></a></i> 
                <li ng-class="{disabled:tableState.pagination.currentPage==tableState.pagination.numberOfPages}" class="page-item"><a href="#" class="page-link" ng-click="selectPage(tableState.pagination.numberOfPages); $event.preventDefault(); $event.stopPropagation();"><span class="fa fa-chevron-right"><span class="fa fa-chevron-right"></a></i> 
             </ul>
        </nav>
            
         
         <div  style="align-items: center; display:flex;  width: fit-content; justify-content: end;font-size: {{fontSize}} !important">
            <select class="rounded" ng-model="local.stItemsOnPage" ng-options="item for item in pageItemsList track by item"></select>
            <span class="ml-1 small" style="white-space: nowrap;"> {{parameters.PagerLabel1}} {{tableState.pagination.currentPage}} / {{tableState.pagination.numberOfPages}} | {{tableState.pagination.start+1}} - {{   Math.min ( tableState.pagination.currentPage * tableState.pagination.number , tableState.pagination.totalItemCount) }} {{parameters.PagerLabel2}} {{tableState.pagination.totalItemCount}} {{parameters.PagerLabel3}} </span>
         </div>
     </div>
     </div>
        
</div>