<div ng-show="false">
  <div kt-processing-animation show-msg="true" message="Loading form"></div>
</div>

<div  ng-show="true">
 <div ng-if="!formParams.formLocked">
    <div class="float-right" ng-hide="formParams.formLocked">
                <a title="sort" class="task-element-drag-handle"><i  class="task-element-drag-handle fa fa-sort"></i></a>
                <a title="Hide field"   ng-click="removeField($index)"><i  class="fa fa-trash"></i></a>
	
    </div>
   <div  class="row">
       
        <label class="col-sm-1" for="startAnyTask">Start any task</label>
           <div class="col-sm-5">
              <input type="checkbox" ng-click="SelectAnyTask()" class="checkbox-zoom-large" ng-model="fd.search.startAnyTask" name="startAnyTask" ng-required="false" />
           </div>
    
    </div> 

 </div>
  <div  ng-form="'ktStartTaskWidget'+$id" ng-show="fd.search.startAnyTask || !formParams.formLocked" class="sort-box">
       
      <!-- <div class="col-sm-6" kt-select-generic input-array="taskList" on-select-fn="TaskSelectionChanged(item,model)" input-parameters="taskListParameters">
        </div> -->
        

            <kt-dropdown-standard ng-if="taskList"
							ng-model="xxx" 
							selected-items="xxx" 
							dropdown-items="taskList"
                            on-select-fn="TaskSelectionChanged(item,model)"
							is-multiple="false"  dropdown-id="'page'" parent-form-id="'ktStartTaskWidget'+$id"  search-text="'Search or select ...'">
				</kt-dropdown-standard>
                
    
             <button type="button" ng-click="PreInitiateTask()" class="btn btn-light">
             <span class='fa fa-rocket'></span> Start selected task</button>
                  
  </div>
  
  
<form ng-submit="InitiateTask(forma)" name="forma" class="form-horizontal" role="form" novalidate>
   <div class="boxshadow">
       
      <h4 class="text-center">{{resourceDefinition.name}}</h4>

  </div>      
	<div class="panel panel-default" ng-if="!fd.localVars.taskDefinition.AutoAssign && fd.related==0">
                <div class="panel-heading">                  
                  Potential owners <button type="button" ng-click="fd.isCollapsed = !fd.isCollapsed" ><span ng-class="{'fa fa-plus-square': isCollapsed,'fa fa-minus-square': !isCollapsed }" ></span></button>
                      </div>
                      <div uib-collapse="fd.isCollapsed" class="panel-body">
                    
                  <div class=row">
                  <div class="col-sm-6">
                    <div class="panel panel-success">
                      <div class="panel-heading">Users
                         <button type="button" ng-click="fd.isCollapsed1 = !fd.isCollapsed1" ><span ng-class="{'fa fa-plus-square': isCollapsed1,'fa fa-minus-square': !isCollapsed1 }" ></span></button>
                      </div>
                      <div uib-collapse="fd.isCollapsed1" class="panel-body">
                    
                           <div kt-select-users selected-items="potentialOwners.potentialOwnersUsers"></div>
                        </div>
                       </div>
                     </div>
                    <div class="col-sm-6">
                     <div class="panel panel-warning">
                      <div class="panel-heading">Groups
                          <button type="button" ng-click="fd.isCollapsed2 = !fd.isCollapsed2" ><span ng-class="{'fa fa-plus-square': isCollapsed2,'fa fa-minus-square': !isCollapsed2 }" ></span></button>
                      </div>
                      <div uib-collapse="fd.isCollapsed2" class="panel-body">
                    
                      <div kt-select-groups selected-items="potentialOwners.potentialOwnersGroups"></div> 
                    </div>
                  </div>
                  
                  </div>
                 </div>
                </div>
              </div>

 <div class="boxshadow">
    
         <div kt-grid   grid-type="gridsterType" resource-form-loaded="initiateFormLoaded" resource-definition="fd.localVars.taskDefinition" form-params="resourceDefinition.formParams" form-data="dashboard.data" parent="dashboard.widgets" all-columns="dashboard.widgets" class="ktGrid"></div>
     
      
    </div>
                  <div  ng-if="fd.search.startAnyTask" class="sort-box" >
                            <button type="submit" ng-if="!taskInitiated" class="btn btn-success">
                                <span class="fa fa-rocket"></span>&nbsp Start task</button>
                           
                              <button type="button" class="btn btn-danger" ng-click="CancelClicked()" >
                                <span class="fa fa-times"></span>&nbsp Cancel</button>
                           
                            <br> 
                 </div>
                  
               <div  ng-if="!fd.search.startAnyTask" class="sort-box" >
                            <button type="submit" ng-if="!taskInitiated" ng-class="fd.gridState.initTaskBtnStyle">
                                <span ng-class="fd.gridState.initTaskBtnIcon"></span>&nbsp {{fd.gridState.initTaskBtnTxt}}</button>
                            <div ng-if="!inputArray.locked">
                             <label>Style </label> <input type="text" class="form-control" ng-model="fd.gridState.initTaskBtnStyle"  />
                             <label>Text </label> <input type="text" class="form-control" ng-model="fd.gridState.initTaskBtnTxt"  />
                             <label>Icon </label> <input type="text" class="form-control" ng-model="fd.gridState.initTaskBtnIcon"  />
                            </div>
                              <button type="button" ng-class="fd.gridState.cancelBtnStyle" ng-click="CancelClicked()">
                                <span ng-class="fd.gridState.cancelBtnIcon"></span>&nbsp {{fd.gridState.cancelBtnTxt}}</button>
                            <div ng-if="!inputArray.locked">
                             <label>Style </label> <input type="text" class="form-control" ng-model="fd.gridState.cancelBtnStyle"  />
                             <label>Text </label> <input type="text" class="form-control" ng-model="fd.gridState.cancelBtnTxt"  />
                             <label>Icon </label> <input type="text" class="form-control" ng-model="fd.gridState.cancelBtnIcon"  />
                            </div>
                                   
                            <br> 
                 </div>

</form>
</div>