<style>

.shadowbutton {
    box-shadow: 0 0.125rem 0.25rem rgb(14 26 57 / 8%) !important;
}
.shadowbutton:hover {
    box-shadow: var(--ds-overlay,0 8px 16px -4px rgba(9,30,66,0.25),0 0 1px rgba(9,30,66,0.31)) !important;
    text-decoration: none;
}

.shadowbutton .blueonhover {
   border-bottom: solid lightgray;
}

.shadowbutton.active .blueonhover, .shadowbutton:hover .blueonhover {
   border-bottom: solid thick blue ;  
}
 
button.active, a:active, .link:active {
    color: var(--ds-text-link-pressed,#0065FF);
 }

</style>  


<div id="ktTaskDatasetListProperties{{fd.PresentationId}}" class="">

<ng-form name="datasetListProperties{{fd.PresentationId}}">

	<div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="localVars" kt-dataset-mapper></div>
     
    <!-- SHOW PROPERTIES -->
	<div>
		
        
				<!--<label class="label text-muted"> Widget ref:</label> 		
                <label class="label text-muted">  {{fd.UuidRef}}</label> -->
    
    <div class="row m-1">  <!--<b> Define actions</b>-->
	 
			<span class="mr-2 bold">Widget reference:</span><span class="mr-2" title="Widget reference" ng-bind="fd.UuidRef"></span> <button type="button" title="Copy widget reference" class="btn btn-link p-0" ng-click="fd.localVars.copyToClipboard(fd.UuidRef)"><i class="fa fa-copy ml-1"></i></button>
			<span ng-class="{'visibility-visible':fd.copyUuid,'visibility-hidden':!fd.copyUuid}" class="text-primary small ml-1">Copied!</span>
		
    </div>
       
        
             
		<div class="row m-0 pt-1">
			<div class="col-24 px-0">	 
			  <label class="label text-muted">Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />

				<label class="label text-muted">Search header text </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				<label class="label text-muted">Form validation error </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
				<label class="label text-muted">No data message </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.NoDataMsg"  />

				<label class="label text-muted mt-3">Show data as</label> 
				<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
					<label ng-click="fd.Parameters.PresentationType='table'" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='table'}">
					  <span class='fas fa-table mr-2'></span> <input  type="radio" name="presentationtype" id="pType1" autocomplete="off" checked=""> Table 
					</label>
					
					<label ng-click="fd.Parameters.PresentationType='dropdown';localVars.getFormFields();" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='dropdown'}">
					  <span class='far fa-caret-square-down mr-2'></span><input  type="radio" name="presentationtype" id="pType2" autocomplete="off"> Dropdown
					</label>
					  <label ng-click="fd.Parameters.PresentationType='card'" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='card'}">
					  <span class='far fa-id-card mr-2'></span><input  type="radio" name="presentationtype" id="pType3" autocomplete="off"> Card
					</label>

				</div>
				<div ng-if="fd.Parameters.PresentationType=='table'" class="">
					<div class="mb-2">	 
						<label class="label text-muted">Button label</label> <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.GetDataBtnLabel"  />
					</div>	
					<div class="mb-2">	 
						<label class="label text-muted">Css style</label> <input type="text" class="form-control form-control-sm" ng-model="fd.Parameters.cssStyle"  />
					</div>
				</div>
				
				<div>
					<div class="my-auto" class="w-100">
						<label class="marginL5 form-control-label no-border" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}">Select fields </label>
		          
					</div>

					<kt-dropdown-multiple ng-model="fd.NameField" size="'small'" selected-items="fd.NameField" name="NameField{{fd.PresentationId}}" dropdown-items="fd.localVars.PresentationElements" dropdown-id="'NameField'+fd.PresentationId" parent-form-id="'innerFormNameField'+fd.PresentationId" search-text="'Select dataset fields'"></kt-dropdown-multiple>
					
					
				</div>

			
			</div>
			<div class="col-24">

				<div>
					<label  class="kt-checkbox-label" for="cbRequired{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbRequired{{fd.PresentationId}}" ng-model="fd.Required" ng-checked="fd.Required" />  
							Required
						</label>      
				</div>

				<div>
					<label  class="kt-checkbox-label" for="cbAutoSearch{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbAutoSearch{{fd.PresentationId}}" ng-model="fd.AutoSearch" ng-checked="fd.AutoSearch" />  
							Auto search on server
						</label>      
				</div>

				<div>
					<label  class="kt-checkbox-label" for="cbAutoSearchClient{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbAutoSearchClient{{fd.PresentationId}}" ng-model="fd.Parameters.AutoSearchClient" ng-checked="fd.Parameters.AutoSearchClient" />  
							Auto search on client
						</label>      
				</div>


				<div>
					<label  class="kt-checkbox-label" for="cbShowGetDataButton{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowGetDataButton{{fd.PresentationId}}" ng-model="fd.Parameters.ShowGetDataButton" ng-checked="fd.Parameters.ShowGetDataButton" />  
							Show 'Getdata' button
						</label>      
				</div>

				<div>
					<label  class="kt-checkbox-label" for="cbShowSearchForm{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowSearchForm{{fd.PresentationId}}" ng-model="fd.ShowSearchForm" ng-checked="fd.ShowSearchForm" />  
							Show search form
						</label>      
				</div>

				

				<div>
					<label  class="kt-checkbox-label" for="cbShowSearchForm{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbSearchFormCollapsed{{fd.PresentationId}}" ng-model="fd.Parameters.SearchFormCollapsed" ng-checked="fd.Parameters.SearchFormCollapsed" />  
							Search form collapsed
						</label>      
				</div>


				<div>
					<label  class="kt-checkbox-label" for="cbMultiline{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name=cb"Multiline{{fd.PresentationId}}" ng-model="fd.Multiline" ng-checked="fd.Multiline" />  
							Select multiple records
						</label>      
				</div>


				<div>
					<label  class="kt-checkbox-label" for="cbAllRecords{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbAllRecords{{fd.PresentationId}}" ng-model="fd.Parameters.DownloadAllRecords" ng-checked="fd.Parameters.DownloadAllRecords" />  
							Download all records
						</label>      
				</div>
				
				<div>
					<label  class="kt-checkbox-label" for="cbPrintable{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbPrintable{{fd.PresentationId}}" ng-model="fd.Parameters.printable" ng-checked="fd.Parameters.printable" />  
							Printable
						</label>      
				</div>
				
              	
				<div>
					<label  class="kt-checkbox-label" for="cbShowTableFeatures{{fd.PresentationId}}">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowTableFeatures{{fd.PresentationId}}" ng-model="fd.Parameters.ShowTableFeatures" ng-checked="fd.Parameters.ShowTableFeatures" />  
							Show table features
						</label>      
				</div>
                
                <div>
					<label  class="kt-checkbox-label">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" ng-model="fd.Parameters.ShowLoadingMessage" />  
							Show loading message
						</label>      
				</div>
				 <div ng-if="fd.Parameters.ShowLoadingMessage">
					<label class="label-xs text-muted">Loading message text </label>  <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.LoadingMessage"  />
				</div>

                <label class="label-xs text-muted">Table font size </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.table.fontSize"  />
			
        				
                <label class="label-xs text-muted">Table cell padding </label>  <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.table.cellPadding"  />
			
            
			
                <!--
                <div class="custom-control custom-checkbox mr-3">		
					<input type="checkbox" class="custom-control-input" id="cbColumnFooter" ng-model="fd.Parameters.hideColumnFooter"> 
					<label class="custom-control-label label-xs" for="cbColumnFooter">hideColumnFooter</label>	 
				</div>
                
                <div class="custom-control custom-checkbox mr-3">		
					<input type="checkbox" class="custom-control-input" id="cbGridFooter" ng-model="fd.Parameters.hideGridFooter"> 
					<label class="custom-control-label label-xs" for="cbGridFooter">hideGridFooter</label>	 
				</div>
                
                <div class="custom-control custom-checkbox mr-3">		
					<input type="checkbox" class="custom-control-input" id="cbPagination" ng-model="fd.Parameters.hidePaginationControls"> 
					<label class="custom-control-label label-xs" for="cbPagination">hidePaginationControls</label>	 
				</div>  -->
                
                <div class="my-2 border-bottom">
			       
						Pager label
				</div>
				<div class="my-2 border-bottom">
                	<label class="label-xs text-muted">items per page | Page: </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.PagerLabel1"  />
                	<label class="label-xs text-muted">of </label>  <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.PagerLabel2"  />
                	<label class="label-xs text-muted">items </label>  <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.PagerLabel3"  />
                </div>
                <div ng-if="fd.Parameters.SelectedResourceType=='file'">
	               	<div class="my-2">
			       
						<label>Preview file button label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.PreviewLabel"  />
					</div>

					<div class="my-2">
			       
						<label>Download file button label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.DownloadLabel"  />
					</div>
					<div>
            
						<label  class="kt-checkbox-label" for="cbNoDownload{{fd.PresentationId}}">
							
							<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbNoDownload{{fd.PresentationId}}" ng-model="fd.Parameters.NoDownload" ng-checked="fd.Parameters.NoDownload" />  
							Disable download
						</label>
       
					</div>
					<div>
		            
						<label  class="kt-checkbox-label" for="cbNoPreview{{fd.PresentationId}}">
							
							<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbNoPreview{{fd.PresentationId}}" ng-model="fd.Parameters.NoPreview" ng-checked="fd.Parameters.NoPreview" />  
							Disable preview
						</label>
		       
					</div>

				</div>

               	<div class="">
                   <label class="label-xs text-muted"> Export template file type </label>   

                   	<kt-dropdown-standard ng-model="fd.Parameters.excelExportTemplateFileType" size="'small'" selected-items="fd.Parameters.excelExportTemplateFileType" is-multiple="false" name="exportTemplate{{fd.PresentationId}}" ng-required="false" dropdown-items="fd.localVars.listOfFileTypes" dropdown-id="'exportTemplate'+fd.PresentationId" parent-form-id="'exportTemplate'+fd.PresentationId" search-text="'Select export template'"></kt-dropdown-standard>

                 </div>
               
                <div class="">  
                      <label class="label-xs text-muted">Export template file Id </label> 
                      <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.excelExportTemplateFileId"  />
                   
            	</div>
                                    
                <!-- ******************** enable this after redesign *********************
				<label class="label-xs text-muted">Dependent field Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldId"  />
				<label class="label-xs text-muted">Dependent field type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldType"  />
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbClientSideFilter" ng-model="fd.Parameters.ClientSideFilter"> 
					<label class="custom-control-label label-xs" for="cbClientSideFilter">Client side filtering</label>
							 
				</div>
				
				<div>
					<div><u>Events</u></div>
					<label class="label-xs text-muted">Event action </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventAction"  />
					<label class="label-xs text-muted">Event source type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventSourceType"  />
					<label class="label-xs text-muted">Event source widget Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventSourceId"  />
					<label class="label-xs text-muted">Event name </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventName"  />
				</div>
				******************** enable this after redesign ********************* -->
	
    	 <div ng-if="fd.localVars.datasetMapperType > 0"> 
         	
           
            <button ng-click="fd.localVars.addAnalytics()"> Add Analytics </button>
           
            <div ng-repeat="item in fd.Parameters.Analytics">
            
                <div ng-click="item.Show = !item.Show" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#chartPropertyPanel{{fd.PresentationId}}{{$index}}" role="button" aria-expanded="true" aria-controls="mainPropertyPanel{{fd.PresentationId}}">
                    <span class="col bold p-0"> ANALYTICS {{$index}}</span>
                    <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
                    <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
                </div>
          
                <div class=" collapse show" id="chartPropertyPanel{{fd.PresentationId}}{{$index}}">
  
                     <label class="pl-0 label-xs text-muted">Group by</label>
                     <kt-dropdown-standard class="m-1" ng-model="item.AggregateField" selected-items="item.AggregateField"
                        is-multiple="false" size="'small'" name="{{name}}" required-field="true" dropdown-items="fd.localVars.fieldsList" 
                        dropdown-id="'Parameters.AggregateField'+fd.PresentationId + $index" parent-form-id="'Parameters.AggregateField'+fd.PresentationId + $index" 
                        search-text="'Select aggregate fields'"></kt-dropdown-standard>
                     
                     <label class="pl-0 label-xs text-muted">Select calculated field</label>
                     <kt-dropdown-standard class="m-1" ng-model="item.CalculateField" selected-items="item.CalculateField" 
                        is-multiple="false" size="'small'" name="Analytics{{$index}}CalculateField{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.fieldsList" 
                        dropdown-id="'Parameters.CalculateField'+fd.PresentationId+ $index" parent-form-id="'viewChartProperties'+fd.PresentationId" 
                        search-text="'Select calculated fields'"></kt-dropdown-standard>


                     <label class="pl-0 label-xs text-muted">Select function</label>
                     <kt-dropdown-standard class="m-1" ng-model="item.CalculateFunction" selected-items="item.CalculateFunction" 
                        is-multiple="false" size="'small'" name="Parameters.CalculateField{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.calculateFunction" 
                        dropdown-id="'Parameters.CalculateFunction'+fd.PresentationId + $index" parent-form-id="'viewChartProperties'+fd.PresentationId"
                        search-text="'Select function'"></kt-dropdown-standard>


                      <div class="mb-2 text-center">
                                <button ng-click="fd.Parameters.Analytics.splice($index,1)" type="button"  class="w-100 btn btn-xs btn-warning" >
                                          <span >Remove analytics</span>
                                </button>
                       </div>
                
                </div>
                
             </div>

            <!--<div class="my-2 text-center">
                <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperModal{{fd.PresentationId}}">
                            <span >Copy data from other datasets</span>
                </button>
            </div>
            
            <div class="my-2 text-center">
                <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
                            <span >Define parent dataset</span>
                </button>
            </div>
            
            <div class="my-2 text-center">
                <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#massPropertyUpdate{{fd.PresentationId}}">
                            <span >Mass update</span>
                </button>
            </div>-->
            
             <div class="my-2 text-center">
                <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#initiateTaskModal{{fd.PresentationId}}">
                            <span > Add Actions</span>
                </button>
            </div>
            
        </div>
    
			</div>
		
		</div>
	</div>
	
    <!-- ACTIONS -->
	<div ng-if="fd.localVars.datasetMapperType==3" class="row border m-0 p-2">
	    <div kt-initiate-task-widget class="w-100"></div>
	</div>	

    
	 <div ng-if="fd.localVars.datasetMapperType > 0"> 
             
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
                        <span >Define parent dataset</span>
            </button>
        </div>
        <div class="my-2" ng-if="fd.HasParentDataset">

				<div class="pl-0 label border-bottom">Parent relationship type</div>
				<div class="my-2">
					<label class="label-xs">
					<input type="radio" ng-model="fd.Parameters.ParentRelationshipType" value="1" > </input>
					Link only one record (1:n)
			        </label>
				</div>
				<div class="mb-2">
					<label class="label-xs">
					<input type="radio" ng-model="fd.Parameters.ParentRelationshipType" value="0">
			        </input>
						Link unlimited number of records (1:n)
			        </label>
				</div>
				<div class="mb-2" ng-if="fd.Parameters.ParentRelationshipType==1">  
                      <label class="label-xs text-muted">Field name </label> 
                      <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.ParentDatasetFieldName"  />
                   
            	</div>

			</div>
    </div>
</ng-form>

</div>