<div class="p-1">
	<div kt-property-header></div>
	<div ng-if="fd.localVars.datasetMapperType==2" class=" m-0 ">
		<div class="">
			<label class="label text-muted" >Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
			<label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
			<label class="label text-muted">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
			
			<div class="">
				<label  class="kt-checkbox-label" for="cbHideUpdateButton{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbHideUpdateButton{{fd.PresentationId}}" ng-model="fd.Parameters.ShowUpdateButton" ng-checked="fd.Parameters.ShowUpdateButton" />  
					Show update button
				</label>        

          </div>
			
		</div>	
		   
		<div class="mt-3">   
			   <span class="label text-muted mt-1" >Define message when record is updated</span>
			    <textarea ng-model="fd.ResponseMsg" placeholder="Enter message"  name="responseMsg"  class="form-control"/>
			    
		</div>

	</div>
 
	 <div  class="col-lg-24 px-0">
			
				  <div class="custom-control custom-checkbox my-2">							
					<input type="checkbox" class="custom-control-input" id="cbShowAuditInfo{{fd.PresentationId}}" ng-model="fd.Parameters.ShowAuditInfo"> 
					<label class="custom-control-label label-xs" for="cbShowAuditInfo{{fd.PresentationId}}">Show audit info</label>			 
				</div> 
				
	</div> 

	<div  class="col-lg-24 px-0">
			
				<label class="label text-muted">Created by text </label> 
                <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.CreatedByTemplate"  />
	</div> 
	 	
	<div  class="col-lg-24 px-0">
			
				<label class="label text-muted">Changed by text </label> 
                <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.ChangedByTemplate"  />
	</div> 
	
	<div ng-if="fd.localVars.datasetMapperType==3" kt-dataset-mapper-parent class=""></div>
	<div ng-if="fd.localVars.datasetMapperType==4" kt-dataset-to-dataset-mapper class=""></div>

    
	 <div ng-if="fd.localVars.datasetMapperType > 0">
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperModal{{fd.PresentationId}}">
                        <span >Copy data from other datasets</span>
            </button>
        </div>
        
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
                        <span >Define parent dataset</span>
            </button>
        </div>
        
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#massPropertyUpdate{{fd.PresentationId}}">
                        <span >Mass update</span>
            </button>
        </div>
    </div>
    
</div>