<div class="noselect  component-library">
 
  <div style="width:240px;margin: auto;" class="mb-2 text-center ">
      <div class="small " style="width:80%;margin: auto;">To build task,  drag &amp; drop components from toolbox below
      </div>
  </div>
		  	

  <div ng-if="gsrvc.getFormViewType()==1" id="task-toolbox" class="list-component-library mr-1 mb-4" dragula-scope="$root" dragula="'bag-task'" dragula-model="taskToolboxItems" ng-model="taskToolboxItems">
       
			 
       <div ng-repeat="toolboxItem in taskToolboxItems track by toolboxItem.id" title="Drag me" ng-click="setCollapse(toolboxItem.ToolboxGroup,toolboxItem.ElementType)" ng-class="{'item task-element-drag-handle':toolboxItem.ElementType!='toolboxgroup'}" ng-hide="toolboxItem.HideFromToolbox || (collapsed[toolboxItem.ToolboxGroup] && toolboxItem.ElementType!='toolboxgroup')">
                          
              <div  style="cursor: pointer;" ng-if="toolboxItem.ElementType=='toolboxgroup'" class="border-bottom mb-2">
               <i ng-class="{'fa fa-angle-down mr-1':collapsed[toolboxItem.ToolboxGroup],'fa fa-angle-up mr-1':!collapsed[toolboxItem.ToolboxGroup]}"></i>
                <span class="bold "> {{toolboxItem.ToolboxGroup}}</span>
               
              </div>
                   	 										
							<span ng-if="toolboxItem.ElementType!='toolboxgroup'" class="task-element-drag-handle icon-muted" ng-class="toolboxItem.Facss"></span> 
              <span ng-if="toolboxItem.ElementType!='toolboxgroup'" class="task-element-drag-handle mx-1">{{toolboxItem.Label}}</span>
							<i ng-if="toolboxItem.ElementType!='toolboxgroup'"  class="task-element-drag-handle handler fas fa-grip-vertical text-dark mr-1" style="opacity:0.2"></i>
              
        </div>
       
  </div>
	
	<div ng-if="gsrvc.getFormViewType()!=1" class="list-component-library mb-4">
	
  </div>
		
</div> 