<div class="p-3">

	<div ng-if="localVars.datasetMapperType==1" fd="fd" local-vars="localVars">
		
		<div ng-form="formDatasetSelect" class="col-lg-12 p-0">
						<label class="text-muted" for="integrationId">Select integration </label>
						<kt-dropdown-standard ng-model="localVars.selectedResourceItem" ng-if="localVars.resourcesLoaded" selected-items="localVars.selectedResourceItem" is-multiple="false" name="integrationId" ng-required="true" dropdown-items="localVars.resourceList" dropdown-id="'resourceList'+resource.Parameters.dataset.id" parent-form-id="'formResource'+resource.Parameters.dataset.id" search-text="'Select integration'"></kt-dropdown-standard>
		</div>
		
		<div class="mt-2">
			<button class="btn btn-primary btn-sm" type="button" ng-click="localVars.confirmIntegration()">Confirm</button> <span class="small text-primary ml-2" ng-if="localVars.integrationConfirmed">Confirmed!</span>
		</div>

		
	</div>
    
	<div ng-if="localVars.datasetMapperType>1" class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                 
								  <label ng-click="localVars.datasetMapperType=2" class="btn btn-sm btn-primary active">
                                    <span class='far fa-newspaper'></span><input  type="radio" name="formtype" id="option4" autocomplete="off" checked=""> Customize form
                                  </label>
                                   <label ng-click="localVars.datasetMapperType=5" class="btn btn-sm btn-primary">
                                    <span class='fa fa-cog'></span> <input  type="radio" name="formtype" id="option1" autocomplete="off"> Widget properties 
                                  </label>
								 

    </div>
	
	<div ng-if="localVars.datasetMapperType==5" class="row m-0 p-2">
		<div class="col-lg-12">
				<label class="label text-muted" >Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
				 <label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
				 <label class="label text-muted">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				<label class="label-xs text-muted">Button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.CallApiBtnLabel"  />
		</div>	
		   
		<div class="col-lg-24 mt-3">   
			   <span class="label text-muted mt-1" >Define message after successful processing</span>
			    <textarea ng-model="fd.ResponseMsg" placeholder="Enter message"  name="responseMsg"  class="form-control"/>
			    
		</div>

	</div>
 
</div>