<div class="p-2">
       
      <div ng-repeat="task in fd.selectedTasks track by $index" class="">
		<div class="row m-0 border-bottom py-2">
			<div class="col">
			     <label class="">Widget reference (enter or paste) </label><button type="button" title="Paste widget reference" class="btn btn-link btn-xs p-0" ng-click="fd.pasteFromClipboard(task)"><i class="fa fa-paste ml-1"></i></button>

			     <input type="text" class="form-control" ng-model="task.widgetId"  />
			</div>
			<div class="col">
			    <!-- <label class="text-muted">Task id </label> <input type="text" class="form-control form-control-sm" ng-model="task.taskId"  />-->

			     <div ng-form="formTaskSelect{{fd.PresentationId+$index}}{{$index}}" class="">
						<label class="" for="taskId">Task</label>
						<kt-dropdown-standard ng-model="task.taskId" ng-if="fd.tasksLoaded" selected-items="task.taskId" is-multiple="false" name="taskId" ng-required="true" dropdown-items="fd.taskList" dropdown-id="'taskList'+$index" parent-form-id="'formTaskSelect'+fd.PresentationId+$index" search-text="'Select task'"></kt-dropdown-standard>
				</div>

			</div>
			<div class="col-auto my-auto">
								   <button type="button" ng-click="fd.RemoveTaskFromList($index)"  class="btn btn-xs btn-outline-danger">
								   <span class='fa fa-trash mr-2'></span> Remove task</button>
			</div>
			
		</div>
     </div>
     	<div class="row my-2">
		<div class="col">
	                                             <button type="button" ng-click="fd.AddTaskToList()"  class="btn btn-xs btn-outline-primary">
	                                             <span class='fa fa-plus mr-2'></span> Add new task</button>
	      </div>
		<div class="col-auto text-right">
			<span ng-if="fd.showConfirmed" class="mr-2 text-primary bold">Confirmed!</span>
	                                             <button type="button" ng-click="fd.ConfirmTaskList()"  class="btn btn-xs btn-outline-success">
	                                             <span class='fa fa-check mr-2'></span> Confirm</button> 
	      </div>
	</div>
  </div>
  