<style>
.drophere {
    display:none;
    border:dashed green 1px ;
}

.form-container > li:last-child.drophere {
    /*border: 2px solid blue;*/
    display: list-item;
}
</style>


<div id="ktTaskFormLayout" ng-class="{'p-1':formParams.formViewType==1}">

 
	<ul class="form-container mb-0" ng-if="formParams.formViewType==1" ng-class="{'min10' : inputArray.layout.length==0 && formParams.formViewType!=2}" dragula="'bag-task'" dragula-scope="$root" dragula-model="inputArray.layout" ng-model="inputArray.layout">
         
         <li ng-if="(inputArray.layout.length==0 || inputArray.countActive==0) && formParams.formViewType==1 && formParamsParent.formViewType!=2" class="tag mt-1  d-inline-block"> 
         Drop here 
          <!--<div><i class="far fa-2x fa-hand-point-up"></i></div>-->
         </li>

        <li ng-repeat="fd in inputArray.layout">
              
              <div ng-if="fd.Status=='Active'" ng-switch="fd.ElementType" >
              
                <div ng-switch-when="gcol" kt-grid-column grid-type="gridType" resource-form-loaded="resourceFormLoaded" parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition" input-array="fd"
                                                            form-params="formParams" form-params-parent="formParamsParent" form-data="formData" parent="inputArray" class="noHorizontalPadding col-lg-{{fd.SizeX}} col-md-{{fd.Parameters.SizeXMd}} col-sm-{{fd.Parameters.SizeXSm}} col-{{fd.Parameters.SizeXXs}}" all-columns="allColumns"> </div>
                                        
                                        <div ng-switch-when="row" kt-grid-row grid-type="gridType" row="fd"  resource-form-loaded="resourceFormLoaded" show-search-filters="showSearchFilters"
                             parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition"
                             form-params="formParams" form-params-parent="formParamsParent" form-data="formData" parent="inputArray" all-rows="allColumns"></div>
              
                <div ng-switch-when="grid" kt-grid> </div>
                                        <div ng-switch-default kt-form-field-generator> </div>
             </div>
                
            </li>

    </ul>
	
	
	<ul class="form-container mb-0" ng-if="formParams.formViewType!=1">   
  
			<li ng-repeat="fd in inputArray.layout">
      
                      <div ng-if="fd.Status=='Active'" ng-switch="fd.ElementType" >
                      
                        <div ng-switch-when="gcol" kt-grid-column grid-type="gridType" resource-form-loaded="resourceFormLoaded" parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition" input-array="fd"
                                                                    form-params="formParams" form-params-parent="formParamsParent" form-data="formData" parent="inputArray" class="noHorizontalPadding" ng-class="{'col-lg-{{fd.SizeX}} col-md-{{fd.Parameters.SizeXMd}} col-sm-{{fd.Parameters.SizeXSm}} col-{{fd.Parameters.SizeXXs}}':!fd.Parameters.AutoSize,'col-auto':fd.Parameters.AutoSize}" all-columns="allColumns"> </div>
                                                
                            
                                                <div ng-switch-when="row" kt-grid-row grid-type="gridType" row="fd"  resource-form-loaded="resourceFormLoaded" show-search-filters="showSearchFilters"
                                     parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition"
                                     form-params="formParams" form-params-parent="formParamsParent" form-data="formData" parent="inputArray" all-rows="allColumns"></div>
                                                
                        <div ng-switch-when="grid" kt-grid> </div>
                                                <div ng-switch-default kt-form-field-generator> </div>
                     </div>
		
            </li>

    </ul>
	
</div>
