<div ng-form="'taskChartProperties'+fd.PresentationId" class="p-0">
       
       <div class=" pb-4">
			     <label class="">Widget reference (enter or paste) </label>
                 <button type="button" title="Paste widget reference" class="btn btn-link btn-xs p-0"  ng-click="fd.pasteFromClipboard(task)">
                    <i class="fa fa-paste ml-1"></i>
                 </button>
			     <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.widgetReference"  />
	   </div>
       
       
    <div class="row ">
    
        <div class="col-24 my-2" ng-if="!fd.Parameters.HideHeader">  
				<label>Title</label> 
                <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />  
                <label class="label text-muted"> No data message </label> 
                <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.NoDataMsg"  />
        </div>
            
               
        <div class="col-24">
            <label class="pl-0 label-xs text-muted" for="nameField">Select function</label>
            <kt-dropdown-standard  class="m-1" ng-model="fd.Parameters.CalculateFunction" selected-items="fd.Parameters.CalculateFunction" 
                    is-multiple="false"  name="Parameters.CalculateFunction{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.calculateFunctions" 
                    dropdown-id="'Parameters.CalculateFunction'+fd.PresentationId" parent-form-id="'viewChartProperties'+fd.PresentationId"
                    search-text="'Select function'"></kt-dropdown-standard>
        </div>
        
        
         <div class="col-24">
            <label class="pl-0 label-xs text-muted" for="nameField"> Select index </label>
             <input type="text" class="form-control" ng-model="fd.Parameters.SelectedChartAnalytics"  />
        </div>
        
  
        
         <!-- EXTENDED PROPERTIES  -->
        <div class="col-24 mt-1" id="extendedPropertyPanel"><!--collapse show-->
        
            <div class="expand-property-panel tag border-bottom border-success  my-1 py-1" data-toggle="collapse" href="#elementSize{{fd.PresentationId}}" role="button" aria-expanded="true" aria-controls="extendedPropertyPanel">
                   <span class="col p-0"> 
                                            Chart type
                    </span> 
       
            </div>
            
            <div class="collapse show" id="elementSize{{fd.PresentationId}}">
            
                 <ul class="mt-2 nav prop-tabs small" >
                      <li  class="nav-item">
                        <a class="nav-link" ng-class="{'active bold ':!fd.localVars.isCounter}"  ng-click="fd.localVars.isCounter = false; fd.Parameters.chartType = null">
                            Standard chart</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " ng-class="{'active bold ':fd.localVars.isCounter}"   ng-click="fd.localVars.isCounter = true;fd.Parameters.chartType='counter'">
                            Counter element</a>
                      </li>
                </ul>
                
                
                <!--COUNTER PROPERTIES  {id:99,name:'counter'} -->    
                <div ng-if="fd.localVars.isCounter" class="prop-tab-content p-1  "  >
                    
                        <div class="">
                            <label class="pl-0 label-xs text-muted" > Chart Label </label>
                            <input type="text" class="form-control" ng-model="fd.Parameters.chartLabel"  />
                        </div>
                    
                    
                        <div>
                            <div class="">
                                <label class="pl-0 label-xs text-muted" > Use 1000s separator </label>
                                 <input ng-disabled="fd.Parameters.disableFormatting" type="checkbox" class="form-control form-control-xs" ng-model="fd.Parameters.useGroupingSeparator "  />
                            </div>
                            
                               <div class="">
                                <label class="pl-0 label-xs text-muted" > Decimal Places </label>
                                 <input ng-disabled="fd.Parameters.disableFormatting" type="text" class="form-control" ng-model="fd.Parameters.chartFractionDigits"  />
                             </div>
                             
                             <div class="">
                            <label class="pl-0 label-xs text-muted" > Disable formatting </label>
                             <input type="checkbox" class="form-control form-control-xs" ng-model="fd.Parameters.disableFormatting"  />
                        </div>
 
                        </div>
                        
                        
                     
                        
                         <div class="">
                                <label class="pl-0 label-xs text-muted" > Counter Units  </label>
                                 <input type="text" class="form-control" ng-model="fd.Parameters.CounterUnits"  />
                            </div>
                    
                    
                       <div class="  ">
                            <label class="label-xs text-muted"> Font size </label> 
                            <input  type="text"  ng-model="fd.Parameters.FontSize"   class="form-control form-control-xs" />
                        </div>
                        

                     <div class="">
                        <label class="pl-0 label-xs text-muted" > Chart filtering field  </label>
                        <input type="text" class="form-control" ng-model="fd.Parameters.chartFilterField"  />
                    </div>
                
                                             
                </div>
                
                <!--STANDARD CHART PROPERTIES-->  
                <div ng-if="!fd.localVars.isCounter"  class="prop-tab-content p-1 mb-4" >
                    
                     <div class="">
                          <label class="pl-0 label-xs text-muted" for="nameField">  Select Chart Type  </label>
                          <kt-dropdown-standard  class="m-1" ng-model="fd.Parameters.chartType" selected-items="fd.Parameters.chartType" 
                                    is-multiple="false"  name="Parameters.chartType{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.chartTypes" 
                                    dropdown-id="'Parameters.chartType'+fd.PresentationId" parent-form-id="'viewChartProperties'+fd.PresentationId"
                                    search-text="'Select chart type'"></kt-dropdown-standard>
                     </div>
                    
                    
                      <div class="">
                        <label class="pl-0 label-xs text-muted" > Chart Precision (x/y axes) </label>
                        <input type="text" class="form-control" ng-model="fd.Parameters.chartPrecision"  />
                    </div>
                    
                </div>   

        </div>    	     
       
    </div> <!-- EXTENDED-->

	  
  
                
    </div>      
 
 </div>
 