<div class="row m-0">

        <div class="col-sm-6">
          <label>Task name : </label>  {{taskDefinition.resourcedeflang_set[0].Name}}
        </div> 
        <div class="col-sm-6">
          <label >Task Definition Id : </label>  {{taskDefinition.id}}
        </div>
   
    
    
            <div class="col-sm-6">
              <label >Task subject : </label>  {{taskDefinition.resourcedeflang_set[0].Subject}}
            </div> 
            <div class="col-sm-6">
              <label>Created on : </label>  {{taskDefinition.resourcedeflang_set[0].CreatedDateTime | date:'dd.MM.yyyy HH:mm:ss.sss'}}
            </div>
    
    
  

     
        <div class="col-sm-12">
          <label >Task description : </label>  {{taskDefinition.resourcedeflang_set[0].Description}}
        </div> 

</div>