<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVars.actionButtonProps>0}">
   <div ng-if="gsrvc.getFormViewType()==1 || formParams.formViewType==1">
      
		<div class="row bg-light m-0 p-0 mb-1" ng-class="{'widget-head-active':localVars.actionButtonProps>0,'bg-light':localVars.actionButtonProps==0}">
           <div class="col-auto p-0">
                  <i class="far fa-comment-alt mx-2"></i><label >Task message ({{::fd.PresentationId}})</label>
                <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
             </div>
           
             
            <div class="col my-auto p-0">
                        <button type="button"  ng-click="localVars.showMessageDefinition=true" class="float-right btn btn-outline-primary btn-xs">
                            <i class="fa fa-plus mr-2"></i><span>Define message</span>
                      </button>
                </div>
               <div class="col-auto p-0">
                    
                     <div kt-task-dropdown2> </div>
                </div>	
		</div>
	</div>
	<div ng-if="localVars.showMessageDefinition && formParams.formViewType==1" class="p-2">
      <div kt-form-element-properties fd="fd" local-vars="localVars"></div>
		
   </div>

	
	
	 </div>
      
 
   </div>
  
  <div class="col" ng-if="gsrvc.getFormViewType()==2 && (taskDefinition.taskInitiateInstance.Status.Name=='ready' || taskDefinition.taskInitiateInstance.Status.Name=='claim') && localVars.formType=='i' && !fd.Parameters.AlwaysShow"> 
		<div ng-bind-html="localVars.ResponseMsg"></div> 
  </div>
  
  <div class="col" ng-if="gsrvc.getFormViewType()==2 && taskDefinition.taskExecuteInstance.Status.Name=='completed' && localVars.formType=='e' && !fd.Parameters.AlwaysShow"> 
		<div ng-bind-html="localVars.ResponseMsg"></div> 
  </div>
	
  <div class="col" ng-if="fd.Parameters.AlwaysShow"> 
		<div ng-bind-html="localVars.ResponseMsg"></div> 
  </div>	
	
  </div>

</div>