<div>
   <div class="panel panel-info" ng-if="!inputArray.locked">
      <div class="panel-heading" >
        <label >{{fd.placeholder}}</label>
                   
         <button type="button"  class="btn btn-light" ng-click="isCollapsedMapper=!isCollapsedMapper">
              <span class='fa fa-database'></span> Select dataset</button>
          
          
             
          <button type="button"  class="btn btn-light" ng-click="setReadOnly(dashboard.widgets[0],true)">
              <span class='fa fa-ban'></span> Mark all read only </button>
          
          <button type="button"  class="btn btn-light" ng-click="setReadOnly(dashboard.widgets[0],false)">
              <span class='fa fa-pencil'></span> Clear read only </button>
          
            
            <button type="button"  class="btn btn-light" ng-click="setRequired(dashboard.widgets[0],false)">
              <span class='fa fa-circle-o'></span> Mark all fields not required </button>
          
          <button type="button"  class="btn btn-light" ng-click="setRequired(dashboard.widgets[0],true)">
              <span class='fa fa-check-circle-o'></span> Mark all fields required </button>
          
            <button type="button"  class="btn btn-light" ng-click="setField(dashboard.widgets[0],'noUpdate',false)">
              <span class='fa fa-pencil'></span> Update all fields </button>
          
          <button type="button"  class="btn btn-light" ng-click="setField(dashboard.widgets[0],'noUpdate',true)">
              <span class='fa fa-times'></span> Don't update any field </button>
                 
        <div class="float-right" ng-show="!inputArray.locked">

                <a title="sort" class="sort-handle"><i  class="fa fa-sort"></i></a>
                <a style="display: inline-block" uib-popover-template="'mupdateproperties.html'" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top"><i class="fa fa-caret-square-o-right"></i> </a>
                <a href title="Interface" ng-click="openWidgetConnector()"><i class="fa fa-plug" style="color:red"></i></a> 
		           
                <a title="Hide field"  ng-click="removeField($index)"><i  class="fa fa-times"></i></a>
	
      </div>
      <br><label >Source: {{selectedResourceItem.src_type_text}}</label>
       <br><label >Dataset: {{selectedResourceItem.name_confirmed}}</label>
    </div>
       <div uib-collapse="!isCollapsedMapper">
          <div kt-dataset-mapper></div>
   
      </div>
            <div ng-if="fd.showWidgetConnector">
  
              <div class="modal-header">
                        <h3 class="modal-title">{{headline}} </h3>
                  <h5 > {{fd.listOfConnectors}} </h5>
              </div>
              <div class="modal-body">
                     
                    <table ng-repeat="selectedFileConnector in fd.listOfConnectors track by $index" style="background-color:rgba(136, 175, 11, 0.12)" class="table table-sm">
                   
                    <thead>
                  <tr>
                  <th style="width:80%">Widget: {{selectedFileConnector.name}}  ({{selectedFileConnector.widgetId}}) Dataset: {{selectedFileConnector.parentDatasetName}} ({{selectedFileConnector.datasetId}}) </th>
                  <th style="width:20%">Select</th>
                  </tr>
                </thead>
                
                <tbody>
                <tr ng-repeat="DEIlist in selectedFileConnector.DEI track by $index">
                    <td> 	{{DEIlist.name}} </td>
                    <td> <input type="checkbox" ng-model="DEIlist.value" > </td>
                    <td ng-if="DEIlist.params!=undefined"> 
                        <ui-select  ng-model="DEIlist.params.selectedItem"  on-select="onSelectCallback($item, $model)" ng-disabled="disabled" name="selectDataset{{fd.itemId}}" ng-required="false" reset-search-input="false" > 
          	
                        <ui-select-match class="ui-select-match" placeholder="Search or select parameter..."  >
                       <span>{{$select.selected.name}}
                          <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                      </span>
                  </ui-select-match>
           
                    <ui-select-choices class="ui-select-choices" repeat="pItem in (DEIlist.params.list | filter: { name: $select.search }) track by pItem.id" refresh="">
                  <span>{{pItem.name}} ({{pItem.id}})</span>
                  </ui-select-choices>
                  </ui-select>
                   </td>
                </tr>		   
                </tbody>
                </table>	
                  
                     
              </div>
              <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-click="okWidgetConnector()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancelWidgetConnector()">Cancel</button>
              </div>
   </div> <!-- showfile conector-->
   
       
       
  </div>
<script id="mupdateproperties.html" type="text/ng-template">
  <div>
		<div class="box-header-btns float-right" >		</div>
      <label>Label </label> <input type="text" class="form-control" ng-model="fd.placeholder"  />
		 <label>Error msg </label> <input type="text" class="form-control" ng-model="fd.errorMsg"  />
		 
     <label>SearchText </label> <input type="text" class="form-control" ng-model="fd.searchText"  />

     
      <div class="checkbox">
       <label>		<input type="checkbox" ng-model="fd.autoSearch" > Auto search	 </label>
		 </div>
      
     <div class="checkbox">
     
        <label> <input type="checkbox" ng-model="fd.showSearchForm" > Show search form  </label>
     </div>
</div>

</script>

  <div ng-if="fd.showSearchForm || !inputArray.locked">
  
  <div class="bg-info text-white"> Search form
    <button type="button" class="btn btn-link" ng-click="fd.collapseSearchForm = !fd.collapseSearchForm" ><span ng-class="{'fa fa-plus-square': fd.collapseSearchForm,'fa fa-minus-square': !fd.collapseSearchForm }" ></span></button>
  </div>
   <div class="sort-box" uib-collapse="fd.collapseSearchForm">
    
         <div kt-grid  grid-type="gridsterType" form-params="formParams" parent="dashboard.widgetsFilter" all-columns="dashboard.widgetsFilter" class="ktGrid"></div>
     
      
    </div>
     
    <div>
      <hr>
        <button type="button"  class="btn btn-light" ng-click="getResourceDataFiltered()"> 
        <span class='fa fa-search'></span> Get data</button>
      <hr> 

    </div>

  </div>
  <div ng-if="dataDownloading"><h4>Loading data...</h4></div>
  <div class="panel-default" ng-if="resourceDataDownloaded">
    <div class="panel-heading">
      <button type="button"  class="btn btn-info" ng-click="getFormResourceWithData()"> 
        <span class='fa fa-pencil'></span> Edit selected records</button>
      <button type="button" ng-if="dashboard.widgets.length>0 && updateFormLoaded"  class="btn btn-success" ng-click="saveDatasetRecordsMultiple()"> 
          <span class='fa fa-save'></span> Save changes</button>
            <button type="button" ng-if="dashboard.widgets.length>0 && updateFormLoaded"  class="btn btn-danger" ng-click="dashboard.widgets.length=0"> 
          <span class='fa fa-times'></span> Cancel changes</button>
    </div>
   
  </div>
    <div kt-grid  grid-type="gridsterType" form-params="formParams" parent="widgets" all-columns="widgets" class="ktGrid boxshadow" 
            ng-repeat="widgets in dashboard.widgets track by $index" ng-show="updateFormLoaded"></div>
  
    
  <div ui-grid="gridOptionsResourceData" ui-grid-selection ui-grid-resize-columns  ui-grid-move-columns ui-grid-save-state class="myGrid" ng-if="resourceDataDownloaded"> </div>
  
      
      
   
  
</div>