<div id="ktTaskProcInitiate" ng-style="{'z-index': {true:2,false:1}[localVars.OpenTaskType=='inline']}" ng-class="{'border rounded bg-white mt-1':!resourceDefinition.Parameters.HideHeader,'position-absolute w-100 shadow':localVars.OpenTaskType=='inline'}" ng-if="localVars.showTask">
		<form ng-submit="localVars.InitiateTask(forma)" name="forma" class="form-horizontal" role="form" novalidate>
			<div class="" ng-class="{'bg-light':localVars.OpenTaskType=='inline'}" ng-hide="resourceDefinition.Parameters.HideHeader">

				<div class="row m-0 border-bottom">
					<div class="col-auto my-auto" ng-show="localVars.ShowReturnBtn">
							<button  class="btn btn-outline-primary border-0 btn-xs" type="button" ng-click="returnToPreviousTask()">
							  <i class="fas fa-angle-left mr-1"></i>Return</button>
					</div>
					
					<div class="col m-auto text-center">
						<span class="h5">{{::resourceDefinition.subject}}</span>
					</div>
					<div class="col-auto text-right">
					  <button type="button" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#isCollapsed3IdisCollapsed3Id{{localVars.inlineTaskDefinition.transaction_id}}"
							  aria-expanded="true" aria-controls="isCollapsed3Id{{localVars.inlineTaskDefinition.transaction_id}}" ng-click="localVars.isCollapsed3 = !localVars.isCollapsed3" >
					  <span ng-class="{'fa fa-chevron-up': !localVars.isCollapsed3,'fa fa-chevron-down': localVars.isCollapsed3 }" ></span></button>
					</div>
				</div>
			</div>
			
			<div class="collapse"  ng-class="{'show':localVars.isCollapsed3}" id="isCollapsed3Id{{localVars.inlineTaskDefinition.transaction_id}}">
				<div class="" ng-if="!taskDefinition.AutoAssign && resourceDefinition.related==0">
										<div class="">                  
											Potential owners <button type="button" ng-click="resourceDefinition.isCollapsed = !resourceDefinition.isCollapsed" ><span ng-class="{'fa fa-chevron-down': resourceDefinition.isCollapsed,'fa fa-chevron-up': !resourceDefinition.isCollapsed }" ></span></button>
										</div>
									<div uib-collapse="resourceDefinition.isCollapsed" class="card-body">
												
											<div class=row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">Users
														 <button type="button" ng-click="resourceDefinition.isCollapsed1 = !resourceDefinition.isCollapsed1" ><span ng-class="{'fa fa-chevron-down': resourceDefinition.isCollapsed1,'fa fa-chevron-up': !resourceDefinition.isCollapsed1 }" ></span></button>
													</div>
													<div uib-collapse="resourceDefinition.isCollapsed1" class="card-body">
												
															 <div kt-select-users selected-items="potentialOwners.potentialOwnersUsers"></div>
														</div>
													 </div>
												 </div>
												<div class="col-lg-12">
												 <div class="card">
													<div class="card-header">Groups
															<button type="button" ng-click="resourceDefinition.isCollapsed2 = !resourceDefinition.isCollapsed2" ><span ng-class="{'fa fa-chevron-down': resourceDefinition.isCollapsed2,'fa fa-chevron-up': !resourceDefinition.isCollapsed2 }" ></span></button>
													</div>
													<div uib-collapse="resourceDefinition.isCollapsed2" class="card-body">
												
													<div kt-select-groups selected-items="potentialOwners.potentialOwnersGroups"></div> 
												</div>
											</div>
											
											</div>
										 </div>
										</div>
					</div>
					
					<div class="">
						<div kt-grid   grid-type="::gridsterType" resource-form-loaded="localVars.initiateFormLoaded" resource-definition="::taskDefinition" form-params="::resourceDefinition.formParams" hide-processing-animation="true" form-data="dashboard.data" parent="::dashboard.widgets" all-columns="::dashboard.widgets" class="ktGrid"></div>

						<div ng-if="errorMsg" ng-bind-html="errorMsg" class="p-4 mt-1">
					</div>  
					</div>
					<div ng-if="eosResponse!=null && eosResponse!=undefined" class="p-4 mt-1">
						<!--<div>Transaction id: <a href ng-click="showTransactionDetails=!showTransactionDetails"> {{eosResponse.transaction_id}}</a></div>-->
						<div> <a href ng-click="showTransactionDetails=!showTransactionDetails">Blockchain transaction details</a></div>
						<div ng-show="showTransactionDetails"><pre>{{::eosResponse}}</pre></div>
					</div>
					<div ng-if="eosResponse2!=null && eosResponse2!=undefined" class="p-4 mt-1">
						<div><a href ng-click="showRecordDetails=!showRecordDetails"> Blockchain record </a></div>
						<pre ng-show="showRecordDetails">{{::eosResponse2}}</pre>
					</div>

					       
									 
					<div class="m-1" ng-if="false">
				
		
						 <div class="row m-0" ng-if="resourceDefinition.formParams.formViewType==2">
								<button type="submit" ng-if="!localVars.taskInitiated" class="btn {{resourceDefinition.initTaskBtnDef.initTaskBtnStyle}}">
									<span  class="{{resourceDefinition.initTaskBtnDef.initTaskBtnIcon}} mr-2"></span>{{resourceDefinition.initTaskBtnDef.initTaskBtnTxt}}</button>
							 
						 
								<button type="button" ng-if="!localVars.taskInitiated" ng-click="localVars.CancelClicked()" class="btn {{resourceDefinition.initTaskBtnDef.cancelBtnStyle}} ml-2">
									<span class="{{resourceDefinition.initTaskBtnDef.cancelBtnIcon}} mr-2"></span>{{resourceDefinition.initTaskBtnDef.cancelBtnTxt}}</button>
								
								<button type="button" ng-if="localVars.taskInitiated && localVars.OpenTaskType=='inline'" ng-click="localVars.CancelClicked()" class="btn {{resourceDefinition.initTaskBtnDef.cancelBtnStyle}} ml-2">
									<span class="fa fa-arrow-circle-left mr-2"></span>Go back</button>
								
								<button type="button" ng-if="localVars.taskInitiated && localVars.OpenTaskType=='inline'" ng-click="localVars.CancelClicked()" class="btn {{resourceDefinition.initTaskBtnDef.cancelBtnStyle}} ml-2">
									<span class="fa fa-times mr-2"></span>Close task</button>
								
								<button type="button"  ng-if="localVars.taskInitiated && !localVars.fromOutcome" ng-click="localVars.StartNewTask()" class="btn btn-outline-success ml-2">
									<span class="{{resourceDefinition.initTaskBtnDef.newBtnIcon}} mr-2"></span>New {{resourceDefinition.name}} {{resourceDefinition.initTaskBtnDef.newBtnTxt}}</button>
													
						 </div>
					</div>
													 
				</div>
									 
		
		</form>
</div>