<div class="widget-head" >
   
      
  <div ng-if="!fd.localVars.formLoaded" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>

  <div ng-if="fd.localVars.formLoaded && fd.localVars.dataDownloaded">
				<div class="m-2 text-right" ng-if="fd.localVars.resourceWidgetDefinition.IsBlockchain">
					<button type="button" ng-if="fd.showTransaction" class="btn btn-sm btn-link mr-3" ng-click="fd.showTransaction=false" >Hide transaction</button>
					
					<button type="button" class="btn btn-sm btn-outline-primary mr-3" ng-click="fd.get_transaction()" >Get transaction</button>
					<button type="button" class="btn btn-sm btn-outline-primary" ng-click="fd.verify_blockchain_data()" >Verify data</button>
				</div>
				
				<div class="p-2" ng-if="fd.PopulateMethod=='M'">
					<div class="my-2 text-center border-bottom h6">Search form</div>
					
					<div kt-grid grid-type="::fd.localVars.gridsterType" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="0" resource-record-id="0"
						resource-definition="::taskDefinition" form-params="::fd.localVars.formParams" form-params-parent="::formParams" form-data="fd.localVars.searchFilter" parent="::fd.localVars.dashboard.searchForm" all-columns="::fd.localVars.dashboard.searchForm" class="ktGrid mb-1">
	        </div>
					
	         <div class="col mb-2 border-bottom" >
						
							<div class="my-2">
								<button  type="button"  class="btn btn-primary" title="Get dataset record" ng-click="fd.localVars.GetRecord()">
													<i  class="fa fa-cog"></i>	 <span>{{fd.ParametersLang.GetRecordBtnLabel}}</span> <span ng-if="!fd.ParametersLang.GetRecordBtnLabel">Get Record</span> 
								</button>
							</div>
					</div>
				</div>
				<div class="col-lg-24" ng-if="fd.showTransaction"><pre>{{fd.BlockChainTransaction}}</pre></div>
	      <div ng-if="formData[fd.PresentationId].length>0" kt-grid grid-type="::fd.localVars.gridsterType" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="::fd.ParentResourceDefId" resource-record-id="fd.localVars.resourceRecordId"
					resource-definition="::resourceDefinition" form-params="::fd.localVars.formParams" form-params-parent="::formParams" form-data="formData[fd.PresentationId]" parent="::fd.localVars.dashboard.widgets" all-columns="::fd.localVars.dashboard.widgets" class="ktGrid">
          </div>

        <div class="text-right" ng-if="fd.Parameters.ShowAuditInfo">

                         <div class="small">
                            <span ng-bind="fd.localVars.CreatedByLabel"></span>
                         </div>

                      	
                      	   <div ng-if="fd.localVars.HasChangedBy" class="small">
                            <span ng-bind="fd.localVars.ChangedByLabel"></span>
                         </div>

                      
                                   
                             
				</div>
  
  </div>

</div>