<div class="card mt-2 py-0">
      <div>
				<button type="button"  ng-click="tds.showHideTaskForm('')" class="btn btn-xs btn-secondary m-0">
                               <span class='fa fa-times text-danger'></span> Close form definition
				</button>
			</div> 
      <div class="h4 text-center">{{resourceDefinition.name}} - <span ng-if="formType=='i'">Task creator form definition</span><span ng-if="formType=='e'">Task owner form definition</span></div>
 
</div>

     <div class="card row m-0 mt-2 p-1" ng-if="taskDefinition.form_type=='e'">
           <form id="saveTaskOutcomes" name="saveTaskOutcomesForm" class="form-horizontal" role="form" novalidate>
            
               <div kt-outcome-def-list outcomes="outcomes.outcomeCodesDetails" selected-outcome-index="outcomes.selectedOutcomeIndex" task="taskDefinition" selected-outcome-id="selected.outcomeHeadId"></div>
               
                   <button type="button"  ng-disabled="saveTaskOutcomesForm.$invalid" ng-click="saveTaskOutcomes(saveTaskOutcomesForm.$valid)" class="btn btn-secondary">
                                <span class='fa fa-save'></span>&nbsp Save task outcomes</button>
             
           </form>
  </div>

<form ng-submit="saveTaskForm()" id="forma" name="form" class="form-horizontal" ng-class="{'edit-mode':resourceDefinition.formParams.formViewType==1}" role="form" novalidate>
	
<div class="card row m-0 mt-2 p-1" id="taskToolboxId" ng-style="(resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4) && gsrvc.getTopForSticky(0)" ng-class="{'form-btns-top position-sticky':resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}">
 
			
		   <div class="col-lg-24 justify-content-center">
						<span ng-if="resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4" class="badge badge-info rounded mr-2 text-white">Editing</span>
							<span class="h6">Task form definition</span>
			</div>
							
			<div class="col-lg-24" >
												<button title="Form view"  type="button" class="btn btn-sm btn-light" ng-class="{'btn-primary': resourceDefinition.formParams.formViewType ==2 ,'btn-light': resourceDefinition.formParams.formViewType!=2,'color:black text-white': resourceDefinition.formParams.formViewType==2}" ng-click="ShowFormView(2,true)">
																																				<i class="far fa-newspaper fa-lg" ></i> &nbsp Preview
																																				
												</button>
												
												<button title="Edit form view" ng-disabled="resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4"  type="button" class="btn btn-sm btn-light ml-3" ng-class="{'btn-primary': resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4 ,'btn-light': resourceDefinition.formParams.formViewType==2,'color:black text-white': resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}" ng-click="ShowFormView(1,false)">
																<i  class="fa fa-window-restore fa-lg"></i> &nbsp Edit task form 
												</button>
												
												 <button type="submit" id="clearBtn" ng-if="resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4" class="btn btn-sm btn-success ml-3">
                                <span class='fa fa-save'></span>&nbsp Save {{resourceDefinition.name}} form</button>
       								
       </div>     
 

</div>
 <div class="row m-0 mt-2 p-1" >
				
      <div ng-class="{'p-0 col-lg-20 card':resourceDefinition.formParams.formViewType==1,'build-mode':resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4,'p-0 col-lg-24 card':resourceDefinition.formParams.formViewType==2 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}">
            <div kt-grid  grid-type="gridsterType"  task-definition="taskDefinition" form-params="resourceDefinition.formParams" form-data="dashboard.data" parent="dashboard.widgets" all-columns="dashboard.widgets" class="ktGrid"></div>

      </div>
     
		<div class="border-0 p-0 col-lg-4 sticky" style="overflow-y: auto;top:130px;max-height: calc(100vh - 7rem);" ng-if="resourceDefinition.formParams.formViewType==1">
				<div class="p-1">
					<div class="card m-0" ng-if="showFieldProperties">
							<div class="card-header bg-light p-0">
									<span class="ml-1 label-xs bold">Properties</span>
									<button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" ng-click="showHideProperties(false)">
																					<small><span class="fa fa-times"></span></small>
									</button>
							</div>
					</div>
					<div class="mt-2 p-1" ng-if="showFieldProperties" kt-form-element-properties local-vars="localVars" fd="selectedField"></div>
				</div>  
		</div>
		
 </div>
</form>
<div class="card mt-2" ng-if="taskDefinition.form_type=='i'">
                      
                  
                           <div class="p-2" ng-if="resourceDefinition.formParams.formViewType==2">
                              <button type="button" class="btn {{resourceDefinition.initTaskBtnDef.initTaskBtnStyle}}">
                                <i  class="{{resourceDefinition.initTaskBtnDef.initTaskBtnIcon}}"></i>
																<span class="ml-1"> {{resourceDefinition.initTaskBtnDef.initTaskBtnTxt}}</span>
															</button>
                             
                           
                              <button type="button"  class="btn {{resourceDefinition.initTaskBtnDef.cancelBtnStyle}} ml-1">
                                <i class="{{resourceDefinition.initTaskBtnDef.cancelBtnIcon}}"></i>
																<span class="ml-1"> {{resourceDefinition.initTaskBtnDef.cancelBtnTxt}}</span>
															</button>
                             </div>
                            
                           <div class="row m-0 p-2" ng-if="resourceDefinition.formParams.formViewType!=2">
                               
                                  <div class="col-lg-6 p-1">
																		<div class="row m-0">
																			<label>Start task button text </label>
																			<input type="text" class="form-control" ng-model="resourceDefinition.initTaskBtnDef.initTaskBtnTxt"  />
																		</div>
                                    <div class="row m-0">
                                      <div kt-icon-picker select-colors="true" select-icons="true" btn-label="resourceDefinition.initTaskBtnDef.initTaskBtnTxt" selected-icon="resourceDefinition.initTaskBtnDef.initTaskBtnIcon" selected-button="resourceDefinition.initTaskBtnDef.initTaskBtnStyle" ></div>
                                    </div>
                                  </div>
                                  
                                  <div class="col-lg-6 p-1">
																		<div class="row m-0">
																			<label>Cancel task button text </label>
																			<input type="text" class="form-control" ng-model="resourceDefinition.initTaskBtnDef.cancelBtnTxt"  />
																		 </div>
                                    <div class="row m-0">
                                      <div kt-icon-picker select-colors="true" select-icons="true" btn-label="resourceDefinition.initTaskBtnDef.cancelBtnTxt" selected-icon="resourceDefinition.initTaskBtnDef.cancelBtnIcon" selected-button="resourceDefinition.initTaskBtnDef.cancelBtnStyle" ></div>
                                    </div>
                                  </div>
                  
                               
                            </div>
                           
                    <div ng-if="!resourceDefinition.formParams.formLocked" >
                       <br>
                       <button type="button" class="btn btn-info btn-sm" ng-click="saveTaskBtns()">
                        <span class='fa fa-save'></span>&nbsp Save task buttons
                      </button>
              </div>
    </div>
				

</div>