<div class="widget-head">
  

	 <div class="p-1" ng-if="results.data.length==0 && !localVars.firstTime && localVars.dataLoaded">
			<div class="h5">{{fd.ParametersLang.NoDataMsg}}</div>
		</div>
		
   <div> 
     <!-- <div ng-if="(localVars.totalCount!=1 && formParams.formViewType==2) || (localVars.totalCount==1 && formParams.formViewType==2 && localVars.detailsClicked) || (localVars.showForm && formParams.formViewType==1)" class="sort-box">-->
      <div class="row" ng-if="!localVars.dataLoaded" ng-class="{'processing-overlay':!localVars.dataLoaded}" kt-processing-animation show-msg="true" show-as-card="true" message="Loading task data"></div>
           
	<div class="px-1 pt-1">
                            
                             <button type="button"  ng-click="localVars.getTaskExecuteData(task_initiate_id,task_execute_id);localVars.detailsClicked=true" class="btn btn-outline-primary btn-sm" ng-disabled="!localVars.taskSelected">
                                <span class='fas fa-cogs'></span> {{::fd.ParametersLang.DetailsBtnLabel}} </button>
                           
                             <button type="button" ng-click="fd.pageChanged()" class="btn btn-outline-primary btn-sm" >
                                <span class='fas fa-sync'></span> {{::fd.ParametersLang.RefreshDataBtnLabel}}</button>
                           
       </div>
       <div class="border-top mt-1">
											     
            
			 <div kt-smart-table set-fn-refresh-data="setDirectiveFnRefreshData(theDirFn)" kt-refresh-data="fd.getTaskList(pageNumber,pageSize)" items-on-page="localVars.pageSize" row-selected-change="fd.rowSelectionChanged(item)"></div>
              
        <div kt-execute-task-widget></div>
		
		
    </div>
 </div>  
</div>    
 

