<div class="p-1">	 
                
           <div class="control-group" ng-if="!localVars.showInlineTask" >
                <div class="btn-group" ng-show="taskExe.Status.Name!='completed'">
                  <button ng-repeat="outcome in outcomes track by $index" type="button" ng-click="localVars.ProcessOutcome(outcome)" class="btn {{outcome.btnClass}}">
                   {{outcome.btnName}}  <span  class="fa fa-{{outcome.icon}}"></span>&nbsp </span>
                  </button> 
                </div>
             
           </div>
     
          <div ng-show="localVars.showInlineTask">
             <div kt-task-proc-directive fd="fd" local-vars="localVars" task-definition="taskDefinition"> </div>
         </div>
</div>   

