  <div class="row m-0">
     <label class="col-sm-3">Task name</label>
     <div class="col-sm-6"><b>{{tName}}</b></div> 
  </div>
   <div class="row m-0">
     <label class="col-sm-3">Task status</label> <div class="col-sm-6"><b>{{tInit ? tInit.Status.Name : tExe.Status.Value}}</b></div>
  </div>
  <div class="row m-0">
     <label class="col-sm-3">Start instance ID</label> <div class="col-sm-6"><b>{{tInit ? tInit.id : tExe.TaskInitiateId.id}}</b></div>
  </div>
  <div class="row m-0">
     <label class="col-sm-3">Started on</label> <div class="col-sm-6"><b>{{tInit ? tInit.CreatedDateTime : tExe.TaskInitiateId.CreatedDateTime | date:'dd.MM.yyyy HH:mm:ss.sss'}}</b></div>
  </div>
  <div class="row m-0">
     <label class="col-sm-3">Execute instance ID</label> <div class="col-sm-6"><b>{{tExe.id}}</b></div>
  </div>
  <div class="row m-0">
     <label class="col-sm-3">Execute instance created on</label> <div class="col-sm-6"><b>{{tExe.CreatedDateTime | date:'dd.MM.yyyy HH:mm:ss.sss'}}</b></div>
  </div> 
 