<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVars.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':localVars.datasetMapperType>0,'bg-light':localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0">
          <i class="fa fa-globe mx-2"></i><label >Integration widget ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
       <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="localVars.showProperties(1)" ng-class="{'btn-warning':localVars.name_confirmed!='' && localVars.name_confirmed!=undefined,
			  'btn-outline-primary no-border':localVars.name_confirmed=='' || localVars.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="localVars.name_confirmed!='' && localVars.name_confirmed!=undefined">{{localVars.name_confirmed}}</span>
				<span ng-if="localVars.name_confirmed=='' || localVars.name_confirmed==undefined">Select integration</span>
			  </button>
			</div>
        <div class="col-auto p-0" ng-if="localVars.name_confirmed!='' && localVars.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVars.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
						<a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="localVars.showForm=!localVars.showForm"><i ng-class="{'fas fa-eye-slash':!localVars.showForm,'fas fa-eye':localVars.showForm}"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
			 
              <div kt-task-dropdown2> </div>
			
		</div>
	 </div>
      
        <div ng-if="localVars.datasetMapperType>0" class="mb-2">
           <div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
         </div>
      
		<div ng-if="!localVars.formLoaded && (localVars.datasetMapperType==2 || formParams.formViewType==2)" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>

  <div ng-if="localVars.formLoaded && (localVars.datasetMapperType==2 || formParams.formViewType==2)">
	
	<div class="mt-1 p-2 text-primary" ng-if="localVars.formLoaded && localVars.dashboard.widgets.layout.length==0" >
		<span>Form is not defined or empty</span>
		<button  type="button"  class="btn btn-primary ml-2" ng-click="localVars.getFormResourceOriginal()">
				 Load original form
		</button></div>
	
          <div kt-grid grid-type="localVars.gridsterType" task-form-loaded="localVars.formLoaded" parent-dataset-def-id="fd.ParentDatasetDefId" dataset-record-id="localVars.datasetRecordId"
					task-definition="taskDefinition" form-params="localVars.formParams" form-params-parent="formParams" form-data="formData[fd.PresentationId]" parent="localVars.dashboard.widgets" all-columns="localVars.dashboard.widgets" class="ktGrid">
          </div>
	<div class="p-2" ng-if="localVars.formLoaded && localVars.dashboard.widgets.layout.length>0">
			<button  type="button"  class="btn btn-success" ng-click="localVars.callApi()">
				 {{fd.Parameters.CallApiBtnLabel}}<i  class="ml-2 fa fa-cog"></i>
			 </button>
   </div>
  </div>

</div>