<div id="ktTaskProcExecute" ng-class="{'mt-0 mb-3':localVars.OpenTaskType!='newPage','card mt-1':localVars.OpenTaskType=='newPage'}">
<form name="forma" class="form-horizontal" ng-init="setForm(forma)" role="form" novalidate>
	
   <div class="" ng-hide="::resourceDefinition.Parameters.HideHeader">

                <div class="row m-0 border-bottom">
							<div class="col-auto my-auto" ng-show="::localVars.ShowReturnBtn">
								<button  class="btn btn-outline-primary border-0 btn-xs" type="button" ng-click="returnToPreviousTask()">
								  <i class="fas fa-angle-left mr-1"></i>{{::fd.ParametersLang.ReturnBtnLabel}}</button>
							</div>
					
							<div class="col-auto my-auto" ng-show="::localVars.ShowCloseBtn">
							<button  class="btn btn-outline-danger border-0 btn-xs" type="button" ng-click="fd.CancelClicked()">
							  <i class="fa fa-times mr-1"></i>{{::fd.ParametersLang.CloseBtnLabel}}</button>
						  </div>
							<div class="col m-auto text-center">
								<span class="h5">{{::resourceDefinition.Subject}}</span>
								<span ng-if="taskExecuteInstance.length>0" class="h6 text-muted ml-3">( id = {{::taskExecuteInstance[0].id}} )</span>

								<span ng-show="taskExecuteInstance.Status.Name=='completed'" class="ml-3 h6 text-warning">Task is completed!</span>       

							</div>
							<div class="col-auto text-right">
							  <button type="button" class="btn btn-link btn-sm" data-toggle="collapse" data-target="#isCollapsed3Id{{::taskDefinition.transaction_id}}"
									  aria-expanded="true" aria-controls="isCollapsed3Id{{::taskDefinition.transaction_id}}" ng-click="lVars.changeIsCollapsed3()" >
							  <span ng-class="{'fa fa-chevron-down': lVars.isCollapsed3==false,'fa fa-chevron-up': lVars.isCollapsed3 }" ></span></button>
							</div>
					 </div>
  </div>
   
   <div class="m-0 mb-1" ng-if="taskInitiateInstance[0].Status.Name=='ready' && taskExecuteInstance.length==0">
                <div class="p-1 border-bottom shadow-sm">                  

                            <button  ng-click="ExecuteTaskAction('claim')" type="button" class="btn btn-outline-primary btn-xs">
                                <span class='far fa-hand-rock'></span><span class="ml-1"> Claim task </span></button>    
      
              </div>
               
   </div>
   
	                
	
             
	
	<div class="card m-0 mb-1" ng-if="false">
                <div class="card-header p-1">                  
                      <div ng-show="taskExecuteInstance.Status.Name!='completed'" class="control-group">
                            <span>Task info</span>       
                            <button ng-if="taskInitiateInstance[0].Status.Name=='ready' && taskExecuteInstance.length==0" ng-click="ExecuteTaskAction('claim')" type="button" class="btn btn-light">
                                <span class="fa fa-hand-grab-o mr-2"></span> Claim task </button>    
                              <button ng-if="taskExecuteInstance!=undefined && taskExecuteInstance[0].Status.Name!='ready' && !taskDefinition.AutoStart" type="button" class="btn btn-light" >
                                <span class="fa fa-play mr-2"></span> Start task</button>
                                  <button ng-click="ExecuteTaskAction('OnHold')" ng-if="taskExecuteInstance!=undefined && taskExecuteInstance.length>0 && taskExecuteInstance[0].Status.Name!='ready'" type="button" class="btn btn-light" >
                                <span class="fa fa-pause mr-2"></span> Pause task</button>
                                    <button ng-click="ExecuteTaskAction('InProgress')" ng-if="taskExecuteInstance!=undefined && taskExecuteInstance.length>0 && taskExecuteInstance[0].Status.Name!='ready'" type="button" class="btn btn-light" >
                                <span class="fa fa-refresh mr-2"></span> Resume task</button>
                                      <button ng-if="taskExecuteInstance!=undefined && taskExecuteInstance[0].Status.Name!='ready' && taskDefinition.CanDelegate" type="button" class="btn btn-light" >
                                <span class="fa fa-hand-o-right mr-2"></span> Delegate task</button>
                                      <button ng-if="taskExecuteInstance!=undefined && taskExecuteInstance[0].Status.Name!='ready' && taskDefinition.CanRelease" type="button" class="btn btn-danger" >
                                <span class="fa fa-close mr-2"></span> Release task</button>
                                      
                                      
                                      
                            <button ng-if="false" class="btn btn-link float-right" type="button" ng-click="isCollapsedTaskDetails = !isCollapsedTaskDetails"
                                    data-toggle="collapse" data-target="#isCollapsedTaskDetails{{::taskInitiateInstance[0].id}}{{::taskExecuteInstance[0].id}}" role="button" aria-expanded="true" aria-controls="isCollapsedTaskDetails{{::taskInitiateInstance[0].id}}{{::taskExecuteInstance[0].id}}">
                               <span ng-class="{'fa fa-chevron-down': isCollapsedTaskDetails,'fa fa-chevron-up': !isCollapsedTaskDetails }" ></span>
                            </button>
                 
                      </div>
                        
                          <button ng-show="taskExecuteInstance.Status.Name=='completed'" class="btn btn-link float-right" type="button" ng-click="isCollapsedTaskDetails = !isCollapsedTaskDetails"
                                  data-toggle="collapse" data-target="#isCollapsedTaskDetails{{taskInitiateInstance[0].id}}{{taskExecuteInstance[0].id}}" role="button" aria-expanded="false" aria-controls="isCollapsedTaskDetails{{taskInitiateInstance[0].id}}{{taskExecuteInstance[0].id}}">
                               <span ng-class="{'fa fa-chevron-down': isCollapsedTaskDetails,'fa fa-chevron-up': !isCollapsedTaskDetails }" ></span>
                            </button>
                   
              </div>
              <div ng-if="false" class="collapse" id="isCollapsedTaskDetails{{::taskInitiateInstance[0].id}}{{::taskExecuteInstance[0].id}}" >
               
                  <div kt-task-details t-init="::taskInitiateInstance[0]" t-exe="::taskExecuteInstance[0]" t-name="::resourceDefinition.name"></div>
                
              </div>
    </div>

  <div class="collapse show" id="isCollapsed3Id{{taskDefinition.transaction_id}}">
     
      <div class="p-0">
			
        <div kt-grid  grid-type="::gridsterType"  resource-form-loaded="localVars.initiateFormLoaded" resource-definition="::taskDefinition" form-params="::resourceDefinition.formParams" form-data="dashboard.data" parent="::dashboard.widgets" all-columns="::dashboard.widgets" class="ktGrid" hide-processing-animation="true"></div>
      
     </div>
	</div>		           
</form>
</div>