<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVars.showAddTask || localVars.selectedTaskIndex>-1}">
   <div ng-if="(gsrvc.getFormViewType()==1 || formParams.formViewType==1) && formParamsParent.formViewType!=2">
      
		<div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':localVars.showAddTask,'bg-light':!localVars.showAddTask}">
       <div  class="col-auto p-0">
          <i class="far fa-square mx-2"></i><label >Task container ({{::fd.PresentationId}})</label>
       <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
       
        <div class="col my-auto text-right p-0">
					  <a href  class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVars.showProperties=!localVars.showProperties"><i class="fas fa-cog"></i> </a>	
         			
			</div>
            
                <div class="col-auto p-0">
		
                    <div kt-task-dropdown2> </div>
                 
				</div>	
			</div>
		</div>  
	
	
  </div>
  <div ng-if="localVars.showProperties && gsrvc.getFormViewType()==1">
		<div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
  </div>
  <div ng-if="gsrvc.getFormViewType()==2"> 
   
		
		
      <div  ng-repeat="sTask in localObj.loadedTasks track by taskId">
    
      	<div kt-task-proc-directive fd="fd" local-vars="sTask.localVars" task-definition="resourceDefinition"></div>
           
      </div>
  </div>

</div>