<div class="mb-1 widget-head" ng-class="{'widget-active':localVars.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 bg-light" ng-class="{'widget-head-active':localVars.datasetMapperType>0,'bg-light':localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0 bg-gray-100">
          <i class="fa fa-file-pdf mx-2"></i><label >View Dataset as pdf({{fd.PresentationId}})</label>
       <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		<div class="col text-right my-auto">
			  <button type="button"  ng-click="localVars.showProperties(1)" ng-class="{'btn-warning':localVars.selectedResourceItem.name_confirmed!='' && localVars.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':localVars.selectedResourceItem.name_confirmed=='' || localVars.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="localVars.selectedResourceItem.name_confirmed!='' && localVars.selectedResourceItem.name_confirmed!=undefined">{{localVars.selectedResourceItem.name_confirmed}}</span>
				<span ng-if="localVars.selectedResourceItem.name_confirmed=='' || localVars.selectedResourceItem.name_confirmed==undefined">Select dataset</span>
			  </button>
		</div>
            
        <div class="col-auto p-0" ng-if="localVars.selectedResourceItem.name_confirmed!='' && localVars.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVars.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	    
        </div>
        
		<div class="col-auto p-0">
			 <div class="dropdown d-inline-block" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}">
							<a href class="btn btn-outline-danger border-0 btn-sm" title="Remove field" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i  class="fa fa-trash"></i>
							</a>
							<div class="dropdown-menu shadow p-0 dropdown-max-content-width" aria-labelledby="dropdownMenuButton">
								<div class="card-header p-0 px-1 bg-light">
									 
									 <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete widget confirmation</span></span>
									 
								</div>
								<div class="m-1">
									 <div class="m-1 small bold text-dark">Click Confirm to delete widget! </div>
									 <div ng-if="false" class="ml-1 small text-dark">This action may result in a loss of data!</div>
								</div>
								<div class="p-1">
									 <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="removeField($index)">
										 Confirm <i  class="ml-2 fa fa-check"></i>
									 </button>
								</div>
							</div>
			</div>
			
		</div>
		
	</div>
      
            
    <div ng-if="localVars.isCollapsedMapper==false || localVars.datasetMapperType>0 && formParams.formViewType==1" class="p-2 mb-2">
           <div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
    </div>


    <div ng-show="(fd.ShowSearchForm && formParams.formViewType==2) || (localVars.datasetMapperType==2 && formParams.formViewType==1)" class="">
      <div class="p-0 border-bottom">
       
          <div class="row m-0 p-1 bg-primary-light text-primary">
						<div class="col">
                             <i class="fa fa-search"></i> 
                             <!--<span class="ml-2">{{fd.SearchText}}</span>-->
						</div>
						<div class="col-auto px-0">
                <button type="button" class="btn btn-outline-primary btn-xs" data-toggle="collapse" data-target="#isCollapseId{{::fd.id}}"
                        aria-expanded="{{lVars.isCollapsed}}" aria-controls="isCollapsedId{{::fd.id}}" ng-click="lVars.isCollapsed = !lVars.isCollapsed" >
                  <span ng-class="{'fa fa-minus': !lVars.isCollapsed,'fa fa-plus': lVars.isCollapsed }" ></span></button>
						</div>
          </div>    
      </div>
			
     <div class="collapse show" id="isCollapseId{{::fd.id}}">
       <div ng-if="!localVars.formLoaded && localVars.datasetMapperType==2" class="row m-0 border-0"  kt-processing-animation-timeline animation-type="form" show-msg="false" message="Loading form..."></div>

			<div ng-if="(localVars.datasetMapperType==2 || formParams.formViewType==2)">
				<div class="mt-1 p-2 text-primary" ng-if="localVars.formLoaded && localVars.dashboard.widgets.layout.length==0" >
					
					<span class="mr-3">Form is not defined or empty</span>
					 <button  type="button"  class="btn btn-primary" title="Confirm" ng-click="localVars.getFormResourceOriginal()">
										 Reload dataset from <i  class="ml-2 fas fa-sync"></i>
					</button>
				</div>   
					<div kt-grid grid-type="localVars.gridsterType" show-search-filters="localVars.showSearchFilters" resource-form-loaded="localVars.formLoaded" parent-dataset-def-id="fd.ParentDatasetDefId" dataset-record-id="localVars.datasetRecordId"
						resource-definition="taskDefinition" form-params="localVars.formParams" form-params-parent="formParams" form-data="formData[fd.PresentationId]" parent="localVars.dashboard.widgets" all-columns="localVars.dashboard.widgets" class="ktGrid">
					</div>
  
			</div>
				<div>
					
			</div>
		</div>
   
   </div>
  
   
   <div class="row m-0 mt-2">
	
		<div ng-if="fd.Parameters.ShowGetDataButton" class="col-auto my-auto">
			   <button type="button"  class="btn btn-outline-primary btn-sm " ng-click="localVars.GetDatasetDataClick()"> <!-- migor dodao u ng-click -->
				 <i ng-if="(fd.ShowSearchForm && formParams.formViewType==2) || (localVars.datasetMapperType==2 && formParams.formViewType==1)" class="fa fa-database"></i>
				  <span ng-if="(fd.ShowSearchForm && formParams.formViewType==2) || (localVars.datasetMapperType==2 && formParams.formViewType==1)">{{fd.ParametersLang.GetDataBtnLabel}}</span>
				 
				 <i ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)" class="fas fa-sync"></i>
				  <span ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)">{{fd.ParametersLang.GetDataBtnLabel}}</span>
		 
			   </button>
		 </div>
		<div class="col my-auto" ng-style="{'visibility': (localVars.resourceDataDownloaded && localVars.gridApi.selection.getSelectedRows().length>0 && (formParams.formViewType==2 || (formParams.formViewType==1 && localVars.datasetmapperType==5))) ? 'visible':'hidden'}">
			<div kt-initiate-task-widget ng-if="localVars.gridApi.selection.getSelectedRows().length>0"></div>

		</div>
	</div>
						
	<div class="row m-1">
						
		<div class="col text-right" ng-if="formDefinition && fd.Parameters.PresentationType=='table' && localVars.datasetMapperType==2 && formParams.formViewType==1">
							 <button class="btn btn-primary btn-sm" type="button" ng-click="localVars.saveGridState()">Save grid state</button>
		</div>				
	</div>
    
    
	<div ng-if="fd.Parameters.PresentationType=='table'">
		
		<div class="card border-0 mt-1 p-2 text-primary" ng-if="localVars.gridOptionsResourceData.data.length==0 && !fd.initialLoad" >{{fd.ParametersLang.NoDataMsg}}</div>   
		<div class="card border-0 mt-1" style="min-height:495px" ng-show="((formParams.formViewType==2 && (localVars.resourceDataDownloading || localVars.gridOptionsResourceData.data.length>0)) || (formParams.formViewType==1 && localVars.datasetMapperType==2))">
			
			<div ng-if="((formParams.formViewType==2 && (localVars.resourceDataDownloading || localVars.gridOptionsResourceData.data.length>0)) || (formParams.formViewType==1 && localVars.datasetMapperType==2))">
					<div ng-show="localVars.resourceDataDownloading" ng-class="{'processing-overlay': localVars.resourceDataDownloading }" kt-processing-animation-timeline animation-type="'table'" show-msg="false" message="Loading data"></div>
					<div ng-if="localVars.gridOptionsResourceData.data.length>0 || (formParams.formViewType==1 && localVars.datasetMapperType==2)" ui-grid="localVars.gridOptionsResourceData" ui-grid-selection ui-grid-resize-columns  ui-grid-move-columns ui-grid-save-state ui-grid-pagination ui-grid-grouping class="myGrid" > </div>
			</div>
			  
			  
				<div ng-if="false" ng-show="(formParams.formViewType==2 || (formParams.formViewType==1 && localVars.datasetMapperType==2)) && localVars.gridOptionsResourceData.data.length>0" class="row m-1 p-0">
					  
					  <div class="col pl-0">
						
						<ul uib-pagination boundary-links="true" max-size="10" items-per-page="localVars.pageSize" force-ellipses="true" total-items="localVars.totalCount" ng-model="localVars.currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="localVars.pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</ul>
					  </div>            
					  
					  <div class="col-lg-auto p-1">
									
						  <select class="input-sm" ng-change="localVars.pageChanged()" ng-model="localVars.pageSize" >
							  <option ng-repeat="ps in localVars.gridOptionsResourceData.paginationPageSizes track by ps"  ng-selected="localVars.pageSize==ps" ng-value="ps">{{ps}}</option>
								   
						  </select>  <span class="small ml-2">items per page </span> <span class="small ml-2"> | </span> <span class="small ml-2"> Page: {{localVars.currentPage}} / {{localVars.numPages}}  </span><span class="small ml-2"> | </span> <span class="small ml-2"> {{localVars.pageSize*localVars.currentPage+1-localVars.pageSize}} - {{localVars.pageSize*localVars.currentPage>localVars.totalCount ? localVars.totalCount : localVars.pageSize*localVars.currentPage}} of {{localVars.totalCount}} items</span>
								  
					  </div>
					  
				</div>
		</div>
		
        <div ng-if="localVars.resourceDataDownloaded && localVars.gridOptionsResourceData.columnDefs.length>0 && localVars.gridApi.selection.getSelectedRows().length>0"> 
            <div ng-if="false" class="row m-0 p-1">
                <div  class="col-auto">
                    <div ng-if="relatedDataset.fieldType=='resource' || relatedDataset.fieldType=='resourceLink'" ng-repeat="relatedDataset in localVars.gridOptionsResourceData.columnDefs track by $index">
                        <button  type="button" ng-click="localVars.getDatasetRelatedRecords(relatedDataset.relatedDatasetId,localVars.selectedDatasetRecordId,relatedDataset.modelId)"  class="btn btn-outline-primary">
                          {{relatedDataset.displayName}}  </button>
                    </div>
                </div>
          
                <div class="col" ng-if="localVars.showGrid && localVars.gridApi.selection.getSelectedRows().length>0 && formParams.formViewType==2"> 
                     <div id="grid3"  ui-grid="localVars.gridOptionsRelated"  ui-grid-move-columns ui-grid-save-state ui-grid-auto-resize ui-grid-grouping ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  <!-- zašto ne prikelji klasu mygrid2??? -->
                </div>
             
              
            </div>
      

        </div>
    </div>

 </div>

