<div class="p-1">
	
	<div ng-if="localVars.datasetMapperType==1">
		<div class="mb-4">
						<div kt-published-resource-selector fd="fd" local-vars="fd.localVars"></div>
		</div>
	</div>
 <!-- ToDo Mapping to dataset must be changed
		<div class="row m-0" >
			<div class="col-auto p-0 border shadow-sm">
							
							<div class="px-1 bg-light">File list widget ({{fd.PresentationId}})</div>
							
			</div>
						
			<div class="col p-0">
				<div class="row m-0" ng-repeat="selectedFileConnector in fd.listOfConnectors" >
								
								<div  class="col-4 p-0 mb-2">
									<div class="h-100" ng-repeat="DEIlist in selectedFileConnector.DEI">
										<div ng-if="DEIlist.value" ng-class="{'h-50':$index>0,'h-75':$index==0}" style="border-bottom: 3px solid" class="border-success"></div>
									</div>	
								</div>
								
								<div class="col-20 p-0 border shadow-sm mb-2">
									<div ng-repeat="DEIlist in selectedFileConnector.DEI">
										
										<div ng-if="$index==0" class="col-auto bg-light px-2"> {{selectedFileConnector.displayName}} ({{selectedFileConnector.widgetId}}) Dataset: {{selectedFileConnector.datasetId}}</div>
											
										<div class="row m-0">
											<div class="col-auto p-0 my-auto" ng-class="{'ml-n2 mr-2':DEIlist.value}">
												<i class="fa fa-plug" ng-class="{'text-success fa-rotate-90':DEIlist.value,'text-danger':!DEIlist.value}"></i>
											</div>

											<div class="col-auto custom-control custom-checkbox ml-2"}">
																<input type="checkbox" class="custom-control-input" id="cbDEI{{selectedFileConnector.localWidgetId}}{{selectedFileConnector.widgetId}}{{DEIlist.name}}" ng-model="DEIlist.value">
																<label class="custom-control-label label-xs" for="cbDEI{{selectedFileConnector.localWidgetId}}{{selectedFileConnector.widgetId}}{{DEIlist.name}}">{{DEIlist.displayName}} ({{DEIlist.name}})</label>
											</div>
										</div>
									</div>
								</div>
								
				</div>
			</div>
		</div>

		<div class="row m-0 my-2">
			<div class="col p-0 text-right">
				<button class="btn btn-outline-warning btn-sm" type="button" ng-click="localVars.cancelFileConnector()">Cancel</button>
				<button class="btn btn-outline-primary btn-sm" type="button" ng-click="localVars.okFileConnector()">Confirm</button>
			</div>
		</div>
	</div>
	-->

	<div ng-if="fd.localVars.datasetMapperType==2" class="row m-0">
		<div class="col-12">
			<div>
            
				<label  class="kt-checkbox-label" for="cbNoHeader{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbNoHeader{{fd.PresentationId}}" ng-model="fd.Parameters.HideHeader" ng-checked="fd.Parameters.HideHeader" />  
					Hide header
				</label>
       
			</div>

			<div class="my-2" ng-if="!fd.Parameters.HideHeader">
		       
				<label>Header title</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
			</div>

			<div class="my-2">
		       
				<label>Search text</label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
			</div>
			
			<div class="my-2">
		       
				<label>No files message</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.NoFilesMsg"  />
			</div>
					
			
			<div>

			<div>
            
				<label  class="kt-checkbox-label" for="cbGetFilesButton{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbGetFilesButton{{fd.PresentationId}}" ng-model="fd.Parameters.ShowGetDataButton" ng-checked="fd.Parameters.ShowGetDataButton" />  
					Show get files button
				</label>
       
			</div>

			<div class="my-2" ng-if="fd.Parameters.ShowGetDataButton">
		       
				<label>Get files button label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.GetDataBtnLabel"  />
			</div>

				<div class="my-2" ng-if="!fd.Parameters.NoPreview">
		       
				<label>Preview file button label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.PreviewLabel"  />
			</div>

				<div class="my-2" ng-if="!fd.Parameters.NoDownload">
		       
				<label>Download file button label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.DownloadLabel"  />
			</div>
					
			<div>
            
				<label  class="kt-checkbox-label" for="cbShowSearchForm{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbShowSearchForm{{fd.PresentationId}}" ng-model="fd.ShowSearchForm" ng-checked="fd.ShowSearchForm" />  
					Show search form
				</label>
       
			</div>	
			<div>
            
				<label  class="kt-checkbox-label" for="cbAutoSearch{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbAutoSearch{{fd.PresentationId}}" ng-model="fd.AutoSearch" ng-checked="fd.AutoSearch" />  
					Auto search files
				</label>
       
			</div>

			<div>
            
				<label  class="kt-checkbox-label" for="cbNoDownload{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbNoDownload{{fd.PresentationId}}" ng-model="fd.Parameters.NoDownload" ng-checked="fd.Parameters.NoDownload" />  
					Disable download
				</label>
       
			</div>
			<div>
            
				<label  class="kt-checkbox-label" for="cbNoPreview{{fd.PresentationId}}">
					
					<input type="checkbox" class="kt-checkbox-properties my-2 mr-2"  name="cbNoPreview{{fd.PresentationId}}" ng-model="fd.Parameters.NoPreview" ng-checked="fd.Parameters.NoPreview" />  
					Disable preview
				</label>
       
			</div>

			<div>
					<label  class="kt-checkbox-label">
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" ng-model="fd.Parameters.ShowLoadingMessage" />  
							Show loading message
						</label>      
				</div>
				 <div ng-if="fd.Parameters.ShowLoadingMessage">
					<label class="label-xs text-muted">Loading message text </label>  <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.LoadingMessage"  />
			</div>

             
        <div class="my-2">
            <button type="button"  class="w-25 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
                        <span >Define parent dataset</span>
            </button>
        </div>

          <div class="my-2" ng-if="fd.HasParentDataset">

				<div class="pl-0 label border-bottom">Parent relationship type</div>
				<div class="my-2">
					<label class="label-xs">
					<input type="radio" ng-model="fd.Parameters.ParentRelationshipType" value="1" > </input>
					One to many  relationshp (1:n)
			        </label>
				</div>
				<div class="mb-2">
					<label class="label-xs">
					<input type="radio" ng-model="fd.Parameters.ParentRelationshipType" value="0">
			        </input>
						Many to many relationship (n:m)
			        </label>
				</div>
				<div class="mb-2" ng-if="fd.Parameters.ParentRelationshipType==1">  
                      <label class="label-xs text-muted">Field name </label> 
                      <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.ParentDatasetFieldName"  />
                   
            	</div>

			</div>
		
		 </div>
	</div>

</div>