<div class="">
	<div kt-property-header></div>
    <!-- datasetmapper =1 ... dataset selection -->
	<div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="fd.localVars" kt-dataset-mapper>

    </div>
    
    
	<div class="customize-form d-flex position-absolute"> </div>
	
	<div ng-if="fd.localVars.datasetMapperType==2" class="row m-0 ">
		<div class="col-24 px-0">
				<label class="label text-muted " >Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
				 <label class="label text-muted mt-1">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
				 <label class="label text-muted mt-1">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
		</div>	
		   
		<div class=" mt-2">   
			   <span class="label text-muted mt-1" >Define message when record is added successfuly</span>
			    <textarea ng-model="fd.ResponseMsg" placeholder="Enter message"  name="responseMsg"  class="form-control"/>
			    
		</div>

	</div>
 
	 
	
	<div ng-if="fd.localVars.datasetMapperType==3" kt-dataset-mapper-parent class=""></div>
	<div ng-if="fd.localVars.datasetMapperType==4" kt-dataset-to-dataset-mapper class=""></div>
    
    
	 <div ng-if="fd.localVars.datasetMapperType > 0"> 
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperModal{{fd.PresentationId}}">
                        <span >Copy data from other datasets</span>
            </button>
        </div>
        
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
                        <span >Define parent dataset</span>
            </button>
        </div>
        
        <div class="my-2 text-center">
            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#massPropertyUpdate{{fd.PresentationId}}">
                        <span >Mass update</span>
            </button>
        </div>
    </div>

</div>