<div class="widget-head" ng-class="{'m-0 border-0':formParams.formViewType==2}">
        <div class="row m-0 p-0 mb-1 bg-light" ng-if="formParams.formViewType==1">
                <div class="col-auto p-0">
                          <i class="fa fa-cog mx-2"></i><label >Task widget ({{fd.PresentationId}})</label>
                       <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 {{resourceDefinition.ResourceCode}}-element-drag-handle widget-prop"><i  class="{{resourceDefinition.ResourceCode}}-element-drag-handle fas fa-grip-vertical"></i></a>
                 </div>
                  <div class="col p-0 text-right">

                         <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
                                 title="Show/hide properties" ng-click="fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> 
                        </a>      
                               
                </div> 
                <div class="col-auto p-0">
        
                        <div kt-task-dropdown> </div>
                        
                </div>      
        </div>
        
        <div kt-task-proc-directive fd="fd" local-vars="fd.localVars" task-definition="fd.localVars.taskDefinition" ng-if="formParams.formViewType==2 && fd.Parameters.taskDefId.id"></div>


</div>








 

