<div class="widget-head">
	<div ng-show="formParams.formViewType==1" class="mt-2 mb-2">
	    <div class="row m-0 p-0 mb-1 bg-light" >
       
			  <div class="col-auto p-0 bg-gray-100">
          <i class="fa fa-cog mx-2"></i><label >Execute task widget ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
				    <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 {{resourceDefinition.ResourceCode}}-element-drag-handle widget-prop"><i  class="{{resourceDefinition.ResourceCode}}-element-drag-handle fas fa-grip-vertical"></i></a>
						</div>
        
   <div class="col text-right p-0" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}">

					  <a href class="btn btn-outline-primary border-0 btn-sm" title="Show/hide properties" ng-click="localVars.showProperties(1)"><i class="fas fa-cog"></i> </a>	
                	
						<a href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="localVars.showForm=!localVars.showForm"><i ng-class="{'fas fa-eye-slash':!localVars.showForm,'fas fa-eye':localVars.showForm}"></i> </a>	
                	
                
   </div>
		<div class="col-auto p-0">
        
		 <div kt-task-dropdown2> </div>
			
		</div>
		
	</div>
				
	<div ng-show="localVars.datasetMapperType>0 && formParams.formViewType==1" class="p-2 mb-2">
           <div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
    </div>
</div>   

	 <div class="p-1" ng-if="results.data.length==0 && !localVars.firstTime && localVars.dataLoaded">
			<div class="h5">{{fd.ParametersLang.NoDataMsg}}</div>
		</div>
		
   <div ng-if="(formParams.formViewType==2) || (localVars.showForm && formParams.formViewType==1)"> 
     <!-- <div ng-if="(localVars.totalCount!=1 && formParams.formViewType==2) || (localVars.totalCount==1 && formParams.formViewType==2 && localVars.detailsClicked) || (localVars.showForm && formParams.formViewType==1)" class="sort-box">-->
      <div class="row" ng-if="!localVars.dataLoaded" ng-class="{'processing-overlay':!localVars.dataLoaded}" kt-processing-animation show-msg="true" show-as-card="true" message="Loading task data"></div>
           
	<div class="px-1" ng-if="(formParams.formViewType==2) || (localVars.showForm && formParams.formViewType==1)">
                            
                             <button type="button"  ng-click="localVars.getTaskExecuteData(task_initiate_id,task_execute_id);localVars.detailsClicked=true" class="btn btn-outline-dark btn-sm" ng-disabled="!localVars.taskSelected">
                                <span class='fas fa-cogs'></span> Details </button>
                           
                             <button type="button" ng-click="localVars.pageChanged()" class="btn btn-outline-dark btn-sm" >
                                <span class='fas fa-sync'></span> Refresh data</button>
                           
       </div>
       <div class="border-top mt-1">
											     
            <!--
			<div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ></div>
			-->
			 <div kt-smart-table kt-refresh-data="fd.getTaskList(pageNumber,pageSize)" items-on-page="localVars.pageSize" row-selected-change="fd.rowSelectionChanged(item)"></div>
               <!--
                     <div class="row py-1">
                              
                              <div class="col m-auto">
                              
                                <ul  uib-pagination boundary-links="true" max-size="10" items-per-page="localVars.pageSize" force-ellipses="true" total-items="localVars.totalCount" ng-model="localVars.currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="localVars.pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                              </div>
                              
                               <div class="col-auto">
                              
                                   <select class="input-sm" ng-change="localVars.pageChanged()" ng-model="localVars.pageSize" >
                                       <option ng-repeat="ps in gridOptions.paginationPageSizes track by ps"  ng-selected="localVars.pageSize==ps" ng-value="ps">{{ps}}</option>
                             
                                   </select>
									<span class="ml-2 small">items per page &nbsp&nbsp | &nbsp&nbsp  Page: {{localVars.currentPage}} / {{localVars.numPages}} &nbsp&nbsp | &nbsp&nbsp {{localVars.pageSize*localVars.currentPage+1-localVars.pageSize}} - {{localVars.pageSize*localVars.currentPage>localVars.totalCount ? localVars.totalCount : localVars.pageSize*localVars.currentPage}} of {{localVars.totalCount}} items</span>
                            
                               </div>
                      
                    </div>
			-->
        <div ng-show="formParams.formViewType==2 || (localVars.showForm && formParams.formViewType==1)" kt-execute-task-widget></div>
		
		
    </div>
 </div>  
</div>    
 

