<div ng-if="localVars.selectedTasks.length>0 && !localVars.inlineTaskDefinition.inlineInitiateFormLoaded">
   
    <button ng-repeat="task in localVars.selectedTasks track by task.id" type="button" ng-click="localVars.StartTask(task.id,0,localVars.previousTask)"  class="btn {{task.btnClass}} p-1 ml-2">
    <i class="{{task.icon}}"></i>  {{task.btnLabel}}  </button>
  
</div>

<!-- NOT authorised to create the task -->
<h3 ng-if="localVars.inlineTaskDefinition.status==403" class="alert alert-danger">{{localVars.inlineTask.taskProcResponse.msg}}</h3>
<!-- Task list -->
<div ng-if="localVars.inlineTaskDefinition.proc_type==1">
  <div kt-task-proc-list></div>
</div>
<!-- Start form -->
<div ng-if="localVars.inlineTaskDefinition.proc_type==2">
  <div kt-task-proc-initiate task-definition="localVars.inlineTaskDefinition" dashboard="localVars.inlineTask" resource-definition="localVars.inlineTask.resourceDefinition" local-vars="localVars"></div>
</div>
<!-- Execute form -->
<div ng-if="localVars.inlineTaskDefinition.proc_type==3">
  <div kt-task-proc-execute task-definition="localVars.inlineTaskDefinition" dashboard="localVars.inlineTask" resource-definition="localVars.inlineTask.resourceDefinition" task-execute-instance="localVars.inlineTaskDefinition.taskExecuteInstance" task-initiate-instance="localVars.inlineTaskDefinition.taskInitiateInstance" local-vars="localVars"></div>
</div>

<div ng-if="false" class="builtOnKatalyo">
    <img src="/img/favicon.ico" />  <a href="https://www.katalyo.com" class="small"> Built on KATALYO   </a>
</div>