<div class="">
    <div kt-property-header></div>
	<div class="row m-0">
		<div class="col-lg-24 px-0">
				<label class="label text-muted" >Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
				<label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
				<label class="label text-muted">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				<label class="label text-muted">Event name </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventName"  />
                
                   
		</div>
        
		 <div  class="col-lg-24 px-0">
			
				<label class="label text-muted">ResourceId ItemId </label> 
                <input type="text" class="form-control form-control-sm" ng-model="fd.Parameters.ResourceIdItemId"  />
                
                <div class="custom-control custom-checkbox my-2">							
					<input type="checkbox" class="custom-control-input" id="cbReloadData{{fd.PresentationId}}" ng-model="fd.Parameters.RefreshOnIdChange"> 
					<label class="custom-control-label label-xs" for="cbReloadData{{fd.PresentationId}}">Reload data when id changes</label>			 
				</div> 
				
				<!-- <div class="mt-2">
					<button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'ReadOnly',true,'All fields are readonly')">
					   <span class='fa fa-ban'></span> Mark all read only </button>
				   
				  <button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'ReadOnly',false,'Removed readonly on all fields')">
					   <span class='fa fa-pencil'></span> Clear read only </button>-->
	     </div> 

	      <div  class="col-lg-24 px-0">
			
				  <div class="custom-control custom-checkbox my-2">							
					<input type="checkbox" class="custom-control-input" id="cbShowAuditInfo{{fd.PresentationId}}" ng-model="fd.Parameters.ShowAuditInfo"> 
					<label class="custom-control-label label-xs" for="cbShowAuditInfo{{fd.PresentationId}}">Show audit info</label>			 
				</div> 
				
	    </div> 

	    <div  class="col-lg-24 px-0">
			
				<label class="label text-muted">Created by text </label> 
                <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.CreatedByTemplate"  />
	    </div> 
	  	
	  	<div  class="col-lg-24 px-0">
			
				<label class="label text-muted">Changed by text </label> 
                <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.ChangedByTemplate"  />
	    </div>

             <!--   <div class="mt-2">
					<button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="localVars.markAll('required')">
					   </span> Mark all read only </button>
				   
				  <button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'ReadOnly',false,'Removed readonly on all fields')">
					   </span> Clear read only </button>
				</div> -->
                
                
                <!--  <div class="col-lg-24 px-0 "> 
                         <label for="resourceType">Mass Change Parameters</label>
                         
                          	<ui-select append-to-body="true" ng-model="$root.selectedMassUpdate" sizexs="true" name="codeList" reset-search-input="false" > 
                                <ui-select-match allow-clear="true" class="ui-select-match" placeholder="Select parameters...">
                                    <span>{{$select.selected.name}} ({{$select.selected.id}})</span>
                                </ui-select-match>
                                <ui-select-choices class="ui-select-choices" repeat="co in ($root.massUpdateFieldList | filter: { name: $select.search }) track by co.id" refresh="refreshResults($select)" refresh-delay="0">
                                  <span>{{co.name}} ({{co.id}})</span>
                                </ui-select-choices>
                            </ui-select>
               
                                          
                   </div>-->
                   
                  
    
				<div ng-if="false">	 
				   <button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'Required',false,'All fields are not required')">
					   <span class='far fa-square'></span> Mark all fields not required </button>
				   
				   <button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'Required',true,'All fields are required')">
					   <span class='far fa-check-square'></span> Mark all fields required </button>
				   
				   <button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'ShowField',false,'All fields are hidden')">
					   <span class='fas fa-eye-slash'></span> Hide all fields </button>
				   
				   <button type="button"  class="btn btn-sm btn-outline-primary mb-1 col-11" ng-click="fd.setField(localVars.dashboard.widgets.layout,'ShowField',true,'All fields are visible')">
					   <span class='fas fa-eye'></span> Show all fields </button>
				</div>
		</div>  
		 
		   
		<div class="col-24 p-0 mt-3">   
			   <span class="label text-muted mt-1" >Message after successful processing</span>
			    <textarea ng-model="fd.ResponseMsg" placeholder="Enter message"  name="responseMsg"  class="form-control"/>
			    
		</div>

	</div>
 
	 
	<div class="my-2 text-center">
		<button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperModal{{fd.PresentationId}}">
					<span >Copy data from other datasets</span>
		</button>
	</div>
	<div class="my-2 text-center">
		<button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
					<span >Define parent dataset</span>
		</button>
	</div>
    
    <div class="my-2 text-center">
		<button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#massPropertyUpdate{{fd.PresentationId}}">
					<span >Mass update</span>
		</button>
	</div>
    
	
</div>