<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVars.showAddTask || localVars.selectedTaskIndex>-1}">
     
    <div class="row m-0 p-0 bg-light" ng-class="{'widget-head-active':fd.localVars.datasetMapperType>0,'bg-light':fd.localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
        <div class="col-auto p-0 bg-gray-100">
            <i class="fas fa-chart-bar mx-2"></i><label >Chart ({{fd.PresentationId}})</label>
            <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
        </div>
          
         <div class="col text-right my-auto">
         </div>
              
              
        <div class="col-auto p-0" ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">
                <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
                     title="Show/hide properties" ng-click="fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> 
                </a>	                  	      
        </div>
        
         <div class="col-auto p-0" ng-if="true">
                <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
                     title="Show/hide properties" ng-click="fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> 
                </a>	                  	      
        </div>
          
          
        <div id="delete widget" class="col-auto p-0">
               <div kt-task-dropdown> </div>		
        </div>
		
	</div>
	
	
      
    <div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="fd.localVars" kt-dataset-mapper>
    </div>
    
  
  <div ng-if="localVars.showProperties && gsrvc.getFormViewType()==1">
		<div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
  </div>
  
  <div ng-if="gsrvc.getFormViewType()==2"> 		
      <div  ng-repeat="sTask in localObj.loadedTasks track by taskId">
      	<div kt-task-proc-directive fd="fd" local-vars="sTask.localVars" task-definition="resourceDefinition"></div>      
      </div>
  </div>
  
  

  
    <div ng-if="fd.localVars.chartType!='counter'" id="CHARTCanvas{{fd.PresentationId}}">  

      <div ng-show="fd.localVars.showForm || formParams.formViewType==2" class="row m-0"> 
            <h4 class="col-24">{{fd.Label}}</h4>
           <!-- <canvas ng-class="colLength[fd.valueLength-1]"  class="chart chart-base" chart-type="fd.localVars.chartType" chart-data="fd.localVars.data" chart-lbl="fd.Label" chart-options="fd.localVars.chartOptions" chart-labels="fd.localVars.labels">
            </canvas>-->
            
             <canvas ng-class="colLength[fd.valueLength-1]"  class="chart chart-base" 
             chart-colors="fd.localVars.chartColors"
             chart-type="fd.localVars.chartType"
             chart-data="fd.localVars.data" 
             chart-lbl="fd.Label" 
             chart-labels="fd.localVars.labels"
             chart-options="fd.localVars.chartOptions" >
            </canvas>
      </div>
   </div>
    
    <div ng-if="fd.localVars.chartType=='counter'" id="CHARTCanvasCounter{{fd.PresentationId}}">
        <div style=" display: flex;    flex-direction: column;    justify-content: center;    align-items: center;    padding: 24px 0;    gap: 12px;">  
            
            <div style="font-size: {{ fd.Parameters.FontSize || '7rem'}};" ng-if="fd.Parameters.chartFilterField">
                <div style="text-align:center"> {{ fd.localVars.formatNumber( fd.localVars.analytics[fd.localVars.SelectedChartAnalytics][fd.Parameters.CalculateFunction.name][fd.Parameters.chartFilterField] || 0 )  }}  {{fd.Parameters.CounterUnits}} </div>
                <div style=" font-size: calc(12px + 0.15em);text-align: center;">  {{ fd.localVars.chartLabel  }}   </div>
            </div>
            
             <div style="font-size: {{ fd.Parameters.FontSize || '7rem'}};" ng-if="!fd.Parameters.chartFilterField">
                <div  style="text-align:center" > {{ fd.localVars.formatNumber(fd.localVars.countAll) }} {{fd.Parameters.CounterUnits}}</div>
                <div style=" font-size: calc(12px + 0.15em);text-align: center;">  {{ fd.localVars.chartLabel  }}   </div>
            </div>
                  
            
        </div>
    </div>
  
  

</div>