<div>
   <div class="panel-info" ng-if="!inputArray.locked">
      <div class="panel-heading" >
        <label >{{fd.placeholder}}</label>
                   
         <button type="button"  class="btn btn-light" ng-click="isCollapsedMapper=!isCollapsedMapper">
              <span class='fa fa-database'></span> Select dataset</button>
                 
        <div class="float-right" ng-show="!inputArray.locked">

                <a title="sort" class="sort-handle"><i  class="fa fa-sort"></i></a>
                <a style="display: inline-block" uib-popover-template="'mupdateproperties.html'" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top"><i class="fa fa-caret-square-o-right"></i> </a>
                <a title="Hide field"  ng-click="removeField($index)"><i  class="fa fa-times"></i></a>
	
      </div>
      <br><label >Source: {{selectedResourceItem.src_type_text}}</label>
       <br><label >Dataset: {{selectedResourceItem.name_confirmed}}</label>
   
       <div uib-collapse="!isCollapsedMapper">
          <div kt-dataset-mapper></div>
   
      </div>
       <hr>
       <div class="inline-block-div">
    
        <div class="checkbox">
      		  <label>
          			<input type="checkbox" ng-model="fd.hasParentDataset"> This dataset is linked to parent dataset
      		  </label>
        </div>

      </div>
      <div class="inline-block-div" ng-show="fd.hasParentDataset">
  
           <button type="button"  class="btn btn-light" ng-click="isCollapsedMapperParent=!isCollapsedMapperParent">
           <span class='fa fa-database'></span> Select parent dataset</button>
                    
      </div>
      
      <div ng-show="fd.hasParentDataset">
        <label >Source: {{selectedResourceItemParent.src_type_text}}</label>
       <br><label >Dataset: {{selectedResourceItemParent.name_confirmed}}</label>
      </div>
      
      <div uib-collapse="!isCollapsedMapperParent">
        <div kt-dataset-mapper-parent></div>
   
      </div>   
      
      
      <hr>
      <div class="inline-block-div" >
  
           <button type="button"  class="btn btn-light" ng-click="isCollapsedDataset2Mapper=!isCollapsedDataset2Mapper">
           <span class='fa fa-database'></span> Select dataset to dataset mapping</button>  <span> {{selectedPackages.length}} mapping(s) selected</span>
                    
      </div>
      
      <div ng-show="!isCollapsedDataset2Mapper">
        <div kt-dataset-to-dataset-mapper></div>
   
      </div>
     </div> 
  </div>
   
  <div ng-if="dataDownloading"><h4>Loading data...</h4></div>
  <div ng-if="formDownloaded" >
   <div kt-grid  grid-type="gridsterType" form-params="formParams" all-columns="widgets" class="ktGrid boxshadow" 
            ng-repeat="widgets in dashboard.widgets track by $index"></div>
  </div>
   <button type="button"  class="btn btn-light" ng-click="addNewItem()">
              <span class='fa fa-plus'></span> Add item </button>
   <br>
   
   <button type="button"  class="btn btn-light" ng-click="saveDatasetRecordsMultiple()">
              <span class='fa fa-save'></span> Save </button>
   
<script id="mupdateproperties.html" type="text/ng-template">
  <div>
		<div class="box-header-btns float-right" >		</div>
      <label>Label </label> <input type="text" class="form-control" ng-model="fd.placeholder"  />
		 <label>Error msg </label> <input type="text" class="form-control" ng-model="fd.errorMsg"  />
		 
     <label>SearchText </label> <input type="text" class="form-control" ng-model="fd.searchText"  />

     
      <div class="checkbox">
       <label>		<input type="checkbox" ng-model="fd.autoSearch" > Auto search	 </label>
		 </div>
      
     <div class="checkbox">
     
        <label> <input type="checkbox" ng-model="fd.showSearchForm" > Show search form  </label>
     </div>
</div>

</script>

  
</div>