<div class="p-1">

	<div ng-if="localVars.datasetMapperType==1" fd="fd" local-vars="localVars" kt-dataset-mapper></div>
     
	<div ng-if="localVars.datasetMapperType>1" class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                <label ng-click="localVars.datasetMapperType=2" class="btn btn-sm btn-primary active">
                                    <span class='fas fa-newspaper mr-2'></span><input  type="radio" name="datasetMapperType{{fd.PresentationId}}" id="option4" autocomplete="off"> Customize form
                                </label>
								  <label ng-click="localVars.datasetMapperType=5" class="btn btn-sm btn-primary">
                                    <span class='fa fa-cog mr-2'></span> <input  type="radio" name="datasetMapperType{{fd.PresentationId}}" id="option1" autocomplete="off" checked=""> Properties 
                                  </label>
								  
								 
								    <label ng-click="localVars.datasetMapperType=3" class="btn btn-sm btn-primary">
                                    <span class='fas fa-rocket mr-2'></span><input  type="radio" name="datasetMapperType{{fd.PresentationId}}" id="option3" autocomplete="off"> Task actions
                                  </label>

    </div>

	<div ng-if="localVars.datasetMapperType==5" >
		
		<div class="row m-0 p-2">
			<div class="col-12 mb-2">	 
			  <label class="label text-muted">Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
			
			  <label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
			
				<label class="label text-muted">Search header text </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				<label class="label text-muted">No data message </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.NoDataMsg"  />
			</div>
			<div class="col-12">
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbRequired{{fd.PresentationId}}" ng-model="fd.Required"> 
					<label class="custom-control-label label-xs" for="cbRequired{{fd.PresentationId}}">Required</label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbAutoSearch" ng-model="fd.AutoSearch"> 
					<label class="custom-control-label label-xs" for="cbAutoSearch">Auto search</label>
							 
				</div>
		
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" ng-model="fd.Parameters.ShowGetDataButton" id="cbShowGetDataButton{{fd.PresentationId}}"> 
					<label class="custom-control-label label-xs" for="cbShowGetDataButton{{fd.PresentationId}}"> Show Get data button </label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" ng-model="fd.ShowSearchForm" ng-click="localVars.showHideSearchForm()" id="cbShowSearchForm"> 
					<label class="custom-control-label label-xs" for="cbShowSearchForm"> Show search form</label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" ng-model="fd.Parameters.SearchFormCollapsed" id="cbSearchFormCollapsed"> 
					<label class="custom-control-label label-xs" for="cbSearchFormCollapsed"> Search form collapsed</label>
							 
				</div>
						  
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbMultiline" ng-model="fd.Multiline"> 
					<label class="custom-control-label label-xs" for="cbMultiline">Select multiple records</label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbAllRecords" ng-model="fd.Parameters.DownloadAllRecords"> 
					<label class="custom-control-label label-xs" for="cbAllRecords">Download all records</label>
							 
				</div>
				
				<label class="label-xs text-muted">Dependent field Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldId"  />
				<label class="label-xs text-muted">Dependent field type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldType"  />
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbClientSideFilter" ng-model="fd.Parameters.ClientSideFilter"> 
					<label class="custom-control-label label-xs" for="cbClientSideFilter">Client side filtering</label>
							 
				</div>
				<div>
					<div><u>Events</u></div>
					<label class="label-xs text-muted">Event action </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventAction"  />
					<label class="label-xs text-muted">Event source type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventSourceType"  />
					<label class="label-xs text-muted">Event source widget Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventSourceId"  />
					<label class="label-xs text-muted">Event name </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventName"  />
				</div>
			</div>
		</div>
		
		
		<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
			<label ng-click="fd.Parameters.PresentationType='table'" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='table'}">
			  <span class='fas fa-table mr-2'></span> <input  type="radio" name="presentationtype" id="pType1" autocomplete="off" checked=""> Table 
			</label>
			
			<label ng-click="fd.Parameters.PresentationType='dropdown';localVars.getFormFields();" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='dropdown'}">
			  <span class='far fa-caret-square-down mr-2'></span><input  type="radio" name="presentationtype" id="pType2" autocomplete="off"> Dropdown
			</label>
			  <label ng-click="fd.Parameters.PresentationType='card'" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='card'}">
			  <span class='far fa-id-card mr-2'></span><input  type="radio" name="presentationtype" id="pType3" autocomplete="off"> Card
			</label>

		</div>
		<div ng-if="fd.Parameters.PresentationType=='table'" class="col-24 p-2">
			<div class="col-24 mb-2">	 
				<label class="label text-muted">Button label</label> <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.GetDataBtnLabel"  />
			</div>
		</div>
		
		<div ng-if="fd.Parameters.PresentationType=='dropdown'" class="col-24 p-2">
			<div class="my-auto" class="w-100">
				<label class="marginL5 form-control-label  no-border" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}">Select fields </label>
          
			</div>
			
			<kt-dropdown ng-model="fd.NameField" selected-items="fd.NameField" is-multiple="true" name="NameField{{fd.PresentationId}}" dropdown-items="localVars.PresentationElements" dropdown-id="'NameField'+fd.PresentationId" parent-form-id="'innerFormNameField'+fd.PresentationId" search-text="'Select dataset fields'"></kt-dropdown>
		</div>
		
		
	</div>
	
	
	<div ng-if="localVars.datasetMapperType==3" class="row m-0 p-2">
	    <div kt-initiate-task-widget class="col-24"></div>
	</div>	

</div>