 <div class="row margin0">
 <div class="float-right" ng-show="formParams.forViewType!=2">
                <a title="sort" class="task-element-drag-handle"><i  class="task-element-drag-handle fa fa-sort"></i></a>
                 <a title="Hide field"   ng-click="removeField($index)"><i  class="fa fa-times"></i></a>
	
       </div>
       <div ng-show="fd.ShowSearchForm || formParams.forViewType!=2" class="boxshadow sort-box"><h4 class="text-center">{{fd.placeholder}}</h4>
          <div ng-if="!formParams.formLocked" class="col-sm-12"> 
              <div class="checkbox">
                 <label>		<input type="checkbox" ng-model="fd.AutoSearch" > Auto search	 </label>
               </div>
                
               <div class="checkbox">
               
                  <label> <input type="checkbox" ng-model="fd.ShowSearchForm" > Show search form  </label>
               </div>
          </div>
              
               <div class="row">
                   <div class="col-sm-4">
                       <div class="radio">
                              <label><input type="radio" ng-model="fd.Search.taskListType" value="claim" name="listTaskType{{fd.PresentationId}}" checked> Claim</label>
                    
                      
                            <label><input type="radio" ng-model="fd.Search.taskListType" value="execute" name="listTaskType{{fd.PresentationId}}"> Execute</label>
                      </div>
                    </div>
                  </div>
              <div class="row">
                <label class="col-sm-1" for="taskDefId">Task</label>
                <div class="col-sm-5">
                     
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.taskDefId{{fd.presentationId}}.$touched) && form.taskDefId{{fd.presentationId}}.$invalid }">
                 
                
                        <ui-select ng-model="fd.search.taskDefIds" ui-select-multiple-list ng-disabled="disabled" name="taskDefId{{fd.presentationId}}" ng-required="false" reset-search-input="false">
                            <ui-select-match class="ui-select-match" placeholder="Search or select task definition...">
                              <span>{{$select.selected.name}}
                                <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                              </span>
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="td in (taskDefList | filter: { name: $select.search }) track by td.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{td.name}}</span>
                            </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.taskDefId{{fd.presentationId}}.$touched) && form.taskDefId{{fd.presentationId}}.$invalid" class="help-block">Select task</p>
                    </div>
                   </div>
                </div>
            <div class="row">
               <label class="col-sm-1" for="taskStatus">Task status</label>
               <div class="col-sm-5">
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.taskStatus{{fd.presentationId}}.$touched) && form.taskStatus{{fd.presentationId}}.$invalid }">
                 
                
                        <ui-select ng-model="fd.Search.taskStatus" ui-select-multiple-list ng-disabled="disabled" name="taskStatus{{fd.presentationId}}" ng-required="false" reset-search-input="false">
                            <ui-select-match class="ui-select-match" placeholder="Search or select task status...">
                              <span>{{$select.selected.name}}
                                <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                              </span>
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="ts in (taskStatuses | filter: { name: $select.search }) track by ts.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{ts.name}}</span>
                            </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.taskStatus{{fd.presentationId}}.$touched) && form.taskStatus{{fd.presentationId}}.$invalid" class="help-block">Select task status</p>
                  </div>
              </div>
            </div>
    <div  class="row">
       
        <label class="col-lg-6" for="currentUser">Current user</label>
           <div class="col-lg-10">
              <input type="checkbox" class="checkbox-zoom-large" ng-model="fd.search.currentUser" name="currentUser" ng-required="false" />
           </div>
       </div>
    <div  class="row">
        <div  class="col-sm-12">
          
            <div kt-users-groups-select selected-users="fd.search.Users" selected-groups="fd.search.Groups" header-label="fd.search.headerLabel" users-label="fd.search.usersLabel" groups-label="fd.search.groupsLabel"> </div>                           
        </div>
     </div>
           
            
  </div>
     
      <div ng-if="ptl.totalCount!=1" class="sort-box">
                            
                             <button type="button"  ng-click="thisWidget.getTaskExecuteData(task_initiate_id,task_execute_id)" class="btn btn-outline-dark btn-sm" ng-disabled="!taskSelected">
                                <span class='fas fa-cogs'></span> Details </button>
                           
                             <button type="button" ng-click="ptl.pageChanged()" class="btn btn-outline-dark btn-sm" >
                                <span class='fas fa-sync'></span> Refresh data</button>
                           
       </div>
       <div ng-if="ptl.totalCount!=1">  
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ></div>
                    <div class="row m-1 p-0">
                              
		 <div class="col pl-0">
			<ul uib-pagination boundary-links="true" max-size="10" items-per-page="ptl.pageSize" force-ellipses="true" total-items="ptl.totalCount" ng-model="ptl.currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="ptl.pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
		 </div>
                            
	               <div class="col-lg-auto p-1">
                              
                                   <select class="input-sm" ng-change="ptl.pageChanged()" ng-model="ptl.pageSize" >
                                       <option ng-repeat="ps in gridOptions.paginationPageSizes track by ps"  ng-selected="ptl.pageSize==ps" ng-value="ps">{{ps}}</option>
                             
                                   </select>
		     <span class="ml-2 small">items per page &nbsp&nbsp | &nbsp&nbsp  Page: {{ptl.currentPage}} / {{ptl.numPages}} &nbsp&nbsp | &nbsp&nbsp {{ptl.pageSize*ptl.currentPage+1-ptl.pageSize}} - {{ptl.pageSize*ptl.currentPage>ptl.totalCount ? ptl.totalCount : ptl.pageSize*ptl.currentPage}} of {{ptl.totalCount}} items</span>
                            
                               </div>
                      
                    </div>
        </div>

</div>   
 
   
 

