<div class="widget-head">
    
	<div ng-show="!fd.localVars.formLoaded" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>

	<div ng-if="fd.localVars.formLoaded && fd.localVars.dataDownloaded">
		 <div kt-grid grid-type="::fd.localVars.gridsterType" resource-form-loaded="fd.localVars.formLoaded" parent-resorce-def-id="::fd.ParentDatasetDefId" resource-record-id="::fd.localVars.datasetRecordId"
					resource-definition="::resourceDefinition" form-params="::fd.localVars.formParams" form-params-parent="::formParams" form-data="formData[fd.PresentationId]" parent="::fd.localVars.dashboard.widgets" all-columns="::fd.localVars.dashboard.widgets" class="ktGrid">
          </div>
           <div class="text-right" ng-if="fd.Parameters.ShowAuditInfo">

                         <div class="small">
                            <span ng-bind="fd.localVars.CreatedByLabel"></span>
                         </div>

                      	
                      	   <div ng-if="fd.localVars.HasChangedBy" class="small">
                            <span ng-bind="fd.localVars.ChangedByLabel"></span>
                         </div>

                      
                                   
                             
		</div>
				<div class="col mb-2" >
				<div ng-if="fd.Parameters.ShowUpdateButton">
					<button  type="button"  class="btn btn-success" title="Update dataset record" ng-click="ProcessForm()">
											<i  class="fa fa-save"></i>   {{fd.SearchText}} 
					</button>
				</div>
				<div  ng-if="fd.PopulateMethod=='M'">
					<button  type="button"  class="btn btn-primary" title="Get dataset record" ng-click="fd.localVars.GetRecordForUpdate(formData[fd.PresentationId][0])">
											  <i  class="fa fa-cog"></i> <span>{{fd.ParametersLang.GetRecordBtnLabel}}</span> <span ng-if="!fd.ParametersLang.GetRecordBtnLabel">Get Record</span>
					</button>
				</div>
			</div>
  </div>

</div>