<div class="widget-head" ng-class="{'widget-active m-1 shadow':fd.localVars.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
   
   <div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':fd.localVars.datasetMapperType>0,'bg-light':fd.localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0">
          <i class="fa fa-eye mx-2"></i><label >View dataset record ({{fd.PresentationId}})</label>
       <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="fd.localVars.showProperties(1,false)" ng-class="{'btn-warning':fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
								<span ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">
                 <!--   {{fd.localVars.selectedResourceItem.name_confirmed}}-->
                         {{fd.localVars.selectedResourceItem.name}}
                        ({{fd.localVars.selectedDataset.ResourceDefId}})
                </span>
								<span ng-if="fd.Parameters.SelectedResourceType && (fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined)">
                Select {{fd.Parameters.SelectedResourceType}}
                </span>
                <span ng-if="!fd.Parameters.SelectedResourceType && (fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined)">
                Select resource
                </span>
			  </button>
			</div>
            
        <div class="col-auto p-0" ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> </a>	
                	
						<a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="fd.localVars.showForm=!fd.localVars.showForm"><i ng-class="{'fas fa-eye-slash':!fd.localVars.showForm,'fas fa-eye':fd.localVars.showForm}"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
        
            <div kt-task-dropdown> </div>
			
		</div>
	 </div>
     
      
     <div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="fd.localVars" kt-dataset-mapper>
     </div>

		<div ng-if="!fd.localVars.formLoaded && (fd.localVars.datasetMapperType==2 || formParams.formViewType==2)" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form...">
        </div>

      <div ng-if="fd.localVars.formLoaded && (fd.localVars.datasetMapperType==2 || formParams.formViewType==2)">
        
        <div class="mt-1 p-2 text-primary" ng-if="fd.localVars.formLoaded && fd.localVars.dashboard.widgets.layout.length==0" >Form is not defined or empty</div>   
              <div kt-grid grid-type="fd.localVars.gridsterType" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="fd.ParentDatasetDefId" resource-record-id="fd.localVars.datasetRecordId"
                        resource-definition="resourceDefinition" form-params="fd.localVars.formParams" form-params-parent="formParams" form-data="formData[fd.PresentationId]" parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets" class="ktGrid">
              </div>
      
      </div>

	<div class="modal fade" role="dialog" aria-labelledby="datasetMapperModal" id="datasetMapperModal{{fd.PresentationId}}" aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>Define dataset mapping</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
		      				<div kt-dataset-to-dataset-mapper></div>
		      		</div>
				</div>
			</div>
    </div>

    
    
  <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="datasetMapperParentModal" id="datasetMapperParentModal{{fd.PresentationId}}" aria-hidden="true">
		
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header py-1">    
			          <div class="modal-title fnt12 col mx-0 my-2">
			                 <span>Parent dataset setup</span>
			                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>                 
			           </div>    
	      		</div>

	      		<div class="modal-body">  
	      				<div kt-dataset-mapper-parent></div>
	      		</div>
	      	</div>
		</div>
	</div>
    
    
    <div class="modal fade" role="dialog" aria-labelledby="massPropertyUpdate" id="massPropertyUpdate{{fd.PresentationId}}" aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>Mass Property Update</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
		      				<div kt-mass-property-update-select></div>
		      		</div>
				</div>
			</div>
    </div>
    
</div>