<div class="mb-1 widget-head" ng-class="{'widget-active':fd.localVars.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 bg-light" ng-class="{'widget-head-active':fd.localVars.datasetMapperType>0,'bg-light':fd.localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0 bg-gray-100">
          <i class="fa fa-file-pdf mx-2"></i><label >View Dataset as chart({{fd.PresentationId}})</label>
       <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		<div class="col text-right my-auto">
        
              
               <button type="button"  ng-click="fd.localVars.showProperties(1,false)" ng-class="{'btn-warning':fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined,
                    'btn-outline-primary no-border':fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
                    
                    <span ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">
             
                          ({{fd.localVars.selectedDataset.name}}) ({{fd.localVars.selectedDataset.ResourceDefId}})
                               
                    </span>
                    <span ng-if="fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined">
                        Select dataset
                    </span>
			  </button>
		</div>
            
            
         <div class="col-auto p-0" ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">
		
					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> 
                       </a>	
                      	      
        </div>
        
       
        
		<div id="delete widget" class="col-auto p-0">
             <div kt-task-dropdown> </div>		
		</div>
		
	</div>
      
      
     <div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="fd.localVars" kt-dataset-mapper>
     </div>
     


    <div id="collapse viewchart" ng-show="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)" class="">
      <div class="p-0 border-bottom">
       
          <div class="row m-0 p-1 bg-primary-light text-primary">
						<div class="col">
                             <i class="fa fa-search"></i> 
                             <!--<span class="ml-2">{{fd.SearchText}}</span>-->
						</div>
						<div class="col-auto px-0">
                <button type="button" class="btn btn-outline-primary btn-xs" data-toggle="collapse" data-target="#isCollapseId{{::fd.id}}"
                        aria-expanded="{{lVars.isCollapsed}}" aria-controls="isCollapsedId{{::fd.id}}" ng-click="lVars.isCollapsed = !lVars.isCollapsed" >
                  <span ng-class="{'fa fa-minus': !lVars.isCollapsed,'fa fa-plus': lVars.isCollapsed }" ></span></button>
						</div>
          </div>    
      </div>
			
            
            
            
            
     <div class="collapse show" id="isCollapseId{{::fd.id}}">
       <div ng-if="!fd.localVars.formLoaded && fd.localVars.datasetMapperType==2" class="row m-0 border-0"  kt-processing-animation-timeline animation-type="form" show-msg="false" message="Loading form..."></div>

			<div ng-if="(fd.localVars.datasetMapperType==2 || formParams.formViewType==2)">
				<div class="mt-1 p-2 text-primary" ng-if="fd.localVars.formLoaded && fd.localVars.dashboard.widgets.layout.length==0" >
					
					<span class="mr-3">Form is not defined or empty</span>
					 <button  type="button"  class="btn btn-primary" title="Confirm" ng-click="fd.localVars.getFormResourceOriginal()">
										 Reload dataset from <i  class="ml-2 fas fa-sync"></i>
					</button>
				</div>   	
                    
                         <div kt-grid grid-type="fd.localVars.gridsterType" show-search-filters="fd.localVars.showSearchFilters" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="fd.ParentDatasetDefId" resource-record-id="fd.localVars.datasetRecordId"
	                            resource-definition="resourceDefinition" form-params="fd.localVars.formParams" form-params-parent="formParams" form-data="fd.localVars.widgetState.formData" parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets" class="ktGrid">
	                        </div>
  
			</div>
				<div>
					
			</div>
		</div>
   
   </div>
  
   
   <div id="get Data button" class="row m-0 mt-2">
	
		<div ng-if="fd.Parameters.ShowGetDataButton" class="col-auto my-auto">
			   <button type="button"  class="btn btn-outline-primary btn-sm " ng-click="fd.localVars.GetDatasetDataClick()"> 
				 <i ng-if="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)" class="fa fa-database"></i>
				  <span ng-if="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)">{{fd.ParametersLang.GetDataBtnLabel}}</span>
				 
				 <i ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)" class="fas fa-sync"></i>
				  <span ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)">{{fd.ParametersLang.GetDataBtnLabel}}</span>
		 
			   </button>
		 </div>
		<div class="col my-auto" ng-style="{'visibility': (fd.localVars.resourceDataDownloaded && (formParams.formViewType==2 || (formParams.formViewType==1 && fd.localVars.datasetmapperType==5))) ? 'visible':'hidden'}">
			<div kt-initiate-task-widget ></div>

		</div>
	</div>
						
	<div id="save viewchart widget" class="row m-1">						
		<div class="col text-right" ng-if="formDefinition && fd.Parameters.PresentationType=='table' && fd.localVars.datasetMapperType==2 && formParams.formViewType==1">
							 <button class="btn btn-primary btn-sm" type="button" ng-click="fd.localVars.saveGridState()">Save grid state</button>
		</div>				
	</div>
    
    
    
   <div ng-if="fd.localVars.chartType!='counter'" id="CHART canvas">  
      <div ng-show="fd.localVars.showForm || formParams.formViewType==2" class="row m-0"> 
            <h4 class="col-24">{{fd.Label}}</h4>
            <canvas ng-class="colLength[fd.valueLength-1]"  class="chart chart-base" chart-type="fd.localVars.chartType" chart-data="fd.localVars.data" chart-labels="fd.localVars.labels" chart-options="fd.localVars.chartOptions">
            </canvas>
      </div>
   </div>
    
    <div ng-if="fd.localVars.chartType=='counter'" id="CHART canvas">
        <div style=" display: flex;    flex-direction: column;    justify-content: center;    align-items: center;    padding: 24px 0;    gap: 12px;">
            <div ng-if="fd.localVars.data.length > 1">
                <div  style="font-size: 7rem;"> {{ fd.localVars.countAll }} </div>
                     <div style=" font-size: 1.25rem;text-align: center;">  Ukupno   </div>
          
            </div>
            
            <div ng-if="fd.localVars.data.length == 1 " >
              <div  style="    font-size: 7rem;">  {{ fd.localVars.data[0] }}   </div>
             <div style=" font-size: 1.25rem;text-align: center;">   {{ fd.localVars.labels[0] }} </div>
             
             </div>
        </div>
    </div>



 </div>

