<div class="row m-0" ng-show="tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e'">
	<div class="col-3 border-right border-primary" ng-style="{'min-height':{'i':'2rem','e':'1rem'} [tds.showTaskFormFn()]}">	
	</div>
	
</div>

<div id="row1" class="row m-0 " ng-show="tds.showTaskFormFn()=='e'">
	<div class="col-3" style="min-height: 1rem">
	</div>
	<div class="col-12 border-right border-top border-primary" style="min-height: 1rem">
	</div>
    
    <div class="col-lg-16" ng-if="tds.showTaskFormFn()!='e'">
		
			 <div  title="Define the form that provides input for task execution" class="h-100">
							 <button type="button" href class="row m-0 p-2 btn btn-outline-primary w-100 h-100" href ng-click="showHideTaskForm('e')">
								<div class="col-24">
								<!--	<i class="far fa-lg fa-newspaper mr-3"></i>-->
									<span class="">Task form</span> 
								</div>
								 
								
							</button>
							
							
			</div>
	</div>
        
</div>

<div id="row2" class="row m-0">
			
		<div class="col-lg-5" ng-if="tds.showTaskFormFn() != 'i'">
					    
		    <div  title="Define the form that provides input for task execution" class="h-100">
							 <button type="button" href class="row m-0 p-2 btn btn-outline-primary w-100" href ng-click="showHideTaskForm('i')">
								<div class="col-24">
									<!--<i class="far fa-lg fa-newspaper mr-3"></i>-->
									<span class="">Input data form</span> 
								</div>
								 
							<!-- <div class="col-24">
									<i  ng-class="{'far fa-check-circle text-success':!taskDefinition.AutoInitiate,'far fa-times-circle text-danger':taskDefinition.AutoInitiate}" >
										<span class="mx-1" ng-if="!taskDefinition.AutoInitiate">Enabled</span>
										<span class="mx-1" ng-if="taskDefinition.AutoInitiate">Disabled</span>
									</i>				                         
								</div>
                                
                                 <div class="col-auto">
                                    <img style="height: 24px;margin:5px 5px 5px 5px" ng-if="taskDefinition.AutoInitiate" ng-click="taskDefinition.AutoInitiate = !taskDefinition.AutoInitiate" title="(Disabled)" class="" src="/static/img/toggle-off-switch.svg"></img> 
                                      <i ng-if="!taskDefinition.AutoInitiate" class="fa fa-toggle-on activeEditMode" ng-click="taskDefinition.AutoInitiate = !taskDefinition.AutoInitiate" title="(Enabled)"  ></i>
                                         
                                 </div>-->	
                                 
                                  <!--   <div class="my-2">
                                      <label class="switch switch-green">
                                          <input ng-model="taskDefinition.AutoInitiate" ng-true-value="false" ng-false-value="true" type="checkbox" class="switch-input">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                      </label>
                                    </div>-->
                                
                               
							</button>
                            
                            
                   
							
			</div>
		</div>
        
		<div class="col-lg-6" ng-if="tds.showTaskFormFn() == 'i'">
			
					    
		    <div  title="Define the form that provides input for task execution" class="row m-0 h-100 p-2 shadow border border-primary text-primary text-center rounded">
				<div class="col-24">
					<!--<i class="far fa-lg fa-newspaper mr-3"></i>-->
					<span class="">Input data form</span>  
				</div>
				
				<div class="col-24">
					
					<div class="dropdown" >
						<!--	<button class="btn border-0" ng-class="{'btn-outline-success':!taskDefinition.AutoInitiate,'btn-outline-danger':taskDefinition.AutoInitiate}" title="Form status" id="dropdownInitiateForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								 <i  ng-class="{'far fa-check-circle':!taskDefinition.AutoInitiate,'far fa-times-circle':taskDefinition.AutoInitiate}" >
										<span class="mx-1" ng-if="!taskDefinition.AutoInitiate">Enabled</span>
										<span class="mx-1" ng-if="taskDefinition.AutoInitiate">Disabled</span>
								</i>
							</button>
							<div class="dropdown-menu shadow p-2" aria-labelledby="dropdownInitiateForm">
								<button  type="button"  class="btn btn-xs" ng-class="{'btn-outline-danger ':!taskDefinition.AutoInitiate,'btn-outline-success':taskDefinition.AutoInitiate}" title="Enable/disable" ng-click="taskDefinition.AutoInitiate=!taskDefinition.AutoInitiate;saveTaskParameters()">
									<i class="far fa-check-circle" ng-if="taskDefinition.AutoInitiate"></i>	 <span ng-if="taskDefinition.AutoInitiate">Enable input data form</span>
									<i class="far fa-times-circle" ng-if="!taskDefinition.AutoInitiate"></i>	 <span ng-if="!taskDefinition.AutoInitiate">Disable input data form</span>  
								</button>
							</div>-->
                            
                               <!-- <div>
                                      <label class="switch switch-green">
                                          <input ng-change="saveTaskParameters()" ng-model="taskDefinition.AutoInitiate" ng-true-value="false" ng-false-value="true" type="checkbox" class="switch-input">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                      </label>
                                
                                </div>-->
                            
                                <!--<div class="col-auto">
                                        <img class="inactiveEditMode" style="height: 24px;margin:5px 5px 5px 5px" ng-if="taskDefinition.AutoInitiate" ng-click="taskDefinition.AutoInitiate = !taskDefinition.AutoInitiate" title="(Disabled)"  src="/static/img/toggle-off-switch.svg"></img> 
                                        <i ng-if="!taskDefinition.AutoInitiate" class="fa fa-toggle-on activeEditMode" ng-click="taskDefinition.AutoInitiate = !taskDefinition.AutoInitiate" title="(Enabled)"  ></i>
           
                                 </div>-->
                                 
					</div>
					
				</div>
		
			</div>
		</div>
        
        
		<div class="col-auto my-auto">
			<i  style="color: #2c60e5a1 !important;" class="fas fa-angle-double-right fa-2x "></i>
		</div>
        
        <div class="col-lg-16">
					    
		    <div  title="Define the form that provides results of task execution" class=" shadow border border-primary text-primary text-center rounded">
                <button type="button" href class=" m-0 btn btn-outline-primary w-100 h-100" href ng-click="showHideTaskForm('e')">
                    <div class="col-24">
                    <!--	<i class="far fa-lg fa-newspaper mr-3"></i>-->
                        <span class="">Task form</span>  
                    </div>
                
                </button>
				<!--
				<div class="col-24" ng-if="false">
					
					<div class="dropdown" >
							<button class="btn border-0" ng-class="{'btn-outline-success':!taskDefinition.AutoExecute,'btn-outline-danger':taskDefinition.AutoExecute}" title="Form status" id="dropdownExecuteForm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								 <i  ng-class="{'far fa-check-circle':!taskDefinition.AutoExecute,'far fa-times-circle':taskDefinition.AutoExecute}" >
										<span class="mx-1" ng-if="!taskDefinition.AutoExecute">Enabled</span>
										<span class="mx-1" ng-if="taskDefinition.AutoExecute">Disabled</span>
								</i>
							</button>
							<div class="dropdown-menu shadow p-2" aria-labelledby="dropdownExecuteForm">
								<button  type="button"  class="btn btn-xs" ng-class="{'btn-outline-danger ':!taskDefinition.AutoExecute,'btn-outline-success':taskDefinition.AutoExecute}" title="Enable/disable" ng-click="taskDefinition.AutoExecute=!taskDefinition.AutoExecute;saveTaskParameters()">
									<i class="far fa-check-circle" ng-if="taskDefinition.AutoExecute"></i>	 <span ng-if="taskDefinition.AutoExecute">Enable task form</span>
									<i class="far fa-times-circle" ng-if="!taskDefinition.AutoExecute"></i>	 <span ng-if="!taskDefinition.AutoExecute">Disable task form</span>  
								</button>
							</div>
					</div>
					
				</div>
				-->
			</div>
		</div>	
             

        
 </div>
 
  <div id="row3" class="row m-0">
   
           
       <div class="col-3"></div>
</div>
        
    <div id="row4" class="row">
        <!--<div class="col-3 p-2 px-3 border-right border-primary"  ng-class="{'border-right border-primary':taskDefinition.form_type=='i'  && !taskDefinition.AutoInitiate}"></div>-->
        <div class="col-3 p-2 px-3 border-right border-primary"></div>
        <div class="col-12 p-2 px-3" ng-class="{ 'border-right border-primary':tds.showTaskFormFn()=='e'  }"></div>
    </div>
    
  <div id="row5" class="row p-0 m-0">
        <div class="text-center col-6 p-0 m-0">
          
          <div class="row">
              <div class="col-8">
               </div>
               
              <div class="col-5 p-0">
                   <label class="float-right switch switch-green">
                       <input ng-model="taskDefinition.AutoInitiate" ng-click="localVars.setAutoInitiate()" ng-checked="!taskDefinition.AutoInitiate" type="checkbox" class="switch-input">
                       <span class="switch-label" data-on="On" data-off="Off"></span>
                       <span class="switch-handle"></span>
                   </label>
                 
               </div> 
               <div class=" col-5 p-0"> 
                    <span ng-hide="taskDefinition.AutoInitiate" class="fnt5"> ENABLED </span>	
                    <span ng-show="taskDefinition.AutoInitiate" class="fnt5"> DISABLED </span>	
                    
               </div>
     
           </div>
        </div>
       
        <div class="col-9 p-2 px-3" style="margin-left: 0.2rem" ng-class="{'border-right border-primary':tds.showTaskFormFn()=='e'  }"></div>    
     </div>
     
   <div id="row6" class="row">
        <div class="col-3 p-2 px-3" ng-class="{'border-right border-primary':tds.showTaskFormFn()=='i'  && !taskDefinition.AutoInitiate}"></div>
        <div class=" col-12 p-2 px-3" ng-class="{ 'border-right border-primary':tds.showTaskFormFn()=='e'  }"></div>
    </div>
    
  



<div ng-show="(tds.showTaskFormFn()=='i'  && !taskDefinition.AutoInitiate) || (tds.showTaskFormFn()=='e' )" class="border border-primary rounded shadow">
	
	<form ng-submit="saveTaskForm()" ng-show="(tds.showTaskFormFn()=='i' && !taskDefinition.AutoInitiate) || (tds.showTaskFormFn()=='e' )" id="forma" name="form" class="form-horizontal py-1" ng-class="{'edit-mode':taskDefinition.formParams.formViewType==1}" role="form" novalidate>
				
		<div class="m-0 p-1 border-bottom bg-white" id="taskToolboxId" ng-style="(taskDefinition.formParams.formViewType==1 || taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4) && gsrvc.getTopForSticky(0)" ng-class="{'form-btns-top position-sticky':taskDefinition.formParams.formViewType==1 || taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4}">
		 
			<!--	<div class="row mx-1">
				
                    
                            <div class="my-1">
                                      <label class="switch switch-green">
                                          <input ng-model="taskDefinition.AutoInitiate" ng-true-value="false" ng-false-value="true" type="checkbox" class="switch-input">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                      </label>
                                      
                                      
                              </div>
                              <div class="col-8 my-2">
                                <span class="tag "> Enabled </span>	
                                 </div>  
                                 
                             <div class="col-5 my-2 text-center">
                                
                                <span class="tag text-dark text-center"> Form Design </span>
                                
                              </div>  
                                    
				</div>-->
				<div class="row">
					<div class="col">
						<ul class="nav nav-tabs simple-tabs border-0 mx-4" id="myTab" role="tablist">
						  
						  <li class="nav-item">
						    <a class="nav-link" ng-class= "{'active':taskDefinition.formParams.formViewType==2}" href id="preview-tab" data-toggle="tab" ng-click="ShowFormView(2,true)" role="tab" aria-controls="preview" aria-selected="true">
							Preview
							<span class="badge badge-light ml-2 text-primary">Ctrl+P</span>
						    </a>
						  </li>
						  <li class="nav-item">
						    <a class="nav-link" ng-class= "{'active':taskDefinition.formParams.formViewType==1}" id="build-tab" href data-toggle="tab" ng-click="ShowFormView(1,false)" role="tab" aria-controls="build" aria-selected="false">
							Build
							<span class="badge badge-light ml-2 text-primary">Ctrl+B</span>
						    </a>
						  </li>
			
						  <li class="nav-item">
						    <a class="nav-link" ng-class= "{'active':taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4}" id="layout-tab" href data-toggle="tab" ng-click="ShowFormView(4)" role="tab" aria-controls="layout" aria-selected="false"><i class="fa fa-th-large mr-1" ></i>
							Arrange layout</a>
						  </li>
					  </ul>
			
					  </div>
					    <div class="col-auto mr-3">
						<span ng-if="formVersion[formType]" class="small mr-2"><b class="mr-2">Version:</b>{{formVersion[formType]}}</span>
						<button type="button" ng-click="showHideTaskForm('')" class="btn btn-sm btn-outline-danger border-0 ng-scope" style="">Close</button>
						<button type="submit" ng-disabled="savingTaskForm" class="btn btn-sm btn-primary">Save form</button>
						
					    </div>
				</div>
		   
		
		</div>

	<div class="row m-0" ng-show="(tds.showTaskFormFn()=='i' && !taskDefinition.AutoInitiate) || (tds.showTaskFormFn()=='e')">
	
		<div class="col p-0">
			<div class="row m-0">
				<div class="p-0 col-24 collapse"  ng-class="{'build-mode':taskDefinition.formParams.formViewType==1 || taskDefinition.formParams.formViewType==3 || taskDefinition.formParams.formViewType==4,'show':!gsrvc.getTaskLoadedInPlaceholder()}">
					<div kt-grid grid-type="gridsterType" resource-form-loaded="formLoaded" resource-definition="taskDefinition" form-params="taskDefinition.formParams" form-data="dashboard[formType].data" parent="dashboard[formType].widgets" all-columns="dashboard[formType].widgets" class="ktGrid"></div>
				</div>
		    				
			</div>

			
			<!--<div class="card mt-2" ng-if="taskDefinition.form_type=='i'">-->
				<div class="card mt-2" ng-if="false">
					    
					
						   <div class="p-2" ng-if="taskDefinition.formParams.formViewType==2">
							<button type="button" class="btn {{taskDefinition.initTaskBtnDef.initTaskBtnStyle}}">
							  <i  class="{{taskDefinition.initTaskBtnDef.initTaskBtnIcon}}"></i>
																		<span class="ml-1"> {{taskDefinition.initTaskBtnDef.initTaskBtnTxt}}</span>
																	</button>
						     
						   
							<button type="button"  class="btn {{taskDefinition.initTaskBtnDef.cancelBtnStyle}} ml-1">
							  <i class="{{taskDefinition.initTaskBtnDef.cancelBtnIcon}}"></i>
																		<span class="ml-1"> {{taskDefinition.initTaskBtnDef.cancelBtnTxt}}</span>
																	</button>
						     </div>
						    
						   <div class="row m-0 p-2" ng-if="taskDefinition.formParams.formViewType!=2">
							 
							    <div class="col-lg-6 p-1">
																				<div class="row m-0">
																					<label>Start task button text </label>
																					<input type="text" class="form-control" ng-model="taskDefinition.initTaskBtnDef.initTaskBtnTxt"  />
																				</div>
								<div class="row m-0">
								  <div kt-icon-picker select-colors="true" select-icons="true" btn-label="taskDefinition.initTaskBtnDef.initTaskBtnTxt" selected-icon="taskDefinition.initTaskBtnDef.initTaskBtnIcon" selected-button="taskDefinition.initTaskBtnDef.initTaskBtnStyle" ></div>
								</div>
							    </div>
							    
							    <div class="col-lg-6 p-1">
																				<div class="row m-0">
																					<label>Cancel task button text </label>
																					<input type="text" class="form-control" ng-model="taskDefinition.initTaskBtnDef.cancelBtnTxt"  />
																				 </div>
								<div class="row m-0">
								  <div kt-icon-picker select-colors="true" select-icons="true" btn-label="taskDefinition.initTaskBtnDef.cancelBtnTxt" selected-icon="taskDefinition.initTaskBtnDef.cancelBtnIcon" selected-button="taskDefinition.initTaskBtnDef.cancelBtnStyle" ></div>
								</div>
							    </div>
					
							 
						    </div>
						   
					  <div class="p-1" ng-if="taskDefinition.formParams.formViewType!=2" >
					     <button type="button" class="btn btn-info btn-sm" ng-click="saveTaskBtns()">
						<span class='fa fa-save'></span>&nbsp Save task buttons
					    </button>
					</div>
		    </div>
						
		
		</div>
	</div>
	</form>
  </div>
</div>