<div id="ktTaskListWidgetProperties" class="p-1 w-75 m-auto" ng-form="ktTaskListWidgetProperties{{fd.PresentationId}}">

	   
	<div ng-show="localVars.datasetMapperType>0">
		       <div class=""><div class="h5 text-center">Execute task widget properties</div>
					<div  class="col-12 px-0 mt-2">
						<label class="label-xs text-muted">No data message </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.NoDataMsg"  />
						<label class="label-xs text-muted">Details button label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.DetailsBtnLabel"  />
						<label class="label-xs text-muted">Refresh data label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.RefreshDataBtnLabel"  />
						<label class="label-xs text-muted">Close button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.CloseBtnLabel"  />
						<label class="label-xs text-muted">Return button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.ReturnBtnLabel"  />
						 <div class="custom-control custom-checkbox">
								
							<input type="checkbox" class="custom-control-input" id="cbAutoSearch"  name="AutoSearch" ng-required="false" ng-model="fd.AutoSearch">
							<label class="custom-control-label" for="cbAutoSearch">Auto search</label>
		            					 
			            </div>
						<div class="custom-control custom-checkbox mt-1">
								
							<input type="checkbox" class="custom-control-input" id="cbShowSearchForm"  name="cbShowSearchForm" ng-required="false" ng-model="fd.ShowSearchForm">
							<label class="custom-control-label" for="cbShowSearchForm">Show search form</label>
		            					 
			            </div>
						
					</div>
						
					<div class="row m-0 mt-3 p-2 border border-primary">
						
						<div class="col-auto text-primary bg-white px-2 mt-n3">Select tasks by claim status</div> 	
					 
						<div class="col-24 mt-2">
						
							 <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">

								<label class="btn btn-outline-primary btn-toggle" ng-class="{'active':fd.Search.taskListType=='claim'}" ng-click="fd.Search.taskListType='claim'">
								  <input type="radio" name="accessType" ng-checked="fd.Search.taskListType=='claim'" ng-model="fd.Search.taskListType" id="taskListType1" autocomplete="off">
									 Not claimed
								</label>
								<label class="btn btn-outline-primary btn-toggle" ng-class="{'active':fd.Search.taskListType=='execute'}" ng-click="fd.Search.taskListType='execute'">
								  <input type="radio" ng-checked="fd.Search.taskListType=='execute'" ng-model="fd.Search.taskListType" name="accessType" id="taskListType2" autocomplete="off">
								   Claimed
								</label>
								<label class="btn btn-outline-primary btn-toggle" ng-class="{'active':fd.Search.taskListType=='all'}" ng-click="fd.Search.taskListType='all'">
								  <input type="radio" ng-checked="fd.Search.taskListType=='all'" ng-model="fd.Search.taskListType" name="accessType" id="taskListType3" autocomplete="off">
								   Any
								</label>
                        
							</div>
						 </div> 
							 
						</div>
						<div class="row m-0 mt-2">
						  <label class="col-24 px-0" for="taskDefId">Filter list by task</label>
						  <div class="col-24 px-0">
							
							<kt-dropdown-standard ng-if="tds.isCached['taskDefinitionList'] && tds.taskDefinitionList.length > 0" ng-model="fd.Search.taskDefIds" selected-items="fd.Search.taskDefIds" is-multiple="true" name="task{{fd.PresentationId}}" ng-required="false" dropdown-items="localVars.taskDefList" dropdown-id="'task'+fd.PresentationId" parent-form-id="'task'+fd.PresentationId" search-text="'Select task'"></kt-dropdown-standard>
	
							 </div>
						  </div>
					  <div class="row m-0 mt-2">
						 <label class="col-24 px-0" for="taskStatus">Filter list by task status</label>
						 <div class="col-24 px-0">
					
							<kt-dropdown-standard ng-if="localVars.taskStatuses.length>0" ng-model="fd.Search.taskStatus" selected-items="fd.Search.taskStatus" is-multiple="true" name="taskStatus{{fd.PresentationId}}" ng-required="false" dropdown-items="localVars.taskStatuses" dropdown-id="'taskStatus'+fd.PresentationId" parent-form-id="'taskStatus'+fd.PresentationId" search-text="'Select task status'"></kt-dropdown-standard>
	
	
							
						</div>
					  </div>
			  <div class="row m-0 mt-3 p-2 border border-primary" >
					 <div class="col-auto text-primary bg-white px-2 mt-n3">Define permissions</div> 	
					 
					<div class="col-24 mt-2">   
						<div class="btn-group btn-group-sm btn-group-toggle " data-toggle="buttons">
	
							<label class="btn btn-outline-primary btn-toggle" ng-class="{'active':fd.Search.CurrentUser}" ng-click="fd.Search.CurrentUser=true">
							  <input type="radio" name="accessType" ng-checked="fd.Search.currentUser" ng-model="fd.Search.currentUser" id="accessType1" autocomplete="off">
								 Current user
							</label>
							<label class="btn btn-outline-primary btn-toggle" ng-class="{'active':!fd.Search.CurrentUser}" ng-click="fd.Search.CurrentUser=false">
							  <input type="radio" ng-checked="!fd.Search.CurrentUser" ng-model="fd.Search.CurrentUser" name="accessType" id="accessType2" autocomplete="off">
							   Selected users and groups
							</label>
							
						</div>
						 <div  class="row m-0 mt-2" ng-show="!fd.Search.currentUser">
							<div  class="col-24">
							  
								<div kt-users-groups-select selected-users="fd.Search.Users" selected-groups="fd.Search.Groups" header-label="fd.Search.headerLabel" users-label="fd.Search.usersLabel" groups-label="fd.Search.groupsLabel"> </div>                           
							</div>
						 </div>
					</div> 
					
				 </div>
			 
					 
					  
			</div>
      

		

	</div>
	
</div>