<div >

 <ul class="form-container mb-0">
 

  <li ng-repeat="fd in inputArray.layout">
      
      <div ng-if="::fd.Status=='Active'" ng-switch="fd.ElementType" >
      
        <div ng-switch-when="gcol" kt-grid-column grid-type="::gridType" resource-form-loaded="resourceFormLoaded" parent-resource-def-id="::parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="::resourceDefinition" input-array="fd"
													form-params="::formParams" form-params-parent="::formParamsParent" form-data="formData" parent="::inputArray" class="noHorizontalPadding col-lg-{{::fd.SizeX}} col-md-{{::fd.Parameters.SizeXMd}} col-sm-{{::fd.Parameters.SizeXSm}} col-{{::fd.Parameters.SizeXXs}}" all-columns="allColumns"> </div>
								
								<div ng-switch-when="row" kt-grid-row grid-type="::gridType" row="fd"  resource-form-loaded="resourceFormLoaded" show-search-filters="::showSearchFilters"
                     parent-resource-def-id="::parentResourceDefId" resource-record-id="::resourceRecordId" resource-definition="::resourceDefinition"
                     form-params="::formParams" form-params-parent="::formParamsParent" form-data="formData" parent="inputArray" all-rows="allColumns"></div>
      
        <div ng-switch-when="grid" kt-grid> </div>
								<div ng-switch-default kt-form-field-generator> </div>
     </div>
		
    </li>

  </ul>
	
</div>
