<div id="ktTaskForPageProperties" ng-form="ktTaskListWidgetProperties{{fd.PresentationId}}">

	   
	<div>
		<div class="">
						
						  <div class="mt-2 text-center">
							<label class="label-xs d-block text-muted"><b>Id:</b> {{fd.PresentationId || 'none'}}</label>
							<label class="label-xs text-muted"><b>Type:</b> {{fd.Name}} ({{fd.ElementType}})</label>
	 					</div>
					
						<div class="row m-0 mt-2 p-2">
						  <label class="col-lg-24 px-0" for="taskDefId"> Task</label>
						  <div class="col-lg-24 px-0">
							
								<kt-dropdown-standard size="'small'" ng-if=" tds.getTaskDefinitionList().length" 
                                    ng-model="fd.Parameters.taskDefId" selected-items="fd.Parameters.taskDefId" 
                                    is-multiple="false" name="task{{fd.PresentationId}}" 
                                    ng-required="false" 
                                    dropdown-items="tds.taskDefinitionList" dropdown-id="'task'+fd.PresentationId"
                                   
                                    parent-form-id="'ktTaskListWidgetProperties'+fd.PresentationId" search-text="'Select task'">
                                  </kt-dropdown-standard>
							<!--	<div ng-if="tds.isCached['taskDefinitionList'] &&  tds.taskDefinitionList.length==0" class="form control">No task data</div>-->
							</div>
						</div>
      
			</div>
	</div>
	
</div>