<div class="widget-head">

		<div ng-show="!fd.localVars.formLoaded" animation-type="'form'" kt-processing-animation-timeline show-msg="false" message="Loading form..."></div>
		
		<div ng-show="fd.localVars.formLoaded">
			 <div class="mt-1 p-2 text-danger" ng-if="fd.localVars.NoPublishedResourceMsg!==undefined">{{fd.localVars.NoPublishedResourceMsg}}</div>  
			<div kt-grid grid-type="::fd.localVars.gridsterType" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="::fd.ParentDatasetDefId" resource-record-id="::fd.localVars.datasetRecordId"
			   resource-definition="::resourceDefinition" form-params-parent="formParams" form-params="::fd.localVars.formParams" form-data="formData[fd.PresentationId]"
			  parent="::fd.localVars.dashboard.widgets" all-columns="::fd.localVars.dashboard.widgets" class="ktGrid"></div>
		<!--  -->
		</div>
  
</div>