<div idd="ktTaskViewChartProperties" class="p-1">


    </div>

	<div ng-form="'viewChartProperties'+fd.PresentationId" ng-if="true" >
		
		<div class="row m-0 p-0">
			<div class="col-24 mb-2 p-0">	 
			  <label class="label text-muted">Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
			
			  <label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
			
				<label class="label text-muted">Search header text </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				<label class="label text-muted">No data message </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.NoDataMsg"  />
                
                
              <div class="my-2 py-1">
              <div class="mb-1"><u> Data parameters </u>
              </div>
			  <label class="pl-0 label-xs text-muted" for="nameField">Select aggregate fields</label>
                 <kt-dropdown-standard class="m-1" ng-model="fd.Parameters.AggregateField" selected-items="fd.Parameters.AggregateField"
                    is-multiple="false" size="'small'" name="Parameters.AggregateField{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.fieldsList" 
                    dropdown-id="'Parameters.AggregateField'+fd.PresentationId" parent-form-id="'viewChartProperties'+fd.PresentationId" 
                    search-text="'Select aggregate fields'"></kt-dropdown-standard>
                 
                 <label class="pl-0 label-xs text-muted" for="nameField">Select calculated fields</label>
                 <kt-dropdown-standard class="m-1" ng-model="fd.Parameters.CalculateField" selected-items="fd.Parameters.CalculateField" 
                    is-multiple="false" size="'small'" name="Parameters.CalculateField{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.fieldsList" 
                    dropdown-id="'Parameters.CalculateField'+fd.PresentationId" parent-form-id="'viewChartProperties'+fd.PresentationId" 
                    search-text="'Select calculated fields'"></kt-dropdown-standard>


                 <label class="pl-0 label-xs text-muted" for="nameField">Select function</label>
                 <kt-dropdown-standard class="m-1" ng-model="fd.Parameters.CalculateFunction" selected-items="fd.Parameters.CalculateFunction" 
                    is-multiple="false" size="'small'" name="Parameters.CalculateField{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.calculateFunction" 
                    dropdown-id="'Parameters.CalculateFunction'+fd.PresentationId" parent-form-id="'viewChartProperties'+fd.PresentationId"
                    search-text="'Select function'"></kt-dropdown-standard>
                    
                 <label class="pl-0 label-xs text-muted" for="nameField">Select CHART TYPE</label>
                 <kt-dropdown-standard  class="m-1" ng-model="fd.Parameters.chartType" selected-items="fd.Parameters.chartType" 
                    is-multiple="false" size="'small'" name="Parameters.chartType{{fd.PresentationId}}" required-field="true" dropdown-items="fd.localVars.chartTypes" 
                    dropdown-id="'Parameters.chartType'+fd.PresentationId" parent-form-id="'viewChartProperties'+fd.PresentationId"
                    search-text="'Select chart type'"></kt-dropdown-standard>


            </div>
            
            
			</div>
			<div class="col-24">
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbRequired{{fd.PresentationId}}" ng-model="fd.Required"> 
					<label class="custom-control-label label-xs" for="cbRequired{{fd.PresentationId}}">Required</label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbAutoSearch" ng-model="fd.AutoSearch"> 
					<label class="custom-control-label label-xs" for="cbAutoSearch">Auto search</label>
							 
				</div>
		
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" ng-model="fd.Parameters.ShowGetDataButton" id="cbShowGetDataButton{{fd.PresentationId}}"> 
					<label class="custom-control-label label-xs" for="cbShowGetDataButton{{fd.PresentationId}}"> Show Get data button </label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" ng-model="fd.ShowSearchForm" ng-click="fd.localVars.showHideSearchForm()" id="cbShowSearchForm"> 
					<label class="custom-control-label label-xs" for="cbShowSearchForm"> Show search form</label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" ng-model="fd.Parameters.SearchFormCollapsed" id="cbSearchFormCollapsed"> 
					<label class="custom-control-label label-xs" for="cbSearchFormCollapsed"> Search form collapsed</label>
							 
				</div>
						  
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbMultiline" ng-model="fd.Multiline"> 
					<label class="custom-control-label label-xs" for="cbMultiline">Select multiple records</label>
							 
				</div>
				
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbAllRecords" ng-model="fd.Parameters.DownloadAllRecords"> 
					<label class="custom-control-label label-xs" for="cbAllRecords">Download all records</label>
							 
				</div>
                
  

				
				<label class="label-xs text-muted">Dependent field Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldId"  />
				<label class="label-xs text-muted">Dependent field type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.DependentFieldType"  />
				<div class="custom-control custom-checkbox mr-3">
							
					<input type="checkbox" class="custom-control-input" id="cbClientSideFilter" ng-model="fd.Parameters.ClientSideFilter"> 
					<label class="custom-control-label label-xs" for="cbClientSideFilter">Client side filtering</label>
							 
				</div>
				<div>
					<div><u>Events</u></div>
					<label class="label-xs text-muted">Event action </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventAction"  />
					<label class="label-xs text-muted">Event source type </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventSourceType"  />
					<label class="label-xs text-muted">Event source widget Id </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventSourceId"  />
					<label class="label-xs text-muted">Event name </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.EventName"  />
				</div>
			</div>
		</div>
		
		
		<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
			<label ng-click="fd.Parameters.PresentationType='table'" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='table'}">
			  <span class='fas fa-table mr-2'></span> <input  type="radio" name="presentationtype" id="pType1" autocomplete="off" checked=""> Table 
			</label>
			
			<label ng-click="fd.Parameters.PresentationType='dropdown';fd.localVars.getFormFields();" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='dropdown'}">
			  <span class='far fa-caret-square-down mr-2'></span><input  type="radio" name="presentationtype" id="pType2" autocomplete="off"> Dropdown
			</label>
			  <label ng-click="fd.Parameters.PresentationType='card'" class="btn btn-sm btn-primary" ng-class="{'active':fd.Parameters.PresentationType=='card'}">
			  <span class='far fa-id-card mr-2'></span><input  type="radio" name="presentationtype" id="pType3" autocomplete="off"> Card
			</label>

		</div>
		<div ng-if="fd.Parameters.PresentationType=='table'" class="col-24 p-2">
			<div class="col-24 mb-2">	 
				<label class="label text-muted">Button label</label> <input type="text" class="form-control form-control-sm" ng-model="fd.ParametersLang.GetDataBtnLabel"  />
			</div>
		</div>
		
		<div ng-if="fd.Parameters.PresentationType=='dropdown'" class="col-24 p-2">
			<div class="my-auto" class="w-100">
				<label class="marginL5 form-control-label  no-border" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}">Select fields </label>
          
			</div>
			
			<kt-dropdown ng-model="fd.NameField" selected-items="fd.NameField" is-multiple="true" name="NameField{{fd.PresentationId}}" dropdown-items="fd.localVars.fieldsList" dropdown-id="'NameField'+fd.PresentationId" parent-form-id="'innerFormNameField'+fd.PresentationId" search-text="'Select dataset fields'"></kt-dropdown>
		</div>
		
		
	</div>
	
	
	<div ng-if="fd.localVars.datasetMapperType==3" class="row m-0 p-2">
	    <div kt-initiate-task-widget class="col-24"></div>
	</div>	

</div>