<!--  input-array = "widget" -->
<div class="form-group" ng-class="{ 'has-error' : (innerForm.$submitted || innerForm.{{fd.name}}.$touched) && innerForm.{{fd.name}}.$invalid }">
   
 <uib-tabset active="active">
  
    <uib-tab index="$index+1 " ng-repeat="tab in fd.FormDef" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
      <div class="row p-0 m-0" ng-if=" isFormViewTypeEqual(2) || formParams.formViewType==1 || formParams.formViewType==2 ">
          <div ng-class="{'border rounded p-4': 1==1}" ng-repeat="column in tab.row.layout track by column.id" class="p-0 col-lg-{{column.SizeX}} col-md-{{column.Parameters.SizeXMd}} col-sm-{{column.Parameters.SizeXSm}} col-{{column.Parameters.SizeXXs}}" ng-class="{'col-auto':column.Parameters.AutoSize}"
            style="padding:{{column.Parameters.padding.top.value}}{{column.Parameters.padding.top.units}} {{column.Parameters.padding.right.value}}{{column.Parameters.padding.right.units}} {{column.Parameters.padding.bottom.value}}{{column.Parameters.padding.bottom.units}} {{column.Parameters.padding.left.value}}{{column.Parameters.padding.left.units}} !important; 
                       margin:{{column.Parameters.margin.top.value}}{{column.Parameters.margin.top.units}} {{column.Parameters.margin.right.value}}{{column.Parameters.margin.right.units}} {{column.Parameters.margin.bottom.value}}{{column.Parameters.margin.bottom.units}} {{column.Parameters.margin.left.value}}{{column.Parameters.margin.left.units}} !important;
                       border:{{column.Parameters.border.top.width}}px {{column.Parameters.border.top.style}} {{column.Parameters.border.top.color}} {{column.Parameters.border.right.width}}px {{column.Parameters.border.right.style}} {{column.Parameters.border.right.color}} {{column.Parameters.border.bottom.width}}px {{column.Parameters.border.bottom.style}} {{column.Parameters.border.bottom.color}} {{column.Parameters.border.left.width}}px {{column.Parameters.border.left.style}} {{column.Parameters.border.left.color}} !important;
                       background-color: {{column.Parameters.BackgroundColorA}} !important;
                                      box-shadow: {{column.Parameters.ShadowHOffset}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowVOffset}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowBlur}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowSpread}}{{column.Parameters.ShadowUnits}} {{column.Parameters.ShadowColor}};
                       ">
                  <div  ng-switch="column.ElementType">
                        <div ng-switch-when="gcol" ng-if="column.Status=='Active'" kt-grid-column  resource-form-loaded="resourceFormLoaded" grid-type="gridType" show-search-filters="showSearchFilters" parent-resource-def-id="parentResourceDefId" resource-record-id="resourceRecordId" resource-definition="resourceDefinition" input-array="column" form-params="formParams"
                            form-params-parent="formParamsParent" form-data="formData" parent="tab.row" all-columns="tab.row.layout" all-rows="allRows" index="$index" class="p-0"> 
                        </div>
                  </div>
            </div>
       
    
    </div>
    </uib-tab>
  
  </uib-tabset>
  
</div>





