<div>
    <label >{{fd.placeholder}}</label>
     <div  class="control-group">

                            <button type="button"  class="btn btn-light" ng-disabled="!resourceSelected" ng-click="getFormResource()">
                                <span class='fa fa-search'></span> Get search form</button>
   </div>
  <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGrid" ng-if="!searchFormDownloaded"> </div>

	 <div class="col-sm-2" ng-show="!inputArray.locked">

			<div class="row">

				<a title="sort" as-sortable-item-handle><i  class="fa fa-sort"></i></a>
        <a style="display:inline-block" uib-popover-template="'tasksearchproperties.html'" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="right-top"><i class="fa fa-caret-square-o-right"></i> </a>
			  <a  style="display:inline-block"  title="Hide field"  ng-show="!fd.saved" ng-click="removeField($index)"><i  class="fa fa-times"></i></a>


			</div>
	</div>


<script id="tasksearchproperties.html" type="text/ng-template">

		<div class="box-header-btns float-right" >
      <label>Label </label> <input type="text" class="form-control" ng-model="fd.placeholder"  />
		 <label>Error msg </label> <input type="text" class="form-control" ng-model="fd.errorMsg"  />
		 <label>SearchText </label> <input type="text" class="form-control" ng-model="fd.searchText"  />
		</div>



</script>

<div>
  <button type="button"  class="btn btn-light" ng-hide="!searchFormDownloaded" ng-click="searchFormDownloaded=!searchFormDownloaded">
      <span class='fa fa-search'></span> Show resources</button>

</div>

<div gridster="gridsterOpts">

	<ul>

  	<li gridster-item="widget" ng-repeat="widget in dashboard.widgets" style="z-index:auto"> <!-- MIGOR z-index:auto-->


			<div class="box">
				<div style="display: inline-block;border:1px solid #ccc;width: 100%;background-color:#eee">
				<div class="box-header" style="display: inline-block;border:1px solid #ccc">
					<i class="fa fa-hand-paper-o drag-handle-form" style="display: inline-block"></i>
				</div>

				<div style="display: inline-block;background-color:#eee">{{ widget.name }}	</div>

				<div class="float-right" style="margin-right:6px">

						<a title="Remove widget" ng-show="widget.locked" ng-click="lock($index)"><i class="fa fa-lock" style="color:black"></i></a>
						<a title="Remove widget" ng-show="!widget.locked" ng-click="lock($index)"><i class="fa fa-unlock-alt" ></i></a>

						<a uib-popover-template="'toolbox.html'" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="right-top"><i class="fa fa-plus-square"  ng-class="{'color:black': widget.locked}"></i> </a>
						<a title="Remove widget"  ng-click="!widget.locked && remove($index)"><i  class="fa fa-times" ng-class="{'disabled': widget.locked}"></i></a>
					</div>

				</div>
            <!--<button type="button" class="btn-link" uib-popover="Evo jel radi"><i class="fa fa-plus-square"></i> </abuttom>-->


				<div class="box-content">

				<div kt-formlayout input-array="widget"> </div>

         <script id="toolbox.html" type="text/ng-template">
					<div ng-if="widget.locked" >Unlock widget!</div>
					<div ng-if="!widget.locked" kt-toolbox />
              </script>

				</div> <!-- box-content -->

			</div> <!-- box -->

		</li>
	</ul>

	</div>
<div>
  <button type="button"  class="btn btn-light" ng-hide="!searchFormDownloaded" ng-click="getResourceDataFiltered()">
      <span class='fa fa-globe'></span> Get resources data</button>

</div>
 <div ui-grid="gridOptionsResourceData" ui-grid-selection ui-grid-resize-columns class="myGrid" ng-show="searchFormDownloaded"> </div>

</div>