
<div class="dropdown d-inline-block" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}">
		<a href class="btn btn-outline-danger border-0 btn-sm" title="Remove field" id="dropdownMenuButton" ng-click="fd.localVars.toggleDropdown()" aria-haspopup="true" aria-expanded="false">
			<i  class="fa fa-trash"></i>
		</a>
		<div style="visibility: {{fd.localVars.showMenu ? 'visible': 'hidden' }}"  class=" dropdown-newmenu shadow p-0 dropdown-max-content-width" aria-labelledby="dropdownMenuButton">
			<div class="card-header p-0 px-1 bg-light">
				 
				 <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small"></span></span>
				 
			</div>
			<div class="m-1">
				 <div class="m-1 small bold text-dark">Click Confirm to delete widget! </div>
				 <div ng-if="false" class="ml-1 small text-dark">This action may result in a loss of data!</div>
			</div>
			<div class="p-1">
				 <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="fd.localVars.toggleDropdown();removeField($index)">
					 Confirm <i  class="ml-2 fa fa-check"></i>
				 </button>
                     <button  type="button"  class="btn btn-xs btn-warning" title="Cancel" ng-click="fd.localVars.toggleDropdown()">
										 Cancel 
                                       <!--  <i  class="ml-2 fa fa-check"></i>-->
                    </button>
			</div>
		</div>
</div>
        