
<div ktTaskDatasetList class="mb-1 widget-head" ng-class="{'widget-active':fd.localVars.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 bg-light" ng-class="{'widget-head-active':fd.localVars.datasetMapperType>0,'bg-light':fd.localVars.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0 bg-gray-100">
          <i class="fa fa-list mx-2"></i><label >Resource list ({{fd.PresentationId}})</label>
       <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 {{gridType}}-element-drag-handle widget-prop"><i  class="{{gridType}}-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="fd.localVars.showProperties(1,false)" ng-class="{'btn-warning':fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">
                 <!--   {{fd.localVars.selectedResourceItem.name_confirmed}}-->
                         {{fd.localVars.selectedResourceItem.name}}
                        ({{fd.localVars.selectedDataset.ResourceDefId}})
                </span>
				<span ng-if="fd.Parameters.SelectedResourceType && (fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined)">
                Select {{fd.Parameters.SelectedResourceType}}
                </span>
                <span ng-if="!fd.Parameters.SelectedResourceType && (fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined)">
                Select resource
                </span>
			  </button>
			</div>
        
        <div class="col-auto p-0" ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVars.datasetMapperType = 5 ; fd.localVars.showProperties(2,true)"><i class="fas fa-cog"></i> </a>	
                	
                
        </div>
        
		<div class="col-auto p-0">
			     <div kt-task-dropdown> </div>
			
		</div>
		
	 </div>
      
    <!-- <div ng-if="fd.localVars.datasetMapperType>0 && formParams.formViewType==1" class="pl-2 mb-1">
               <div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
     </div>-->
     
       <div ng-if="fd.localVars.datasetMapperType==1" fd="fd" local-vars="fd.localVars" kt-dataset-mapper>
     </div>
     

<div ng-class="{'mx-2 mt-n1 mb-2 border p-2':fd.localVars.datasetMapperType==2}">
	<div ng-form="datasetListSearchForm{{fd.PresentationId}}" class="form-horizontal" role="form">
	    <div ng-show="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)" class="pt-4">
	        <div class="p-0 border-bottom mb-2">
	           
	              <div class="row m-0 p-1 text-primary">
	                            <div class="col p-0">
	                                 <i class="fa fa-search"></i> 
	                                 <span class="ml-2">{{fd.SearchText}}</span>
	                            </div>
	                            <div class="col-auto px-0">
	                    <button type="button" class="btn btn-outline-primary btn-xs border-0" data-toggle="collapse" data-target="#isCollapseId{{::fd.PresentationId}}"
	                            aria-expanded="{{fd.localVars.isCollapsed}}" aria-controls="isCollapsedId{{::fd.id}}" ng-click="fd.localVars.isCollapsed = !fd.localVars.isCollapsed" >
	                      <span ng-class="{'fa fa-chevron-down': !fd.localVars.isCollapsed,'fa fa-chevron-right': fd.localVars.isCollapsed }" ></span></button>
	                            </div>
	              </div>    
	      	</div>
				
				
				
		 
	         <div class="collapse show" id="isCollapseId{{::fd.PresentationId}}">
	           <div ng-if="!fd.localVars.formLoaded && fd.localVars.datasetMapperType==2" class="row m-0 border-0"  kt-processing-animation-timeline animation-type="form" show-msg="false" message="Loading form..."></div>

	                <div ng-if="fd.localVars.datasetMapperType==2 || (fd.ShowSearchForm && formParams.formViewType==2 && fd.localVars.formLoaded && fd.localVars.resourceDataDownloaded)">
	                    <div class="mt-1 p-2 text-primary" ng-if="fd.localVars.dashboard.widgets.layout.length==0" >
	                        
	                        <span class="mr-3">Form is not defined or empty</span>
	                         <button  type="button"  class="btn btn-primary" title="Confirm" ng-click="fd.localVars.getFormResourceOriginal()">
	                                             Reload dataset from <i  class="ml-2 fas fa-sync"></i>
	                        </button>
	                    </div>   
	                   
	                        <div kt-grid grid-type="fd.localVars.gridsterType" show-search-filters="fd.localVars.showSearchFilters" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="fd.Related" resource-record-id="fd.localVars.datasetRecordId"
	                            resource-definition="resourceDefinition" form-params="fd.localVars.formParams" form-params-parent="formParams" form-data="fd.localVars.widgetState.formData" parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets" class="ktGrid">
	                        </div>

	      
	                </div>
	                   
	            </div>
	   
	   	</div>
	  
	   
		<div class="row m-0 mt-2" ng-show="formParams.formViewType==2 || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)">
						
				<div ng-if="fd.Parameters.ShowGetDataButton" class="col-auto my-auto px-0">
					   <button type="button"  class="btn btn-outline-primary btn-sm " ng-click="fd.localVars.GetDatasetDataClick()"> <!-- migor dodao u ng-click -->
						 <i ng-if="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)" class="fa fa-database"></i>
						  <span ng-if="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)">{{fd.ParametersLang.GetDataBtnLabel}}</span>
						 
						 <i ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)" class="fas fa-sync"></i>
						  <span ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)">{{fd.ParametersLang.GetDataBtnLabel}}</span>
				 
					   </button>
				 </div>
				
		</div>
    
    </div>
	
	<div ng-if="(fd.FormDef.length>0 && formParams.formViewType==2 && fd.localVars.widgetState.selectedItems.length) || (fd.localVars.datasetMapperType==2 && formParams.formViewType==1)" class="bg-gray-20 pt-4 pb-1 border-bottom" style="position: sticky;min-height: 45px;top: 44px;z-index: 1;">
		<div class="col p-0 my-auto">
			<div kt-initiate-task-widget ng-if="fd.localVars.widgetState.selectedItems.length>0"></div>
		</div>
	</div>

	<div class="row mt-4" ng-if="fd.Parameters.SelectedResourceType=='file'">
			<div class="col-auto my.auto">
			  		<button type="button" ng-if="fd.localVars.widgetState.selectedItems.length>0 && !fd.Parameters.NoPreview" class="btn btn-primary btn-xs"  ng-click="fd.localVars.previewFile(fd.localVars.widgetState.selectedResourceRecord[fd.localVars.TablePrefix+'_id'],fd.localVars.widgetState.selectedResourceRecord[fd.localVars.TablePrefix+'_FileName'],fd.localVars.widgetState.selectedResourceRecord[fd.localVars.TablePrefix+'_FileType'])"><i class="fa fa-search"></i> 
			  			<span ng-if="fd.ParametersLang.PreviewLabel">{{fd.ParametersLang.PreviewLabel}}</span> <span ng-if="!fd.ParametersLang.PreviewLabel"> Preview file</span></button>
			  		<button type="button" ng-if="fd.localVars.widgetState.selectedItems.length>0 && !fd.Parameters.NoDownload" class="btn btn-primary btn-xs"  ng-click="fd.localVars.downloadFile(fd.localVars.widgetState.selectedResourceRecord[fd.localVars.TablePrefix+'_id'],fd.localVars.widgetState.selectedResourceRecord[fd.localVars.TablePrefix+'_FileName'])"><i class="fa fa-download"></i> <span ng-if="fd.ParametersLang.DownloadLabel">{{fd.ParametersLang.DownloadLabel}}</span> <span ng-if="!fd.ParametersLang.DownloadLabel"> Download file</span></button>
			</div>
	</div>
    
    
	<div class="row m-1">	
	<div class="col text-right" ng-if="fd.localVars.formDefinition && fd.Parameters.PresentationType=='table' && fd.localVars.datasetMapperType==2 && formParams.formViewType==1">
				 <button class="btn btn-primary btn-xs" type="button" ng-click="fd.localVars.getDefaultColumnsDef()">Reload default columns</button>
		</div>				
		<div class="col-auto" ng-if="resourceDefinition.form_definition && fd.Parameters.PresentationType=='table' && fd.localVars.datasetMapperType==2 && formParams.formViewType==1">
				 <button class="btn btn-primary btn-xs" type="button" ng-click="fd.localVars.saveGridState(true)">Save grid state</button>
		</div>				
	</div>
    
    
    
	<div ng-if="fd.Parameters.PresentationType=='table'">
		
	 	<div ng-if="fd.localVars.gridOptionsResourceData.data.length==0 && !fd.localVars.InitialLoad && !fd.localVars.resourceDataDownloading && fd.localVars.resourceDataDownloaded" class="text-center p-4">
    			<i class="fa fa-file fa-4x mb-2"></i>
	
    			<div class="h5">{{fd.ParametersLang.NoDataMsg}}</div>
    
		</div>
		
		<div class="border-0 mt-1" style="{{ fd.Parameters.cssStyle }}" ng-show="(formParams.formViewType==2 || (formParams.formViewType==1 && fd.localVars.datasetMapperType==2))">
			
			<div ng-if="formParams.formViewType==2 || (formParams.formViewType==1 && fd.localVars.datasetMapperType==2)">
					<div id="loadingscreen{{fd.PresentationId}}" ng-show="fd.localVars.resourceDataDownloading" kt-processing-animation-timeline animation-type="'table'" show-msg="fd.Parameters.ShowLoadingMessage" message="{{fd.Parameters.LoadingMessage}}">
                    </div>
					
                    
                    <div id="smartTable{{fd.PresentationId}}" kt-smart-table ng-if="fd.localVars.datasetlistlinked && ((fd.localVars.resourceDataDownloaded && !fd.localVars.resourceDataDownloading && fd.localVars.gridOptionsResourceData.data.length>0) || (fd.localVars.datasetMapperType==2 && fd.localVars.gridOptionsResourceData.columnDefs.length>0))"  class=""  

                        use-pagination="fd.Parameters.UsePagination" 
                        parameters="fd.Parameters"
                        font-size="fd.Parameters.table.fontSize"
                        cell-padding="fd.Parameters.table.cellPadding"
                        column-defs="fd.localVars.gridOptionsResourceData.columnDefs"
                        items-on-page="fd.localVars.widgetState.pageSize" 
                        row-selected-change="fd.localVars.rowSelectionChanged(item)"
                        kt-refresh-data="fd.localVars.getDataSmartTable(tableState, pageNumber,pageSize)"
						initial-page="fd.localVars.widgetState.currentPage"
                        grid-data ="fd.localVars.gridData()"
                        kt-process-action="fd.localVars.processTableAction(item,actionId)">
                    </div>   
					   <!-- client-side="true" -->
                         
					
            </div>
			  
	  
            <div ng-if="false" ng-show="(formParams.formViewType==2 || (formParams.formViewType==1 && fd.localVars.datasetMapperType==2)) && fd.localVars.gridOptionsResourceData.data.length>0" class="row m-1 p-0">
					  
					  <div class="col pl-0">
						
						<ul uib-pagination boundary-links="true" max-size="10" items-per-page="fd.localVars.pageSize" force-ellipses="true" total-items="fd.localVars.totalCount" ng-model="fd.localVars.currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="fd.localVars.pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</ul>
					  </div>            
					  
					  <div class="col-lg-auto p-1">
									
						  <select class="input-sm" ng-change="fd.localVars.pageChanged()" ng-model="fd.localVars.pageSize" >
							  <option ng-repeat="ps in fd.localVars.gridOptionsResourceData.paginationPageSizes track by ps"  ng-selected="fd.localVars.pageSize==ps" ng-value="ps">{{ps}}</option>
								   
						  </select>  <span class="small ml-2">{{fd.ParametersLang.PagerLabel1}} </span> <span class="small ml-2"> | </span> <span class="small ml-2"> {{fd.ParametersLang.PagerLabel2}} {{fd.localVars.currentPage}} / {{fd.localVars.numPages}}  </span><span class="small ml-2"> | </span> <span class="small ml-2"> {{fd.localVars.pageSize*fd.localVars.currentPage+1-fd.localVars.pageSize}} - {{fd.localVars.pageSize*fd.localVars.currentPage>fd.localVars.totalCount ? fd.localVars.totalCount : fd.localVars.pageSize*fd.localVars.currentPage}} {{fd.ParametersLang.PagerLabel3}}  {{fd.localVars.totalCount}} {{fd.ParametersLang.PagerLabel4}} </span>
								  
					  </div>
					  
			</div>
		</div>
		
		<div ng-if="fd.localVars.resourceDataDownloaded && fd.localVars.gridOptionsResourceData.columnDefs.length>0 && fd.localVars.widgetState.selectedItems.length>0"> 
			<div ng-if="false" class="row m-0 p-1">
				<div  class="col-auto">
					<div ng-if="relatedDataset.fieldType=='resource' || relatedDataset.fieldType=='resourceLink'" ng-repeat="relatedDataset in fd.localVars.gridOptionsResourceData.columnDefs track by $index">
						<button  type="button" ng-click="fd.localVars.getDatasetRelatedRecords(relatedDataset.relatedDatasetId,fd.localVars.widgetState.selectedDatasetRecordId,relatedDataset.modelId)"  class="btn btn-outline-primary">
						  {{relatedDataset.displayName}}  </button>
					</div>
				</div>
		  
				<div class="col" ng-if="fd.localVars.showGrid && fd.localVars.gridApi.selection.getSelectedRows().length>0 && formParams.formViewType==2"> 
					 <div id="grid3"  ui-grid="fd.localVars.gridOptionsRelated"  ui-grid-move-columns ui-grid-save-state ui-grid-auto-resize ui-grid-grouping ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  <!-- zašto ne prikelji klasu mygrid2??? -->
				</div>
			 
			  
			</div>
		  
	
		</div>
	</div>
    
    
    <div ng-if="fd.Parameters.PresentationType=='dropdown'" class="m-1">
		<div class="my-auto" ng-class="colLength[fd.LabelLength-1]">
           <label class="marginL5 form-control-label  no-border" for="{{::fd.Name}}{{::fd.PresentationId}}" ng-class="{ 'text-danger' : (innerForm{{::fd.PresentationId}}.$submitted || innerForm{{::fd.PresentationId}}.{{::fd.Name}}{{::fd.PresentationId}}.$touched) && innerForm{{::fd.PresentationId}}.{{::fd.Name}}{{::fd.PresentationId}}.$invalid}">  {{fd.Label}} </label>
          
        </div>
		<div ng-class="colLength[fd.ValueLength-1]">  
		<kt-dropdown-standard ng-model="fd.localVars.widgetState.itemValue.val" ng-if="fd.localVars.datasetItems || formDefinition" selected-items="fd.localVars.widgetState.itemValue.val" size="" is-multiple="fd.Multiline" required-field="fd.Required" dropdown-items="fd.localVars.datasetItems" dropdown-id="fd.Name+fd.PresentationId" parent-form-id="'innerForm'+fd.PresentationId" search-text="fd.SearchText"></kt-dropdown-standard>
		</div>
	</div>
    
    
	<div ng-if="fd.Parameters.PresentationType=='card'">
		<div ng-if="formParams.formViewType==1  && fd.localVars.datasetMapperType==2" class="border m-3 shadow-sm">
				<div class="mt-1 p-2 text-primary" ng-if="fd.localVars.cardLayoutLoaded && fd.localVars.dashboardCard.widgets.layout.length==0" >
					
					<span class="mr-3">Card layout is not defined or empty</span>
					 <button  type="button"  class="btn btn-primary" title="Confirm" ng-click="fd.localVars.getDatasetCardLayoutOriginal()">
										 Reload dataset from <i  class="ml-2 fas fa-sync"></i>
					</button>
				</div>
					<div class="border-bottom text-center p-1"><span class="h6">Card layout definition</span></div>
					<div kt-grid grid-type="fd.localVars.gridsterType" show-search-filters="fd.localVars.showSearchFilters" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="" resource-record-id="" resource-definition="resourceDefinition" form-params="fd.localVars.cardLayoutParams" form-params-parent="formParams" form-data="formCardData" parent="fd.localVars.dashboardCard.widgets" all-columns="fd.localVars.dashboardCard.widgets" class="ktGrid">
					</div>
  
		</div>
		
			<div ng-if="formParams.formViewType==2" >
				
				<div ng-if="fd.localVars.gridOptionsResourceData.data.length==0 && !fd.localVars.InitialLoad && fd.localVars.resourceDataDownloaded" class="text-center p-4">
    				<i class="fa fa-file fa-4x mb-2"></i>
	
    				<div class="h5">{{fd.ParametersLang.NoDataMsg}}</div>
    
				</div>
				<div class="mt-1 p-2 text-primary" ng-if="fd.localVars.cardLayoutLoaded && fd.localVars.dashboardCard.widgets.layout.length==0" >Card layout is not defined or empty</div>   
					
				<div  class="row m-0 mx-2"  ng-if="fd.localVars.cardLayoutLoaded && fd.localVars.gridOptionsResourceData.data.length>0">
					<div class="col-6 p-1 show-on-hover-container" ng-class="{'selected':fd.localVars.widgetState.selectedCardIndex==$index}" ng-repeat="dataRec in fd.localVars.gridOptionsResourceData.data track by $index">
						
						<div class="h-100 dataset-list-card" ng-class="{'selected':fd.localVars.widgetState.selectedCardIndex==$index}">
							<button type="button" class="btn btn-link show-on-hover-item" ng-click="fd.localVars.selectCardItem($index)">
								<span ng-if="fd.localVars.widgetState.selectedCardIndex!=$index">Select</span>
								<span ng-if="fd.localVars.widgetState.selectedCardIndex==$index">Unselect</span>
							</button>
							
							<div kt-grid class="ktGrid" grid-type="fd.localVars.gridsterType" show-search-filters="false" resource-form-loaded="fd.localVars.cardLayoutLoaded" parent-dataset-def-id="" dataset-record-id="" resource-definition="resourceDefinition" form-params="fd.localVars.cardLayoutParams" form-params-parent="formParams" form-data="dataRec" parent="fd.localVars.dashboardCard.widgets" all-columns="fd.localVars.dashboardCard.widgets">
							</div>

							<div class="p-1 initiate-task-widget" ng-class="{'selected':fd.localVars.widgetState.selectedCardIndex==$index}">
								<div kt-initiate-task-widget ></div>
							</div>
						</div>

					</div>
				</div>
				<div ng-if="false" ng-show="(formParams.formViewType==2 || (formParams.formViewType==1 && fd.localVars.datasetMapperType==2)) && fd.localVars.gridOptionsResourceData.data.length>0" class="row m-1 p-0">
					  
					  <div class="col pl-0">
						
						<ul uib-pagination boundary-links="true" max-size="10" items-per-page="fd.localVars.pageSize" force-ellipses="true" total-items="fd.localVars.totalCount" ng-model="fd.localVars.currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="fd.localVars.pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
						</ul>
					  </div>            
					  
					  <div class="col-lg-auto p-1">
									
						  <select class="input-sm" ng-change="fd.localVars.pageChanged()" ng-model="fd.localVars.pageSize" >
							  <option ng-repeat="ps in fd.localVars.gridOptionsResourceData.paginationPageSizes track by ps"  ng-selected="fd.localVars.pageSize==ps" ng-value="ps">{{ps}}</option>
								   
						  </select>  <span class="small ml-2">{{fd.ParametersLang.PagerLabel1}} &nbsp&nbsp | &nbsp&nbsp  {{fd.ParametersLang.PagerLabel2}} {{fd.localVars.currentPage}} / {{fd.localVars.numPages}} &nbsp&nbsp | &nbsp&nbsp {{fd.localVars.pageSize*fd.localVars.currentPage+1-fd.localVars.pageSize}} - {{fd.localVars.pageSize*fd.localVars.currentPage>fd.localVars.totalCount ? fd.localVars.totalCount : fd.localVars.pageSize*fd.localVars.currentPage}} {{fd.ParametersLang.PagerLabel3}} {{fd.localVars.totalCount}} {{fd.ParametersLang.PagerLabel4}}</span>
								  
					  </div>
					  
			</div>
  
		</div>
	</div>
    
    
     <div class="modal fade" role="dialog" aria-labelledby="datasetMapperModal" id="datasetMapperModal{{fd.PresentationId}}" aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>Define dataset mapping</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
		      				<div kt-dataset-to-dataset-mapper ng-if="fd.localVars.datasetMapperType>0"></div>
		      		</div>
				</div>
			</div>
    </div>

    
    
  <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="datasetMapperParentModal" id="datasetMapperParentModal{{fd.PresentationId}}" aria-hidden="true">
		
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header py-1">    
			          <div class="modal-title fnt12 col mx-0 my-2">
			                 <span>Parent dataset setup</span>
			                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>                 
			           </div>    
	      		</div>

	      		<div class="modal-body">  
	      				<div kt-dataset-mapper-parent></div>
	      		</div>
	      	</div>
		</div>
	</div>
    
    
    <div class="modal fade" role="dialog" aria-labelledby="massPropertyUpdate" id="massPropertyUpdate{{fd.PresentationId}}" aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>Mass Property Update</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
		      				<div kt-mass-property-update-select></div>
		      		</div>
				</div>
			</div>
    </div>
    
    
    <div ng-if="resourceDefinition.form_definition" class="modal fade" role="dialog" aria-labelledby="initiateTaskModal" id="initiateTaskModal{{fd.PresentationId}}" aria-hidden="false">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>initiateTaskModal</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
                      <div kt-initiate-task-widget class="w-100"></div>
		      				
		      		</div>
				</div>
			</div>
    </div>

      <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="datasetMapperParentModal" id="datasetMapperParentModal{{fd.PresentationId}}" aria-hidden="true">
		
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header py-1">    
			          <div class="modal-title fnt12 col mx-0 my-2">
			                 <span>Parent dataset setup</span>
			                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>                 
			           </div>    
	      		</div>

	      		<div class="modal-body">  
	      				<div kt-dataset-mapper-parent></div>
	      		</div>
	      	</div>
		</div>
	</div>

  </div>
