<div class="my-1 widget-head" ng-class="{'widget-active m-1 shadow':fd.localVars.datasetMapperType>0}">
   <div class="row m-0 bg-light"  ng-if="formParams.formViewType==1">

		<div class="col-auto p-0 bg-gray-100">
				  <i class="fa fa-file-alt mx-2"></i><label >File list ({{fd.PresentationId}})</label>
			  <a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		</div>

		<div class="col text-right my-auto">
			  <button type="button"  ng-click="fd.localVars.showProperties(1)" ng-class="{'btn-warning':fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="fd.localVars.selectedResourceItem.name_confirmed!='' && fd.localVars.selectedResourceItem.name_confirmed!=undefined">{{fd.localVars.selectedResourceItem.name_confirmed}}</span>
				<span ng-if="fd.localVars.selectedResourceItem.name_confirmed=='' || fd.localVars.selectedResourceItem.name_confirmed==undefined">Select file</span>
			  </button>
		</div>


		<div class="col-auto p-0">

	
					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.localVars.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
                
    </div>
		<div class="col-auto p-0">
        
		  <div kt-task-dropdown> </div>
			
		</div>
			
		<div ng-if="fd.fileListDownloaded && fd.localVars.filesData.data.length>0" class="col-auto p-0">
			  <button type="button" class="btn btn-link btn-xs" ng-click="fd.isCollapsedFilesList = !fd.isCollapsedFilesList" >
				 <span ng-class="{'fa fa-plus-square': !fd.isCollapsedFilesList,'fa fa-minus-square': fd.isCollapsedFilesList }" ></span>
			  </button>
		</div>      
			
  </div>
     <div ng-if="fd.localVars.datasetMapperType>0 && formParams.formViewType==1" class="p-2">
           <div kt-form-element-properties fd="fd" local-vars="fd.localVars"></div> 
     </div>
	  

	  	<div ng-form="taskFilesSearchForm{{fd.PresentationId}}" class="form-horizontal" role="form">
	    <div ng-show="(fd.ShowSearchForm && formParams.formViewType==2) || (fd.localVars.datasetMapperType==1 && formParams.formViewType==1)">
	        <div class="p-0 border-bottom mb-2">
	           
	              <div class="row m-0 p-1 text-primary">
	                            <div class="col p-0">
	                                 <i class="fa fa-search"></i> 
	                                 <span class="ml-2">{{fd.SearchText}}</span>
	                            </div>
	                            <div class="col-auto px-0">
	                  
	                  	     		<button type="button" class="btn btn-outline-primary btn-xs border-0" data-toggle="collapse" data-target="#isCollapseId{{::fd.PresentationId}}"
	                            	aria-expanded="{{fd.localVars.isCollapsed}}" aria-controls="isCollapsedId{{::fd.PresentationId}}" ng-click="fd.localVars.isCollapsed = !fd.localVars.isCollapsed" >
	                    		  	<span ng-class="{'fa fa-chevron-down': !fd.localVars.isCollapsed,'fa fa-chevron-right': fd.localVars.isCollapsed }" ></span></button>

	                            </div>
	              </div>    
	      	</div>
				
				
				
		 
	         <div class="collapse show" id="isCollapseId{{::fd.PresentationId}}">
	           <div ng-if="!fd.localVars.formLoaded && fd.localVars.datasetMapperType==1" class="row m-0 border-0"  kt-processing-animation-timeline animation-type="form" show-msg="false" message="Loading form..."></div>

	                <div ng-if="(fd.localVars.datasetMapperType==1 || formParams.formViewType==2)">
	                    <div class="mt-1 p-2 text-primary" ng-if="fd.localVars.formLoaded && fd.localVars.dashboard.widgets.layout.length==0" >
	                        
	                        <span class="mr-3">Form is not defined or empty</span>
	                         <button  type="button"  class="btn btn-primary" title="Confirm" ng-click="fd.localVars.getFormResourceOriginal()">
	                                             Reload file form <i  class="ml-2 fas fa-sync"></i>
	                        </button>
	                    </div>   
	                   
	                        <div kt-grid grid-type="fd.localVars.gridsterType" show-search-filters="fd.localVars.showSearchFilters" resource-form-loaded="fd.localVars.formLoaded" parent-resource-def-id="fd.ParentDatasetDefId" resource-record-id="fd.localVars.datasetRecordId"
	                            resource-definition="resourceDefinition" form-params="fd.localVars.formParams" form-params-parent="formParams" form-data="fd.localVars.widgetState.formData" parent="fd.localVars.dashboard.widgets" all-columns="fd.localVars.dashboard.widgets" class="ktGrid">
	                        </div>

	      
	                </div>
	                   
	            </div>
	   
	   	</div>
	  
    </div>

   <div class="row m-2" ng-if="(formParams.formViewType==2 && fd.localVars.filesData.data.length>0) || (formParams.formViewType==1 && fd.localVars.datasetMapperType==1)" ng-class="{'border-bottom':!fd.Parameters.HideHeader}">
  				<div class="col-auto my-1" ng-if="!fd.Parameters.HideHeader"> {{fd.Label}}</div>

  				<div class="col-auto my-auto">
			
			  		<button type="button" ng-if="fd.fileSelected && !fd.Parameters.NoPreview" class="btn btn-primary btn-xs"  ng-click="fd.previewFile(fd.SelectedFile[fd.localVars.TablePrefix+'_id'],fd.SelectedFile[fd.localVars.TablePrefix+'_FileName'],fd.SelectedFile[fd.localVars.TablePrefix+'_FileType'])"><i class="fa fa-search"></i> 
			  			<span ng-if="fd.ParametersLang.PreviewLabel">{{fd.ParametersLang.PreviewLabel}}</span> <span ng-if="!fd.ParametersLang.PreviewLabel"> Preview file</span></button>
			  		<button type="button" ng-if="fd.fileSelected && !fd.Parameters.NoDownload" class="btn btn-primary btn-xs"  ng-click="fd.downloadFile(fd.SelectedFile[fd.localVars.TablePrefix+'_id'],fd.SelectedFile[fd.localVars.TablePrefix+'_FileName'])"><i class="fa fa-download"></i> <span ng-if="fd.ParametersLang.DownloadLabel">{{fd.ParametersLang.DownloadLabel}}</span> <span ng-if="!fd.ParametersLang.DownloadLabel"> Download file</span></button>
					<!--  <button type="button" ng-if="fd.fileSelected" class="btn btn-outline-primary border-0 btn-xs"  ng-click="fd.showMetaData(fd.SelectedFile.FileId.id)"><i class="fa fa-list-alt"></i> Show file meta data</button>-->
		  		</div>
		  		<div ng-if="fd.Parameters.ShowGetDataButton" class="col my-auto px-0 text-right">
			   	<button type="button"  class="btn btn-success btn-xs " ng-click="fd.localVars.GetFilesClick()"> <!-- migor dodao u ng-click -->
						 <i class="fa fa-sync"></i>
						  <span >{{fd.ParametersLang.GetDataBtnLabel}}</span>
						
			   	</button>
				</div>

	</div>
	 
   <div ng-if="(formParams.formViewType==2 && fd.localVars.filesData.data.length>0) || (formParams.formViewType==1 && fd.localVars.datasetMapperType==1)">
    
    <!--  <div ng-if="((formParams.formViewType==2 && (fd.localVars.resourceDataDownloading || fd.localVars.gridOptionsResourceData.data.length>0)) || (formParams.formViewType==1 && fd.localVars.datasetMapperType==2))">-->

			<div id="loadingscreen{{fd.PresentationId}}" ng-show="fd.localVars.resourceDataDownloading" kt-processing-animation-timeline animation-type="'table'" show-msg="fd.Parameters.ShowLoadingMessage" message="{{fd.Parameters.LoadingMessage}}"></div>

					<!-- <div ng-if="!fd.Parameters.printable && (fd.localVars.gridOptionsResourceData.data.length>0 || (formParams.formViewType==1 && fd.localVars.datasetMapperType==2))" class="myGrid"
                        ui-grid="fd.localVars.gridOptionsResourceData" ui-grid-selection ui-grid-resize-columns  ui-grid-move-columns ui-grid-save-state ui-grid-pagination ui-grid-grouping > 
                    </div>
                     -->
         

          <div id="smartTable{{fd.PresentationId}}" kt-smart-table ng-if="fd.fileListDownloaded && ((formParams.formViewType==1 && fd.localVars.datasetMapperType==1) || formParams.formViewType==2)" class=""  

              use-pagination="true" 
              parameters="fd.Parameters"
              font-size="fd.Parameters.table.fontSize"
              cell-padding="fd.Parameters.table.cellPadding"
              column-defs="fd.localVars.filesColumns"
              items-on-page="fd.localVars.widgetState.pageSize" 
              row-selected-change="fd.localVars.fileSelectionChanged(item)"
              kt-refresh-data="fd.localVars.getFiles(tableState, pageNumber,pageSize)"
			  initial-page="fd.localVars.widgetState.currentPage"
              grid-data ="gridData()"
              kt-process-action="processTableAction(item,actionId)">
          </div>  
                         
					
  </div>
   <div ng-if="(formParams.formViewType==2 && fd.localVars.filesData.data.length==0 && !fd.localVars.resourceDataDownloading && fd.fileListDownloaded && !fd.localVars.InitialLoad)" class="text-center p-4">
    <i class="fa fa-file fa-4x mb-2"></i>
	
    <div class="h5">{{fd.Parameters.NoFilesMsg}}</div>
    
  </div>

     <div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="datasetMapperParentModal" id="datasetMapperParentModal{{fd.PresentationId}}" aria-hidden="true">
		
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header py-1">    
			          <div class="modal-title fnt12 col mx-0 my-2">
			                 <span>Parent dataset setup</span>
			                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>                 
			           </div>    
	      		</div>

	      		<div class="modal-body">  
	      				<div kt-dataset-mapper-parent></div>
	      		</div>
	      	</div>
		</div>
	</div>
              

</div>