<!--<div kt-menu-click ng-hide="gsrvc.getOpenTaskType()=='newPage'"> </div>-->

<div kt-task-proc-directive fd="fd" local-vars="localVars" task-definition="localVars.taskDefinition" ng-hide="gsrvc.getOpenTaskType()=='newPage'" ng-if="!localVars.ReloadTask"></div>

<div ng-if="gsrvc.getOpenTaskType()=='newPage'" ng-init="openTaskInNewPage()">
        <div class="collapse" ng-class="{'show':gsrvc.getOpenTaskType()=='newPage'}">
        	<div kt-task-proc-directive fd="fd" local-vars="openedTaskInNewPage.localVars" task-definition="openedTaskInNewPage.taskDefinition"></div>
        </div>
</div>


 

