<div>
	<button type="button"  ng-click="localVars.showMessageDefinition=false" class="btn btn-outline-primary btn-xs">
						<i class="fa fa-times mr-2"></i><span>close</span>
	</button>
	<div class="custom-control custom-checkbox">						
					<input type="checkbox" class="custom-control-input" id="cbAlwaysShow{{fd.PresentationId}}" ng-model="fd.Parameters.AlwaysShow"> 
					<label class="custom-control-label label-xs" for="cbAlwaysShow{{fd.PresentationId}}">Always show message</label>
	</div>
	<div  trumbowyg-ng ng-model="fd.ResponseMsg" placeholder="Enter message" editor-config="{autogrow: true, btns: [ 'foreColor', 'backColor','bold','italic','underline','strikethrough','|','removeformat','viewHTML',]}">
	</div>  
</div>
  