<!--  input-array = "widget" -->
<ng-form class="" name ="innerForm{{fd.ItemId}}" class="form-group " ng-class="{ 'is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}" novalidate> 
<div ng-click="showProperties($event)" class="row pb-1 m-0 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" 
    ng-class="{'bg-gray-20  border shadow':formParams.formViewType==1 && formParamsParent.formViewType!=2 && fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened()}">

      <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
           
      </div>
	<div  class="{{fd.gridClassElement}} my-auto">

		<div ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="!fd.Multiline && !fd.ReadOnly">
		  <div class="">
		    <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}"  type="text" tabindex="{{inputArray.TabIndex}}" ng-pattern="fd.Parameters.Regex" ng-model="formData[0][fd.FieldName]" ng-change="localVars.refreshSearchValue()"  ng-required="fd.Required" placeholder={{fd.SearchText}}  name="{{fd.Name}}{{fd.ItemId}}" class="form-control"
		     ng-model-options="{ debounce: 250 }" ng-blur="on_blur_action()" ng-class="{ 'text-danger is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid  && formParams.formViewType!=1}"/>
		    <p ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
			
		  </div>
		 
		</div>
		<div ng-class="{'col-auto':fd.Parameters.CustomSize}" ng-if="fd.Multiline && !fd.ReadOnly">
		  <div class="">
		    <textarea kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}};" tabindex="{{inputArray.TabIndex}}" rows="{{fd.Parameters.NumberRows}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.ShowSearchForm?refreshSearchValue():fd.Search=null"
		     ng-required="fd.Required" placeholder={{fd.SearchText}}  name="{{fd.Name}}{{fd.ItemId}}"
		     ng-model-options="{ debounce: 250 }" ng-blur="on_blur_action()" ng-class="{ 'text-danger is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid  && formParams.formViewType!=1}"  class="form-control">
		    </textarea>
		    <p ng-hide="formParams.formViewType==1" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p> 
		  </div>  
		</div>
		<div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" style="{{fd.customStyleElement}}">
		  <div class="mb-0 border p-1 rounded" style="min-height: 35px;" >{{formData[0][fd.FieldName]}}</div>
		    
		</div>
	    
        
        <!--  BLUE DROPDOWN   style="visibility:visible !important" -->
	    <div style="visibility:visible !important"   class="blue-dropdown rounded shadow" >
     
            <div class="element-properties-btns bg-primary rounded shadow"  ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                <span class="label label-xs text-white mx-1 bold">{{fd.Name}}</span>
                <a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="move" href>
                    <i class="fa fa-grip-vertical element-drag-handle"></i>
                </a>
                <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="showProperties($event)">
                <i class="fa fa-cog"></i> </a>		  
            </div>
           
            <div class="" aria-labelledby="mass-property-{{fd.PresentationId}}" kt-mass-update-properties>
            </div>


	   </div>
		
  </div>
</div>

</ng-form>
