<!--  input-array = "widget" -->
<div ng-form="innerForm{{fd.ItemId}}" class="row m-0 mt-1 dataset-item" ng-class="{ 'is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$dirty) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid,'is-valid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$dirty) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$valid}" ng-if="::fd.ShowField">

      
	<div ng-hide="::fd.Parameters.HideLabel" class="{{fd.gridClassLabel}}" style="{{fd.labelAlign}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}" class="marginL5 form-control-label no-border align-middle" for="{{fd.Name}}{{fd.ItemId}}" ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  {{fd.Label}} </label>
           
      </div>
	<div class="{{fd.gridClassElement}} my-auto">
		<div ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="!fd.Multiline && !fd.ReadOnly">
		  <div class="">
		    <input kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" type="text" tabindex="{{inputArray.TabIndex}}" ng-pattern="::fd.Parameters.Regex" ng-model="formData[0][fd.FieldName]" ng-change="localVars.refreshSearchValue()"  ng-required="::fd.Required" placeholder={{::fd.SearchText}}  name="{{::fd.Name}}{{::fd.ItemId}}" class="form-control"
		     title="{{formData[0].formDataBlockchain[0][fd.FieldName]}}" ng-model-options="{ debounce: 250 }" ng-blur="on_blur_action()" ng-class="{ 'text-danger is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid }"/>
		    <p class="noprint" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{::fd.ErrorMsg}}</p>
			
		  </div>
		 
		</div>
		<div ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="fd.Multiline && !fd.ReadOnly">
		  <div class="">
		    <textarea kt-style-attribute fd="fd" style-type="'element'" style="{{fd.customStyleElement}}" tabindex="{{::inputArray.TabIndex}}" rows="{{::fd.Parameters.NumberRows}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.ShowSearchForm?refreshSearchValue():fd.Search=null"
		     ng-required="::fd.Required" placeholder={{::fd.SearchText}}  name="{{::fd.Name}}{{::fd.ItemId}}"
		     ng-model-options="{ debounce: 250 }" ng-blur="on_blur_action()" ng-class="{ 'text-danger is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid }"  class="form-control">
		    </textarea>
		    <p class="noprint" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{::fd.ErrorMsg}}</p> 
		  </div>  
		</div>
		<div kt-style-attribute fd="fd" style-type="'element'" ng-if="fd.ReadOnly"  ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" style="{{fd.customStyleElement}}">
		  <div title="{{formData[0][fd.FieldName]}}" ng-class="{'form-control':fd.Parameters.BorderForReadOnly}" class="mb-1" >{{formData[0][fd.FieldName]}}</div>
		    
		</div>
	    
		<div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="::showSearchFilters">
		     
		     <a  id="search-filter-{{::fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
			     <i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
		     <div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{::fd.ItemId}}">
			
			<div ng-if="fd.localVars.filterReady" class="btn-group-vertical" role="group" aria-label="Search filter">
			   <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(0)" ng-class="{'active':fd.Search.filter=='begins'}">  <span class="fa fa-chevron-right"></span> {{::fd.localVars.search[0].name}} </button>
			   <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTextFilters(1)" ng-class="{'active':fd.Search.filter=='contains'}">  <span class=" fa fa-expand"></span> {{::fd.localVars.search[1].name}}</button>
			   <button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(2)" ng-class="{'active':fd.Search.filter=='ends'}">  <span class="fa fa-chevron-left"></span> {{::fd.localVars.search[2].name}}</button>	   
			   <button type="button"  class="btn btm-sm btn-light" ng-click="applyTextFilters(3)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="fa fa-bars"></span> {{::fd.localVars.search[3].name}}</button>	   
			 </div>
		     </div>
		     
		</div>
	</div>
</div>
