<div ng-form="innerForm{{fd.ItemId}}" class="row pb-1 m-0 form-group mb-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)">
       
       <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
        
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}"
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
           
        </div>
       
        <div style="{{fd.labelAlign}}" class="{{fd.gridClassElement}}"  style="min-width: 150px !important" ng-class="{'col-auto':fd.Parameters.CustomSize}">

            <div ng-if="!fd.ReadOnly" class="">
                    <input kt-style-attribute fd="fd" min="{{fd.Max}}" kt-time-parser max="{{fd.Min}}" step="{{fd.Step}}" style-type="'element'" style="{{fd.customStyleElement}}" type="time" class="form-control" aria-describedby="time{{fd.ItemId}}" ng-class="{'text-danger is-invalid': (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}" placeholder="{{fd.ParametersLang.format1.name}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.on_change_action()"  name="{{fd.Name}}{{fd.ItemId}}" ng-required="fd.Required" close-text="Close" />
                    <p class="noprint" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
            </div>
             
            <div ng-if="fd.ReadOnly" style="min-width: 150px !important">

       
                    <div ng-class="{'form-control':fd.Parameters.BorderForReadOnly}">{{formData[0][fd.FieldName] | date: fd.localVars.format.name}}</div>   
            </div>
             
             <div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="::showSearchFilters">
             
                 <a  id="search-filter-{{::fd.ItemId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
                     <i class="fa fa-filter {{fd.Search.icon}} mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
                 <div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{::fd.ItemId}}">
            
                    <div class="btn-group-vertical" role="group" aria-label="Search filter">
                    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTimeFilters(0)" ng-class="{'active':fd.Search.filter=='gt'}">  <span class="{{search[0].icon}}"></span> {{::search[0].name}} </button>
                    <button type="button"  class="btn btm-sm btn-light"  ng-click="applyTimeFilters(1)" ng-class="{'active':fd.Search.filter=='lt'}">  <span class="{{search[1].icon}}"></span> {{::search[1].name}}</button>
                    <button type="button"  class="btn btm-sm btn-light" ng-click="applyTimeFilters(2)" ng-class="{'active':fd.Search.filter=='eq'}">  <span class="{{search[2].icon}}"></span> {{::search[2].name}}</button>       
                    <button ng-if="false" type="button"  class="btn btm-sm btn-light" ng-click="applyTimeFilters(3)" ng-class="{'active':fd.Search.filter=='between'}">  <span class="{{search[3].icon}}"></span> {{::search[3].name}}</button>      
                </div>
                </div>
             
            </div>
       
        </div>	

       
        
       
               
 </div>

    

