<div class="p-1">    
       
        <!--  <div class="expand-property-panel tag" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">Main time properties </span>           
                  	<i class="fa fa-cog fa-lg"></i>
	</div>-->
    
    <div class="text-center">
			<!--<label class="label-xs text-muted"><b>ID:</b> {{fd.ItemId}}</label>-->
			<label class="d-block label-xs text-muted"><b> ID:</b> {{fd.PresentationId}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
     </div>
    	
              
    <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
        </div>
        
         
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
		      
	<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
          <label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
      
         <label class="label-xs text-muted">Select format </label>
         <ui-select ng-model="fd.ParametersLang.format1" sizexs="true" name="timeFormatList" reset-search-input="true" > 
                      <ui-select-match allow-clear="true" class="ui-select-match" placeholder="Search or select time format...">
                        <span class="p-0">{{$select.selected.name}}   
                        </span>
                      </ui-select-match>
                      <ui-select-choices class="ui-select-choices" repeat="tf in (fd.timeFormatList | filter: { name: $select.search }) track by tf.id" refresh="refreshResults($select)" refresh-delay="0">
                        <span>{{tf.name}}</span>
                      </ui-select-choices>
                  </ui-select>
           
            
</div>
          	 <div kt-field-extended-properties></div>   
    
</div>   