<div ng-form="innerForm{{fd.ItemId}}" class="row pb-1 m-0 form-group mb-1 dataset-item" ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)">
       
       <div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
        
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}"
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
           
        </div>
       
        <div style="{{fd.labelAlign}}" class="{{fd.gridClassElement}}"  style="min-width: 150px !important" ng-class="{'col-auto':fd.Parameters.CustomSize}">

            <div ng-if="!fd.ReadOnly" class="">
                    <input kt-style-attribute fd="fd" min="{{fd.Max}}" kt-time-parser max="{{fd.Min}}" step="{{fd.Step}}" style-type="'element'" style="{{fd.customStyleElement}}" type="time" class="form-control" aria-describedby="time{{fd.ItemId}}" ng-class="{'text-danger is-invalid': (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}" placeholder="{{fd.ParametersLang.format1.name}}" ng-model="formData[0][fd.FieldName]" ng-change="fd.on_change_action()"  name="{{fd.Name}}{{fd.ItemId}}" ng-required="fd.Required" close-text="Close" />
                    <p class="noprint" ng-class="{'invalid-tooltip right-0':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback'}">{{fd.ErrorMsg}}</p>
            </div>
             
            <div ng-if="fd.ReadOnly" style="min-width: 150px !important">

       
                    <div class="form-control mb-1">{{formData[0][fd.FieldName] | date: fd.localVars.format.name}}</div>   
            </div>
             
         
             <div class="element-properties-btns bg-primary rounded shadow" ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                <span class="label label-xs text-white ml-1 bold">{{fd.Name}}</span>
                 <button type="button" class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="sort"><i class="element-drag-handle fa fa-grip-vertical"></i></button>
                 <button type="button" class="btn btn-primary btn-xs prop-btn" title="Field properties" ng-click="showProperties()"><i class="fa fa-cog"></i> </button>		      
             </div>
       
        </div>	
        
       
               
 </div>

    

