<div class="pr-1 noselect component-library">
 
  <div class="helper" style="opacity: 0.5;">
  
    <p class="small text-center text-muted m-2">To build dataset drag &amp; drop components from toolbox</p>
  </div>

  <div id="dataset-toolbox" class="list-component-library mb-4" dragula-scope="$root" dragula="'bag-dataset'" dragula-model="toolboxItems" ng-model="toolboxItems">

        <div ng-repeat="toolboxItem in toolboxItems track by toolboxItem.id" title="Drag me" ng-click="setCollapse(toolboxItem.ToolboxGroup,toolboxItem.ElementType)" ng-class="{'item element-drag-handle':toolboxItem.ElementType!='toolboxgroup'}" ng-hide="toolboxItem.HideFromToolbox || (collapsed[toolboxItem.ToolboxGroup] && toolboxItem.ElementType!='toolboxgroup')">
                          
              <div  style="cursor: pointer;" ng-if="toolboxItem.ElementType=='toolboxgroup'" class="border-bottom mb-2">
                <span class="bold"> {{toolboxItem.ToolboxGroup}}</span>
                <i ng-class="{'fas fa-angle-down float-right':collapsed[toolboxItem.ToolboxGroup],'fa fa-angle-up float-right':!collapsed[toolboxItem.ToolboxGroup]}"></i>
              </div>
                   	 										
							<span ng-if="toolboxItem.ElementType!='toolboxgroup'" class="element-drag-handle icon-muted" ng-class="toolboxItem.Facss"></span> 
              <span ng-if="toolboxItem.ElementType!='toolboxgroup'" class="element-drag-handle mx-1">{{toolboxItem.Label}}</span>
							<i ng-if="toolboxItem.ElementType!='toolboxgroup'"  class="element-drag-handle handler fas fa-grip-vertical text-dark mr-1" style="opacity:0.2"></i>
              
        </div>
      
  </div>

	
</div>