<style>
.blueBorder {
    border-bottom: solid blue;
}

</style>
<div class="p-1">

	<div ng-if="localVars.datasetMapperType==1" fd="fd" local-vars="localVars" kt-dataset-mapper></div>
     
	<div ng-if="localVars.datasetMapperType>1">
		
		  <div type="button" class="btn  rounded-0" ng-class="{'blueBorder':localVars.datasetMapperType==2,'btn-gray-50':localVars.datasetMapperType!=2}" ng-click="localVars.datasetMapperType=2">
           <span class='fa fa-cog'></span> Properties</div>
           
         <div type="button" class="btn rounded-0" ng-class="{'blueBorder':localVars.datasetMapperType==3,'btn-gray-50':localVars.datasetMapperType!=3}" ng-click="localVars.datasetMapperType=3">
           <span class='fa fa-database'></span> Define parent dataset</div>
           
         <div type="button"  class="btn  rounded-0" ng-class="{'blueBorder':localVars.datasetMapperType==4,'btn-gray-50':localVars.datasetMapperType!=4}" ng-click="localVars.datasetMapperType=4">
           <span class='fa fa-copy'></span> Copy data from other datasets</div>
	</div>
	<div ng-if="localVars.datasetMapperType==2" class=" text-dark p-2">
		<div class="box-header-btns float-right" >		</div>
      <label>Label </label> <input type="text" class="form-control" ng-model="fd.Label"  />
		 <label>Error msg </label> <input type="text" class="form-control" ng-model="fd.ErrorMsg"  />
		 
     <label>SearchText </label> <input type="text" class="form-control" ng-model="fd.SearchText"  />
       
      <div class="checkbox">
       <label>		<input type="checkbox" ng-model="fd.AutoSearch" > Auto search	 </label>
		 </div>
      
     <div class="checkbox">
     
        <label> <input type="checkbox" ng-model="fd.ShowSearchForm" ng-click="localVars.showHideSearchForm()"> Show search form  </label>
     </div>
	  <div class="checkbox">
     
        <label> <input type="checkbox" ng-model="fd.Multiline" > Enable selection of multiple records  </label>
     </div>
	   <div class="checkbox">
          <label>
                <input type="checkbox" ng-model="fd.InlineTask"> Start task inline
          </label>
      </div>

       <div class="checkbox">
          <label>
                <input type="checkbox" ng-click="fd.ShowTaskList()" ng-model="fd.AnyTask"> Start any task
          </label>
      </div>
</div>
	
	<div ng-if="localVars.datasetMapperType==3" kt-dataset-mapper-parent class=" text-dark"></div>
	<div ng-if="localVars.datasetMapperType==4" kt-dataset-to-dataset-mapper class="p-2 text-dark"></div>

</div>