<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVars.actionButtonProps[fd.PresentationId]>0}">

   <div ng-if="gsrvc.getFormViewType()==1 || formParams.formViewType==1">
      
		<div class="row m-0 p-0 mb-1 bg-light" title="ID: ({{fd.PresentationId}}" ng-class="{'widget-head-active':localVars.actionButtonProps[fd.PresentationId]>0,'bg-light':localVars.actionButtonProps[fd.PresentationId]==0}">
       
            <div class="mx-2 col-auto p-0">
                 <svg width="24" height="24" version="1.1" viewBox="0 0 12.7 12.7" xmlns="http://www.w3.org/2000/svg">
                 <g stroke="#000">
                  <g fill="#fdffff" stroke-linecap="round"> <rect x="1.7108" y="1.3" width="3.4881" height="2.7097" stop-color="#000000" stroke-width=".675"/>    <rect x="6.7945" y="8.7" width="3.4881" height="2.7097" stop-color="#000000" stroke-width=".67515"/>           <rect x="6.7203" y="4.4" width="3.4881" height="2.7097" stop-color="#000000" stroke-width=".67515"/>
                  </g>
                  <g fill="none" stroke-width=".56938"> <path d="m3.3064 3.979 0.074215 6.3353"/>    <path d="m3.158 10.138 3.705 0.01469"/>     <path d="m3.2693 6.0014 3.3026-0.00533"/> </g>
                 </g>
                </svg>


                 <label> TreeView 
                     <span ng-show="fd.PresentationId">
                        ({{ fd.PresentationId}})
                     </span>
                 </label>
                 
                 <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
            </div>
            
            

        <!-- <button type="button" class="btn btn-light btn-sm rounded-0" ng-class="{'btn-gray-50':localVars.datasetMapperType==1,'btn-light':localVars.datasetMapperType!=1}" ng-click="localVars.datasetMapperType=1">
           <span class='fa fa-database'></span> Select dataset</button>-->
       <!--    <button type="button"  class="btn btn-light btn-sm rounded-0"  ng-class="{'btn-gray-50':localVars.datasetMapperType > 1,'btn-light':localVars.datasetMapperType < 2}" ng-click="localVars.datasetMapperType=2">
           <span class='fa fa-cog'></span> Advanced properties</button>
          <button type="button"  class="btn btn-danger btn-sm rounded-0 ml-3" ng-if="localVars.datasetMapperType>0" ng-click="localVars.datasetMapperType=0">
           <span class='fa fa-times'></span> Close properties</button>-->
           
           
           
            <div class="col text-right my-auto">
              <!--  <button type="button" ng-click="localVars.toggleButtonDefinition(0)" class="btn btn-xs btn-warning" style="">
                    <span class="" style=""> {{fd.selectedButtons.length}} action{{fd.selectedButtons.length > 1 ? 's':''}} defined</span>
                </button>-->
                    <button type="button" class="btn btn-xs  " ng-class="{'btn-warning':localVars.selectedResourceItem.name_confirmed,'btn-gray-50':localVars.datasetMapperType!=1}" ng-click="localVars.datasetMapperType=1">
                        <span ng-if="!localVars.selectedResourceItem.name_confirmed" >                      
                           <span class='fa fa-database mr-1'> </span> 
                             Select dataset
                        </span>
                    <span ng-if="localVars.selectedResourceItem.name_confirmed" class='fa fa-database'></span> {{localVars.selectedResourceItem.name_confirmed}} </button>
              <!--   <label class=" mr-1">Selected dataset: {{localVars.selectedResourceItem.name_confirmed}}  </label>-->
            </div>
            
            
            <div class="col-auto my-auto p-0">
                  
					<a  href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVars.toggleProperties()"><i class="fas fa-cog"></i> </a>	
   	
			</div>
            
            
            
		   <div class="col-auto p-0">
				<div class="dropdown d-inline-block" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}">
							  <a href class="btn btn-outline-danger border-0 btn-sm" title="Remove field" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  <i  class="fa fa-trash-alt"></i>
							  </a>
							  <div class="dropdown-menu shadow p-0 dropdown-max-content-width" aria-labelledby="dropdownMenuButton">
								<div class="card-header p-0 px-1 bg-light">
									 
									 <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete widget confirmation</span></span>
									 
								</div>
								<div class="m-1">
									 <div class="m-1 small bold text-dark">Click Confirm to delete widget! </div>
									 <div ng-if="false" class="ml-1 small text-dark">This action may result in a loss of data!</div>
								</div>
								<div class="p-1">
									 <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="removeField($index)">
										 Confirm <i  class="ml-2 fa fa-check"></i>
									 </button>
								</div>
							</div>
							
			   </div>
			</div>	
		</div>
	</div>
    
 
 
 
 <div  ng-if=" (formParams.formViewType==1 || gsrvc.getFormViewType()==1)" class="">   <!--  ng-hide="localVars.isCollapsedMapper"-->
      
    
<div>


  <div ng-if="localVars.datasetMapperType>0 && formParams.formViewType==1" class="card mt-2 mb-2 rounded-0">
    <div class="card-header p-0 pl-2 pr-2" >
        
       <!--   <a title="sort" class="btn btn-light btn-sm task-element-drag-handle"><i  class="task-element-drag-handle fa fa-sort"></i></a>
       <div class="d-inline-block ml-2">
          <label > TreeView ({{::fd.PresentationId}})</label>
       </div>
        
     
         <b class="mr-1">Selected dataset:</b> {{localVars.selectedResourceItem.name_confirmed}}    
         <button type="button" class="btn btn-light btn-sm rounded-0" ng-class="{'btn-gray-50':localVars.datasetMapperType==1,'btn-light':localVars.datasetMapperType!=1}" ng-click="localVars.datasetMapperType=1">
           <span class='fa fa-database'></span> Select dataset</button>
         <button type="button"  class="btn btn-light btn-sm rounded-0"  ng-class="{'btn-gray-50':localVars.datasetMapperType > 1,'btn-light':localVars.datasetMapperType < 2}" ng-click="localVars.datasetMapperType=2">
           <span class='fa fa-cog'></span> Advanced properties</button>
            <button type="button"  class="btn btn-danger btn-sm rounded-0 ml-3" ng-if="localVars.datasetMapperType>0" ng-click="localVars.datasetMapperType=0">
           <span class='fa fa-times'></span> Close properties</button>-->
            
      <!--  <div class="float-right">

                  <a href class="btn btn-light btn-sm" title="Show/hide form" ng-click="localVars.showForm=!localVars.showForm"><i ng-class="{'fas fa-eye-slash text-dark':!localVars.showForm,'fas fa-eye text-dark':localVars.showForm}"></i> </a>	
                		
                 <a class="btn btn-light btn-sm" title="Hide field"  href ng-click="removeField($index)"><i  class="fa fa-trash text-danger"></i></a>
	
	
        </div>-->
      
        <div ng-if="localVars.datasetMapperType>0" class="text-white p-2 mb-2">
           <div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
        </div>
    </div>
  </div>

  <div ng-show="(fd.ShowSearchForm && formParams.formViewType==2) || (localVars.showForm && formParams.formViewType==1)">
   <div class="card border-0">
      <div class="card-header p-1">
       
          <div class="control-group">
                 <i class="fa fa-search"></i> <span class="ml-2 p-1">Search form</span>
                <button type="button" class="btn btn-link float-right" data-toggle="collapse" data-target="#isCollapseId{{fd.id}}"
                        aria-expanded="true" aria-controls="isCollapsedId{{fd.id}}" ng-click="localVars.isCollapsed = !localVars.isCollapsed" >
                  <span ng-class="{'fa fa-plus-square': localVars.isCollapsed,'fa fa-minus-square': !localVars.isCollapsed }" ></span></button>
          </div>    
      </div>
      <div class="collapse show" id="isCollapseId{{fd.id}}">
        <div kt-grid  grid-type="localVars.gridsterType" show-search-filters="localVars.showSearchFilters" parent-resource-def-id="fd.ParentDatasetDefId" resource-record-id="localVars.datasetRecordId" resource-definition="taskDefinition"
						 parent="localVars.dashboard.widgets" form-data="formData[fd.PresentationId]" form-params="formParams" form-params-parent="formParamsParent" all-columns="localVars.dashboard.widgets" class="ktGrid"></div>
      </div>
    </div>
   
   <div class="p-2 border-top">
          <button type="button"  class="btn btn-secondary " ng-click="localVars.selectedResource=fd.Related;localVars.getResourceColumns(true)"> <!-- migor dodao u ng-click -->
          <span class='fa fa-database'></span> Get data</button>
    </div>   

  </div>
  <div ng-if="(!fd.ShowSearchForm && formParams.formViewType==2)" class="card-header p-2 border-top">
          <button type="button"  class="btn btn-info" ng-click="localVars.selectedResource=fd.Related;localVars.getResourceColumns(true)"> <!-- migor dodao u ng-click -->
          <span class='fas fa-sync'></span> Refresh data</button>
    </div>
  
  <div ng-if="(localVars.resourceDataDownloaded && localVars.gridApi.selection.getSelectedRows().length>0 && formParams.formViewType==2) || (localVars.showForm && formParams.formViewType==1)">
     
        <div kt-initiate-task-widget ></div>
      
  </div>
  
    <div ng-if="!localVars.resourceDataDownloaded && localVars.showForm" kt-processing-animation show-msg="true" message="Loading data..."></div>

    <div ng-if="localVars.showForm || formParams.formViewType==2">
      <div ui-grid="localVars.gridOptionsResourceData" ui-grid-selection ui-grid-resize-columns  ui-grid-move-columns ui-grid-save-state ui-grid-pagination ui-grid-grouping ui-grid-exporter class="myGrid" > </div>
    </div>  
    
    <div ng-show="localVars.showForm || formParams.formViewType==2" class="well-custom bg-white row m-0 p-0">
            
            <div class="col pl-0">
              <ul uib-pagination boundary-links="true" max-size="10" items-per-page="localVars.pageSize" force-ellipses="true" total-items="localVars.totalCount" ng-model="localVars.currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="localVars.pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>            
            
            <div class="col-lg-auto bg-light p-1">
                          
                <select class="input-sm" ng-change="localVars.pageChanged()" ng-model="localVars.pageSize" >
                    <option ng-repeat="ps in localVars.gridOptionsResourceData.paginationPageSizes track by ps"  ng-selected="localVars.pageSize==ps" ng-value="ps">{{ps}}</option>
                         
                </select>  items per page &nbsp&nbsp | &nbsp&nbsp  Page: {{localVars.currentPage}} / {{localVars.numPages}} &nbsp&nbsp | &nbsp&nbsp {{localVars.pageSize*localVars.currentPage+1-localVars.pageSize}} - {{localVars.pageSize*localVars.currentPage>localVars.totalCount ? localVars.totalCount : localVars.pageSize*localVars.currentPage}} of {{localVars.totalCount}} items
                        
            </div>
            
    </div>
    
    <div ng-if="formDefinition && localVars.showForm && formParams.formViewType==1">
        <button class="btn btn-primary" type="button" ng-click="localVars.saveGridState()">Save grid state</button>
    </div>
   <div ng-if="localVars.resourceDataDownloaded && localVars.gridOptionsResourceData.columnDefs.length>0 && localVars.gridApi.selection.getSelectedRows().length>0"> 
      <div class="card-header p-1">
        <div class="ml-3">
            <button ng-if="relatedDataset.fieldType=='resource' || relatedDataset.fieldType=='resourceLink'" ng-repeat="relatedDataset in localVars.gridOptionsResourceData.columnDefs track by $index" type="button" ng-click="localVars.getDatasetRelatedRecords(relatedDataset.relatedDatasetId,localVars.selectedDatasetRecordId,relatedDataset.modelId)"  class="btn btn-secondary mr-2">
            {{relatedDataset.displayName}}  </button>
            <button type="button" class="btn btn-light float-right"  ng-click="localVars.showGrid=!localVars.showGrid"><i ng-class="{'fa fa-plus':!localVars.showGrid,'fa fa-minus':localVars.showGrid}"></i> </button>
    
          </div>
        </div>
         
          
  </div>
      <div class="col-md-12" ng-if="localVars.showGrid && localVars.gridApi.selection.getSelectedRows().length>0 && formParams.formViewType==2"> 
             <div id="grid3"  ui-grid="localVars.gridOptionsRelated"  ui-grid-move-columns ui-grid-save-state ui-grid-auto-resize ui-grid-grouping ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  <!-- zašto ne prikelji klasu mygrid2??? -->
      </div>
  </div>
</div>




	
        
 </div>

	
	
	 </div><!-- WIDGET HEAD -->
      
   
     


  
  <div ng-if="gsrvc.getFormViewType()==2"> 
   <div>
      <div class="col" ng-if="fd.selectedButtons.length>0">
   
         <div class="my-1 text-{{fd.Parameters.TextAlign}}">

          
			</div>
	</div>
		
				
     
  </div>

</div>

