 <div class="widget-head rounded-0" ng-class="{'widget-active m-2 shadow':localVars.datasetMapperType>0}">
   
	    <div class="row m-0 mb-1 p-0" ng-if="formParams.formViewType==1" ng-class="{'widget-head-active':localVars.datasetMapperType>0,'bg-light':localVars.datasetMapperType==0}">
       <div class="col-auto p-0" >
          <i class="fa fa-upload mx-2"></i><label >File upload ({{::fd.PresentationId}})</label>
       <a href title="sort" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="localVars.openFileConnector()" class="btn btn-outline-primary btn-xs">
				<span ng-show="fd.tItemValue.length==0"><i class="fa fa-plug" ></i> Select interface </span>
                <span ng-show="fd.tItemValue.length>0"><i class="fa fa-plug fa-rotate-90"></i> Connected to {{fd.tItemValue.length}} resource</span>
         
			  </button>
			</div>
        <div class="col-auto p-0">

	
					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVars.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
			 <div class="dropdown d-inline-block" ng-class="{'widget-prop':localVars.datasetMapperType==0 || localVars.datasetMapperType==undefined}">
							<a href class="btn btn-outline-danger border-0 btn-sm" title="Remove field" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i  class="fa fa-trash"></i>
							</a>
							<div class="dropdown-menu shadow p-0 dropdown-max-content-width" aria-labelledby="dropdownMenuButton">
								<div class="card-header p-0 px-1 bg-light">
									 
									 <span class="fa fa-exclamation-triangle text-danger"><span class="ml-2 small">Delete widget confirmation</span></span>
									 
								</div>
								<div class="m-1">
									 <div class="m-1 small bold text-dark">Click Confirm to delete widget! </div>
									 <div ng-if="false" class="ml-1 small text-dark">This action may result in a loss of data!</div>
								</div>
								<div class="p-1">
									 <button  type="button"  class="btn btn-xs btn-danger" title="Confirm" ng-click="removeField($index)">
										 Confirm <i  class="ml-2 fa fa-check"></i>
									 </button>
								</div>
							</div>
			</div>
			
		</div>
		
	 </div>
	
	
       <div ng-if="localVars.datasetMapperType>0 && formParams.formViewType==1" class="p-2">
           <div kt-form-element-properties fd="fd" local-vars="localVars"></div> 
     </div>
   </div>
 <div class="card-header bg-light p-0 px-1 radious-0" ng-show="formParams.formViewType!=1">
	{{fd.Name}}
 </div>
 <div class="card-body px-1 radious-0" ng-show="formParams.formViewType!=1">
           
 	<div class="form-group" ng-form="uploaderForm">
        <div >        
					<input type="file" name="mojfile" class="fileElement" ng-model="fd.files" validfile  /> <!-- multiple i/ili files ??? -->
	     </div>
			
                        
	<div ng-repeat="file in files" index="$index" class="mt-1">
			<hr>
			<div class="row m-0">
				
			<div class="col">
				<div class="d-inline-block my-auto">
					<span class="mr-2">{{$index+1}}. {{file.name}}</span>
					<span class="mr-2"> ({{ (file.size/1000).toFixed(2)  }} kb) </span>
				</div>		
			<progress class="mt-2" value="{{file.loaded}}" max="{{file.size}}"></progress>
             
             <i ng-show="file.uploadSuccess || file.uploadError" title="File upload completed" class="fa fa-upload text-primary fa-lg ml-3" > </i>  
             <i ng-show="file.uploadSuccess" title="Success" class="fa fa-check-circle text-success fa-lg ml-3" ></i>
             <i ng-show="file.uploadError" title="Error" class="fa fa-times-circle text-danger fa-lg ml-3">             </i>
             
             <a ng-show="file.metaSuccess" ng-click="openModalFileMetadata($index)" href>
             <i ng-show="(file.metaSuccess || file.metaError) && !file.noMeta" title="File metadata upload" class="fa fa-list-alt fa-lg ml-3" ></i></a> 
             <i ng-show="file.metaSuccess && !file.noMeta" title="Success" class="fa fa-check-circle text-success fa-lg ml-3"></i> 
             <i ng-show="file.metaError" title="Error" class="fa fa-times-circle text-danger fa-lg"></i>
             
             <span ng-hide="file.uploadSuccess">{{file.status}} </span>
             <span ng-hide="file.metaSuccess">{{file.metaStatus}} </span>
			</div>
         
					<div  class="col-6" ng-if="false" ng-hide="file.uploadSuccess">
             
						 <ui-select ng-model="selectedResource"  on-select="onSelectFileType($item,$index)" ng-disabled="disabled" name="FileType{{$index}}" reset-search-input="false" >  <!-- maknuo ng-required="{{fd.Required}} -->
						 
							<ui-select-match class="ui-select-match" placeholder="{{fd.Label}}" >
							  <span>{{$select.selected.resourcedeflang_set[0].Name}}</span>
							  <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
							</ui-select-match>
						   
						   <ui-select-choices class="ui-select-choices" repeat="ff in (listOfFileTypes| filter: { id: $select.search }) track by ff.id" refresh="refreshResults($select)" refresh-delay="0">
	 
							<span>{{ff.resourcedeflang_set[0].Name}}</span>
							</ui-select-choices>
						</ui-select>
									
					</div>	
					
					<div class="col-auto my-auto" ng-hide="file.uploadSuccess">
						<a href class="d-inline-block" ng-click="showFileMetaData=!showFileMetaData" ><i ng-show="showFileMetaData" class="fa fa-list-alt fa-lg"></i></a> 
						<button ng-click="btn_remove($index,file)" href class="btn btn-outline-danger btn-xs" title="Remove from list to be uploaded"><i class="fa fa-times mr-2"></i>Remove file</a>
					</div>
						
						
		</div> <!--row-->  
			<div ng-if="showFileMetaData">   	<!-- <div kt-file-meta-data ></div>   -->
			
			 <div >
				<div kt-grid  grid-type="gridsterType" form-params="resourceDefinition.formParams" parent="fd.files[$index].dashboard.widgets" all-columns="fd.files[$index].dashboard.widgets" class="ktGrid"></div>    
			 </div>
		
			</div> <!--uib-collapse -->
			
     </div> <!--repeat -->
    </div>
  <br>
	 <div class="row">
     <div class="col-24">
        <button  type="button" class="btn btn-light " ng-disabled="isSaving" ng-if="fd.uploadReady && !fd.ReadOnly" ng-click="btn_upload()">Upload</button>
  			<button type="button" class="btn btn-light btn-xs float-right" ng-if="(!fd.ReadOnly) && (fd.files.length>0)"  ng-click="btn_clean()">Remove all</button>
	 </div>
	 </div> <!-- row 2-->
</div>  <!-- card body -->



<script id="filehelper.html" type="text/ng-template">
  <div>
  <div class="modal-header">
            <h3 class="modal-title">{{headline}}</h3>
  </div>
  <div class="modal-body">
           <div kt-grid  grid-type="gridsterType" form-params="resourceDefinition.formParams" parent="fd.files[fileIndex].dashboard.widgets" all-columns="fd.files[fileIndex].dashboard.widgets" class="ktGrid"></div>

  </div>
  <div class="modal-footer text-right">
                       <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>
							  <button class="btn btn-primary" type="button" ng-click="okModal()">OK</button>

  </div> 
  </div>
</script>



</div>
