<!--  ************    FILE PROPERTIES    ************ -->

<div class="p-1">
	
	<div ng-if="localVars.datasetMapperType==1">
		
		<div class="row m-0">
			<div class="col-auto p-0 border shadow-sm">
							
							<div class="px-1 bg-light">File upload widget ({{fd.PresentationId}})</div>
							
			</div>
						
			<div class="col p-0">
				<div class="row m-0" ng-repeat="selectedFileConnector in fd.listOfConnectors" >
								
								<div  class="col-4 p-0 mb-2">
									<div class="h-100" ng-repeat="DEIlist in selectedFileConnector.DEI">
										<div ng-if="DEIlist.value" ng-class="{'h-50':$index>0,'h-75':$index==0}" style="border-bottom: 3px solid" class="border-success"></div>
									</div>	
								</div>
								
								<div class="col-20 p-0 border shadow-sm mb-2">
									<div ng-repeat="DEIlist in selectedFileConnector.DEI">
										
										<div ng-if="$index==0" class="col-auto bg-light px-2"> {{selectedFileConnector.displayName}} ({{selectedFileConnector.widgetId}}) Dataset: {{selectedFileConnector.datasetId}}</div>
											
										<div class="row m-0">
											<div class="col-auto p-0 my-auto" ng-class="{'ml-n2 mr-2':DEIlist.value}">
												<i class="fa fa-plug" ng-class="{'text-success fa-rotate-90':DEIlist.value,'text-danger':!DEIlist.value}"></i>
											</div>

											<div class="col-auto custom-control custom-checkbox ml-2"}">
																<input type="checkbox" class="custom-control-input" id="cbDEI{{selectedFileConnector.localWidgetId}}{{DEIlist.name}}" ng-model="DEIlist.value">
																<label class="custom-control-label label-xs" for="cbDEI{{selectedFileConnector.localWidgetId}}{{DEIlist.name}}">{{DEIlist.displayName}} ({{DEIlist.name}})</label>
											</div>
										</div>
									</div>
								</div>
								
				</div>
			</div>
						  
		</div>
		<div class="row m-0 my-2">
			<div class="col p-0 text-right">
				<button class="btn btn-outline-warning btn-sm" type="button" ng-click="localVars.cancelFileConnector()">Cancel</button>
				<button class="btn btn-outline-primary btn-sm" type="button" ng-click="localVars.okFileConnector()">Confirm</button>
			</div>
		</div>	
						
	</div>
					  

			
	
	<div ng-if="localVars.datasetMapperType==2" class="row m-0">
		<div class="col-12">
			<div class="my-2">
		       
				<label>Header title</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Name"  />
			</div>
		       
			<div class="my-2">
			       <label>Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
			</div>
			   
		       
		       <div class="my-2">
				       <label>Min. files required</label> 
				       <input type="number" min="0" class="form-control form-control-xs" ng-model="fd.MetaData[0].min"  ng-init="fd.MetaData[0].min=0" />
		       </div>
		       <div class="custom-control custom-checkbox my-2">
			   
			       <input type="checkbox" class="custom-control-input" id="cbReadOnly" ng-model="fd.ReadOnly"> 
			       <label class="custom-control-label label-xs" for="cbReadOnly">Do NOT allow manual upload</label>
			    
			</div>
		 </div>
		<div class="col-12">
			<label>Add File type:</label>
		
			<ui-select ng-model="selectedFiles"  on-select="onSelectCallback2($item, $model,$index)" ng-disabled="disabled" name="{{fd.Name}}" ng-required="{{fd.Required}}" reset-search-input="false" > 
					
					<ui-select-match class="ui-select-match" placeholder={{fd.Label}}  >
						 <span>{{$select.selected.resourcedeflang_set[0].Name}}</span>
						 <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
					</ui-select-match>
									   
					 <ui-select-choices class="ui-select-choices" repeat="ff in (listOfFileTypes| filter: { id: $select.search }) track by ff.id" refresh="refreshResults($select)" refresh-delay="0">

					<span>{{ff.resourcedeflang_set[0].Name}}</span>
					</ui-select-choices>
			</ui-select>						
	 
     <button type="button" class="btn btn-outline-primary btn-xs my-1"  ng-click="addRuleDefinition(fd.filetype,fd.min,fd.max,fd.minTotal)"><i class="fa fa-plus"></i> Add </button>
	
	<!-- Popis trenutnih rulova (fd.metaData) -->
	 <div ng-show="fd.MetaData.length">
		<table class="table table-sm" style="font-size: 12px;">
		<thead>
		  <tr>
			<th>FileType</th>
			<th>Min</th>
			<th>Max</th>
		  </tr>
		</thead>
		
		<tbody>
		<tr ng-repeat="rul in fd.MetaData" ng-if="$index > 0">
				<!--<td> <input type="text" ng-model="rul.name" class="form-control"> </td> -->
					
					<td>
						<ul style="list-style:none;padding-left:0">
							<li ng-repeat="item in (listOfFileTypes | filter: { id: rul.name }) track by $index">
								{{ item.resourcedeflang_set[0].Name }}
							</li>
						</ul>

					</td>
					
				<td> <input type="number" min="0" ng-model="rul.min" class="form-control form-control-xs"> </td>
				<td> <input type="number" min="0" ng-model="rul.max" class="form-control form-control-xs"> </td>
				<td> <a title="Remove" class="btn btn-outline-danger border-0" ng-click="remove($index)"><i  class="fa fa-times " ></i></a>  </td>	  
		</tr>		   
		</tbody>
	  </table>	
	</div>
</div>
   </div>	
</div>

