<!--  ************    FILE PROPERTIES    ************ -->

<div class="p-1">
	
	<div ng-if="localVars.datasetMapperType==2" class="row m-0">
		<div class="col-12">
			<div class="mb-2">
		       
				<label class="text-muted">Header title</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
			</div>
		    
		    <div class="mb-2">
			       <label class="text-muted">Upload button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.UploadButtonLabel"  />
			</div>
			
			<div class="">
                    
				<label  class="kt-checkbox-label">
				
				<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" ng-model="fd.Parameters.ShowResetButton" ng-checked="fd.Parameters.ShowResetButton" />  
				Show reset button
				</label>
                     
			</div>
            

			<div class="mb-2">
			       <label class="text-muted">Reset button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ParametersLang.ResetButtonLabel"  />
			</div>

            <div class="mb-2">
			       <label class="text-muted">Default error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
			</div>
            
			<div class="mb-2">
			       <label class="text-muted">Error msg - minimum files requirement </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.ErrorNotEnoughFiles"  />
			</div>
            
            <div class="mb-2">
			       <label class="text-muted">Error msg - maximum files limit</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.ErrorTooManyFiles"  />
			</div>
            
              <div class="mb-2">
			       <label class="text-muted">Error msg - metadata must be entered</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.ErrorNoMetadata"  />
			</div>

			<div class="mb-2">
			       <label class="text-muted">Button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.ButtonLabel"  />
			</div>

			<div class="mb-2">
			       <label class="text-muted">Drop area label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
			</div>
			
			<div class="mb-2">
			       <label class="text-muted">Remove button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.RemoveButtonLabel"  />
			</div>

			<div class="mb-2">
			       <label class="text-muted">Remove all button label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.RemoveAllButtonLabel"  />
			</div>
            
            
   
                  
			<div class="mb-2">
			       <label class="text-muted">File name label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.FileNameLabel"  />
			</div>

			<div class="mb-2">
			       <label class="text-muted">File type label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.FileTypeLabel"  />
			</div>
			
			<div class="mb-2">
			       <label class="text-muted">File size label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.FileSizeLabel"  />
			</div>

			<div class="mb-2">
			       <label class="text-muted"> File status label</label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.FileStatusLabel"  />
			</div>
                              
            
            
            
		       
		       
		       <div ng-if="false">
				       <label>Min. files required</label> 
				       <input type="number" min="0" class="form-control form-control-xs" ng-model="fd.MetaData[0].min"  ng-init="fd.MetaData[0].min=0" />
		       </div>
		      
		       <div>
            
					<label  class="kt-checkbox-label" for="cbReadOnly{{fd.PresentationId}}">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbReadOnly{{fd.PresentationId}}" ng-model="fd.ReadOnly" ng-checked="fd.ReadOnly" />  
						Prevent manual upload
					</label>
			
                     
				</div>
				<div>
            
					<label  class="kt-checkbox-label" for="cbVerifyOnly{{fd.PresentationId}}">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbVerifyOnly{{fd.PresentationId}}" ng-model="fd.Parameters.VerifyOnly" ng-checked="fd.Parameters.VerifyOnly" />  
						Only verify files
					</label>
			
                     
				</div>

				<div>
            
					<label  class="kt-checkbox-label" for="cbNoMeta{{fd.PresentationId}}">
					
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbNoMeta{{fd.PresentationId}}" ng-model="fd.Parameters.NoMeta" ng-checked="fd.Parameters.NoMeta" />  
						Do NOT send meta data with upload
					</label>
			
                     
				</div>

				<div kt-field-size-property></div>
        
           		<div kt-field-style-property></div>

		 </div>
		<div class="col-12" ng-form="formFileType">
			<label>Add File type:</label>
			
			
                <kt-dropdown-standard ng-model="fd.filetype" selected-items="fd.filetype" on-select-fn="fd.onSelectCallback2(item,model)" is-multiple="false" name="fileType"
														  ng-required="false" dropdown-items="fd.listOfFileTypes" dropdown-id="'fileType'" parent-form-id="'formFileType'" search-text="'Select file type'"></kt-dropdown-standard>
						
	 
		     <button type="button" class="btn btn-outline-primary btn-xs my-1"  ng-click="fd.addRuleDefinition(fd.selectedFileName,fd.min,fd.max,fd.minTotal)"><i class="fa fa-plus"></i> Add </button>
			
			<!-- Popis trenutnih rulova (fd.metaData) -->
					 <div ng-show="fd.Parameters.rules.length">
						<table class="table table-sm " style="font-size: 12px;">
						<thead>
						  <tr>
							<th colspan="2">File type</th>
							<th>Min</th>
							<th>Max</th>
						  </tr>
						</thead>
						
						<tbody>
						<tr ng-repeat="rul in fd.Parameters.rules">
								<!--<td> <input type="text" ng-model="rul.name" class="form-control"> </td> -->
									
									<td colspan="2">
										<ul style="list-style:none;padding-left:0">
											<li>
												{{ rul.fileType.name }} ({{ rul.fileType.id }})
											</li>
										</ul>

									</td>
									
								<td> <input type="number" min="0" ng-model="rul.min" class="form-control form-control-xs"> </td>
								<td> <input type="number" min="0" ng-model="rul.max" class="form-control form-control-xs"> </td>
								<td> <button type="button" title="Load form" class="btn btn-xs btn-primary" ng-click="fd.loadForm($index)"><i  class="fa fa-newspaper-o " ></i> Load form</button>  </td>	  
								<td> <a title="Remove" class="btn btn-xs btn-outline-danger border-0" ng-click="fd.remove($index)"><i  class="fa fa-times " ></i></a>  </td>	  
						</tr>		   
						</tbody>
					  </table>	
					</div>

					<div class="my-2 text-center">
				            <button type="button"  class="w-100 btn btn-xs btn-primary" data-toggle="modal" data-target="#datasetMapperParentModal{{fd.PresentationId}}">
				                        <span >Define parent dataset</span>
				            </button>
				   </div>

		</div>

		<!-- Define grid -->
		<div class="col-lg-24" ng-if="fd.selectedRuleIndex!==null && fd.selectedRuleIndex!==undefined">
			<div kt-grid grid-type="fd.Parameters.rules[fd.selectedRuleIndex].gridsterType" resource-form-loaded="fd.Parameters.rules[fd.selectedRuleIndex].formLoaded" parent-resource-def-id="0" resource-record-id="0" resource-definition="fd.localVars.resourceDefinition"
						form-params-parent="fd.localVars.resourceDefinition.formParams" form-params="fd.Parameters.rules[fd.selectedRuleIndex].formParams" form-data="fd.Parameters.rules[fd.selectedRuleIndex].formData"
						parent="fd.LoadedForm" all-columns="fd.LoadedForm" class="ktGrid">
							
			</div>
		</div>
   
   </div>

</div>

