 <div class="widget-head" ng-class="{'widget-active m-2 shadow':fd.localVars.datasetMapperType>0}">
   
	<div class="row m-0 mb-1 p-0 bg-light" ng-if="formParams.formViewType==1" ng-class="{'widget-head-active':fd.localVars.datasetMapperType>0,'bg-light':fd.localVars.datasetMapperType==0}">
		<div class="col p-0" >
			<i class="fa fa-upload mx-2"></i><label >Upload file ({{fd.PresentationId}})</label>
			<a href title="sort" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 {{gridsterType}}-element-drag-handle widget-prop"><i  class="{{gridsterType}}-element-drag-handle fas fa-grip-vertical"></i></a>
		</div>
		
		<div class="col-auto p-0">
					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.localVars.datasetMapperType==0 || fd.localVars.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.localVars.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                
		</div>
        
		<div class="col-auto p-0">
            <div kt-task-dropdown> </div>
		</div>
		
	</div>
	
	
     <div ng-if="fd.localVars.datasetMapperType>0 && formParams.formViewType==1" class="p-2">
           <div kt-form-element-properties fd="fd" local-vars="fd.localVars"></div> 
     </div>

    <div ng-show="(formParamsParent.formViewType!=1 && formParams.formViewType!=1 && !fd.Parameters.HideLabel) || fd.localVars.datasetMapperType==2" style="{{fd.labelAlign}}" class="p-0 {{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}}
           </label>
           
    </div>

 	<div class="{{fd.gridClassElement}} my-auto p-0"> <!-- element-->
           
	 	<div class="form-group" ng-form="uploadFileForm{{fd.PresentationId}}"  ng-show="(formParamsParent.formViewType!=1 && formParams.formViewType!=1) || fd.localVars.datasetMapperType==2">
	        	        	
	        <div ng-if="(fd.localVars.ShowUploadFile && fd.Parameters.ShowResetButton) || !fd.Parameters.ShowResetButton" kt-style-attribute fd="fd" style-type="'element'" ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" style="{{fd.customStyleElement}}" class="border p-4 rounded">
	        	<div class="my-2 px-2 h5 position-absolute" style="width: calc(100% - 48px);  text-align: center;  display: flex;  flex-direction: column;  gap: 24px">
                    <i class="fa fa-file-upload" style="font-size:100px;color:#cad7f8"> </i>
                    <span class="font-weight-bold" style="font-size:24px;color:#2c60f5">{{fd.SearchText}}</span> 
                    <span class="font-weight-bold" style="font-size:24px;color:#2c60f5" ng-if="fd.SearchText===undefined || fd.SearchText===''">or drag and drop files bellow</span>
                </div>
                
	        	<div class="upload-area">
                    <input  id="fileWidget{{fd.PresentationId}}" multiple="multiple" type="file" name="mojfile" class="fileElement original-upload w-100 p-4" ng-model="fd.localVars.files" validfile style="opacity:0" /> <!-- multiple i/ili files ??? -->
				</div>
						 
		    </div>
				
            <div ng-if="(fd.localVars.ShowUploadFile && fd.Parameters.ShowResetButton) || !fd.Parameters.ShowResetButton" style="text-align:center;margin-top:24px;">
                <button type="button" class="btn btn-outline-primary" ng-click="fd.addFilesClick()"><span>{{fd.Parameters.ButtonLabel}}</span><span ng-if="fd.Parameters.ButtonLabel===undefined || fd.Parameters.ButtonLabel===''">Select files</span></button>
			</div>
            
           
            
         <!-- ng-show="uploadFileForm{{fd.PresentationId}}.$submitted && uploadFileForm{{fd.PresentationId}}.$invalid"-->
              <div idd="errorsArea"  class="mt-4 d-flex flex-column row-gap-8" ng-show="uploadFileForm{{fd.PresentationId}}.$invalid"  style="font-size: 16px; line-height: 24px;" >

                    <div ng-show="uploadFileForm{{fd.PresentationId}}.$error.TooManyFiles || uploadFileForm{{fd.PresentationId}}.$error.NotEnoughFiles " class="d-flex flex-column row-gap-12 bg-danger-10 border border-danger rounded col-auto px-4 py-12">
                            <div class="d-flex col-gap-24"><i class="fa fa-exclamation-circle text-danger" style="font-size: 20px;"></i>
                            <span class="text-dark font-weight-bold d-flex justify-content-center align-items-center" >
                                {{  fd.ErrorMsg }}
                            </span></div>
                    </div>
                    
                     <div ng-show="uploadFileForm{{fd.PresentationId}}.$error.required"  class="d-flex flex-column row-gap-12 bg-info-20 border border-info rounded col-auto px-4 py-12">
                            <div class="d-flex col-gap-24"><i class="fa fa-bell text-info" style="font-size: 20px;"></i>
                            <span class="text-dark font-weight-bold d-flex justify-content-center align-items-center" >
                                {{ fd.Parameters.ErrorNoMetadata || 'Before upload, all data from the form must be entered!' }}
                            </span></div>
                     </div>
     
             </div>
             
            <!-- 
             <div ngFor="let property of object | keyvalue">
             
             </div>
             
             -->
    
              
        
            <div  style="display:grid; gap:4px; margin-top:24px">
                  <div class="row m-0 upload-abs-container">
                    <div class="col-24 row-upload px-0 rounded" style="background-color:#cad7f8">
                        <!--HEADER-->
                        <div  idd="header"  class="my-auto">
							<button type="button" ng-if="fd.localVars.hideAll" class="btn p-0 border-0 btn-link text-dark " ng-click="fd.localVars.hideAll=!fd.localVars.hideAll;fd.localVars.showAll(true)">
                                <i class="fa fa-angle-up" style="font-size:1.25rem;padding:6px 12px"> </i>
                            </button> 
							<button type="button" ng-if="!fd.localVars.hideAll" class="btn p-0 border-0 btn-link text-dark " ng-click="fd.localVars.hideAll=!fd.localVars.hideAll;fd.localVars.showAll(false)">
                                <i class="fa fa-angle-down" style="font-size:1.25rem;padding:6px 12px"> </i>
                            </button> 
						</div>
         

                        <span  class="col-upload my-auto font-weight-bold">  {{fd.Parameters.FileNameLabel || 'Name'}}</span>
                        <span  class="col-upload my-auto font-weight-bold upload-col-optional"> {{fd.Parameters.FileTypeLabel || 'Type'}}</span>
                        <span  class="col-upload my-auto font-weight-bold">  {{fd.Parameters.FileSizeLabel || 'Size'}}</span>
                        <span  class="col-upload my-auto font-weight-bold">  {{fd.Parameters.FileStatusLabel || 'Status'}}</span>
                        
                                              
                        <div  class="upload-delete-container my-auto">
                            <button type="button" class="btn btn-link font-weight-bold text-danger text-right p-0 upload-delete-text" style="text-decoration:none" ng-if="fd.localVars.files.length>0"  ng-click="btn_clean()">
                                <span ng-if="fd.Parameters.RemoveAllButtonLabel!==undefined">{{fd.Parameters.RemoveAllButtonLabel}}</span>
                                <span ng-if="fd.Parameters.RemoveAllButtonLabel===undefined">Remove all</span>
                            </button>
                        </div>
                    </div>
            </div>                      
			
            
            </div>
	                 

            <div  ng-repeat="file in fd.localVars.files" index="$index" class="mt-1 border rounded upload-abs-container">

				<div class="row-upload m-0 px-0">
                
                    <div style="grid-column-start: 1" ng-if="(file.fileTypeSelected || !fd.showFileSelect) && !fd.Parameters.VerifyOnly && !fd.Parameters.NoMeta" class="my-auto">
                            <button type="button" ng-show="file.hideForm" class="btn p-0 border-0 btn-link text-dark " ng-click="file.hideForm=!file.hideForm">
                                <i class="fa fa-angle-down" style="font-size:1.25rem;padding:6px 12px"> </i>
                            </button> 
							<button type="button" ng-show="!file.hideForm" class="btn p-0 border-0 btn-link text-dark " ng-click="file.hideForm=!file.hideForm">
                                <i class="fa fa-angle-up" style="font-size:1.25rem;padding:6px 12px"> </i>
                            </button> 
                    </div>    
					
                    <span  style="grid-column-start: 2" class="col-upload my-auto"> {{file.name}}</span>
                    <span  style="grid-column-start: 3" class="col-upload my-auto upload-col-optional"> {{   file.name.split(".").pop()  }}</span>
                    <span  style="grid-column-start: 4" class="col-upload my-auto"> {{ (file.size/1000).toFixed(2)  }} <b>kb</b> </span>
					 
					<div class="col-auto my-auto" ng-if="fd.Parameters.VerifyOnly" ng-hide="file.uploadSuccess">
							<input type="text" class="form-control form-control-xs" ng-model="file.fileVerificationId"  />
					</div>
					
					<div  style="grid-column-start: 5" class="my-auto" style="padding:6px 12px 6px 12px">
						
						<progress style="width:100%"  value="{{file.loaded}}" max="{{file.size}}"></progress>
		             
						<i ng-show="file.uploadSuccess || file.uploadError" title="File upload completed" class="fa fa-upload text-primary fa-lg" > </i>  
						<i ng-show="file.uploadSuccess" title="Success" class="fa fa-check-circle text-success" ></i>
						<i ng-show="file.uploadError" title="Error" class="fa fa-times-circle text-danger">             </i>
						
						<a ng-show="file.metaSuccess" ng-click="openModalFileMetadata($index)" href>
						<i ng-show="(file.metaSuccess || file.metaError) && !file.noMeta" title="File metadata upload" class="fa fa-list-alt fa-lg" ></i></a> 
						<i ng-show="file.metaSuccess && !file.noMeta" title="Success" class="fa fa-check-circle text-success"></i> 
						<i ng-show="file.metaError" title="Error" class="fa fa-times-circle text-danger"></i>
						
						<span ng-hide="file.uploadSuccess">{{file.status}} </span>
						<span ng-hide="file.metaSuccess">{{file.metaStatus}} </span>
					</div>
		         
							
						
					<div  style="grid-column-start: 6" class="col-auto my-auto upload-delete-container"  ng-hide="file.uploadSuccess">
						<button ng-click="btn_remove($index,file)" type="button" href class="btn btn-link upload-delete-text font-weight-bold text-danger p-0 text-right" title="Remove from list to be uploaded" style="text-decoration:none">
							<span ng-if="fd.Parameters.RemoveButtonLabel!==undefined">{{fd.Parameters.RemoveButtonLabel}}</span>
	        				<span ng-if="fd.Parameters.RemoveButtonLabel===undefined">Remove file</span>

						</a>
					</div>
					
					<div class="col-auto my-auto" ng-show="file.uploadSuccess">
					</div>
								
								
				</div> <!--row-->  
                
                
				<div class="row m-0" ng-show="(file.fileTypeSelected || !fd.showFileSelect) && !fd.Parameters.VerifyOnly && !fd.Parameters.NoMeta" ng-hide="file.hideForm">   
		
					<div class="col-lg-24">
						<div kt-grid grid-type="file.gridsterType" resource-form-loaded="file.formLoaded" parent-resource-def-id="file.ParentDatasetDefId" resource-record-id="file.datasetRecordId" resource-definition="taskDefinition"
						form-params-parent="file.formParams" form-params="file.formParams" form-data="file.dashboard.formData"
						parent="file.dashboard.widgets" all-columns="file.dashboard.widgets" class="ktGrid">
							
						</div>
					</div>
					
				</div>
			
				<div ng-if="file.eosResponse!=null && file.eosResponse!=undefined && !fd.Parameters.VerifyOnly" class="p-1 mt-1">
								<!--<div>Transaction id: <a href ng-click="showTransactionDetails=!showTransactionDetails"> {{eosResponse.transaction_id}}</a></div>-->
								<div> <a href ng-click="showTransactionDetails=!showTransactionDetails">Blockchain transaction details</a></div>
								<div ng-show="showTransactionDetails"><pre>{{::file.eosResponse}}</pre></div>
				</div>
				
				<div ng-if="file.eosResponse2!=null && file.eosResponse2!=undefined && fd.Parameters.VerifyOnly && file.fileFound" class="p-1 mt-1">
					<span ng-if="file.fileHash==file.blockchainHash" class="text-success">File hash is a perfect match to the hash stored on blockchain!</span>
					<span ng-if="file.fileHash!=file.blockchainHash" class="text-danger">File hash does not match to the hash stored on blockchain!</span>
				</div>
			
				<div ng-if="file.eosResponse2!=null && file.eosResponse2!=undefined" class="p-1 mt-1">
					<div><a href ng-click="showRecordDetails=!showRecordDetails"> Blockchain record </a></div>
					<pre ng-show="showRecordDetails">{{::file.eosResponse2}}</pre>
				</div>
	     	</div> <!--repeat -->
	    </div>
        
		<div class="row">
	     	<div class="col-24 text-right ">
	        	<button  type="button" class="btn btn-primary mt-4" ng-disabled="isSaving" ng-if="(fd.uploadReady && !fd.ReadOnly && (formParams.formViewType==2 || formParamsParent.formViewType==2)) || fd.localVars.datasetMapperType==2" ng-click="btn_upload()">
	        		<span ng-if="fd.ParametersLang.UploadButtonLabel!==undefined">{{fd.ParametersLang.UploadButtonLabel}}</span>
	        		<span ng-if="fd.ParametersLang.UploadButtonLabel===undefined">Upload</span>
                </button>
		 	</div>
		</div> 
 
	</div> <!-- element-->
	<div class="row" ng-if="!fd.localVars.ShowUploadFile && fd.Parameters.ShowResetButton">
	     	<div class="col-24 text-right ">
	        	<button  type="button" class="btn btn-primary mt-4" ng-disabled="isSaving" ng-if="(fd.uploadReady && !fd.ReadOnly && (formParams.formViewType==2 || formParamsParent.formViewType==2)) || fd.localVars.datasetMapperType==2" ng-click="btn_upload()">
	        		<span ng-if="fd.ParametersLang.UploadButtonLabel!==undefined">{{fd.ParametersLang.UploadButtonLabel}}</span>
	        		<span ng-if="fd.ParametersLang.UploadButtonLabel===undefined">Upload</span>
                </button>
                <button  type="button" class="btn btn-primary mt-4 ml-2" ng-click="fd.localVars.ResetUpload()">
	        		<span ng-if="fd.ParametersLang.ResetButtonLabel!==undefined">{{fd.ParametersLang.ResetButtonLabel}}</span>
	        		<span ng-if="fd.ParametersLang.ResetButtonLabel===undefined">Reset</span>
                </button>
		 	</div>
	</div> 

	<div class="modal fade" role="dialog" tabindex="-1" aria-labelledby="datasetMapperParentModal" id="datasetMapperParentModal{{fd.PresentationId}}" aria-hidden="true">
			
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header py-1">    
				          <div class="modal-title fnt12 col mx-0 my-2">
				                 <span>Parent dataset setup</span>
				                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                        <span aria-hidden="true">×</span>
				                    </button>                 
				           </div>    
		      		</div>

		      		<div class="modal-body">  
		      				<div kt-dataset-mapper-parent></div>
		      		</div>
		      	</div>
			</div>
	</div>
</div>    