<div class="row m-0 form-group mt-1 dataset-item"  ng-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" ng-form="innerForm{{fd.ItemId}}" 
    ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid,'bg-gray-20  border':fd==gsrvc.getSelectedFd() && gsrvc.getFieldPropertiesOpened() }">
	
	<div ng-hide="(formParamsParent.formViewType==2 || formParams.formViewType==2) && fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
            <i ng-if="formData[0].formDataBlockchain[0]" 
          ng-class="{'fa fa-check text-success': formData[0].formDataBlockchain[0][fd.FieldName]==formData[0][fd.FieldName],'fa fa-times text-danger':formData[0].formDataBlockchain[0][fd.FieldName]!=formData[0][fd.FieldName]}"></i>
           
      </div>

	<div  class="{{fd.gridClassElement}} my-auto">

		<div  title="{{formData[0].formDataBlockchain[0][fd.FieldName]}}" ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize && formParams.formViewType==1,'col-auto': fd.Parameters.CustomSize && formParams.formViewType!=1}" ng-if="!fd.ReadOnly && usersLoaded">
   
		       <select class="form-control" name="{{::fd.Name}}{{::fd.ItemId}}" ng-change="selection_changed()" kt-style-attribute fd="fd" style-type="'element'" ng-class="{ 'is-invalid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid }"
			       ng-required="fd.Required" ng-model="selectedUsr" style="{{fd.customStyleElement}}">
				       <option value="" selected disabled class="text-light">{{fd.SearchText}}</option>
				       <option ng-if="!fd.Required" value="null"></option>
				       <option ng-repeat="(id,val) in ::userList track by id" ng-value="::val" class="p-1">
						       {{val.name}}
				       </option>
		       </select>
		       
		       <p ng-if="formData" ng-class="{'invalid-tooltip right-0 mt-n2 mr-3':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback','d-block':(innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}">{{fd.ErrorMsg}}</p>
		       
		</div>
   
     
		
	    <div  ng-if="fd.ReadOnly"  kt-style-attribute fd="fd" style-type="'element'"  style="{{fd.customStyleElement}}">
       
  			<div ng-class="{'form-control':fd.Parameters.BorderForReadOnly}">{{selectedUsr.first_name}} {{selectedUsr.last_name}} - {{selectedUsr.username}}</div>
  		</div>

		 
		 <!--  BLUE DROPDOWN   style="visibility:visible !important" -->
	    <div style="visibility:visible !important"   class=" blue-dropdown  rounded shadow" >
     
            <div class="element-properties-btns rounded bg-primary"  ng-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                <span class="label label-xs text-white mx-1 bold">{{fd.Name}} field</span>
                <a class="btn btn-primary btn-xs prop-btn element-drag-handle"  title="move" href><i class="element-drag-handle fa fa-grip-vertical"></i></a>
                <a   class="btn btn-primary btn-xs prop-btn" href title="Field properties" data-toggle="tooltip" data-placement="top" ng-click="showProperties($event)"><i class="fa fa-cog"></i> </a>
                <button ng-if="showSearchFilters" type="button" title="{{fd.Search.name}}" class="btn btn-light rounded-0" href uib-popover-template="'usersearchproperties.html'" ng-click="isOpen=True" popover-is-open="isOpen" popover-trigger="outsideClick" popover-append-to-body="true" popover-placement="left-top">
		      		<i class="fa fa-filter"></i>
				</button>	
            </div>
           
           <div class="" aria-labelledby="mass-property-{{fd.ItemId}}"
                kt-mass-update-properties>
            </div>

		</div>

	</div>
	<div  class="{{fd.gridClassElement}} my-auto"  ng-if="fd.ShowDetails">
            
            <div class="row" >
              <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left"> 
                     <label class="form-control no-border">First name</label>
              </div>
              <div ng-class="colLength[11-fd.LabelLength]" class="text-left">
                    <label class="form-control">{{selectedUsr.first_name}}  </label>      
              </div>
            </div>
            <div class="row">
              <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left">
                   <label class="form-control no-border">Last name</label>
              </div>
              <div ng-class="colLength[11-fd.LabelLength]" class="text-left">  
                  <label class="form-control">{{selectedUsr.last_name}}   </label>
              </div>
            </div>
            <div class="row">    
               <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left">
                  <label class="form-control no-border">Username</label>
               </div>
               <div ng-class="colLength[11-fd.LabelLength]" class="text-left">
                  <label class="form-control">{{selectedUsr.username}}</label>
               </div>
            </div>
            <div class="row">
                <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left">
                  <label class="form-control no-border">E-mail</label>
                </div>
                <div ng-class="colLength[11-fd.LabelLength]" class="text-left">
                  <label class="form-control">{{selectedUsr.email}}</label>
                </div>
            </div>
	</div>



	<script id="usersearchproperties.html" type="text/ng-template"> 
		 <div>
			
			<label>Choose filter method</label>
								
			<div call="row">
			<button type="button" id="onList" class="btn btn-light ng-binding" ng-click="applyListFilters(0)">  <span class="fa fa-bars"></span> On list</button>	   
			</div>
			<button type="button" id="notOnLIst" class="btn btn-light ng-binding"  ng-click="applyListFilters(1)">  <span class="fa fa-expand"></span> Not on list</button>
			
		</div>
		 
	 </script> 
</div>

 
 