<div class="p-1">
      
      <div class="mt-2 text-center">
		<label class="label-xs text-muted"><b>Id:</b> {{fd.PresentationId || 'none'}}</label>
		<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
	 </div>
     
    <div ng-click="localVars.showBasic = !localVars.showBasic" class="expand-property-panel tag border-bottom border-success my-1 py-1" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">
            BASIC  </span>
          <i style=" font-size: large;" ng-show="localVars.showBasic" class="fas fa-angle-down"></i> 
          <i style=" font-size: large;" ng-show="!localVars.showBasic" class="fas fa-angle-up"></i> 
	</div>
    
        <!--   <div class="expand-property-panel tag" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
		<span class="col p-0">Main user properties </span>        
                  	<i class="fa fa-cog fa-lg"></i>
	  </div>-->
	  
            
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
	 
             
	<div class="custom-control custom-radio">
		<input type="radio" id="populateType1" class="custom-control-input" ng-model="fd.PopulateType" value="1" name="populateType" ng-checked="fd.PopulateType==1">
		<label class="custom-control-label label-xs" for="populateType1">Manual</label>
	</div>
    	<div class="custom-control custom-radio">
		<input type="radio" id="populateType2" class="custom-control-input" ng-model="fd.PopulateType" value="2" name="populateType" ng-click="setCurrentUser()" ng-checked="fd.PopulateType==2">
		<label class="custom-control-label label-xs" for="populateType2">Current user</label>
	</div> 
	 
              
               <div class="custom-control custom-checkbox">
								
			<input type="checkbox" class="custom-control-input" id="cbShowDetails" ng-model="fd.ShowDetails"> 
			<label class="custom-control-label label-xs" for="cbShowDetails">Show details</label>
								 
	</div>
	 
              <label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
              <label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg" />
              <label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
               
            <div style="grid-column: 1 / span 1;" class="selectResource" ng-form="formResource{{item.id}}">
					<label class="text-muted" for="resourceId">Select unique user identifier</label>
					<kt-dropdown-standard ng-model="item.task" ng-if="resourcesLoaded" selected-items="item.task" is-multiple="false" name="resourceId" ng-required="true" dropdown-items="resourceList" dropdown-id="'resourceList'+item.id" parent-form-id="'formResource'+item.id" search-text="'Select task'"></kt-dropdown-standard>
			</div>
                                
                                
           <div kt-codes-dropdown size-xs="true" search-text="Select unique user identifier" label="Unique identifier" value-length="col-24" code-name="uniqueids" selected-code-id="fd.UniqueId"></div>
    </div>
  
	
	<div kt-field-extended-properties></div>
</div>



 
 
 