<div class="row m-0 mt-1 dataset-item" ng-class="{ 'is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$dirty) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid,'is-valid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$dirty) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$valid}" ng-if="::fd.ShowField">
	
	<div ng-hide="fd.Parameters.HideLabel" style="{{fd.labelAlign}}" class="{{fd.gridClassLabel}}" ng-class="{'col-auto':fd.Parameters.CustomSize}">
		
           <label kt-style-attribute fd="fd" style-type="'label'" style="{{fd.customStyleLabel}}"   for="{{fd.Name}}{{fd.ItemId}}" 
               class="p-0 marginL5 form-control-label no-border align-middle " 
               ng-class="{ 'text-danger' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.$invalid,'custom-el-layout-style':fd.Parameters.CustomSize && formParams.formViewType==1}">  
                    {{fd.Label}} 
           </label>
            <i ng-if="formData[0].formDataBlockchain[0]" 
          ng-class="{'fa fa-check text-success': formData[0].formDataBlockchain[0][fd.FieldName]==formData[0][fd.FieldName],'fa fa-times text-danger':formData[0].formDataBlockchain[0][fd.FieldName]!=formData[0][fd.FieldName]}"></i>
           
      </div>

	<div  class="{{fd.gridClassElement}} my-auto">

		<div  title="{{formData[0].formDataBlockchain[0][fd.FieldName]}}" ng-class="{'custom-el-layout-style col-auto':fd.Parameters.CustomSize,'col-auto': fd.Parameters.CustomSize}" ng-if="!fd.ReadOnly && usersLoaded">
   			<div ng-form ="innerForm{{::fd.ItemId}}"  ng-class="{'is-valid' : (innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$dirty) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$valid}">

		       <div ng-if="!fd.Multiline" kt-style-attribute fd="fd" style-type="'element'"> 
					<select class="form-control" name="{{::fd.Name}}{{::fd.ItemId}}" style="{{fd.customStyleElement}}" ng-model-options="{ allowInvalid: true }"
					ng-class="{'text-placeholder':formData[0][fd.FieldName]===undefined || formData[0][fd.FieldName]==='','border-danger is-invalid' : (innerForm{{::fd.ItemId}}.$submitted || innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$touched) && innerForm{{::fd.ItemId}}.{{::fd.Name}}{{::fd.ItemId}}.$invalid }"
					  ng-required="fd.Required" ng-model="formData[0][fd.FieldName]">
					  <option ng-if="fd.Required" value="" disabled selected>{{fd.SearchText}}</option>
					  <option class="text-placeholder" ng-if="!fd.Required" value="" selected>{{fd.SearchText}}</option> <!--style="color:#B6BAC3"-->
						<option ng-repeat="(id,val) in ::userList | filter: search.searchFilter track by id" ng-value="::val" ng-style="(id!=undefined && {'color': '#26314D'}) || (id==undefined && {'color': '#B6BAC3'})" class="p-1">
							{{::val.name}}
					</option>
					</select>
				</div>

		       <kt-dropdown-multiple ng-if="fd.Multiline" field-element="fd" ng-model="formData[0][fd.FieldName]" selected-items="formData[0][fd.FieldName]" name="{{::fd.Name}}{{::fd.ItemId}}" ng-required="fd.Required" required-field="fd.Required" dropdown-items="userList" dropdown-id="fd.Name+fd.ItemId" parent-form-id="'innerForm'+fd.ItemId" search-text="fd.SearchText"></kt-dropdown-multiple>
		      
		       <p ng-if="formData" ng-class="{'invalid-tooltip right-0 mt-n2 mr-3':fd.Parameters.ErrorMsgType=='tooltip' || fd.Parameters.ErrorMsgType==undefined,'invalid-feedback':fd.Parameters.ErrorMsgType=='feedback','d-block':(innerForm{{fd.ItemId}}.$submitted || innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$touched) && innerForm{{fd.ItemId}}.{{fd.Name}}{{fd.ItemId}}.$invalid}">{{fd.ErrorMsg}}</p>
			</div>       
		</div>
 
	    <div  ng-if="fd.ReadOnly"  kt-style-attribute fd="fd" style-type="'element'"  style="{{fd.customStyleElement}}">
       
  			<div ng-class="{'form-control':fd.Parameters.BorderForReadOnly}">
  				<span ng-if="formData[0][fd.FieldName].first_name">{{formData[0][fd.FieldName].first_name}} {{formData[0][fd.FieldName].last_name}} - {{formData[0][fd.FieldName].username}}</span>
  				<span ng-if="::formData[0][fd.FieldName+'.name']">{{::formData[0][fd.FieldName+'.name']}}</span>
  			</div>
  			 <div  class="{{fd.gridClassElement}} my-auto"  ng-if="fd.ShowDetails">
            
		            <div class="row" >
		              <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left"> 
		                     <label class="form-control no-border">First name</label>
		              </div>
		              <div ng-class="colLength[11-fd.LabelLength]" class="text-left">
		                    <label class="form-control">{{formData[0][fd.FieldName].first_name}}  </label>      
		              </div>
		            </div>
		            <div class="row">
		              <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left">
		                   <label class="form-control no-border">Last name</label>
		              </div>
		              <div ng-class="colLength[11-fd.LabelLength]" class="text-left">  
		                  <label class="form-control">{{formData[0][fd.FieldName].last_name}}   </label>
		              </div>
		            </div>
		            <div class="row">    
		               <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left">
		                  <label class="form-control no-border">Username</label>
		               </div>
		               <div ng-class="colLength[11-fd.LabelLength]" class="text-left">
		                  <label class="form-control">{{formData[0][fd.FieldName].username}}</label>
		               </div>
		            </div>
		            <div class="row">
		                <div ng-class="colLength[fd.LabelLength-1]" class="padding0 text-left">
		                  <label class="form-control no-border">E-mail</label>
		                </div>
		                <div ng-class="colLength[11-fd.LabelLength]" class="text-left">
		                  <label class="form-control">{{formData[0][fd.FieldName].email}}</label>
		                </div>
		            </div>
			</div>
  		</div>

		 
		 <!--  BLUE DROPDOWN   style="visibility:visible !important" -->
	    <div style="visibility:visible !important"   class=" blue-dropdown  rounded shadow" >
     
         	<div class="dropleft element-properties-btns bg-primary rounded shadow noprint" ng-if="::showSearchFilters">
		 			 
						<a id="search-filter-{{fd.PresentationId}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-primary btn-xs prop-btn" href>
							<i class="fa fa-filter mr-1" title="Filter : {{fd.Search.name}}"></i>{{fd.Search.name}}</a>
						<div class="dropdown-menu shadow p-0 dropdown-max-content-width" style="min-width:0px !important" aria-labelledby="search-filter-{{fd.PresentationId}}">
					 
							<div class="btn-group-vertical" role="group" aria-label="Search filter">
								<button type="button"  class="btn btm-sm btn-light"  ng-click="fd.applyListFilters(0)" ng-class="{'active':fd.Search.filter=='onlist'}">  <span class="{{fd.searchList[0].icon}}"></span> {{fd.searchList[0].name}} </button>
								<button type="button"  class="btn btm-sm btn-light"  ng-click="fd.applyListFilters(1)" ng-class="{'active':fd.Search.filter=='notonlist'}">  <span class="{{fd.searchList[1].icon}}"></span> {{fd.searchList[1].name}}</button>
							</div>.
					   </div>
	 

			</div>

		</div>
        
      

	</div>

</div>

 
 