<!--<div id="ktUsersGroupsSelect" class="card">-->
<div id="ktUsersGroupsSelect" class="">

       
    <div class="pb-1 rounded-top" >                  
	    <span class="bold">{{headerLabel}}</span>
		<button type="button" class="btn btn-sm float-right p-0" ng-click="isCollapsedUsersGroups = !isCollapsedUsersGroups" >
			<span ng-class="{'fas fa-angle-down': isCollapsedUsersGroups,'fas fa-angle-right': !isCollapsedUsersGroups }" ></span>
		</button>
	</div>
              
    <div uib-collapse="isCollapsedUsersGroups" class="p-2">          
        <div class="row m-0">
                 <div class="col-lg-12 pl-0">
                     <div class="p-1 border rounded shadow-sm">
                         <div class="p-1"><i class="fa fa-user"></i> {{usersLabel}}
                            <button type="button" class="btn btn-sm float-right p-0" ng-click="isCollapsedUsers = !isCollapsedUsers" ><span ng-class="{'fas fa-angle-down': isCollapsedUsers,'fas fa-angle-right': !isCollapsedUsers }" ></span></button>
                         </div>
                         <div uib-collapse="isCollapsedUsers" class="p-1">
                       
                              <div kt-select-users></div>
                           </div>
                      </div>
                   </div>
                   <div class="col-lg-12 pr-0">
                         <div class="p-1 border rounded shadow-sm">
                            <div class="p-1"><i class="fa fa-users"></i> {{groupsLabel}}
                                <button type="button" class="btn btn-sm float-right p-0" ng-click="isCollapsedGroups = !isCollapsedGroups" ><span ng-class="{'fas fa-angle-down': isCollapsedGroups,'fas fa-angle-right': !isCollapsedGroups }" ></span></button>
                            </div>
                            <div uib-collapse="isCollapsedGroups" class="p-1">
                          
                               <div kt-select-groups></div> 
                          </div>
                        </div>
                 
                 </div>
                 
               <!--  <div class="m-2" ng-if="groupsLabel == 'Admin groups'" > Administrators have full permissions! </div>-->
       </div>
    </div>
</div>
