<div class="p-1">

	<div ng-if="localVars.datasetMapperType==1" fd="fd" local-vars="localVars" kt-dataset-mapper></div>
    
	<div ng-if="localVars.datasetMapperType>1" class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                 
								 
                                   <label ng-click="localVars.datasetMapperType=2" class="btn btn-sm btn-primary active">
                                    <span class='fa fa-cog'></span> <input  type="radio" name="formtype" id="option1" autocomplete="off"> Form properties 
                                  </label>
								  <label ng-click="localVars.datasetMapperType=3" class="btn btn-sm btn-primary">
                                    <span class='fa fa-database'></span><input  type="radio" name="formtype" id="option2" autocomplete="off"> Contract properties 
                                  </label>


    </div>
	
	<div ng-if="localVars.datasetMapperType==3" class="row m-0 p-2">
		<div class="col-24">
				<label class="label text-muted" >Label </label> <input type="text" class="form-control form-control-sm" ng-model="fd.Label"  />
				 <label class="label text-muted">Error msg </label> <input type="text" class="form-control form-control-sm" ng-model="fd.ErrorMsg"  />
				 <label class="label text-muted">SearchText </label> <input type="text" class="form-control form-control-sm" ng-model="fd.SearchText"  />
				<!--<label class="label-xs text-muted">Primary key name </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.PrimaryKeyName"  />-->
				<div class="">
            
					<label  class="kt-checkbox-label" for="cbReadOnly{{fd.PresentationId}}">
						
						<input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="cbAutoLoad{{fd.PresentationId}}" ng-model="fd.Parameters.AutoLoad" ng-checked="fd.Parameters.AutoLoad" />  
						Auto load contract
					</label>
			
                     
				</div>
		</div>	
		

	</div>
 
	
</div>