<div class="widget-head" ng-class="{'widget-active m-2 shadow':fd.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row bg-light m-0 p-0 mb-1" ng-class="{'widget-head-active':fd.datasetMapperType>0,'bg-light':fd.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0 bg-gray-100">
          <i class="fa fa-wallet mx-2"></i><label >Web3 wallet ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
       <a href title="sort" ng-class="{'widget-prop':fd.datasetMapperType==0 || fd.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
        <div class="col p-0">
			 
             
			
		</div>
        
        <div class="col p-0" ng-if="fd.selectedResourceItem.name_confirmed!='' && fd.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':fd.datasetMapperType==0 || fd.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="fd.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
						<a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="fd.showForm=!fd.showForm"><i ng-class="{'fas fa-eye-slash':!fd.showForm,'fas fa-eye':fd.showForm}"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
			 
              <div kt-task-dropdown2> </div>
			
		</div>
	 </div>
    <div class="p-3" ng-if="fd.datasetMapperType>0"> 
        <div  class="mb-2">
           <div kt-form-element-properties fd="fd" local-vars="fd"></div> 
		</div>		
	</div>
	<div class="p-3" ><!--ng-if="fd.datasetMapperType==2"-->	
		     <div class="row bg-light rounded p-2 m-0 my-2">
                        
                        
                            
							
							<div  class="col-lg-24 text-center" ng-if="fd.connectingToWallet">
                                   <div kt-processing-animation show-msg="true" message="Connecting to wallet"></div>
                            </div>
                            <div ng-if="fd.web3Connected && !fd.connectingToWallet" class="col-lg-24 p-0">

                                   <div class="row m-0 h6">
										<div class="col">
											<div class="bold text-dark my-2">CONNECTED ADDRESS</div>
											 <span style="color:#798092" class="my-2 bold d-none d-sm-block d-md-block">{{fd.eth_address}}</span>
											 <span style="color:#798092" class="my-2 small d-block d-sm-none d-md-none">{{fd.eth_address}}</span>
											 <input id="web3{{fd.PresentationId}}" type="hidden" />
										</div>
										<div class="col-auto p-0">
											<button type="button" class="btn btn-dark" ng-click="fd.showDetails=!fd.showDetails"><i class="fa fa-cog"></i></button>
										</div>
										
                                   </div>
								  <div ng-if="fd.showDetails" class="text-info row m-0 h6">
										<div class="col-lg-24 py-2">
											<button type="button" class="btn btn-link p-0" ng-click="fd.copyToClipboard(fd.eth_address)"><span>Copy address</span> <i class="fa fa-copy ml-1"></i></button>
											<span ng-class="{'visibility-visible':fd.copyAddress,'visibility-hidden':!fd.copyAddress}" class="text-primary small ml-1">Copied!</span>
										</div>
										<div class="col-lg-24 py-2">
											<span>Connected to &nbsp</span><span class="bold">{{fd.connected_network}}</span>
										</div>
										<div class="col-lg-24 py-2">
											<button type="button" class="btn btn-sm btn-dark" ng-click="fd.disconnectWallet()">Disconnect wallet</button>
										</div>
										
								  </div>
                                  
                              
                            </div>
                            <div ng-if="!fd.web3Connected && !fd.connectingToWallet">

                                <div>
                                   <button type="button" class="btn btn-primary" ng-click="fd.connectWeb3Wallet()">Connect wallet</button>
                                </div>
                               <div >
                                         <span class="small text-danger">{{fd.error_msg}}</span>
										 
                                </div>
                            </div>
                       
                        
                    </div>
					

	</div>
</div> 

