 <script id="widgetfortaskproperties.html" type="text/ng-template"> 
	 <div >
		
		 <div class="checkbox">
		  <label>
			<input type="checkbox" ng-model="fd.useDefault"> Use default value
		  </label>
		 </div>
     <div class="checkbox">
		  <label>
			<input type="checkbox" ng-model="fd.showField"> Show field
		  </label>
		 </div>
     <div class="checkbox">
		  <label>
			<input type="checkbox" ng-click="setSystemDate()" ng-model="fd.useSystemDate"> Populate with system date/time
		  </label>
		 </div>
	</div>
		 
 </script>		  