<div class="widget-head" ng-class="{'widget-active m-2 shadow':localVarsWidget.datasetMapperType>0,'m-0 border-0':(fd.Related==null || fd.Related==undefined) && formParams.formViewType==2}">
    <div class="row m-0 p-0 mb-1" ng-class="{'widget-head-active':localVarsWidget.datasetMapperType>0,'bg-light':localVarsWidget.datasetMapperType==0}" ng-if="formParams.formViewType==1">
       <div class="col-auto p-0">
          <i class="fa fa-code mx-2"></i><label >Write smart contract ({{fd.PresentationId}}) ({{fd.LocalId}})</label>
       <a href title="sort" ng-class="{'widget-prop':localVarsWidget.datasetMapperType==0 || localVarsWidget.datasetMapperType==undefined}" class="btn btn-sm btn-outline-primary border-0 task-element-drag-handle widget-prop"><i  class="task-element-drag-handle fas fa-grip-vertical"></i></a>
		 </div>
        
		  <div class="col text-right my-auto">
			  <button type="button"  ng-click="localVarsWidget.showProperties(1)" ng-class="{'btn-warning':localVarsWidget.selectedResourceItem.name_confirmed!='' && localVarsWidget.selectedResourceItem.name_confirmed!=undefined,
			  'btn-outline-primary no-border':localVarsWidget.selectedResourceItem.name_confirmed=='' || localVarsWidget.selectedResourceItem.name_confirmed==undefined}" class="btn btn-xs">
				<span ng-if="localVarsWidget.selectedResourceItem.name_confirmed!='' && localVarsWidget.selectedResourceItem.name_confirmed!=undefined">{{localVarsWidget.selectedResourceItem.name_confirmed}}</span>
				<span ng-if="localVarsWidget.selectedResourceItem.name_confirmed=='' || localVarsWidget.selectedResourceItem.name_confirmed==undefined">Select smart contract</span>
			  </button>
			</div>
        <div class="col-auto p-0" ng-if="localVarsWidget.selectedResourceItem.name_confirmed!='' && localVarsWidget.selectedResourceItem.name_confirmed!=undefined">

					  <a href class="btn btn-outline-primary border-0 btn-sm" ng-class="{'widget-prop':localVarsWidget.datasetMapperType==0 || localVarsWidget.datasetMapperType==undefined}"
						 title="Show/hide properties" ng-click="localVarsWidget.showProperties(2)"><i class="fas fa-cog"></i> </a>	
                	
						<a ng-if="false" href class="btn btn-outline-success border-0 btn-sm" title="Show/hide form" ng-click="localVarsWidget.showForm=!localVarsWidget.showForm"><i ng-class="{'fas fa-eye-slash':!localVarsWidget.showForm,'fas fa-eye':localVarsWidget.showForm}"></i> </a>	
                	
                
        </div>
		<div class="col-auto p-0">
	
            <div kt-task-dropdown2> </div>
			
		</div>
	 </div>
    <div class="p-3"> 
        <div ng-if="localVarsWidget.datasetMapperType>0" class="mb-2">
           <div kt-form-element-properties fd="fd" local-vars="localVarsWidget"></div> 
         </div>
		
		<div ng-if="$root.globals.currentUser.web3Connected" class="row m-0 my-4">
			<div class="col-lg-8 text-center mb-2">
				<button type="button" ng-click="fd.ShowTab=1;fd.getMyStakings()" ng-class="{'btn-primary': fd.ShowTab==1,'btn-light': fd.ShowTab!=1}" class="btn btn-light w-75">
					<i class="fas fa-hand-holding-usd mr-2"></i>My stakings</button>
			</div>
			<div class="col-lg-8 text-center mb-2">
			<button type="button" ng-click="fd.openStakeScreen('KTLYO')" ng-class="{'btn-primary':fd.ShowTab==2,'btn-light':fd.ShowTab!=2}" class="btn btn-light w-75">
					<img class="" src="/img/favicon.ico"></img> Stake KTLYO </button>
			</div>
			<div class="col-lg-8 text-center mb-2">
			<button type="button" ng-click="fd.openStakeScreen('BNF')" ng-class="{'btn-primary':fd.ShowTab==3,'btn-light':fd.ShowTab!=3}" class="btn btn-light w-75">
					<img class="" width="8%" src="/img/bnf_grey.png"></img> Stake BNF </button>
			</div>
		</div>
		<div ng-if="$root.globals.currentUser.web3Connected">
		<!-- tab 1-->
		<div ng-if="fd.ShowTab==1" class="row m-0">
			<div class="col-lg-24 text-light  text-center" ng-if="fd.myStakes.length==0 && fd.afterQuery">
				<div>
					<i class="far fa-folder-open fa-4x"></i>
				</div>
				<span class="h5 mt-1">You haven't staked any tokens!</span>
			</div>
			<div ng-repeat="stake in fd.myStakes track by $index"   class="col-lg-12 col-sm-24 p-1">
				<div  style="color:#26314d;background-color:#eff1f3" class="rounded p-3" >
					
					<div class="row m-0">
						<div class="col-lg-24">
							
						
							<div>
								<span  class="bold">Staked</span>
							</div>
							<span class="bold mr-2 h4" ng-bind="fd.formatNumber(stake.amount)"></span>
							<span class="bold mr-2 h4" ng-bind="fd.getTokenTicker(stake.token)"></span>
							
					
						</div>
						<div class="col-lg-24 p-0 my-2">
							<div class="row m-0">
								<div class="col-lg-12">
										<span ng-class="" class="bold">Staking started on</span>
								</div>
								<div class="col-lg-12">
										<span class=""> {{fd.formatDate(stake.createdAt)}} </span>
								</div>
						</div>
							
					<div class="col-lg-24 p-0 my-2">
						<div class="row m-0">
							<div class="col-lg-12">
								<div ng-if="fd.isReleased(stake)">
									<span class="bold text-success" >
									Staking ended on
									
									</span>
									
							
								</div>
					
								<div ng-if="!fd.isReleased(stake)">
									<span class="bold text-warning">
										Staking ends on
										
									</span>
								</div>
								
							</div>
							<div class="col-lg-12">
								<div >
									<span ng-class="{'text-success':fd.isReleased(stake),'text-warning':!fd.isReleased(stake)}">  {{fd.formatDate(stake.stakeEnd)}} </span>
								</div>
								
							</div>
							
						</div>
						
						<div class="row m-0 my-2" ng-if="!stake.redeemed">
							<div class="col-lg-12" ng-if="fd.isReleased(stake)">
								
								<div>
									<span class="text-success">You can redeem </span>
									
								</div>
								
							</div>
							<div class="col-lg-12 bold" ng-if="fd.isReleased(stake)">
								
									<div >
										<div>
											<span  ng-bind="fd.getAmount(stake.token,'KTLYO',stake.amount,stake.rewardAmt1)"></span>
											<span>KTLYO </span>
										</div>
										<div>
											<span ng-bind="fd.getAmount(stake.token,'BNF',stake.amount,stake.rewardAmt2)"></span>
											<span>BNF</span>
										</div>
									</div>
								
							</div>
						</div>
						
						<div class="row m-0 my-2" ng-if="!fd.isReleased(stake)">
							<div class="col-lg-12">
								
							
								<div ng-if="!stake.redeemed">
									<span class="bold">When staking ends you can redeem </span>
									
								</div>
						
								
							</div>
							<div class="col-lg-12">
								<div>
									<span  ng-bind="fd.getAmount(stake.token,'KTLYO',stake.amount,stake.rewardAmt1)"></span>
									<span>KTLYO </span>
								</div>
								<div>
									<span ng-bind="fd.getAmount(stake.token,'BNF',stake.amount,stake.rewardAmt2)"></span>
									<span>BNF</span>
								</div>
										
							</div>
						</div>
						
						<div class="row m-0 my-2" ng-if="stake.redeemed">
							<div class="col-lg-12">
								
									<div >
										<span class="bold text-success">Redeemed on</span>
										
									</div>
								
							</div>
							<div class="col-lg-12">
								<span class="text-success"> {{fd.formatDate(stake.redeemedAt)}} </span>
										
							</div>
						</div>
						
						<div class="row m-0 my-2" ng-if="stake.redeemed">
							<div class="col-lg-12" >
								
									<div ng-if="stake.stakeEnd<=stake.redeemedAt">
										<span class="">You have redeemed </span>
										
									</div>
									<div ng-if="stake.stakeEnd>stake.redeemedAt">
											<span class="">You have redeemed early</span>
											
										</div>
								
							</div>
							<div class="col-lg-12 bold" >
								
									
										<div ng-if="stake.stakeEnd<=stake.redeemedAt">
											<span  ng-bind="fd.getAmount(stake.token,'KTLYO',stake.amount,stake.rewardAmt1)"></span>
											<span>KTLYO </span>
										</div>
										<div ng-if="stake.stakeEnd<=stake.redeemedAt">
											<span ng-bind="fd.getAmount(stake.token,'BNF',stake.amount,stake.rewardAmt2)"></span>
											<span>BNF</span>
										</div>
										<div ng-if="stake.stakeEnd>stake.redeemedAt">
											
											<span ng-bind="fd.formatNumber(stake.amount)"></span>
											<span ng-bind="fd.getTokenTicker(stake.token)"></span>
										</div>
									
								
							</div>
						</div>
						
						</div>
						
					</div>
					
					<div>
						
					</div>
					
				</div>
				<div class="col-lg-24 p-0 mb-2">
					<button ng-if="stake.stakeEnd<=fd.currentDate && !stake.redeemed" type="button" ng-disabled="fd.msgs[$index].pending || fd.msgs[$index].status" ng-click="fd.Redeem(false,$index)" class="btn btn-sm btn-primary col-lg-24">
						Redeem now</button>
					<div ng-if="stake.stakeEnd>fd.currentDate && !stake.redeemed">
						<button  type="button" ng-disabled="fd.msgs[$index].pending || fd.msgs[$index].status" ng-click="fd.Redeem(true,$index)" class="btn btn-sm btn-primary col-lg-24">
						Redeem early</button>
						<span class="small text-danger">If you redeem early you will not receive the rewards!</span>	
						
					</div>	
				</div>
				
					
				
				<div class="col-lg-24 p-0 mt-2">
				
					<div ng-if="fd.msgs[$index].transactionHash" class="row border-top py-2 m-0 mt-3">
							<div class="col-auto p-0" >
									<span class="bold mr-3">Transaction submitted</span> <a href="https://etherscan.io/tx/{{fd.msgs[$index].transactionHash}}" target="_blank">View on etherscan</a>
							
									<div class="text-break text-wrap"> {{fd.msgs[$index].transactionHash}} </div>
							</div>
							
								
								
					</div>
					<div ng-if="fd.msgs[$index].pending" class="row m-0">		
							<div class="col-lg-24 p-0 text-warning bold">Pending transaction...</div>
					</div>
					
					<div ng-if="fd.msgs[$index].confirmation" class="row m-0 mt-2">
						
							<div class="col-auto p-0 mr-2">
								<span class="">Transaction completed</span>
								<span class="badge badge-info">{{fd.msgs[$index].confirmation}} block confirmations</span>
							</div>
							<div class="col p-0">
								<span class="">Status</span>
								<span class="ml-1 badge badge-success" ng-if="fd.msgs[$index].status">Success</span>
								<span class="ml-1 badge badge-danger" ng-if="!fd.msgs[$index].status">Error</span>
							</div>
					</div>
							
					<div ng-if="fd.msgs[$index].errorMessage" class="row m-0">		
							<div class="col-lg-24 p-0 text-danger">Error: {{fd.msgs[$index].errorMessage}}</div>
					</div>
				</div>	
	
			</div>
				
		  </div>
			
			
		</div>
		
		<!-- tab 1-->
		
	<!-- tab 2 and 3-->
	<div ng-if="fd.ShowTab==2 || fd.ShowTab==3" style="background-color: #eff1f3;" class="row p-3 rounded m-0">
			
			<div class="col-lg-12 col-xs-24 col-sm-24 p-0">
				<div class="row m-0 my-3">
					
					<div ng-if="fd.approvalOpen" class="my-2">
							<button type="button" ng-click="fd.approvalOpen=false" class="btn btn-outline-primary p-0 py-1">
											<i class="fa fa-arrow-left mr-1"></i>Return to staking</button>
						
					</div>
					
					<div class="col-lg-24 text-center p-0 my-2">
						
						<span class="h5" >Your remaining limit is </span>
						<div class="bold bg-white p-2 rounded"> {{fd.remainStakeLimitPrint}} {{fd.currentTokenTicker}}</div>
						
						<div ng-if="false">
							<label class="text-muted" >Remaining stake limit </label> {{fd.maxStakeLimitPrint}}<span></span>
						</div>
					</div>
					
					
					<div ng-if="fd.approvalOpen" class="col-lg-24 text-center p-0 my-2">
						
						<span class="h5" >Your allowance  is </span>
						<div class="bold bg-white p-2 rounded"> {{fd.allowance}} {{fd.currentTokenTicker}}</div>
						
					</div>
					<div ng-if="fd.approvalOpen" class="col-lg-24 p-0 mt-2">
						<div  class="row m-0">
								<div class="col-auto p-0">
									<span class="text-primary bold h5" >Allowance amount </span>
								</div>
								<div class="col text-right p-0">
									<button type="button" ng-click="fd.setMaxAllowance()" class="btn btn-link p-0">
										Max</button>
								</div>	
						</div>
					</div>
					<div ng-if="fd.approvalOpen" class="col-lg-24 p-0">
						<div ng-if="fd.approvalOpen" class="row m-0">
							<div class="col p-0">
								<input type="text" min="0" ng-required="true" style="font-size: x-large;background-color: transparent" class="form-control" placeholder="0.00" ng-model="fd.ApproveAmount"  />
							</div>
							
						</div>
					</div>
					
					<div ng-if="fd.approvalOpen" class="col-lg-24 p-0 my-2">
					
						<div ng-if="fd.approvalOpen" class="row m-0">
							<div class="col-lg-24 p-0 mt-2">
								<button type="button" ng-click="fd.setAllowance()" ng-disabled="fd.ApproveAmount==undefined" class="btn btn-success w-100">
											Approve allowance</button>
							</div>
							
						</div>
					</div>
				</div>
				
				<div ng-if="!fd.approvalOpen" class="row m-0">
					<div class="col-auto p-0 py-1">
						<span class="text-primary bold h6" >Amount </span>
					</div>
					<div class="col text-right p-0 py-1">
						<span class="mr-1">Allowance is</span>
						<button type="button" ng-click="fd.approvalOpen=true" title="Click to set allowance" class="btn btn-xs btn-outline-success p-1">
							<span class="mr-1">{{fd.allowance}}</span><span>{{fd.currentTokenTicker}}</span>
						</button>
					</div>
				</div>
			
				
				<div ng-if="!fd.approvalOpen" class="row m-0">
					<div class="col p-0">
						<input type="text" min="0" style="font-size: x-large;background-color: transparent" class="form-control" placeholder="0.00" ng-model="fd.StakeAmount"  />
					</div>
					
				</div>
				<div ng-if="!fd.approvalOpen" class="row m-0">
					<div class="col p-0 mt-2">
						<button type="button" ng-click="fd.stake()" class="btn btn-lg btn-success w-75">
									Stake</button>
					</div>
					<div class="col-auto p-0">
							<button type="button" ng-click="fd.setMax()" class="btn btn-link p-0 py-1">
									Max</button>
					</div>	
				</div>
			
			</div>
			
			<!-- transaction messages allowance-->		
			<div ng-if="fd.approvalOpen" class="col-lg-24 p-0">
										
					<div ng-if="fd.transactionHash1" class="row border-top py-2 m-0 mt-3">
						<div class="col-auto p-0" >
								<span class="bold mr-2">Transaction submitted</span>  <a href="https://etherscan.io/tx/{{fd.transactionHash1}}" target="_blank">View on etherscan</a>
								<div class="text-break text-wrap"> {{fd.transactionHash1}} </div>
						</div>
						
					</div>
					<div ng-if="fd.pending1" class="row m-0">		
							<div class="col-lg-24 p-0 text-warning bold">Pending transaction...</div>
					</div>
					
					<div ng-if="fd.confirmation1" class="row m-0 mt-2">
						
							<div class="col-auto p-0 mr-2">
								<span class="">Transaction completed</span>
								<span class="badge badge-info">{{fd.confirmation1}} block confirmations</span>
							</div>
							<div class="col p-0">
								<span class="">Status</span>
								<span class="ml-1 badge badge-success" ng-if="fd.status1">Success</span>
								<span class="ml-1 badge badge-danger" ng-if="!fd.status1">Error</span>
							</div>
					</div>
					
					<div ng-if="fd.errorMessage1" class="row m-0">		
							<div class="col-lg-24 p-0 text-danger">Error: {{fd.errorMessage1}}</div>
					</div>
				
			
			</div>
			<!-- transaction messages allowance-->
			
			<!-- transaction messages staking-->
			<div ng-if="!fd.approvalOpen" class="col-lg-24 p-0">
			
				<div  ng-if="fd.transactionHash2" class="row border-top py-2 m-0 mt-3">
					<div class="col-auto p-0" >
							<span class="bold mr-2">Transaction submitted</span> <a href="https://etherscan.io/tx/{{fd.transactionHash2}}" target="_blank">View on etherscan</a>
							<div class="text-break text-wrap"> {{fd.transactionHash2}} </div>
					</div>
					
					
					
				</div>
				<div ng-if="fd.pending2" class="row m-0">		
						<div class="col-lg-24 p-0 text-warning bold">Pending transaction...</div>
				</div>
				
				<div ng-if="fd.confirmation2" class="row m-0 mt-2">
					
						<div class="col-auto p-0  mr-2">
							<span class="">Transaction completed</span>
							<span class="badge badge-info">{{fd.confirmation2}} block confirmations</span>
						</div>
						<div class="col p-0">
							<span class="">Status</span>
							<span class="ml-1 badge badge-success" ng-if="fd.status2">Success</span>
							<span class="ml-1 badge badge-danger" ng-if="!fd.status2">Error</span>
						</div>
				</div>
				
				<div ng-if="fd.errorMessage2" class="row m-0">		
						<div class="col-lg-24 p-0 text-danger">Error: {{fd.errorMessage2}}</div>
				</div>
			</div>
			<!-- transaction messages staking-->
	  </div>
	<!-- tab 2 and 3-->
	</div>
		<!-- hide if wallet not connected-->
	</div>	
</div>