<div class="text-center p-2 border-1 processing-style" ng-show="showMsg">
  
  <div class="spinner-std">
    <div class="rect1 ml-1"></div>
    <div class="rect2 ml-1"></div>
    <div class="rect3 ml-1"></div>
    <div class="rect4 ml-1"></div>
    <div class="rect5 ml-1"></div>
  </div>
  <div> <h5>{{ message }}</h5></div>
  
</div>