// Colors
.bg-black {
    background-color: $black;
}
.bg-gray {
  &-900 {
    background-color: $gray-900;
  }
  &-800 {
    background-color: $gray-800;
  }
  &-700 {
    background-color: $gray-700;
  }
  &-600 {
    background-color: $gray-600;
  }
  &-500 {
    background-color: $gray-500;
  }
  &-400 {
    background-color: $gray-400;
  }
  &-300 {
    background-color: $gray-300;
  }
  &-200 {
    background-color: $gray-200;
  }
  &-100 {
    background-color: $gray-100;
  }
  &-50 {
    background-color: $gray-50;
  }
  &-20 {
    background-color: $gray-20;
  }
}
.bg-primary-light {
  background-color: $primary-light;
}
.bg-success-light {
  background-color: $success-light;
}
.bg-warning-light {
  background-color: $warning-light;
}
.bg-danger-light {
  background-color: $danger-light;
}
.bg-active {
  background-color: $orange;
}

.text-darkblue {
    color: darkblue;
}

