// Transitions
@mixin animate-fastest {
  transition: ease-in-out .05s;
}
@mixin animate-fast {
  transition: ease-in-out .25s;
}
@mixin animate-slow {
  transition: ease-in-out .55s;
}

@mixin drag-drop {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
