// Sizing
//
.input-group-xs > .form-control:not(textarea),
.input-group-xs > .custom-select {
  height: $input-height-xs;
}

.input-group-xs > .form-control,
.input-group-xs > .custom-select,
.input-group-xs > .input-group-prepend > .input-group-text,
.input-group-xs > .input-group-append > .input-group-text,
.input-group-xs > .input-group-prepend > .btn,
.input-group-xs > .input-group-append > .btn {
  padding: $input-padding-y-xs $input-padding-x-xs;
  @include font-size($input-font-size-xs);
  line-height: $input-line-height-xs;
  @include border-radius($input-border-radius-xs);
}

.input-group-xs > .custom-select {
  padding-right: $custom-select-padding-x + $custom-select-indicator-padding;
}

// Form control sizing
//
.form-control-xs {
  height: $input-height-xs;
  padding: 0 $input-padding-x-xs;
  @include font-size($input-font-size-sm);
 // line-height: $input-line-height-xs;
  @include border-radius($input-border-radius-xs);
  &:focus {
    border-color: lighten($primary, 25%);
    box-shadow: 0 0 0 2px lighten($primary, 30%);
  }
  &::placeholder {
    color: $text-muted;
  }
  &:disabled, &[readonly] {
    opacity: .5;
  }
}

// Labels
//
.label-xs {
  font-size: $font-size-xs;
  line-height: 1;
  &.custom-control-label {
    color: $text-muted;
  }
}
.col-form-label-xs {
  padding-top: calc(#{$input-padding-y-xs} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y-xs} + #{$input-border-width});
  @include font-size($input-font-size-xs);
  line-height: $input-line-height-xs;
}

// Button Sizes
//
.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-line-height-xs, $btn-border-radius-sm);
}


@for $i from 4 through 16 {
        .fnt#{$i} { font-size: #{$i * 2 }px; }
      }


    