<div class="m-3">
      <div class="mt-1">
            <div class="card p-1">
                  <div class="h4 p-1 border-bottom text-center my-auto">
                        <span class="bold">Application</span>
                         <span class="mx-1 bold text-primary">{{resource.resourcedeflang_set[0].Name}}</span>
                  </div>
                  <div class="p-1 mb-2"  style="position: absolute;">
                    <a class="mb-2 text-primary" href="" title="Return to previous page" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to previous page</a>
                  </div>
                  
                 
                   <div class="col-24 my-3 h5 text-center "> Start building your app by defining navigation menu and starting page!</div>
                   
                   
                  <div class="d-flex justify-content-center  p-3">
                  
    
                      <!---- NAVIGATION MENU --->
                      <div class="card shadow-sm col-5 p-2 pb-4" >  
                            <div class="text-center p-2 text-muted">
                                  <div class="bold d-inline my-auto text-muted">
                                        <i class="fa fa-bars"></i>
                                  </div>
                                  <div class="bold d-inline my-auto py-auto ml-2 text-muted">Navigation menu</div>
                            </div>
                            
                           <div ng-if="!pageState.selectedMenu.id" class="h5 text-danger text-center my-2">Not selected!</div>

                            <div class="bold my-auto text-center h5 p-2 pb-3 text-primary">{{pageState.selectedMenu.name}}
                            </div>
                            
                            <div ng-if="!pageState.selectedMenu" class="d-flex justify-content-center my-auto">
                              <button type="button"  ng-click="existingMenu()" class="btn btn-primary mx-2 mb-2" kt-bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="Click to use existing menu">
                                Use existing 
                                </button>
                              <button type="button"  ng-click="newMenu()" class="btn btn-primary mx-2 mb-2" kt-bootstrap-tooltip data-toggle="tooltip" data-placement="bottom" title="Click to create new menu from scratch">
                              Create new 
                              </button>
                        
                            </div>
                            
                            <div  class="text-center" ng-if="pageState.selectedMenu">
                                <button type="button" class="btn btn-outline-info btn-xs w-100" ng-click="pageState.selectedMenu=null">
                                <i class="fa fa-edit mr-2"></i>Edit</button>
                            </div>
                      </div>
                           
                       <!-- PAGE -->
                      <div class="card shadow-sm offset-1 col-5 p-2 pb-4">
                            <div class="text-center p-2 text-muted">
                                  <div class="bold d-inline my-auto text-muted">
                                        <i class="fa fa-newspaper"></i>
                                  </div>
                                  <div class="bold d-inline my-auto py-auto ml-2 text-muted">Default page</div>
                                  <div ng-if="!pageState.selectedPage.id" class="h5 text-danger my-2">Not selected!</div>

                            </div>
                           
                            <div ng-show="pageState.selectedPage.id" class="bold my-auto text-center h5 p-2 pb-3 text-primary">
                                {{pageState.selectedPage.name}} ({{pageState.selectedPage.id}})         
                             </div>
                             
                             <div ng-hide="pageState.selectedPage.id" class="bold my-auto text-center h5 p-2 pb-3 text-primary">
                                {{pageState.selectedPage.name}} 
                             </div>
                            
                             <div class="text-center" ng-if="!pageState.selectedPage.id">
                                <button type="button" class="btn btn-primary w-80" ng-click="pageState.selectDefaultPage=true">
                                <!--<i class="fa fa-edit mr-2"></i>-->
                                Use existing</button>
                            </div>
                            
                            <div class="text-center" ng-if="pageState.selectedPage.id">
                                <button type="button" class="btn btn-outline-info btn-xs w-100" ng-click="pageState.selectDefaultPage=true">
                                <i class="fa fa-edit mr-2"></i>
                                Edit</button>
                            </div>
                            
                          
                      </div>
                      
                   
                  
                  </div>
                  
                 
                   
         
                            
                            
                  <div class="text-center my-4" ng-if="pageState.selectedMenu">
                            <button type="button" class="btn btn-success w-25" ng-disabled="!pageState.saveEnabled" ng-click="saveApplicationMenu()">
                            <i class="fa fa-save mr-2"></i>Save</button>
                  </div>
                  
                  <!-- MENU LIST -->
                  <div ng-if="!pageState.selectedMenu" class="row m-0 mt-2 text-center">
                       
                           <div ng-if="pageState.selectedMenuOption=='existing'" class="col-lg-12 col-24 m-auto shadow-sm border px-3 pb-3 pt-1">
                              <div class="bold border-bottom mb-3">Select navigation menu</div>
                              <div class="mb-2">
                                    <input type="text" class="form-control form-control-xs" placeholder="Search navigation menus" ng-model="pageState.filterMenus"  />
                              </div>
                              <div  id="app-menu-task-list">   
                          
                                    <div ng-repeat="menu in menuList track by menu.id" ng-show="([menu.name] | filter:pageState.filterMenus).length" class="border rounded text-primary shadow-sm mb-1">
                                 
                                          <div  class="row m-0">
                                                <button type="button" ng-click="selectMenu(menu)" class="d-flex w-100 py-2 btn btn-outline-success btn-xs" >
                                                        <div class="col text-left">{{$index+1}}. {{menu.name}} ({{menu.id}})</div>
                                                        <div class=" col-auto pr-0"> </div> 
                                                        <i class="showOnHover text-white fas fa-check"> </i>                                               
                                               </button>         
                                          </div> 
                                    </div>
                              </div>
                              
                  
                        </div>
                        
                  </div>
                  
                    <!-- PAGE LIST-->
                  <div ng-if="pageState.selectDefaultPage" class="row m-0 mt-2 text-center">
                  
                     <div class="col-lg-12 col-24 m-auto shadow-sm border px-3 pb-3 pt-1">
                                  <div class="bold border-bottom mb-3">Select default page</div>
                                  <div class="mb-2">
                                        <input type="text" class="form-control form-control-xs" placeholder="Search pages" ng-model="pageState.filterPages"  />
                                  </div>
                                  <div  id="page-list">   
                              
                                        <div ng-repeat="page in pageList track by page.id" ng-show="([page.name] | filter:pageState.filterPages).length" class="border rounded text-primary shadow-sm mb-1">
                                     
                                              <div  class="row m-0">
                                                  
                                                          <button type="button" ng-click="selectPage(page)" class="d-flex w-100 py-2 btn btn-outline-success btn-xs" >
                                                                <div class="col text-left">{{$index+1}}. {{page.name}} ({{page.id}})</div>
                                                                <div class="col-auto pr-0"></div>
                                                                <i class="showOnHover text-white fas fa-check"></i> 
                                                          </button>  
                                              </div> 
                                        </div>
                                  </div>
                              
                             <button ng-if="pageState.selectDefaultPage" type="button" class="btn btn-outline-danger btn-xs" ng-click="pageState.selectDefaultPage=false">
                                    <i class="fa fa-times mr-2"></i>        Cancel
                                    </button>    
                               
                                
                       </div>
                  </div>
                  
            </div>      
      </div>
      
       
      
</div>  