<div ID="AppMenuDefinition" class="card m-3 mt-1 p-1">
                                
     <div class="h4 py-2 border-bottom text-center my-auto">
        <div class=""  style="float:left;">
            <a class="ml-2 fnt9 text-primary" href="" title="Return to previous page" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to previous page</a>
        </div>
    
          <span class="bold"> {{resource.ResourceType.ResourceName}}</span>     
    </div>
    
   
   
    <div  ng-if="resource.ResourceCode=='pagemenu' && menuLoaded"   kt-page-menu   class="p-2" local-vars="localVars" resource="resource" page-Menu="resource.ResourceExtended.pageMenu">
    </div>
    
     <div  ng-if="resource.ResourceCode=='menu' && menuLoaded"   kt-app-navbar    class="p-2" local-vars="localVars" resource="resource"  navbar-items-left="resource.ResourceExtended.navbarItemsLeft" navbar-items-right="resource.ResourceExtended.navbarItemsRight">
    </div>       
      
</div>  