
<form id="forma1" name="forma" class="form-horizontal" role="form" novalidate>

<div class="card">

      <div class="row m-1" >               
            <div class="col-12 padL0"> 
              <h4 class="m-4 text-center"> Dataset mappings </h4>
                <div id="mappinggrid" ui-grid="gridOptions1" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
              
              <div class="p-4">
                    <button type="button" ng-disabled="saveDatasetMappingHeadStatus!='CancelOrInit'" ng-click="showMappingData()" class="btn btn-light">
                                    <span class="fa fa-plus"></span> Create New Mapping 
                     </button>
                     
                    <button type="button" ng-disabled="saveDatasetMappingHeadStatus!='CancelOrInit'" ng-show="resourceSelected" ng-disabled="false" ng-click="showMappingData(resourceSelected)" class="btn btn-light">
                                    <span class="fa fa-plus"></span> Update selected Mapping 
                     </button>                 
                 
                </div>
                 
                
                
             <div name='addNewMapping' ng-show="saveDatasetMappingHeadStatus!='CancelOrInit'">
             
                 <div> 
                    <b>  Mapping Name: </b>
                    <input  type="text" ng-model="mappingFields.mappingName"  placeholder="Enter  name..."class="form-control"/>
                </div>
                                          
                  <div> <br>
                    <b>  Display Name: </b>
                    <input  type="text" ng-model="mappingFields.mappingDisplayName"  placeholder="Enter display name..."class="form-control"/>
                </div>
               
                <span class="">&nbsp <br><b>Select dataset1:</b></span>
                <ui-select  ng-model="mappingFields.dataset1"  on-select="onSelectDatasetCallback($item, $model)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                
                  <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                    <span>{{$select.selected.name}} ({{$select.selected.id}})
                    
                      <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                    </span>
                  </ui-select-match>
               
                  <ui-select-choices class="ui-select-choices" repeat="dataset in (datasetList | filter: { name: $select.search }) track by dataset.id" refresh="refreshResults($select)" refresh-delay="0">
                     <span>{{dataset.name}} ({{dataset.id}})</span>
                  </ui-select-choices>
                </ui-select>
            
             <span class="">&nbsp <br> <b>Select dataset2:</b></span>
                <ui-select  ng-model="mappingFields.dataset2"  on-select="onSelectDatasetCallback($item, $model)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                
                  <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                    <span>{{$select.selected.name}} ({{$select.selected.id}})
                    
                      <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                    </span>
                  </ui-select-match>
               
                  <ui-select-choices class="ui-select-choices" repeat="dataset in (datasetList | filter: { name: $select.search }) track by dataset.id" refresh="refreshResults($select)" refresh-delay="0">
                     <span>{{dataset.name}} ({{dataset.id}})</span>
                  </ui-select-choices>
                </ui-select>
            
              <span class="">&nbsp <br><b>Select mapping type:</b></span>
                 <ui-select ng-model="mappingFields.mappingType"  on-select="onSelectUniqueCallback($item,$model)" name="{{name}}" ng-required="required" reset-search-input="true" > 
                    <ui-select-match class="ui-select-match" placeholder="Select mapping...">
                     <span class="">{{$select.selected.name}} <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                      </span>
                    </ui-select-match>
                    <ui-select-choices class="ui-select-choices" repeat="code in (codeList | filter: { name: $select.search }) track by code.id" refresh="refreshResults($select)" refresh-delay="0">
                      <span>{{code.name}}</span>
                    </ui-select-choices>
                </ui-select>
        

                                          
                <br><br>
            
              <div class="row" style="padding-left:10px" ng-show="saveDatasetMappingHeadStatus!='CancelOrInit'"> 
                                      
                                <!--<button type="button" ng-click="saveDatasetMappingHead()" class="btn btn-light">
                                <span class="fa fa-floppy-o"></span> Save as New Mapping</button>-->
                                
                                  <button type="button"  class="btn btn-light" ng-show="saveDatasetMappingHeadStatus=='updateMapping'" ng-click="saveDatasetMappingHead(selectedResource)">
                               <span class='fa fa-floppy-o'></span> Save </button> 
                               
                                <button type="button"  class="btn btn-light" ng-show="saveDatasetMappingHeadStatus=='createMapping'" ng-click="saveDatasetMappingHead()">
                               <span class='fa fa-floppy-o'></span> Save </button> 
                               
                                 <button type="button" class="btn btn-danger" ng-click="cancelMapping()"> Cancel </button>            
             </div>

            </div name='addNewMapping'>



           </div>
          
            <div class="col-12 padL0"> 
              <h4 class="m-4 text-center"> Dataset transforms  </h4>
                <div id="transformgrid" ui-grid="gridOptions2" ui-grid-selection ui-grid-resize-columns class="myGrid"></div> 
<div class="p-4">

                <button type="button" ng-disabled="saveDatasetTransformHeadStatus!='CancelOrInit'" ng-click="showTransformData()" class="btn btn-light">
                                <span class="fa fa-plus"></span> Create New Package 
                 </button>
                 
                <button type="button" ng-disabled="saveDatasetTransformHeadStatus!='CancelOrInit'" ng-show="transformSelected" ng-disabled="false" ng-click="showTransformData(selectedTransform)" class="btn btn-light">
                                <span class="fa fa-plus"></span> Update selected Package 
                 </button>                 
</div>
                 
                <br><br>
                
             <div name='addNewTransform' ng-show="saveDatasetTransformHeadStatus!='CancelOrInit'">
             
                 <div> 
                    <b>  Transform Name: </b>
                    <input  type="text" ng-model="transformPackage.transformName"  placeholder="Enter  name..."class="form-control"/>
                </div>
                                          
                  <div> <br>
                    <b>  Display Name: </b>
                    <input  type="text" ng-model="transformPackage.transformDisplayName"  placeholder="Enter display name..."class="form-control"/>
                </div>
               

                <div class="card">
                  <div class="card-header">
                     Field1                
                  </div>
                  
                  <div class="card-body pt-0">
                  
                    <span class="">&nbsp<b> Transform Type for Field1
                    </b>    </span>
                    
                    <ui-select  ng-model="transformPackage.fieldType1"  on-select="onSelectField1($item)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                      <ui-select-match class="ui-select-match" placeholder="Select Input Type..."  >
                        <span>{{$select.selected.Name}} ({{$select.selected.id}})
                          <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </span>
                      </ui-select-match>
                      <ui-select-choices class="ui-select-choices" repeat="dataset in codesDetails" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{dataset.Name}} ({{dataset.id}})</span>
                      </ui-select-choices>
                    </ui-select>
                    
                
                    <!--  KAD JE ODABRAN  TIP 'DATASET'-->
                    <div ng-if="transformPackage.fieldType1.Name=='dataset'">
                    
                        <span class="">&nbsp <br><b> Dataset for Field1
                        </b>    </span>
                        
                        <ui-select  ng-model="transformPackage.dataset1"  on-select="onSelectDataset1($item)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                          <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                            <span>{{$select.selected.name}} ({{$select.selected.id}})
                              <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </span>
                          </ui-select-match>
                       
                          <ui-select-choices class="ui-select-choices" repeat="dataset in datasetList" refresh="refreshResults($select)" refresh-delay="0">
                             <span>{{dataset.name}} ({{dataset.id}})</span>
                             <i class="task-element-drag-handle handler fas fa-grip-vertical text-dark mr-1" style="opacity:0.2"></i>
                          </ui-select-choices>
                          
                        </ui-select>
                        
                        
                        <div ng-if="field1resources">  
                            <span class="">&nbsp <br><b> Select Dataset Property
                            </b>   
                            </span>
                            
                            <ui-select  ng-model="transformPackage.dataset1Field"  on-select="" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                            
                              <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                                <span>{{$select.selected.FieldName}} ({{$select.selected.id}})
                                  <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                                </span>
                              </ui-select-match>
                           
                              <ui-select-choices class="ui-select-choices" repeat="dataset in field1resources" refresh="refreshResults($select)" refresh-delay="0">
                                 <span>{{dataset.FieldName}} {{dataset.FieldType}} ({{dataset.id}})</span>
                              </ui-select-choices>
                            </ui-select>
                          
                        </div>
                    </div>
                
                  </div>
                </div>
                               
  
                <div class="card">
                  <div class="card-header">  
                     Field2
                  </div>
                  
                  <div class="card-body pt-0">
                    
                    <ui-select  ng-model="transformPackage.fieldType2"  on-select="onSelectField2($item)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                    
                      <ui-select-match class="ui-select-match" placeholder="Select Output Type..."  >
                        <span>{{$select.selected.Name}} ({{$select.selected.id}})
                          <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </span>
                      </ui-select-match>
                   
                      <ui-select-choices class="ui-select-choices" repeat="dataset in codesDetails" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{dataset.Name}} ({{dataset.id}})</span>
                      </ui-select-choices>
                    </ui-select>
                                         
                    
                     <!-- FORMA KAD JE OUTPUT FIELD TIPA 'DATASET'-->
                     <div ng-if="transformPackage.fieldType2.Name=='dataset'"
                        <span class="">&nbsp <br>
                        <b>   Select Dataset for Field2
                        </b>
                        </span>
                        
                        <ui-select  ng-model="transformPackage.dataset2"  on-select="onSelectDataset2($item)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                        
                          <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                            <span>{{$select.selected.name}} ({{$select.selected.id}})
                            
                              <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </span>
                          </ui-select-match>
                       
                          <ui-select-choices class="ui-select-choices" repeat="dataset in datasetList" refresh="refreshResults($select)" refresh-delay="0">
                             <span>{{dataset.name}} ({{dataset.id}})</span>
                          </ui-select-choices>
                        </ui-select>
                        

                        <div ng-if="field2resources">  <!-- POKAZATI KAD SU UČITAju FIELD LISTA ZA GORE ODABRANI DATASET-->
                            <span class="">&nbsp <br>
                            <b>   Field2 </b>  
                            </span>
                            
                            <ui-select  ng-model="transformPackage.dataset2Field"  on-select="" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                              <ui-select-match class="ui-select-match" placeholder="Select Field2..."  >
                                <span>{{$select.selected.FieldName}} ({{$select.selected.id}})
                                  <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                                </span>
                              </ui-select-match>
                              <ui-select-choices class="ui-select-choices" repeat="dataset in field2resources" refresh="refreshResults($select)" refresh-delay="0">
                                 <span>{{dataset.FieldName}} {{dataset.FieldType}} ({{dataset.id}})</span>
                              </ui-select-choices>
                            </ui-select>
                          
                        </div>
                     </div>

                  </div>
                </div>
                
  
                 <br><br>
            
              <div class="row" style="padding-left:10px" ng-show="saveDatasetTransformHeadStatus!='CancelOrInit'"> 
                                      
                                <!--<button type="button" ng-click="saveDatasetTransformHead()" class="btn btn-light">
                                <span class="fa fa-floppy-o"></span> Save as New Transform</button>-->
                                
                                  <button type="button"  class="btn btn-light" ng-show="saveDatasetTransformHeadStatus=='updateTransform'" ng-click="saveDatasetTransformHead(selectedTransform)">
                               <span class='fa fa-floppy-o'></span> Save </button> 
                               
                                <button type="button"  class="btn btn-light" ng-show="saveDatasetTransformHeadStatus=='createTransform'" ng-click="saveDatasetTransformHead()">
                               <span class='fa fa-floppy-o'></span> Save </button> 
                               
                                 <button type="button" class="btn btn-danger" ng-click="cancelTransform()"> Cancel </button>            
             </div>

            </div name='addNewTransform'>
 
              </div>
        </div>
         
      
   <hr>
      
           <div class="row p-2" >
                             
                         
                  <div id="Mappings" class="col-12" >
                    
                         <div class="row">
                              <div  class="col-12" >
                                  <h5 class="text-center" ng-if="resourceSelected">DATASET 1 - {{selectedDataset1.name}} ({{selectedDataset1.id}})</h5>
                                  
                                  <div class="ml-2 dataset1Container" style="max-height:40rem;overflow: auto">   
                                  
                                    <div ng-repeat="item in dataset1Fields track by item.id" class="exampleRow d-flex justify-content-between ">
                                           
                                            <!-- <div  class="element-drag-handle"><b class="element-drag-handle">{{$index+1}}. {{item.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b> -->
                                              <div  class="element-drag-handle"><b class="element-drag-handle">{{item.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b> 
                                              
                                              <i class="element-drag-handle">({{item.GenericType}})</i> 
                                             </div>
                                             <i class="task-element-drag-handle handler fas fa-grip-vertical  my-1 mr-2" style="opacity:0.2"></i>
                                             </div> 
                                         
                                    </div>
                              </div>  
                                      
                            <div  class="col-12" >  
                            
                            <h5 class="text-center" ng-if="resourceSelected">DATASET 2  - {{selectedDataset2.name}} ({{selectedDataset2.id}})</h5>
                             <div class="dataset1Container" style="max-height:40rem;overflow: auto">
                                 
                                 <div ng-repeat="item2 in dataset2Fields track by $index" >
                                    
                                      
                                        <div  ng-switch="item2.type" >
                                      
                                         <div ng-switch-when="date">
                                            
                                             <div class=""> <b> {{$index+1}}. {{item2.name}}</b> <i>({{item2.type}} - from) </i></div>
                                     
                                            <div  class="exampleRow{{$index}} py-1" style="min-height:50px; border-radius: 4px;background-color:rgba(0, 0, 0, 0.1)" >
                                            
                                            <div ng-repeat="field in item2.fields track by $index" class="exampleCell row m-1 element-drag-handle">
                                                <div class="col">
                                                      <b class="element-drag-handle">  {{field.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b>
                                                      <i class="element-drag-handle">({{field.GenericType}}) </i>
                                                </div>
                                                <div class="col-auto p-0">
                                                      <a class="btn btx-xs btn-outline-light border-0 p-0 px-1" href ng-click="removeItem($parent.$index,$index)">
                                                          <i class="fa fa-times"></i>    
                                                      </a>
                                                </div>
                                            </div>
                                           </div>
                                          
                                           <div class=""> <b> {{$index+1}}. {{item2.name}}</b> <i>({{item2.type}} - to) </i></div>
                                           
                                            <div  class="exampleRowFields2{{$index}} py-1" style="min-height:50px;border-radius: 4px;background-color:rgba(0, 0, 0, 0.1)" >
                                           
                                           <div ng-repeat="field in item2.fields2 track by $index" class="exampleCell row m-1 element-drag-handle">
                                                <div class="col">
                                                      <b class="element-drag-handle">  {{field.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b>
                                                      <i class="element-drag-handle">({{field.GenericType}}) </i>
                                                </div>
                                                 <div class="col-auto p-0">
                                                      <a class="btn btx-xs btn-outline-light border-0 p-0 px-1" href ng-click="removeItemF2($parent.$index,$index)">
                                                            <i class="fa fa-times"></i>  
                                                            
                                                      </a>
                                                 </div>  
                                           </div>
                                          </div>
                                         </div>
                                        
                                         <div ng-switch-default>
                                           <div class=""> <b> {{$index+1}}. {{item2.name}}</b> <i>({{item2.type}}) </i></div>
                                     
                                          <div  class="exampleRow{{$index}} py-1" style="min-height:50px;border-radius: 4px;background-color:rgba(0, 0, 0, 0.1)" >
                                         
                                         <div ng-repeat="field in item2.fields track by $index" class="exampleCell row m-1 element-drag-handle">
                                                <div class="col">
                                                      <b class="element-drag-handle">  {{field.PresentationElements_resourcemodeldefinitionid[0].presentationelementslang_set[0].Label}}</b>
                                                      <i class="element-drag-handle">({{field.GenericType}}) </i>
                                               </div>
                                                <div class="col-auto p-0">
                                                      <a class="btn btx-xs btn-outline-light border-0 p-0 px-1" href ng-click="removeItem($parent.$index,$index)">
                                                      <i class="fa fa-times"></i>    
                                                      </a>
                                                </div>
                                         </div>
                                          </div>
                                        
                                        
                                          </div>
                                        </div>
                                      
                                      
                                    </div>  
                                    
                             </div>
                          </div>
                         </div>
                         
                         
                         <div class="m-4">
                        <button type="button" ng-disabled="!resourceSelected" ng-click="saveDatasetMappingDetails()" class="btn btn-success">
                                <!--<span class="fa fa-plus-square"></span> -->
                                Save mappings</button>
                       
                        </div>



                       
                       
                 </div>  
                 
                 <div id="Transforms" class="col-12" >
                 
                                           
                           <div ng-if="transformSelected" class="col-24 "  >
                           
                           <div class="row">
                              <div  class="col-14" >
                                <h4>Field 1 </h4>
                              </div>
                           
                              <div class="col-10" >                                 
                                <h4>Field 2</h4>
                           
                             </div>
                           </div>
                             
                             
                             <div ng-repeat="tf in transformFields track by $index" >
                                   
                                    <div class="row">
                                     <div class="col-2" style="margin-top:5px" > 
                                      <b class=""> {{tf.id}}</b>
                                     </div>
                                      <div class="col-10" >
                                     
                                        <div  ng-switch="tf.TransformationHeadId.FieldType1.Name" >
      
                                          <div ng-switch-when="text">
                                           <input  type="text" style="margin-top:5px" ng-model="tf.TextItem1" ng-required="true" placeholder="Text item 1" class="form-control"/> 
                                            
                                          </div>
                                          
                                          <div ng-switch-when="user">
                                            
                                            <div kt-simple-user user-list="userList" selected-user="tf.User1.id"  selected-user-model="tf.User1" ></div>
                                          </div>
                                          
                                          <div ng-switch-when="group">
                                            group
                                            
                                          </div>
                                          
                                          <div ng-switch-when="code">
                                            
                                            code
                                          </div>
                                          
                                           <div ng-switch-when="dataset">
                                            
                                            dataset
                                          </div>
                                       </div>
                                   </div>
                                
                                        
                                    <div class="col-10" >
                                       <div  ng-switch="tf.TransformationHeadId.FieldType2.Name" >
      
                                          <div ng-switch-when="text">
                                           <input  type="text"  ng-model="tf.TextItem2" ng-required="true" placeholder="Text item 2" class="form-control input-sm mt-1"/> 
                                            
                                          </div>
                                          <div ng-switch-when="user">
                                            <div kt-simple-user user-list="userList" selected-user="tf.User2.id" selected-user-model="tf.User2" class="col-24"></div>
                                          </div>
                                           <div ng-switch-when="group">
                                            group
                                            
                                          </div>
                                           <div ng-switch-when="code">
                                            
                                            code
                                          </div>
                                            <div ng-switch-when="dataset">
                                            
                                            dataset
                                          </div>
                                       </div>
                                   </div>
                               </div> 
                                
                              </div>
                         
                           
                           
                    
                       </div>  
                 
                        <div ng-if="transformSelected" class="row" >
                            <div class="m-4" >
                             <button type="button"  ng-click="addTransformField()" class="btn btn-light">
                                <span class="fa fa-plus"></span> Add item </button>
                           
                            </div>
                         </div>
                         
                          <div class="row" >
                            <div class="my-4" >
  
                              <button type="button" ng-disabled="!transformSelected" ng-click="saveTransformFields()" class="btn btn-success">
                                <span class="fa fa-floppy-o"></span> Save transforms</button>
                            </div>
                         </div>
                            
                            
                 </div>
</form>



