<div>
  <div class="card mt-1">
      <div class="text-center p-1"><h4 class="my-auto">Edit {{resource.ResourceType.name}}</h4></div>
  </div>
  
    <div class="card mt-1 p-1">
      <div class="p-1 mb-2" ng-if="showReturnLink">
                    <a class="mb-2 text-primary" href="" title="Return to {{resource.ResourceType.name}} definition" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to {{resource.ResourceType.name}} definition</a>
      </div>
      <form ng-submit="saveResourceDef(form.$valid)" id="editForm" name="form" class="form-horizontal" role="form" novalidate>
                 
                 
                 <div class="col-24 text-primary"><i class="far fa-newspaper text-primary mr-2"></i><span class="bold">{{resource.ResourceType.name}}</span></div>       
                 <div class="form-group" ng-if="resource.id != null || resource.id > 0" ng-class="{ 'has-error' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
                    <label class="col-24" for="ResourceId">Id</label>
                    <div class="col-12">
                        <input type="text" ng-model="resource.id" ng-disabled="true" ng-required="true" class="form-control" name="ResourceId" />
                    </div>
                </div>
                 
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Name.$touched) && form.Name.$invalid }">
                    <label class="col-24" for="resourceName">{{resource.ResourceType.name}} name</label>
                    <div class="col-12">
                        <input type="text" ng-model="resource.resourcedeflang_set[0].Name" ng-required="true" class="form-control" id="Name" name="Name" placeholder="Resource name" />
                        <p ng-show="(form.$submitted || form.Name.$touched) && form.Name.$invalid" class="help-block">Enter resource name</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
                    <label class="col-24" for="Subject">{{resource.ResourceType.name}} subject</label>
                    <div class="col-12">
                        <input type="text" ng-model="resource.resourcedeflang_set[0].Subject" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="Resource subject" />
                        <p ng-show="(form.$submitted || form.Subject.$touched) && form.Subject.$invalid" class="help-block">Enter resource subject</p>
                    </div>
                </div>                
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Description.$touched) && form.Description.$invalid }">
                    <label class="col-24" for="Description">{{resource.ResourceType.name}} description</label>
                    <div class="col-12">
                        <textarea ng-model="resource.resourcedeflang_set[0].Description" name="Description" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.Description.$touched) && form.Description.$invalid" class="help-block">Enter resource description(min 20 chars).</p>

                    </div>
                </div>
                
                  <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid }">
                    <label class="col-24" for="ddlResourceType">Resource type</label>
                    <div class="col-12">
                       <ui-select ng-model="resource.ResourceType" ng-disabled="disabled" name="resourceType" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select resource type...">
                            <span  class="p-0">{{$select.selected.name}} <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                            </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="rt in (resourceTypeList | filter: { name: $select.search }) track by rt.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{rt.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid" class="help-block">Select resource type</p>
                    </div>
                </div>
                
                   <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid }">
                                <label class="col-24" for="ddlResourceType">#HashTags</label>
                                <div class="col-12">
                                   <ui-select ng-model="resource.Tags" ui-select-multiple-list ng-disabled="disabled" name="resourceType" ng-required="false" reset-search-input="false" >
                                      <ui-select-match class="ui-select-match" placeholder="Search or select resource #hashtags...">
                                          <span  class="p-0">{{$select.selected.name}} <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                                          </span>
                                      </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="rt in (resourceTagsList | filter: { name: $select.search }) track by rt.id" refresh="refreshResults($select)" refresh-delay="0">
                                     <span>{{rt.name}}</span>
                                    </ui-select-choices>
                                  </ui-select>
                                    <p ng-show="(form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid" class="help-block">Select resource hashtags</p>
                                </div>
                  </div>
                   
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid }">
                    <label class="col-24" for="ddlResourceStatus">{{resource.ResourceType.name}} status</label>
                    <div class="col-12">
                       
                        <ui-select ng-model="resource.Status" ng-disabled="disabled" name="resourceStatus" ng-required="true" reset-search-input="false">
                            <ui-select-match class="ui-select-match" placeholder="Search or select resource status...">
                              <span  class="p-0">{{$select.selected.name}} <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                              </span>
                            </ui-select-match>
                            <ui-select-choices class="ui-select-choices" repeat="rs in (resourceStatusList | filter: { name: $select.search }) track by rs.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{rs.name}}</span>
                            </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid" class="help-block">Select resource status</p>
                    </div>
                </div>
             
                  <div class="col-lg-24" ng-if="resource.ResourceType.value=='dataset' || resource.ResourceType.value=='file'">
                                    <a href  ng-click="setImmutable()" style="text-decoration: none;" >
                                      <i  ng-class="{'fa fa-lock text-success':resource.IsBlockchain, 'fa fa-unlock text-danger':!resource.IsBlockchain}">&nbsp {{resource.ResourceType.name}} is immutable (secured on the blockchain)  &nbsp </i>
                                      <i class="far fa-check-square  text-success" ng-if="resource.IsBlockchain"></i>
                                      <i class="far fa-square text-danger" ng-if="!resource.IsBlockchain"></i>
                                     
                                    </a>
                </div>
     
                
                   <div  class="control-group">
                       
                            <button type="submit" id="editBtn" ng-disabled="form.$invalid" class="btn btn-outline-success">
                                <i class="fa fa-save mr-2"></i> Save</button>
                            
                  </div>
                      
    </form>

  </div>
</div>