<div class="card mt-1">
	<div class="row m-0">
		<button type="button" class="btn btn-link" ui-sref="app.menu.resources.data({id: resourceId})">
                                <span class='fa fa-arrow-circle-left'></span> Back to list of dataset records</button>
	</div>
	<div class="row m-0" >
		<div class="col-24 text-center border-bottom"><h4>Import Data</h4></div>
	</div>
	 
  <div id="contentGrid" class="row m-0" >
   	 
	
	<div class="col-24">
           
		<div class="form-group" ng-form="uploaderForm">
                  
         <div class="row m-0">
             
            <div class="col-24">      
                <h4> Select mapping </h4>    
            </div>  
             
            <div ng-if="showGrid" class="col-24"> 
                <div id="mappinggrid" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGrid border"></div>  
							<!--	<span class="mt-2" ng-show="isSelected" > (Currently selected: {{selectedId}} ) </span>-->
			</div>
          </div>
         
           
        <div class="card m-2 p-3">
                  <div class="" ng-show="!fd.readOnly && isSelected">        
                            <input type="file" name="importfile" class="fileElement" ng-model="files" /> <!-- multiple i/ili files ??? -->		  
                 </div>
                                
                <div ng-repeat="file in files" index="$index" class="mt-1">
                 <hr>
                    
                    <div class="row">
                        
                    <div class="col-8">
                    
                        <span>{{$index+1}}. {{file.name}}</span>
                    </div>
                    
                    <div class="col-6">          
                             <progress style="width:100%" value="{{file.loaded}}" max="{{file.size}}"></progress>
                      </div>
                      
                        <div class="col-3">
                             <span> Size: ({{ (file.size/1000).toFixed(2)  }} kb) </span>
                             
                             <i ng-show="file.uploadSuccess || file.uploadError" title="File upload" class="fa fa-upload fa-lg" > </i>  
                             <i ng-show="file.uploadSuccess" title="Success" class="fa fa-check-square fa-lg" style="color:green"></i>
                             <i ng-show="file.uploadError" title="Error" class="fa fa-times-circle fa-lg" style="color:red">             </i>
                             
                             <a ng-show="file.metaSuccess" ng-click="openModalFileMetadata($index)" href>
                             <i ng-show="(file.metaSuccess || file.metaError) && !file.noMeta" title="File metadata upload" class="fa fa-list-alt fa-lg" ></i></a> 
                             <i ng-show="file.metaSuccess && !file.noMeta" title="Success" class="fa fa-check-square fa-lg" style="color:green"></i> 
                             <i ng-show="file.metaError" title="Error" class="fa fa-times-circle fa-lg" style="color:red"></i>
                             
                             <span ng-hide="file.uploadSuccess">{{file.status}} </span>
                             <span ng-hide="file.metaSuccess">{{file.metaStatus}} </span>
                     
                     </div>
                 
                
                            
                    <div class="col" ng-hide="file.uploadSuccess">
                                <a href style="display:inline-block" ng-click="showFileMetaData=!showFileMetaData" ><i ng-show="showFileMetaData" class="fa fa-list-alt fa-lg"></i></a> 
                                <a ng-click="btn_remove($index,file)" href class="" title="Remove from list to be uploaded"><i class="fa fa-times fa-lg">&nbsp</i></a>
                    </div>
                                
                                
                </div> <!--row-->  
                    
            
             </div> <!--repeat -->
            </div>
         
                 <div class="row m-0">
                        <div class="col-24 my-2">
                         <button  type="button" class="btn btn-outline-primary " ng-disabled="isSaving" ng-if="!fd.readOnly" ng-click="btn_upload()">Upload</button>
                          <button  type="button" class="btn btn-outline-primary "  ng-click="importTest()">Test import</button>
                         <button type="button" class="btn btn-outline-danger float-right" ng-if="!fd.readOnly"  ng-click="btn_clean()">Remove all</button>
                        </div>
                 </div> <!-- row 2-->
         
         </div>
         
	</div>  <!-- panel body -->
 

</div> <!-- content-grid-->

</div>