<div class="m-1 mt-2 p-1">
     
     <div class="card p-2 mt-1">
         <div class="h4 p-1 border-bottom text-center my-auto">{{resource.Name}}</div>
		<div class="p-1 mb-2"  style="position: absolute;">
                    <a class="mb-2 text-primary" href="" title="Return to pages list" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to resources</a>
          </div>
		
		<div class="p-2 mt-2">
			<div class="border-bottom">  
               <!--
               <button type="button" ui-sref="app.menu.resources.edit({id:page.ResourceDefId.id,navbar_id:navbar_id,prev_state:previousState})" class="btn btn-link"> <span class='fa fa-pencil'></span>Edit page name</button>
               -->
    
                   
                         <a href title="Show params"  ng-class="{'tab-item-selected':selectedTab==1,'tab-item':selectedTab!=1}" ng-click="selectedTab=1">
                              Integration definition                                                                                             
                         </a>
                    
                         <a  href title="Edit integration details" ng-class="{'tab-item-selected':selectedTab==2,'tab-item':selectedTab!=2}" ng-click="selectedTab=2">
                             Integration info                                                                                             
                        </a>
                         <a href title="Show params" ng-class="{'tab-item-selected':selectedTab==3,'tab-item':selectedTab!=3}" ng-click="selectedTab=3">
                              Security & permissions                                                                                             
                         </a>
          </div>
          
     
     <div style="display:grid;grid-gap: 20px 20px;grid-template-columns:auto">
          <div ng-if="selectedTab==1" class="p-3">
			
			<div  class="pb-2 text-right">
						   
							   <button type="button" ng-click="saveResourceDef(true)" class="btn btn-success">
								  <span class="fa fa-save mr-2"></span>Save integration</button>
						 
			</div>
			<div>
				
				 <div class="my-2" style="display:grid;grid-gap: 20px 20px;grid-template-rows: auto auto;grid-template-columns:auto auto">
				    <div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Api.$touched) && form.Api.$invalid }">
						<label class="" for="api">API endpoint</label>
						<div class="">
										<input type="text" ng-model="resource.Parameters.APIEndpoint" ng-required="true" class="form-control" id="api" name="api" placeholder="API endpoint" />
										<p ng-show="(form1.$submitted || form1.Api.$touched) && form1.Api.$invalid" class="help-block">Enter API endpoint</p>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.APIMethod.$touched) && form.APIMethod.$invalid }">
						<label class="" for="APIMethod">API method</label>
						<div class="">
										<input type="text" ng-model="resource.Parameters.APIMethod" ng-required="true" class="form-control" id="apiMethod" name="apiMethod" placeholder="API method (POST, GET,...)" />
										<p ng-show="(form1.$submitted || form1.APIMethod.$touched) && form1.APIMethod.$invalid" class="help-block">Enter API method (POST, GET,...)</p>
						</div>
					</div>
					<div ng-form="formDatasetSelect">
						<label class="text-muted" for="datasetId">Select dataset </label>
						<kt-dropdown-standard ng-model="resource.Parameters.dataset" ng-if="resourcesLoaded" selected-items="resource.Parameters.dataset" is-multiple="false" name="datasetId" ng-required="true" dropdown-items="resourceList" dropdown-id="'resourceList'+resource.Parameters.dataset.id" parent-form-id="'formResource'+resource.Parameters.dataset.id" search-text="'Select dataset'"></kt-dropdown-standard>
					</div>			
					
				</div>
			</div>
				
			<!-- put here web component in the 2nd phase -->
			<div style="display:grid;grid-gap: 10px 10px;grid-template-rows: auto auto;grid-template-columns:10% auto">
					
				
					   
			</div>     
			              
          </div>
          <div ng-if="selectedTab==2" class="p-1" style="display:grid;grid-gap: 20px 20px;grid-template-columns:100% 100%">
                                     
			
					
			<form ng-submit="saveIntegrationDef(form1.$valid)" name="form1" class="form-horizontal" role="form" novalidate>
				
				<div class="row">
					<div class="col-lg-12">                   
						
				 
				  
									<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Name.$touched) && form.Name.$invalid }">
																		<label class="" for="resourceName">Name</label>
																		<div class="">
																						<input type="text" ng-model="resource.Name" ng-required="true" class="form-control" id="Name" name="Name" placeholder="Resource name" />
																						<p ng-show="(form1.$submitted || form1.Name.$touched) && form1.Name.$invalid" class="help-block">Enter resource name</p>
																		</div>
									</div>
	
											<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Subject.$touched) && form1.Subject.$invalid }">
															<label class="" for="Subject">Subject</label>
															<div class="">
																			<input type="text" ng-model="resource.Subject" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="Resource subject" />
																			<p ng-show="(form1.$submitted || form1.Subject.$touched) && form1.Subject.$invalid" class="help-block">Enter resource subject</p>
															</div>
											</div>                
													<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Description.$touched) && form1.Description.$invalid }">
															<label class="" for="Description">Description</label>
															<div class="">
																			<textarea ng-model="resource.Description" name="Description" ng-required="true" ng-min-length="20" class="form-control"></textarea>
																			<p ng-show="(form1.$submitted || form1.Description.$touched) && form1.Description.$invalid" class="help-block">Enter resource description(min 20 chars).</p>
				
															</div>
											</div>
				  
				   <div>
						<span ng-if="resource.CreatedBy" class="small">Created by {{resource.CreatedBy.first_name}} {{resource.CreatedBy.last_name}}, {{resource.CreatedDateTime | date: "dd.MM.yyyy 'at' HH:mm:ss"}}</span>
					</div>
					<div>
						<span ng-if="resource.ChangedBy" class="small">Last change by {{resource.ChangedBy.first_name}} {{resource.ChangedBy.last_name}}, {{resource.ChangedDateTime | date:"dd.MM.yyyy 'at' HH:mm:ss"}}</span>
					</div>
					
		
				</div>
				<div class="col-lg-12">
					
					
				</div>
               </div>
               <div  class="text-right">
                       
                            <button type="submit" ng-disabled="form1.$invalid" class="btn btn-success">
                                <span class="fa fa-save mr-2"></span>Save integration info</button>
                     
               </div>
			
          </form>  
               
     </div>
     <div ng-if="selectedTab==3" ng-class="" class="p-3">
               <form ng-submit="savePagePermissions(form2.$valid)" name="form2" class="form-horizontal" role="form" novalidate>
				
				<div class="row">
					
					<div class="col-lg-12">
						<div kt-users-groups-select selected-users="resource.AdminUsers" selected-groups="resource.AdminGroups" header-label="'Page administrators (users that can change integration definition)'"
						users-label="'Admin users'" groups-label="'Admin groups'">
						</div>
					</div>
					<div class="col-lg-12 mb-2">
						<div kt-users-groups-select selected-users="integration.Users" selected-groups="integration.Groups" header-label="integration.headerLabel" users-label="integration.usersLabel" groups-label="integration.groupsLabel"> </div>                           
						</div>
					</div>
                    <div  class="py-3 text-right">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form2.$invalid" class="btn btn-success">
                                <span class="fa fa-save mr-2"></span>Save permissions</button>
                     
                    </div>
 
               </form> 
          
          </div>
        
		</div>
	</div>	

     </div>
</div>  
<style>

.no-navbar-menu
{
    border: 1px dashed #ff000040 !important;
    background-color: #ffa07a1f !important;
    color: #ff000040 !important;
}
.insert-button
{
     visibility: hidden;
     max-width: 50%;
}
.delete-button
{
     visibility: hidden;
     max-width: 50%;
	position:absolute;
	top:0px;
	right:0px
}
.page-grid-item
{
     
	min-width: 0;
	position: relative;
	background-color:#ffffff;
	border:1px solid lightgray;
}
.page-grid-item-only
{
     border: 1px dashed gray;
	min-width: 0;
	padding:10px;
	background-color: #fafafa;
	
}
.page-grid-item-only:hover .insert-button
{
     visibility: visible;
}
.page-grid-item:hover .delete-button
{
     visibility: visible;
}
.tab-item
{
 color:#2C60E5;
 /*font-size: 80%;
 font-weight: 400;*/
 padding: 0.25rem !important;
 text-decoration: none;
}
.tab-item:hover,.tab-item:focus
{
  text-decoration: none;
  background-color: #2C60E5;
  color:#ffffff;  
}
.tab-item-selected:hover,.tab-item-selected:focus
{
  text-decoration: none; 
}
.tab-item-selected
{
     color:#2C60E5;
  /*   font-size: 80%;
     font-weight: 400;*/
     padding: 0.25rem !important;
     border-bottom:2px solid #2C60E5;
     text-decoration: none;
}
.page-navigation-bar{
    grid-column: 1 / span 2;
    background-color: #90ee900d;
    border: 1px solid #1db46b80;
    padding: 10px;
    color: #1db46b;
    }
.page-side-menu{
   background-color: #90ee900d;
    border: 1px solid #1db46b80;
    padding: 5px;
    color: #1db46b;
    text-align: center;
    }
</style>