
<form ng-submit="saveResourceForm(forma.$valid)" id="forma1" name="{{formDefinition.formName}}" class="form-horizontal" role="form" novalidate>

<div class="boxshadow sort-box">
   
          <div class="text-center"><h4>{{resourceDefinition.name}}</h4></div>
     		
</div>	
   

<div class="boxshadow sort-box">  
          <div class="row">  
              <div class="col-md-12"> 
              <h4> Available mappings: </h4>
                <div id="mappinggrid" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
              </div>
              
              <div class="col-md-12 padL0"> 
              <h4> Transform packages: </h4>
                <div id="transformgrid" ui-grid="gridOptions2" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
              </div>        
          </div> 
</div>
         
      
 
  
<div class="boxshadow sort-box" style= "padding-left:15px;">
                   
           <div class="row" style="padding-left:10px">
                             
                             <div  class="col-md-6" >
                                <h3  ng-if="items[0].cells.length"> FILE </h3>
                                    <div style="min-height:20px;">
                                    <h4> Import fields from CSV file:  </h4> 
                                       <div > <input type="file" id="myfile" file-reader="fileContent" /> </div>

                                    <!--   <div>
                                            <button type="button" class="btn btn-light" ng-click="processFile()">    <span class='fa fa-database'></span>&nbsp Process file</button> 
                                       </div>    -->
                                     </div>  
                              </div>
                             
                             <div  style=" height: 500px; overflow-y: scroll;" class="col-md-6" >
                                <h3> FILE FIELDS</h3>
                                    <div ng-repeat="item in items" >
                                     <div class=""></div>
                                      <div  class="exampleRow{{$index}}" style="min-height:20px; border:1px dashed ;border-radius: 4px;background-color:rgba(0, 0, 0, 0.1)" > 
                                        <div ng-repeat="cells in item.cells" class="exampleCell element-drag-handle "> <b class="element-drag-handle ">{{cells.name}} </b></div>
                                       </div>
                                  </div> 

                               </div>
                                
                                      
                            <div   style=" height: 500px; overflow-y: scroll;" class="col-md-6" >                                 
                            <h3>  RESOURCE FIELDS</h3>
                                   <div ng-repeat="item in items2" >
                                     <div class="">  <b>{{item.placeholder}}</b> <i>({{item.name}}) </i></div>
                                      <div  class="exampleRows{{$index}}" style="min-height:50px; border:1px dashed ;border-radius: 4px;background-color:rgba(0, 0, 0, 0.1)" >
                                        <div ng-repeat="cells in item.cells" ng-class="cells.type ? 'exampleCell2':'exampleCell'"  class="element-drag-handle ">
                                            <i ng-if="cells.type" class="fa fa-cogs white"></i>
                                            <b class="element-drag-handle ">{{cells.name}} </b>
                                            <span ng-if="cells.type" type="button" class="btn btn-sm btn-link float-right text-danger" tabindex="2" ng-click="item.cells.splice($index, 1);" aria-label="close"><i class="fa fa-times"></i></span>
                                        
                                            <div ng-if="cells.type"> 
                                                
                                                     <!--   Select Dataset     <-->
                                                    
                                                    <ui-select  ng-model="cells.params.dataset"  on-select="onSelectDataset($item)" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                                                      <ui-select-match class="ui-select-match" placeholder="Select dataset..."  >
                                                        <span>{{$select.selected}} 
                                                          <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                                                        </span>
                                                      </ui-select-match>
                                                      <ui-select-choices class="ui-select-choices" repeat="dataset in datasetList" refresh="refreshResults($select)" refresh-delay="0">
                                                         <span>{{dataset.name}} ({{dataset.id}})</span>
                                                      </ui-select-choices>
                                                    </ui-select>
                                                    
                                                    <!--   Select field     <-->
                                                    <ui-select  ng-model="cells.params.field"  on-select="" ng-disabled="disabled" name="selectDataset" ng-required="true" reset-search-input="false" > 
                                                      <ui-select-match class="ui-select-match" placeholder="Select Field..."  >
                                                        <span>{{$select.selected.FieldName}} {{$select.selected.FieldType}} ({{$select.selected.id}})
                                                          <a class="btn btn-sm btn-link " ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                                                        </span>
                                                      </ui-select-match>
                                                      <ui-select-choices class="ui-select-choices" repeat="dataset in fieldResources" refresh="refreshResults($select)" refresh-delay="0">
                                                         <span>{{dataset.FieldName}} {{dataset.FieldType}} ({{dataset.id}})</span>
                                                      </ui-select-choices>
                                                    </ui-select>
                                                  
                                            </div>
                                        
                                        
                                        
                                        </div>
                                       </div>
                                    </div>       
                             </div>   

                          <div  class="col-md-4" >                                 
                            <h3> TRANSFORM</h3>
                                 <div ng-repeat="item in transformItems" >
                                      <div class=""></div>
                                      <div  class="exampleRowz{{$index}}" style="min-height:50px; border:1px dashed ;border-radius: 4px;background-color:rgba(0, 0, 0, 0.1)" >
                                        <div ng-repeat="cells in item.cells" ng-class="cells.type ? 'exampleCell2':'exampleCell'"  class="element-drag-handle "> 
                                            <i ng-if="cells.type" class="fa fa-cogs white"></i>
                                            <b class="element-drag-handle ">{{cells.name}} </b> 

                                        </div>
                                       </div>
                                    </div>       
                             </div>                               
                 </div>                        
			  
           
   </div>
   
 <div class="boxshadow sort-box">
              <div class="row" style="padding-left:10px"> 
                               <button type="button" ng-show="isSelected" class="btn btn-light" ng-click="saveMappings(selectedId)">
                               <span class='fa fa-floppy-o'></span> Update existing </button>    
                               
                                <button type="button" ng-click="showDetails=true" class="btn btn-light">
                                <span class="fa fa-plus-square"></span> Save as New </button>
             </div>
              <div class="row" style="padding-left:10px"  uib-collapse="!showDetails"> 
                                       <div >
                                              <b>  Name </b>
                                              <input  type="text" ng-model="mappingName"  placeholder="Enter mapping name..."class="form-control"/>
                                          </div>
                               
                                <button type="button" ng-click="saveMappings('New')" class="btn btn-light">
                                <span class="fa fa-floppy-o"></span> Save </button>
                                
                                  <button type="button" ng-click="showDetails=false" class="btn btn-light">
                                 Cancel </button>
             </div>
           
          </div>
<!--
                <div class="sort-box">
                  <div kt-grid  grid-type="gridsterType" form-params="resourceDefinition.formParams" all-columns="dashboard2.widgets" class="ktGrid"></div>
                </div>-->
                               
</div>             
</form>



