  
  <div class="card mt-1">
        <div class="row m-0">
         <div class="col-auto my-auto"> Menu edit mode </div>
        
         <div class="col-auto">
                <i class="fa fa-toggle-on activeEditMode" title="(Enabled)" ng-if="menus.editMode" ng-click="changeEditMode();"></i>
                <i class="fa fa-toggle-on fa-rotate-180 inactiveEditMode" title="(Disabled)" ng-if="!menus.editMode" ng-click="changeEditMode();"></i>

         </div>
          <div class="col-auto my-auto" ng-if="menus.editMode">Click on navigation bar link(s) to edit menu items</div>
         <!--<div class="col my-auto text-center text-primary h4">Menu definition </div> -->
       </div>    

  </div>
    <div class="card mt-2" ng-init="initMenu()">
        
           <div ng-if="menus.editMode">
              <div class="border mt-1 rounded" ng-if="loadingMenu" animation-type="'form'" kt-processing-animation-timeline show-msg="true" message="Loading form..."></div>
	
              <div ng-if="!loadingMenu && menu_service.navbarSelected && menu_service.selectedNavbar!=null" kt-navbar-definition-deprecated navbar-item="menu_service.selectedNavbar" local-vars="localVars"></div>
          
              <div ng-if="!loadingMenu &&  menu_service.sideMenuSelected && menu_service.selectedSideMenu!=null" kt-menu-definition-deprecated menu-item="menu_service.selectedSideMenu" local-vars="localVars"></div>
          </div>
       
    </div>  

    