
<form ng-submit="newResource(form.$valid)" id="newForm" name="form" class="form-horizontal" role="form" novalidate>
  
               
    <div class="card my-3" ng-if="!selectedResourceType.Value">
          <div class="border-bottom py-2 mx-2 mb-4 border-bottom">
            <h5 class="text-center my-auto">New resource</h5>
            <input type="hidden" ng-model="id" class="col-6" id="id" name="id">
            <input type="hidden" ng-model="resource.currentUser" class="col-6" id="currentUser" name="currentUser">
          </div>
          <div class="mb-4 text-primary text-center">
              <div class="h5">Please select the type of resource you would like to create!</div>        
          </div>
          
          <div class="w-75 mx-auto mb-4 list-group list-resources-menu">
              
                            <div  class="list-group-item list-group-item-action text-dark medium" 
                             ng-repeat="resourceType in resourceTypeList | filter: { ResourceCode:resource_type_filter}  track by resourceType.id"  >
                                
                                    <div class="col-2 text-center"><i class="{{resourceType.Parameters.Icon}} fa-2x text-primary"></i></div>
                                    <div class="col-auto bold">{{resourceType.ResourceName}}</div>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="resourceTypeSelected(resourceType.ResourceCode)">
                                    Create</button>
                            </div>
                            
          </div>  

    </div>
            
            
      <div class="card w-100 my-2" ng-if="selectedResourceType.Value">
      
            <div class="card-header p-1 mb-2">
                      <a ng-if="!saveSuccess && !selectedResourceType.HideBack" class="mb-2 text-primary" href title="Return resource type" ng-click="selectedResourceType.Value=false">
                      <i class="fa fa-chevron-left mr-1"></i>  return to resource type selection </a> 
            </div>
                 
                  
                  <div  class="w-75 mx-auto mb-4 border rounded list-group list-resources-menu">
                       
                       <!-- DATASET TYPE WIZARD PICK -->
                      <div id="page_subtype_selection" ng-if="resource.ResourceType.ResourceCode == 'dataset'">
                      
                                       <div class="my-4 text-primary text-center">
                                      <div class="h5">Select dataset type</div>        
                                  </div>
                                    <div ng-hide="subTypeSelected && subTypeSelected!='standard'"  class="justify-content-start pl-0 list-group-item list-group-item-action text-dark medium" >
                                   
                                        <div  ng-if="subTypeSelected==undefined" style="width:2%"></div>
                                        <div class="col-1 text-center"><i class="fas fa-database fa-2x text-primary"></i></div>
                                        <div class="col-auto bold mx-2"> Database table</div>
                                        <div class="col text-muted small mx-2 text-center"> Define and create database table</div>
                                        <button ng-hide="subTypeSelected" type="button" class="btn btn-sm btn-primary" ng-click="resourcesubTypeSelected('standard')">Create</button>
                                    </div>
                                    
                                    
                                     <div ng-hide="subTypeSelected && subTypeSelected!='external'"  class="justify-content-start pl-0 list-group-item list-group-item-action text-dark medium" >
                                      <div   ng-if="subTypeSelected==undefined" style="width:2%"></div>
                                        <div class="col-1 text-center ">
                                        <i style="position:absolute" class="fa fa-arrow-circle-left ml-4"></i>
                                        <i  class="fas fa-database fa-2x text-primary"></i>
                                        
                                        </div>
                                        <div class="col-auto bold mx-2">  External table</div>
                                        <div class="col text-muted small mx-2 text-center"> Connect to existing database table</div>
                                        <button ng-hide="subTypeSelected" type="button" class="btn btn-sm btn-primary" ng-click="resourcesubTypeSelected('external')">Create</button>
                                    </div>
                                    
                                    <div ng-hide="subTypeSelected && subTypeSelected!='external'"  class="justify-content-start pl-0 list-group-item list-group-item-action text-dark medium" >
                                      <div   ng-if="subTypeSelected==undefined" style="width:2%"></div>
                                        <div class="col-1 text-center ">
                                        <i style="position:absolute" class="fa fa-eye ml-4"></i>
                                        <i  class="fas fa-database fa-2x text-primary"></i>
                                        
                                        </div>
                                        <div class="col-auto bold mx-2"> Resource view</div>
                                        <div class="col text-muted small mx-2 text-center"> Combine multiple data sources into a single view</div>
                                        <button ng-hide="subTypeSelected" type="button" class="btn btn-sm btn-primary" ng-click="resourcesubTypeSelected('view')">Create</button>
                                    </div>
                                    
                                     <div  ng-if="false" ng-hide="subTypeSelected && subTypeSelected!='api'" class="justify-content-start pl-0 list-group-item list-group-item-action text-dark medium" >
                                      <div   ng-if="subTypeSelected==undefined" style="width:2%"></div>
                                        <div class="col-1 text-center "><i class="fa fa-cloud-download-alt fa-2x text-primary"></i></div>
                                        <div class="col-auto bold mx-2"> API proxy dataset</div>
                                        <button ng-hide="subTypeSelected" type="button" class="btn btn-sm btn-primary" ng-click="resourcesubTypeSelected('api')">Create</button>
                                    </div>
                                    
                                     <div  ng-if="false" ng-hide="subTypeSelected && subTypeSelected!='smartcontract'"  class="justify-content-start pl-0 list-group-item list-group-item-action text-dark medium" >
                                      <div  ng-if="subTypeSelected==undefined" style="width:2%"></div>
                                        <div class="col-1 text-center"><i class="fa fa-code  fa-2x text-primary"></i></div>
                                        <div class="col-auto bold mx-2"> Smartcontract dataset</div>
                                        <button ng-hide="subTypeSelected" type="button" class="btn btn-sm btn-primary" ng-click="resourcesubTypeSelected('smartcontract')">Create</button>
                                    </div>
                              
                          </div>             
           
              
           
       <div class=" w-100 my-2 px-4" ng-if="selectedResourceType.Value && subTypeSelected">
               
               <div class="h4 border-bottom text-center py-1 mb-4">{{resource.ResourceType.ResourceName}} definition
               </div>
                
                <div ng-show="resource.resourceID != null || resource.resourceID > 0" >
                                    <label class="col-lg-24" for="resourceID">{{resource.ResourceType.ResourceName}} ID</label>
                                    <div class="col-lg-8" >
                                                      <input type="text" ng-model="resource.resourceID" id="resourceID" ng-disabled="true" class="form-control">
                                    </div>
                </div>
                
                <div class="form-group"  ng-class="{ 'text-danger' : (form.$submitted || form.Name.$touched) && form.Name.$invalid }">
                    <label class=" col-lg-24" for="resourceName">{{ resource.ResourceType.ResourceName}} name</label>
                    <div class="col-lg-24">
                        <input type="text" ng-model="resource.Name" ng-required="true" ng-disabled="saveSuccess" class="form-control" id="Name" name="Name" placeholder="{{ resource.ResourceType.name}} name" 
                        ng-class="{'border-danger':(form.$submitted || form.Name.$touched) && form.Name.$invalid}" />
                        <p ng-show="(form.$submitted || form.Name.$touched) && form.Name.$invalid" class="small text-danger">Enter {{ resource.ResourceType.ResourceName}} name</p>
                    </div>
                </div>
                 
                
                
                <div class="form-group" ng-class="{ 'text-danger' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
                    <label class=" col-lg-24" for="Subject">{{ resource.ResourceType.ResourceName}} subject</label>
                    <div class="col-lg-24">
                        <input type="text" ng-model="resource.Subject" ng-disabled="saveSuccess" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="{{ resource.ResourceType.name}} subject" 
                        ng-class="{'border-danger':(form.$submitted || form.Subject.$touched) && form.Subject.$invalid}"
                        />
                        <p ng-show="(form.$submitted || form.Subject.$touched) && form.Subject.$invalid" class="small text-danger">Enter {{ resource.ResourceType.ResourceName}} subject</p>
                    </div>
                </div>         
                
                <!--<input type="hidden" ng-init="resource.Subject=''" ng-model="resource.Subject" ng-disabled="saveSuccess" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="{{ resource.ResourceType.name}} subject" />-->
                        
                
                <div class="form-group" ng-class="{ 'text-danger' : (form.$submitted || form.Description.$touched) && form.Description.$invalid }">
                    <label class="col-lg-24" for="Description">{{ resource.ResourceType.ResourceName}} description</label>
                    <div class="col-lg-24">
                        <textarea ng-model="resource.Description" name="Description" ng-required="true" ng-disabled="saveSuccess" ng-min-length="20" ng-class="{'border-danger':(form.$submitted || form.Description.$touched) && form.Description.$invalid}" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.Description.$touched) && form.Description.$invalid" class="small text-danger">Enter {{ resource.ResourceType.ResourceName}} description(min 20 chars).</p>

                    </div>
                </div>
                
                
                <div ng-if="resource.ResourceType.value=='task'" class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid }">
                                <label class="col-lg-24" for="ddlResourceType">#HashTags</label>
                                <div class="col-lg-8">
                                   <ui-select ng-model="resource.Tags" ui-select-multiple-list ng-disabled="disabled" name="resourceType" ng-required="false" reset-search-input="false" >
                                      <ui-select-match class="ui-select-match" placeholder="Search or select resource #hashtags...">
                                          <span  class="p-0">{{$select.selected.name}} <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                                          </span>
                                      </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="rt in (resourceTagsList | filter: { name: $select.search }) track by rt.id" refresh="refreshResults($select)" refresh-delay="0">
                                     <span>{{rt.name}}</span>
                                    </ui-select-choices>
                                  </ui-select>
                                    <p ng-show="(form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid" class="help-block">Select resource hashtags</p>
                                </div>
                  </div>
                
                <div class="col-lg-24" ng-if="resource.ResourceType.value=='dataset' || resource.ResourceType.value=='file'">
                                    <a href  ng-click="setImmutable()" style="text-decoration: none;" >
                                      <i  ng-class="{'fa fa-lock text-success':resource.IsBlockchain, 'fa fa-unlock text-danger':!resource.IsBlockchain}">&nbsp {{resource.ResourceType.name}} is immutable (secured on the blockchain)  &nbsp </i>
                                      <i class="far fa-check-square  text-success" ng-if="resource.IsBlockchain"></i>
                                      <i class="far fa-square text-danger" ng-if="!resource.IsBlockchain"></i>
                                     
                                    </a>
                </div>
                
                <div class="col-lg-24 mt-2 mb-2" ng-if ="!saveSuccess">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-outline-success">
                                <span class='fa fa-save'></span> &nbsp 
                                Save 
                            </button>
                                   
                        
                </div>
        </div>
</form>	
       
     
        <!-- AFTER SAVE - CONFIGURE DETAILS -->
         <div ng-if ="saveSuccess" class="col-lg-24 my-3">
     
                       <!-- <div ng-if="subTypeSelected=='external'">-->
                       <!--  <div class="card m-1" ng-if="resource.ResourceType.Name=='Dataset'">-->
                        
         <div class="card m-1">
                              
                 <div style=" cursor: pointer;" class="p-1 row mx-1 " ng-click="isCollapsedDataSource = !isCollapsedDataSource" >                  
                                  
                  <span class="tag">  DATA SOURCE DEFINITION</span>
                  
                </div>
                
                
                
        <form ng-if="subTypeSelected=='external'" uib-collapse="false"  ng-submit="saveResourceDef(form1.$valid)" id="editDatasetForm" name="form1" class="form-horizontal" role="form" >
 				              
                <div class="col-lg-12 px-1">
																		
                
                            <input type="hidden" class="custom-control-input" id="cbIsexternalDataSource" ng-model="resource.Parameters.externalDataSource" ng-init="resource.Parameters.externalDataSource = subTypeSelected=='external' ? true:false" > 
                                 
                 
                
					<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.extDataSourceLink.$touched) && form1.extDataSourceLink.$invalid }">
							<label class="col-lg-24" for="extDataSourceLink">Link to external data source</label>
							<div class="col-lg-24">
								<input  type="text"  ng-model="resource.Parameters.extDataSourceLink" ng-required="true" class="form-control" id="extDataSourceLink" name="extDataSourceLink" placeholder="External resource" />
								<p ng-show="(form1.$submitted || form1.extDataSourceLink.$touched) && form1.extDataSourceLink.$invalid" class="help-block">External resource link </p>
							</div>
					</div>
  
                 <div class="m-2 custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" id="cbCreateDataSource"  ng-model="resource.Parameters.createDataSource"> 
                                <label class="custom-control-label label-xs" for="cbCreateDataSource">Create data source?</label>        
                 </div>
                
			<div ng-hide="saveSuccess && saveSuccess2" class="">
                     
                            <button type="submit" id="saveDataSourceBtn" ng-disabled="form1.$invalid" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save mr-2"></span>Save data source</button>
                            <!--<button type="button" role="button" ng-click="SetDefinitionType('')"  class="btn btn-sm btn-link text-muted ml-auto">Close</button>-->

               </div>
                
           </div> <!-- EXTERNAL data source-->
    </form>	
	
   
                        <div class="m-3" ng-if="subTypeSelected=='external'  && saveSuccess && saveSuccess2 " id="3">
                            <button type="button" ui-sref="{{resource.ResourceType.Parameters.DefinitionPage}}({id:resource.id, subTypeSelected:subTypeSelected })" class="btn btn-outline-success">
                                 Next <span class='fa fa-arrow-right ml-2'></span>
                            </button>
                        </div>
                        
                        
                        <div ng-if="subTypeSelected!='external'"  class="m-3" id="3">
                            <button type="button" ui-sref="{{resource.ResourceType.Parameters.DefinitionPage}}({id:resource.id, subTypeSelected:subTypeSelected })" class="btn btn-outline-success">
                                 Next <span class='fa fa-arrow-right ml-2'></span>
                            </button>
                 
                        </div>
                             
                </div>
          



     </div>
                        
 
