      <form ng-submit="newResource(form.$valid)" id="newForm" name="form" class="form-horizontal" role="form" ng-controller="newResourceCtrl as nrc" novalidate>

                        <div class="text-center"><h3>New resource</h3></div>
                        <hr>
                        <input type="hidden" ng-model="id" class="col-xs-6" id="id" name="id">
                        <input type="hidden" ng-model="resource.currentUser" class="col-xs-6" id="currentUser" name="currentUser">

               

                        <div class="form-group row" ng-show="resource.resourceID != null || resource.resourceID > 0">
                                <label class="col-sm-2" for="resourceID">Resource ID</label>
                                <div  >
                                    <input type="text" ng-model="resource.resourceID" id="resourceID" ng-disabled="true" class="form-control"></input>

                                </div>
                
                        </div>
                
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceName.$touched) && form.resourceName.$invalid }">
                    <label class=" col-sm-2" for="resourceName">Resource name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="resource.resourceName" ng-required="true" class="form-control" id="resourceName" name="resourceName" placeholder="Resource name" />
                        <p ng-show="(form.$submitted || form.resourceName.$touched) && form.resourceName.$invalid" class="help-block">Enter resource name</p>
                    </div>
                </div>
                              
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceDescription.$touched) && form.resourceDescription.$invalid }">
                    <label class="col-sm-2" for="resourceDescription">Resource description</label>
                    <div class="col-sm-6">
                        <textarea ng-model="resource.resourceDescription" name="resourceDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.resourceDescription.$touched) && form.resourceDescription.$invalid" class="help-block">Enter resource description(min 20 chars).</p>

                    </div>
                </div>
                
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid }">
                    <label class="col-sm-2" for="ddlResourceType">Resource type</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="resource.resourceType" ng-disabled="disabled" name="resourceType" ng-required="true" reset-search-input="false" >
                          <ui-select-match placeholder="Search or select resource type...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices repeat="rt in (resourceTypeList | filter: { name: $select.search }) track by rt.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{rt.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid" class="help-block">Select resource type</p>
                    </div>
                </div>
                
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid }">
                    <label class="col-sm-2" for="ddlResourceStatus">Resource status</label>
                    <div class="col-sm-6">
                       
                        <ui-select ng-model="resource.resourceStatus" ng-disabled="disabled" name="resourceStatus" ng-required="true" reset-search-input="false">
                            <ui-select-match placeholder="Search or select resource status...">
                              <span>{{$select.selected.name}}</span>
                               <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="rs in (resourceStatusList | filter: { name: $select.search }) track by rs.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{rs.name}}</span>
                            </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid" class="help-block">Select resource status</p>
                    </div>
                </div>
             
                 <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceTest.$touched) && form.resourceTest.$invalid }">
                 
                    <label class="col-sm-2" for="">Resource test</label>
                    <div class="col-sm-6">
                       <ui-select ui-select-multiple-listui-select-multiple-list multiple-list ng-model="resource.resourceTest" ng-disabled="disabled" name="resourceTest" ng-required="true" reset-search-input="false">
                            <ui-select-match placeholder="Search or select resource test...">
                              <span>{{$select.selected.name}}</span>
                               <a class="btn btn-sm btn-link float-right" ng-click="$select.clear($event, $select)"><i class="fa fa-times"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="rs in (resourceStatusList | filter: { name: $select.search }) track by rs.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{rs.name}}</span>
                            </ui-select-choices>
                           
                      </ui-select>
                      <p ng-show="(form.$submitted || form.resourceTest.$touched) && form.resourceTest.$invalid" class="help-block">Select resource test</p>
                  </div>
                </div>
                
                    <div  class="control-group">
                       
                            <button type="button" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light" ng-click="newResourceTest(resource)">
                                <span class='fa fa-save'></span>Save new resource definition</button>
                                       
                            <br><br>   
                  </div>
                      
  </form>

