<div id="notificationDefinitionComponent" class="m-3">
      <div class="mt-1">
      
      	   <div class="card p-1 my-2"  style="">
                
                <div  class="text-center p-1 fnt12">Notification</div>
            
                    <a style="position:absolute" class="text-primary p-2" href="" title="{{returnState.Label}}" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-1"></i>
                        Return to resource list
                    </a>
                               
         	</div>
            
            <div class="card row m-0">
                  <div kt-resource-definition resource="resource"></div>
            </div>
            
            <div class="card mt-2">
                  <div class="row m-0 p-2 border-bottom">     
                                    <button type="button" title="Define message" role="button" class="btn btn-primary btn-sm" ng-click="GotoMessageDef()">
                                           Define notification message                                                                                              
                                    </button>         
                  </div> 

                  <div class="row m-0 p-2">
                        <div class="col-lg-12 border-right">
                              
                              
                              <span class="bold small border-bottom border-primary text-primary">Define notification recepients</span>
                              
                               <div class="mt-3">
                                    <label class="label-xs" for="cbTaskCreator">
                                          <input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbTaskCreator" id="cbTaskCreator" ng-model="resource.Parameters.TaskCreator"> 
                                          Task creator
                                    </label>
                              </div>
                              <div>
                                    <label class="label-xs" for="cbTaskOwner">
                                          <input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbTaskOwner" id="cbTaskOwner" ng-model="resource.Parameters.TaskOwner"> 
                                          Task owner
                                    </label>
                              </div>
                              <div>
                                    <label class="label-xs" for="cbUserGroups">
                                          <input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbUserGroups" id="cbUserGroups" ng-model="resource.Parameters.UserGroupsManual"> 
                                          User and groups - manual selection
                                    </label>
                              </div>
                              <div class="mt-2" ng-if="resource.Parameters.UserGroupsManual">
                                    <label class="text-muted" for="user1">Select users</label>
                                    <div  kt-select-users-with-scope select-id="1" size="'small'" selected-items="resource.Parameters.Users"></div>
                                    <label class="text-muted" for="group1">Select groups</label>
                                    <div kt-select-groups-with-scope select-id="1" size="'small'" selected-items="resource.Parameters.UserGroupsManual.Groups"></div>
                              </div>
                              <div>
                                    <label class="label-xs" for="cbUserGroups">
                                          <input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbUserGroupsDatasets" id="cbUserGroupsDatasets" ng-model="resource.Parameters.UserGroupsTags"> 
                                          User and groups from datasets
                                    </label>
                              </div>
                              <div class="mt-2" ng-if="resource.Parameters.UserGroupsTags" ng-form="datasetTagForm">
                                    <label class="text-muted" for="user2">Select user tag</label>
                                  
                                    <kt-dropdown-multiple ng-if="tagListUsers.length>0" ng-model="resource.Parameters.UserTags" selected-items="resource.Parameters.UserTags" name="userTags" required="false" dropdown-items="tagListUsers" dropdown-id="'userTags'" parent-form-id="'userTag'" search-text="'Select user'"></kt-dropdown-multiple>
	
                                    <label class="text-muted" for="group2">Select group tag</label>
                                     <kt-dropdown-multiple ng-if="tagListGroups.length>0" ng-model="resource.Parameters.GroupTags" selected-items="resource.Parameters.GroupTags" name="groupTags" required="false" dropdown-items="tagListGroups" dropdown-id="'groupTags'" parent-form-id="'groupTag'" search-text="'Select group'"></kt-dropdown-multiple>

	
                              </div>
                        </div>
                        <div class="col-lg-12">
                              
                              <span class="bold small border-bottom border-primary text-primary">E-mail</span>
                              
                              <div class="mt-3 mb-2">
                                    <label class="label-xs" for="cbSendEmail">
                                          <input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbSendEmail" id="cbSendEmail" ng-model="resource.Parameters.SendEmail"> 
                                          Send e-mail
                                    </label>
                              </div>
                               <div ng-if="resource.Parameters.SendEmail" ng-form="emailTagForm">
                                    
                                    <label class="text-muted" for="user2">Select tags of the e-mail field</label>
                                   
                                   <kt-dropdown-multiple ng-if="tagList.length>0" ng-model="resource.Parameters.EmailTags" selected-items="resource.Parameters.EmailTags" name="emailTags" required="false" dropdown-items="tagList" dropdown-id="'emailTag'" parent-form-id="'emailTagForm'" search-text="'Select e-mail tag...'"></kt-dropdown-multiple>


                                    <label class="text-muted" for="user2">Select subject</label>
                                    <kt-dropdown-standard ng-model="resource.Parameters.EmailSubjectField" ng-if="tagList1" selected-items="resource.Parameters.EmailSubjectField" is-multiple="false" name="subjectTag" ng-required="false" dropdown-items="tagList1" dropdown-id="'subjectTag'" parent-form-id="'emailTagForm'" search-text="'Select subject tag'"></kt-dropdown-standard>
                                    
                                    <label class="text-muted" for="user2">Select message</label>
                                    <kt-dropdown-standard ng-model="resource.Parameters.EmailMessageField" ng-if="tagList2" selected-items="resource.Parameters.EmailMessageField" is-multiple="false" name="messageTag" ng-required="false" dropdown-items="tagList2" dropdown-id="'messageTag'" parent-form-id="'emailTagForm'" search-text="'Select message tag'"></kt-dropdown-standard>
	
                                                                  
                                   
                                    
                              </div>
                        </div>
                  </div>
                  <div class="px-2 mt-1 border-top">
                        <button type="button" ng-click="saveResourceParameters()" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save mr-2"></span>Save notification</button>

                           
                  </div>
            </div>
      </div>
</div>  