<form ng-submit="savePageForm(forma.$valid)" id="forma1" name="forma" class="form-horizontal" role="form" novalidate>

    <div class="col-md-12">
                       <button type="button"  ui-sref="app.menu.resources.pages-definition({id: resourceId})" class="btn btn-light" >
                                <span class='fa fa-edit'></span> Edit page definition</button>
      <button title="Lock/Unlock form"   type="button" class="btn btn-light float-right" ng-click="resourceDefinition.formLocked=!resourceDefinition.formLocked">
                <i ng-class="{'fa fa-lock fa-lg': resourceDefinition.formLocked ,'fa fa-unlock-alt fa-lg': !resourceDefinition.formLocked,'color:black': resourceDefinition.formLocked}"></i>
      </button>
    </div>

  <div class="row" >
    <div class="col-md-12">
      <div class="text-center"><h4>{{resourceDefinition.name}}</h4>
      
         
      </div>
    </div>			
	</div>	
  <br>
    <div class="sort-box">
    
      <div kt-grid  grid-type="gridsterType" form-params="resourceDefinition.formParams" parent="dashboard.widgets" all-columns="dashboard.widgets" class="ktGrid"></div>
      
    </div>
 
					
					<hr>
               <div  class="control-group">
                            <button type="submit" id="clearBtn" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save {{resourceDefinition.name}} form</button>
                               
                            <br><br>   
                 </div>
</form>
<div class="row">
  <hr>				
	<!--<div class="col-md-11"> {{dashboard.widgets }}</div>-->
</div>