<div >
      <div class="card mt-1"><h4 class="text-center my-auto">Pages</h4></div>
      <div class="card mt-1" id="contentGrid">
            <div class="col p-1">
                       
                            <button type="button"  ui-sref="app.navbar.resources.pages-definition({id: selectedPage,prev_state:previousState})" class="btn btn-primary" ng-disabled="!pageSelected" ng-click="editTask()">
                                <span class='fa fa-edit'></span> Edit page definition</button>
                              <button ng-if="false" type="button" ui-sref="app.menu.resources.pages-form({id: selectedPage})" class="btn btn-primary" ng-disabled="!pageSelected">
                              <span class='fa fa-newspaper-o'></span> Page - form definition</button>
                              
            </div>
    
            <div  class="card mt-1" >
              <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
            </div>
      </div> 

</div>