
<div id="pagesDefinition" class="row m-0 mt-2 ">   
 
<div ng-if="resource.ResourceExtended.rlinks[0].id && localVars.pageMenuList.length  && !localVars.loadedSelectedPage && loadSelectedPage()">
<!-- important for loading selected page fromserver -->
</div>

     
     <div id="pageToolbox" class="col-lg-4 p-0 pr-1" ng-class="{'max-height-1-rem':gsrvc.getFormViewType()!=1}">	 
									<div kt-widget-toolbox class=" sticky menu-sticky-pos" ng-style="gsrvc.getTopForSticky(5)"></div>				 
	</div>
             

             
     <div class="col-20 card p-2 mt-1">
         <div class="h4 p-1 border-bottom text-center">Definition for '{{resource.Name}}' page</div>
         
		<div class="p-0 my-2"  style="position: absolute;">
                    <a class="mb-2 text-primary" href="" title="Return to resource list" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to resources</a>
          </div>
		
		<div class="p-0 mt-2">
			<div class="pb-2">    
                   <span class="pb-1 border-bottom">
                         <a href title="Show params" class="mr-2" ng-class="{'tab-item-selected':selectedTab==1,'tab-item':selectedTab!=1}" ng-click="selectedTab=1">
                              Page layout                                                                                             
                         </a>
                    
                         <a  href title="Edit page details" class="mr-2" ng-class="{'tab-item-selected':selectedTab==2,'tab-item':selectedTab!=2}" ng-click="selectedTab=2">
                             Page info                                                                                             
                        </a>
                         <a href title="Show params"  class="" ng-class="{'tab-item-selected':selectedTab==3,'tab-item':selectedTab!=3}" ng-click="selectedTab=3">
                              Security & permissions                                                                                             
                         </a>
                         
                    </span>
          </div>
          
       <div ng-if="selectedTab==2" class="p-1" style="display:grid;grid-gap: 20px 20px;grid-template-columns:100% 100%">
				
			<form ng-submit="savePageDef(form1.$valid,'info')" name="form1" class="form-horizontal" id="pageform" role="form" novalidate>
				
				<div class="row">
					<div class="col-lg-12">                   
						
									<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Name.$touched) && form.Name.$invalid }">
														<label class="" for="resourceName">Name</label>
														<div class="">
																		<input type="text" ng-model="resource.Name" ng-required="true" class="form-control" id="Name" name="Name" placeholder="Resource name" />
																		<p ng-show="(form1.$submitted || form1.Name.$touched) && form1.Name.$invalid" class="help-block">Enter resource name</p>
														</div>
									</div>
	
											<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Subject.$touched) && form1.Subject.$invalid }">
														<label class="" for="Subject">Subject</label>
														<div class="">
																		<input type="text" ng-model="resource.Subject" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="Resource subject" />
																		<p ng-show="(form1.$submitted || form1.Subject.$touched) && form1.Subject.$invalid" class="help-block">Enter resource subject</p>
														</div>
											</div>                
											<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.Description.$touched) && form1.Description.$invalid }">
														<label class="" for="Description">Description</label>
														<div class="">
																		<textarea ng-model="resource.Description" name="Description" ng-required="true" ng-min-length="20" class="form-control"></textarea>
																		<p ng-show="(form1.$submitted || form1.Description.$touched) && form1.Description.$invalid" class="help-block">Enter resource description(min 20 chars).</p>
				
														</div>
											</div>
				  
				   <div>
						<span ng-if="resource.CreatedBy" class="small">Created by {{resource.CreatedBy.first_name}} {{resource.CreatedBy.last_name}}, {{resource.CreatedDateTime | date: "dd.MM.yyyy 'at' HH:mm:ss"}}</span>
					</div>
					<div>
						<span ng-if="resource.ChangedBy" class="small">Last change by {{resource.ChangedBy.first_name}} {{resource.ChangedBy.last_name}}, {{resource.ChangedDateTime | date:"dd.MM.yyyy 'at' HH:mm:ss"}}</span>
					</div>
					
		
				</div>
                
				<div class="col-lg-12" >
					
				 <div ng-if="user_is_admin">
					<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.pageType.$touched) && form.pageType.$invalid }">
						   <label  for="pageType">Page type</label>
						   <div >
							 <ui-select ng-model="resource.ResourceExtended.PageType" ng-disabled="disabled" on-select="PageTypeChanged($item,$model)" name="pageType" ng-required="true" reset-search-input="false" >
							    <ui-select-match class="ui-select-match" placeholder="Search or select page type...">
								 <span>{{$select.selected.name}}
								   <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
								 </span>
							    </ui-select-match>
							  <ui-select-choices class="ui-select-choices" repeat="pt in (pageTypeList | filter: { name: $select.search }) track by pt.id" refresh="refreshResults($select)" refresh-delay="0">
							   <span>{{pt.name}}</span>
							  </ui-select-choices>
							</ui-select>
							  <p ng-show="(form.$submitted || form.pageType.$touched) && form.pageType.$invalid" class="help-block">Select page type</p>
						   </div>
					</div>
			
					<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.target.$touched) && form.target.$invalid }">
					   <label  for="target">Target</label>
					   <div>
						  <input type="text" ng-model="resource.ResourceExtended.Target" ng-required="true" ng-disabled="resource.disabledTarget" class="form-control" name="target" placeholder="Target" />
						  <p ng-show="(form.$submitted || form.target.$touched) && form.target.$invalid" class="help-block">Enter page target</p>
					   </div>
					</div>
					
					
            
		
                </div>
                
                                    
              <div ng-if="!user_is_admin">
					
					<div >
                   
				     <label  for="pageType">Page type</label>
                           
                      <div class="form-control">
						{{resource.ResourceExtended.PageType.name}} 
					   </div>
					</div>
			
					<div class="" >
					   <label  for="target">Target</label>
					   <div class="form-control">
						  {{resource.ResourceExtended.Target}} 
					   </div>
					</div>
					
				</div>

				<div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.LoadPageText.$touched) && form1.LoadPageText.$invalid }">
						<label class="" for="LoadPageText">Loading page text</label>
						<div class="">
										<input type="text" ng-model="resource.ParametersLang.LoadPageText" ng-required="false" class="form-control" id="LoadPageText" name="LoadPageText" placeholder="Loading page text" />
										<p ng-show="(form1.$submitted || form1.LoadPageText.$touched) && form1.LoadPageText.$invalid" class="help-block">Enter loading page text</p>
						</div>
				</div>    
					
			</div>
                

  
        </div>
               
       <div  class="text-right">
                    <button type="submit" ng-disabled="form1.$invalid" class="btn btn-success">
                        <span class="fa fa-save mr-2"></span>Save page info</button>
       </div>
			
      </form>  
               
     </div>
     <div ng-if="selectedTab==3" ng-class="" class="p-3">
               <form ng-submit="savePageDef(true,'permissions')" name="form2" class="form-horizontal" role="form" novalidate>
				
				<div class="row">
					
					<div class="col-lg-24">

						<div kt-users-groups-select selected-users="resource.AdminUsers" selected-groups="resource.AdminGroups" header-label="'Page administrators'"
                            users-label="'Admin users'" groups-label="'Admin groups'">
						</div>
					</div>
					<div class="col-lg-12 mb-2" ng-if="false">
						<div kt-users-groups-select selected-users="resource.Users" selected-groups="resource.Groups" header-label="resource.headerLabel" users-label="resource.usersLabel" groups-label="resource.groupsLabel"> </div>                           
						</div>
					</div>
                    <div  class="py-3 text-right">
                       
                            <button type="submit" id="clearBtn" class="btn btn-success">
                                <span class="fa fa-save mr-2"></span>Save permissions</button>
                     
                    </div>
 
               </form> 
          
     </div>
     <div style="display:grid;grid-gap: 20px 20px;grid-template-columns:auto">
          <div ng-if="selectedTab==1" class="pt-3 pl-0">
			

				<!-- put here web component in the 2nd phase -->
			    <div style="display:grid;grid-gap: 10px 10px;grid-template-rows: auto auto;grid-template-columns: auto">
      
                   <div class="text-center my-2" ng-class="{'card':resource.Parameters.ShowCard}">
							<div class="p-1">
                             <label class="switch switch-green mx-2">
                                          <input ng-model="resource.Parameters.ShowCard"  type="checkbox" ng-change="savePageDef(true,'layout')" class="switch-input">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                      </label>
                                      
                                <span class=" text-center pt-1" ng-show="resource.Parameters.ShowCard">Page is styled as card</span>    
                                <span class="" ng-hide="resource.Parameters.ShowCard"> No style (enable to style page as card) </span>

                            </div>
                            
 
                            
					</div>

                   <div class="p-0 ">
                   
						<div class="page-navigation-bar text-center" ng-class="{'no-navbar-menu':!resource.Parameters.navbar}">
							<div class="p-1">
                             <label class="switch switch-green mx-2">
                                          <input ng-model="resource.Parameters.navbar"  type="checkbox" ng-change="savePageDef(true,'layout')" class="switch-input">
                                          <span class="switch-label" data-on="On" data-off="Off"></span>
                                          <span class="switch-handle"></span>
                                      </label>
                                      
                                <span class=" text-center pt-1" ng-show="resource.Parameters.navbar">Application menu is visible</span>    
                                <span class="" ng-hide="resource.Parameters.navbar"> Application menu is hidden</span>

                            </div>
                            
 
                            
						</div>
                        
                        <!--ng-true-value="false" ng-false-value="true"-->
                        
                          <div class="my-2">
                                     
                          </div>
                    
                    

                    <div id="pageLayout" class="row m-0 build-mode">
                    
	                    <div class="page-side-menu col-4 align-items-center" ng-class="{'no-navbar-menu':!resource.Parameters.sideMenu}">
                        <div class="m-2 text-center" > Page menu</div> 
                            
                           <div ng-form="innerForm445">  
                                <kt-dropdown-standard size="'small'" ng-model="localVars.selectedPageMenu"  ng-if="localVars.pageMenuList"
                                    selected-items="localVars.selectedPageMenu" 
                                    is-multiple="false" 
                                    required-field="true" 
                                    dropdown-items="localVars.pageMenuList"
                                    dropdown-id="'selectpage999'"
                                    parent-form-id="'innerForm445'"
                                    search-text="'Select page menu'">
                                 </kt-dropdown-standard>
                            </div>
                            
                                <div class="m-3">
						   
									   <button type="button" ng-click="savePageMenu()" class="btn btn-success">
										  <span class="fa fa-save mr-2"></span>
                                                       Save menu
                                        </button>
								 
						 
                    			</div>
                                
							
						</div>
                    	<div class="col" >
                    		<div class="row py-2 justify-content-between" ng-if="false">
                    			<div></div>
                                <div class="my-2 text-primary h5 text-center">  Page form  </div>
                                     
		                     	<div class=" px-0 text-right"> 
								   
									   <button type="button" ng-click="savePageForm()" class="btn btn-success">
										  <span class="fa fa-save mr-2"></span><span ng-if="!savingForm">
                                                        Save page form
                                          </span><span ng-if="savingForm">Saving form</span>
                                       </button>
								 
		                		</div>
		                   	</div>
		                   	<div class="row border-top pt-2">
		                    	

		                    	<div ng-class="{'col-lg-20 pr-0':gsrvc.getFieldPropertiesOpened(),'col':!gsrvc.getFieldPropertiesOpened()}">
		                 
                				<!--
		                   	 	<div kt-grid grid-type="gridsterType" resource-form-loaded="pageDownloaded" form-params="resourceDefinition.formParams" form-data="" parent="dashboard.widgets" all-columns="dashboard.widgets" resource-definition="resourceDefinition" class="ktGrid"></div>
		                   	 
								-->
		                   	 		<div ng-if="pageDownloaded" kt-page-form></div>
                                </div>
		                   	 	<div id="Properties_menu" class="sticky" ng-class="{'col-lg-4 p-0':gsrvc.getFieldPropertiesOpened()}" style="overflow-y: auto;top:50px;max-height: calc(100vh - 4rem)">
									<div class="p-1">
										<div class="card m-0" ng-if="gsrvc.getFieldPropertiesOpened()">
												<div class="card-header bg-light p-0">
														<span class="ml-1 label-xs bold">Properties</span>
													<!--	<button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" ng-click="showHideProperties(false)">
																										<small><span class="fa fa-times"></span></small>
														</button>-->
                                                       <!-- <button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" 
                                                            ng-click="fd.localVars.showProperties(2,true)">-->
                                                            <button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" 
                                                            ng-click="showHideProperties(false)">
																										<small><span class="fa fa-times"></span></small>
														</button>
												</div>
										</div>
										<div class="mt-2 p-1" ng-if="gsrvc.getFieldPropertiesOpened()" kt-form-element-properties local-vars="localVars" fd="selectedField"></div>
									</div>  
								</div>
							</div>
						</div>
								
					</div>
				</div> 

            </div>
                    
        </div>
                    
                    
     </div>
					   
</div>     
			              
</div>
        
        
</div>

<style>

.no-navbar-menu
{
    border: 1px dashed lightgrey !important;
    background-color: #fafafa !important;
    color: #d1d1d1 !important;
}
.insert-button
{
     visibility: hidden;
     max-width: 50%;
}
.delete-button
{
     visibility: hidden;
     max-width: 50%;
	position:absolute;
	top:0px;
	right:0px
}
.page-grid-item
{
     
	min-width: 0;
	position: relative;
	background-color: #fafafa;
	border:1px solid lightgray;
}


/*
.page-grid-item-only:first-of-type {
  border:dashed;
}

.page-grid-item-only:nth-last-of-type(0) {
    border: 2px solid orange;
}
*/

.page-grid-item-only
{
     border: 1px dashed gray;
	min-width: 0;
	padding:10px;
	background-color: #fafafa;
	
}
.page-grid-item-only:hover .insert-button
{
     visibility: visible;
}
.page-grid-item:hover .delete-button
{
     visibility: visible;
}
.tab-item
{
 color:#2C60E5;
 /*font-size: 80%;
 font-weight: 400;*/
 padding: 0.25rem !important;
 text-decoration: none;
}
.tab-item:hover,.tab-item:focus
{
  text-decoration: none;
  background-color: #2C60E5;
  color:#ffffff;  
}
.tab-item-selected:hover,.tab-item-selected:focus
{
  text-decoration: none; 
}
.tab-item-selected
{
     color:#2C60E5;
  /*   font-size: 80%;
     font-weight: 400;*/
     padding: 0.25rem !important;
     border-bottom:2px solid #2C60E5;
     text-decoration: none;
}
.page-navigation-bar{
    grid-column: 1 / span 2;
    background-color: #90ee900d;
    border: 1px solid #1db46b80;
    padding: 10px;
    color: #1db46b;
    }
.page-side-menu{
   background-color: #90ee900d;
    border: 1px solid #1db46b80;
    padding: 5px;
    color: #1db46b;
    text-align: center;
    }
</style>