<div >
    
     <div class="card mt-1">
       <div class="row m-0">
		<button type="button" class="btn btn-link" ui-sref="app.menu.resources.form({id: resourceId})">
                                <span class='fa fa-arrow-circle-left'></span> Back to dataset form</button>
          </div>
      <div class="row m-0">  
          <div class="text-center col-24"><h4>{{resourceName}}</h4></div>

               <div  class="my-1 control-group">
                       
                            
                            <button type="button" class="btn btn-light" ui-sref="app.menu.resources.data-record({resource_id: resourceId,id: selectedRecordId})" ng-disabled="!resourceRecordSelected" ng-click="editResourceData()">
                               <span class='fa fa-newspaper'></span> Edit selected record</button>
                            <button type="button" class="btn btn-light" ui-sref="app.menu.resources.data-record({resource_id: resourceId})" ng-disabled="" ng-click="addResourceData()">
                                <span class='fa fa-newspaper'></span> Add new record</button>
                              <button type="button" class="btn btn-light" ui-sref="app.menu.resources.import({resource_id: resourceId})" ng-disabled="" ng-click="importResourceData()">
                                <span class='fa fa-newspaper'></span> Import records from file</button>
                     
               </div>
          </div>
         
     </div>
     <div class="card mt-1">
          <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ui-grid-exporter class="myGrid"></div>  
          <div class="row m-0 my-1">  
                     <div class="col-auto">
                       <ul style="margin:0" uib-pagination boundary-links="true" max-size="10" items-per-page="pageSize" force-ellipses="true" total-items="totalCount" ng-model="currentPage" class="pagination-md" previous-text="&lsaquo;" ng-change="pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                      </div>
                       <div class="col text-right">
                      
                           <select class="input-sm" ng-change="pageChanged()" ng-model="pageSize" >
                               <option ng-repeat="ps in gridOptions.paginationPageSizes track by ps"  ng-selected="pageSize==ps" ng-value="ps">{{ps}}</option>
                     
                           </select>  items per page &nbsp&nbsp | &nbsp&nbsp  Page: {{currentPage}} / {{numPages}} &nbsp&nbsp | &nbsp&nbsp {{pageSize*currentPage+1-pageSize}} - {{pageSize*currentPage>totalCount ? totalCount : pageSize*currentPage}} of {{totalCount}} items
                    
                       </div>
                  
                
                
                    
               
            
        
              
          </div>
    </div>
      
    <div class="card mt-1">
         <div id="grid2" ui-grid="gridOptionsRelated" ui-grid-selection ui-grid-resize-columns ui-grid-exporter class="myGrid"></div>  
    </div>
     

</div>