<div id="contentHolder" ng-controller="resourceUnifiedCtrl" class="row">
        <div class="col-lg-4 padding-0">
                <div ui-view="menu">        
                </div>            
        </div>
        
        <div id="content" class="col-lg-20 ">
         
           <div ui-view="contentR">    
           </div>
        </div>

</div>


   
