<div id="resourceForm">
	<div v-if="resourceLoaded" class="card row m-0 mt-2 p-1">
	   <kt-resource-definition :resource-obj="resource"></kt-resource-definition>
	</div>
	
	<!--:style="(resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4) && getTopForSticky"-->
	
	<div class="card row m-0 mt-2 p-2"  
        :class="{'form-btns-top position-sticky':resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}" >
   
		<form @submit.prevent="saveResourceForm()" id="forma1" name="saveResourceForm" class="form-horizontal" :class="{'edit-mode':resourceDefinition.formParams.formViewType==1}" role="form" novalidate>
			

		     <div class="card-header-actions d-flex p-2 px-4">
						<span v-if="resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4"  class="badge badge-info rounded mr-2 text-white">
                                Editing
                        </span>
						<span class="tag text-dark">
                              Form definition
                        </span>
			</div>

            <div class="row">
              <div class="col">
                  <ul class="nav nav-tabs simple-tabs border-0 mx-4" id="myTab" role="tablist">
                    
                    <li class="nav-item">
                      <a class="nav-link" :class= "{'active':resourceDefinition.formParams.formViewType==2}" href id="preview-tab" data-toggle="tab" @click="ShowFormView(2,true)" role="tab" aria-controls="preview" aria-selected="true">
                        Preview
                        <span class="badge badge-light ml-2 text-primary">Ctrl+P</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" :class= "{'active':resourceDefinition.formParams.formViewType==1}" id="build-tab" href data-toggle="tab" @click="ShowFormView(1,false)" role="tab" aria-controls="build" aria-selected="false">
                        Build
                        <span class="badge badge-light ml-2 text-primary">Ctrl+B</span>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" :class= "{'active':resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}" id="layout-tab" href data-toggle="tab" @click="ShowFormView(4)" role="tab" aria-controls="layout" aria-selected="false"><i class="fa fa-th-large mr-1" ></i>
                        Arrange layout</a>
                    </li>
              </ul>

              </div>
                <div class="col-auto">
               <!--   <button type="submit" class="btn btn-sm btn-light">Cancel</button>-->
						<button type="button" class="btn btn-sm border-0 btn-outline-primary" v-if="currentStateIndex.undo || currentStateIndex.redo" v-style="{'visibility':currentStateIndex.undo ? 'visible':'hidden'}" @click="undoRedoChanges('undo')">
							<i class="fas fa-undo"></i>
						</button>
                  <button type="button" class="btn btn-sm border-0 btn-outline-warning mx-2" v-if="currentStateIndex.undo || currentStateIndex.redo" v-style="{'visibility':currentStateIndex.redo ? 'visible':'hidden'}" @click="undoRedoChanges('redo')">
                      <i class='fas fa-redo'></i></button>
						<span v-if="resourceDefinition.formVersion" class="small mr-2"><b class="mr-2">Version:</b>{{resourceDefinition.formVersion}}</span>
                  <button type="submit" class="btn btn-sm btn-primary">Save definition</button>
                  <button type="button" class="btn btn-sm btn-warning ml-3" @click="showDatasetDeploy(true)">
                      <span class='fa fa-database'></span> Deploy&nbspchanges</button> 
                </div>

            </div>

 
 
			</form>
	</div> 


	<div v-if="deployToDb" class="card m-0 mt-2" >
		<div class="bg-light bold p-1">Deploy dataset changes to database</div>
		
		<div class="p-1">
			
			<div class="">
				
					<div v-for="(element, index) in datasetDeploy" v-bind:key="element.id">
					
						<div v-if="index==0" class="row m-0 small bold text-center">
							
							<div class="col-1 m-1 bg-primary">
								<span class="text-white">ID</span>
							</div>
							<div class="col-3 m-1 bg-primary">
								<span class="text-white">Field name</span>
							</div>	
								<div class="col-3 m-1 bg-primary">
								<span class="text-white">Field type</span>
							</div>
								<div class="col-2 m-1 bg-primary">
								<span class="text-white">Field name</span>
							</div>
							<div class="col-1 m-1 bg-primary">
								<span class="text-white">Max len</span>
							</div>
							<div class="col-2 m-1 bg-primary">
								<span class="text-white">Required</span>
							</div>
							
							<div class="col-2 m-1 bg-primary">
								<span class="text-white">Deployed</span>
							</div>
							<div class="col-2 m-1 bg-primary">
								<span class="text-white">Status</span>
							</div>
						
							<div class="col-2 m-1 bg-primary">
								<span class="text-white">Action</span>
							</div>
							<div class="col-2 m-1 bg-primary">
								<span class="text-white">Version</span>
							</div>
							<div class="col-2 m-1 bg-primary">
								<span class="text-white">Deployed version</span>
							</div>
						</div>
						
						<div class="row m-0 item small">
							<div class="col-1 m-1 bg-primary-light">
								<span>{{element.id}}</span>
							</div>
							<div class="col-3 m-1">
								<span>{{element.label}}</span>
							</div>
							<div class="col-3 m-1">
								<span>{{element.dbtype}}</span>
							</div>
							<div class="col-2 m-1">
								<span>{{element.field}}</span>
							</div>
							<div class="col-1 m-1">
								<span>{{element.maxLength}}</span>
							</div>
							<div class="col-2 m-1 text-center">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" disabled="disabled" class="custom-control-input" :id="'cbRequired'+element.id" v-model="element.required">
									<label class="custom-control-label label-xs" :for="'cbRequired'+element.id"></label>
								</div>
							</div>
							
							<div class="col-2 m-1 text-center">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" :disabled="disabled" class="custom-control-input" :id="'cbDeployed'+element.id" v-model="element.deployed">
									<label class="custom-control-label label-xs" :for="'cbDeployed'+element.id"></label>
								</div>
							</div>
							<div class="col-2 m-1">
								<span>{{element.status}}</span>
							</div>
							<div class="col-2 m-1" :class="{'bg-danger-light bold':element.deployAction!='N'}">
								<span>{{getDeployAction(element.deployAction)}}</span>
							</div>
							<div class="col-2 m-1">
								<span>{{element.version}}</span>
							</div>
							<div class="col-2 m-1">
								<span>{{element.deployedVersion}}</span>
							</div>
						</div>
					
					</div>
			
			</div>
			<div class="my-2">
			 <button type="button" class="btn btn-sm btn-success" @click="syncdb()">
								 <span class='fa fa-database'></span> Deploy dataset</button> 
			 <button type="button" class="btn btn-sm btn-link ml-3" @click="showDatasetDeploy(false)">Cancel</button>
			</div>
		</div>
	</div>

		<div class="row m-0 mt-2">
						
						<div class="card p-0 w-100" :class="{'col-lg-20':resourceDefinition.formParams.formViewType==1,'build-mode':resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4,'col-lg-24':resourceDefinition.formParams.formViewType==2 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}">
							 <!--<kt-grid task-form-loaded="formLoaded" grid-type="gridsterType" task-definition="taskDefinition" form-params="resourceDefinition.formParams" parent="dashboard.widgets" all-columns="dashboard.widgets" class="ktGrid"></kt-grid>-->
								
						</div>
			  
						<div class="border-0 p-0 col-lg-4 form-props-pos sticky" v-if="resourceDefinition.formParams.formViewType==1">
								<div class="p-1">
									<div class="card m-0" v-if="showFieldProperties">
											<div class="card-header bg-light p-0">
												<span class="ml-1 label-xs bold">Properties</span>
												<button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" @click="showHideProperties(false)">
																								<small><span class="fa fa-times"></span></small>
												</button>
											</div>
									</div>
								<!--		<kt-form-element-properties class="mt-2 p-1" v-if="showFieldProperties"  local-vars="localVars" fd="selectedField"></kt-form-element-properties>-->
								</div>  
					</div>
				
		</div>


</div>