<style>

.shadowbutton {
    box-shadow: 0 0.125rem 0.25rem rgb(14 26 57 / 8%) !important;
    background-color: aliceblue;
}
.shadowbutton:hover {
    box-shadow: var(--ds-overlay,0 8px 16px -4px rgba(9,30,66,0.25),0 0 1px rgba(9,30,66,0.31)) !important;
    text-decoration: none;
}

.shadowbutton.disabled, .shadowbutton:disabled {
    color:blue;
    opacity: 1;
}

.shadowbutton .blueonhover {
   border-bottom: solid thick lightgray;
}

.shadowbutton:disabled .blueonhover, .shadowbutton:hover .blueonhover {
 border-bottom: solid thick blue ;  
}
 
a:active, .link:active {
    color: var(--ds-text-link-pressed,#0065FF);
    }
    

</style>


<div id="resourceForm" style="">

	<div class="card m-1">
		<div class="row m-0 p-1">
			 <div class="col h4 p-2 border-bottom text-center my-auto">
               <!--  Definition for 
                    <span  ng-if="(resource.id != null || resource.id > 0)" class="h5 mt-1">    
                         <i class="fas fa-info-circle" title="resource id:  {{resource.id}}" ></i>
                    </span>-->
                                      
                    <span class="h4 mt-1 mr-2">  
                        <b>{{resourceDefinition.Name}}</b> {{resourceDefinition.ResourceCode}}
                    </span>

		   </div>
         
			<div class="p-1 my-2"  style="position: absolute;">
                    <a class="text-primary" href="" title="{{returnState.Label}}" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>{{returnState.Label}}</a>
         	</div>


		</div>


		<div class="row m-2 p-1 justify-content-center">

      			<div class=" col-auto row ">
                
  
                        <div  ng-if="(resource.id != null || resource.id > 0)" class="col-auto mx-1 " id="version">
                            <span  class=" mt-1">    
                            <b class="tag small text-success my-1 mr-2">       ID             </b>
                                    
                                {{resource.id}}
                            </span>
                             </div>
                    
                    
                            <div class="col-auto mx-1" idd="activeOrNot">
                                  <span  ng-if="(resource.id != null || resource.id > 0)" class="tag text-success my-1 "> {{resourceDefinition.ResourceName}} </span>      
                                  
                                  <span  ng-if="resourceDefinition.Active && (resource.id != null || resource.id > 0)" class="small bold mr-4"> Active
                                  <i  class="text-success fa fa-check"></i></span>

                                   <span  ng-if="!resourceDefinition.Active && (resource.id != null || resource.id > 0)" class="small bold mr-4"> Not active
                                  <i class="text-danger fa fa-times"></i></span> 
                             </div>
                                <!--<span ng-if="editDataset" class="badge badge-info rounded mr-2 text-white">Editing</span>-->
                                <!--<span class="tag my-1">{{resourceDefinition.resourceType}} definition</span>-->
                                
                              <div class="col-auto mx-1 " id="version">
                                  <span ng-if="resourceDefinition.FormVersion" class="small mr-2">
                                    <b class="tag text-success my-1 mr-2">       VERSION             </b>
                                    {{resourceDefinition.FormVersion}}
                                  </span>
                             </div>
                             
                             <div class="col-auto mx-1" id="publishedOrNot">
                                 <div  ng-if="(resource.id != null || resource.id > 0)" class="small "> 
                                      <b class="tag text-success my-1 mr-2">       STATUS             </b>
                                      </div> 
                                    <div>
                                    
                                    <button type="button" class="btn btn-xs" title="Click for publishing details"
                                    ng-class="{'btn-outline-success':resourceDefinition.Published,'btn-warning':!resourceDefinition.Published}"
                                    ng-click="showPublish('form')">
                                    	<span ng-if="resourceDefinition.Published">Published </span>
                                    	<span ng-if="!resourceDefinition.Published">Not published </span>
                                    	<i ng-if="resourceDefinition.Published" class="fa fa-check ml-2"></i>
                                    <!--	<i ng-if="!resourceDefinition.Published" class="fa fa-times ml-2"></i>-->
                                    </button>
                                    
                                    </div>    
         
                            </div>
                        
                            <div class="col-auto mx-1 small" title=" Created by {{resource.CreatedBy.first_name}}  {{resource.CreatedBy.last_name}}" ng-if="resource.CreatedBy" >
                                          <b class="tag text-success mt-1 mb-2 mr-2">       CREATED             </b>
                                             {{resource.CreatedDateTime | date: "dd.MM.yyyy 'at' HH:mm:ss"}}
                                             <span ng-if="resource.CreatedBy.first_name"> (by <b>{{resource.CreatedBy.first_name}} {{resource.CreatedBy.last_name}} </b>)</span>
                              </div>    
                               
                               
                            <div class="col-auto small">
                              
                                  <span title="Changed by {{resource.ChangedBy.first_name}} {{resource.ChangedBy.last_name}} " ng-if="resource.ChangedBy" > 
                                                   <b class="tag text-success my-1 mb-2 mr-2">       MODIFIED           </b>  
                                                  </span> {{resource.ChangedDateTime | date:"dd.MM.yyyy 'at' HH:mm:ss"}}
                                                   <span ng-if="resource.ChangedBy.first_name"> (by  <b>{{resource.ChangedBy.first_name}} {{resource.ChangedBy.last_name}} </b>)
                                    </span>
                                    
                              </div>
                                   
                               
                         
                   

						
					<!--						
					<div ng-if=" false" class="mt-3 text-center">
                                                
                               
                              <button type="button" title="Form definition" role="button" class="mx-2 shadowbutton btn col-4 rounded shadow-sm border btn-lg text-left" ng-disabled="definitionType=='form'" ng-click="SetDefinitionType('form')">
                                  <i  class="fa fa-newspaper fa-2x text-darkblue"  ></i>
                                  <div class="h6 text-left bold  mt-4">{{resourceDefinition.ResourceName}} form definition  </div>
                                  <div class="blueonhover" style="  width: 100%; ">       </div>
                              </button>
                              
                              
							  <button type="button" title="Edit dataset name" role="button" class="mx-2 shadowbutton btn col-4 rounded shadow-sm border btn-lg text-left" ng-disabled="definitionType=='props'" ng-click="SetDefinitionType('props')">
                                  <i   class="fa fa-cog fa-2x "  ></i> 
                                  <div class="h6 text-left bold text-darkblue mt-4">{{resourceDefinition.ResourceCode}} properties</div> 
                                      <div class="blueonhover" style="  width: 100%; ">       </div>                               
                               </button>
															
                                <button type="button" title="Database table definition" role="button" class="mx-2 shadowbutton btn col-4 rounded shadow-sm border btn-lg text-left" ng-disabled="definitionType=='datasource'" ng-click="SetDefinitionType('datasource')">
                                  <i  class="fa fa-file-import fa-2x text-darkblue"  ></i> 
                                  <div class="h6 text-left bold  mt-4">Data source</div>   
                            <div class="blueonhover" style="  width: 100%; ">       </div>                                  
                               </button>
											
                                <button ng-if="resource.Parameters.extDataSourceType.id==1 && (!resource.Parameters.externalDataSource || (resource.Parameters.externalDataSource && resource.Parameters.createDataSource))"
                                     type="button" title="Deploy to database" role="button" class="shadowbutton btn col-4 rounded shadow-sm border btn-lg text-left" ng-disabled="definitionType=='db_deploy'" ng-click="showDatasetDeploy('db_deploy')">
                                  <i  class="fa fa-database fa-2x text-black-50"></i> 
                                  <div class="h6 text-left bold mt-4">Deploy db changes</div> 
                                <div class="blueonhover" style="  width: 100%; ">       </div>                             
                               </button>
											
                                 <button type="button" ng-if="resourceDefinition.resourceType =='dataset'" title="Edit dataset details" role="button" class="btn rounded shadow-sm border btn-lg text-left ml-3" ng-click="DatasetData()">
                                      Dataset data                                                                                                
                               </button>
							</div>-->
										
					    </div>
						
							
     		</div>

 
		</div>

	</div>


      <div style=""  class="card m-1" ng-if="resourceDefinition.ResourceName=='Dataset'">
                              
                 <div style=" cursor: pointer;" class="p-1 row mx-1 " ng-click="isCollapsedDataSource = !isCollapsedDataSource" >                  
                    <span type="button" class="btn btn-sm p-1"  >
                        <span ng-class="{'fas fa-chevron-down': isCollapsedDataSource,'fas fa-chevron-right': !isCollapsedDataSource }" ></span>
                    </span>                  
                  <span class="tag">  DATA SOURCE DEFINITION</span>
                  
                </div>
                
                
                
        <form uib-collapse="!isCollapsedDataSource"  ng-submit="saveResourceDef(form1.$valid)" id="editDatasetForm" name="form1" class="form-horizontal" role="form" novalidate>
 				              
                <div class="col-lg-12 px-1">
						
																	
                   <div class="m-2 custom-control custom-checkbox">          
                                <input type="checkbox" class="custom-control-input" id="cbIsexternalDataSource" ng-model="resource.Parameters.externalDataSource"> 
                                <label class="custom-control-label label-xs" for="cbIsexternalDataSource">External data source?</label>       
                   </div>
                    
                    
                
				   <div class="form-group" ng-class="{ 'has-error' : (form1.$submitted || form1.extDataSourceLink.$touched) && form1.extDataSourceLink.$invalid }">
				   						<label class="col-lg-24" for="extDataSourceLink">Link to external data source</label>
				   						<div class="col-lg-24">
				   									<input type="text" ng-disabled="!resource.Parameters.externalDataSource" ng-model="resource.Parameters.extDataSourceLink" ng-required="false" class="form-control" id="extDataSourceLink" name="extDataSourceLink" placeholder="External resource" />
				   									<p ng-show="(form1.$submitted || form1.extDataSourceLink.$touched) && form1.extDataSourceLink.$invalid" class="help-block">External resource link </p>
				   				</div>
				   </div>
  
                 <div class="m-2 custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" id="cbCreateDataSource" ng-disabled="!resource.Parameters.externalDataSource" ng-model="resource.Parameters.createDataSource"> 
                                <label class="custom-control-label label-xs" for="cbCreateDataSource">Create data source?</label>        
                 </div>
                
																 <div  class="">
                     
                            <button type="submit" id="saveDataSourceBtn" ng-disabled="form1.$invalid" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save mr-2"></span>Save data source</button>

                            <!--<button type="button" role="button" ng-click="SetDefinitionType('')"  class="btn btn-sm btn-link text-muted ml-auto">Close</button>-->

               </div>
                
           </div> <!-- EXTERNAL data source-->
    </form>	
	</div>
    
    
	<div style="" ng-if="definitionType=='datasource' && resource.Parameters.externalDataSource && resource.Parameters.extDataSourceType.id<3" class="card mt-3">
		 <div class="col-lg-24 my-2">
					<span class="tag mt-1">Dataset columns definition</span>	
			</div>
			<div class="col-lg-24">
					<div ng-repeat="element in resource.Parameters.extDataSourceParams.formFieldsList track by $index">
																	
																		<div ng-if="$index==0" class="row m-0 small bold text-center">
																			
																			<div class="col-2 m-1 bg-primary">
																				<span class="text-white">id</span>
																			</div>
																			<div class="col-4 m-1 bg-primary">
																				<span class="text-white">Field name</span>
																			</div>	
																				<div class="col-4 m-1 bg-primary">
																				<span class="text-white">Field type</span>
																			</div>
																				
																			<div class="col-4 m-1 bg-primary">
																				<span class="text-white">Table column</span>
																			</div>
																			
																		</div>
													
																		<div class="row m-0 item small">
																			
																			<div class="col-2 m-1">
																				<span>{{element.ItemId}}</span>
																			</div>
																			<div class="col-4 m-1">
																				<span>{{element.Label}}</span>
																			</div>
																			<div class="col-4 m-1">
																				<span>{{element.ElementType}}</span>
																			</div>
																		
																													
																			<div class="col-4 text-center">
																				<div class=" ">
																					<input type="text" class="" id="cbIme2{{element.id}}" ng-model="element.widget.FieldName">
																					<label class=" label-xs" for="cbIme2{{element.id}}"></label>
																				</div>
																			</div>
																																					
																																					
																	
																			</div>
																	
					</div>
					<div  class="">
                     
                            <button type="button" id="saveDataSourceBtn" ng-disabled="form1.$invalid" ng-click="saveResourceForm(true)" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save mr-2"></span>Save table columns</button>

     </div>
			</div>
	</div>
    
    
    
    
    <div  class="card m-1" style="">
                
              <div style=" cursor: pointer;" class="p-1 row mx-1 " ng-click="isCollapsedDataProperty = !isCollapsedDataProperty">                  
                   
                    <span type="button" class="btn btn-sm p-1"  >
                        <span ng-class="{'fas fa-chevron-down': isCollapsedDataProperty,'fas fa-chevron-right': !isCollapsedDataProperty }" ></span>
                    </span>
                     <span class="tag">    {{resourceDefinition.ResourceName}} PROPERTIES</span>	</span>
              </div>
                
                
                
			<form uib-collapse="!isCollapsedDataProperty" ng-submit="saveResourceDef(form.$valid)" id="datasetPropsForm" name="form" class="form-horizontal" role="form" novalidate>
 	
		    <div class="row m-0">

								<div class="col-lg-12">                          

												<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Name.$touched) && form.Name.$invalid }">
																	<label class="col-lg-24" for="resourceName">Name</label>
																	<div class="col-lg-24">
																					<input type="text" ng-model="resource.Name" ng-required="true" class="form-control" id="Name" name="Name" placeholder="Resource name" />
																					<p ng-show="(form.$submitted || form.Name.$touched) && form.Name.$invalid" class="help-block">Enter resource name</p>
																	</div>
											</div>

											<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
														<label class="col-lg-24" for="Subject">Subject</label>
														<div class="col-lg-24">
																		<input type="text" ng-model="resource.Subject" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="Resource subject" />
																		<p ng-show="(form.$submitted || form.Subject.$touched) && form.Subject.$invalid" class="help-block">Enter resource subject</p>
														</div>
										</div>                
												<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Description.$touched) && form.Description.$invalid }">
														<label class="col-lg-24" for="Description">Description</label>
														<div class="col-lg-24">
																		<textarea ng-model="resource.Description" name="Description" ng-required="true" ng-min-length="20" class="form-control"></textarea>
																		<p ng-show="(form.$submitted || form.Description.$touched) && form.Description.$invalid" class="help-block">Enter resource description(min 20 chars).</p>
			
														</div>
										</div>
                                </div>
                                
                                
									<div class="col-lg-12">   
                                <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid }">
                                <label class="col-lg-24" for="ddlResourceType">#HashTags</label>
                                <div class="col-lg-24">
                                   <ui-select ng-model="resource.Tags" ui-select-multiple-list ng-disabled="disabled" close-on-select="false" name="resourceType" ng-required="false" reset-search-input="false" >
                                      <ui-select-match class="ui-select-match" placeholder="Search or select dataset #hashtags...">
                                          <span  class="p-0">{{$select.selected.name}} <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                                          </span>
                                      </ui-select-match>
                                    <ui-select-choices class="ui-select-choices" repeat="rt in (resourceTagsList | filter: { name: $select.search }) track by rt.id" refresh="refreshResults($select)" refresh-delay="0">
                                     <span>{{rt.name}}</span>
                                    </ui-select-choices>
											 <ui-select-footer></ui-select-footer>
											 <ui-select-no-choice></ui-select-no-choice>
                                  </ui-select>
                                    <p ng-show="(form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid" class="help-block">Select resource hashtags</p>
                                </div>
                  </div>
                   <!--
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid }">
                    <label class="col-lg-24" for="ddlResourceStatus">{{resource.ResourceName}} status</label>
                    <div class="col-lg-24">
                       
                       <kt-dropdown-standard ng-if="statusesDownloaded" 
           					ng-model="resource.Status" 
           					selected-items="resource.Status" 
           					dropdown-items="resourceStatusList"
           					is-multiple="false" name="resourceStatus" required="true"  dropdown-id="'resourceStatus'" parent-form-id="'datasetPropsForm'" search-text="'Search or select status...'">
       					</kt-dropdown-standard>
                        <p ng-show="(form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid" class="help-block">Select resource status</p>
                    </div>
                </div>
                -->
             
					     

                         <div class="col-lg-24 mb-4">
                                                    <div class="my-auto" > Active</div>
                                                    <label class="switch switch-green">
                                                                    <input   ng-model="resource.Active" type="checkbox" ng-true-value="true" ng-false-value="false"  class="switch-input">
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                    </label>
                                                    
                        </div> 

                        <div class="col-lg-24">
                                                    <div class="my-auto" > Immutable (secured on the blockchain)</div>
                                                    <label class="switch switch-green">
                                                                    <input   ng-model="resource.IsBlockchain" type="checkbox" ng-true-value="true" ng-false-value="false"  class="switch-input">
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                    </label>
                                                    
                        </div> 
                         
          </div>
										<div class="col-lg-24">
				
																			<div kt-users-groups-select ng-if="resourceDefDownloaded" selected-users="resource.AdminUsers" selected-groups="resource.AdminGroups" header-label="adminHeaderLabel"
																					users-label="'Admin users'" groups-label="'Admin groups'">
																			</div> 
				
										</div>
										<div  class="col-lg-24">
                     
                           <button type="submit" id="saveResourceBtn" ng-disabled="form.$invalid" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save mr-2"></span>Save properties</button>

 <!--                            <button type="button" role="button" ng-click="SetDefinitionType('')"  class="btn btn-sm btn-link text-muted ml-auto">Close</button>-->

          </div>
			</form>
	</div>

<!--<div ng-if="definitionType=='form'" class="card row m-1 p-2" ng-style="(resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4) && gsrvc.getTopForSticky(0)" -->

<div ng-if="definitionType" class="card " ng-style="(resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4) && gsrvc.getTopForSticky(0)" 
        ng-class="{'form-btns-top position-sticky':resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}" >
   
	<!--	DA NE SNIMA 2 PUTA ! <form ng-submit="saveResourceForm(forma.$valid)" id="forma1" name="{{formDefinition.formName}}" class="form-horizontal" ng-class="{'edit-mode':resourceDefinition.formParams.formViewType==1}" role="form" novalidate>-->
			<form id="forma1" name="{{formDefinition.formName}}" class="form-horizontal" ng-class="{'edit-mode':resourceDefinition.formParams.formViewType==1}" role="form" novalidate>


		     <div class="card-header-actions d-flex p-1 px-4">
					<!--	<span ng-if="resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4"  class="badge badge-info rounded mr-2 text-white">
                                Editing
                        </span>-->
						<span class="tag text-dark my-2">
                              Form definition
                        </span>
			</div>

            <div class="row">
              <div class="col">
                  <ul class="nav nav-tabs simple-tabs border-0 mx-4" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link" ng-class= "{'active':resourceDefinition.formParams.formViewType==1}" id="build-tab" href data-toggle="tab" ng-click="ShowFormView(1,false)" role="tab" aria-controls="build" aria-selected="false">
                        Build
                        <span class="badge badge-light ml-2 text-primary">Ctrl+B</span>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" ng-class= "{'active':resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}" id="layout-tab" href data-toggle="tab" ng-click="ShowFormView(4)" role="tab" aria-controls="layout" aria-selected="false"><i class="fa fa-th-large mr-1" ></i>
                        Arrange layout</a>
                    </li>
																				<li class="nav-item">
                      <a class="nav-link" ng-class= "{'active':resourceDefinition.formParams.formViewType==2}" href id="preview-tab" data-toggle="tab" ng-click="ShowFormView(2,true)" role="tab" aria-controls="preview" aria-selected="true">
                        Preview
                        <span class="badge badge-light ml-2 text-primary">Ctrl+P</span>
                      </a>
                    </li>
              </ul>

              </div>
                <div class="col-auto">
               <!--   <button type="submit" class="btn btn-sm btn-light">Cancel</button>-->
						<button type="button" class="btn btn-sm border-0 btn-outline-primary" ng-if="currentStateIndex.undo || currentStateIndex.redo" ng-style="{'visibility':currentStateIndex.undo ? 'visible':'hidden'}" ng-click="undoRedoChanges('undo')">
							<i class="fas fa-undo"></i>
						</button>
						
						
                  <button type="button" class="btn btn-sm border-0 btn-outline-warning mx-2" ng-if="currentStateIndex.undo || currentStateIndex.redo" ng-style="{'visibility':currentStateIndex.redo ? 'visible':'hidden'}" ng-click="undoRedoChanges('redo')">
                      <i class='fas fa-redo'></i></button>
                      
                
                  <button  ng-click="showDatasetDeploy('form')" ng-disabled="savingForm" class="btn btn-sm btn-success mr-2">
                    <span ng-if="savingForm">   Saving... </span> 
                     <span ng-if="!savingForm">
                        Save Changes
                     </span></button>
                  
                   <button  ng-click="showPublish('form')" ng-disabled="publishingForm" class="btn btn-sm btn-info mr-2">
                        <span ng-if="publishingForm">Publishing...</span> 
                        <span>
                            Publish
                        </span>
                   </button>
                  
               
				<button ng-if="SavedButNotDeployed" type="button" class="btn btn-sm btn-warning" ng-click="compiledb()">
                            <span class='fa fa-database'></span> 
                            Deploy Database
                 </button> 
						
                </div>

            </div>

 
 
			</form>
</div> <!--ROW-->

			<!--<div ng-if="definitionType=='form'" class="row m-1">-->
          <div  class="row m-1">
			<div id="datasetToolbox" class="col-lg-4 pl-0 pr-2" ng-class="{'max-height-1-rem visibility-hidden':gsrvc.getFormViewType()!=1}">	 
					<div kt-toolbox class="px-1 sticky dataset-form-props-pos" ng-style="gsrvc.getTopForSticky(5)"></div>
					 
			</div>	
            
            <div class="card p-0 col" ng-class="{'col':resourceDefinition.formParams.formViewType==1,'build-mode':resourceDefinition.formParams.formViewType==1 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4,'col-lg-24':resourceDefinition.formParams.formViewType==2 || resourceDefinition.formParams.formViewType==3 || resourceDefinition.formParams.formViewType==4}">
                <div kt-grid resource-form-loaded="formLoaded" grid-type="gridsterType" resource-definition="resourceDef" form-params="resourceDefinition.formParams" parent="dashboard.widgets" all-columns="dashboard.widgets" is-definition="true" class="ktGrid"></div>
														
												</div>
    
            <div class="propertiesContainer px-0 pt-2" ng-style="propertiesTop" ng-class="{'dataset-form-props-pos border-0 sticky':localVars.PropertiesSize =='standard','properties-extended':localVars.PropertiesSize =='large' && showFieldProperties,'col-lg-5':showFieldProperties && localVars.PropertiesSize !=='large','':!showFieldProperties}" ng-if="resourceDefinition.formParams.formViewType==1">
                                                    <div class="px-1">
															<div class="card m-0" ng-if="showFieldProperties">
																	<div class="card-header bg-light p-0">
																			<button type="button" title="Extend properties" class="btn btn-outline-primary p-0 pl-1 pr-1 mr-2" ng-click="localVars.ChangePropertiesSize()">
																																<small><span class="fa fa-arrow-left" ng-class="{'fa fa-arrow-left':localVars.PropertiesSize =='standard','fa fa-arrow-right':localVars.PropertiesSize =='large'}"></span></small>
																				</button>
																		<span class="ml-2 label-xs bold">Properties</span>
																			<button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" ng-click="showHideProperties(false)">
																														<small><span class="fa fa-times"></span></small>
																		</button>
																		
																		
																	</div>
															</div>
															
															<div  ng-if="showFieldProperties" kt-form-element-properties local-vars="localVars" fd="selectedField"></div>
															
													</div>  
												</div>
		
			</div>
			
 

 
 <!-- DEPLOY Modal -->
<div class="modal fade bd-example-modal-lg" id="datasetDeploy" tabindex="-1" role="dialog" aria-labelledby="datasetDeploy" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
    
    
      <div class="modal-header">
      <span class="fa fa-lg fa-database m-2"></span>
        <h5 class="modal-title" id="exampleModalLongTitle"> Deploy changes to database </h5>
     
        <button   type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body ">
        
                <div ng-if="datasetDeploy.length" class="p-1">
						
							<div ng-repeat="element in datasetDeploy track by element.id">
							
								<div ng-if="$index==0" class="row m-0 fnt7 bold text-center">
									
									<div class="col-1 m-1 bg-primary">
										<span class="text-white">ID</span>
									</div>
									<div class="col-3 m-1 bg-primary">
										<span class="text-white">Field name</span>
									</div>	
									<div class="col-3 m-1 bg-primary">
										<span class="text-white">Field type</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Table column</span>
									</div>
									<div class="col-1 m-1 bg-primary">
										<span class="text-white">Max len</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Required</span>
									</div>
									
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Deployed</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Status</span>
									</div>
								
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Action</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Version</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Deployed version</span>
									</div>
								</div>
								
																							
								<div class="row m-0 item small">
									<div class="col-1 m-1 bg-primary-light">
										<span>{{element.id}}</span>
									</div>
									<div class="col-3 m-1">
										<span>{{element.label}}</span>
									</div>
									<div class="col-3 m-1">
										<span>{{element.dbtype}}</span>
									</div>
									<div class="col-2 m-1">
										<span>{{element.field}}</span>
									</div>
									<div class="col-1 m-1">
										<span>{{element.maxLength}}</span>
									</div>
									<div class="col-2 m-1 text-center">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" ng-disabled="true" class="custom-control-input" id="cbRequired{{element.id}}" ng-model="element.required">
											<label class="custom-control-label label-xs" for="cbRequired{{element.id}}"></label>
										</div>
									</div>
									
									<div class="col-2 m-1 text-center">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" ng-disabled="true" class="custom-control-input" id="cbDeployed{{element.id}}" ng-model="element.deployed">
											<label class="custom-control-label label-xs" for="cbDeployed{{element.id}}"></label>
										</div>
									</div>
									<div class="col-2 m-1">
										<span>{{element.status}}</span>
									</div>
									<div class="col-2 m-1" ng-class="{'bg-danger-light bold':element.deployAction!='N'}">
										<span>{{getDeployAction(element.deployAction)}}</span>
									</div>
									<div class="col-2 m-1">
										<span>{{element.version}}</span>
									</div>
									<div class="col-2 m-1">
										<span>{{element.deployedVersion}}</span>
									</div>
								</div>
							
							</div>
				 
				</div>
			   
        	<div class="h5 text-center" ng-if="!datasetDeploy.length">
                Nothing to deploy !
            </div>
      </div> <!-- MODAL BODY END-->
      
      <div class="modal-footer justify-content-center">
      
          <div ng-if="datasetDeploy.length">
              <div class="my-2">
                            <button type="button" class="btn btn-success" ng-click="syncdb()">
                         <span class='fa fa-database mr-1'></span>Deploy</button> 			
                
                    <button  ng-click="closeDatasetDeploy(forma.$valid)" type="button" class="btn btn-danger">
                        Not now
                     </button> 
                      
                </div>
           </div>
            
           <div ng-if="!datasetDeploy.length">
              
                 <button type="button" class="btn btn-sm btn-link text-muted ml-auto" data-dismiss="modal" aria-label="Close">
                       Close
                 </button>
                  <!--<button   type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>-->
        
            </div>
           
      </div>
      
    </div>
  </div>
</div>



 <!-- PUBLISH Modal -->
<form ng-submit="publish_resource(form.$valid)" name="formModal" class="modal fade bd-example-modal-lg" id="datasetPublish" tabindex="-1" role="dialog" aria-labelledby="datasetPublish" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
      <span class="fa fa-lg fa-database m-2"></span>
        <h5 class="modal-title" id="exampleModalLongTitle"> {{resourceDefinition.ResourceName}} <b>{{resourceDefinition.Name}} </h5>
   
        <button   type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="row m-0 modal-body ">
      
                 <div class="col-lg-8 p-0">  

								<div class="form-group" ng-class="{ 'has-error' :  fromModal.Id.$touched && fromModal.Id.$invalid }">
											<label class="col-lg-24" for="Id">Id</label>
											<div class="col-lg-24">
												<input type="text" ng-model="resource.id" ng-disabled="true"  ng-required="true" class="form-control" id="Id" name="Id" placeholder="Id" />
												<p ng-show=" fromModal.Id.$touched && fromModal.Id.$invalid" class="help-block">Enter resource Id</p>
											</div>
								</div>

								<div class="form-group" ng-class="{ 'has-error' : fromModal.Version.$touched && fromModal.Version.$invalid }">
											<label class="col-lg-24" for="Version">Version</label>
											<div class="col-lg-24">
													<input type="text" ng-disabled="true" ng-model="newPublishVersion" ng-required="true" class="form-control" id="Version" name="Version" placeholder="Resource Version" />
													<p ng-show="(formModal.Version.$touched) && formModal.Version.$invalid" class="help-block">Enter resource Version</p>
											</div>
                                </div>                
							
                                   
                  <div >
                  <div class="m-2">
                        

                  <!--  <button class="btn btn-success" type="submit" >
                          <i class="fa fa-database mr-1" ></i>
                            Publish
                    </button>-->
 
                    </div>
               </div>
           
               </div>
               
               
                 <div class="col-lg-16 p-0 ">  

                 	
                                <div class="form-group" ng-class="{ 'has-error' :  formModal.Description.$touched && formModal.Description.$invalid }">
											<label class="col-lg-24" for="Description">Description</label>
											<div class="col-lg-24">
                                                    <textarea ng-model="localVars.newDescription" name="Description" ng-required="true" ng-min-length="10" class="form-control"></textarea>
                                                    <p ng-show="( formModal.Description.$touched) && formModal.Description.$invalid" class="help-block">Enter resource description (min 10 chars)</p>
											</div>
							   </div>
                 
                 </div>
         <!--
            <div class="col-lg-16 p-0 ">     

            <h5 class="text-center"> Publish history for {{resourceDefinition.ResourceName}} <b>{{resourceDefinition.Name}} </b></h5>  
            
                <div ng-if="localVars.publishedResources.length" class=" p-1">
						
							<div ng-repeat="element in localVars.publishedResources track by element.id">
							
								<div ng-if="$index==0" class="row m-0 bold justify-content-center">
									
									<div class="col-lg-4 my-1 bg-primary">
										<span class="text-white">Publish id</span>
									</div>

									<div class="col-lg-4 my-1 bg-primary">
										<span class="text-white">Resource id</span>
									</div>
									
									<div class="col-lg-4 my-1 bg-primary">
										<span class="text-white">Version</span>
									</div>	
									<div class="col-lg-10 my-1 bg-primary">
										<span class="text-white">Description</span>
									</div>
									
								</div>
																							
								<div class="row m-0 item  justify-content-center">
									
									<div class="col-lg-4 my-1">
										<span>{{element.id}}</span>
									</div>
									<div class="col-lg-4 my-1">
										<span>{{resource.id}}</span>
									</div>
									<div class="col-lg-4 my-1">
										<span>{{element.Version}}</span>
									</div>
									<div class="col-lg-10 my-1">
										<span>{{element.Description}}</span>
									</div>
								</div>
							
							</div>
				 
				</div>
                   
                <div class="h5 text-center mt-5" ng-if="!localVars.publishedResources.length">
                    Nothing yet published !
                </div>
            
            </div>
            
          -->  
 
           <div class="DEPLOY  w-100">
           
                  
            <div  class="border-top  m-3" >
                                  
                     <div style=" cursor: pointer;" class="p-1 row mx-1 " ng-click="isCollapsedVerHistory = !isCollapsedVerHistory" >                  
                        <span type="button" class="btn btn-sm p-1"  >
                            <span ng-class="{'fas fa-chevron-down': !isCollapsedVerHistory,'fas fa-chevron-right': isCollapsedVerHistory }" ></span>
                        </span>                  
                      <span class="tag"> RESOURCE PUBLISH HISTORY</span>
                      
                    </div>
               
                             
            <div uib-collapse="isCollapsedVerHistory" >
                
            <div class="col-lg-24 p-0 ">     

            <!--<h5 class="text-center"> Publish history for {{resourceDefinition.ResourceName}} <b>{{resourceDefinition.Name}} </b></h5>  -->
        <!--    <h5 class="text-center"> Publish history  </h5> -->
            
                <div ng-if="localVars.publishedResources.length" class=" p-1">
						
							<div ng-repeat="element in localVars.publishedResources track by element.id">
							
								<div ng-if="$index==0" class="row m-0 bold text-center justify-content-center">
									
									<div class="col-lg-4 my-1 border-bottom">
										<span class=" ">Publish id</span>
									</div>

									<div class="col-lg-4 my-1 border-bottom">
										<span class=" ">Resource id</span>
									</div>
									
									<div class="col-lg-4 my-1 border-bottom">
										<span class="">Version</span>
									</div>	
									<div class="col-lg-10 my-1 border-bottom">
										<span class="">Description</span>
									</div>
									
								</div>
																							
								<div class="row m-0 item text-center justify-content-center">
									
									<div class="col-lg-4 my-1">
										<span>{{element.id}}</span>
									</div>
									<div class="col-lg-4 my-1">
										<span>{{resource.id}}</span>
									</div>
									<div class="col-lg-4 my-1">
										<span>{{element.Version}}</span>
									</div>
									<div class="col-lg-10 my-1">
										<span>{{element.Description}}</span>
									</div>
								</div>
							
							</div>
				 
				</div>
                   
                <div class="h5 text-center mt-5" ng-if="!localVars.publishedResources.length">
                    Nothing yet published !
                </div>
            
            </div>
                 
                
            </div>	
        </div>
    
    
        
        <div ng-if="resourceDefinition.ResourceSubType=='standard'" class="h5 bold text-center border-top p-3">
        
            Pending changes to database
        </div>
        
                <div ng-if="datasetDeploy.length" class="p-1">
						
							<div ng-repeat="element in datasetDeploy track by element.id">
							
								<div ng-if="$index==0" class="row m-0 mb-1 fnt7 bold justify-content-center">
									
									<div class="col-1 m-1 bg-primary">
										<span class="text-white">ID</span>
									</div>
									<div class="col-3 m-1 bg-primary">
										<span class="text-white">Field name</span>
									</div>	
									<div class="col-3 m-1 bg-primary">
										<span class="text-white">Field type</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Table column</span>
									</div>
									<div class="col-1 m-1 bg-primary">
										<span class="text-white">Max len</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Required</span>
									</div>
									
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Deployed</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Status</span>
									</div>
								
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Action</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Version</span>
									</div>
									<div class="col-2 m-1 bg-primary">
										<span class="text-white">Deployed version</span>
									</div>
								</div>
								
																							
								<div class="row m-0 item small justify-content-center">
									<div class="col-1 m-1 bg-primary-light">
										<span>{{element.id}}</span>
									</div>
									<div class="col-3 m-1">
										<span>{{element.label}}</span>
									</div>
									<div class="col-3 m-1">
										<span>{{element.dbtype}}</span>
									</div>
									<div class="col-2 m-1">
										<span>{{element.field}}</span>
									</div>
									<div class="col-1 m-1">
										<span>{{element.maxLength}}</span>
									</div>
									<div class="col-2 m-1 text-center">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" ng-disabled="true" class="custom-control-input" id="cbRequired{{element.id}}" ng-model="element.required">
											<label class="custom-control-label label-xs" for="cbRequired{{element.id}}"></label>
										</div>
									</div>
									
									<div class="col-2 m-1 text-center">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" ng-disabled="true" class="custom-control-input" id="cbDeployed{{element.id}}" ng-model="element.deployed">
											<label class="custom-control-label label-xs" for="cbDeployed{{element.id}}"></label>
										</div>
									</div>
									<div class="col-2 m-1">
										<span>{{element.status}}</span>
									</div>
									<div class="col-2 m-1" ng-class="{'bg-danger-light bold':element.deployAction!='N'}">
										<span>{{getDeployAction(element.deployAction)}}</span>
									</div>
									<div class="col-2 m-1">
										<span>{{element.version}}</span>
									</div>
									<div class="col-2 m-1">
										<span>{{element.deployedVersion}}</span>
									</div>
								</div>
							
							</div>
				 
				</div>
			   
        	<div ng-if="resourceDefinition.ResourceSubType=='standard' && !datasetDeploy.length" class="h5 text-center" >
                No changes detected !
            </div>
      </div> <!-- DEPLOY   END-->
     
        <div class="m-2 text-center col-24">

            <button ng-if="resourceDefinition.Published == false && newPublishVersion>0" class="btn btn-success" type="submit" >
                          <i class="fa fa-database mr-1" ></i>
                            Publish
            </button>
            
               <div ng-if="resourceDefinition.Published == true" class="h5 text-center" ng-if="!datasetDeploy.length">
                Version {{resourceDefinition.FormVersion}}.  already published !
            </div>

            <div ng-if="newPublishVersion==0" class="h5 text-center">
                To publish resource please save form!
            </div>
                    
          </div>
          
       
            
        
      </div> <!-- MODAL BODY-->
      

     
      
    </div><!-- MODAL CONTENT-->
    
    
  </div><!-- MODAL DIALOG-->
  
  
</form><!-- FORM MODAL-->


		
</div>