 <form ng-submit="ResourceSearch(1)"  name="form" class="form-horizontal" role="form" novalidate>

    <div class="card mt-3"> 

     <div class="">
                       
         
         <div class="row mx-2">
            <div class="col-lg-24 p-2 text-center border-bottom py-3 mb-4"><span class="h5">Search Resources </span></div>
            
            <div class="col-lg-24">
                       <div class="form-group"  ng-class="{ 'has-error' : (form.$submitted || form.Name.$touched) && form.Name.$invalid }">
                                    <div class="row">
                                        
                                        <div class="col-lg-16">
                                            <div class="row">

                                                <div class="col-lg-2">
                                                    <label for="Id">Id</label>
                                                   <input type="text" ng-model="resource.id" ng-required="false" class="form-control p-1" id="Id" name="Id" placeholder="Id" />
                                                   <p ng-show="(form.$submitted || form.Id.$touched) && form.Id.$invalid" class="help-block">Enter {{ resource.ResourceDefId.ResourceType.name}} id</p>
                                                </div>
                                                
                                            
                                               <div class="col-lg-10">
                                                <label for="resourceName">Resource name</label>
                                                   <input type="text" ng-model="resource.Name" ng-required="false" class="form-control p-1" id="Name" name="Name" placeholder="Enter resource name" />
                                                   <p ng-show="(form.$submitted || form.Name.$touched) && form.Name.$invalid" class="help-block">Enter {{ resource.ResourceDefId.ResourceType.name}} name</p>
                                                </div>
                                                
                                               <div class="col"> 
                                                  <label for="resourceType">Resource type</label>
                                                  <kt-dropdown-multiple ng-if="resourceTypeList.length>0" ng-model="resource.ResourceType" selected-items="resource.ResourceType" name="resourceTypes" ng-required="false" dropdown-items="resourceTypeList" dropdown-id="'resourceType'" parent-form-id="'form'" search-text="'Search or select resource type...'"></kt-dropdown-multiple> 

                                                 
                                               </div>

                                                <div class="col-auto"> 
                                                   
                                                  <div style="visibility:hidden;">hidden placeholder</div>
                                                  <button type="submit" class="btn btn-outline-info">
                                                        <span class='fa fa-search mr-2'></span> Search</button>
                                               </div>
                                              

                                               
                                                  
                                               
                                            </div>
                                            <div class="row my-3">
                                                <div class="col">
                                                    <div class="my-auto" > Show deactivated resources </div> 
                                                    <label class="switch switch-green">
                                                        <input  ng-change="updateState()" ng-model="resource.Active" type="checkbox" ng-true-value="true" ng-false-value="false"  class="switch-input">
                                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                                        <span class="switch-handle"></span>
                                                    </label>
                                              
                                                </div>

                                                <div class="col-auto">
                                                    <div class="my-auto" > Remember search </div>
                                                    <label class="switch switch-green">
                                                                    <input  ng-change="updateState()" ng-model="pageState.rememberSearch" type="checkbox" ng-true-value="true" ng-false-value="false"  class="switch-input">
                                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                                    <span class="switch-handle"></span>
                                                    </label>
                                                    
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                    
                                        
                        </div>
                        
                       
                          
                           
                          


                        <div ng-if="advancedSearch" class="row search-resources m-0">
                           
                            <div class="col-12 col-md-24 p-0">
                       
                                   <div class=" row form-group" ng-class="{ 'has-error' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
                                       <label class=" col-lg-12" for="Subject">Subject</label>
                                       <div class="col-lg-24">
                                           <input type="text" ng-model="resource.Subject" ng-required="false" class="form-control" id="Subject" name="Subject" placeholder="{{ resource.ResourceDefId.ResourceType.name}} subject" />
                                           <p ng-show="(form.$submitted || form.Subject.$touched) && form.Subject.$invalid" class="help-block">Enter {{ resource.ResourceDefId.ResourceType.name}} subject</p>
                                       </div>
                                   </div>                
                       
                                   <div class="row form-group" ng-class="{ 'has-error' : (form.$submitted || form.Description.$touched) && form.Description.$invalid }">
                                       <label class="col-lg-12" for="Description">Description</label>
                                       <div class="col-lg-24">
                                           <textarea ng-model="resource.Description" name="Description" ng-required="false" ng-min-length="20" class="form-control"></textarea>
                                           <p ng-show="(form.$submitted || form.Description.$touched) && form.Description.$invalid" class="help-block">Enter {{ resource.ResourceDefId.ResourceType.name}} description(min 20 chars).</p>
                   
                                       </div>
                                   </div>
                         
                            </div>   
                           
                        </div> <!--adv.src-->
                        
                        <div class="row m-0"  ng-class="{ 'has-error' : (form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid }">
                           <div  class="col">
                                               
                                                
                                                <!--
                                                <button ng-click="advancedSearch=false"  type="button" ng-disabled="form.$invalid" class="float-right pr-2 btn btn-link">
                                                <span class="small"> Simple Search </span></button>
                                                -->
                           </div>
                                       <!-- 
                                      
                                          
                                       <div ng-if="false" class="col-9">

                                            <ui-select ng-model="resource.ResourceTags" ui-select-multiple-list close-on-select="false" ng-disabled="disabled" name="resourceType" ng-required="false" reset-search-input="false" >
                                              <ui-select-match class="ui-select-match" placeholder="Filter by Tags">
                                                  <span  class="p-0">{{$select.selected.name}} <a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
                                                  </span>
                                              </ui-select-match>
                                            <ui-select-choices class="ui-select-choices" repeat="rtl in (resourceTagsList | filter: { name: $select.search }) track by rtl.id" refresh="refreshResults($select)" refresh-delay="0">
                                             <span>{{rtl.name}}</span>
                                            </ui-select-choices>
                                            <ui-select-no-choice></ui-select-no-choice>
                                            <ui-select-footer></ui-select-footer>
                                          </ui-select>
                                          <p ng-show="(form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid" class="help-block">Select resource type</p>
                                            
                                       </div> 
                                       
                                       
                                       <div class="col-lg-4 px-0 " >

                                           <div  class="p-0">
                                                <button type="submit" ng-disabled="form.$invalid" class="float-right btn btn-outline-info">
                                                <span class='fa fa-search mr-2'></span> Search</button>
                                                <button ng-click="advancedSearch=false"  type="button" ng-disabled="form.$invalid" class="float-right pr-2 btn btn-link">
                                                <span class="small"> Simple Search </span></button>
                                              
                                            </div>
                                        
                                     </div>
                                       -->
                        </div>
                          
            
           
        </div>
            <!--
            <div ng-show="!advancedSearch" class="col-auto p-0">
               
                 <button type="submit" class="btn btn-outline-info">
                   <span class='fa fa-search'></span> &nbsp Search</button>
                        
                 <button ng-click="advancedSearch=true"  type="button" class="d-block m-0 p-0 btn btn-link">
                    <span class="small">Advanced Search</span></button>
                             
            </div>
            -->
        </div>
      </div>
      
      
        
      <div class="mt-1 p-2 text-primary text-center" ng-if="paginationOptions.totalItemCount==0 && firstQuery && !resourceLoading" >
        <i class="fa fa-folder-open fa-6x"></i><br>
        <span class="h3">No data for your search</span>
    </div>   
      <div class="mt-1" style="min-height:400px;position: relative;" ng-show="resourceLoading || resourceSelected || paginationOptions.totalItemCount>0">
            
               <div class="" ng-show="resourceTableData.length>0">
                     <div ng-if="false">
                         <button type="button" ng-click="gotoState()" class="btn btn-sm btn-outline-success" ng-disabled="!resourceSelected">
                         <span class="fa fa-{{resourceIconSelected}}"></span> Edit {{selectedResourceType}} definition</button>
                     </div>
               </div>
              
               <div class="p-3">
                    <div class="row" style="top:0;margin-left:-1rem !important" ng-if="resourceLoading" ng-class="{'processing-overlay':resourceLoading}" kt-processing-animation show-msg="true" show-as-card="true" message="Loading resource list"></div>
                    <div show-action-buttons="showTableActions" ng-if="searchInitiated" kt-smart-table kt-refresh-data="getResourceDef(pageNumber,pageSize)" kt-process-action="processTableAction(item,actionId)" action-definition="actionDef" items-on-page="results.pageSize" initial-page="currentPage" row-selected-change="rowSelectionChanged(item)"></div>
               </div>
               

      </div> 

</div>
</form>
            <div class="col-24 p-1 m-1"><span class="h5"> </span></div>
