<div>
  
  <div class="panel panel-default">
    <div class="panel-heading "><span class="fa fa-bars">&nbsp Menu</span></div>
     <div class="">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="activeLinkSidemenu('app.menu.resources.list')"><a ui-sref="app.menu.resources.list" ><i class="fa fa-globe">&nbsp; Resources</i></a></li>
          <li ng-class="activeLinkSidemenu('app.menu.resources.new')"><a ui-sref="app.menu.resources.new" ><i class="fa fa-plus">&nbsp; New resource</i></a></li>
         <!-- <li ng-class="activeLink('app.menu.resources.data')"><a ui-sref="app.menu.resources.data"  ><i class="fa fa-database">&nbsp; Resource data</i></a></li>-->
        </ul>
     </div>
    <div kt-toolbox ng-show="!!activeLink('app.menu.resources.form')"></div>

</div>



 
 