<form ng-submit="saveResourceData(forma.$valid)" id="forma1" name="{{formDefinition.formName}}" class="form-horizontal" role="form" novalidate>
<div class="card mt-1">
	<div class="row m-0">
		<button type="button" class="btn btn-link" ui-sref="app.menu.resources.data({id: resourceId})">
                                <span class='fa fa-arrow-circle-left'></span> Back to list of {{resourceDefinition.name}}</button>
	</div>
 
	<div class="row m-0" >

	
		<div class="col-6">
			<div class="text-left"><h4>{{resourceDefinition.name}}</h4></div>
		</div>			
	</div>	
	
  
   <div class="row m-0">
    
    
      <div class="col-24">
		<div kt-grid resource-form-loaded="formLoaded" grid-type="gridsterType" resource-definition="taskDefinition" form-params="resourceDefinition.formParams" form-data="formData" parent="dashboard.widgets" all-columns="dashboard.widgets" class="ktGrid"></div>
      </div>
       
   </div>
      
 
				
					<!--<div> dashboard1.widgets={{dashboard1.widgets}} </div>-->
					<hr>
               <div  class="row m-0 p-1 control-group">
                            <button type="submit" id="clearBtn" class="btn btn-outline-primary mr-2">
                                <span class='fa fa-save mr-2'></span><span class="mr-1">{{action}}</span> {{resourceDefinition.name}} record</button>
							<button type="button" ng-click="deleteSelectedRecord()" ng-if="action=='Update'" class="btn btn-outline-danger">
                                <span class='fa fa-times mr-2'></span>Delete {{resourceDefinition.name}} record</button>
							
                 </div>

</div> 
</form>
