<div id="notificationDefinitionComponent" class="m-3">
      <div class="mt-1">
            <div class="card row m-0">
                  <div kt-resource-definition resource="resource"></div>
            </div>
            
            <div class="card mt-2">
                  <div class="row m-0 p-2">
                        <div class="col-lg-12 border-right">
                              
                             <form ng-submit="saveResourceParameters(form.$valid)" name="form" class="form-horizontal" role="form" novalidate>
           
						<div class="mb-2">
							<span class="bold small border-bottom border-primary p-1 text-primary">Smart contract definition</span>
						</div>
						<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.ContractId.$touched) && form.ContractId.$invalid }">
							<label class="" for="ContractId">Smart contract id</label>
							<div class="">
								<input type="text" ng-model="resource.Parameters.ContractId" ng-required="true" class="form-control" id="ContractId" name="ContractId" placeholder="Smart contract id" />
								<p ng-show="(form.$submitted || form.ContractId.$touched) && form.ContractId.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.ContractId.$touched) && form.ContractId.$invalid}">Enter smart contract id</p>
							</div>
						</div>
						
						<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.ContractAbi.$touched) && form.ContractAbi.$invalid }">
							<label class="" for="ContractAbi">Smart contract ABI</label>
							<div class="">
								<textarea rows="5" ng-model="resource.Parameters.ContractAbi" ng-required="false" placeholder="Enter/Paste ABI"  name="ContractAbi"
								ng-model-options="{ debounce: 250 }" ng-class="{ 'text-danger is-invalid' : (form.$submitted || form.ContractAbi.$touched) && form.ContractAbi.$invalid }"  class="form-control">
								</textarea>
								<p ng-show="(form.$submitted || form.ContractAbi.$touched) && form.ContractAbi.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.ContractAbi.$touched) && form.ContractAbi.$invalid}">Enter smart contract ABI</p>
							</div>
						</div>
						
						<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.PublicVarsDatasetId.$touched) && form.PublicVarsDatasetId.$invalid }">
						
							<label class="text-muted" for="user2">Contract variables (select dataset)</label>
							<kt-dropdown-standard ng-model="resource.Parameters.PublicVarsDatasetId" ng-if="resourceLoaded" selected-items="resource.Parameters.PublicVarsDatasetId" is-multiple="false" name="messageTag" ng-required="false" dropdown-items="datasetList" dropdown-id="'inputId'" parent-form-id="'form'" search-text="'Select input dataset'"></kt-dropdown-standard>
							<p ng-show="(form.$submitted || form.PublicVarsDatasetId.$touched) && form.PublicVarsDatasetId.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.PublicVarsDatasetId.$touched) && form.PublicVarsDatasetId.$invalid}">Select public variables</p>
							
						</div>	
						
						<div ng-repeat="function in resource.Parameters.Functions track by $index" class="p-2">
							
							<div class="mb-2">
								<span class="bold small border-bottom border-info p-1 text-info">Function {{$index+1}}</span>
							</div>
							<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.FunctionName{{$index}}.$touched) && form.FunctionName{{$index}}.$invalid }">
								<label class="" for="FunctionName">Function name</label>
								<div class="">
									<input type="text" ng-model="resource.Parameters.Functions[$index].FunctionName" ng-required="true" class="form-control" id="FunctionName{{$index}}" name="FunctionName{{$index}}" placeholder="Function name" />
									<p ng-show="(form.$submitted || form.FunctionName{{$index}}.$touched) && form.FunctionName{{$index}}.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.FunctionName{{$index}}.$touched) && form.FunctionName{{$index}}.$invalid}">Enter function name</p>
								</div>
							</div>
							<label class="text-muted" for="user2">Select function input parameters</label>
							<kt-dropdown-standard ng-model="function.InputDatasetId" ng-if="resourceLoaded" selected-items="function.InputDatasetId" is-multiple="false" name="messageTag" ng-required="false" dropdown-items="datasetList" dropdown-id="'inputId'" parent-form-id="'form'" search-text="'Select input dataset'"></kt-dropdown-standard>
							
							<label class="text-muted" for="user2">Select return value</label>
							<kt-dropdown-standard ng-model="function.OutputDatasetId" ng-if="resourceLoaded" selected-items="function.OutputDatasetId" is-multiple="false" name="messageTag" ng-required="false" dropdown-items="datasetList" dropdown-id="'outputId'" parent-form-id="'form'" search-text="'Select output dataset'"></kt-dropdown-standard>
							<button type="button" ng-click="resource.Parameters.Functions.splice($index,1)" class="btn btn-outline-danger mt-1"><i class="fa fa-trash"></i></button>
						</div>
						<button type="button" ng-click="newFunction()" class="btn btn-sm btn-outline-info my-2">
							<span class="fa fa-plus"></span>&nbsp Add function</button>
				     </form>
					
                        </div>
                        <div ng-form="form" class="col-lg-12">
                              <div class="mb-2">
							<span class="bold small border-bottom border-primary p-1 text-primary">Blockchain datasets</span>
						</div>
					<div ng-repeat="dataset in resource.Parameters.Datasets track by $index" class="p-2">
							
							<div class="mb-2">
								<span class="bold small border-bottom border-info p-1 text-info">Dataset {{$index+1}}</span>
							</div>
							<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.DatasetName{{$index}}.$touched) && form.DatasetName{{$index}}.$invalid }">
								<label class="" for="DatasetName">Dataset name</label>
								<div class="">
									<input type="text" ng-model="dataset.DatasetName" ng-required="true" class="form-control" id="DatasetName{{$index}}" name="DatasetName{{$index}}" placeholder="Dataset name" />
									<p ng-show="(form.$submitted || form.DatasetName{{$index}}.$touched) && form.DatasetName{{$index}}.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.DatasetName{{$index}}.$touched) && form.DatasetName{{$index}}.$invalid}">Enter dataset name</p>
								</div>
							</div>
							<label class="text-muted" for="user2">Select dataset</label>
							<kt-dropdown-standard ng-model="dataset.DatasetId" ng-if="resourceLoaded" selected-items="dataset.Parameters.DatasetId" is-multiple="false" name="messageTag" ng-required="false" dropdown-items="datasetList" dropdown-id="'inputId'" parent-form-id="'form'" search-text="'Select dataset'"></kt-dropdown-standard>
							<button type="button" ng-click="resource.Parameters.Datasets.splice($index,1)" class="btn btn-outline-danger mt-1"><i class="fa fa-trash"></i></button>
						</div>
						<button type="button" ng-click="newBlockchainDataset()" class="btn btn-sm btn-outline-info my-2">
							<span class="fa fa-plus"></span>&nbsp Add dataset</button>
                             
                        </div>
                  </div>
                  <div class="px-2 mt-1 border-top">
                        <button type="button" ng-click="saveResourceParameters()" class="btn btn-sm btn-success my-2">
                                <span class="fa fa-save"></span>&nbsp Save smart contract definition</button>

                           
                  </div>
            </div>
      </div>
</div>  