<div id="notificationDefinitionComponent" class="m-3">
      <div class="mt-1">
            <div class="card row m-0">
                  <div kt-resource-definition resource="resource"></div>
            </div>
            
            <div class="card mt-2">
                  <div class="row m-0 p-2">
                        <div class="col-lg-12 border-right">
                        
				<form ng-submit="saveResourceParameters(form.$valid)" name="form" class="form-horizontal" role="form" novalidate>
           
					<div class="mb-2">
						<span class="bold small border-bottom border-primary p-1 text-primary">Define token properties</span>
                              </div>
					<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.Ticker.$touched) && form.Ticker.$invalid }">
						<label class="" for="Ticker">Ticker</label>
						<div class="">
							<input type="text" ng-model="resource.resourcedeflang_set[0].ParametersLang.Ticker" ng-required="true" class="form-control" id="Ticker" name="Ticker" placeholder="Token ticker" />
							<p ng-show="(form.$submitted || form.Ticker.$touched) && form.Ticker.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.Ticker.$touched) && form.Ticker.$invalid}">Enter token ticker</p>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.Supply.$touched) && form.Supply.$invalid }">
						<label class="" for="Decimals">Supply</label>
						<div class="">
							<input type="number" ng-model="resource.resourcedeflang_set[0].Parameters.Supply" ng-required="true" class="form-control" id="Supply" name="Supply" placeholder="Enter token supply" />
							<p ng-show="(form.$submitted || form.Supply.$touched) && form.Supply.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.Supply.$touched) && form.Supply.$invalid}">Enter token supply</p>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'is-invalid' : (form.$submitted || form.Decimals.$touched) && form.Decimals.$invalid }">
						<label class="" for="Decimals">Number of decimals</label>
						<div class="">
							<input type="number" ng-model="resource.resourcedeflang_set[0].Parameters.Decimals" ng-required="true" class="form-control" id="Decimals" name="Decimals" placeholder="Number of decimals" />
							<p ng-show="(form.$submitted || form.Decimals.$touched) && form.Decimals.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.Ticker.$touched) && form.Ticker.$invalid}">Enter number of decimals</p>
						</div>
					</div>
                               <div class="mt-2">
                                    <label class="label-xs" for="cbInfiniteSupply">
                                          <input type="checkbox" class="mr-2" style="transform:scale(1.25)" name="cbInfiniteSupply" id="cbInfiniteSupply" ng-model="resource.Parameters.TaskCreator"> 
                                          Infinite supply
                                    </label>
                              </div>
                             
                              
                        </div>
                        <div class="col-lg-12">
                              
                        </div>
                  </div>
                  <div class="px-2 mt-1 border-top">
                        <button type="submit" class="btn btn-sm btn-success mr-3 my-2">
                                <span class="fa fa-save"></span>&nbsp Save token definition</button>
				
				<button type="button" ng-click="deployToken()" class="btn btn-sm btn-primary my-2">
                                <span class="fa fa-save"></span>&nbsp Deploy token</button>

                           
                  </div>
		</form>
            </div>
      </div>
</div>  