<div class="mt-4">
  <div class="col-lg-16 m-auto">
    <div class="card mx-4 mt-2 p-1">
      
      <div class="col-lg-24 p-2 text-center text-primary"><i class="{{resource.ResourceType.Parameters.Icon}} text-primary mr-2"></i><span class="bold">{{resource.ResourceType.ResourceName}}</span></div>
                 
      <div class="position-absolute m-2">
                    <a class="mb-2 text-primary" href="" title="Return to pages list" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to previous page</a>
      </div>
    
      <div class="row p-3 m-0 mt-1 border-top">
        <div class="col-lg-20 mx-auto">
                 <div class="form-group">
                    <label class="col-lg-24" for="ResourceId">Id</label>
                    <div class="col-lg-24">
                        <div class="form-control">{{resource.id}}</div>
                    </div>
                </div>
                 
                <div class="form-group">
                    <label class="col-lg-24" for="resourceName">{{resource.ResourceType.ResourceName}} name</label>
                    <div class="col-lg-24">
                       <div class="form-control">{{resource.resourcedeflang_set[0].Name}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-24" for="Subject">{{resource.ResourceType.ResourceName}} subject</label>
                    <div class="col-lg-24">
                        <div class="form-control">{{resource.resourcedeflang_set[0].Subject}}</div>

                    </div>
                </div>                
                  <div class="form-group">
                    <label class="col-lg-24" for="Description">{{resource.ResourceType.ResourceName}} description</label>
                    <div class="col-lg-24">
                         <div class="form-control">{{resource.resourcedeflang_set[0].Description}}</div>
                    </div>
                </div>
                
                  <div ng-if="false" class="form-group">
                    <label class="col-lg-24" for="ddlResourceType">Resource type</label>
                    <div class="col-lg-24">
                       <div class="form-control">{{resource.ResourceType.ResourceName}}</div>
                    </div>
                </div>
                
                 
                   
                  <div class="form-group">
                    <label class="col-lg-24" for="ddlResourceStatus">{{resource.ResourceType.ResourceName}} status</label>
                    <div class="col-lg-24">
                       <div class="form-control">{{resource.Status.name}}</div>
                    </div>
                </div>
             
                  <div class="col-lg-24" ng-if="resource.ResourceType.ResourceCode=='dataset' || resource.ResourceType.ResourceCode=='file'">
                                    <a href  style="text-decoration: none;" >
                                      <i  ng-class="{'fa fa-lock text-success':resource.IsBlockchain, 'fa fa-unlock text-danger':!resource.IsBlockchain}">&nbsp {{resource.ResourceType.name}} is immutable (secured on the blockchain)  &nbsp </i>
                                      <i class="far fa-check-square  text-success" ng-if="resource.IsBlockchain"></i>
                                      <i class="far fa-square text-danger" ng-if="!resource.IsBlockchain"></i>
                                     
                                    </a>
                </div>
            </div>
      </div> 
  </div>
  </div>
</div>