{% extends "base.html" %}
{% block content %}

<form submit="/home" id="loginForm" name="form" class="form-horizontal" role="form" method="POST" novalidate="true">
     <div class="h4">Flask home page</div><br>
     <div>Hello {{current_user.username}}!</div><br><br>
      <div class="form-group controls">
         <div class="row m-0">
            <div class="col p-0">
               <button type="submit"  class="btn btn-primary">
                    <span class="fa fa-lock"></span> Create user table
  
               </button>
            </div>
            <div class="col p-0">
               <a href="/logout"  class="btn btn-primary">
                    Logout
  
               </a>
            {% if messages %}
    
         
                     <div class="alert alert-success">
                         <strong>Message:</strong>
                         <ul>
                             {% for message in messages %}
                                 <li>{{message}}</li>
                             {% endfor %}
                         </ul>
                     </div>
    
            {% endif %}          
         </div>
              
      </div>
</form>

{% endblock %}