{% extends "base.html" %}
{% block content %}

<form submit="/login" id="loginForm" name="form" class="form-horizontal" role="form" method="POST" novalidate="true">
   {% if auth_errors %}
    <div class="row justify-content-md-center">
     <div  class="col-lg-12 p-0">
         
          <div class="alert alert-danger">
              <strong>Error:</strong>
              <ul>
                  {% for message in auth_errors %}
                      <li>{{message}}</li>
                  {% endfor %}
              </ul>
          </div>
      
      </div>
    </div>
  {% endif %}
  <div class="row justify-content-md-center mt-4">

   <div class="col-lg-12 card p-0">
      <div class="card-header text-center"><b class="card-title"><i class="fa fa-lock"></i>&nbsp Please login</b>
                          <div class="text-center d-none">
                              <div class="loader"></div>
                             <b class="card-title" style="vertical-align:middle;color:#3498db">&nbsp&nbsp Logging in...</b>
                          </div>
      </div>
   
      <div class="card-body">
        <div class=""> 
              <div class="form-group">
                        
                           <label   class="mr-1 mb-2" for="username">Username</label>
                                              
                           <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                 <i class="fa fa-user" id="basic-addon1"></i>
                                </div>  
                              </div>
                              <input type="text" id="username" aria-label="Username" aria-describedby="basic-addon1" class="form-control" value="{{ request.form['username'] }}" name="username" placeholder="Username">
                              
                           </div>
                            {% if user_errors %}
                            
                                {% for err in user_errors %}
                                  <span class="text-danger small"> {{ err }}</span>
                                {% endfor %}
                            {% endif %}
                   
                          
              </div>

               <div class="form-group">
                       
                              <label class="mr-1 mb-2" for="password">Password</label>
                          
                       <div class="input-group">
                              <div class="input-group-prepend">
                                 <div class="input-group-text">
                                  <i class="fa fa-key" id="basic-addon2"></i>
                                 </div>
                              </div>
                              <input type="password" on-blur="checkPasswordValidity()" id="password" aria-label="Password" aria-describedby="basic-addon2" class="form-control" value="{{ request.form['password'] }}" name="password" placeholder="Password">
                              
                           </div>
                          {% if pass_errors %}
                            
                                {% for err in pass_errors %}
                                  <span class="text-danger small"> {{err}}</span>
                                {% endfor %}
                            {% endif %}
               
               </div>
  
               <br>
              <div class="form-group controls">
                     <div class="row m-0">
                      <div class="col p-0">
                         <button type="submit" id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Logging in...">
                              <span class="fa fa-lock"></span> Login

                         </button>
                      </div >
                      <div class="col-auto p-0">
                         <a  href="/changepassrequest">Forgot password?</a>
                      </div>   
                         
              </div>
              
              
              
          </div>
       </div>
      </div> 
  </div>
     
</form>

{% endblock %}