{% extends "base.html" %}
{% block content %}


     <div>Logout Flask page</div>
      <div class="form-group controls">
         <div class="row m-0">
            <div class="col p-0">
               <a href="/"  class="btn btn-primary">
                    Go to index
  
               </a>
            </div>
            {% if messages %}
    
         
                     <div class="alert alert-success">
                         <strong>Message:</strong>
                         <ul>
                             {% for message in messages %}
                                 <li>{{message}}</li>
                             {% endfor %}
                         </ul>
                     </div>
    
            {% endif %}          
         </div>
              
      </div>
</form>

{% endblock %}