{% load staticfiles %}
<!doctype html>
<html>
   
    <head>
        <title ng-bind="headTitle">Katalyo | Home</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--<base href="/index/">-->
        <link rel="shortcut icon" type="image/x-icon" href="{% static  'img/favicon.ico' %}" />
       
       <!-- bootstrap v4 css-->
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'modules/0000_common/0003_libs/bootstrap/css/bootstrap.min.css' %}">-->
         <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/build/css/font-awesome/css/all.css' %}" /> 
       <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" /> -->
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/ui-grid.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/build/css/master.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/build/css/main.css' %}" />
        
        
        
        <!-- Latest compiled and minified JQuery.js -->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>-->
        <script src="{% static 'modules/0000_common/0003_libs/jquery.min.js' %}"></script>
        
        <!-- Latest compiled and minified Angular.js -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>-->
         <script src="{% static 'modules/0000_common/0000_angular/angular.js' %}"></script>
         <script src="{% static 'modules/0000_common/0000_vue/vue.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/ui-bootstrap-tpls-3.0.4.min.js' %}"></script>
         <script src="{% static 'modules/0000_common/0001_directives/external/smart-table/smart-table.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/smart-table/mainStyle.css' %}" />
        <script src="{% static 'modules/0000_common/0003_libs/trumbowyg.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/angular-trumbowyg.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/trumbowyg-pasteimage.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/trumbowyg-colors.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'modules/0000_common/0003_libs/trumbowyg.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'modules/0000_common/0003_libs/trumbowyg-color.css' %}">
           <!-- Latest compiled and minified Angular-route.js -->
           <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>-->
         <script src="{% static 'modules/0000_common/0000_angular/angular-ui-router.js' %}"></script>
		<!--  <script type="module" src="{% static 'modules/0000_common/0000_angular/stateEvents.js' %}"></script> -->
           <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js"></script>-->
         <script src="{% static 'modules/0000_common/0000_angular/angular-cookies.js' %}"></script>
           <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>-->
         <script src="{% static 'modules/0000_common/0000_angular/angular-animate.js' %}"></script>
          <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>-->
        <script src="{% static 'modules/0000_common/0000_angular/angular-sanitize.js' %}"></script>
        <!-- Export to pdf  -->
        <!--<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>-->
        <!-- <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>-->
        <script src="{% static 'modules/0000_common/0003_libs/pdfmake.js' %}"></script>
       <!-- <script src="{% static 'modules/0000_common/0003_libs/csv.js' %}"></script>-->
        <script src="{% static 'modules/0000_common/0003_libs/vfs_fonts.js' %}"></script>
        
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
      
       <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0003_libs/ui-select-master/dist/select.css' %}" /> 
       <!--  <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/ui-select/ui-select.css' %}" /> -->
        
        <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/color-picker/color-picker.css' %}" /> 
         <!-- Latest compiled and minified JavaScript -->

       <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!-- DRAGULA-->
      <link rel="stylesheet" type="text/css" href="{% static 'modules/styles/dragula.css' %}" /> 
      <script src="{% static 'modules/0000_common/0002_services/external/dragula.js' %}"></script>
<!-- DRAGULA-->
        
       
       
         
       <script type="module" src="{% static 'modules/0001_modules/0001_index/angularJS/bootstrap.js' %}"></script>
		<!-- 
		<script type="module" src="{% static 'modules/0001_modules/0001_index/angularJS/index.js' %}"></script>
           

	  <script src="{% static 'modules/0001_modules/ctrls/build/angularTemplates/ktroutetemplates.js' %}"></script>
       -->  
	   <script type="module" src="{% static 'modules/0001_modules/0001_index/angularJS/indexCtrls.js' %}"></script>
    <!--   <script type="module" src="{% static 'modules/0001_modules/0001_index/angularJS/katalyoCtrls.js' %}"></script>-->
        <script src="{% static 'modules/0000_common/0003_libs/popper.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/math.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/ui-select-master/dist/select.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/ui-grid/ui-grid.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/ui-uploader/uploader.js' %}"></script>
        <!-- ng-file-upload-->
        <script src="{% static 'modules/0000_common/0001_directives/external/ngFileUpload/ng-file-upload-shim.js' %}"></script> <!-- for no html5 browsers support -->
        <script src="{% static 'modules/0000_common/0001_directives/external/ngFileUpload/ng-file-upload.js' %}"></script>
        
		
		<script src="{% static 'modules/0000_common/0001_directives/external/color-picker/color-picker.js' %}"></script>
        
        <script src="{% static 'modules/0000_common/0001_directives/external/Chartjs/Chart.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/Chartjs/angular-chart.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/Chartjs/Chart.min.css' %}" /> 
        
    <!--    <script src="{% static 'modules/0000_common/0002_services/angularJS/parameters.js' %}"></script>-->
        
        <script src="{% static 'modules/0000_common/0002_services/external/angular-spinners.js' %}"></script>
        
<!-- DRAGULAR-->
<!--      <link rel="stylesheet" type="text/css" href="{% static 'styles/dragular.css' %}" /> -->
      <script src="{% static 'modules/0000_common/0002_services/external/dragular.js' %}"></script>
<!-- DRAGULAR-->



        <script src="{% static 'modules/0000_common/0003_libs/angular-recaptcha.js' %}"></script>
      
       <!-- This is katalyo bundle compiled with Babel and polyfills - uglify not working - should be last I guess-->
       
      <!--  <script type="module" src="{% static 'modules/0001_modules/katalyo_bundle.js' %}"></script>
        <script src="{% static 'modules/0000_common/0004_modules/polyfill.js' %}"></script>
       --> 
        <!-- gulp directives -->
      <!--  <script src="{% static 'modules/0000_common/0001_directives/angularTemplates/build/ktdirectivetemplates.js' %}"></script>-->
       <script type="module" src="{% static 'modules/0000_common/0001_directives/angularJS/build/ktdirectives.js' %}"></script>
	   
        <!-- gulp services -->
        <script type="module" src="{% static 'modules/0000_common/0002_services/angularJS/build/services.js' %}"></script>
        <!-- ES6 modules -->
        <script type="module" src="{% static 'modules/0000_common/0004_modules/authModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/codesModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/errorModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/gridsterModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/interceptorModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/menuModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/messagingModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/processingModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/resourcesDataModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/settingsModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/stateManagerModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/widgetDataExchangeModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/widgetRegisterModule.js' %}"></script>
         <!--gulp ctrls-->
        <!--<script src="{% static 'modules/0001_modules/ctrls/build/ctrls.js' %}"></script>-->
        <script type="module" src="{% static 'modules/0001_modules/0002_auth/angularJS/authCtrls.js' %}"></script>
        <script type="module" src="{% static 'modules/0001_modules/0003_resources/angularJS/resourcesCtrls.js' %}"></script>
        <script type="module" src="{% static 'modules/0001_modules/0004_settings/angularJS/settingsCtrls.js' %}"></script>
        <script type="module" src="{% static 'modules/0001_modules/0005_tasks/angularJS/tasksCtrls.js' %}"></script>
        
    </head>
  
    <body ng-controller="appController as appCtrl" ng-keydown="multiSelectKeyUpDown($event,this)" ng-style="gsrvc.getPaddingForBody()">
    
      <div ui-view="header">
      </div>
       
      <div ui-view="content">    
      </div>
     
      <div ui-view="footer">    
      </div>
    </body>
</html>
