// Katalyo Theme 0.1


// Typography
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}

.tag {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: $text-muted;
  line-height: 1.18;
  letter-spacing: .25px;
  text-transform: uppercase;

  .icon-back {
    fill: currentColor;
    width: 20px;
  }
   
}

.tag.lg {
    font-size: 14px;
 }
  
 .tag.xl {
    font-size: 16px;
  }  




.sticky {
  position: sticky;
  top: $spacer;
}

.hidden {
  display: none;
}
