<div class="kvazibody">
      <style>

        * {
            font-family: Arial, sans-serif;
            color: #26304C;
        }

        div.kvazibody {
            margin: 0;
            display: grid;
            padding: 48px 12% 24px 12%;
            grid-template-columns: 1fr;
            gap: 48px;
        }

        section {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            width: 100%;
            gap: 120px;
        }

        .nowrap {
            white-space: nowrap;
        }

        header {
            display: flex;
            justify-content: center;
        }

        img.katalyo {
            width: 15%;
            max-width:250px;
        }

        a {
            text-decoration: none;
            text-align: center;
            color: #FFF;
            background-color: #302CE5;
            padding: 8px 16px;
            border-radius: 4px;
            width: fit-content;
        }

        a:hover {
            background-color: #1915C3;
            color: #FFF;
            text-decoration: none;
        }

        a:active, a:focus {
            border: 1px solid #302ce5;
            color: #FFF;
            text-decoration: none;
        }

        h1 {
            font-size: 48px;
            font-weight: bold;
            margin: 0;
        }

        p {
            font-size: 24px;
            margin: 0;
            display: inline;
        }

        p.drugi {
            font-size: 20px;;
        }

        div {
            display: grid;
            grid-template-columns: 1fr;
            gap: 16px;
        }

        p.h2 {
            font-size: 36px !important;
            font-weight: bold !important;
            margin: 0;
        }

        .question {
            justify-self: start;
            width: 70%;
        }

        div .buttn {
            display: flex !important;
            justify-content: start !important;
            width: 100%;
        }

        img.atompng {
            width: 50%;
        }

        @media (max-width: 1024px) {

            div.kvazibody {
                padding: 24px 80px 48px 80px;
            }

            img {
                width: 50%;
            }

            section {
                grid-template-columns: 1fr;
                gap: 48px;
            }

            .first {
                grid-row-start: 2;
            }

            .second {
                grid-row-start: 2;
            }

            .question {
            justify-self: center;
            }

            img.katalyo {
                width: 25%;
            }

        }

        @media (max-width: 545px) {

            div.kvazibody {
                padding: 12px 36px 24px 36px;
            }

            img {
                width: 75%;
            }
            
            section {
                gap: 60px;
            }

            h1 {
                font-size: 42px;
                text-align: center;
            }

            p {
                font-size: 16px;
                text-align: center;
            }

            p.h2 {
                font-size: 36px !important;
                text-align: center;
            }

            img.katalyo {
                width: 40%;
            }

            div .buttn {
            justify-content: center !important;
            width: 100%;
            }

        }

    </style>
     <header>
        <img src="/img/Katalyo_final_aqua.png" alt="Katalyo no-code" class="katalyo">
    </header>
    <section>
        <div class="first">
            <h1>Dobrodošli na Katalyo <span class="nowrap">no-code</span> platformu.</h1>
            <p>Vaše mjesto za digitalnu transformaciju i jednostavnu automatizaciju vašeg poslovanja.</p>
            <div class="buttn">
                <a href="https://katalyo.hr/">Saznajte više</a>
            </div>
        </div>
        <img src="/img/atom2.png" alt="Ilustracija atoma" class="atompng">
    </section>
    <section>
        <img src="/img/druga_slika.png" alt="Ilustracija" class="question">
        <div class="second">
            <p class="h2">Tražite aplikaciju Adria fleet management?</p>
            <p class="drugi">Adria fleet management je vaš prvi korak u digitalnoj transformaciji.<br>
                Za prijavu u Adria fleet management pritisnite gumb Prijava.
            </p>
            <div class="buttn">
                <a href="/login">Prijava</a>
            </div>
        </div>
    </section>
</div>
