<div class="col-lg-24">
        
                
  <div id="alert" class="app-msg-container justify-content-center" app-messages message-list="ac.alerts"> </div> 
  
  <div class="fixed-top d-flex justify-content-center" style="z-index:2030;margin: auto">
        <div class="" kt-activity message="'Processing request...'"></div>
  </div>
    
 <!-- <div ng-if="showSideMenu" ng-class="{'col-lg-4 p-0 pl-1 pt-3':menu_service.getSideMenuSize(),'col-auto p-0 pl-1 pt-3':!menu_service.getSideMenuSize()}">
    
         <div class="sticky menu-sticky-pos" ng-style="gsrvc.getTopForSticky(5)" ui-view="menu">        
         </div>            
  </div>-->
<div id="content" ui-view="contentR"></div>


</div>