 <div class="d-flex justify-content-center" style="margin-top: -50px;">
 
  <div class="col-lg-14 m-auto">

    <div class="my-3">
      <div class="" >
         <div class="text-center p-4">
     <!--   <img src="/img/Katalyo_final_aqua.png" style="
                width: calc(60px + 3vw);
                margin-top:20px;
            ">-->
            <img src="/img/404.png" style="
                width: calc(200px + 30% );
                margin-top:10%;
            ">
         <div style="font-family: Roboto;
              font-size: 40px;
              font-weight: bold;
              color:#19a3b8;
              text-align: center;
              margin-bottom: 3rem;"
              >Ooops!</div>

         <div ng-if="errorMsg" class="text-center alert alert-danger"><h4>{{errorMsg}}</h4></div> 
    <div class="text-center"> <i class="fa fa-exclamation-triangle fa-2x mr-3 text-danger"></i> 
     <span class="h3 text-danger">You must have taken the wrong turn somewhere.</span><br><br>
        <span class="h3 mt-2"> Path {{params.path}} does not exist!</span></div>

            <div class="text-dark" style="margin-top: 5%;">
              <span class="h4 mx-4"><a ui-sref="app.signup">Sign up</a> for Katalyo</span> 
              <span class="h4 mx-4">Go to <a ui-sref="app.login"> login page</a></span>
              <span class="h4 mx-4">Visit our <a href="https://www.katalyo.com">website</a></span>
            </div>
         </div>
      </div> 
      
   </div>