<!--<div class="col-lg-24" ng-if="gsrvc.showFooter"> --> 
<div class="row footer border-top" ng-if="false">
    <div class="col-lg-24" ">  
            <div class="d-inline-block bg-white rounded px-1">
              <!--  <img src="/img/favicon.ico" />  <a href="https://www.katalyo.com" class="small"> Built on KATALYO   </a>-->
            </div>
    </div>
</div>
