<div class="mx-4 my-2">

    <div class="row m-0 mt-3 card">
     
        <div  class="p-2 col">
            <p ng-show="extendedUser.Params.Onboarding=='Completed'" style="font: 20px Helvetica, sans-serif; color: #107896;"><b>Hi {{ currentUserFirstName}} , good to see you back!</b>
             <a class="float-right" href="" ng-click="extendedUser.showCustomHome=!extendedUser.showCustomHome;"><i ng-if="!extendedUser.showCustomHome" class="fa fa-lock"></i><i ng-if="extendedUser.showCustomHome" class="fa fa-unlock"></i></a> 
            </p>
            <div  ng-show="extendedUser.Params.Onboarding!='Completed'">
                <div class="col-24 text-center">
                    <p class="" style="font: 36px IBM Sans Plex, sans-serif; color: #107896;"><b>Welcome to Katalyo!</b></p>
                </div>
                <div class="row m-0">
                    <div class="col-auto text-center">
                        <img width="50%" src="/static/img/resource_dude.png">
                    </div>
                    <div class="col" style="font: 16px IBM Sans Plex, sans-serif; color: #107896;">
                        <p style="font: 24px Helvetica, sans-serif; color: #107896;">Bring in the resources! </p>
                        <p>It's always good to start with the introduction of the main concept for building applications with Katalyo! </p>
                        <p>Say hello to <b>RESOURCES</b>, the main building blocks of Katalyo platform. </p>
                        <p>You will define, setup and integrate many different resources to build all the pretty features of your applications.</p>
                        <p>Datasets, tasks, notifications or files are just a few of the resource types available and even an application itself is a resource. <a href="/learn-resources">(Learn more about resources)</a></p>
                        <p  style="font: 20px IBM Sans Plex, sans-serif; color: #107896;"> Enough talk, lets start building and the best way to start is to create your first resource, a brand new application!</p>
                    </div>
                </div>
               
            </div>
       </div>
     <div ng-show="!extendedUser.HideCustomizeHome|| extendedUser.showCustomHome" class="col-lg-24" style="background-color:#eef1fa">
        <div  class="mt-1 text-center">
      
         <p ng-show="!extendedUser.HideCustomizeHome || extendedUser.showCustomHome" class="" style="font: 16px Helvetica, sans-serif; color: #8999c6;">You can customize your home page to fit your needs by clicking on a lock above! <!-- color:#34495e-->
         </p>
         <div ng-if="extendedUser.showCustomHome">
          <!-- <button type="button" class="btn btn-success" ng-click="saveHomePage()"><i class="fa fa-check"></i>&nbspSave</button>-->
                 <div class="row m-0 " style="padding-bottom: 1rem;justify-content: center; color: #8999c6">
                    <div class="custom-control custom-checkbox">
                        <input ng-change="saveHomePage();" type="checkbox" class="custom-control-input" ng-model="extendedUser.HideCustomizeHome" id="HideCustomizeHome">
                        <label   class="custom-control-label" style="font: 16px Helvetica, sans-serif; color: #8999c6;" for="HideCustomizeHome">Got it ! Hide the message!</label>
                    </div>     
                </div>
         
         </div>
                
         
        </div>
        
      </div>
    </div>
    
    <div class="row m-0 mt-1">
      <div ng-if="!extendedUser.HideCreateResourceHome" class="col mr-1 card">
              <div  class="row m-0 py-1">
               
                  <div class="text-center col-lg-9">
                    <h5 style="color:#107896;">Build new application</h5>
                    
                    <i class="fa fa-globe fa-4x" style="color:#107896;"></i>
                  
                  </div>
                  <div class="col-lg-15">
                    <p>If you want to build a new application click on Build new application button </p> 
                    
                    <button type="button" class="btn btn-sm btn-info mb-2" ui-sref="app.menu.resources.new({'navbar_id':9,'sidemenu_id':19,'resource_type':'application'})">Build new application</button>  
               
                 </div>
            </div>
       </div>
        <div class="col-auto mx-1 my-auto">
            <h3 style="color:#107896;">OR</h3>
        </div>
        <div ng-if="!extendedUser.HideSearchResourceHome" class="col ml-1 card">
               <div  class="row m-0 py-1">
               
                  <div class="text-center col-lg-9">
                      <h5 style="color:#107896;">Search applications</h5>
                      <i class="fa fa-search fa-4x" style="color:#107896"></i>
                    
                  </div>
                  <div class="col-lg-15">
                    <p>If you want to work with existing applications click on Search applications button </p> 
                    <button type="button" class="btn btn-sm btn-info mb-2" ui-sref="app.menu.resources.list">Search applications</button>  
                   
                  </div>
            
              </div>
         </div>
    </div>
    
    <div class="row m-0">
        <div ng-show="extendedUser.showCustomHome" class=" col-lg-24 card">
            <div  class="row m-0 ">
              <div class="text-center col-lg-16">
                  <h4 style="color:#107896;">Customize your home page</h4>
                  
                  <i class="fa fa-wrench fa-4x" style="color:#107896;"></i>
                
              </div>
              <div class="col-lg-20">
                <p>To customize home page add any task</p> 
                
                 <ui-select ui-select-multiple-list ng-model="extendedUser.TaskListHome" on-select="taskSelected($item,$model)" ng-disabled="disabled" name="tasks" ng-required="false" reset-search-input="false" > 
                    <ui-select-match class="ui-select-match" placeholder="Search or select task...">
                      <span>{{$select.selected.name}}
                        <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times float-right"></i></a>
                      </span>
                    </ui-select-match>
                    <ui-select-choices class="ui-select-choices" repeat="task in (taskList | filter: { name: $select.search }) track by task.id" refresh="refreshResults($select)" refresh-delay="0">
                      <span>{{ task.name }}</span>
                    </ui-select-choices>
                </ui-select>
               
                <div class="row m-0 pt-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" ng-model="extendedUser.HideCreateResourceHome" id="HideCreateResourceHome">
                        <label class="custom-control-label" for="HideCreateResourceHome">Hide 'Create new resource'</label>
                    </div>     
                </div>
                
                 <div class="row m-0 pt-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="HideSearchResourceHome" ng-model="extendedUser.HideSearchResourceHome" ng-required="false" id="HideSearchResourceHome">
                        <label class="custom-control-label" for="HideSearchResourceHome">Hide 'Search resources'</label>
                    </div>
                </div>
                
                 <div class="row m-0 pt-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="HideAppsHome" ng-model="extendedUser.HideAppsHome" ng-required="false" id="HideAppsHome">
                        <label class="custom-control-label" for="HideAppsHome">Hide #Apps</label>
                    </div>
                </div>
                 
             </div>
              <div class="col-lg-8 pt-3 pb-3">
                <button type="button" class="btn btn-success" ng-click="saveHomePage()"><i class="fa fa-home"></i>&nbspSave home page</button>  
              </div>
             </div>
          </div>
     
    </div>
</div>

<div class="row  mx-4 mt-1" ng-if="!extendedUser.HideAppsHome">
  <div  class="col-lg-24 card" style="background-color:#eef1fa">
       <div  class="mt-1" >
        <p class="" style="font: 20px Helvetica, sans-serif; color: #8999c6;"><b>Check out these #Apps powered by Katalyo!</b>
        </p>
        <p class="" style="font: 14px Helvetica, sans-serif; color: #8999c6;">To create #Apps in Katalyo all you need to do is assign #hashtags to tasks.
        </p>
       </div> 
  
  </div>
</div>

<div class="row mx-4 mt-1" ng-if="!extendedUser.HideAppsHome">
   <div ng-repeat="app in appList track by app.id" class="col p-0 m-0 mt-1" ng-class="{'pr-1':appList.length>$index+1}">
       <div  class="card p-1 text-center">
        <p class="" style="font: 16px Helvetica, sans-serif;"><b>#{{app.name}}</b></p>
        <div>
         <button type="button" class="btn btn-outline-primary" ng-click="loadApp(app)"><i class="fa fa-rocket"></i><span class="ml-2">Launch {{app.name}}</span></button>
        </div>
       </div> 
  
  </div>

</div>

<div class="row m-0">
      <div class="col-lg-24 px-4">
        <div ng-hide="gsrvc.getOpenTaskInNewPage()" ng-repeat="td in localVars.loadedTasks track by td.taskId">
      
           <div kt-task-proc-directive fd="fd" task-definition="taskDefinition" local-vars="td.localVars"></div> 
        
        </div>  
      </div>
      <div class="col-lg-24 px-4" ng-if="gsrvc.getOpenTaskInNewPage()" ng-init="openTaskInNewPage()">
        <div class="collapse" ng-class="{'show':gsrvc.getOpenTaskInNewPage()}">
        	<div kt-task-proc-directive fd="fd" local-vars="openedTaskInNewPage.localVars" task-definition="openedTaskInNewPage.taskDefinition"></div>
        </div>
      </div>
</div>