<div class="">
    <div class="row">
                
                <div ng-if="!extendedUser.use_blockchain" class="col-lg-20 m-auto p-4">
                    <div class="h3 bold text-center m-3" style="color: #707070">Welcome {{currentUserFirstName}}!</div>
                </div>
                <div ng-if="extendedUser.use_blockchain" class="col-lg-20 m-auto p-4">
                    <div class="h3 bold text-center mb-3" style="color: #707070">Welcome {{currentUserFirstName}}!</div>
                    
                    <div class="row m-0 my-4">
                        
                        <div class="col-lg-20 m-auto border rounded shadow-sm bg-white p-3 text-center">
                            
                            <div ng-if="linkedBlockchainAddress">
                                <div ng-if="!balanceChecked">
                                   <div kt-processing-animation show-msg="true" message="Checking balance"></div>
                                </div>
                                
                                <div ng-if="balanceChecked">
                                   <div class="h6" style="color: slategrey;">
                                         <span class="bold mr-2">CONNECTED ADDRESS: </span> <span class="bold text-primary">{{fd.eth_address}}</span>
                                   </div>
                                   
                                  
                                   <div class="h5" style="color: slategrey;">
                                         <span class="bold">   {{balance_ktlyo}}</span> <span class="small">   {{block_ktlyo}}</span>
                                   </div>
                                   <i class="fa fa-check-circle fa-3x text-success" title="Blockchain features are enabled!" ng-if="ktlyo_balance_ok"></i>
                                   <div ng-if="!ktlyo_balance_ok">
                                        <i title="Blockchain features are disabled!" class="fa fa-times fa-3x text-danger"></i>
                                        <div class="ml-2 text-danger bold">{{ktlyo_balance_msg}}</div>
                                        <div class="small text-dark">To use Katalyo's web3 features you must connect Ethereum address with a minimum balance of 100 KTLYO!</div> 
                                        <span class="small text-dark mr-2">Please transfer KTLYO to selected address or</span> 
                                        <button type="button" class="btn btn-sm btn-outline-primary" ng-click="changeWeb3WalletLinkStatus(false)">Change KTLYO address</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!linkedBlockchainAddress">

                                <div kt-web3-wallet></div>
                                <div>
                                   <span  class="small text-dark">To use Katalyo's web3 features you must connect Ethereum address with a minimum balance of 100 KTLYO</span>
                                </div>
                                
                            </div>
                            
                             <div class="border-top my-4 py-4" ng-if="fd.web3Connected && ktlyoAddressConnected">
                        
                              
                                <div>
                                    <div class="h6">
                                          <span class="bold">Connected address: </span>  {{fd.eth_address}}
                                    </div>
                                    <div class="h5">
                                             <span class="bold text-primary">{{balance_ktlyo}}</span> <i class="ml-2 fa fa-check-circle text-success" ng-if="ktlyo_balance_ok"></i> <span class="ml-2 small text-danger" ng-if="!ktlyo_balance_ok">({{ktlyo_balance_msg}})</span>
                                    </div>
                                </div>
                                <div ng-if="savingWeb3Link">
                                       <div kt-processing-animation show-msg="true" message="Saving organisation address"></div>
                                </div>
                                <div>
                                       <button type="button" ng-disabled="!ktlyo_balance_ok" class="btn btn-outline-success" ng-click="saveBlockchainAccount()"><i class="mr-2 fa fa-save"></i>Save connected address</button>
                                </div>
                         
                        
                            </div>
                        </div>
                        
                    </div>           
        </div>
    </div>
    

    <!-- applications-->
   <div class="">
    <div class="col-lg-16 m-auto border rounded shadow-sm bg-white">
        <div class="row m-2" >
            <div class="col-lg-24">
                <div class="row mt-1">
                    <div class="col-lg-24 border-bottom">
                        <div class="row mt-1">
                            <div class="col p-0">
                                <ul class="nav nav-tabs border-0 simple-tabs" id="myAppsTab" role="tablist">
                                    
                                    <li class="nav-item bold">
                                      <a class="nav-link" ng-click="params.showAppList=1" ng-class="{'active show':params.showAppList==1}" href id="all_tab" data-toggle="tab" role="tab" aria-controls="all_apps" aria-selected="true">
                                        My apps
                                      </a>
                                    </li>
                                    <li class="nav-item bold">
                                      <a class="nav-link" id="my_tab"  ng-class="{'active show':params.showAppList==2}" ng-click="params.showAppList=2" href data-toggle="tab" role="tab" aria-controls="my_apps" aria-selected="false">
                                        Search apps
                                        
                                      </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto">
                                <a ui-sref="app.menu.resources.new({resource_type:'application'})" class="btn btn-outline-primary border-0 mt-1">
                                Create new application <b class="" > + </b>
                                </a>
                            </div>
                        </div>
                   </div>
                </div>
                
                <div ng-if="params.showAppList==1" class="row my-4">
               
          
                <div ng-hide="appList.length">No items found</div>

                    <div  ng-repeat="app in appList track by app.id" class="col-lg-6 col-sm-12 col-xs-24 p-0"
                  
                         ng-if="app.ActiveSub">
                         
                                          
                       
                        <div class="p-1">
                            <div class="shadow-sm border rounded text-center m-1">
                                    <div  style="line-height:1.5rem;" class="">
                                    
                                        <div class="row m-0">
                                            <div class="col p-1 text-left my-auto" style="min-height: 130px;">
                                               
                                                <div class="row mx-1">
                                                    <div class="col px-0">
                                                            <a ng-if="!app.subscribing" class="small" href ng-click="subscribe_unsubscribe(app,$index,'unsubscribe')">Unsubscribe</a>
                                                            <span ng-if="app.subscribing" class="small text-primary"><i class="fa fa-cog fa-spin mr-1"></i>Unsubscribing...</span>
                                                    </div>
                                                    <div class="col-auto px-1">
                                                            <a class="small" ui-sref="app.navbar.resources.view({id:app.id,prev_state:'app.navbar.home'})">Info</a>
                                                    </div>
                                                    
                                                </div>
                                            
                                                
                                                <div class=" text-center m-2">
                                                  <!--  <i class="fa fa-cog fa-2x text-black-50" style="text-align: center;"></i>-->
                                                </div>
                                               
                                                <div class="my-3">
                                                    <div class="h5 text-center">
                                                        <span ng-if="app.loadingApp!=true" style="font-weight: bold;color:#6f7ec7">{{app.Name}}</span>
                                                        <div ng-if="app.loadingApp==true"><div class="loader"></div></div>
                                                    </div> 

                                                  
                                                    <div class=" text-center">
                                                        <span ng-if="app.loadingApp!=true" class="small">Created by {{app.OrgName}}</span>
                                                        <span ng-if="app.loadingApp==true" class="small">Starting {{app.Name}}...</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        <div class="row m-0 p-1">
                                             <button type="button" ng-disabled="app.loadingApp==true" class="btn btn-success btn-sm w-100" ng-click="loadApp(app)">
                                                    <i class="fa fa-rocket {{app.Params.Icon}}"></i>
                                                    <span class="ml-3">Start</span>

                                                </button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
                <div ng-if="params.showAppList==2" class="row my-4">
                    
                    
                    <div class="col-lg-24 mb-4">
                            <div>
                                    
                                <input type="text" ng-model="resource.Name" ng-change="searchApplications(1,12)" ng-model-options={debounce:1000} class="form-control form-control-lg shadow-sm pr-5" id="Name" name="Name" placeholder="Browse applications" />
                                <i ng-if="!resourceLoading" style="position: absolute; right: 0; margin-right: 25px;margin-top: -30px;" class="fa fa-search text-light"></i>   
                                <div ng-if="resourceLoading" style="position: absolute; right: 0; margin-right: 25px;margin-top: -35px;" class="loader"></div>
                            </div>
                            
                            <div ng-if="false" class="input-group">
                                <input type="text" ng-model="resource.Name" ng-change="getResourceDef(1,resource_page_size)" ng-model-options={debounce:1000} class="form-control form-control-lg shadow-sm" id="Name" name="Name" placeholder="Browse applications" />
                                <div class="input-group-append">
                                 <span class="input-group-text">
                                    <i class="fa fa-search text-light"></i>
                                 </span> 
                                </div>
                            </div>
                           
                                     
                    </div>
                    
                    
                    <div ng-repeat="app in appList track by app.id" class="col-lg-6 col-sm-12 col-xs-24 p-0"
                        ng-if="!app.ActiveSub" ng-show="([app.Name] | filter:resource.Name).length">
                        <div class="p-1">
                            <div class="shadow-sm border rounded text-center m-1">
                                    <div  style="line-height:1.5rem;" class="">
                                        <div class="row m-0">
                                            
                                            <div class="col p-1 text-left">
                                            
                                                <div class="row m-0 ">
                                                 <!--   <div class="col-auto px-0">
                                                        <span style="font-weight: bold;color:#6f7ec7">{{app.resourcedeflang_set[0].Name}}</span>
                                                           
                                                    </div>-->
                                                   
                                                    <div class="col mx-2 px-0 text-right">
                                                            <a class="small" ui-sref="app.navbar.resources.view({id:app.id,prev_state:'app.navbar.home'})">Info</a>
                                                    </div>
                                                </div>
                                                 <div class="fnt10 text-center mt-2">
                                                         <span style="font-weight: bold;color:#6f7ec7">{{app.Name}}</span>
                                                           
                                                 </div>
                                                 
                                                    <div class="text-center mb-3">
                                                        <span class="small muted">Created by {{app.OrgName}}</span>
                                                 </div>
                                                 
                                                <div class="row mx-0 mt-2">
                                                    <div class="col p-0">
                                                        <button type="button" class="btn btn-secondary btn-sm w-100" ng-click="subscribe_unsubscribe(app,$index,'subscribe')">
                                                            <span ng-if="!app.subscribing">Subscribe</a>
                                                            <span ng-if="app.subscribing"><i class="fa fa-cog fa-spin mr-1"></i>Subscribing...</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-24 m-auto text-center" ng-if="resourceData.length==0 && firstQuery">
                        <i class="far fa-folder-open fa-4x text-success"></i>
                        <div class="text-success h4">No applications found!</div>
                    </div>
                    <div class="col-lg-24 px-1 text-center my-4" ng-if="!hideBtnMore && firstQuery">
                       
                            <button type="button" class="btn btn-secondary col-lg-12 col-xs-24 border-primary" ng-click="loadMoreResource()">
                                <i ng-if="!resourceLoading" class="fa fa-plus"></i>
                                <span ng-if="!resourceLoading" class="ml-2">Load more</span>
                                <span ng-if="resourceLoading" class="loader ml-3"></span>
                                <span ng-if="resourceLoading">Loading...</span>
                            </button> 
                       
                    </div>    
                    
                    
                </div> 
                
                
            </div>
        </div>
        
      
        <div class="row m-2" ng-if="params.showAppList==1">
            <div class="col-20 text-center" ng-if="appList.length==0">
                        <i class="fa fa-minus-circle fa-4x text-warning"></i>
                        <div class="text-warning h4 mt-3">You're not subscribed to applications</div>
                        <div class="text-dark h6 mt-3">Click on <a href ng-click="params.showAppList=2" class="px-1" >All apps</a> to subscribe to applications</div>
            </div>
        </div>
        <div class="row m-2" ng-if="params.showAppList==2">
            <div class="col-20 text-center" ng-if="appListFull.length==0">
                        <i class="fa fa-minus-circle fa-4x text-primary"></i>
                        <div class="text-primary h4 mt-3">There are no applications in your organisation!</div>
                        <div class="text-dark h6 mt-3">It's time to <a ui-sref="app.menu.resources.new({resource_type:'application'})" class="px-1" >Create new application +</a></div>
            </div>
        </div>
       
        </div>
    </div>
    <!-- end applications-->   
</div>
