{% load staticfiles %}
<!doctype html>
<html>
   
    <head>
        
        <title >Katalyo | Next generation Zero-code platform powered by EOS | How it works</title>
        	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

          <meta itemprop="name" content="Katalyo | Low-code | EOS | Blockchain " />
          <meta itemprop="description" content="Katalyo | Low-code | Zero-code | Task management | Blockchain | Cloud | SaaS | EOS" />
        
        <!--<base href="/index/">-->
        <link rel="shortcut icon" type="image/x-icon" href="{% static  'favicon.ico' %}" />
       
         <!-- Latest compiled and minified CSS -->
     
       <link rel="stylesheet" type="text/css" href="{% static  'Css/bootstrap.min.css' %}">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
         <script type="text/javascript">
            
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-27063178-1']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
          <style>
            /*body { padding: 20px; background-color:#A9D0F5 ; background-image: url('/static/imageedit_9_6563656277.png');opacity: 0.9;filter:(opacity=90)}*/
            body { padding: 20px; background-color:white ; background-image: url('/static/imageedit_9_6563656277.png');opacity: 0.9;filter:(opacity=90)}
            .content{}
            h1 { font-size: 50px; }
            body { font: 16px Helvetica, sans-serif; color: #222; }
            article { position:relative; top:60px; text-align: left;}
            .fcolor{color:orange}
            a { color: #dc8100; text-decoration: none; }
            a:hover { color: #0B0B61; text-decoration: none; }
           /* .navbar-default { padding:5px;background:linear-gradient(#eee,#fff)}*/
           .navbar-default {background:linear-gradient(#eee,#ddd)}
           .img-center {"display:block;margin-left:auto;margin-right:auto;"}
       
           /*background-image: url('/static/Katalyo_background.jpg')} #dc8100*/
          </style>
        
     </head>
  
  <body>
   
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div  class="navbar-header">
           <img width="150"  src="/static/Katalyo_name_transparent.png"></img>
              
           
      </div>
    
        
          
          <ul  class="nav navbar-nav navbar-right">
             
            <li><a href="/landing"><i class="fa fa-home"></i> Home </a></li>
              
          </ul>
    
    
    </div>
   
  </nav>
      <div class="content">
          <article>
           <h1 class="fcolor">How it all works</h1>
          
          <br>
          <div>
           h4 class="tag">&lt;The mission/&gt;</h4>
          <p>Katalyo is on a mission to empower people and provide them with the tools to build enterprise grade applications, even if they do not have the necessary coding skills.  
          Why are we doing this or what problem are we trying to solve?
          There is saying that software developers are people with a magical skill of turning coffee into code. The demand for new application is huge and there's either not enough coffee or developers in the world to bring all innovative solution to life. 
          Katalyo has the solution in the form of the next generation low-code platform powered by the EOS blockchain.</p>
          <br>
          <h4 class="tag">&lt;What is different about Katalyo?/&gt;</h4>
               <p>
            Katalyo is built in a way to mimic real life and deliver automation where the work is being done. In our daily lives we use various resources to achieve desired results. For example resources like raw materials or parts are used to build all kind of products. In a services industry things are not so tangible however also various resources are used to provide a service.
            For that reason the main building block of Katalyo system is a resource. The system provides the tools to create and manage different types of resources like datasets, files or notifications for example. There is however a special type of a resource and that is work i.e. a task which has the ability to transform other resources and enable creation of workflows.  
            With this simple concept people with different backgrounds and skills can easily design and develop various applications without writing a single line of code. This approach takes productivity to a new level even for software developers however the main benefit comes from increasing the pool of people that are able to deliver new functionality and ideas to life.  
             </p>
        <br>
         
         <h4 class="tag">&lt;Why blockchain?/&gt;</h4> 
           <p>
            Blockchain is the most hyped technology in the world today and some are trying to apply the blockchain as the solution to every problem. At Katalyo we strongly believe that blockchain is a revolutionary technology that will transform many aspects of our lives in the future
            however it can not be applied as a solution to every problem. With that being said Katalyo is using a blockchain to introduce a token that is used to enable a rewarding system and enable and drive a marketplace where people can build various features and services on the platform and be rewarded in the form of Katalyo token.
            In addition the blockchain is used to enable advanced data management services like data immutability. This essentially means that data managed in the system can be tracked and managed on the blockchain for cases where data immutality feature is required which will enables a new level of both transparency and security of the data.
            </p>
         <br>
           
        <h4 class="tag">&lt;Why EOS blockchain?/&gt;</h4> 
           <p> EOS was the blockchain technology of choice due to it's 3.0 features however two main features stand out and those are high transaction throughput and zero transaction fees for the end users.
                  </p>
              
           </div>
          
       </article>
    </div> 
  </body>
</html>
