{% load staticfiles %}
<!doctype html>
<html>
   
    <head>
        
        <title >Katalyo | Next generation Zero-code platform powered by EOS</title>
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta itemprop="name" content="Katalyo | Low-code | EOS | Blockchain " />
        <meta itemprop="description" content="Katalyo | Low-code | Zero-code | Task management | Blockchain | Cloud | SaaS | EOS" />

       <link rel="shortcut icon" type="image/x-icon" href="{% static  'img/favicon.ico' %}" />
       <script src="{% static 'modules/0000_common/0003_libs/jquery.min.js' %}"></script>
       <script src="{% static 'modules/0000_common/0003_libs/bootstrap.min.js' %}"></script>
       <link rel="stylesheet" type="text/css" href="{% static  'Css/bootstrap.min.css' %}" /> 
       <link rel="stylesheet" type="text/css" href="{% static  'Css/main.css' %}" />
       <link rel="stylesheet" type="text/css" href="{% static  'Css/navbar.css' %}" />
      
       <script type="text/javascript">
            
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-27063178-1']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
      
     </head>
  
  <body>
   
 
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">  
    <div class="container-fluid" >
      <div  class="navbar-header" >
        <img  class="navbarimg" src="/static/img/Katalyo_name_transparent.png"></img>
        <button type="button" class="navbar-toggle float-right" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>    
      </div>
    
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul  class=" nav navbar-nav navbar-right" >
                <li ><a class="fntsize1" style="top: 0.5vw;" href="/how-it-works"> Home </a></li>
                 <li ><a class="fntsize1" style="top: 0.5vw;" href="/how-it-works"> About us </a></li>
                 <li ><a  class="fntsize1" style="top: 0.5vw;" href="/how-it-works"> Team </a></li>
                 <li ><a  class="fntsize1" style="top: 0.5vw;" href="/how-it-works"> Community </a></li>
                <li ><a  class="fntsize1" style="top: 0.5vw;" href="/how-it-works"> Roadmap </a></li>
                <li style="    padding-top: 5px;"><button type="button" class="fntsize1 btn-menu-cls"> Try it Now! &nbsp &#10095</button></li>
          </ul>
      </div>
    
    </div>
   
  </nav>
  
      <div class="content">
      
       <div class="row" style="height:14vw">
       
      </div>
      
        <div class="row">
                <div class="col-xs-2 col-lg-8 col-md-2 fcolor title"> 
                </div>
                
                <div class="col-xs-4 col-lg-8 col-md-4 fcolor title"> 
           
                      <div>
                         <!-- <h1>Welcome to the next generation low-code platform</h1>-->
                          <div class="fntsize2" >Build applications.</div>
                          <div class="fntsize2" >Earn rewards.</div> 
                          <div class="fntsize2" >No coding.</div>
                      </div>
                                          
                      <div >
                       <img style="height:12vmin" src="/static/img/POWERED_BY_EIOS.png"></img> 
                      </div>
                      
                     <div class="fntsize0" style="margin-top:50px" >Katalyo is the next-generation low-code platform  </div>
                    
                      <div style="margin-top:10px">
                                     
                      <div style="margin-top:10px"><button type="button" class="fntsize1 btn-learn-more">Learn more &nbsp &#10095 </button>  </div> 
                      
                     </div>      
                
                </div>
               
               <div class="col-xs-5 col-lg-10 col-md-5" >
                       <img  class="img-responsive" style="margin-left: 20px;" src="/static/img/home-main-image-LQ.png"></img> 
                </div>
                
                 <div class="col-xs-1 col-lg-8 col-md-1 fcolor title"> 
                </div>
                
           </div>
    
            <div class="row why-diff fcolor-blue " style="display:flex;justify-content:center;align-items:center;top:50px">
                      <div class="col-xs-2 col-lg-8 col-md-2 " style="top: 4vh;"> 
                       <img class="img-responsive" style="position:relative;max-width: 20vmin;" src="/static/img/signup-dude.png"></img> 
                       </div>
                       <div class="col-xs-8 col-md-8 col-lg-8  fntsize2" style="padding-left:80px;text-align: center;">Welcome to Katalyo! </div>
                       <div class="col-xs-2 col-lg-8 col-md-2 "> </div>
            </div>
            
            
             <div class="row " style="height: 10px;">
                      <div class="col-xs-3 col-lg-6 col-md-3" >
                             
                       </div>   
            </div>     
            
            
            
           <div class="row marketplace" >
                 
                 <div class="col-xs-12 col-lg-24 col-md-12">
                 
                     <div class="row" style="margin-bottom: 100px;">
                     
                        <div class="col-xs-3 col-lg-6 col-md-3">
                        </div>   
                      
                         <div class="col-xs-5 col-lg-10 col-md-5 " style="top: -2vmin;    left: -4vmin;"> 
                                  <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh;text-shadow: 2px 2px 4px #000000;"> This is Katalyo community </div>
                                 <div class="fcolor fntsize1" >Katalyo is building a community and a marketplace for creators and consumers</div>
                                 <div class="fcolor fntsize1" style="" >Both creators and consumers a working with Katalyo using a three simple steps</div>
                         </div>
                           
                         <div class="col-xs-4 col-lg-8 col-md-4"> 
                                <span class="dot"></span>
                                 <span class="ring"></span>
                          </div>
                      </div>             

                 
                     <div class="row" style="display:flex;justify-content:center;align-items:center;margin-bottom: 50px;">
                            <div class="col-xs-3 col-lg-6 col-md-3"> 
                                  <span class="bigdot"></span>
                                  <span class="dot"></span>
                                   <span class="ring"></span>
                            </div>
                            
                            <div class="col-xs-4 col-lg-6 col-md-3" style="    top: 1vh;"> 
                                   <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh" >Consumers</div>
                                  <div class="fcolor fntsize1" style="padding-bottom: 1vh;text-shadow: 2px 2px 4px #000000;">Consumers are utilising the power of Katalyo community and marketplace</div>
                                  <div class="fcolor fntsize1" style="padding-bottom: 1vh;text-shadow: 2px 2px 4px #000000;">Start working immediately</div>
                            </div>
                             <div class="col-xs-4 col-lg-10 col-md-5" >
                                   <img class="img-responsive" style=""  src="/static/img/consumers-LQ.png"></img> 
                            </div>    
                            
                             <div class="col-xs-1 col-lg-8 col-md-1" >
                                  
                            </div> 
                      </div>
                 

                    <div class="row" >
                            <div class="col-xs-2 col-lg-8 col-md-2" >
                                  
                            </div>  
                            <div class="col-xs-4 col-lg-8 col-md-4" style="">
                                   <img class="img-responsive" style="display: block; margin-left: auto;margin-right: auto" src="/static/img/home-main-image-LQ.png"></img> 
                            </div> 
                            <div class="col-xs-3 col-lg-6 col-md-3" style="top:40px;    left: -20px"> 
                                   <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh" >Creators</div>
                                  <div class="fcolor fntsize1" style="">Creators are working and creating</div>
                                  <div class="fcolor fntsize1" style="">Start working immediately</div>
                            </div>
                            
                             <div class="col-xs-1 col-lg-8 col-md-2"> 
                                  <span class="dot"></span>
                                  <span class="ring"></span>
                            </div>   
                      </div>   
                        
                      <div class="row" style="padding-bottom: 100px" >
                        
                            <div class="col-xs-4  col-md-4 col-lg-8"> 
                                <div class="row" style="margin:0;margin-top:10px;">
                                      <div class="dot"></div>
                                 </div>
                                <div class="row" style="margin:0;margin-top:10px;">
                                      <div class="ring"></div>
                                 </div>   
                                <div class="row" style="margin:0;margin-top:10px;">
                                      <div class="bigdot"></div>
                                </div>  
                            </div>
                            
                            <div class="col-xs-3 col-md-3 col-lg-6 " style="top:150px;"> 
                                   <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh" >Market</div>
                                  <div class="fcolor fntsize1" style="">Marketplace enables all participants to...</div>
                                  <div class="fcolor fntsize1" style="">Start working immediately</div>
                            </div>
                             <div class="col-xs-4 col-md-4 col-lg-8 " style="top:150px">
                                   <img  class="img-responsive" src="/static/img/signup.png"></img> 
                            </div>  

                            <div class="col-xs-1  col-md-1 col-lg-8" >       
                            </div>                               
                      </div>
                      
                      
                  <div class="row features-top fcolor-blue fntsize1 text-center" >         
                    <div class="col-lg-24 col-md-12 col-xs-12" style="padding-right:0px;    top: 100px"> 
                        <img class="img-responsive" src="/static/img/features-top.png"> </img>                     
                    </div>
                    
                   </div>
                           

                </div> 


            </div><!--row_marketplace-->
            

        <div class="row features-body fcolor-blue fntsize1 text-center" >   
           
        <div class="col-xs-12 col-lg-24 col-md-12" >
      
                          <div class="row fntsize1 text-center fcolor-blue" style="position: relative;">   
                        <div class="col-lg-24 col-md-12 col-xs-12" style="padding-right:0px;padding-bottom: 50px;">                   
                            <div class="fntsize2" style="background-color: white;" >What is different about Katalyo</div>
                            <div style="border-color:#2c85dd;border-width: 1px;border-style: solid;width: 25%;margin-left: auto;margin-right: auto;"></div>    
                    </div>

                   </div>
      
               <div class="row" style="display:flex;justify-content:center;align-items:center;"> 
                <div class="col-xs-2 col-lg-8 col-md-2" >
                    </div>
              
                    <div class="col-xs-4 col-lg-8 col-md-4" style="padding-bottom:100px;top:50px"> 
                           <div>
                           <div class="fcolor-blue fntsize2" > WYSIWYG </div> 
                          <div class="fcolor-blue fntsize1" ><b>What You See Is What You Get </b> is of the main principles of creating applications in Katalyo</div>
                          <div class="fcolor-blue fntsize1" >It is imperative that you can immediatelly see what will you application look like and not click on various boxes and later learn it changes the way the applications works.</div>
                            </div>
                   </div>
                     <div class="col-xs-5 col-lg-10 col-md-5" >
                           <img class="img-responsive" style="margin-left: -10px;" src="/static/img/Rounded_Rectangle_3_copy.png"></img> 
                    </div> 
                    
                    <div class="col-xs-1 col-lg-8 col-md-1" >
                      
                    </div> 
                    
                </div>
        
               <div class="row" style="display:flex;justify-content:center;align-items:center;">  
                    <div class="col-xs-1 col-lg-8 col-md-1" >
                    </div>
               
                    <div class="col-xs-4 col-lg-8 col-md-4" >
                           <img  style="padding-top:100px;float:right" class="img-responsive" src="/static/img/Shape_26_copy.png"></img> 
                    </div>
               
                    <div class="col-xs-5 col-lg-10 col-md-5" > 
                           <div class="fcolor-blue fntsize2" > JIT </div>
                          <div class="fcolor-blue " style="">New demands are The customers, the competitors, the goverment and regulators are all pressuring organisations</div>
                          <div class="fcolor-blue " style="">Just In Time empowers people and organisations to be agile and change the way application is working even during the execution of the process.</div>
                    </div> 

                    <div class="col-xs-2 col-lg-8 col-md-2" >
                    </div>
                    
                </div> 
                
                
                 <div class="row" style="display:flex;justify-content:center;align-items:center;">  

                <div class="col-xs-3 col-lg-6 col-md-3" >
                    </div>
                    
                    <div class="col-xs-4 col-lg-8 col-md-4" style="    top: 50px;"> 
                           <div class="fcolor-blue fntsize2" > Automated DEVOPS  </div>
                          <div class="fcolor-blue fntsize1" >Automated dev-ops and version control is o..</div>
                          <div class="fcolor-blue fntsize1" >It is imperative ...</div>
                    </div>
                     <div class="col-xs-4 col-lg-8 col-md-4" style="top:50px">
                           <img  class="img-responsive" style="margin-left: -20px;" src="/static/img/automated_devops.png"></img> 
                    </div>   
                    
                          <div class="col-xs-1  col-lg-8 col-md-1" >
                          
                    </div>               
                    
                </div>
                
              
                 <div class="row" style="display:flex;justify-content:center;align-items:center;"> 
                    <div class="col-xs-2 col-lg-8 col-md-2" >
                    </div>
                    
                     <div class="col-xs-4 col-lg-8 col-md-4" style="top:100px">
                           <img class="img-responsive" style="float:right;margin-right:-20px" src="/static/img/pointing_dude_copy.png"></img> 
                    </div>
               
                    <div class="col-xs-4 col-lg-8 col-md-4" style="top:50px"> 
                           <div class="fcolor-blue fntsize2" > Immutable </div>
                          <div class="fcolor-blue " style="">Immutable data management is needed to...</div>
                          <div class="fcolor-blue " style="">Security is the key...</div>
                    </div>  
                    
                       <div class="col-xs-2 col-lg-8 col-md-2" >
                    </div>
                    
                </div> 
              
                
                 <div class="row" style="display:flex;justify-content:center;align-items:center;"> 
                     <div class="col-xs-2 col-lg-8 col-md-2" >
                    </div>
                    
                    <div class="col-xs-4 col-lg-8 col-md-4" style="top:100px"> 
                           <div class="fcolor-blue fsize-large" > Gamification </div>
                          <div class="fcolor-blue fntsize1" > Work is a game...</div>
                          <div class="fcolor-blue fntsize1" > Gamification is ...</div>
                    </div>
                     <div class="col-xs-5 col-lg-10 col-md-5" style="top:100px">
                           <img  class="img-responsive" src="/static/img/gamification-LQ.png"></img> 
                    </div> 
                    <div class="col-xs-1 col-lg-8 col-md-1" >
                    </div>                    
                </div>
                
               </div>
        </div>
        
        <div class="row founders-div fcolor-blue text-center" >
               
            <div class="row ">

               <div class="col-lg-24" style="height:100px"> 
                     
                </div>
                <div class="col-lg-24" style="top:200px"> 
                       <h1 class="" style="">Meet the founding team</h1>
                </div>
                <div class="col-lg-24" style="top:200px"> 
                       <h4 class="" style="margin-bottom:50px;    margin-left: 100px;   margin-right: 100px;">As in every startup we all wear many hats and do whatever is required from our venture but we do try to split the work to make it as efficient as possible</h4>
                </div>
              
             
                   <div class="col-lg-8 col-md-12" style="top:200px"> 
                        <img height="200" src="/static/img/founder-1.png"></img> 
                      <div style="margin-top: 10px;">Igor</div>
                      <div>Co-founder</div>
                   </div>
                   
                   <div class="col-lg-8 col-md-12" style="top:200px"> 
                        <img height="200" src="/static/img/founder-2.png"></img> 
                       <div style="margin-top: 10px;">Daniel</div>
                      <div>Co-founder</div>
                     </div>
                   <div class="col-lg-8 col-md-12" style="top:200px"> 
                        <img height="200" src="/static/img/founder-3.png"></img> 
                      <div style="margin-top: 10px;">Ivica</div>
                      <div>Co-founder</div>
                  </div>
                  

                    <div class="col-xs-12 col-lg-24 col-md-12" style="top:200px" >
                        <img  style="position: relative;width: 100%" height="400" src="/static/img/contact-migor.png"></img> 
                    </div>  

                   
                  <div class="col-xs-3 col-lg-6 col-md-3" style="top:-280px">  
                  </div>  
                  
                  <div class="col-xs-2 col-lg-8 col-md-2" style="top:-80px"> 
                        <img height="100" src="/static/img/open-source-lock.png"></img> 
                  </div>    

                  <div class="col-xs-4 col-lg-8 col-md-4" style="top:-90px;left: -20px;"> 
                           <div class=" fntsize1 text-left " style="color:white"> Open source </div>
                          <div class=" fntsize0 text-left " style="color:white"> We firmly believe in sharing knowledge and that is why we're building our platform on open source techonology stack.</div>
                          <div class=" fntsize0 text-left " style="color:white"> Angular JS, Django Rest Framework, Postgres. Naturally our platform will be fully open source so that everyone can get involved and participate in digital revolution that Katalyo plans to be a huge part of.</div>
                   </div>  
    
                   <div class="col-xs-3 col-lg-6 col-md-3" style="top:-200px">  
                   </div> 
                  
               </div>
             
            <!--<div class="row" style="">-->
                    <div class="col-xs-5 col-lg-10 col-md-5" style="color:white;">
                        <img  class="img-responsive"   src="/static/img/dude_intro_copy_3-LQ.png"></img> 
                    </div>  
                    
                 <div class="col-xs-5 col-lg-10 col-md-5" style="text-align:left"> 
                          <div class="fcolor-blue fsize-large" > Contact Us </div>
                          <div class="fcolor-blue fntsize0" style=""> If you would like to contact us, this is the way </div>
                          <p></p>
                          
                          <form>
                              <div class="form-group">
                        
                              <div class="form-group">
                                <label for="FullName">Name</label>
                                <input type="text" class="form-control" id="FullName" placeholder="Enter full name">
                              </div>
                                
                              <label for="InputEmail">Email address</label>
                                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                              </div>
                             
                            <div class="form-group">
                                <label for="Message"> Message</label>
                                <textarea class="form-control" id="Message" rows="3"></textarea>
                              </div> 
                              
                              <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
 
      
                    </div> 


                    <div class="col-xs-2 col-lg-8 col-md-2" style="color:white;">
                    </div>  

                    
               <!--   </div>-->
                 
            
        </div>  <!-- row founders-->   
          
         
    </div> 
  </body>
</html>
