{% load staticfiles %}
<!doctype html>
<html>
   
    <head>
        
        <title >Katalyo | Next generation Zero-code platform powered by EOS</title>
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta itemprop="name" content="Katalyo | Low-code | EOS | Blockchain " />
        <meta itemprop="description" content="Katalyo | Low-code | Zero-code | Task management | Blockchain | Cloud | SaaS | EOS" />

       <link rel="shortcut icon" type="image/x-icon" href="{% static  'img/favicon.ico' %}" />
       <script src="{% static 'scripts/jquery.min.js' %}"></script>
       <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
       
       <link rel="stylesheet" type="text/css" href="{% static  'Css/bootstrap.min.css' %}" /> 
       <link rel="stylesheet" type="text/css" href="{% static  'Css/main.css' %}" />
       <link rel="stylesheet" type="text/css" href="{% static  'Css/navbar.css' %}" />
      
       <script type="text/javascript">
            
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-27063178-1']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
      
     </head>
  
  <body>
   

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">  
    <div class="container-fluid" >
      <div  class="navbar-header" >
        <img  class="navbarimg" src="/static/img/Katalyo_name_transparent.png"></img>
        <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>    
      </div>
    
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul  class="nav navbar-nav navbar-right" >
                <li ><a class="fntsize1"  href="#home"> Home </a></li> 
				<li ><a  class="fntsize1"  href="#community"> Community </a></li>
               <!--  <li ><a class="fntsize1" style="top: 0.5vw;" href="#marketplace"> About us </a></li> -->
                 <li ><a  class="fntsize1"   href="#team"> Team </a></li>
                 <li ><a  class="fntsize1" style="top: 0.5vw;" href="#features"> Features </a></li>
				  <li ><a  class="fntsize1"  href="#contact"> Contact </a></li>
               <!-- <li ><a  class="fntsize1" style="top: 0.5vw;" href="/how-it-works"> Roadmap </a></li> 
                <li style="    padding-top: 5px;"><button type="button" class="fntsize1 btn-menu-cls"> Try it Now! &nbsp &#10095</button></li>-->
          </ul>
      </div>
    
    </div>
   
  </nav>

<div id="home" class="content">
      
       <div class="row margin0" style="height:100px">
       </div>
      
        <div id="BUILD-EARN" class="row margin0">
                <div class="col-xs-1 col-lg-8 col-md-2 fcolor title"> 
                </div>
                
                <div class="col-xs-5 col-lg-8 col-md-4 fcolor title"> 
           
                      <div>
                          <div class="fntsize2" >Build applications.</div>
                          <div class="fntsize2" >Earn rewards.</div> 
                          <div class="fntsize2" >No coding.</div>
                      </div>
                                          
                
                      
                     <!--<div class="fntsize0" style="margin-top:5px;" >Katalyo is the next-generation low-code platform  </div>-->
                    
                      <div style="margin-top:30px">
                                     
                      <div style="margin-top:10px"><a href="#features" class="fntsize1 btn-learn-more">Learn more &nbsp &#10095 </a>  </div> 
                      
                     </div>      
                
                </div>
               
               <div class="col-xs-5 col-lg-10 col-md-5" style="top:20px">
                       <img  class="img-responsive" style="max-width: 120%;" src="/static/img/home-main-image.png"></img> 
                </div>
                
                 <div class="col-xs-1 col-lg-8 col-md-1 fcolor title"> 
                </div>
                
           </div>
           
    
    
          <div id="community" class="row  margin0 why-diff fcolor-blue " style="display:flex;justify-content:center;align-items:center;height: 80px;">
                      <div class="col-xs-2 col-lg-8 col-md-2 " style="top: 4vh;"> 
                       <img class="img-responsive" style="position:relative;max-width: 20vmin;" src="/static/img/signup-dude.png"></img> 
                       </div>
                       
                       <div id="welcome" class="col-xs-8 col-md-8 col-lg-80  fntsize2" style="text-align: center;"> <!--Welcome to Katalyo! -->
                        
                                 <div class="fcolor-blue fntsize2" style="padding-bottom: 1vh;"><b> Welcome to Katalyo!</b></div>
                                 <div class="fcolor-blue fntsize2" >Katalyo is an open-source, decentralised, community driven zero-code (aka low-code) platform powered by the EOS blockchain.</div>
                                
                                   <a href="https://eos.io" title="Learn more about EOS">
                                    <img height="64" src="/static/img/POWERED_BY_EIOS_2.png"></img>
                                   </a> 
                             
                        
                       </div>
                       
                       <div class="col-xs-2 col-lg-8 col-md-2 "> </div>
            </div>
                
        <div class="row margin0" style="height:5vw">
       </div>
    
            
           <div ID="CREATORS_CONSUMERS_" class="row marketplace" style="margin:0px;top: -7vw;">
                 
                 <div class="col-xs-12 col-lg-24 col-md-12 fcolor" style="    padding-left: 0; padding-right: 0;">
                 
                     <div class="row  " style="margin-bottom: 100px;margin:0">
                     
                        <div class="col-xs-1 col-lg-6 col-md-3">
                        </div>   
                      
                         <div class="col-xs-11 col-lg-7 col-md-7 padding0 " style=" left: -4vmin;"> 
                              
                              <div class="row "  style="">
							  
							      <div class="col-xs-12 col-lg-24 col-md-12 padding0"> 
									 <div class="fntsize2"" style="text-align:center; margin-top:10px;margin-bottom:10px;"> 
                                       Token, community and a marketplace
                                      </div> 
									  <div class="fcolor fntsize1 well shadow-well" style="">
												Katalyo token created on the EOS blockchain is a force that will drive the community Katalyo aims to build. When you join you get access to the zero-code platform like no other empowering people to create applications without writing a single line of code. If you create something great that other members want to use you should get rewarded and with Katalyo you absolutely do get rewarded in the form of Katalyo token. Rewards are coming in as long as the application is being used by other organisations or individuals. If you just want to use aplications built by other members of the community you can do just that. Whether you're a Creator or a Consumer your journey with Katalyo has 3 simple steps and it starts with signing up. 
									</div>
								 </div>
                                  <div class="col-xs-12 col-lg-24 col-md-12 padding0" style=" margin-top: 30px"> 
                                   
                                   <div class="row " id="row0" style="padding-bottom: 0.5vw;display:flex;justify-content:center;align-items:bottom;padding-top:10px">
                                      <div class="fntCreators col-xs-6 col-lg-6 col-md-6 " style="text-align:right;text-shadow: 1px 1px 2px #000000;"> 
                                        <div> Creators</div>                          
                                      </div> 

                                       <div class="col-xs-1 col-lg-8 col-md-1 "> 
                                      </div> 
  
                                       <div class="fntCreators col-xs-5 col-lg-10 col-md-5 " style="text-align:left;text-shadow: 1px 1px 2px #000000;"> 
                                        <div>Consumers </div>
                                      </div> 
                                   </div>   <!--row_0-->

                                   <div class="row fntsize1" id="row1" style="padding-bottom: 0.5vw;display:flex;justify-content:center;align-items:center;">
                                      <div class="col-xs-5 col-lg-10 col-md-5 " style="text-align:right;"> 
                                        <div> Step 1: Sign up</div>                          
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding: 0"> 
                                         <img class="" style="display: block;    max-width: 80%;    height: auto;" src="/static/img/pencil.png"></img> 
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding-left: 1.5vw"> 
                                        <img  src="/static/img/verticalrect.png" style="height:3vw"></img> 
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding: 0">
                                        <img class="" style="display: block;    max-width: 80%;    height: auto;" src="/static/img/pencil.png"></img>                
                                      </div>   
                                       <div class="col-xs-4 col-lg-8 col-md-4 " style="text-align:left;"> 
                                        <div> Step 1: Sign up  </div>
                                      </div> 
                                   </div>   <!--row_1-->
                               
                                    <div class="row fntsize1" id="row2"  style="padding-bottom: 0.5vw;display:flex;justify-content:center;align-items:center;">
                                      <div class="col-xs-5 col-lg-10 col-md-5 " style="text-align:right;padding-left:0"> 
                                        <div> Step 2: Create applications</div>                          
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding: 0"> 
                                         <img class="" style="display: block;    max-width: 80%;    height: auto;" src="/static/img/applications.png"></img> 
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding-left: 1.5vw;"> 
                                        <img  src="/static/img/verticalrect.png" style="height:3vw"></img> 
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding: 0">
                                        <img class="" style="display: block;    max-width: 80%;    height: auto;" src="/static/img/Magnifying_Glass.png"></img>                
                                      </div>   
                                       <div class="col-xs-4 col-lg-8 col-md-4 " style="text-align:left;"> 
                                        <div> Step 2: Find applications </div>
                                      </div> 
                                   </div>   <!--row_2--> 
                                   
                                     <div class="row fntsize1" id="row3" style="display:flex;justify-content:center;align-items:center">
                                      <div class="col-xs-5 col-lg-10 col-md-5 " style="text-align:right;padding-left:0"> 
                                        <div> Step 3: Earn rewards!</div>                          
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1  " style="padding: 0"> 
                                         <img class="" style="display: block;    max-width: 80%;    height: auto;" src="/static/img/present.png"></img> 
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1 " style="padding-left: 1.5vw;"> 
                                        <img  src="/static/img/verticalrect.png" style="height:3vw"></img> 
                                      </div> 
                                       <div class="col-xs-1 col-lg-8 col-md-1  " style="padding: 0">
                                        <img class="" style="display: block;    max-width: 80%;    height: auto;" src="/static/img/Suitcase_2.png"></img>                
                                      </div>   
                                       <div class="col-xs-4 col-lg-8 col-md-4  " style="text-align:left;"> 
                                        <div> Step 3: Start working!  </div>
                                      </div> 
                                   </div>   <!--row_int-->   
                            </div> 
                          </div>   <!--CreatorsConsumers_row--> 
                        
                         </div>
                          
                          
                         <div class="hidden-xs col-xs-2 col-lg-8 col-md-2 padding0" style="    margin-top: 50px;"> 
                                <span class="dot"></span>
                                 <span class="ring"></span>
                          </div>
                          
                     </div>             

                 
                     <div class="row margin0 " style="display:flex;justify-content:center;align-items:center;margin-bottom: 50px;margin-top:50px">
                            <div class="hidden-xs col-lg-8 col-md-3"> 
                                  <span class="bigdot"></span>
                                  <span class="dot"></span>
                                   <span class="ring"></span>
                            </div>
                            
                            <div class="marginLeftXs col-xs-6 col-lg-6 col-md-3" style=""> 
                                   <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh" >Consumers</div>
                                  <div class="fcolor fntsize1 well shadow-well" style="padding-bottom: 1vh;">As the community grows the consumers will have access to a plethora of applications for many different needs. The real strenght of the zero-code platform like Katalyo is shown when the existing functionality is not fitting perfectly. Changes can be introduced at 10x when compared to traditional programming and if the original Creator is not available to help services can be requested from other Creators in the community. But when Consumers see how easy it is to build features in Katalyo they will soon become Creators themselves.
                                  </div>
                              </div>    
                             <div class="col-xs-6 col-lg-6 col-md-5"  >
                                   <img class="img-responsive" style=""  src="/static/img/consumers.png"></img> 
                            </div>    
                            
                             <div class="hidden-xs col-lg-8 col-md-1" >
                                  
                            </div> 
                      </div>
                 

                    <div class="row  margin0" style="display:flex;justify-content:center;align-items:center;margin-bottom: 50px;margin-top:50px" >
                            <div class="hidden-xs col-lg-8 col-md-2" >
                                  
                            </div>  
                            <div class="col-xs-6 col-lg-6 col-md-4" style="">
                                   <img class="img-responsive" style="display: block; margin-left: auto;margin-right: auto" src="/static/img/home-main-image.png"></img> 
                            </div> 
                            <div class="col-xs-6 col-lg-10 col-md-3" style=""> 
                                   <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh" >Creators</div>
                                  <div class="fcolor fntsize1 well shadow-well " style="">Creators of the apps are equipped with an easy to use visual tools that empowers them to create applications without writing a single line of code. With simple yet powerful zero-code engine building apps is a breeze. At this stage Katalyo is best suited for creating applications that require data capture and workflow capabilities including collaboration and notification capabilities. On top of that Katalyo enables creation of tokens and immutable datasets securely stored on the EOS blockchain.</div>
                            </div>
                            
                             <div class="hidden-xs col-lg-8 col-md-2"> 
                                  <span class="dot"></span>
                                  <span class="ring"></span>
                            </div>   
                      </div>   
                        
                      <div class="row  margin0" style="padding-bottom: 20vw;display:flex;justify-content:center;align-items:center;margin-bottom: 50px;margin-top:50px" >
                        
                            <div class="hidden-xs  col-md-4 col-lg-24"> 
                                <div class="row" style="margin-top:10px;">
                                      <div class="dot"></div>
                                 </div>
                                <div class="row" style="margin-top:10px;">
                                      <div class="ring"></div>
                                 </div>   
                                <div class="row" style="margin-top:10px;">
                                      <div class="bigdot"></div>
                                </div>  
                            </div>
                            
                            <div class="col-xs-5 col-md-3 col-lg-6 " style="top:60px;"> 
                                   <div class="fcolor-hand fntsize2" style="padding-bottom: 1vh" >Marketplace</div>
                                  <div class="fcolor fntsize1 well shadow-well" style="">Finally creators and consumers meet in the marketplace. Marketplace is established by seemingly integrating Katalyo token into the platform. Value is exchanged auto-magically without any need for intervention of the participants. 
									</div>
                                  
                            </div>
                             <div class="col-xs-6 col-md-4 col-lg-6 " style="top:80px">
                                   <img  class="img-responsive" src="/static/img/signup.png"></img> 
                            </div>  

                            <div id="features" class="hidden-xs col-md-1 col-lg-8" >       
                            </div>                               
                      </div>
                                                    
                </div> 

       </div><!--row_marketplace-->
            

<!--What is different about Katalyo-->  

        <div id="What_is_different" class="row  margin0 features-body fcolor-blue fntsize1 text-center" style="">   
         <div class="col-xs-12 col-lg-24 col-md-12 margin0 padding0" >
      
                <div class="row margin0  fcolor-blue fntsize1 text-center" style="margin-top:-16vw">         
                 <div class="col-lg-24 col-md-12 col-xs-12" style="padding-right: 0px; padding-left: 0px; "> 
                     <img class="" src="/static/img/features-top.png" style="width: 100%;height:60px"> </img>                     
                 </div> 
                </div>
      
      
                <div class="row margin0 fntsize1 text-center fcolor-blue" style="position: relative;background-color:white">   
                    <div class="col-lg-24 col-md-12 col-xs-12" style="padding-right:0px;padding-bottom: 2vw;">                   
                            <div class="fntsize2" style="background-color: white;" >Why Katalyo zero-code engine ?</div>
                            <div style="border-color:#0000ff33;border-width: 1px;border-style: solid;width: 15em;margin-left: auto;margin-right: auto;"></div>    
                    </div>
                 </div>
      
      
               <div id="WYSIWYG" class="row margin0 " style="background-color:white;display:flex;flex-wrap:wrap" > 
                 
                    <div class="col-lg-6 hpadding vpadding " style="display:flex;"  > 
                      <div class="shadow" style="">
                        <div class=" col-lg-6  col-xs-12 padding0 " style="align-self: center;">
                               <img class="img-responsive " style="    padding-left: 10px;margin: auto;width:100%" src="/static/img/wysiwyg_small.png"></img>     
                        </div> 
                        <div class="col-lg-6 col-xs-12 " style=" padding-bottom: 10px;" >
                                 <div class="fcolor-blue fntsize2 d-none" style="    line-height: 50px;"> WYSIWYG </div>  
                                 <div class="fcolor-blue fntsize1 text-justify" ><b>What You See Is What You Get </b> is one of the main principles of creating applications in Katalyo</div>
                                <div class="fcolor-blue fntsize1 text-justify" >It is of critical importance to provide instant feedback when building application features. Katalyo is using What You See Is What You Get approach whrever and whenever that is possible and the most efficient way to build certain functionality. With this approach you immediatelly know how will some functionality will behave and not find out later that particular checkbox completelly changes the way designed feature works.</div>
                        </div> 
                      </div>
                    </div>


                  <!-- JIT-->
                  <div class="col-lg-6 hpadding vpadding " style="display:flex;"  >                      
                    <div class="shadow" style="">
                    
                    <div class="col-xs-12 col-lg-6 padding0" style="align-self:center">
                           <img class="img-responsive " style="    padding-left: 10px;margin: auto;width:100%" src="/static/img/jit_small.png"></img>    
                    </div> 
                    
                     <div class="col-xs-12 col-lg-6 "  style=" padding-bottom: 10px;" >
                             <div class="fcolor-blue fntsize2 " style="    line-height: 50px;">    Just in time </div>  
                             <div class="fcolor-blue fntsize1 text-justify" >In todays volatile environment the technology must be an enabler and not the bottleneck. With it's JIT (Just In Time) capabilities you can change the way the system works while you're working. In matter of minutes functionality can be adjusted to fully fits the needs and prevent issues later due to missing or poor quality of the captured data.</div>
                            <div class="fcolor-blue fntsize1" ></div>
                      
                    </div>       
                  </div>     
                  </div> 
                  
                 
                </div>                 
                  
              <div class="row margin0 " style="background-color:white;display:flex;flex-wrap:wrap"> 
               
                  <!-- AUTOMATED-->
                  <div class="col-lg-6 hpadding vpadding"  style="display:flex;" > 
                  
                    <div class="shadow" style="">
                    <div class="col-xs-12 col-lg-6 padding0" style="align-self: center;" >
                           <img class="img-responsive " style="    padding-left: 10px;margin: auto;width:100%" src="/static/img/automated_devops_small.png"></img>    
                    </div> 
                    
                     <div class="col-xs-12 col-lg-6  "  style=" padding-bottom: 10px;" > 
                             <div class="fcolor-blue fntsize2 d-none" style="    line-height: 50px;"> Automated devops & version control  </div>  
                             <div class="fcolor-blue fntsize1 text-justify" >Devops with Katalyo is a breeze. You always know what version of the system you're operating including in-built version control for platform building blocks like resources or forms. The plaform comes with a  out-of-the-box test environment with one-click migration from test to production environment.</div>
                            <div class="fcolor-blue fntsize1" >  </div>      
                    </div> 
                  </div>     
                  </div>
              
              <!-- IMMUTABLE-->
                   <div class="col-lg-6 hpadding vpadding"  style="display:flex;"  >                     
                    
                    <div class="shadow" style="">
                    
                    <div class="col-xs-12 col-lg-6 col-md-5 padding0" style="align-self: center;">
                           <img class="img-responsive " style="    padding-left: 10px;margin: auto;width:100%" src="/static/img/immutable_small.png"></img>    
                    </div> 

         
                     <div class="col-xs-12 col-lg-6 col-md-5 "  style=" padding-bottom: 10px;" > 
                             <div class="fcolor-blue fntsize2 d-none" style="    line-height: 50px;"> Data immutability </div>  
                             <div class="fcolor-blue fntsize1 text-justify" >Trust in business is important however building trust takes time and effort. With it's data immutability features Katalyo creates trust beetwen two parties where trust doesn't exist. Data can be stored or anchored on the blockchain to make sure that noone has tampered with the data and to be able to track the changes without a shred of a doubt. To accomplish this Katalyo integrates with EOS the most powerful blockchain infrastructure for building decentralised applications.</div>
                            <div class="fcolor-blue fntsize1" > </div>
                      
                    </div> 
                  </div>      
                  </div>
                 
                  
              </div>
              
              <div id="GAMIFICATION" class="row margin0 hpadding" style="padding-bottom: 100px;display: flex; justify-content: center;" > 

                  <div class="col-lg-6 vpadding shadow" style="">                      
                    <div class="col-xs-12 col-lg-6  padding0" style="align-self: center;">
                           <img class="img-responsive " style="    padding-left: 10px;" src="/static/img/gamification_small.png"></img>    
                    </div> 
                    
                     <div class="col-xs-12 col-lg-6  " >
                             <div class="fcolor-blue fntsize2 " style="    line-height: 50px;"> Gamification </div>  
                             <div class="fcolor-blue fntsize1 text-justify" >With it's low-code capabilities Katalyo empowers individuals and organisations to create custom gamification features that will best suit their needs but with the Katalyo token gamification is taken to a whole new level where you can reward people with real and tangible value which with adoption will only increase in value.</div>
                            <div class="fcolor-blue fntsize1" > </div>
                      
                    </div> 
                  
                    </div>
                        
                </div>
                           
        </div>
        
        </div>
        
        <div id="team" class="row margin0 founders-div fcolor-blue text-center" style="margin-top: -80px;">
               
                <div class="col-lg-24 padding0" style=""> 
                <!--       <h1 class="" style="    background-color: white;    border: solid 1px black;    border-radius: 50px  ;  padding-top: 10px;    padding-bottom: 10px">Meet the founding team</h1> -->
                 <h1 class="" style=" padding-top: 10px;    padding-bottom: 10px">Meet the founding team</h1>
                 
                </div>
                <div class="col-lg-24" style=""> 
                       <h4 class="" style="margin-bottom:50px;    margin-left: 100px;   margin-right: 100px;">As in every startup we all wear many hats and do whatever is required from our venture but we do try to split the work to make it as efficient as possible</h4>
                </div>
              
             
                   <div class="col-lg-8 col-md-12" style=""> 
                        <img height="200" src="/static/img/founder-1.png"></img> 
                      <div style="margin-top: 10px;">Igor</div>
                      <div>Co-founder</div>
					   <a href="https://www.linkedin.com/in/igor-mocilac-b5212116b" target="_blank" style="text-decoration:none">
					  <img height="16" src="/static/img/linkedin.png"></img> 
					  </a>
                   </div>
                    <div class="col-lg-8 col-md-12" style=""> 
                        <img height="200" src="/static/img/founder-3.png"></img> 
                      <div style="margin-top: 10px;">Ivica</div>
                      <div>Co-founder</div>
					  <a href="https://www.linkedin.com/in/ivicaljubicic/" target="_blank" style="text-decoration:none">
						<img height="16" src="/static/img/linkedin.png"></img> 
					  </a>
					  <a href="https://twitter.com/ivicaljubicic" target="_blank" style="text-decoration:none"> 
						<img height="16" src="/static/img/twitter.png"></img> 
					  </a>
                  </div>   
				  
                   <div class="col-lg-8 col-md-12" style=""> 
                        <img height="200" src="/static/img/founder-2.png"></img> 
                       <div style="margin-top: 10px;">Daniel</div>
                      <div>Co-founder</div>
					   <a href="https://www.linkedin.com/in/daniel-stjepanovic-624a2a6" target="_blank" style="text-decoration:none">
					  <img height="16" src="/static/img/linkedin.png"></img> 
					  </a>
                     </div>
                  

                <div class="col-lg-24" style=""> 
                       <h4 class="" style="margin-bottom:50px;    margin-left: 100px;   margin-right: 100px;"></h4>
                </div>                  
               
           </div>  
             

           <div id="OPEN_SOURCE" class="row margin0" style="    padding-top: 20px;">
               
               <div class="col-xs-1 col-lg-6 col-md-1 padding0" style="">   </div>  
               
               <div class="col-xs-10 col-lg-8  col-md-8 padding0" style="display:flex;justify-content:center;align-items:center"> 
               
                      <div class="col-xs-2 col-lg-8 col-md-3 padding0" style=""> 
                            <img class="img-responsive" style="float:right;" src="/static/img/open-source-lock.png"></img> 
                      </div>    

                      <div class="col-xs-10 col-lg-8 col-md-9" style=""> 
                               <h2 class="text-left " style="color:white"> Open source </h2>
                              <div class=" fntsize1 text-left " style="color:white"> We firmly believe in sharing knowledge and that is why we're building our platform on open source techonology stack.</div>
                              <div class=" fntsize1 text-left " style="color:white"> Angular JS, Django Rest Framework, PostgreSQL. Naturally our platform will be fully open source so that everyone can get involved and participate in digital revolution that Katalyo plans to be a huge part of.</div>
                       </div>  
                       
                      <div class="col-xs-2 col-lg-6 col-md-3 padding0" style=""> </div>  
               </div> 
               
               <div class="col-xs-1 col-lg-6 padding0" style=""> </div> 
               
           </div>
                  
       
            <div id="CLOUD" class="row margin0" style=" margin-top: 0px;">
                 <img  class="" style="position: relative;  height: 100px;width: 100%;"  src="/static/img/features-top.png"></img> 
            </div>

          
            
          <div id="contact" class="row margin0" style="background-color: #ffffff; ">
                         
            <div class="col-lg-8">
                 
                     <div class="col-xs-5 col-lg-6 col-md-6" style="color:white;    padding: 0;">
                            <img  class="img-responsive"   src="/static/img/dude_intro_copy_3.png"></img> 
                     </div>  
                        
                     <div class="col-xs-7 col-lg-6 col-md-6" style="text-align:left;margin-bottom: 20px;  padding-right: 0;"> 
                              <div class="fcolor-blue fntsize2" > Contact Us </div>
                              <div class="fcolor-blue fntsize0" style=""> If you would like to contact us, this is the way </div>
                              <p></p>
                              
                              <form>
                                  <div class="form-group">
                            
                                  <div class="form-group">
                                    <label for="FullName">Name</label>
                                    <input type="text" class="form-control contactshadow" id="FullName" placeholder="Enter full name">
                                  </div>
                                    
                                  <label for="InputEmail">Email address</label>
                                    <input type="email" class="form-control contactshadow" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                  </div>
                                 
                                <div class="form-group">
                                    <label for="Message"> Message</label>
                                    <textarea class="form-control contactshadow" id="Message" rows="3"></textarea>
                                 </div> 
                                  
                                  <button type="submit" class="btn btn-primary">Send message</button>
                               </form>
     
                        </div> 
                    
                   </div>  


            </div>
            
            
              <div class="row padding0 margin0" style="height:10px;background-color:white;border-bottom:solid #00ff33 1px">
             </div>
                 
			<div class="row margin0">
              <nav class="navbar-custom container-fluid " role="navigation" style="border-bottom:solid #00ff33 1px">  
                
                <div class="col-lg-24" class=social-links-container">
                     <a class="social-links"  href="https://www.linkedin.com/company/katalyo"><img src="/static/img/linkedin64_1.png"></img> </a>
                     <a class="social-links"  href="https://www.twitter.com/katalyo"><img src="/static/img/twitter64.png"></img> </a>
                     <a class="social-links"  href="https://t.me/katalyo"><img src="/static/img/telegram64.png"></img> </a>
                      <a class="social-links" href="mailto:info@katalyo.com"><img src="/static/img/mail64.png"></img> </a>
                      
                 </div>
               
              </nav>
             </div> 
        
                     
              <div class="container-fluid text-info" class="footer-copyright">
            
              Copyright &copy;  Katalyo. All rights reserved.
         
             </div>
             
       
         
    </div> <!--content-->
  </body>
</html>
