{% load staticfiles %}
<!doctype html>
<html>
   
    <head>
        
        <title >Katalyo | Next generation Zero-code platform powered by EOS</title>
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta itemprop="name" content="Katalyo | Low-code | EOS | Blockchain " />
        <meta itemprop="description" content="Katalyo | Low-code | Zero-code | Task management | Blockchain | Cloud | SaaS | EOS" />

       <link rel="shortcut icon" type="image/x-icon" href="{% static  'img/favicon.ico' %}" />
       <script src="{% static 'modules/0000_common/0003_libs/jquery.min.js' %}"></script>
       <script src="{% static 'modules/0000_common/0003_libs/bootstrap.min.js' %}"></script>
       <link rel="stylesheet" type="text/css" href="{% static  'Css/bootstrap.min.css' %}" /> 
       <link rel="stylesheet" type="text/css" href="{% static  'Css/main.css' %}" />
       <link rel="stylesheet" type="text/css" href="{% static  'Css/navbar.css' %}" />
      
       <script type="text/javascript">
            
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-27063178-1']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

        </script>
      
     </head>
  
  <body>
   
 
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">  
    <div class="container-fluid" >
      <div  class="navbar-header" >
        <img width="150" src="/static/img/Katalyo_name_transparent.png"></img>
        <button type="button" class="navbar-toggle float-right" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>    
      </div>
    
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul  class="nav navbar-nav navbar-right" >
           
                <li ><a  href="/how-it-works"> Home </a></li>
                
                 <li ><a  href="/how-it-works"> About us </a></li>
                 
                 <li ><a  href="/how-it-works"> Team </a></li>
                 
                 <li ><a  href="/how-it-works"> Community </a></li>
                
                <li ><a  href="/how-it-works"> Roadmap </a></li>
              
              
                <li ><button type="button" class="btn-menu-cls"> Try it Now! &nbsp &#10095</button></li>
              
              
          </ul>
      </div>
    
    </div>
   
  </nav>
  
   

      <div class="content">
        <div class="row" style="margin:0">
                
               
                <div class="col-lg-10 col-md-12 fcolor title"> 
           
          
                      <div>
                         <!-- <h1>Welcome to the next generation low-code platform</h1>-->
                          <div>Build applications.</div> <div>Earn rewards.</div> <div>No coding.</div>
                      </div>
                     <div style="background-color: #e77818;width:75px;height:5px;margin-top:60px;"></div>
                     <div style="margin-top:50px" ><h4>Katalyo is the next-generation low-code platform</h4>  </div>
                    
                      <div style="margin-top:10px"><span style="font-size: small">powered by </span>
                      <a style="margin-left:10px" title="By eosio and block.one (eos.io) [Public domain], via Wikimedia Commons" href="https://eos.io">
                        <img height="32" src="/static/img/Eosio_logo.svg"></img>
                      </a>
                      <div style="margin-top:50px"><button type="button" class="btn-learn-more">Learn more &nbsp &#10095 </button>  </div> 
                      
                     </div>      
                </div>
                <div class="col-lg-7 col-md-12 title" style="color:white;">
                       <img  src="/static/img/home-main-image.png"></img> 
                  
                </div>
                
           </div>
    
            <div class="row why-diff fcolor-blue text-center" style="margin:0">
                    
                <div class="col-lg-24"> 
                       <h1 class="" style="margin-top:250px">Welcome to Katalyo - the next generation low-code platform</h1>
                </div> 
            </div>
            
             <div class="row marketplace" style="margin:0">
                 <div class="row" style="margin:0">
                        <div class="col-lg-6 col-md-12" >
                              <img height="350" style="position: relative;margin-left:-50px;margin-top: -300px;" src="/static/img/signup-dude.png"></img> 
                         
                       </div>     
                       <div class="col-lg-6 col-md-12 text-center"> 
                              <div class="fcolor-hand fsize-large" style="position: relative;margin-top: -120px;">This is Katalyo community</div>
                             <div class="fcolor" style="">Katalyo is building a community and a marketplace for creators and consumers</div>
                             <div class="fcolor" style="">Both creators and consumers a working with Katalyo using a three simple steps</div>
                       </div>
                       <div class="col-lg-6 col-md-12"> 
                             <span class="dot"></span>
                             <span class="ring"></span>
                       </div>
                </div>
             
             <div class="row" style="margin:0;margin-top:200px;">
                    <div class="col-lg-8 col-md-12"> 
                          <span class="dot"></span>
                          <span class="ring"></span>
                    </div>
                    
                    <div class="col-lg-8 col-md-12" style="position: relative;top:100px"> 
                           <div class="fcolor-hand fsize-large" >Consumers</div>
                          <div class="fcolor" style="">Consumers are utilising the power of Katalyo community and marketplace</div>
                          <div class="fcolor" style="">Start working immediately</div>
                    </div>
                     <div class="col-lg-6 col-md-12" >
                           <img height="375" style="position: relative;margin-left: 100px" src="/static/img/consumers.png"></img> 
                      
                    </div>    
              </div>
             
               
                 
        </div>
        <div class="row features-top fcolor-blue text-center" style="margin:0">
                    
                <div class="col-lg-24"> 
                       <h1 class="" style="margin-top:250px;margin-bottom:50px">What is different about Katalyo</h1>
                </div> 
        </div>
        
        <div class="row features-body fcolor-blue text-center" style="margin:0">
                    
                <div class="col-lg-24"> 
                    <div class="col-lg-6 col-md-12" style="position: relative;top:100px"> 
                           <div class="fcolor-blue fsize-large" > WYSIWYG </div>
                          <div class="fcolor-blue" style="">What You See Is What You Get is of the main principles of creating applications in Katalyo</div>
                          <div class="fcolor-blue" style="">It is imperative that you can immediatelly see what will you application look like and not click on various boxes and later learn it changes the way the applications works.</div>
                    </div>
                     <div class="col-lg-6 col-md-12" >
                           <img height="375" style="position: relative;margin-left: 100px" src="/static/img/consumers.png"></img> 
                      
                    </div>   
                </div>
        
               <div class="col-lg-24"> 
                    
                     <div class="col-lg-6 col-md-12" >
                           <img height="375" style="position: relative;margin-left: 100px" src="/static/img/consumers.png"></img> 
                      
                    </div>
               
                    <div class="col-lg-6 col-md-12" style="position: relative;top:100px"> 
                           <div class="fcolor-blue fsize-large" > JIT </div>
                          <div class="fcolor-blue" style="">New demands are The customers, the competitors, the goverment and regulators are all pressuring organisations</div>
                          <div class="fcolor-blue" style="">Just In Time empowers people and organisations to be agile and change the way application is working even during the execution of the process.</div>
                    </div>
                    
                </div> 
        </div>
        
        <div class="row founders-div fcolor-blue text-center" style="margin:0">
                    
                <div class="col-lg-24"> 
                       <h1 class="" style="margin-top:180px;margin-bottom:50px">Meet the founding team</h1>
                </div>
                <div class="col-lg-24"> 
                       <h4 class="" style="margin-bottom:50px">As in every startup we all wear many hats and do whatever is required from our venture but we do try to split the work to make it as efficient as possible</h4>
                </div>
               <div class="row" style="margin:0">
                   <div class="col-lg-8 col-md-12"> 
                        <img height="200" src="/static/img/founder-1.png"></img> 
                      <div style="margin-top: 10px;">Igor</div>
                      <div>Co-founder</div>
                   </div>
                   
                   <div class="col-lg-8 col-md-12"> 
                        <img height="200" src="/static/img/founder-2.png"></img> 
                       <div style="margin-top: 10px;">Daniel</div>
                      <div>Co-founder</div>
                     </div>
                   <div class="col-lg-8 col-md-12"> 
                        <img height="200" src="/static/img/founder-3.png"></img> 
                      <div style="margin-top: 10px;">Ivica</div>
                      <div>Co-founder</div>
                  </div>
              </div>
              
              <div class="row founders-bottom" style="margin:0">
                   <img class="float-right" style="position: relative;top:50px" height="300" src="/static/img/dude-sitting.png"></img> 
              </div>
        </div>     
        <div class="row contact-us fcolor" style="margin:0">
               
               
                <div class="row" style="margin:0;margin-top:50px;margin-bottom:50px">
                       
                  <div class="open-source">
                      <div class="col-lg-10">
                        <img height="200" class="float-right" src="/static/img/open-source-lock.png"></img>
                      </div>
                      <div class="col-lg-7">
                          <div class="fsize-large">Open source</div>
                         
                          <div class="">
                             We firmly believe in sharing knowledge and that is why we're building our platform on open source techonology stack.
                             Angular JS, Django Rest Framework, Postgres. Naturally our platform will be fully open source so that everyone can get involved and participate in digital revolution that Katalyo plans to be a huge part of.
                          </div>
                      </div>
               
                  </div>
              </div> 
        </div>
             
      
         
         
    </div> 
  </body>
</html>
