<div class="col-lg-24">
        <div  id="alert" class="app-msg-container justify-content-center" app-messages message-list="ac.alerts">  </div> 
        
        
          
        <div ui-view="contentR">    
        </div>
               
        
</div>

