<div idd="menu.html" ng-if="(menu_service.selectedNavbar.SideMenus.length>0 || menu_service.getMenuEditMode()) && showSideMenu" class="row m-0">
    <div class="p-0 sidemenu-custom col-24 col-lg">
    
       <div ng-if="!menu_service.getMenuEditMode()" class="pt-1 pb-1">
         
           <div class="p-0">
             <ul class="navbar-nav side-menu-color">
               <li ng-repeat="mi in menu_service.selectedNavbar.SideMenus track by mi.katalyonode_menus_id" ng-switch="::mi.katalyonode_menus_MenuPosition" class="nav-item p-0 border-0" ng-class="{'text-center':!menu_service.getSideMenuSize(),'active':mi.katalyonode_menus_id==menu_service.selectedSideMenuId}">
                       
                       <a ng-switch-when="sidemenu" title="{{::mi.katalyonode_menus_Name}}" class="nav-link-custom nav-link padding5" ng-click="setSideMenu(mi.katalyonode_menus_id)" ui-sref="{{::mi.katalyonode_pages_Target}}(::mi.katalyonode_menus_Params)" >
                        <i ng-class="{'fa fa-{{::mi.katalyonode_menus_Icon}}':menu_service.getSideMenuSize(),'fa fa-{{::mi.katalyonode_menus_Icon}} fa-lg text-center':!menu_service.getSideMenuSize()}"></i>
                        <span ng-if="menu_service.getSideMenuSize()" class="ml-2">{{::mi.katalyonode_menus_Name}}</span>
                       </a>
                       <div ng-switch-when="sidemenu" ng-if="::mi.katalyonode_menus_MenuType==3" kt-sidemenu-container>
                       </div>
                    <!--
                       <a ng-switch-when="sidemenu" ng-if="mi.MenuType==2 && mi.TaskType==2" ng-click="setSideMenu(mi.id)" ui-sref = "app.menu.tasks.execute({{mi.Params}})" ><i  class="fa fa-{{mi.Icon}}">&nbsp; {{mi.Name}}</i></a>
                     -->
               </li>
             </ul>
           </div>
       </div>
       
        <div ng-if="menu_service.getMenuEditMode() && menu_service.getCurrentNavbarId()>0" class="card">
         <div class="card-header p-1"><span title="Select menu item to change and sort" class="badge badge-info rounded mr-2 text-white">Editing side menu</span>
          <button ng-click="saveMenuOrder()" title="Save menu order" ng-if="menu_service.getMenuEditMode() && menu_service.selectedNavbar.SideMenus.length>1" class="btn btn-xs btn-success float-right"><i class="fa fa-save"></i></button>
           
          <button ng-click="moveMenuUp()"  title="Move up"  ng-if="menu_service.getMenuEditMode()" ng-style="{'visibility': currentEditSideMenuIndex>0 ?'visible':'hidden'}" class="btn btn-xs btn-warning float-right" ><i class="fa fa-arrow-up"></i></button>
           <button ng-click="moveMenuDown()" title="Move down"  ng-if="menu_service.getMenuEditMode()" ng-style="{'visibility': currentEditSideMenuIndex<menu_service.selectedNavbar.SideMenus.length-1 ?'visible':'hidden'}" class="btn btn-xs btn-info float-right"><i class="fa fa-arrow-down"></i></button>
                             
         </div>
           <div class="p-0">
       
                <ul class="navbar-nav list-group">
                         <li ng-repeat="mi in menu_service.selectedNavbar.SideMenus track by mi.katalyonode_menus_id" class="nav-item p-0 border-0" ng-switch="mi.katalyonode_menus_MenuPosition" ng-class="{'text-center':!menu_service.getSideMenuSize(),'active':mi.katalyonode_menus_id==menu_service.selectedSideMenuId}">
                   
                             <a  ng-switch-when="sidemenu" href  class="nav-link padding5" ng-click="getSideMenuDetails(mi.katalyonode_menus_id,$index)" ><i class="fa fa-{{mi.katalyonode_menus_Icon}}">&nbsp; {{mi.katalyonode_menus_Name}}</i>
                             </a>
     
                       </li>
                      <li class="text-center p-0 border-0 list-group-item list-group-item-action"><a  href class="nav-link padding5" ng-click="newSideMenu()"><i class="fa fa-plus"></i> </a></li>
                 
               </ul>
           </div>
         
         </div>
    
    </div>
    <div class="col-12 col-lg-auto p-0 toggle-side-menu" title="Double click to toggle menu size" ng-dblclick="menu_service.changeSideMenuSize()"></div>
</div>
            