<div idd="navbar.html" class="navbarContainer" ng-if="showNavbar">
  <nav class="navbar navbar-expand-lg navbar-custom py-0" kt-adjust-content-to-navbar>
    <img title="Version: 0.9.2beta, Application: {{ menu_service.currentApp.name}} ({{ menu_service.currentApp.id}}), Menu: {{ menu_service.currentApp.menuId}}" src="/img/Katalyo_final_aqua_white.png" class="mx-1" width="6%"></img>
    
  
    
    <div  ng-if="menu_service.getMenuEditMode()" class="m-0">  
      <span class="badge badge-info rounded mr-2 text-white">Editing navigation bar</span>
          <div class="">               
                <button    ng-style="{'visibility': !checkIfFirst() ?'visible':'hidden'}" ng-click="moveNavbarLeft()" class="btn btn-warning btn-xs" ><i class="fa fa-arrow-left"></i></button>
             
                <button   ng-style="{'visibility': !checkIfLast() ?'visible':'hidden'}" ng-click="moveNavbarRight()"  class="btn btn-info btn-xs"><i class="fa fa-arrow-right"></i></button> 
                <button  ng-click="saveNavbarOrder()" title="Save navigation order" class="btn btn-success btn-xs"><i class="fa fa-save"></i></button>
           </div>
    </div>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarToggler">
         
      
          <ul ng-if="!menu_service.getMenuEditMode()" class="navbar-nav mr-auto mb-0" >
                <li ng-if="menu_service.navbarItems.length==0" class="nav-item" ng-class="{'active':menu_service.currentTarget=='app.navbar.home'}"> <a class="nav-link" ui-sref="app.navbar.home" ><i class="fa fa-home mr-2"></i>Home</a></li>
               
                <li  ng-repeat="ni in menu_service.navbarItems track by ni.katalyonode_menus_id" ng-switch="::ni.katalyonode_menus_MenuPosition" class="nav-item" ng-class="{'active':checkIfActive(ni)}">
                  
                  
                  <a ng-switch-when="navbar" title="{{::ni.katalyonode_menus_Name}}" ng-click="menu_service.setSelectedAppMenu(ni.katalyonode_pages_Target,ni.katalyonode_menus_Target_id)" ui-sref = "{{::ni.katalyonode_pages_Target}}(::ni.katalyonode_menus_Params)" class="nav-link text-center">
                    <i class="fa fa-{{::ni.katalyonode_menus_Icon}}"></i>
                    <span class="px-1" style="white-space: nowrap;">{{::ni.katalyonode_menus_Name}}</span>
                  </a>
                 <!-- <a ng-switch-when="navbar" title="{{::ni.Name}}" ng-if = "::ni.MenuType==2" ng-click="setNavbar(ni.Navbar)" ui-sref = "app.menu.tasks.proc({id:{{::ni.id}},navbar_id:{{::ni.Navbar}},sidemenu_id:0,menu_id:{{::ni.id}},init_type:'m'})" class="nav-link"><i  class="fa fa-{{::ni.Icon}}"></i>&nbsp; {{::ni.Name}}</a>-->
                <!--
                  <a ng-switch-when="navbar" title="{{::ni.Name}}" ng-click="setNavbar(ni.Navbar)" ui-sref = "{{::ni.TargetPage.Target}}({navbar_id:{{::ni.Navbar}},pageid:{{::ni.TargetPage.ResourceDefId.id}}})" class="nav-link"><i class="fa fa-{{::ni.Icon}}"></i>&nbsp; {{::ni.Name}}</a>
                    -->
                </li>
             
          </ul>
          <ul ng-if="menu_service.getMenuEditMode()" class="navbar-nav mr-auto ">
              

               <li  ng-repeat="ni in menu_service.navbarItems track by ni.katalyonode_menus_id" class="nav-item p-0" ng-switch="ni.katalyonode_menus_MenuPosition" ng-class="{'active':ni.katalyonode_menus_id == menu_service.currentNavbarId}">
               
                                 <a ng-switch-when="navbar" href class="nav-link" ng-click="getNavbarDetails(ni.katalyonode_menus_Navbar,$index)">
                                  <i class="fa fa-{{ni.katalyonode_menus_Icon}}"></i> <span>&nbsp {{ni.katalyonode_menus_Name}} </span>
                                 
                                </a>
              
               </li>
                                        
               <li  ng-class="{'active':menu_service.currentNavbarId==0}"><a href class="nav-link p-2"  ng-click="newNavbar()"><i class="fa fa-plus"></i> </a></li>
              
             
          </ul>
         
          <ul ng-if="!menu_service.getMenuEditMode()" class="navbar-nav navbar-custom mb-0">
              
              <li class="nav-item" ng-class="{'active':menu_service.currentTarget=='app.menu.user.details'}"><a class="nav-link" ui-sref="app.menu.user.details">
                <i class="fa fa-user"></i>
                <span class="px-1" style="white-space: nowrap;" ng-bind="$root.globals.currentUser.first_name+' '+$root.globals.currentUser.last_name"></span>
              </a>
              </li>
               
                <li ng-repeat="nir in menu_service.navbarItems track by nir.katalyonode_menus_id" class="nav-item" ng-class="{'dropdown':nir.katalyonode_menus_MenuPosition=='navbarright'}">
                  
                  <a ng-if="::nir.katalyonode_menus_MenuPosition=='navbarright'"  data-disabled="true" class="nav-link dropdown-toggle" href data-toggle="dropdown" id="navbarRightDropdown" aria-haspopup="true" aria-expanded="false" ><i class="mr-1" ng-class="nir.katalyonode_menus_Icon"></i>{{nir.katalyonode_menus_Name}}</a>
                  
                   <ul class="dropdown-menu dropdown-menu-right rounded-0 border border-top-0 pt-0 pb-0" aria-labelledby="navbarRightDropdown">
                    
                      <li  class="nav-item" ng-repeat="cnr in nir.SideMenus track by cnr.katalyonode_menus_id">
                      
                        <a ng-if="::cnr.katalyonode_menus_MenuType==1 && cnr.katalyonode_pages_Target!=null" ng-click="menu_service.setSelectedNavbar(nir)" ui-sref="{{::cnr.katalyonode_pages_Target}}" class="nav-link">
                        
                          <i  class="fa fa-{{::cnr.katalyonode_menus_Icon}}"></i>
                          <span class="px-1" style="white-space: nowrap;">{{::cnr.katalyonode_menus_Name}}</span>
                        </a>
                        <a ng-if="::cnr.katalyonode_menus_MenuType==2"  ui-sref = "app.menu.tasks.proc({id:{{::cnr.katalyonode_menus_id}},navbar_id:{{::cnr.katalyonode_menus_Navbar}},sidemenu_id:{{::cnr.katalyonode_menus_id}},init_type:'m'})" class="nav-link">
                          <i  class="fa fa-{{::cnr.katalyonode_menus_Icon}}"></i>
                          <span class="px-1" style="white-space: nowrap;">{{::cnr.katalyonode_menus_Name}}
                        </a>
                      
                      </li>
                      <li ng-if="false" class="divider"></li>
                      <li ng-if="false"><a href="#">Favorites</a></li>
                     <!-- <li class="nav-item"> <a class="nav-link" ui-sref="app.navbar.home"><i class="fa fa-home mr-2"></i>Home</a></li> -->
                      <li class="divider"></li>
                      <li  ng-init="LoadLogout()" class="nav-item"> <a class="nav-link" ui-sref="app.logout"><i class="fa fa-sign-out-alt mr-2"></i><span ng-bind="pageLabels.logoutMenuLabel || 'Logout'"></span></a></li> 
                  </ul>
                     
                </li>
                <li  ng-if="!logoutLoaded && menu_service.navbarItems.length==0" class="nav-item"> <a class="nav-link" ui-sref="app.logout"><i class="fa fa-sign-out-alt mr-2"></i><span ng-bind="pageLabels.logoutMenuLabel || 'Logout'"></a></li> 
          </ul>
          
          <ul ng-if="menu_service.getMenuEditMode()" class="navbar-nav navbar-custom">
                         
                        <!--  <li class="nav-item"><a href class="nav-link"><i class="fa fa-user"></i> {{cuser}} </a></li>-->
                           
                            <li ng-repeat="nir in menu_service.navbarItems track by nir.katalyonode_menus_id" class="nav-item"  ng-class="{'dropdown':nir.katalyonode_menus_MenuPosition=='navbarright'}">
                              
                              <a ng-if="nir.katalyonode_menus_MenuPosition=='navbarright'" href ng-click="getNavbarDetails(nir.katalyonode_menus_Navbar)" data-disabled="true" class="nav-link dropdown-toggle"
                                 href data-toggle="dropdown" id="navbarRightDropdownEdit" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-{{nir.katalyonode_menus_Icon}}">&nbsp {{nir.katalyonode_menus_Name}}</i>
                              </a>
                              
                               <ul class="dropdown-menu dropdown-menu-right rounded-0 border-0 pt-0 pb-0" aria-labelledby="navbarRightDropdownEdit">
                                
                                  <li class="nav-item"  ng-repeat="cnr in cMenus[nir.katalyonode_menus_id] track by cnr.katalyonode_menus_id">
                                    <a href ng-click="getNavbarDetails(cnr.katalyonode_menus_Navbar)" class="nav-link"><i class="fa fa-{{cnr.katalyonode_menus_Icon}}">&nbsp&nbsp {{cnr.katalyonode_menus_Name}}</i></a>
                                  </li>
                                  <li class="divider"></li>
                                  <li ng-if="false"><a href="#">Favorites</a></li>
                                  <li class="text-center nav-item"><a class="nav-link" href ng-click="newChildNavbar()"><i class="fa fa-plus"></i> </a></li>
                                   <li class="divider"></li>
                                <!--  <li class="nav-item"> <a class="nav-link"><i class="fa fa-sign-out-alt"></i>&nbsp&nbspLogout</a></li> -->
                              </ul>
                                 
                            </li>
                         
            </ul>
        
      </div>
   
  </nav>

</div>