<div class="mx-4 my-2" ng-show="localVars.pageLoaded">

<!-- App create -->
    <div class="row m-0 mt-3" ng-show="extendedUser.Params.Onboarding=='AppCreate'">
     
        <div  class="p-2 col">
          
            <div >
                <div class="col-24 text-center">
                    <p class="" style="font: 36px IBM Sans Plex, sans-serif; color: #107896;"><b>Hi {{ currentUserFirstName}} and welcome to Katalyo!</b></p>
                </div>
                <div class="row m-0">
                    <div class="col-auto text-center">
                        <img width="50%" src="/static/img/resource_dude.png">
                    </div>
                    <div class="col" style="font: 16px IBM Sans Plex, sans-serif; color: #107896;">
                        <p style="font: 24px Helvetica, sans-serif; color: #107896;">Having the right resources for the job! ili Continuosly innovate with the right resources! ili To build the application of your dreams you need the right resources!</p>
                        <p>It's always good to start with the introduction of the main concept for building applications with Katalyo! </p>
                        <p>Say hello to <b>RESOURCES</b>, the main building blocks of Katalyo platform. </p>
                        <p>You will define, setup and integrate many different resources to build all the awesome features of your applications.</p>
                        <p>Datasets, tasks, notifications or files are just a few of the resource types available and even an application itself is a resource. <a href="/learn-resources">(Learn more about resources)</a></p>
                        <p  style="font: 20px IBM Sans Plex, sans-serif; color: #107896;"> Enough talk, lets start building and the best way to start is to create your first resource, a brand new application!</p>
                    </div>
                </div>
               
            </div>
       </div>
    
    </div>
    
    <div class="row m-0 mt-1" ng-show="extendedUser.Params.Onboarding=='AppCreate'">
      <div  class="col mr-1 card">
              <div  class="row m-0 py-1">
               
                  <div class="text-center col-lg-9">
                    <h5 style="color:#107896;">Build new application</h5>
                    
                    <i class="fas fa-laptop-code fa-4x" style="color:#107896;"></i>
                  
                  </div>
                  <div class="col-lg-15">
                    <p>If you want to build a new application click on Build new application button </p> 
                    
                    <button type="button" class="btn btn-sm btn-info mb-2" ui-sref="app.menu.resources.new({'navbar_id':9,'sidemenu_id':19,'resource_type':'application'})">Build new application</button>  
               
                 </div>
            </div>
       </div>
        <div class="col-auto mx-1 my-auto">
            <h3 style="color:#107896;">OR</h3>
        </div>
        <div ng-if="!extendedUser.HideSearchResourceHome" class="col ml-1 card">
               <div  class="row m-0 py-1">
               
                  <div class="text-center col-lg-9">
                      <h5 style="color:#107896;">Search applications</h5>
                      <i class="fa fa-search fa-4x" style="color:#107896"></i>
                    
                  </div>
                  <div class="col-lg-15">
                    <p>If you want to work with existing applications click on Search applications button </p> 
                    <button type="button" class="btn btn-sm btn-info mb-2" ui-sref="app.menu.resources.list({'navbar_id':9,'sidemenu_id':18,'resource_type':'application'})")">Search applications</button>  
                   
                  </div>
            
              </div>
         </div>
    </div>
    
    
    <!-- App setup -->
      <div class="row m-0 mt-3" ng-show="extendedUser.Params.Onboarding=='AppSetup'">
     
        <div  class="p-2 col">
          
            <div >
                <div class="col-24 text-center">
                    <p class="" style="font: 36px IBM Sans Plex, sans-serif; color: #107896;"><b>Hi {{ currentUserFirstName}} and welcome to Katalyo!</b></p>
                </div>
                <div class="row m-0">
                    <div class="col-auto text-center">
                        <img width="50%" src="/static/img/resource_dude.png">
                    </div>
                    <div class="col" style="font: 16px IBM Sans Plex, sans-serif; color: #107896;">
                        <p style="font: 24px Helvetica, sans-serif; color: #107896;">You've successfuly created your first application!</p>
                        <p  style="font: 20px IBM Sans Plex, sans-serif; color: #107896;"> Continue building <b class="mx-1">{{application_name}}</b> by setting up menus and tasks that will be part of your application!</p>
                        <div class="row m-0">
                            <button type="button" class="btn btn-sm btn-primary mb-2" ui-sref="app.navbar.resources.application-definition({'navbar_id':9,'sidemenu_id':0,'id':extendedUser.Params.OnboardingAppId})">Setup application <b class="mx-1">{{application_name}}</b></button>  
                        </div>
                    </div>
                    
                </div>
               
               
            </div>
       </div>
    
    </div>
    


</div>
