<div class="col-lg-14 m-auto">
  <form ng-submit="fn_register(form.$valid)" name="form" class="form-horizontal" novalidate>
  


    <div class="card m-4">
      <div class="" ng-if="signupCheckDone && !signupOK" >
         <div class="text-center">
        <img src="/img/Katalyo_final_aqua.png" style="
                width: calc(60px + 3vw);
                margin-top:20px;
            ">
         <div style="font-family: Roboto;
              font-size: 40px;
              font-weight: bold;
              color:#19a3b8;
              text-align: center;
              margin-top: 3rem;"
              >Ooops!</div>
           <!-- <h4 class="border-bottom border-danger alert-danger text-center py-1"><i class="fa fa-times mr-2"></i>Invalid signup request</h4>-->
            <div ng-if="errorMsg" class="col-lg-24">
              <div  class="my-2 text-center text-danger">
                <h6>{{errorMsg}}</h6>
              </div>
            </div> 
            <div class="pt-5">
              <h6><a ui-sref="app.signup">Sign up</a> for Katalyo</h6> 
              <h6>Go to <a ui-sref="app.login"> login page</a></h6>
              <h6>Visit our <a href="https://www.katalyo.com">website</a></h6>
            </div>
         </div>
      </div> 
      <div ng-if="checkingSignup" class="text-center">
          <div class="loader loader-lg"></div>
          <div class="my-2">
            <div class="panel-title px-1" style="vertical-align:middle;color:#3498db"><span>Checking request...</span></div>
          </div>
      </div>
      
      
    <div ng-if="signupOK" class="rounded text-white text-center" style="">
             
                <img style="width: 100%; height: auto;position: absolute;left: 0%;" src="img/elipsa.png"></img>
           
                <h2 style="width: 100%; height: auto;position: absolute;left: 0%;top:20px" class="">Welcome onboard Katalyo!</h2>
              
              <div class="mt-3">
            
                  <h5 ng-if="false" class="">We know you can't wait to start building!</h5>
                  <h6 class="">Please enter basic info and you'll be up and running in no time!</h6>
                  <div ng-if="false">
                      <h6 class="text-primary"><b>Step 2.</b> Register your EOS account <a href ng-click="showEOS=!showEOS"> (Why do I need EOS account?)</a></h5>
                      <h6 class="text-info" ng-if="showEOS">You need EOS account because Katalyo token is built on EOS blockchain <a href="http://eos.io" target="_blank"> (learn more about EOS blockchain) </a>
                      </h6>
                      <span class="text-info" ng-if="showEOS">Don't have an EOS account? Don't worry you can still use Katalyo and add your EOS account later at any time. However
                      you will need an EOS account if you want full control of your Katalyo tokens!
                      </span>
                  </div>
            
          </div>
    </div>
    
    <!-- User and Organisation details -->
    <div class="row m-0" ng-if="signupOK">
     
          <div class="offset-lg-4 col-lg-16 p-4 rounded bg-white" style="margin-top:3rem"> 
                  
                  <div ng-if="false" class="btn-group btn-group-toggle w-100 mb-3 mb-lg-5" data-toggle="buttons" style="display: flex !important;justify-content: space-evenly !important">
                    
                    <label ng-click="register.organisation_type='Personal'" class="btn btn-primary" style="padding:0 !important;box-shadow: 0px 6px 8px #8888886e;">
                     <img style="width: 100%; height: 97%;" src="img/baloon.png"></img>
                      <input  type="radio" name="organisation_type" id="organisation_type" autocomplete="off" checked=""> 
                    </label>
                    
                    <label ng-click="register.organisation_type='ForProfit'" class="btn btn-primary active" style="padding:0 !important;box-shadow: 0px 6px 8px #8888886e;">
                     <img style="width: 100%; height: 97%;" src="img/rocket.png"></img>
                       <input  type="radio" name="organisation_type" id="organisation_type" autocomplete="off" checked="true"> 
                    </label>
                    
                    <label ng-click="register.organisation_type='NonProfit'" class="btn btn-primary" style="padding:0 !important;box-shadow: 0px 6px 8px #8888886e;">
                    <img style="width: 100%; height: 97%;" src="img/airplane.png"></img>
                      <input  type="radio" name="organisation_type" id="organisation_type" autocomplete="off" checked=""> 
                    </label>
                    
              
                  </div>
                   <div ng-if="register.organisation_type!='Personal'" class="form-group" ng-class="{ 'text-danger' : (form.organisation_name.$touched || form.organisation_name.$dirty || form.$submitted) && form.organisation_name.$invalid }">
                          
                              <label class="mb-1 bold" for="organisation_name">Organisation name</label>
                              <input type="text" ng-required="register.organisation_type!='Personal'" ng-model="register.organisation_name" id="organisation_name" ng-class="{ 'border-danger is-invalid' : (form.organisation_name.$touched || form.organisation_name.$dirty || form.$submitted)  && form.organisation_name.$error.required }"
                                     ng-disabled="dataLoading" aria-label="organisation_name" class="form-control" name="organisation_name" placeholder="Organisation name">
                                
                            
                             <span ng-show="(form.organisation_name.$touched || form.organisation_name.$dirty || form.$submitted) && form.organisation_name.$error.required" class="text-danger small"> Organisation name is required</span>
                 </div>
                   <div class="form-group" ng-class="{ 'text-danger' : (form.fname.$touched || form.fname.$dirty || form.$submitted) && form.fname.$error.required }">
                         
                         <label class="mb-1 bold"  for="fname">First name</label>
                            
                         
                                <input type="text" ng-model="register.fname" ng-class="{ 'is-invalid' : (form.fname.$touched || form.fname.$dirty || form.$submitted) && form.fname.$error.required }"
                                       ng-required="true" id="fname" ng-disabled="dataLoading" aria-label="fname" class="form-control" name="fname" placeholder="First name">
                         <span ng-show="(form.fname.$touched || form.fname.$dirty || form.$submitted) && form.fname.$error.required" class="text-danger small">First name is required</span>
                 
                </div>
                
                <div class="form-group" ng-class="{ 'text-danger' : (form.lname.$touched || form.lname.$dirty || form.$submitted) && form.lname.$error.required }">
                         
                         <label class="mb-1 bold"  for="lname">Last name</label>
                            
                         
                         <input type="text" ng-model="register.lname" id="lname" ng-class="{ 'is-invalid' : (form.lname.$touched || form.lname.$dirty || form.$submitted) && form.lname.$error.required }"
                                       ng-required="true" ng-disabled="dataLoading" aria-label="lname" class="form-control" name="lname" placeholder="Last name">
                         
                         <span ng-show="(form.lname.$touched || form.lname.$dirty || form.$submitted) && form.lname.$invalid" class="text-danger small"> Last name is required</span>
                 
                </div>
                
                  <div class="form-group" ng-class="{ 'text-danger' :  (form.username.$touched || form.username.$dirty || form.$submitted) && form.username.$error.required }">
                          
                              <label class="mb-1 bold" for="username">Username</label>
                                                
                             
                                <input type="text" ng-required="true" ng-model="register.username" id="username" ng-class="{ 'is-invalid' : (form.username.$touched || form.username.$dirty || form.$submitted) && form.username.$error.required }"
                                       ng-disabled="dataLoading" aria-label="Username" aria-describedby="basic-addon1" class="form-control" name="username" placeholder="Username">
                                
                             
                             <span ng-show="(form.username.$touched || form.username.$dirty || form.$submitted) && form.username.$invalid" class="text-danger small"> Username is required</span>
                     
                            
                 </div>
  
                 <div class="form-group">
                         
                         <label class="mb-1 bold" ng-class="{ 'text-success':(form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$valid, 'text-danger': (form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$invalid}" for="password">Password</label>
                         <i ng-if="(form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$valid" class="fa fa-check text-success" ></i>   
                        
                         <input type="password" ng-required="true" ng-model-options="{ debounce: 1000 }" ng-change="checkPassword(form.password)" ng-class="{ 'is-invalid' : (form.password.$touched || form.password.$dirty || form.$submitted) && form.password.$invalid}"
                            ng-model="register.password" id="password" ng-disabled="dataLoading" aria-label="Password" class="form-control" name="password" placeholder="Password">
                                
                       
                         <span ng-show="(form.password.$dirty || form.password.$touched || form.$submitted) && form.password.$invalid" class="text-danger small">Please enter strong password (Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character) </span>
                       <!--  <span ng-show="(form.password.$dirty || form.password.$touched) && form.password.$error.required" class="help-block">Password is required </span>-->
                 
                 </div>
                 
                 <div class="form-group">
                         
                         <label class="mb-1 bold" ng-class="{ 'text-success':(form.confirmPassword.$dirty || form.confirmPassword.$touched || form.$submitted) && form.password.$valid && register.password==register.confirmPassword && register.confirmPassword!='' && register.confirmPassword!=undefined, 'text-danger': (form.confirmPassword.$dirty || form.confirmPassword.$touched) && form.password.$valid && register.password!=register.confirmPassword && confirmPassword!=''}"
                                for="confirmPassword">Confirm password</label>
                          <i ng-if="(form.confirmPassword.$dirty || form.confirmPassword.$touched || form.$submitted) && form.password.$valid && register.password==register.confirmPassword && register.confirmPassword!='' && register.confirmPassword!=undefined" class="fa fa-check text-success" ></i>     
                        
                                <input type="password" ng-required="true" ng-model="register.confirmPassword" id="confirmPassword" ng-class="{ 'is-invalid' : (form.confirmPassword.$touched || form.confirmPassword.$dirty || form.$submitted) && form.password.$valid && form.confirmPassword.$invalid}"
                                ng-disabled="dataLoading" class="form-control" name="confirmPassword" placeholder="Confirm password">
                                
                         
                       <!--  <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block"> Confirm password</span> -->
                         <span ng-show="(form.confirmPassword.$dirty || form.confirmPassword.$touched) && form.password.$valid && register.password!=register.confirmPassword && register.confirmPassword!='' && register.confirmPassword!=undefined" class="text-danger small"> Passwords don't match</span>
                 
                </div>
                
                
                
            </div>
            
            
            <div ng-if="false" class="col-lg-12 col-md-12 col-sm-24 col-xs-24">
                  <div class="text-center" style="margin-bottom: 20px;border-bottom: 1px solid #dedede;">
                 
                    <h4><i class="fa fa-university mr-2"></i>Enter organisation details</h3>
                     <a ng-if="false" href><i class="fa fa-question"></i></a>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : form.username.$dirty && form.username.$error.required }">
                          
                              <label  for="username">Organisation name</label>
                              <input type="text" ng-required="true" ng-model="organisation_name" id="organisation_name" ng-disabled="dataLoading" aria-label="organisation_name" aria-describedby="basic-addon6" class="form-control" name="organisation_name" placeholder="Organisation name">
                                
                            
                             <span ng-show="form.organisation_name.$dirty && form.organisation_name.$error.required" class="help-block"> Organisation name is required</span>
                     
                            
                 </div>
                  
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.country.$touched) && form.country.$invalid }">
                    <label   for="country">Country</label>
                    
                       <ui-select ng-model="organisation.Country" ng-disabled="disabled" name="country" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select country...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="country in (countryList | filter: { name: $select.search }) track by country.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{country.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.country.$touched) && form.country.$invalid" class="help-block">Select country</p>
                   
                </div>
              <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.industry.$touched) && form.industry.$invalid }">
                    <label   for="industry">Industry</label>
                   
                       <ui-select ng-model="organisation.Industry" ng-disabled="disabled" name="industry" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select industry...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="industry in (industryList | filter: { name: $select.search }) track by industry.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{industry.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.industry.$touched) && form.industry.$invalid" class="help-block">Select industry</p>
                   
                </div>     
  
                
            </div>
            
            
            <div class="row" ng-if="false">
                  <div class="col-lg-24 col-xs-24 col-sm-24">
                        <div class="text-center" style="margin-bottom: 20px;border-bottom: 1px solid #dedede;">
                                  <h5 class="text-primary">Register EOS account </h5>
                                  <a ng-if="false" href><i class="fa fa-question"></i></a>
                        </div>
                        
                        <div class="col-xs-24 col-md-16">  
                            <div class="form-group" ng-class="{ 'has-error' : form.eosAccount.$dirty && form.eosAccount.$error.required }">
                                        <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                                            <label class="form-control no-border"  style="" for="eosAccount">EOS account</label>
                                        </div>
                                        <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                                          <input type="text" ng-model="eosObject.account" id="eosAccount"  class="form-control" name="eosAccount" placeholder="Enter EOS account">
                                          <span ng-show="form.eosAccount.$dirty && form.eosAccount.$error.required" class="help-block"> EOS account is required</span>
                                        
                                        </div>
                                        <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                                            <button type="button" ng-click="checkEOSAccount()" class="btn btn-info" >
                                                <span class="fa fa-search"></span> Find EOS account
                  
                                           </button>
                                          
                                         </div>
                                      
                            </div>
                      </div>
                      <div class="col-xs-24 col-sm-24">   
                          <div ng-if="checkingEOSAccount" class="text-center">
                                                  <div class="loader loader-lg"></div>
                                                
                                                   <div class="panel-title" style="vertical-align:middle;color:#3498db"><h3>Searching for EOS account...</h3>
                                                   </div>
                          </div>
                      </div>     
                </div>
                  
                <div ng-if="eosAccountObject.result_code==0">
                  
                  <div class="col-lg-24" style="margin-bottom: 20px;border-bottom: 1px solid #dedede;">
                              <div class="col-lg-5">
                                <div class="text-primary"> <h3>Account name</h3> </div>
                                <h4>
                                  <span >{{eosAccountObject.account_name}}</span>
                                </h4>  
                            </div>
                            
                              <div class="col-lg-6">
                                <h3 class="text-primary"> Total balance </h3>
                                <h4>
                                  <span >{{eosAccountObject.balance_total}} EOS</span>
                                </h4>  
                            </div>
                                <div class="col-lg-6">
                                <h3 class="text-primary"> Proxy</h3>
                                <h4>
                                  <span >{{eosAccountObject.is_proxy}}</span>
                                </h4>  
                            </div>
                                  <div class="col-lg-6">
                                <h3 class="text-primary"> Privileged </h3>
                                <h4>
                                  <span>{{eosAccountObject.privileged}}</span>
                                </h4>  
                            </div>
                                                     
                  </div>
                  <div class="row">
                            <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                                <span>Staked balance</span><span class="float-right">{{eosAccountObject.balance_staked}} EOS</span>
                                <div class="progress">
                                   <div style="border: 1px solid red;height: inherit" title="0%" ng-if="eosAccountObject.balance_staked==0"></div>
                             
                                   <div title="{{eosAccountObject.balance_staked_progress}} %" class="progress-bar" role="progressbar" aria-valuenow="{{eosAccountObject.balance_staked}}" aria-valuemin="0" aria-valuemax="eosAccountObject.balance_staked_total" ng-style="{{eosAccountObject.balance_staked_style_small}}" style="width: {{eosAccountObject.balance_staked_progress}}%">
                                    
                                   </div>
                                  
                                </div>
                                
                          </div>
                          <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                             <span>Unstaked balance</span><span class="float-right">{{eosAccountObject.balance_unstaked}} EOS</span>
                            <div class="progress">
                              <div style="border: 1px solid red;height: inherit" title="0%" ng-if="eosAccountObject.balance_unstaked==0"></div>
                              
                              <div title="{{eosAccountObject.balance_unstaked_progress}} %" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{eosAccountObject.balance_unstaked}}" aria-valuemin="0" aria-valuemax="{{eosAccountObject.balance_total}}" ng-style="{{eosAccountObject.balance_unstaked_style_small}}" style="width: {{eosAccountObject.balance_unstaked_progress}}%" >
                               
                              </div>
                              
                            </div>
                             
                          </div>
                          
                          <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                             <span>CPU</span> <span class="float-right">{{eosAccountObject.cpu_limit_used}} {{eosAccountObject.cpu_unit_used}} / {{eosAccountObject.cpu_limit_max}} {{eosAccountObject.cpu_unit_max}} ({{eosAccountObject.cpu_weight}})</span>
                       
                            <div class="progress">
                              <div style="border: 1px solid red;height: inherit" title="0%" ng-if="eosAccountObject.cpu_limit_used==0"></div>
                              <div title="{{eosAccountObject.cpu_limit_progress}} %" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{eosAccountObject.cpu_limit_used}}" aria-valuemin="0" aria-valuemax="{{eosAccountObject.cpu_limit_max}}" ng-style="{{eosAccountObject.cpu_style_small}}" style="{{eosAccountObject.cpu_limit_progress}}%" >
                               
                              </div>
                            </div>
                              </div>
                          
                          <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                             <span>RAM</span>     <span class="float-right">{{eosAccountObject.ram_usage}} {{eosAccountObject.ram_unit_usage}} / {{eosAccountObject.ram_quota}} {{eosAccountObject.ram_unit_quota}}</span>
                         
                              <div class="progress">
                              <div style="border: 1px solid red;height: inherit" title="0%" ng-if="eosAccountObject.ram_usage==0"></div>
                              
                              <div title="{{eosAccountObject.ram_progress}} %" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{eosAccountObject.ram_usage}}" aria-valuemin="0" aria-valuemax="{{eosAccountObject.ram_quota}}" ng-style="{{eosAccountObject.ram_style_small}}"  style="width: {{eosAccountObject.ram_progress}}%" >
                               
                              </div>
                            </div>
                          
                         </div>
                         <div class="col-lg-16 col-md-12 col-sm-12 col-xs-24">
                             <span>Network</span>   <span class="float-right">{{eosAccountObject.net_limit_used}} {{eosAccountObject.net_unit_used}} / {{eosAccountObject.net_limit_max}} {{eosAccountObject.net_unit_max}} ({{eosAccountObject.net_weight}})</span>
                         
                              <div class="progress">
                              <div style="border: 1px solid red;height: inherit" title="0%" ng-if="eosAccountObject.net_limit_used==0"></div>
                              
                              <div title="{{eosAccountObject.net_limit_progress}} %" class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{eosAccountObject.net_limit_used}}" aria-valuemin="0" aria-valuemax="{{eosAccountObject.net_limit_max}}" ng-style="{{eosAccountObject.net_style_small}}"  style="width: {{eosAccountObject.net_limit_progress}}%" >
                                
                              </div>
                            </div>
                            
                         </div> 
                  </div>     
        </div>
    </div>
    <!-- User and Organisation details including register EOS account -->
    
      <div ng-if="!dataLoading" class="offset-lg-4 col-lg-16 p-4 px-4 pb-4 text-center">
        <button type="submit" class="btn btn-success w-100" >
            <span class="fa fa-handshake"></span> Complete onboarding
         </button>    
      </div>
      
      <div ng-if="dataLoading" class="col-lg-24 my-4 text-center">
              
                      <div class="loader"></div>
                          <b class="panel-title ml-2" style="vertical-align:middle;color:#3498db">Processing onboarding...</b>
                
      </div>
      <div ng-if="errorMsg && signupCheckDone && signupOK && !dataLoading" class="col-lg-24">
              <div  class="my-2 text-center text-danger">
                <h6>{{errorMsg}}</h6>
              </div>
      </div> 
    </div>        

    </form>

</div>
     
