<div class="card m-sm-5 shadow-sm">

  <div>

  <div class="row m-0">
  
      

        <div class="col-lg-9 text-center" style="border-right: 0.3rem solid #2C60E5;padding:2.4rem !important;padding-bottom:0 !important;padding-top:1rem !important;">
          
            <div  class="p-3 text-center" style="font-size: xxx-large;">Start building today</div>
        
          <img class="w-75 my-4" src="/img/idea-development.png">
          
          <div class="d-none mt-4 d-md-block">
              <div class="p-0">
                <div class="py-1 col-24"   style="font-size: 2rem; color: ; text-align: middle; background-color: ;">Build with Katalyo.</div>
              </div>
  
              <div class="p-0">
                <div class="py-1 col-24"  style="font-size: 2rem; color: #0e1a39; text-align: middle; background-color: ;">Unleash innovation.</div>
              </div>
              
              <div class="p-0 ">
                <div class="py-1 col-24"  style="font-size: 2rem; color: #0e1a39; text-align: middle; background-color: ;">No coding.</div>
              </div>

          </div>
          
        <!--  <div class="p-0">
            <div class="py-1 col-24 d-block d-md-none" style="font-size: 1.5rem; color: #0e1a39; text-align: middle; background-color: ;">Signup now!</div>
          </div>-->
          <div class="d-none p-0">
            <div class="pt-4 col-24 " style="font-size: 1rem; color: #0e1a39; text-align: middle; background-color: ;">Did you know you can earn rewards for building with Katalyo!</div>
          </div>
        
            
            <div class="p-0 d-none d-md-block">
                <div class="py-1 col-24 " style="font-size: 0.8rem; color: #0e1a39; text-align: middle; background-color: ;"> 
           </div>
          </div>            
        </div>
   
       <div class="col m-1 bg-white" style="padding: 2.4rem !important;padding-top:1rem !important;">
           <div class="d-none d-md-block py-4">   
            
           </div>
            <form ng-submit="signup(form.$valid)" id="loginForm" name="form" class="form-horizontal" role="form" novalidate>
 
                <div ng-if="!signupSuccess">
                  
                  <div class="" >
                    <div  class="p-3 text-center" style="font-size: xxx-large;">Sign up</div>

                  </div>
                  
                 
                  
                </div>
             
                <div ng-show="!signupSuccess" class="form-group row" ng-class="{ 'has-error' : form.email.$dirty && form.email.$error.required }">
                           
                            <div class="col-sm-18 offset-sm-2 col-md-14 offset-md-5">
                              <input type="text" ng-model="email" id="email" ng-disabled="dataLoading" class="form-control" name="email" placeholder="Enter e-mail">
                              <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block"> E-mail is required</span>  
                            </div>
                             <div class="col-24 my-4">
                              
                                <div style="margin: 0 auto;display: table" vc-recaptcha key="'6Ld-gmcUAAAAAAZ6q5Y5vG6GrT0MpxnAON0XhXnc'"  on-create="onWidgetCreate(widgetId)" ng-model="captchaResponse" size="normal" ></div>
                            </div>
                            <div class="d-none d-md-block col-24 mt-2">
                              <div class="text-center">
                                 <small>By clicking "Sign up for Katalyo", you agree to our <a href="https://beta.katalyo.com/nm/public/1/terms">terms of service</a>  and <a href="https://beta.katalyo.com/nm/public/1/privacy">privacy statement</a>.</small>
                              </div>
                              <div class="text-center">
                                 <small>Your e-mail will be used only to interact with the system and to receive notifications.</small>
                               </div>
                              <div class="text-center">
                                 <small>At Katalyo we value your privacy so we promise never to share your e-mail with anyone</small>
                              </div>
                               
                            </div>
                            
                             <div class="d-block d-md-none col-24 mt-2">
                              <div class="text-center">
                                 <small>By clicking "Sign up for Katalyo", you agree to our <a href="https://beta.katalyo.com/nm/public/1/terms">terms of service</a>  and <a href="https://beta.katalyo.com/nm/public/1/privacy">privacy statement</a>.</small>
                                  <small>Your e-mail will be used only to interact with the system and to receive notifications.</small>
                                 <small>At Katalyo we value your privacy so we promise never to share your e-mail with anyone</small>
                              </div>
                               
                            </div>
                            
                </div>
                   
             
                
              <div ng-if="!signupSuccess && !dataLoading" class="row ">
                     
                          <div class="col-24 text-center">
                            <button type="submit" ng-disabled="form.$invalid || dataLoading" id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Signing up...">
                                 <span class="fa fa-user-plus"></span> Sign up for Katalyo
   
                            </button>
                          </div>
                          
                           <div class="col-24 text-center">
                                <div class="mt-5 py-5 col-24 " style="font-size: 0.8rem; color: #0e1a39; text-align: middle; background-color: ;">Already have an account? <a class="ml-2" href="/login">Log in</a></div>
                            
                           </div>
                         
                         
              </div>

              <div ng-if="!signupSuccess && dataLoading" class="row">
                <div class="col-24 text-center">
                      <div class="loader"></div>
                          <b class="panel-title ml-2" style="vertical-align:middle;color:#3498db">Processing signup request...</b>
                </div>
              </div>
               
       
              <div ng-if="signupSuccess">
                
                <div class="text-success text-center"><i class="fa fa-check-square fa-4x"></i> </div>
                <div class="m-3 text-success h5 text-center">Thank you for signing up for Katalyo !</div>
                <div class="m-3 text-primary h6 text-center"><span class="h6"><i class="fa fa-envelope mr-1"></i> You have signed up with email: {{email}}</span> </div> 
                <div class="text-dark text-center"><span>To complete the signup process please check your inbox !</span></div>
                
                
              </div>
              
              <div ng-if="errorMsg" class="row p-2 rounded alert-danger">
                <div class="col"> {{errorMsg}}</div>
                <div class="col-auto">
                    <a href class="text-danger ml-2" ng-click="hideError()"><i  class="fa fa-times"></i></a>
                </div>
              </div>
            </form> 
              
        
      </div>      
  </div>
</div>
</div>