// Documentation layout
.ds-sidebar {
  position: relative;
  padding: 5% 3%;
  background: $blue;
  color: $white;
  .sticky {
    top: 7%;
    position: sticky;
  }
  .build-date {
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 5;
  }
  .link {
    display: block;
    font-weight: 400;
    color: $white;
    margin: $spacer * 2 0;
  }
}
.ds-content {
}
.ds-section {
  padding: 5%;
  &:first-child {
    margin-top: 4%;
  }
}

// Section colors
.color-class {
  min-width: 133px;
  height: 133px;
  padding: $spacer;
  font-size: $font-size-xs;
  white-space: nowrap;
  h6 {
    font-size: 14px;
  }
}

// Section layout
.ds-grid {
  .bg-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 133px;
  }
  &.gutters {
    background-color: lighten($success, 40%);
    .bg-fill {
      background-color: lighten($warning, 30%);
    }
  }
  &.no-gutters {
    .bg-fill {
      box-shadow: 1px 0 0 0 lighten($danger, 40%);
      background-color: transparent;
      color: $danger;
    }
    .col-1:first-child {
      box-shadow: inset 1px 0 0 0 lighten($danger, 40%);
    }
  }
}

.BlueWhenHover:hover{
fill:blue !important;
}

.hoverParent:hover .blueOnHover{
fill:blue !important;
}





