
<div class="col-lg-24">
        <form ng-submit="ResetPassword(cp.username,userId,cp.password1,cp.password2,signupkey)"  name="form" class="form-horizontal" role="form" novalidate="true">
          <div ng-if="errorMsg" class="row justify-content-md-center">
           <div  class="col-lg-12 p-0">
              <div  class="text-center alert alert-danger">
                 <span class="h5"> {{errorMsg}}<a href style="float:right;margin-left:10px" ng-click="hideError()"><i  class="fa fa-times text-danger"></i></a></span>
              </div>
            </div>
          </div> 
        
        <div class="row justify-content-md-center">
                <div class="" ng-if="checkDone && !checkDigestOk" >
                 <div class="text-center">
                 <div style="font-family: Roboto;
                      font-size: 40px;
                      font-weight: bold;
                      color:#19a3b8;
                      text-align: center;
                      margin-top: 3rem;
                       margin-bottom: 3rem;" 
                      ng-bind="pageLabels.upsMsg || 'Ooops!'"></div>
                    <h4 class="alert-danger rounded text-center p-2 px-4"><i class="fa fa-times mr-2"></i><span ng-bind="pageLabels.invalidRequestMsg || 'Invalid request'"></span></h4>
                    <div ng-if="errorMsg" class="col-lg-24">
                      <div  class="my-2 text-center text-danger">
                        <h6>{{errorMsg}}</h6>
                      </div>
                    </div> 
                    
                     <div class="h5 mt-4" ><a ui-sref="app.login"> <span ng-bind="pageLabels.gotoLoginLink || 'Go to login page'"></span></a></div>
                 
                 </div>
              </div> 
              <div ng-if="!checkDone" class="text-center">
                  <div class="loader loader-lg"></div>
                  <div class="mt-2">
                    <div class="panel-title px-1" style="vertical-align:middle;color:#3498db"><span ng-bind="pageLabels.checkdRequestMsg || 'Checking request...'"></span></div>
                  </div>
              </div>
        </div>
        <div class="row justify-content-md-center" ng-if="checkDigestOk">

           <div class="col-lg-12 card p-0">
              <div class="card-header text-center"><b class="card-title" ng-if="!dataLoading"><i class="fa fa-lock mr-2"></i><span ng-bind="pageLabels.resetPasswordLabel || 'Reset password'"></span></b>
                                  <div ng-if="dataLoading" class="text-center">
                                   <div class="loader"></div>
                                  <b class="card-title ml-2" style="vertical-align:middle;color:#3498db" ><span ng-bind="pageLabels.processingLabel || 'Processing...'"></span></b>
                                  </div>
              </div>
           
              <div class="card-body">
                <div class=""> 
                       
                       <div class="form-group"  ng-class="{ 'text-danger' : usernameInvalid}">
                               
                               <label class="mr-1 mb-2" for="username" ng-bind="pageLabels.username || 'Username'"></label>
                                  
                               <div class="input-group">
                                      <div class="input-group-prepend">
                                         <div class="input-group-text">
                                          <i class="fas fa-user" id="basic-addon1"></i>
                                         </div>
                                      </div>
                                      <input type="text" ng-model="cp.username" ng-change="checkUsernameValidity()" ng-disabled="dataLoading" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="username" placeholder="{{pageLabels.username}}">
                                      
                                </div>
                             <span ng-show="usernameInvalid" class="text-danger small" ng-bind="pageLabels.usernameError || 'Username is required'"></span>
                       
                       </div>

                       <div class="form-group" ng-class="{ 'text-danger' : passwordInvalid1}">
                               
                               <label class="mr-1 mb-2" for="password" ng-bind="pageLabels.newPasswordLabel || 'New password'"></label>
                                  
                               <div class="input-group">
                                      <div class="input-group-prepend">
                                         <div class="input-group-text">
                                          <i class="fas fa-key" id="basic-addon1"></i>
                                         </div>
                                      </div>
                                      <input type="password" ng-change="checkPasswordValidity1()" ng-model="cp.password1" ng-disabled="dataLoading" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="password1" placeholder="{{pageLabels.newPasswordLabel}}">
                                      
                                </div>
                               <span ng-show="passwordInvalid1" class="text-danger small" ng-bind="pageLabels.newChangePassError || 'Password is required'"></span>
                       
                       </div>

                       <div class="form-group mt-2" ng-class="{ 'text-danger' : passwordInvalid2}">
                               
                                 <label class="mr-1 mb-2" for="password" ng-bind="pageLabels.confirmNewPasswordLabel || 'Confirm new password'"></label>
                                  
                               <div class="input-group">
                                      <div class="input-group-prepend">
                                         <div class="input-group-text">
                                          <i class="fas fa-key" id="basic-addon2"></i>
                                         </div>
                                      </div>
                                      <input type="password" ng-change="checkPasswordValidity2()" ng--model="cp.password2" ng-disabled="dataLoading" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="password2" placeholder="{{pageLabels.confirmNewPasswordLabel}}">
                                      
                                   </div>
                               <span ng-show="cp.password1 && (cp.password1!==cp.password2)" class="text-danger small" ng-bind="pageLabels.confirmPasswordError || 'Passwords must match'"></span>
                       
                       </div>
          
                       <br>
                      <div class="form-group controls">
                             
                                 <button type="submit" ng-show="!passwordChangeSuccess" ng-disabled="cp.username==undefined || cp.username=='' || cp.password1==undefined || cp.password1=='' || cp.password1!==cp.password2 || dataLoading" class="btn btn-primary">
                                      <span class="fa fa-lock"></span> <span ng-bind="pageLabels.changePasswordButton || 'Change password'"></span>

                                 </button>
                                 
                                 
                      </div>
                      
                      
                      
            </div>
            <div class="col-lg-24">
          

               <div >
                          
               
                      <div ng-if="passwordChangeSuccess && successMsg" class="text-center" style="padding:20px !important">
                        
                        <span class="h4 alert alert-success"><i class="fa fa-thumbs-up"></i> {{successMsg}}</span>
                         <div class="h5 mt-4" ><a ui-sref="app.login"> <span ng-bind="pageLabels.gotoLoginLink || 'Go to login page'"></span></a></div>
                      </div>
                      
                        
                </div>      
            </div>
          
          
          
               </div>
              </div> 
          </div>
          

        </form>

</div>