
<form @submit.prevent="login()" id="loginForm" name="form" class="form-horizontal" role="form" novalidate="true">
  <div v-if="errorMsg" class="row justify-content-md-center">
   <div  class="col-lg-12 p-0">
      <div  class="text-center alert alert-danger">
        <h5>{{errorMsg}}</h5>
      </div>
    </div>
  </div> 
  <div class="row justify-content-md-center">

   <div class="col-lg-12 card p-0">
      <div class="card-header text-center"><b class="card-title" v-if="!dataLoading"><i class="fa fa-lock"></i>&nbsp Password reset</b>
                          <div v-if="dataLoading" class="text-center">
                           <div class="loader"></div>
                          <b class="card-title" style="vertical-align:middle;color:#3498db">&nbsp&nbsp Logging in...</b>
                          </div>        
                                        
          <div >
          
              <b class="panel-title" v-show="!signupSuccess" >
                <i class="text-warning " style="margin-right: 10px; "></i>
                <h3 class="text-warning">Enter your e-mail to reset password</h3>
              </b>
              <b class="panel-title" v-show="!dataLoading && signupSuccess">
                <i class="text-success fa fa-check fa-4x" style="margin-right: 10px; "></i>
                <h3 class="text-success"> To complete the password reset process please check your inbox at</h3>
              </b>
              
              <div v-show="dataLoading" class="text-center">
               <div class="loader"></div>
              <b class="panel-title" style="vertical-align:middle;color:#3498db">&nbsp&nbsp Processing request...</b>
              </div>
                          
        </div>
      
      
      </div>
   
      <div class="card-body p-1">
      
       <div class="well-custom bg-white" style="padding:10px !important">
          
              <div v-show="!signupSuccess" class="form-group row" :class="{ 'has-error' : emailInvalid}">
                          <div class="col-md-4 ">
                             <!-- <label class="form-control no-border"  style="" for="email">E-mail</label>-->
                          </div>
                          <div  class="col-md-16">
                            <input required type="email" v-on:input="checkEmailValidity()" v-model="email" id="email" :disabled="dataLoading" :class="[ 'form-control',isEmailValid()]" class="form-control" name="email" placeholder="Enter e-mail">
                            <span v-show="emailInvalid" class="help-block"> E-mail is required</span>
      
                              <br>
                              
                          </div>
                          
              </div>
              
                
              <div v-show="!signupSuccess" class="controls row justify-content-center">
                     
                         <button :disabled="!validity" type="submit"  id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Signing up...">
                              <span class="fa fa-user-plus"></span> Reset password

                         </button>
                          
                         <br>
                        <!-- <small>By clicking "Reset password", you agree to our terms of service and privacy statement.
                         Your e-mail will be used only to interact with the system and to receive notifications.
                         </small>-->
              </div>
              
       
              <div class="row justify-content-center" v-show="signupSuccess"> 
                <span class="text-primary"><h3 ><i class="fa fa-envelope">&nbspE-mail :</i>  {{email}}</h3> </span> 
              <!--  <span class="text-success"><h3><i class="fa fa-envelope"></i> To complete the password reset process please check your inbox at {{email}} !</h3></span>-->  
              </div>
              
            <!--  <div v-show="errorMsg">
                <span class="alert alert-danger"> {{errorMsg}}<a href style="margin-left:10px" v-click="hideError"><i  class="fa fa-times"></i></a></span>
              </div>-->
                 
        
      </div>      


       </div>
      </div> 
  </div>
  
  
</form>

