 <div class="col text-center p-4 my-5 ng-scope">
 <img width="200" loading="lazy" src="/img/Katalyo_final_aqua.png">
 </div>


 <div class="col-lg-24 text-center">
    <div ng-if="errorMsg" class="text-center alert alert-danger"><h4>{{errorMsg}}</h4></div> 
    <h3 ng-if="!errorMsg" ><span ng-bind="pageLabels.logoutMsg1 || 'You are logged out. To log in again, click'"></span> <a ng-click="login_page()" href class="text-info"> <span ng-bind="pageLabels.logoutPageLoginLink || 'Login'"></span></a>.</h3>
    <h3 ng-if="errorMsg"><span " ng-bind="pageLabels.logoutMsg2 || 'To log in click'"></span> <a ng-click="login_page()" href class="text-info"> <span ng-bind="pageLabels.logoutPageLoginLink || 'Login'"></span></a>.</h3> 
 </div>