<div id="loginForm" class="col-lg-24" ng-non-bindable>

<div class="col text-center p-4 my-5 ng-scope"><img width="200" loading="lazy" src="/img/Katalyo_final_aqua.png"></div>

  <form @submit.prevent="login"  name="form" class="form-horizontal" role="form" novalidate="true">
    <div  class="row justify-content-md-center">
     <div  class="col-lg-12 p-0">
        <div v-if="errorMsg" class="text-center alert alert-danger">
          <span class="h5">{{errorMsg}}</span>
          <button type="button" class="float-right btn btn-outline-danger p-0 px-2 border-0" @click="errorMsg=null">x</button>
        </div>
        
      </div>
    </div> 
    <div class="row justify-content-md-center">
  
     <div class="col-lg-12 card">
        <div class="card-header text-center"><b class="card-title" v-if="!dataLoading"><i class="fa fa-lock mr-2"></i><span>{{pageHeader}}</span></b>
                            <div v-if="dataLoading" class="text-center">
                             <div class="loader"></div>
                            <b class="card-title ml-2" style="vertical-align:middle;color:#3498db">{{loginMsg}}</b>
                            </div>
        </div>
     
        <div class="card-body">
          <div class=""> 
                <div class="form-group" v-bind:class="{ 'text-danger' : usernameInvalid }">
                          
                             <label   class="mr-1 mb-2" for="username">{{usernameLabel}}</label>
                                                
                             <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text" v-bind:class="{ 'text-danger border border-danger' : usernameInvalid }">
                                   <i class="fa fa-user" id="basic-addon1"></i>
                                  </div>  
                                </div>
                                <input type="text" v-bind:class="{ 'text-danger border border-danger' : usernameInvalid }" @keyup="checkUsernameValidity" v-model="username" id="username" :disabled="dataLoading" aria-label="Username" aria-describedby="basic-addon1" class="form-control" name="username" :placeholder="usernameLabel">
                                
                             </div>
                             <span v-show="usernameInvalid" class="text-danger small"> {{usernameError}}</span>
                     
                            
                </div> 
  
                 <div class="form-group" v-bind:class="{ 'text-danger' : passwordInvalid}">
                         
                                <label class="mr-1 mb-2" for="password" >{{passwordLabel}}</label>
                            
                         <div class="input-group">
                                <div class="input-group-prepend">
                                   <div class="input-group-text" v-bind:class="{ 'text-danger border border-danger' : passwordInvalid}">
                                    <i class="fas fa-key" id="basic-addon2"></i>
                                   </div>
                                </div>
                                <input type="password" v-bind:class="{ 'text-danger border border-danger' : passwordInvalid }" @keyup="checkPasswordValidity" v-model="password" id="password" :disabled="dataLoading" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="password" :placeholder="passwordLabel">
                                
                             </div>
                         <span v-show="passwordInvalid" class="text-danger small"> {{passwordError}}</span>
                 
                 </div>
    
                 <br>
                <div class="form-group controls">
                       <div class="row m-0">
                        <div class="col p-0">
                           <button type="submit" :disabled="usernameInvalid || passwordInvalid || dataLoading" id="loginBtn" class="btn btn-primary" :data-loading-text="dataLoadingText">
                                <span class="fa fa-lock"></span> {{loginButton}}
  
                           </button>
                        </div>
                        <div v-if="changePasswordType=='internal'" class="col-auto p-0">
                           <a  href="/changepassrequest">Forgot password?</a>
                        </div>   
                           
                </div>
                
                
                
            </div>
         </div>
        </div>
      </div> 
    </div>
       
  </form>

</div>