<form @submit.prevent="loginSso()" id="loginForm" name="form" class="form-horizontal" role="form" novalidate="true">
  <div v-if="errorMsg" class="row justify-content-md-center">
   <div  class="col-lg-12 p-0">
      <div  class="text-center alert alert-danger">
        <h5>{{errorMsg}}</h5>
      </div>
    </div>
  </div> 
  <div class="row justify-content-md-center">

      <div class="col-lg-12 card p-0">
         <div class="card-header text-center"><b class="card-title" v-if="!dataLoading"><i class="fa fa-lock"></i>&nbsp Please login</b>
                             <div v-if="dataLoading" class="text-center">
                              <div class="loader"></div>
                             <b class="card-title" style="vertical-align:middle;color:#3498db">&nbsp&nbsp Logging in...</b>
                             </div>
         </div>
      
       
         <br>
        <div v-if="errorMsg" class="form-group controls">
          <div class="row m-0">
            <div class="col text-center">
               <button type="submit" :disabled="dataLoading" id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Logging in...">
                    <span class="fa fa-lock"></span> Sso login
   
               </button>
            </div>
               
          </div>
        </div>
      
      </div>
  </div> 
</form>