
  <div  class="boxshadow sort-box" >
  
                              <button type="button" ui-sref="app.menu.tasks.form({id: taskId,formType:'i'})" class="btn btn-primary">
                              <span class='fa fa-list'></span> Start task - form definition</button>
                               <button type="button" ui-sref="app.menu.tasks.form({id: taskId,formType:'e'})" class="btn btn-primary">
                              <span class='fa fa-list'></span> Execute task - form definition</button>

  </div>

  <div  class="boxshadow sort-box" >
    <h4 class="text-center">Task definition</h4>
  </div>
  <div  class="boxshadow sort-box" >
    <div kt-task-def-details></div>
  </div>
    
    <div class="boxshadow sort-box">
                <uib-tabset active="active_tab">
                  
                    <uib-tab index="0" select="tabSelected(0)" heading="Task parameters">
                     <form ng-submit="saveTaskParameters(form.$valid)" id="saveTaskParam" name="formSaveTaskParam" class="form-horizontal" role="form" novalidate>
                      <br>
                      <h3 ng-if="!hasParameters" class="text-danger">Please define and save task parameters!</h3>
                      
                                <div class="form-group" ng-if="false" ng-class="{ 'has-error' : (form.$submitted || form.taskType.$touched) && form.taskType.$invalid }">
                                     <label class="col-sm-2" for="taskType">Task execution type</label>
                                     <div class="col-sm-6">
                                        
                                         <ui-select ng-model="task.TaskType" ng-disabled="disabled" name="taskType" ng-required="true" reset-search-input="false">
                                             <ui-select-match class="ui-select-match" placeholder="Search or select task type...">
                                                <span>{{$select.selected.name}}
                                                  <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                                                </span>
                                             </ui-select-match>
                                             <ui-select-choices class="ui-select-choices" repeat="tt.id as tt in (taskTypeList | filter: { name: $select.search }) track by tt.id" refresh="refreshResults($select)" refresh-delay="0">
                                               <span>{{tt.name}}</span>
                                             </ui-select-choices>
                                       </ui-select>
                                         <p ng-show="(form.$submitted || form.taskType.$touched) && form.taskType.$invalid" class="help-block">Select task type</p>
                                     </div>
                                  
                                 </div>
                                  <div class="form-group" ng-if="false" ng-show="task.TaskType.value=='multipleinstance'" ng-class="{ 'has-error' : (form.$submitted || form.maxActualOwners.$touched) && form.maxActualOwners.$invalid }">
                                     <label class=" col-sm-2" for="maxActualOwners">Max actual owners</label>
                                     <div class="col-sm-3">
                                         <input type="number" ng-model="task.MaxActualOwners" ng-disabled="task.NoLimit" ng-required="(task.TaskType==2) && (!task.NoLimit)" class="form-control" name="maxActualOwners" placeholder="Max actual owners" />
                                         <p ng-show="(form.$submitted || form.maxActualOwners.$touched) && form.maxActualOwners.$invalid" class="help-block">Enter max number of actual owners</p>
                                     </div>
                                      <div class="col-sm-3">
                                        <label class="col-sm-4" for="noLimit">No limit</label>
                                        <div class="col-sm-2">
                                         
                                            <input type="checkbox" class="checkbox-zoom-large" ng-model="task.NoLimit" name="noLimit" ng-required="false" />
                                       
                                        </div>
                                     </div>
                                </div>
                                  
                                 <div ng-if="false" class="form-group">
                                     <label class="col-sm-2" for="autoStart">Auto start</label>
                                   
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.AutoStart" name="autoStart" ng-required="false" />
                 
                                       </div>
                                  
                                 </div>
                                 
                                  <div class="form-group">
                                     <label class="col-sm-3" for="selfAssign">Assign to the same user who started the task</label>
                                   
                                       <div class="col-sm-8">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.SelfAssigned" name="selfAssigned" ng-required="false" />
                                       </div>
                                  
                                 </div>
                                  
                                 <div ng-if="false" class="form-group">
                                     <label class="col-sm-2" for="autoClaim">Auto claim</label>
                                   
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.AutoClaim" name="autoClaim" ng-required="false"  />
                                       </div>
                                     
                                 </div>
                                    <div class="form-group">
                                     <label class="col-sm-3" for="autoInitiate">Task is started automatically
                                     &nbsp <i title="Start form is automatically processed when the task is started" class="fa fa-question"></i>
                                    </label>
                                     
                                    
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.AutoInitiate" name="autoInitiate" ng-required="false" />
                                       </div>
                                    
                                 </div>
                                
                                 <div  class="form-group">
                                     <label class="col-sm-3" for="autoExecute">Task is processed and completed automatically
                                      &nbsp <i title="When the task is claimed form is automatically processesed and task completed" class="fa fa-question"></i>
                                     </label>
                                   
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.AutoExecute" name="autoExecute" ng-required="false" />
                                       </div>
                                    
                                 </div>
                                   <div ng-if="false" class="form-group">
                                     <label class="col-sm-3" for="infiniteTask">Infinite task (task can never be completed)
                                       &nbsp <i title="Usually used for tasks that are used as reports and presentation of datasets with a search functionality" class="fa fa-question"></i>
                                     </label>
                                   
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.InfiniteTask" name="infiniteTask" ng-required="false" />
                                       </div>
                                    
                                 </div>
                                   <div ng-if="false" class="form-group">
                                     
                                    <label class="col-sm-2" for="canRelease">Can be released</label>
                                  
                                         <div class="col-sm-7">
                                             <input type="checkbox" class="checkbox-zoom-large" ng-model="task.CanRelease" name="canRelease" ng-required="false" />
                                         </div>
                                    
                               
                                 </div>
                                 
                                 <div ng-if="false" class="form-group">
                                     <label class="col-sm-2" for="canDelegate">Can be delegated</label>
                                     
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.CanDelegate" name="canDelegate" ng-required="false" />
                                       </div>
                                     
                                 </div>
                                  <div ng-if="false" class="form-group">
                                     <label class="col-sm-2" for="canHold">Can be put on hold</label>
                                     
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.CanHold" name="canHold" ng-required="false" />
                                     </div>
                                     
                                 </div>
                                  
                        <div  class="control-group">
                       
                            <button type="submit" id="saveTaskParam" ng-disabled="saveTaskParam.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save task parameters</button>
                                      
                            <br><br>   
                        </div>
                </form>
            </uib-tab>
            <uib-tab index="1" ng-show="hasParameters" select="tabSelected(1)" heading="Task assignments">
               <form ng-submit="saveTaskAssignments(formass.$valid)" id="saveTaskDef" name="formass" class="form-horizontal" role="form" novalidate>
              <br>
              <div class="form-group">
                                     
                                       <div class="col-sm-7">
                                         <input type="checkbox" class="checkbox-zoom-large" ng-model="task.AutoAssign" name="autoAssign" ng-required="false"  />
                                         <label for="autoAssign">Allow selected user(s) and group(s) to be changed before starting the task</label>
                                     
                                       </div>
                                   
              </div>   
              <div class="panel panel-default">
                <div class="panel-heading">                  
                  Potential owners
                </div>
                <div class="panel-body">
               
                  <div class="col-sm-8 checkbox">
                    
                    <label for="selfAssigned" >
                       <input type="checkbox" ng-model="task.SelfAssigned" name="selfAssigned" ng-required="false" />Assign to the same user who started the task
                    </label>  
                               
                  </div>
                  <div class=row" ng-if="!task.SelfAssigned">
                  <div class="col-sm-7">
                    <div class="panel panel-success">
                      <div class="panel-heading">Users</div>
                         <div class="panel-body">
                             <div class="radio">
                               <div class="col-sm-3">
                                   <label><input type="radio" ng-model="taskAssignments.potentialOwnersUsers.AssignType" value="l" name="assigtype1_1" checked>Select users from list</label>
                                </div>
                                <div class="col-sm-3">
                                   <label><input type="radio" ng-model="taskAssignments.potentialOwnersUsers.AssignType" value="i" name="assigtype1_1" checked>Previous task initiator</label>
                                </div>
                                <div class="col-sm-3">
                                   <label><input type="radio" ng-model="taskAssignments.potentialOwnersUsers.AssignType" value="o" name="assigtype1_1">Previous task owner</label>
                                 </div>
                                 <div class="col-sm-3">
                                        <label><input type="radio" ng-model="taskAssignments.potentialOwnersUsers.AssignType" value="d" name="assigtype1_1">User from dataset</label>
                                 </div>
                            </div>
                                
                              
                              <hr>
                              <div class="col-sm-12" ng-if="taskAssignments.potentialOwnersUsers.AssignType=='l'">
                                  <div class="radio">
                                    <label><input type="radio" ng-model="taskAssignments.potentialOwnersUsers.SubAssignType" value="a" name="assigtype1_11" checked>Selected users are allowed to execute task</label>
                                  </div>
                                  <div class="radio">                             
                                      <label><input type="radio" ng-model="taskAssignments.potentialOwnersUsers.SubAssignType" value="e" name="assigtype1_12">Selected users are not allowed to execute task</label>
                                  </div>
                                  <br>
                                  <div kt-select-users-with-scope selected-items="taskAssignments.potentialOwnersUsers.AssigneeList"></div>
                      
                            </div>
                            <div class="col-sm-12"  ng-if="taskAssignments.potentialOwnersUsers.AssignType=='d'">
                                                                      
                                    <div kt-codes-dropdown search-text="Select unique user identifier" label="" value-length="col-sm-12" code-name="uniqueids" selected-code-id="taskAssignments.potentialOwnersUsers.UniqueId"></div>
                            
                           </div>
                       </div>
                      </div>
                     </div>
                    <div class="col-sm-5">
                     <div class="panel panel-warning">
                      <div class="panel-heading">Groups</div>
                         <div class="panel-body">
                           <div class="radio">
                               <div class="col-sm-6">
                                   <label><input type="radio" ng-model="taskAssignments.potentialOwnersGroups.AssignType" value="l" name="assigtype1_2" checked>Select groups from list</label>
                                </div>
                                <div class="col-sm-6">
                                        <label><input type="radio" ng-model="taskAssignments.potentialOwnersGroups.AssignType" value="d" name="assigtype1_2">Group from dataset</label>
                                 </div>
                            </div>
                        <hr>
                         <div class="col-sm-12" ng-if="taskAssignments.potentialOwnersGroups.AssignType=='l'">
                              <div class="radio">
                                  <label><input type="radio" ng-model="taskAssignments.potentialOwnersGroups.SubAssignType" value="a" name="assigtype1_21" checked>Selected groups are allowed to execute task</label>
                              </div>
                              <div class="radio">
                                <label><input type="radio" ng-model="taskAssignments.potentialOwnersGroups.SubAssignType" value="e" name="assigtype1_22">Selected groups are not allowed to execute task</label>
                              </div>
                              <br>
                              <div kt-select-groups-with-scope selected-items="taskAssignments.potentialOwnersGroups.AssigneeList"></div>
                        </div>
                         
                         <div class="col-sm-12"  ng-if="taskAssignments.potentialOwnersGroups.AssignType=='d'">
                              <div kt-codes-dropdown search-text="Select unique user identifier" label="" value-length="col-sm-12" code-name="uniqueids" selected-code-id="taskAssignments.potentialOwnersGroups.UniqueId"></div>
                        </div>
                    </div>
                  </div>
                  
                  </div>
                 </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">                  
                  Task initiators
                </div>
                 <div class="panel-body">
                  <div class=row">
                     <div class="col-sm-6">
                      <div class="panel panel-success">
                      <div class="panel-heading">Users</div>
                         <div class="panel-body">
                          <div class="radio">
                             <div class="col-md-6">
                                  <label><input type="radio" ng-model="taskAssignments.taskInitiatorsUsers.AssignType" value="i" name="assigtype2_1" checked>Previous task initiator</label>
                             </div>
                              <div class="col-md-6">
                                <label><input type="radio" ng-model="taskAssignments.taskInitiatorsUsers.AssignType" value="o" name="assigtype2_1">Previous task owner</label>
                              </div>
                            </div>
                            <hr>
                          <div class="radio">
                               <label><input type="radio" ng-model="taskAssignments.taskInitiatorsUsers.AssignType" name="assigtype2_1" value="a" checked>Selected users are allowed to initiate task</label>
                            </div>
                        <div class="radio">
                             <label><input type="radio" ng-model="taskAssignments.taskInitiatorsUsers.AssignType" value="e" name="assigtype2_1">Selected users are not allowed to initiate task</label>
                           </div>
                           <br>
                           <div kt-select-users-with-scope selected-items="taskAssignments.taskInitiatorsUsers.AssigneeList"></div>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="panel panel-warning">
                      <div class="panel-heading">Groups</div>
                         <div class="panel-body">
                        <div class="radio">
                            <label><input type="radio" ng-model="taskAssignments.taskInitiatorsGroups.AssignType" value="a" name="assigtype2_2" checked>Selected groups are allowed to initiate task</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" ng-model="taskAssignments.taskInitiatorsGroups.AssignType" value="e" name="assigtype2_2">Selected groups are not allowed to initiate task</label>
                        </div>
                        <br>
                         <div kt-select-groups-with-scope selected-items="taskAssignments.taskInitiatorsGroups.AssigneeList"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                                   
                </div>
                
                
              </div>
               <div  class="control-group">
                       
                            <button type="submit" ng-disabled="formass.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save task assignments</button>
                                      
                            <br><br>   
              </div>
                  </form>
                </uib-tab>
                <uib-tab index="2" ng-if="false" select="tabSelected(2)" heading="Task outcomes">
                
                </uib-tab>
                
                <uib-tab index="3" ng-show="hasParameters" select="tabSelected(3)" heading="Task statuses">
                 <form ng-submit="saveTaskStatuses(saveTaskStatusForm.$valid)" id="saveTaskStatus" name="saveTaskStatusForm" class="form-horizontal" role="form" novalidate>
            
                 <br/>
                 <div class="row">
                      <div kt-codes-def-actions btn-name="Add status transition" btn-icon="fa fa-plus" btn-fn="AddStatusTransition(item1,item2)" codes="codesList" codes-actions="codesActions" default-code="taskstatuses" task="task" actions-list="Actions" select-code="false" ></div>
                  </div>
                  <div  class="control-group">
                       
                            <button type="submit"  ng-disabled="saveTaskStatusForm.$invalid" class="btn btn-light">
                                <span class="fa fa-save"></span>&nbsp Save task statuses</button>
                                      
                         
                        </div>                
                   <br/>
                  
                    </form>
                </uib-tab>
          </uib-tabset>
  </div>