<div ng-controller="taskInitiateListCtrl">
  
  <div class="panel panel-default">
    <div class="panel-heading "><span class="fa fa-bars">&nbsp Menu</span></div>
     <div class="">
        <ul class="nav nav-pills nav-stacked">
          <li ng-if ="is_superuser" ng-class="activeLink('app.menu.tasks.list')"><a ui-sref="app.menu.tasks.list" ><i class="fa fa-tasks">&nbsp; Tasks</i></a></li>
          <!--<li ng-class="activeLink('app.menu.tasks.new')"><a ui-sref="app.menu.tasks.new" ><i class="fa fa-edit">&nbsp; New task definition</i></a></li>-->
          <li ng-class="activeLinkSidemenu('app.menu.tasks.initiate')"><a ui-sref="app.menu.tasks.initiate-list" ><i class="fa fa-rocket">&nbsp; Start new tasks</i></a></li>
          <li  ng-class="activeLinkSidemenu('app.menu.tasks.claim')"><a ui-sref="app.menu.tasks.claim" ><i class="fa fa-hand-grab-o">&nbsp; Claim tasks</i></a></li>
          <li ng-class="activeLinkSidemenu('app.menu.tasks.execute')"><a ui-sref="app.menu.tasks.execute-list" ><i class="fa fa-gears">&nbsp; Work on tasks</i></a></li>
        </ul>
        <ul ng-if="selectedResourceGroup>0" class="nav nav-pills nav-stacked">
          <li ng-repeat="mitl in myInitiateTaskList track by mitl.id"><a href="" ng-click="InitiateTask(mitl.id)"> {{mitl.name}}</a></li>
        </ul>
     </div>
<div kt-task-toolbox ng-show="!!activeLink('app.menu.tasks.form')"></div>
</div>



 
 