 <form ng-submit="saveNewCode(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

                <div class="text-center"><h3>Enter new code</h3></div>
                        <hr>
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.codeName.$touched) && form.codeName.$invalid }">
                    <label class=" col-sm-2" for="codeName">Code name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodeHead.codesheadlang_set[0].CodeName" ng-required="true" class="form-control" id="codeName" name="codeName" placeholder="Code name" />
                        <p ng-show="(form.$submitted || form.codeName.$touched) && form.codeName.$invalid" class="help-block">Enter code name</p>
                    </div>
                </div>
                              
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid }">
                    <label class="col-sm-2" for="codeDescription">Code description</label>
                    <div class="col-sm-6">
                        <textarea ng-model="CodeHead.codesheadlang_set[0].Description" name="codeDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid" class="help-block">Enter code description(min 20 chars).</p>

                    </div>
                </div>
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.codeType.$touched) && form.codeType.$invalid }">
                    <label class="col-sm-2" for="codeType">Code type</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="CodeHead.CodeType" ng-disabled="disabled" name="codeType" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match"  placeholder="Search or select code type...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices"  repeat="ct in (codeTypeList | filter: { name: $select.search }) track by ct.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{ct.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.codeType.$touched) && form.codeType.$invalid" class="help-block">Select code type</p>
                    </div>
                </div>
                  
                     <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.lang.$touched) && form.lang.$invalid }">
                    <label class="col-sm-2" for="lang">Language</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="CodeHead.codesheadlang_set[0].Lang" ng-disabled="disabled" name="lang" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match"  placeholder="Search or select language...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="cl in (codeLanguageList | filter: { name: $select.search }) track by cl.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{cl.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.lang.$touched) && form.lang.$invalid" class="help-block">Select language</p>
                    </div>
                </div>
                
                    <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.status.$touched) && form.status.$invalid }">
                    <label class="col-sm-2" for="lang">Status</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="CodeHead.Status" ng-disabled="disabled" name="status" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select status...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="cs in (codeStatusList | filter: { name: $select.search }) track by cs.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{cs.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.status.$touched) && form.status.$invalid" class="help-block">Select status</p>
                    </div>
                </div> 
                
                <div  class="control-group">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save code</button>
                                      
                            <br><br>   
                 </div>
</form>