<div>
       <div class="well-custom bg-white"><h4 class="text-center">Execute tasks</h4></div>
                     
      <div id="contentGrid">
            <div  class="well-custom bg-white">
                            
                             <button type="button"  ui-sref="app.menu.tasks.execute({id: selectedTaskDefId,task_initiate_id:taskInitiateId,task_execute_id:taskExecuteId,fromStateName:stateName,fromStateParams:stateParams})" class="btn btn-light" ng-disabled="!taskSelected">
                                <span class='fa fa-gears'></span> Details </button>
                             <button type="button" ng-click="ClaimSelected()" class="btn btn-light" ng-disabled="!taskSelected || selectedTaskObject.Status!='Ready'">
                                <span class='fa fa-hand-grab-o'></span> Claim selected task</button>
                              <button type="button" ng-if="is_superuser" class="btn btn-light" ng-click="ExecuteListPrePaginated(1)">
                              <span class='fa fa-list'></span> Show only my tasks</button>
                               <button type="button" ng-if="is_superuser" class="btn btn-light" ng-click="ExecuteListPrePaginated(0)">
                              <span class='fa fa-list'></span> Show all tasks</button>
           </div>
   
          <div class="well-custom bg-white">  
             
                <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination class="myGrid"></div>
          </div>
          <div class="well-custom bg-white row m-0 p-0">
            
                  <div class="col pl-0">
                       <ul uib-pagination boundary-links="true" max-size="10" items-per-page="pageSize" force-ellipses="true" total-items="totalCount" ng-model="currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    
                  </div>            
            
                  <div class="col-lg-auto p-1">
                      
                           <select class="input-sm" ng-change="pageChanged()" ng-model="pageSize" >
                               <option ng-repeat="ps in gridOptions.paginationPageSizes track by ps"  ng-selected="pageSize==ps" ng-value="ps">{{ps}}</option>
                     
                           </select>&nbsp  items per page &nbsp&nbsp | &nbsp&nbsp  Page: {{currentPage}} / {{numPages}} &nbsp&nbsp | &nbsp&nbsp {{pageSize*currentPage+1-pageSize}} - {{pageSize*currentPage>totalCount ? totalCount : pageSize*currentPage}} of {{totalCount}} items
                    
                  </div>
                  
                
                
            </div>
               
            
        
              
     </div>
       
</div> 