<div>
      <div class="card mt-1"><span class="h4 m-0 p-1 text-center">Tasks</span></div>
      <div id="contentGrid">
            <div  class="card mt-1" >
                       
                             <button type="button"  ng-if="false" class="btn btn-primary" ui-sref="app.menu.resources.edit({id: selectedTask})" ng-disabled="!taskSelected">
                                <span class="fa fa-edit"></span> Edit task details</button>
                           <div>
                            <button type="button"  ui-sref="app.navbar.tasks.definition({id: selectedTask})" class="btn btn-sm btn-outline-dark" ng-disabled="!taskSelected" ng-click="editTask()">
                                <span class='fa fa-tasks'></span> Edit task definition</button>
                           </div>
                              <button ng-if="false" type="button" ui-sref="app.menu.tasks.form({id: selectedTask,formType:'i'})" class="btn btn-primary" ng-disabled="!taskSelected">
                              <span class='fa fa-newspaper-o'></span> Start task - form definition</button>
                               <button ng-if="false" type="button" ui-sref="app.menu.tasks.form({id: selectedTask,formType:'e',resource:selectedTaskObject})" class="btn btn-primary" ng-disabled="!taskSelected">
                              <span class='fa fa-newspaper-o'></span> Execute task - form definition</button>
                               
            </div>
    
 
        <div class="card mt-1">     
            
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
 
     
         
            <div class="row m-1 p-0">
            
                  <div class="col pl-0">
                       <ul uib-pagination boundary-links="true" max-size="10" items-per-page="pageSize" force-ellipses="true" total-items="totalCount" ng-model="currentPage" class="d-inline-flex pagination pagination-sm m-0" previous-text="&lsaquo;" ng-change="pageChanged()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    
                  </div>            
            
                  <div class="col-auto p-1">
                      
                           <select class="input-sm" ng-change="pageChanged()" ng-model="pageSize" >
                               <option ng-repeat="ps in gridOptions.paginationPageSizes track by ps"  ng-selected="pageSize==ps" ng-value="ps">{{ps}}</option>
                     
                           </select>&nbsp  items per page &nbsp&nbsp | &nbsp&nbsp  Page: {{currentPage}} / {{numPages}} &nbsp&nbsp | &nbsp&nbsp {{pageSize*currentPage+1-pageSize}} - {{pageSize*currentPage>totalCount ? totalCount : pageSize*currentPage}} of {{totalCount}} items
                    
                  </div>
                  
                
                
            </div>
     

      </div>