<div >
      <div class="text-center"><h3>Codes</h3></div>
                        <hr>
      <div id="contentGrid" class="col-md-12" >
          <div uib-collapse="isCollapsed">
              <div  class="control-group">
                  
                 <button type="button" class="btn btn-light" ng-disabled="!codeSelected" ng-click="getOtherLanguages(selectedCode)">
                 <span class='fa fa-newspaper-o'></span>&nbsp Show details</button>
                        
              </div>
              <br/>
     
              <div class="row">
                 <div id="grid1" ui-grid="gridOptions1" ui-grid-selection ui-grid-resize-columns ui-grid-grouping class="myGrid"></div>
              </div>
          </div>
          <div uib-collapse="!isCollapsed">
               <div  class="control-group">
                  
                 <button type="button" class="btn btn-light" ng-click="isCollapsed = !isCollapsed">
                 <span class='fa fa-arrow-circle-left'></span>&nbsp Back to codes list</button>
                 
                  <button type="button" class="btn btn-light" ng-disabled="!codeLangSelected" ng-click="editCodeLang()">
                 <span class='fa fa-edit'></span>&nbsp Edit language</button>
                        
              </div>
              <br>
          
                  
             <div uib-collapse="isCollapsedEditLang" class="row">
  
                    <div id="grid2" ui-grid="gridOptions2" ng-if="isCollapsed" ui-grid-selection ui-grid-resize-columns class="myGridSmall"></div>  
                
             </div>
             
             <div uib-collapse="!isCollapsedEditLang" class="row">
               <form ng-submit="saveCodesLang(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

                <div class="text-center"><h3>Edit code</h3></div>
                        <hr>
           
                <div class="form-group" ">
                    <label class=" col-sm-2" for="codeName">Code ID</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesLang.id" ng-disabled="true" class="form-control" id="codeName" name="codeID" placeholder="Code ID" />
                        
                    </div>
                </div>
                              
                  <div class="form-group">
                    <label class=" col-sm-2" for="codeName">Language</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesLang.Lang" ng-disabled="true" class="form-control"  name="Lang" placeholder="Language" />
                    </div>
                </div>
                  
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.codeName.$touched) && form.codeName.$invalid }">
                    <label class=" col-sm-2" for="codeName">Code name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesDetailLang.CodesDetail.Name" ng-required="true" class="form-control" id="codeName" name="codeName" placeholder="Code name" />
                        <p ng-show="(form.$submitted || form.codeName.$touched) && form.codeName.$invalid" class="help-block">Enter code name</p>
                    </div>
                </div>
                              
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid }">
                    <label class="col-sm-2" for="codeDescription">Code description</label>
                    <div class="col-sm-6">
                        <textarea ng-model="CodesLang.Description" name="codeDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid" class="help-block">Enter code description(min 20 chars).</p>

                    </div>
                </div>
               
                <div  class="control-group">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save code</button>
                                      
                            <br><br>   
                 </div>
            </form>
             </div>
             <br>
             
            <div class="row" uib-collapse="isCollapsedEditItem">
              
              <div  class="control-group">
                  
                 <button type="button" class="btn btn-light" ng-disabled="!codeLangSelected" ng-click="newCodeItem()">
                 <span class='fa fa-plus-circle'></span>&nbsp New code item</button>
                 
                  <button type="button" class="btn btn-light" ng-disabled="!codeItemSelected" ng-click="editCodeItem()">
                 <span class='fa fa-edit'></span>&nbsp Edit code item</button>
                        
              </div>
              <br>  
                  <div id="grid3" ui-grid="gridOptions3" ng-if="isCollapsed" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
              
              </div>
             
            <div uib-collapse="!isCollapsedEditItem" class="row">
               
              
               <form ng-submit="saveCodeItem(formEditCodeDetail.$valid)" name="formEditCodeDetail" class="form-horizontal" role="form" novalidate>

                <div class="text-center"><h3>{{codeItemHeader.Text}}</h3></div>
                        <hr>
           
                <div class="form-group" ">
                    <label class=" col-sm-2" for="codeName">Code ID</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesDetailLang.id" ng-disabled="true" class="form-control" name="codeID" placeholder="Code ID" />
                        
                    </div>
                </div>
                
                 <div class="form-group" ">
                    <label class=" col-sm-2" for="lang">Language</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesDetailLang.Lang" ng-disabled="true" class="form-control" name="lang" placeholder="Language" />
                        
                    </div>
                </div>
                              
                  <div class="form-group" ng-class="{ 'has-error' : (formEditCodeDetail.$submitted || formEditCodeDetail.codeName.$touched) && formEditCodeDetail.codeName.$invalid }">
                    <label class=" col-sm-2" for="codeName">Code name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesDetailLang.CodesDetailId.Name" ng-required="true" class="form-control" name="codeName" placeholder="Code name" />
                        <p ng-show="(formEditCodeDetail.$submitted || formEditCodeDetail.codeName.$touched) && formEditCodeDetail.codeName.$invalid" class="help-block">Enter code name</p>
                    </div>
                </div>
                  
                <div class="form-group" ng-class="{ 'has-error' : (formEditCodeDetail.$submitted || formEditCodeDetail.codeValue.$touched) && formEditCodeDetail.codeValue.$invalid }">
                    <label class=" col-sm-2" for="codeValue">Code value</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="CodesDetailLang.Value" ng-required="true" class="form-control" name="codeValue" placeholder="Code value" />
                        <p ng-show="(formEditCodeDetail.$submitted || formEditCodeDetail.codeValue.$touched) && formEditCodeDetail.codeValue.$invalid" class="help-block">Enter code value</p>
                    </div>
                </div>
                               
                <div  class="control-group">
                       
                            <button type="submit" id="clearBtn" ng-disabled="formEditCodeDetail.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save code item</button>
                              <button type="button" id="clearBtn" ng-click="isCollapsedEditItem=!isCollapsedEditItem" class="btn btn-warning">
                                <span class='fa fa-times'></span>&nbsp Cancel</button>          
                            <br><br>   
                 </div>
            </form>
             </div>
          </div>
                          
        
      </div>
</div>