<div class="m-0 p-1">

  <div class="sidemenu-custom card " ng-if="tds.showTaskFormFn()=='' || tds.showTaskFormFn()==undefined">  
  
  <ul class="navbar-nav side-menu-color">
     <!--   <div class="p-1 py-2">
                <div class="text-success">
                  <i class="fa fa-user text-success"></i>
                  <span class="ml-2">Task creator</span>
                </div>
        </div>-->    

       <li class="row m-0 pl-1" ng-class="{'bg-gray-100':tds.showTaskInitiatorsFn()}">
      
            <a href title="Define who will be authorised to start this task" class="col-24 p-1" ng-click="tds.showHideTaskRoles(0)" style="text-decoration: none;">
                     <i class="fas fa-key "></i>      
					<!--<i ng-class="{'text-success ml-2':task.TaskInitiatorsSaved,'text-danger ml-2':!task.TaskInitiatorsSaved}" class="fa fa-user-shield" ></i>-->
					<span class="ml-2 ">Permissions</span>
                    
                     <i class="p-1 mr-2 float-right" ng-class="{'far fa-check-circle ':task.TaskInitiatorsSaved,' ':!task.TaskInitiatorsSaved}" ></i>
                     <!--<i class="p-1 mr-2 float-right" ng-class="{'fas fa-toggle-on ':task.TaskInitiatorsSaved,'fas fa-toggle-off ':!task.TaskInitiatorsSaved}" ></i>-->
                    
                     </a>
                
        </li>


       <li class="row m-0 pl-1" ng-class="{'bg-gray-100':tds.showTaskFormFn()=='i'}">
         
           
                <a title="Define the form that provides input for task execution" href class="col-24 p-1" ng-click="tds.showHideTaskForm('i')" style="text-decoration: none;" ng-style="{'text-decoration:line-through;':task.AutoInitiate,'text-decoration:none;':!task.AutoInitiate}">
                     <i class="fas fa-poll-h"></i>  
                   <!--<i ng-class="{'text-success ml-2':resourceDefinition.resourcedeflang_set[0].InitiateForm,'text-danger ml-2':!resourceDefinition.resourcedeflang_set[0].InitiateForm}" class="fa fa-list-alt" ></i>-->
                    <span class="ml-2 ">Design and build forms</span>  
                <i class="p-1 mr-2 float-right" ng-class="{'far fa-check-circle ':resourceDefinition.resourcedeflang_set[0].InitiateForm,' text-muted':!resourceDefinition.resourcedeflang_set[0].InitiateForm}" ></i>					                         

                </a>
            

             
        </li>
                <!--    <div class="m-0 p-1" ng-class="{'rounded bg-gray-100':tds.getSelectedActionFn()==0}">
                            <a href title="Define task actions" class="p-1" ng-click="tds.showHideTaskStatuses(0,true)" style="text-decoration: none;">
				<i class="col-1 p-0 mr-2" ng-class="{'fa fa-check text-success':task.task.actions[0].Saved,'fa fa-times text-danger':!task.task.actions[0].Saved}" ></i>
                              <!-- <i class="fa fa-cogs ml-2" ></i> 
			       
			       <span class="ml-2 " >Define actions</span>
               
                            </a>
                          </div>-->

       <!--    <div class="p-1 py-2">
                <div class="text-success">
                  <i class="fa fa-robot text-success"></i>
                  <span class="ml-2">System</span>
                </div>
        </div>-->
    
                          
         <li  ng-if="!task.AutoExecute" class="row m-0 pl-1"  ng-class="{'bg-gray-100':tds.showTaskOwnersFn()}">
           
             <a href title="Define who can be the owner and execute this task" class="col-24 p-1" ng-click="tds.showHideTaskRoles(1)"  style="text-decoration: none;">
           
    
                <i class="fas fa-user" ></i>
               <span class="ml-2">Assign task</span>
              <i class="float-right p-1 mr-2" ng-class="{'far fa-check-circle ':task.PotentialOwnersSaved,'':!task.PotentialOwnersSaved}" ></i>      
             </a>
                      
         </li>
                                               
      <!--   <div class="p-1 py-2">
                <div class="text-success">
                  <i class="fa fa-user text-success"></i>
                  <span class="ml-2">Task owner</span>
                </div>  
        </div>-->

            <li ng-if="false" class="row m-0 pl-1" ng-class="{'bg-gray-100':tds.showTaskFormFn()=='e'}">
                
                      <a title="Define the form that provides input for task execution" class="col-24 p-1" href ng-click="tds.showHideTaskForm('e')" style="text-decoration: none;">
                                      
			  <!-- <i ng-class="{'text-success':resourceDefinition.resourcedeflang_set[0].ExecuteForm,'text-danger':!resourceDefinition.resourcedeflang_set[0].ExecuteForm}" class="fa fa-list-alt" >&nbsp </i>-->
                        
                       <i class="fas fa-poll-h"></i> 
                          <span class="ml-2 ">Owner Form</span>
                          
                          <i class="float-right p-1 mr-2" ng-class="{'far fa-check-circle ':resourceDefinition.resourcedeflang_set[0].ExecuteForm,'':!resourceDefinition.resourcedeflang_set[0].ExecuteForm}" ></i>

                      </a>
    
		    </li>


			<li class="row m-0 pl-1" ng-class="{'bg-gray-100':tds.getSelectedActionFn()==1}">
            
                 <a href title="Define task actions" class="p-1 col-24" ng-click="tds.showHideTaskStatuses(1,true)" style="text-decoration: none;">
				
                     <!-- <i class="fa fa-cogs ml-2" ></i> -->
			        <i class="fa fa-robot "></i>
			       <span class="ml-2" >Task Actions</span>
                    <i class="float-right p-1 mr-2" ng-class="{'far fa-check-circle ':task.task.actions[1].Saved,'':!task.task.actions[1].Saved}" ></i>
       
                   </a>
                      
             </li>

                                     
               <li ng-if="false" class="row ml-1 p-1" ng-class="{'bg-gray-100':tds.showTaskFormFn()=='e'}">
                  
                      <a href title="Define task outcomes" class="col-24 p-1" ng-click="tds.showHideTaskForm('e')" style="text-decoration: none;">
                            
                             <!--  <i ng-class="{'text-success':task.TaskOutcomesSaved,'text-danger':!task.TaskOutcomesSaved}" class="fa fa-bullseye" >&nbsp Outcomes</i>-->
                                 <i class=" fas fa-download "></i>
                                <span class="ml-2 ">Outcomes</span>
                            <i class="float-right p-1 mr-2" ng-class="{'far fa-check-circle ':task.TaskOutcomesSaved,'':!task.TaskOutcomesSaved}" ></i>
 
                            </a>
            
			  </li>
			  
			  <li class="row m-0 pl-1" ng-class="{'bg-gray-100':tds.getSelectedActionFn()==2}">
                 
                       <a href title="Define task actions" class="p-1 col-24" ng-click="tds.showHideTaskStatuses(2,true)" style="text-decoration: none;">
				
                         <!-- <i class="fa fa-cogs ml-2" ></i> -->
                         <i class="fas fa-tools "></i>
                       <span class="ml-2" >Task Parameters</span>
                <i class="float-right p-1 mr-2" ng-class="{'far fa-check-circle ':task.actions[2].Saved,'':!task.task.actions[2].Saved}" ></i>
                
                         </a>
             
               </li>
			  
  </ul>   <!-- task definition menu -->  
  </div>

  
  <div kt-task-toolbox class="pr-2" ng-if="gsrvc.getFormViewType()==1 && tds.showTaskFormFn()!='' && tds.showTaskFormFn()!=undefined">
  </div>
</div> <!-- parent div -->