<div >
       <div class="well-custom bg-white"><h4 class="text-center">Start tasks</h4></div>
                    
      <div id="contentGrid" >
            <div  class="well-custom bg-white">
                       
                            <button type="button"  ui-sref="app.menu.tasks.proc({id: selectedTask,init_type:'t',fromStateName: currentStateName,fromStateParams:currentStateParams, prev_task_execute_id:0,outcome_id:0})" class="btn btn-light" ng-disabled="!taskSelected">
                                <span class='fa fa-rocket'></span> Start selected task</button>
                             <!--  <button type="button" class="btn btn-light" ng-click="InitiateMyList()">
                             <span class='fa fa-list'></span> Show only my tasks</button>
                               <button type="button" class="btn btn-light" ng-click="InitiateAllList()">
                              <span class='fa fa-list'></span> Show all tasks</button>-->
            </div>
         
         
             <div  class="well-custom bg-white">
                <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns class="myGrid"></div>  
             </div> 

      </div> 

</div>