<div ng-show="!initiateFormLoaded">
  <div kt-processing-animation show-msg="true" message="Loading form"></div>
</div>
<div  ng-show="initiateFormLoaded">
  
<form ng-submit="InitiateTask(forma)" name="forma" class="form-horizontal" role="form" novalidate>
  <fieldset ng-disabled="isSaving">

    <div class="boxshadow sort-box">

      <button title="Lock/Unlock form"   type="button" class="btn btn-light float-right" ng-click="FormLockUnlock()">
            <i ng-class="{'fa fa-lock fa-lg': resourceDefinition.formLocked ,'fa fa-unlock-alt fa-lg': !resourceDefinition.formLocked,'color:black': resourceDefinition.formLocked}"></i>
      </button>		
      
      <h4 class="text-center">{{resourceDefinition.name}}</h4>
     
    </div> 
	<div class="panel panel-default" ng-if="!taskDefinition.AutoAssign">
                <div class="panel-heading">                  
                  Potential owners <button type="button" ng-click="isCollapsed = !isCollapsed" ><span ng-class="{'fa fa-plus-square': isCollapsed,'fa fa-minus-square': !isCollapsed }" ></span></button>
                      </div>
                      <div uib-collapse="isCollapsed" class="panel-body">
                    
                  <div class=row">
                  <div class="col-sm-6">
                    <div class="panel panel-success">
                      <div class="panel-heading">Users
                         <button type="button" ng-click="isCollapsed1 = !isCollapsed1" ><span ng-class="{'fa fa-plus-square': isCollapsed1,'fa fa-minus-square': !isCollapsed1 }" ></span></button>
                      </div>
                      <div uib-collapse="isCollapsed1" class="panel-body">
                    
                           <div kt-select-users selected-items="potentialOwners.potentialOwnersUsers"></div>
                        </div>
                       </div>
                     </div>
                    <div class="col-sm-6">
                     <div class="panel panel-warning">
                      <div class="panel-heading">Groups
                          <button type="button" ng-click="isCollapsed2 = !isCollapsed2" ><span ng-class="{'fa fa-plus-square': isCollapsed2,'fa fa-minus-square': !isCollapsed2 }" ></span></button>
                      </div>
                      <div uib-collapse="isCollapsed2" class="panel-body">
                    
                      <div kt-select-groups selected-items="potentialOwners.potentialOwnersGroups"></div> 
                    </div>
                  </div>
                  
                  </div>
                 </div>
                </div>
              </div>

 <div class="boxshadow">
    
         <div kt-grid  grid-type="gridsterType" resource-form-loaded="initiateFormLoaded" resource-definition="taskDefinition" form-data="dashboard.data" form-params="resourceDefinition.formParams" parent="dashboard.widgets" all-columns="dashboard.widgets" class="ktGrid"></div>
     
      
    </div>

</fieldset>
               <div class="boxshadow sort-box">
                            <button type="submit" ng-if="!taskInitiated" class="btn btn-success">
                                <span class='fa fa-rocket'></span>&nbsp {{resourceDefinition.name}}</button>
                            
                              <button type="button" class="btn btn-danger" ng-click="CancelClicked()" ">
                                <span ng-class="backCloseIcon"></span>&nbsp {{cancelBackBtnTxt}}</button>
                                   
                            <br> 
                 </div>

</form>
</div>