 <form ng-submit="saveOutcomeDefinition(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>
              <button type="button" ng-if="!noBackButton" class="btn btn-success float-left" ng-click="goBack()">
                                <span class='fa fa-arrow-circle-left'></span> Go back </button>

       <div class="text-center"><h3>Outcome definition</h3></div>
                        <hr>
       <div clasS="col-md-12">          
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.outcomeName.$touched) && form.outcomeName.$invalid }">
                    <label class=" col-sm-2" for="outcomeName">Outcome name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="OutcomeHead.OutcomeName" ng-required="true" class="form-control" id="codeName" name="outcomeName" placeholder="Outcome name" />
                        <p ng-show="(form.$submitted || form.outcomeName.$touched) && form.outcomeName.$invalid" class="help-block">Enter outcome name</p>
                    </div>
                </div>
                   <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.name.$touched) && form.name.$invalid }">
                    <label class=" col-sm-2" for="Name">Outcome display name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="OutcomeHead.Name" ng-required="true" class="form-control" id="name" name="name" placeholder="Outcome display name" />
                        <p ng-show="(form.$submitted || form.name.$touched) && form.name.$invalid" class="help-block">Enter outcome display name</p>
                    </div>
                </div>            
                 
                <div class="form-group">
                                     <label class="col-sm-2" for="active">Active</label>
                                    
                                       <div class="col-sm-6">
                                         <input type="checkbox" ng-model="OutcomeHead.Active" name="active" ng-required="false"  ng-checked="OutcomeHead.Active"/>
                 
                                       </div>
                                   
                </div>
                <div  class="control-group">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save outcome definition</button>
                                      
                            <br><br>   
                 </div>
                
      </div>
</form>