<style>

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

</style>


	<div class="card m-1">
		<div class="row mx-0 p-1">
			 <div class="col h4 p-1 border-bottom text-center my-auto">Definition for 
			 	<span  ng-if="(resourceDefinition.id != null || resourceDefinition.id > 0)" class="h5 mt-1">    
                	 <i class="fas fa-info-circle" title="resource id:  {{resourceDefinition.id}}" ></i>
                </span>
                                  
                <span class="h4 mt-1 mr-2">  
					<b>{{resourceDefinition.Name}}</b> {{resourceDefinition.ResourceCode}}
				</span>

									</div>
         
			<div class="p-1 mb-2"  style="position: absolute;">
                    <a class="mb-2 text-primary" href="" title="Return to resource list" ng-click="returnToPreviousPage()"><i class="fas fa-chevron-left mr-2"></i>Return to resources</a>
         	</div>


		</div>


		<div class="row m-1 p-1">

      			<div class=" col ">
                    <div class="card-header-actions  align-items-center row p-1 mb-1">
                    
                       	 <div class="col-auto mx-1" idd="activeOrNot">
                                  <span  ng-if="(resourceDefinition.id != null || resourceDefinition.id > 0)" class="tag text-success my-1 "> {{resourceDefinition.ResourceName}} </span>      
                                  
                                  <span  ng-if="resourceDefinition.Active && (resourceDefinition.id != null || resourceDefinition.id > 0)" class="small bold mr-4"> Active
                                  <i  class="text-success fa fa-check"></i></span>

                                   <span  ng-if="!resourceDefinition.Active && (resourceDefinition.id != null || resourceDefinition.id > 0)" class="small bold mr-4"> Not active
                                  <i class="text-danger fa fa-times"></i></span> 
                             </div>
                             
                        <div class="col-auto mx-2">
                        
                        <!--  <span class="tag text-success my-1 "> {{resourceDefinition.ResourceName}} </span> 
                          <span  class="small bold mr-4"> {{resourceDefinition.Status.name}}-->
                          
   
                          
							<!--<span ng-if="editDataset" class="badge badge-info rounded mr-2 text-white">Editing</span>-->
							<!--<span class="tag my-1">{{resourceDefinition.resourceType}} definition</span>-->
                           <span ng-if="resourceDefinition.FormVersion" class="small mr-2"><b class="mr-2">Version:</b>{{resourceDefinition.FormVersion}}</span>
                      		<button type="button" title="Show params" role="button" class="float-right ml-3 btn btn-xs btn-link" ng-click="showTaskParameters=!showTaskParameters">
							Show task parameters (debug info)                                                                                             
					       </button>
                       </div>
                        
                       <div class="col text-right">  
                       
                            <div class="">
                                 
                                  <span title="Changed by {{resourceDefinition.ChangedBy.first_name}} {{resourceDefinition.ChangedBy.last_name}} " ng-if="resourceDefinition.ChangedBy" class=" small"> 
                                                    Last change:  {{resourceDefinition.ChangedDateTime | date:"dd.MM.yyyy 'at' HH:mm:ss"}}
                                    </span>
                                    
                              </div>
                                   
                               <div title=" Created by {{resourceDefinition.CreatedBy.first_name}}  {{resourceDefinition.CreatedBy.last_name}}" ng-if="resourceDefinition.CreatedBy" class=" text-right small">
                                                Created: {{resourceDefinition.CreatedDateTime | date: "dd.MM.yyyy 'at' HH:mm:ss"}}
                               </div>      
                        </div>
                                  
                    </div>					
				
										
				</div>
						
							
     		</div>

     		<div ng-if="showTaskParameters" class="row m-0">
				<pre class="col-24">{{prettyTask}}</pre>
			</div>
 
	</div>

<div class="card m-1">


	  <div style=" cursor: pointer;" class="p-1 row mx-1 " ng-click="isCollapsedDataProperty = !isCollapsedDataProperty">                  
	       
	        <span type="button" class="btn btn-sm p-1"  >
	            <span ng-class="{'fas fa-chevron-down': isCollapsedDataProperty,'fas fa-chevron-right': !isCollapsedDataProperty }" ></span>
	        </span>
	         <span class="tag">    {{resourceDefinition.ResourceName}} PROPERTIES</span>	</span>
	  </div>

  	<form uib-collapse="!isCollapsedDataProperty" ng-submit="saveTaskDef(form.$valid)" id="editDataset" name="form" class="form-horizontal" role="form" novalidate>
  	 	<div class="row m-0">
	  	 	<div class="col-lg-12">
	        
	           <div class="form-group" >
				<label class="col-lg-24" for="resourceName">Task ID</label>
				<div class="col-lg-24">
					<input disabled type="text" ng-model="resourceDefinition.id" ng-required="true" class="form-control" id="Name" name="Name" placeholder="Task ID" />
				</div>
				</div>
	        
	            <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Name.$touched) && form.Name.$invalid }">
				<label class="col-lg-24" for="resourceName">Task name</label>
				<div class="col-lg-24">
					<input type="text" ng-model="resourceDefinition.Name" ng-required="true" class="form-control" id="Name" name="Name" placeholder="Resource name" />
					<p class="text-danger" ng-show="(form.$submitted || form.Name.$touched) && form.Name.$invalid" class="help-block">Enter task name!</p>
				</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
								<label class="col-lg-24" for="Subject">Task subject</label>
								<div class="col-lg-24">
												<input type="text" ng-model="resourceDefinition.Subject" ng-required="true" class="form-control" id="Subject" name="Subject" placeholder="Resource subject" />
												<p class="text-danger" ng-show="(form.$submitted || form.Subject.$touched) && form.Subject.$invalid" class="help-block">Enter task subject!</p>
								</div>
				</div>                
							
	                     
	        </div>
	        
	        <div class="col-lg-12">       
					
	                
	            <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.Description.$touched) && form.Description.$invalid }">
							<label class="col-lg-24" for="Description">Task description</label>
							<div class="col-lg-24">
								<textarea ng-model="resourceDefinition.Description" name="Description" ng-required="true" ng-min-length="20" class="form-control"></textarea>
								<p class="text-danger" ng-show="(form.$submitted || form.Description.$touched) && form.Description.$invalid" class="help-block">Enter task description(min 20 chars) !</p>
				
							</div>
				</div>
                
         <div class="row">
	                <div class="col-8 form-group "  ng-class="{ 'text-danger is-invalid was-validated' : (form.$submitted || form.resourceStatus.$touched) && form.resourceStatus.$invalid }">
						
                         <div class="col-lg-24 mb-4">
                                  <div class="my-auto" > Active </div>
                                  <label class="switch switch-green">
                                         <input   ng-model="resourceDefinition.Active" type="checkbox" ng-true-value="true" ng-false-value="false"  class="switch-input">
                                         <span class="switch-label" data-on="On" data-off="Off"></span>
                                         <span class="switch-handle"></span>
                                  </label>                      
                        </div>     
                        
					</div> 

					
	                           
	               <!--  <div ng-if="false" class="col-16 form-group "  ng-class="{ 'text-danger is-invalid was-validated' : (form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid }">
						<label class="col-lg-24" for="resourceTags">#Hashtags</label>
						<div class="col-lg-24">
						   <kt-dropdown-standard ng-if="resourceTagsList.length>0" ng-model="resourceDefinition.Tags" selected-items="resourceDefinition.Tags" is-multiple="true" name="resourceTags"
	                            required="false" dropdown-items="resourceTagsList" dropdown-id="'resourceTags'" parent-form-id="'form'" 
	                            search-text="'Search or select task tags...'">
	                        </kt-dropdown-standard>
						    <p ng-show="(form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid" ng-class="{'d-block invalid-feedback':(form.$submitted || form.resourceTags.$touched) && form.resourceTags.$invalid}">Select hashtags</p>
						 
						</div>
					</div>-->
	       </div>    
	         <div class="col-24 form-group" ng-class="{ 'has-error' : (form.$submitted || form.InvalidFormMessage.$touched) && form.InvalidFormMessage.$invalid }">
			       			<label class="">Invalid form message </label> <input type="text" placeholder="Invalid form message" class="form-control" name="InvalidFormMessage" ng-model="resourceDefinition.ParametersLang.InvalidFormMessage"  />
							</div>               
	                  
	        </div>
		  
		  	<div class="col-lg-24 p-3">
					
							<div kt-users-groups-select ng-if="resourceDefDownloaded" selected-users="resourceDefinition.AdminUsers" selected-groups="resourceDefinition.AdminGroups" header-label="'Select task administrators'"
							  users-label="'Admin users'" groups-label="'Admin groups'">
							</div> 
					
			</div>
						

			<div class="col-24 pl-3">
	        
	        	
	        
	        		<div class="row m-2">
		
						<div class="col-lg-12 p-0">
							<div class="bold">Task visuals</div>
							<div class="p-1">
								<label  class="" for="cbHideHeader">
										
									<input type="checkbox" class="my-2 mr-2" style="transform: scale(1.4);" name="cbHideHeader" ng-model="resourceDefinition.Parameters.HideHeader" ng-checked="resourceDefinition.Parameters.HideHeader" />  
									Hide task header
								</label>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="bold">Task execution parameters</div>
							<div class="p-1">
								<label  class="form-control-label mr-4" for="cbRestartTask">
										
									<input type="checkbox" class="my-2 mr-2" style="transform: scale(1.4);" name="cbRestartTask" ng-click="saveTaskParameters()" ng-model="taskDefinition.Parameters.RestartTask" ng-checked="taskDefinition.Parameters.RestartTask" />  
									Restart task when completed
								</label>
								<label  class="form-control-label" for="cbAutoLoadExe">
										
									<input type="checkbox" class="my-2 mr-2" style="transform: scale(1.4);" name="cbAutoLoadExe" ng-click="saveTaskParameters()" ng-model="taskDefinition.Parameters.AutoLoadExeForm" ng-checked="taskDefinition.Parameters.AutoLoadExeForm" />  
									Auto load execute form
								</label>
							</div>
							
							
						</div>
					</div>
			</div>
		
	        
		    <div  class="col-lg-24 p-4">    
		            <button type="submit" id="editBtn" class="btn btn-sm btn-success my-2">
		                <span class="fa fa-save mr-1"></span>Save task properties</button>
		    </div>
	    
	
		</div>
	</form>
</div>					


<div class="">
	<div class="row m-0 mt-2">

		 <div id="toolbox"  ng-if="gsrvc.getFormViewType()==1"     class="col-4 p-0 pr-2"  ng-class="{'max-height-1-rem':gsrvc.getFormViewType()!=1 || tds.showTaskFormFn()==''}" >

			<div kt-task-toolbox ng-show="tds.showTaskFormFn()" class="px-1 sticky menu-sticky-pos" >
            </div>
			 
		</div>
        

			
	    <div class="card p-0" ng-class="{'col':gsrvc.getFormViewType()==1 && tds.showTaskFormFn()!='','col-lg-16':gsrvc.getFormViewType()!=1 || tds.showTaskFormFn()==''}">
			<div class="row m-0 mt-2">
				
				<div class="col text-center "  ng-if="tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e'" ng-class="{'mb-2':!(tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e') && !tds.showTaskInitiatorsFn() && !tds.showTaskOwnersFn() && !tds.showTaskStatusFn()}" >
					  
                      <div  title="Design form" ng-class="{'mb-2':!(tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e') && !tds.showTaskInitiatorsFn() && !tds.showTaskOwnersFn() && !tds.showTaskStatusFn(),'shadow border border-primary rounded': tds.showTaskInitiatorsFn()}"">
				  
                      <button active type="button" href class="border shadow border-primary btn btn-outline-primary btn-form-def-disabled  p-1 w-100 h-100 ">
                           <div class="row m-0">
							<div class="col-auto m-1 p-0">
								<i  ng-class="{'far fa-check-circle fa-lg text-success':resourceDefinition.resourcedeflang_set[0].InitiateForm,'text-muted':!resourceDefinition.resourcedeflang_set[0].InitiateForm}" ></i>					                         
							</div>
							<div class="col m-1 p-0 "> Design form</div>
                            </div>     
						   </button>
                    </div>
				</div>
                
				<div class="col text-center" title="Define task forms" ng-if="tds.showTaskFormFn()!='i' && tds.showTaskFormFn()!='e'" ng-class="{'mb-2':!(tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e') && !tds.showTaskInitiatorsFn() && !tds.showTaskOwnersFn() && !tds.showTaskStatusFn(),'shadow border border-primary rounded': tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e'}" >
					    <button type="button" href class="btn btn-outline-primary p-1 w-100 h-100"  ng-click="tds.showHideTaskForm('e');ShowFormView(1,false)">
						   <div class="row m-0">
							<div class="col-auto p-0">
								<i  ng-class="{'far fa-check-circle fa-lg text-success':resourceDefinition.resourcedeflang_set[0].InitiateForm,'text-muted':!resourceDefinition.resourcedeflang_set[0].InitiateForm}" ></i>					                         
							</div>
							<div class="col p-0">  Design form</div>
						   </div>     
					    </button>	    
				</div>
				
				<div class="col text-center" >
				      
				    <div  title="Define who can initiate this task" ng-class="{'mb-2':!(tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e') && !tds.showTaskInitiatorsFn() && !tds.showTaskOwnersFn() && !tds.showTaskStatusFn(),'shadow border border-primary rounded': tds.showTaskInitiatorsFn()}"">
				     
					    <button type="button" title="Define who can initiate this task" href ng-class="{'border-0':tds.showTaskInitiatorsFn()}" class="btn btn-outline-primary btn-form-def-disabled p-1 w-100" ng-disabled="tds.showTaskInitiatorsFn()" ng-click="showHideProperties(false);tds.showHideTaskRoles(0);getTaskAssignments();">
						   <div class="row m-0">
                                <div class="col-auto m-1 p-0">
                                    <i class="text-success" ng-class="{'far fa-check-circle fa-lg':taskDefinition.TaskInitiatorsSaved,'text-muted':!taskDefinition.TaskInitiatorsSaved}" ></i>					                         
                                </div>
                                <div class="col m-1 p-0"> Permissions</div>
						   </div> 
					    </button>
					</div>
				
				</div>
				    
				<div  class="col text-center" >
				   
				    <div  title="Define who can execute this task" ng-class="{'mb-2':!(tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e') && !tds.showTaskInitiatorsFn() && !tds.showTaskOwnersFn() && !tds.showTaskStatusFn(),'shadow border border-primary rounded': tds.showTaskOwnersFn()}">
					 
					    <button type="button" title="Define who can execute this task" href ng-disabled="tds.showTaskOwnersFn()" ng-class="{'border-0':tds.showTaskOwnersFn()}" class="btn btn-outline-primary btn-form-def-disabled p-1 w-100" ng-click="showHideProperties(false);tds.showHideTaskRoles(1);getTaskAssignments();">
						<div class="row m-0">
							<div class="col-auto m-1 p-0">
								<i class="text-success" ng-class="{'far fa-check-circle fa-lg':taskDefinition.PotentialOwnersSaved,'text-muted':!taskDefinition.PotentialOwnersSaved}" ></i>					                         
						 	
							</div>
							<div class="col m-1 p-0"> Assign task</div> 
						</div>
						    
					    
					    </button>
					</div>
			 
				</div>
				     
				  
				<div class="col text-center">
				   
				     <div  title="Define task actions" ng-class="{'mb-2':!(tds.showTaskFormFn()=='i' || tds.showTaskFormFn()=='e') && !tds.showTaskInitiatorsFn() && !tds.showTaskOwnersFn() && !tds.showTaskStatusFn(), 'shadow border border-primary rounded': tds.showTaskStatusFn()}">
					    <button type="button" title="Define task actions" href ng-disabled="tds.showTaskStatusFn()" ng-class="{'border-0':tds.showTaskStatusFn()}" class="btn btn-outline-primary btn-form-def-disabled p-1 w-100 h-100" ng-click="showHideProperties(false);tds.showHideTaskStatuses(1,true);tds.getTaskStatusActions('created','created',0,true)">
						   <div class="row m-0">
							<div class="col-auto m-1 p-0">
								<i class="text-success" ng-class="{'far fa-check-circle fa-lg':taskDefinition.task.actions[1].Saved,'text-muted':!taskDefinition.task.actions[1].Saved}" ></i>					                         	
							</div>
							
					
							<div class="col m-1 p-0"> Task actions</div> 
						   </div>
						   
					    
					    </button>
					</div>	   
				</div>		
				
			</div>
					
			<div class="row m-0" ng-if="tds.showTaskInitiatorsFn()">
				<div class="col-9 border-right border-primary" style="min-height: 2rem">
				</div>
			</div>
			<div class="row m-0" ng-if="tds.showTaskOwnersFn()">
				<div class="col-15 border-right border-primary" style="min-height: 2rem">
				</div>
			</div>
			<div class="row m-0" ng-if="tds.showTaskStatusFn()">
				<div class="col-21 border-right border-primary" style="min-height: 2rem">
				</div>
			</div>
			
			
			<div ng-if="tds.showTaskFormFn()!='' && tds.showTaskFormFn()!=undefined" kt-task-form></div>
			
			
            
            <!-- Task initiators and owners and statuses -->
			<div id="showTaskInitiators_showTaskOwners_showTaskStatus" class="card m-0 p-3 border-primary shadow" ng-if="tds.showTaskInitiatorsFn() || tds.showTaskOwnersFn() || tds.showTaskStatusFn()">
            
				<div ng-if="tds.showTaskInitiatorsFn()" class="card p-2 border-0">
			
					<div class="row m-0 px-4">
							  <span class="tag lg">TASK PERMISSIONS</span>
							  <div class="action-bar ml-auto">
								<button ng-click="tds.showHideTaskRoles(2)" type="button" class="btn btn-sm btn-light">Cancel</button>
								<button ng-click="saveTaskAssignments(0)" type="button" class="btn btn-sm btn-success ml-2">Save permissions</button>
							  </div>
					</div>
			
			
					<div class="card-body pb-1">
						  <div class="card">
							<div class="p-2">
			
							  <div class="mb-3">
								<label class="bold mb-2 w-100">Who can start this task</label>
								<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
								   <label ng-click="taskDefinition.PublicTask=true" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskDefinition.PublicTask}">
									<input  type="radio" name="assigntype"  autocomplete="off" checked=""> Public task (authorisation is not required)
								  </label>
								  <label ng-click="selectPreviousTaskUser('i')" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskAssignments.taskInitiatorsUsers.AssignType=='i'}">
									<input  type="radio" name="assigntype"  autocomplete="off" checked=""> Previous Task Creator
								  </label>
								  <label ng-click="selectPreviousTaskUser('o')" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskAssignments.taskInitiatorsUsers.AssignType=='o'}">
									<input  type="radio" name="assigntype"  autocomplete="off"> Previous Task Owner
								  </label>
								  <label ng-click="selectPreviousTaskUser('a')" class="btn btn-sm btn-primary" ng-class="{ 'active' : (taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e')}">
									<input  type="radio" name="assigntype"  autocomplete="off"> Custom User Group
								  </label>
								</div>
							  </div>
			
							  <div class="mb-3">
							  </div>
			
							</div>
							<!-- // card-body -->
						  </div>
						  <!-- // card -->
					</div>
			
					
					<div ng-if="taskDefinition.PublicTask" class="row px-3 m-0">
						<div class="col-lg-24 mb-2">
							<label class="label text-muted">Public task address: </label> 
							
						</div>
						<div class="ml-4">
							<span class="pl-2">/nm/public/{{organisation_id}}/</span>
						</div>
						<div class="col pl-2">
							<input  type="text" ng-model="taskDefinition.UniqueName"  placeholder="Enter unique task name" class="form-control form-control-xs" />
						</div>
					</div>
					
                    <!-- USERS & GROUPS ASSIGNMENT -->
                    <div ng-if="!taskDefinition.PublicTask &&  ['a','e'].includes(taskAssignments.taskInitiatorsUsers.AssignType)"
                         class="row m-0">
						
						<div class="col-lg-12 card p-1 border-0">
							<div class="card-body p-3">
							  <div class="card bg-white">
								<div class="p-3">
								  <div class="mb-3">
			
									<div>	
                                        <i class="fa fa-user" > </i> 
                                        <span class="bold p-1">   Users  </span>      
									</div>
			
									<div  kt-select-users-with-scope ng-if="firstDownloadAssignments" selected-items="taskAssignments.taskInitiatorsUsers.AssigneeList"></div>
			        		
                                     <div  class="my-4 col-auto d-flex">
                                           <label class="switch switch-green">
                                                  <input ng-model="taskAssignments.taskInitiatorsUsers.AssignType" type="checkbox" ng-true-value="'a'" ng-false-value="'e'"  class="switch-input">
                                                  <span class="switch-label" data-on="On" data-off="Off"></span>
                                                  <span class="switch-handle"></span>
                                             </label>
                                              
                                         <span ng-show="taskAssignments.taskInitiatorsUsers.AssignType == 'a'" class="mx-2" >  Selected users are alowed to start this task </span>
                                         <span ng-show="taskAssignments.taskInitiatorsUsers.AssignType == 'e' " class="mx-2" >  Selected users are forbiden to start this task </span>
                                             <div class="my-2">
                                        
                                            </div>
                                      </div>
                                             
								  </div>
			
								  <div class="mb-3">
								  </div>
								</div> <!-- // card-body -->
							  </div> <!-- // card -->
							</div>			 
						</div>
			
						<div class="col-lg-12 card p-1 border-0">
							<div class="card-body p-3">
							  <div class="card bg-white">
								<div class="p-3">
								  <div class="mb-3">
									<div>
                                          <i class="mr-1 fa fa-lg fa-users" ></i>
                                          
                                          <span class="bold">      Groups
                                          </span>
									</div>
			           
    
									<div kt-select-groups-with-scope   ng-if="firstDownloadAssignments"  selected-items="taskAssignments.taskInitiatorsGroups.AssigneeList"></div>
			 
									<div class="mb-3">
                                    
                                     <div  class="my-4 col-auto d-flex">
                                              <label class="switch switch-green">
                                                  <input ng-model="taskAssignments.taskInitiatorsGroups.AssignType" type="checkbox" ng-true-value="'a'" ng-false-value="'e'"  class="switch-input">
                                                  <span class="switch-label" data-on="On" data-off="Off"></span>
                                                  <span class="switch-handle"></span>
                                              </label>
                                              
                                         <span ng-show="taskAssignments.taskInitiatorsGroups.AssignType == 'a'" class="mx-2" >  Selected groups are alowed to start this task </span>
                                         <span ng-show="taskAssignments.taskInitiatorsGroups.AssignType == 'e' " class="mx-2" >  Selected groups are forbiden to start this task </span>
                                             <div class="my-2">
                                     
                                            </div>
                                      </div>
                                      
									</div>
			
								</div>
								</div> 
							  </div> <!--/card -->
							</div><!--/card-body -->
						</div>   
								 
					</div> <!-- users/groups from list -->
								
				</div><!-- Show Task Initiators-->
					 
					 
				   <!-- show Task owners --------------------------------------------- ASSIGN -------------------------------------------------->
				 <div ng-if="tds.showTaskOwnersFn()" class="card p-2 border-0">
				 
				 
					 <div class="row m-0 px-4">
					 <span ng-if="selectedDefinedActions!=2" class="tag lg ng-scope">Task assignment</span>
					 <div class="action-bar ml-auto"><button type="button" ng-click="tds.showHideTaskRoles(3)" class="btn btn-sm btn-light">Cancel</button> 
					 <button type="button" ng-click="saveTaskAssignments(1)" class="btn btn-sm btn-success ml-2">Save</button>
					 </div>
					 </div>
				  
                  
                  <div class="card-body pb-1"> <!-- taskAssignments  -->
						  <div class="card p-2">
                          
                          	  <div class="mb-3">
								<label class="bold mb-2 w-100">Who can be assigned to work on this task</label>
								<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
								
								<label ng-click="selectPreviousTaskForOwnerUser('s')" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskAssignments.potentialOwnersUsers.AssignType=='s'}">
									<input  type="radio" name="assigntype"  autocomplete="off">  Task creator
								  </label>  
								  <label ng-click="selectPreviousTaskForOwnerUser('i')" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskAssignments.potentialOwnersUsers.AssignType=='i'}">
									<input  type="radio" name="assigntype"  autocomplete="off" checked=""> Previous Task Creator
								  </label>
								  <label ng-click="selectPreviousTaskForOwnerUser('o')" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskAssignments.potentialOwnersUsers.AssignType=='o'}">
									<input  type="radio" name="assigntype"  autocomplete="off"> Previous Task Owner
								  </label>
								  <label ng-click="selectPreviousTaskForOwnerUser('a')" class="btn btn-sm btn-primary" ng-class="{ 'active' : (taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e')}">
									<input  type="radio" name="assigntype"  autocomplete="off"> Custom User Group
								  </label>    
								   <label ng-click="selectPreviousTaskForOwnerUser('d')" class="btn btn-sm btn-primary" ng-class="{ 'active' : taskAssignments.potentialOwnersUsers.AssignType=='d'}">
									<input  type="radio" name="assigntype"  autocomplete="off">  Users from dataset
								  </label>
										   
								</div>
							  </div>
                              
                          </div>
                     </div>
                          
                  
					<div class="m-2">
						  <div class="">
	  
							  
						  <div class=" m-0 p-0" ng-if="taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'" ng-class="{'well-custom':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}">
									
																	
						<div class="row m-0 p-0" ng-if="taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'"  ng-class="{'well-custom':taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e'}">
							
							<div class="col-lg-12 card px-1 border-0">
			
								<div class="card-body p-2">
								  <div class="card bg-white">
									<div class="p-3">
									  <div class="">
			
										<div class=""><i class="fa fa-user"></i> <span class="bold p-1">&nbsp;
                                            Users</span>
                                        </div>
                                        
 
										<div  kt-select-users-with-scope  ng-if="firstDownloadAssignments"  selected-items="taskAssignments.potentialOwnersUsers.AssigneeList"></div>
                                        
                                          
                                          <div class="mt-4 col-auto d-flex">
                                                    <label class="switch switch-green">
                                                      <input ng-model="taskAssignments.potentialOwnersUsers.AssignType" type="checkbox" ng-true-value="'a'" ng-false-value="'e'"  class="switch-input">
                                                      <span class="switch-label" data-on="On" data-off="Off"></span>
                                                      <span class="switch-handle"></span>
                                                  </label>
                                             <span ng-show="taskAssignments.potentialOwnersUsers.AssignType == 'a'" class="mx-2" >  Task is assigned only to selected users </span>
                                             <span ng-show="taskAssignments.potentialOwnersUsers.AssignType == 'e' " class="mx-2" >  Task is fobidden to be assigned to selected users </span>
                                              <div class="my-2">
                                        
                                            </div>
                                          </div>
			
									  </div>
			
						
									</div> <!-- // card-body -->
								  </div> <!-- // card -->
								</div>
			
				 
								 
							</div>
			
            
          
            
							<div class="col-lg-12 card px-1 border-0">
			
								<div class="card-body p-2">
								  <div class="card bg-white">
									<div class="p-3">
									  <div class="">
			
				
                                   <div class=""><i class="mr-1 fa fa-lg fa-users"></i> <span class="bold">&nbsp; 
                                        Groups</span>
                                   </div>
			
			
										<div ng-if="firstDownloadAssignments" kt-select-groups-with-scope selected-items="taskAssignments.potentialOwnersGroups.AssigneeList"></div>
				 
										<div  class="mb-3">
                                             
                                          <div  class="mt-4 col-auto d-flex">
                                                <label class="switch switch-green">
                                                      <input ng-model="taskAssignments.potentialOwnersGroups.AssignType" type="checkbox" ng-true-value="'a'" ng-false-value="'e'"  class="switch-input">
                                                      <span class="switch-label" data-on="On" data-off="Off"></span>
                                                      <span class="switch-handle"></span>
                                                  </label>
                                                  
                                             <span ng-show="taskAssignments.potentialOwnersGroups.AssignType == 'a'" class="mx-2" >  Task is assigned only to selected groups </span>
                                             <span ng-show="taskAssignments.potentialOwnersGroups.AssignType == 'e' " class="mx-2" >  Task is fobidden to be assigned to selected groups </span>
                                              <div class="my-2">
                                            
                                            </div>
                                          </div>
                                          
										</div>
			
									</div>
									</div> 
								  </div> <!--/card -->
								</div><!--/card-body -->
							</div><!--/col -->   
								 
						</div> <!-- users/groups from list -->
									  
					  
									 
					 </div> <!-- users/groups from list -->
					 			
							   <div ng-if="taskAssignments.potentialOwnersUsers.AssignType=='d'" class="row m-0 p-1">
									  
                                    Please select user from dataset
                                    
									<div class="col-lg-12">
									   <div kt-codes-dropdown search-text="Select unique user tag" label="" value-length="col-sm-12" code-name="usertags" selected-code-id="taskAssignments.potentialOwnersUsers.UniqueId"></div>
									</div>
			   
							   </div> <!-- user from dataset -->
									
										
						  </div> <!--/card -->
						  
						  
					</div>
					
							 <!--  <div  class="m-0 mb-3 p-2">           
							   <button type="button" ng-click="saveTaskAssignments(1)"  class="btn btn-sm btn-success">
											<span class="fa fa-save"></span>&nbsp Save assignments</button>
							   <button type="button" ng-click="tds.showHideTaskRoles(3)"  class="btn btn-link text-danger">
											<span class="fa fa-times"></span>&nbsp Close</button>
							</div>
																													
							  <div ng-if="taskAssignments.showPreviousTaskForOwner" class="row m-0 mb-1">
										<div class="col-12 card p-0">
												  <div class="card-header"> Previous task</div>
												  
												  <div class="row m-0 card-body"> 
														<div class="col-lg-12 text-center" >
														   
														   <a href ng-click="selectPreviousTaskForOwnerUser('i')" class="list-group-item-action d-block"  style="text-decoration: none;">
														   
															  <i class="fa fa-user fa-2x" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='i','text-warning':taskAssignments.potentialOwnersUsers.AssignType!='i'}"></i>
															  <i class="fa fa-check" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='i','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='i'}"></i>
															
															<div  ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='i','text-warning':taskAssignments.potentialOwnersUsers.AssignType!='i'}">Task creator</div>
														   </a>
													   </div>
													   <div class="col-lg-12 text-center" >
														 <a href ng-click="selectPreviousTaskForOwnerUser('o')" class="list-group-item-action d-block"  style="text-decoration: none;" >
														   <i class="fa fa-user fa-2x" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='o','text-warning':taskAssignments.potentialOwnersUsers.AssignType!='o'}"></i>
														   <i class="fa fa-check" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='o','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='o'}"></i>
														  <div class="text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='o','text-warning':taskAssignments.potentialOwnersUsers.AssignType!='o'}">Task owner</div> 
														 </a> 
								  
													   </div>
												  </div>
										</div>
										
								</div>-->
								
								
								
								 <!-- Task assignments -->
								 
							   <div class="card-header p-0">
							   
								<div class="row m-0">
								
									<!-- <div class="col-auto text-center" >
										  <a href class="list-group-item-action d-block  p-2 " ng-click="showHidePreviousTaskForOwner()">
										  <i class="fa fa-arrow-up fa-2x text-secondary"></i>
										  <div class="text-secondary">Previous task</div>
										  </a>
									 </div>
									 <div class="col-auto text-center">
											 <a href class="list-group-item-action d-block p-2" ng-click="selectPreviousTaskForOwnerUser('a')" style="text-decoration: none;" >
												  <i class="fa fa-list-alt fa-2x text-secondary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}"></i>
												  <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='a' && taskAssignments.potentialOwnersUsers.AssignType!='e'}"></i>
												 <div class="text-secondary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}">Select users/groups</div> 
											 </a>
										   
									 </div>
									 <div class="col-auto text-center ">
											 <a href class="list-group-item-action d-block p-2" ng-click="selectPreviousTaskForOwnerUser('d')" style="text-decoration: none;" >
												  <i class="fa fa-database fa-2x text-secondary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='d'}"></i>
												  <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='d','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='d'}"></i>
												 <div class="text-secondary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='d'}">User from dataset</div> 
											 </a>
										   
									</div>  select user from dataset 
									 <div class="col-auto text-center">
											 <a href class="list-group-item-action d-block p-2" ng-click="selectPreviousTaskForOwnerUser('s')" style="text-decoration: none;" >
												  <i class="fa fa-user-shield fa-2x text-secondary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='s'}"></i>
												  <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='s','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='s'}"></i>
												 <div class="text-secondary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='s'}">Same as task creator</div> 
											 </a>
										   
									</div> same as task creator-->
								  
								  </div> 
								</div>
								
								
								<div class="row border rounded mx-4" ng-show="taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'" >
								  <div class="p-2 col-lg-24">
									  <label class="bold ml-2">How many tasks do you want to create?</label>
                                      
                                      <div class="col-10 my-3">
                                      
                                        <select ng-options="ti.name for ti in taskTypeList" ng-init="localVars.initTaskTypeSelection()" ng-change="setTaskType(selected)" ng-model="taskDefinition.TaskTypeObject" class="form-control " id="testt">
                                       
                                            
                                            </select>
                                      	
                                      <!--      <select ng-options="rm.ref for rm in refmarkers" ng-change="setTaskType(selected)" ng-model="taskDefinition.TaskTypeObject" class="form-control " id="testt">
                                                <option value=""> Please select... </option> 
                                                <option value="oneinstance"> Only 1 task instance is created</option>
                                                <option value="oneinstanceperuser"> One task per user is created</option>
                                                <option value="oneinstancepergroup"> One task per group is created</option>
                                               
                                            </select>
                                            -->
                                      </div> 
                                      
                                      
                                      
                                      <!--
									  <div class="row m-0">
											<div class="col-4 text-center" ng-show="taskDefinition.TaskTypeObject.Name!='oneinstance'">
												<a ng-show="taskDefinition.TaskTypeObject.Name!='oneinstance'" href class="task-instance-def-item btn btn-outline-primary p-2 w-100" ng-click="setTaskType('oneinstance')" style="text-decoration: none;" >
												  <i class="fa fa-2x">1</i>
												  <i class="far fa-check-circle fa-lg visibility-hidden"></i>
												  <div class="">Only 1</div> 
												</a>
											   </div>
											<div class="col-4 text-center" ng-show="taskDefinition.TaskTypeObject.Name=='oneinstance'">
											   <div  class="task-instance-def-item border border-success rounded p-2">
												  <i class="fa fa-2x text-success">1</i>
												  <i class="far fa-check-circle fa-lg text-success"></i>
												  <div class="text-success">Only 1</div> 
											  </div>   
													
											</div>
											<div class="col-4 text-center" ng-show="taskDefinition.TaskTypeObject.Name!='oneinstanceperuser'">
												<a  href class="task-instance-def-item btn btn-outline-primary p-2 w-100 " ng-click="setTaskType('oneinstanceperuser')" style="text-decoration: none;" >
												  <i class="fa fa-user fa-2x"></i>
												  <i class="far fa-check-circle fa-lg visibility-hidden" ng-visible="false"></i> 
												  <div class="">1 per user</div> 
												</a>
											</div>
											<div class="col-4 text-center" ng-show="taskDefinition.TaskTypeObject.Name=='oneinstanceperuser'">
											   <div  class="task-instance-def-item border border-success rounded p-2" >
												  <i class="fa fa-user fa-2x text-success"></i>
												  <i class="far fa-check-circle fa-lg text-success"></i>
												  <div class="text-success">1 per user</div> 
											  </div>
											
													
											</div>
											<div class="col-4 text-center" ng-show="taskDefinition.TaskTypeObject.Name!='oneinstancepergroup'">
							
											   <a href class="task-instance-def-item btn btn-outline-primary p-2 w-100" ng-click="setTaskType('oneinstancepergroup')" style="text-decoration: none;" >
												  <i class="fa fa-users fa-2x"></i>
												  <i class="far fa-check-circle fa-lg visibility-hidden"></i>
												  <div class="">1 per group</div> 
											  </a>
											</div>
											<div class="col-4 text-center" ng-show="taskDefinition.TaskTypeObject.Name=='oneinstancepergroup'">
											   <div  class="task-instance-def-item border border-success rounded p-2" >
												  <i class="fa fa-users fa-2x text-success"></i>
												  <i class="far fa-check-circle fa-lg text-success"></i>
												  <div class="text-success">1 per group</div> 
											  </div>
													
											</div>
									  </div>-->
                                      
                                      
								   </div>  
								</div>
								
								
								
								
					   
						</div>
					  
		 <!-- show task ACTIONS -->
		 <div id="TASK_ACTIONS" ng-if="tds.showTaskStatusFn()" class="row p-1 m-0 ">
					  
			<div class="col-24">
			
							<div class="row my-0">
							  <div class="col px-2">
								<div class="d-flex pb-3">
								  <span ng-if="selectedDefinedActions!=2" class="tag lg">TASK ACTIONS</span>
								  <div class="action-bar ml-auto">
									<button type="button" ng-click="tds.showHideTaskStatuses(selectedDefinedActions,false)" class="btn btn-sm btn-light">Cancel</button>
									<button type="button" ng-click="saveTaskParameters();saveTaskStatuses();" class="btn btn-sm btn-success ml-2">Save</button>
								  </div>
								</div>
			
							   <!-- <div ng-show="selectedDefinedActions==0" class="card-body">-->
							<div ng-if="selectedDefinedActions==2" class="card">
								  <div class="card-header">
									<label class="bold mb-3">Task parameters</label>
									<div class="form-check w-100 mb-2">
									  <input ng-model="taskDefinition.AutoInitiate" type="checkbox" class="form-check-input" id="check1">
									  <label class="form-check-label text-muted" for="check1">Auto create task and skip form processing</label>
									</div>
									<div class="form-check w-100 mb-2">
									  <input ng-model="taskDefinition.AutoExecute" type="checkbox" class="form-check-input" id="check2">
									  <label class="form-check-label text-muted" for="check2">Task is completed after being created</label>
									</div>
			
									<div class="form-check w-100 mb-2">
									  <input ng-model="taskDefinition.AutoStart" type="checkbox" class="form-check-input" id="check3">
									  <label class="form-check-label text-muted" for="check3">Automatically start working on the task after claiming  </label>
									</div>
			
			
								  </div>
							</div> <!-- // card -->
							
							   </div> <!--/col-->
							</div> <!--/ROW-->
							
										 
							
					<div ng-if="selectedDefinedActions!=2"  class="row mb-2">
						 <label class="pl-2 pb-2">Pick transition and choose appropriate actions via drag&drop</label>
					</div> 
					
					
					<div class="row ">
					
				  	<!--	<ul id="leftPane" class="col-5 d-flex flex-column justify-content-around m-0 text-left p-4 bg-gray-20"> -->
						<div class="col-auto  p-0">
								<div class="d-flex flex-column h-100 w-100">
									<div id="leftPane" class="col p-0">
											  <!-- MIGOR - pitati IVICU da li su ovo dobri parametri za getTaskStatusActuions-->
											 <div class="action-tab-item" ng-class="{'active':tds.getSelectedTransition()==0}">
												<a ng-disabled="tds.getSelectedTransition()==0" class="" href ng-if="selectedDefinedActions==1"  ng-class="{ 'active' : tds.getSelectedTransition()==0}" ng-click="tds.getTaskStatusActions('created','created',0,true)" > 
												
												<div class="row m-0">
													<div class="col-auto p-0">Created
													  <i class="fas fa-angle-right mx-1" ></i>
													</div>
													<div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('createdcreated')>0">
														 <div class="badge badge-info rounded mx-2" >{{tds.getTransitionActionsCount('createdcreated')}}</div>
													</div>
												</div>
												
												</a>
											 </div>
											 <div class="action-tab-item" ng-class="{'active':tds.getSelectedTransition()==1}">
											  <a  ng-disabled="tds.getSelectedTransition()==1" href ng-if="selectedDefinedActions==1" ng-class="{ 'active' : tds.getSelectedTransition()==1}" ng-click="tds.getTaskStatusActions('created','ready',1,true)"> 
												<div class="row m-0">
													<div class="col-auto p-0">Created
													  <i class="fas fa-angle-right mx-1" ></i>
													  Ready</div>
													  <div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('createdready')>0">
														<div class="badge badge-info rounded mx-2" >{{tds.getTransitionActionsCount('createdready')}}</div>
													 </div>
												</div>
												
											  </a>
											  </div>
											  <div class="action-tab-item" ng-class="{'active':tds.getSelectedTransition()==2}">
											  <a  href ng-if="selectedDefinedActions==1 && !taskDefinition.AutoStart"  ng-class="{ 'active' : tds.getSelectedTransition()==2}" ng-click="tds.getTaskStatusActions('ready','claim',2,true)"> 
												<div class="row m-0">
													<div class="col-auto p-0">Ready
													  <i class="fas fa-angle-right mx-1" ></i>
													  Claimed</div>
													<div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('readyclaimed')>0">
														 <div class="badge badge-info rounded mx-2" >{{tds.getTransitionActionsCount('readyclaimed')}}</div>
													</div>
												</div>
											  </a>
											</div>
											  <div class="action-tab-item">
											  <a  href ng-if="selectedDefinedActions==1"  ng-class="{ 'active' : tds.getSelectedTransition()==3}" ng-click="tds.getTaskStatusActions('claim','InProgress',3,true)"> 
												<div class="row m-0">
													  <div class="col-auto p-0">Claimed
													  <i class="fas fa-angle-right mx-1" ></i>
													  In progress</div>
													  <div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('claimInProgress')>0">
														 <div class="badge badge-info rounded mx-2" >{{tds.getTransitionActionsCount('claimInProgress')}}</div>
													</div>
												</div>
											  </a>
											</div>
											  <div class="action-tab-item">
											  <a href  ng-if="selectedDefinedActions==1 && taskDefinition.AutoStart"  ng-class="{ 'active' : tds.getSelectedTransition()==4}" ng-click="tds.getTaskStatusActions('ready','InProgress',4,true)"> 
												<div class="row m-0">
													<div class="col-auto p-0">Ready
													  <i class="fas fa-angle-right mx-1" ></i>
													  In progress
													</div>
													<div class="col p-0 text-right" ng-if="tds.getTransitionActionsCount('readyInProgress')>0" >
														<div class="badge badge-info rounded mx-2">{{tds.getTransitionActionsCount('readyInProgress')}}</div>
													</div>
												</div>
											  </a>
												 </div>
											  <div class="action-tab-item">
											 <a  href ng-if="selectedDefinedActions==1 && taskDefinition.AutoExecute"  ng-class="{ 'active' : tds.getSelectedTransition()==5}"  ng-click="tds.getTaskStatusActions('InProgress','completed',5,true)"> 
													<div class="row m-0">
													  <div class="col-auto p-0">In progress
													  <i class="fas fa-angle-right mx-1" ></i>
													  Completed</div>
													  <div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('InProgresscompleted')>0">
														 <div class="badge badge-info rounded mx-2" >{{tds.getTransitionActionsCount('InProgresscompleted')}}</div>
											  </a>
												 </div>
											 <div class="action-tab-item">
											 <a href ng-if="selectedDefinedActions==1"  ng-class="{ 'active' : tds.getSelectedTransition()==6}" ng-click="tds.getTaskStatusActions('InProgress','OnHold',6,true)"> 
												 <div class="row m-0">
													<div class="col-auto p-0">In progress
													  <i class="fas fa-angle-right mx-1" ></i>
													  On hold</div>
													  <div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('InProgressOnHold')>0">
														 <div class="badge badge-info rounded mx-2" >{{tds.getTransitionActionsCount('InProgressOnHold')}}</div>
													</div>
												</div> 
											 </a>
												 </div>
											<div class="action-tab-item">
												<a href ng-if="selectedDefinedActions==1"  ng-class="{ 'active' : tds.getSelectedTransition()==7}" ng-click="tds.getTaskStatusActions('InProgress','completed',7,true)"> 
													<div class="row m-0">
														  <div class="col-auto p-0">In progress
															<i class="fas fa-angle-right mx-1" ></i>
															Completed
														  </div>
													  <div class="col text-right p-0" ng-if="tds.getTransitionActionsCount('InProgresscompleted')>0">
														 <div class="badge badge-info rounded mx-2">{{tds.getTransitionActionsCount('InProgresscompleted')}}</div>
													
													</div>
												</a>
											</div>
										</div><!--col_left-->
									
										<div class="col-24 border-right border-warning" style="flex:1"></div>
									</div>
								</div>
				 
								
						<div id="RightPane" class="col right-pane-top-border">
								<div id="Enter_Parameters"> 
									<div ng-if="selectedDefinedActions==0" class=" m-0 text-left">
									   
										 <div class="">
												 <a href ng-click="taskDefinition.AutoInitiate=!taskDefinition.AutoInitiate" style="text-decoration: none;" >
													  <i class="fa fa-angle-double-right" ng-class="{'text-success':taskDefinition.AutoInitiate, 'text-danger':!taskDefinition.AutoInitiate}">&nbsp Auto create task and skip form processing &nbsp </i>
													  <i class="far fa-check-square text-success" ng-if="taskDefinition.AutoInitiate"></i>
													  <i class="far fa-square text-danger" ng-if="!taskDefinition.AutoInitiate"></i>  
												 </a>
										 </div>
										 <div class=" margin-top-5">
												  <a href ng-click="setAutoExecute()" style="text-decoration: none;" >
													  <i class="fa fa-check" ng-class="{'text-success':taskDefinition.AutoExecute, 'text-danger':!taskDefinition.AutoExecute}">&nbsp Task is completed after being created  &nbsp </i>
													  <i class="far fa-check-square  text-success" ng-if="taskDefinition.AutoExecute"></i>
													  <i class="far fa-square text-danger" ng-if="!taskDefinition.AutoExecute"></i>
													 
												 </a>
											   
										  </div>
									</div>
								 
									
								</div><!--parameters-->
								
								
								
								  
								<div ng-if="false" class=" px-0 m-0 card-header text-left">
									  
									
									 <div   class="text-center" >
														   <a href ng-click="showNotifications()">
														   
															  <i class="fa fa-bell text-dark" >&nbsp Notifications</i>
														   
														   </a>
									</div>
					  
								</div>

						<div class=" m-0 mt-2 mb-2 text-left">
							<div kt-codes-def-actions status-from="taskStatusFrom" status-to="taskStatusTo" codes="codesList" codes-actions="codesActions" default-code="taskstatuses" task="task" task-id="taskId" actions-list="Drag Actions from here!" select-code="false" ></div>
						</div>
			            </div> <!--/col right-->
			        </div><!--/end_row-->
                                
                      
			      </div><!--/col24-->
                   
                  
			    </div> <!--showtaskstatus-->         
			</div>  <!--ROW showTaskInitiators || showTaskOwners || showTaskStatus-->       
			
			
	    </div>
        
	    <div id="Properties_menu" class="border-0 p-0 col-4 mr-1 sticky" style="overflow-y: scroll;top:50px;max-height: calc(100vh - 4rem);">
						<div class="p-1">
							<div class="card m-0" ng-if="gsrvc.getFieldPropertiesOpened() && gsrvc.getFormViewType()==1">
									<div class="card-header bg-light p-0">
											<span class="ml-1 label-xs bold">Properties</span>
											<button type="button" title="Close properties" class="btn btn-danger p-0 pl-1 pr-1 float-right" ng-click="showHideProperties(false)">
																							<small><span class="fa fa-times"></span></small>
											</button>
									</div>
							</div>
							<div class="mt-2 p-1" ng-if="gsrvc.getFieldPropertiesOpened() && gsrvc.getFormViewType()==1" kt-form-element-properties local-vars="localVars" fd="selectedField"></div>
						</div>  
		</div>
	    
	   
			  
  </div>   <!-- task definition menu -->  
	

     


</div>