 <form ng-submit="saveOrganisation(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

                <div class="text-center"><h3>Task definition</h3></div>
                        <hr>
              <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.taskType.$touched) && form.taskType.$invalid }">
                    <label class="col-sm-2" for="taskType">Task type</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="task.taskType" ng-disabled="disabled" name="taskType" ng-required="true" reset-search-input="false" >
                          <ui-select-match placeholder="Search or select task type...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices repeat="tt in (taskTypeList | filter: { name: $select.search }) track by tt.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{tt.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.taskType.$touched) && form.taskType.$invalid" class="help-block">Select task type</p>
                    </div>
                </div>
                              
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid }">
                    <label class="col-sm-2" for="organisationDescription">Organisation description</label>
                    <div class="col-sm-6">
                        <textarea ng-model="organisation.organisationDescription" name="organisationDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid" class="help-block">Enter organisation description(min 20 chars).</p>

                    </div>
                </div>
 
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.organisationType.$touched) && form.organisationType.$invalid }">
                    <label class="col-sm-2" for="country">Country</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="organisation.organisationcountry" ng-disabled="disabled" name="country" ng-required="true" reset-search-input="false" >
                          <ui-select-match placeholder="Search or select organisation type...">
                            <span>{{$select.selected.name}}</span>
                            <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                        </ui-select-match>
                        <ui-select-choices repeat="rt in (organisationTypeList | filter: { name: $select.search }) track by rt.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{rt.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.organisationType.$touched) && form.organisationType.$invalid" class="help-block">Select organisation type</p>
                    </div>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.industry.$touched) && form.industry.$invalid }">
                    <label class="col-sm-2" for="industry">Industry</label>
                    <div class="col-sm-6">
                       
                        <ui-select ng-model="organisation.organisationStatus" ng-disabled="disabled" name="industry" ng-required="true" reset-search-input="false">
                            <ui-select-match placeholder="Search or select organisation industry...">
                              <span>{{$select.selected.name}}</span>
                               <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="ind in (industryList | filter: { name: $select.search }) track by ind.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{ind.name}}</span>
                            </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.industry.$touched) && form.industry.$invalid" class="help-block">Select industry</p>
                    </div>
                </div>
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.organisationStatus.$touched) && form.organisationStatus.$invalid }">
                    <label class="col-sm-2" for="organisationStatus">Status</label>
                    <div class="col-sm-6">
                       
                        <ui-select ng-model="organisation.organisationStatus" ng-disabled="disabled" name="organisationStatus" ng-required="true" reset-search-input="false">
                            <ui-select-match placeholder="Search or select organisation status...">
                              <span>{{$select.selected.name}}</span>
                               <a class="btn btn-sm btn-link float-right" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </ui-select-match>
                            <ui-select-choices repeat="os in (organisationStatusList | filter: { name: $select.search }) track by rs.id" refresh="refreshResults($select)" refresh-delay="0">
                              <span>{{os.name}}</span>
                            </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.organisationStatus.$touched) && form.organisationStatus.$invalid" class="help-block">Select organisation status</p>
                    </div>
                </div>
                <div  class="control-group">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save task parameters</button>
                                      
                            <br><br>   
                 </div>
</form>