 <div class="row well-custom m-0"> 
  <div class="col-lg-24">
    <div class="text-info"><b>Task info</b>
      <button  type="button" class="btn btn-link float-right" ng-click="isCollapsedTaskInfo = !isCollapsedTaskInfo" >
         <span ng-class="{'fa fa-plus': !isCollapsedTaskInfo,'fa fa-minus': isCollapsedTaskInfo }" ></span>
      </button>
    </div>
  
    <div class="margin0" kt-task-def-details is-collapsed="isCollapsedTaskInfo" task-definition="resourceDefinition"></div>
  </div>
</div>
    
   <div ng-if="false" class="row well-custom m-0">
        <div>
           <div><b>Definition checklist</b>
              <i ng-class="{'text-danger': !checklist.form,'text-success': checklist.form}">&nbsp &nbsp <b>Forms</b> <i ng-class="{'fa fa-times-circle fa-lg': !checklist.form,'fa fa-check-circle fa-lg': checklist.form }" > </i></i>
              <span ng-class="{'text-danger': !checklist.assign,'text-success': checklist.assign}">&nbsp &nbsp <b>Assignments</b> <i ng-class="{'fa fa-times-circle fa-lg': !checklist.assign,'fa fa-check-circle fa-lg': checklist.assign }" >  </i>
               <span ng-class="{'text-danger': !checklist.outcomes,'text-success': checklist.outcomes}">&nbsp &nbsp <b>Outcomes</b> <i ng-class="{'fa fa-times-circle fa-lg': !checklist.outcomes,'fa fa-check-circle fa-lg': checklist.outcomes }" >  </i>
               <span ng-class="{'text-danger': !checklist.status,'text-success': checklist.status}">&nbsp &nbsp <b>Statuses</b> <i ng-class="{'fa fa-times-circle fa-lg': !checklist.status,'fa fa-check-circle fa-lg': checklist.status }" >  </i>
               <i>&nbsp &nbsp <b>Parameters</b> <i ng-class="{'fa fa-times-circle fa-lg': !checklist.params,'fa fa-check-circle fa-lg': checklist.params }" >  </i>
              
            </div>
        </div>
  </div>


  <div ng-if="taskAssignments.showPreviousTask && showTaskInitiators" class="row margin0">
                            <div class="offset-lg-6 col-lg-6 well-custom bg-white">
                                      <div class="well well-sm text-info"> Previous task</div>
                                      
                                      <div class="col-lg-6 text-center" >
                                         
                                         <a href ng-click="selectPreviousTaskUser('i')" style="text-decoration: none;">
                                         
                                            <i class="fa fa-user fa-2x  text-primary" ng-class="{'text-success':taskAssignments.taskInitiatorsUsers.AssignType=='i'}"></i>
                                            <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.taskInitiatorsUsers.AssignType=='i','visibility-hidden':taskAssignments.taskInitiatorsUsers.AssignType!='i'}"></i>
                                          
                                          <div class="text-primary" ng-class="{'text-success':taskAssignments.taskInitiatorsUsers.AssignType=='i'}">Task creator</div>
                                         </a>
                                     </div>
                                     <div class="col-lg-6 text-center" >
                                       <a href ng-click="selectPreviousTaskUser('o')" style="text-decoration: none;" >
                                         <i class="fa fa-user fa-2x text-primary" ng-class="{'text-success':taskAssignments.taskInitiatorsUsers.AssignType=='o'}"></i>
                                         <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.taskInitiatorsUsers.AssignType=='o','visibility-hidden':taskAssignments.taskInitiatorsUsers.AssignType!='o'}"></i>
                                        <div class="text-primary" ng-class="{'text-success':taskAssignments.taskInitiatorsUsers.AssignType=='o'}">Task owner</div> 
                                       </a>
                                       
                                     </div>
                            </div>
                            
     </div> 
 <div ng-if="taskAssignments.showPreviousTaskForOwner && showTaskOwners" class="row margin0">
                            <div class="offset-lg-6 col-lg-6 well-custom bg-white">
                                      <div class="well well-sm text-info"> Previous task</div>
                                      
                                      <div class="col-lg-6 text-center" >
                                         
                                         <a href ng-click="selectPreviousTaskForOwnerUser('i')" style="text-decoration: none;">
                                         
                                            <i class="fa fa-user fa-2x  text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='i'}"></i>
                                            <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='i','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='i'}"></i>
                                          
                                          <div class="text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='i'}">Task creator</div>
                                         </a>
                                     </div>
                                     <div class="col-lg-6 text-center" >
                                       <a href ng-click="selectPreviousTaskForOwnerUser('o')" style="text-decoration: none;" >
                                         <i class="fa fa-user fa-2x text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='o'}"></i>
                                         <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='o','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='o'}"></i>
                                        <div class="text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='o'}">Task owner</div> 
                                       </a>
                                       
                                     </div>
                            </div>
                            
     </div> 
<div class="row margin0">
  <div class="col-lg-12 padding0">
  
    <div class="row margin0" style="display: flex;flex-wrap: wrap;">
      
        <div class="col-lg-4 col-sm-12 col-12 text-center well-custom bg-white" >
         
           <div class="" style="display: flex;align-items: center;justify-content: center;height:100%">
             <div>
                <i class="fa fa-user fa-4x text-primary"></i>
              
                <h5 class="text-primary">Task creator</h5>
             </div>
          </div>
          
        </div>
      <div class="col-lg-16 col-sm-16 padding0" >
        <div class="row margin0">
                  <div class="col-lg-2 col-sm-12 col-12 text-left padding0">
                         
                         <div style="position: relative;margin-top:25%;margin-left:2px;"> 
                            <div class="arrow-triangle arrow-left text-info float-left">

                            </div>
                            <div class="arrow-line-left-right text-info">
                            </div>
                         </div> 
                          
                  </div>
                  <div  class="col-lg-12 col-sm-12 col-12 text-center padding0">
                          <div class="well-custom bg-white">
                            <a href title="Define who will be authorised to start this task" ng-click="showHideTaskRoles(0)" style="text-decoration: none;">
                            
                               <i ng-class="{'text-success':task.TaskInitiatorsSaved,'text-danger':!task.TaskInitiatorsSaved}" class="fa fa-user-shield" >&nbsp Permissions</i>
                                
                               <i ng-class="{'fa fa-check text-success':task.TaskInitiatorsSaved,'fa fa-times text-danger':!task.TaskInitiatorsSaved}" ></i>
                            
                            </a>
                          </div>
                  </div>
            </div> <!-- row-->

            <div class="row margin0">
                
                  <div class="col-lg-2 col-sm-6 col-12 padding0">
                                       
                          <div style="position: relative;margin-top:15%;margin-right:2px;"> 
                              <div class="arrow-line-left-right text-info">
                              </div>
                              <div class="arrow-triangle arrow-right text-info float-right">
    
                              </div>
                          </div>

                  </div>
                <div  class="col-lg-12 col-sm-12 col-12 text-center padding0" >
                  
                    <div class="well-custom bg-white" >
                      <a title="Define the form that provides input for task execution" ui-sref="app.menu.tasks.form({formType:'i',id:taskId})" ng-style="{'text-decoration:line-through;':task.AutoInitiate,'text-decoration:none;':!task.AutoInitiate}">
                   
                         <i ng-class="{'text-success':resourceDefinition.resourcedeflang_set[0].InitiateForm,'text-danger':!resourceDefinition.resourcedeflang_set[0].InitiateForm}" class="fa fa-list-alt" >&nbsp Form</i>
                         <i ng-class="{'fa fa-check text-success':resourceDefinition.resourcedeflang_set[0].InitiateForm,'fa fa-times text-danger':!resourceDefinition.resourcedeflang_set[0].InitiateForm}" ></i>
                      </a>
                     
                    </div>
                    
                    
                </div>
                
 
            </div> <!-- row -->
            
            <div class="row margin0">
                <div  class="offset-lg-2 col-lg-12 text-center padding0" >
                            <div class="arrow-line-up-down text-info">
                             </div>
                             <a href  ng-click="showHideTaskStatuses('created','created',true)" style="text-decoration: none;top: 5px;position: relative">
                             
                                <i class="fa fa-edit text-info" >&nbsp Create task </i>
                             
                             </a>
                             <div class="arrow-line-down text-info">

                             </div>
                             <div class="arrow-triangle arrow-down text-info">

                             </div>
                </div>
                
            
            </div> <!-- row -->
            
            <div class="row margin0">
                <div class="offset-lg-2 col-lg-12 text-center well-custom bg-white margin-top-5" >
                             <a href style="text-decoration: none;">
                             
                                <i class="fa fa-rocket text-info" >&nbsp Created </i>
                             
                             </a>
                </div>
            
           
            </div>  <!-- row -->
     
  
      </div> <!-- col-lg-16 -->
    </div> <!-- row --> 
  
  
  
  <div class="row margin0" style="display: flex;flex-wrap: wrap;">
   
      <div class="col-lg-4 col-sm-6 text-center well-custom bg-white" >
         
         <div class="" style="display: flex;align-items: center;justify-content: center;height:100%">
           <div>
              <i class="fa fa-robot fa-4x text-primary"></i>
              
              <h5 class="text-primary">System</h5>
           </div>
        </div>
        
      </div>
    
      <div class="col-lg-16 col-sm-8 padding0" >
          
        
      <div class="row margin0">
                                          
                
                  <div  class="offset-lg-2 col-lg-12 col-sm-10 col-12 text-center padding0">
                          
                          <div class="arrow-line-up-down text-info">
                          </div>
                          
                          <div  ng-if="!task.AutoExecute" class="well-custom bg-white margin-top-5">
                              <a href title="Define who can be the owner and execute this task" ng-click="showHideTaskRoles(1)" style="text-decoration: none;">
                            
                                 <i ng-class="{'text-success':task.PotentialOwnersSaved,'text-danger':!task.PotentialOwnersSaved}" class="fa fa-users-cog" >&nbsp Assign task</i>
                                
                                 <i ng-class="{'fa fa-check text-success':task.PotentialOwnersSaved,'fa fa-times text-danger':!task.PotentialOwnersSaved}" ></i>
                            
                              </a>
                          </div>
                          
                            <a ng-if="task.AutoExecute" ng-click="showHideTaskStatuses('InProgress','completed',true)" href  style="text-decoration: none;top: 5px;position: relative">
                                <i class="fa fa-edit text-info" >&nbsp Complete task </i>
                            </a>
                         
                          
                           <div class="arrow-line-down text-info" ng-style="{'margin-top:-10px !important;':!task.AutoExecute}">

                             </div>
                             <div class="arrow-triangle arrow-down text-info">

                             </div>
                  </div>
            
        </div>   <!-- row -->  
        
        <div class="row margin0 ">
                <div class="offset-lg-2 col-lg-12 text-center well-custom bg-white margin-top-5" >
                            
                                <i ng-if="!task.AutoExecute" class="fa fa-thumbs-up text-info" >&nbsp Ready </i>
                                <i ng-if="task.AutoExecute" class="fa fa-check text-info" >&nbsp Completed </i>
                        
                </div>
            
        </div> <!-- row -->
        
        
 
        
       
        
      </div>
      
      
   
  </div>
 
  
  
  
  <div ng-if="taskAssignments.taskInitiatorsUsers.AssignType!='s' && !task.AutoExecute" class="row margin0" style="display: flex;flex-wrap: wrap;">
   
      <div class="col-lg-4 col-sm-6 col-12 text-center well-custom bg-white" >
         
         <div class="" style="display: flex;align-items: center;justify-content: center;height:100%">
           <div>
              <i class="fa fa-user fa-4x text-primary"></i>
              
              <h5 class="text-primary">Task owner</h5>
           </div>
        </div>
        
      </div>
    
      <div class="col-lg-16 col-sm-8 padding0" >
          
          <div class="row margin0">
               <div  class="offset-lg-2 col-lg-12 text-center padding0" >
                          
                             <div class="arrow-line-up-down text-info">
                             </div>
                             <a href ng-click="showHideTaskStatuses('ready','claim',true)" style="text-decoration: none;top: 5px;position: relative">
                             
                                <i class="fa fa-edit text-info" >&nbsp Claim task </i>
                             
                             </a>
                             <div class="arrow-line-down text-info">

                             </div>
                             <div class="arrow-triangle arrow-down text-info">

                             </div>
                             
                </div>
               
        </div>
        <div class="row margin0 ">
                <div class="offset-lg-2 col-lg-12 text-center well-custom bg-white margin-top-5" >
                            
                                <i class="fa fa-hand-rock text-info" >&nbsp Claimed </i>
                        
                </div>
            
        </div> <!-- row -->
   
        <div class="row margin0">
               <div  class="offset-lg-2 col-lg-12 text-center padding0" >
                              
                            <div class="arrow-line-up-down text-info">

                             </div>
                             <a href   ng-click="showHideTaskStatuses('claim','InProgress',true)" style="text-decoration: none;top: 5px;position: relative">
                                <i data-ng-attr-title="{{task.Autostart ? 'Task is started automatically after claiming' : ''}}" class="text-info fa" ng-class="{'fa-cog':task.AutoStart}" >&nbsp Start task </i>
                            </a>
                             
                             <div class="arrow-line-down text-info">

                             </div>
                             <div class="arrow-triangle arrow-down text-info">

                             </div>
                            
                </div>
               
        </div>   <!-- row -->  
        
        <div class="row margin0 ">
                <div class="offset-lg-2 col-lg-12 text-center well-custom bg-white margin-top-5">
                            
                                <i class="fa fa-cogs text-info" >&nbsp In Progress </i>
                   
                </div>
        </div> <!-- row -->                    
        <div class="row margin0 ">
                <div class="offset-lg-2 col-lg-12 text-center" >
                    <div class="arrow-line-down text-info" style="margin-top:-10px !important;">

                    </div>
                    <div class="arrow-triangle arrow-down text-info">

                    </div>
          
            </div>
        </div> <!-- row -->    
            <div class="row margin0">
                
                  <div class="col-lg-2 col-sm-12 col-12 padding0">
                                       
                          <div style="position: relative;margin-top:40%;margin-right:2px;"> 
                              <div class="arrow-line-left-right text-info">
                              </div>
                              <div class="arrow-triangle arrow-right text-info float-right">
    
                              </div>
                          </div>

                  </div>
                <div  class="col-lg-12 col-sm-10 col-12 text-center padding0" >
                  
                    <div class="well-custom bg-white margin-top-5">
                      <a title="Define the form that provides input for task execution" ui-sref="app.menu.tasks.form({formType:'e',id:taskId})" style="text-decoration: none;">
                        <div>
                           <i ng-class="{'text-success':resourceDefinition.resourcedeflang_set[0].ExecuteForm,'text-danger':!resourceDefinition.resourcedeflang_set[0].ExecuteForm}" class="fa fa-list-alt" >&nbsp Form</i>
                           <i ng-class="{'fa fa-check text-success':resourceDefinition.resourcedeflang_set[0].ExecuteForm,'fa fa-times text-danger':!resourceDefinition.resourcedeflang_set[0].ExecuteForm}" ></i>
                        </div>
                       
                      </a>
                     
                    </div>
                    <div class="arrow-line-down text-info" style="margin-top:-10px !important;">

                    </div>
                    <div class="arrow-triangle arrow-down text-info">

                    </div>
                    
                </div>
                
 
            </div> <!-- row -->
                        
            <div class="row margin0">
                
                  <div  class="offset-lg-2 col-lg-12 col-sm-10 col-12 text-center padding0">
                          <div class="well-custom bg-white margin-top-5">
                            <a href title="Define task outcomes" ui-sref="app.menu.tasks.form({formType:'e',id:taskId})" style="text-decoration: none;">
                            
                               <i ng-class="{'text-success':task.TaskOutcomesSaved,'text-danger':!task.TaskOutcomesSaved}" class="fa fa-bullseye" >&nbsp Outcomes</i>
                                
                               <i ng-class="{'fa fa-check text-success':task.TaskOutcomesSaved,'fa fa-times text-danger':!task.TaskOutcomesSaved}" ></i>
                            
                            </a>
                          </div>
                  </div>
            </div> <!-- row-->
           <div class="row margin0">
               <div  class="offset-lg-2 col-lg-12 text-center padding0" >
                              
                            <div class="arrow-line-up-down text-info">

                             </div>
                             <a ng-show="!task.InfiniteTask" href ng-click="showHideTaskStatuses('InProgress','completed',true)"  style="text-decoration: none;top: 5px;position: relative">
                                <i class="fa fa-edit text-info" >&nbsp Complete task </i>
                            </a>
                            
                            <i ng-show="task.InfiniteTask" class="fa fa-edit text-danger" style="text-decoration: line-through;">&nbsp Complete task </i> 
                             
                             <div class="arrow-line-down text-info">

                             </div>
                             <div class="arrow-triangle arrow-down text-info">

                             </div>
                            
                </div>
               
        </div>   <!-- row -->  
        
        <div class="row margin0 ">
                <div class="offset-lg-2 col-lg-12 text-center well-custom bg-white margin-top-5" >
                            
                                <i ng-if="!task.InfiniteTask" class="fa fa-check text-info" >&nbsp Completed </i>
                                <i ng-if="task.InfiniteTask" title="Task can not be Completed. Don't worry this is normal behaviour for repeating tasks." class="fa fa-check text-danger" style="text-decoration: line-through;" >&nbsp Completed </i>    
                </div>
            
        </div> <!-- row -->   
        
        
        
        
           
        <div ng-if="false" class="row margin0 ">  
            <div  class="offset-lg-2 col-lg-12 text-center padding0" >
                             <div class="arrow-line-up-down text-info">

                             </div>
                             <a href  style="text-decoration: none;top: 5px;position: relative">
                             
                                <i class="text-info" >&nbsp Pause task </i>
                             
                             </a>
                             <div class="arrow-line-down text-info">

                             </div>
                             <div class="arrow-triangle arrow-down text-info">

                             </div>
                             
                </div>
              <div  class="col-lg-16 text-center padding0" >
                             
                                <div class="arrow-triangle arrow-up text-info">
   
                                </div>
                                <div class="arrow-line-up text-info">
   
                                </div>
                             
                             <a href  style="text-decoration: none;bottom: 5px;position: relative">
                             
                                <i class="text-info" >&nbsp Resume task </i>
                             
                             </a>
                             <div class="arrow-line-up-down text-info">

                             </div>
                </div>
        </div> <!-- row -->  
        
        <div ng-if="false" class="row margin0 ">
                <div class="offset-lg-1 col-lg-16 text-center well-custom bg-white margin-top-5" >
                            
                                <i class="fa fa-hand-o text-info" >&nbsp On Hold </i>
                        
                </div>
            
        </div> <!-- row -->
        
      </div>
      
      
   
   </div>

  </div> <!-- col-lg-24 -->
    
  <div class="col-lg-168 well-custom bg-white-flex"  ng-show="showTaskInitiators || showTaskOwners || showTaskStatus">
            
          <div ng-if="showTaskInitiators" class="row margin0">
                      
                   <div class="row  margin0">
                         <div class="col-lg-16 text-center" ng-class="{'well-custom bg-white':!taskAssignments.showPreviousTask}">
                              <a href ng-click="showHidePreviousTask()">
                              <i class="fa fa-arrow-up fa-2x text-info"></i>
                              <div class="text-primary">Previous task</div>
                              </a>
                         </div>
                         <div class="col-lg-16 text-center well-custom bg-white">
                                 <a href ng-click="selectPreviousTaskUser('a')" style="text-decoration: none;" >
                                      <i class="fa fa-list-alt fa-2x text-primary" ng-class="{'text-success':taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e'}"></i>
                                      <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e','visibility-hidden':taskAssignments.taskInitiatorsUsers.AssignType!='a' && taskAssignments.taskInitiatorsUsers.AssignType!='e'}"></i>
                                     <div class="text-primary" ng-class="{'text-success':taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e'}">Select users/groups</div> 
                                 </a>
                               
                         </div> 
                        
                     
                    </div>  
                    <div class="row margin0" ng-class="{'well-custom bg-white':taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e'}">
                          
                          <div ng-show="taskAssignments.taskInitiatorsUsers.AssignType=='a' || taskAssignments.taskInitiatorsUsers.AssignType=='e'" class="row">
                                <div class="col-lg-6">
                                    <a href ng-click="changeInitAssignTypeUser()">
                                        <i ng-class="{'fa fa-user-check text-success':taskAssignments.taskInitiatorsUsers.AssignType=='a','fa fa-user-times text-danger':taskAssignments.taskInitiatorsUsers.AssignType=='e'}" >
                                         
                                        </i>
                                       
                                    </a>
                                    
                                     <span class="bold float-right">
                                            &nbsp Users
                                        </span>
                                     
                                    
                                    <span class="text-success" ng-if="taskAssignments.taskInitiatorsUsers.AssignType=='a'">&nbspSelected users have the permission to create this task</span>
                                   
                                    <span class="text-danger" ng-if="taskAssignments.taskInitiatorsUsers.AssignType=='e'">&nbspSelected users do NOT have the permission to create this  task</span>
                                    <div kt-select-users-with-scope selected-items="taskAssignments.taskInitiatorsUsers.AssigneeList"></div>
                                         
                                        
                                </div>
                                <div class="col-lg-6">
                                     <a href ng-click="changeInitAssignTypeGroup()">
                                    <i ng-class="{'fa fa-users text-success':taskAssignments.taskInitiatorsGroups.AssignType=='a','fa fa-users text-danger':taskAssignments.taskInitiatorsGroups.AssignType=='e'}" >
                                      &nbsp Groups
                                    </i>
                                    
                                    
                                    </a>
                                    
                                       <span class="bold float-right">
                                            &nbsp Groups
                                        </span>
                                        
                                    <span class="text-success" ng-if="taskAssignments.taskInitiatorsGroups.AssignType=='a'">&nbspSelected groups have the permission to start this task</span>
                                   
                                    <span class="text-danger" ng-if="taskAssignments.taskInitiatorsGroups.AssignType=='e'">&nbspSelected groups do NOT have the permission to start this  task</span>
                                    
                                     <div kt-select-groups-with-scope selected-items="taskAssignments.taskInitiatorsGroups.AssigneeList"></div>
                                </div>
                                  
                          </div>
                         
                    </div> <!-- users/groups from list -->
                    
                   <button type="button" ng-click="saveTaskAssignments(0)"  class="btn btn-success">
                                <span class="fa fa-save"></span>&nbsp Save permissions</button>
                   <button type="button" ng-click="showHideTaskRoles(2)"  class="btn btn-danger">
                                <span class="fa fa-times"></span>&nbsp Close</button>
            </div>
            
            <!-- potential owners -->
             <div ng-if="showTaskOwners" class="row margin0">
                      
                    <div class="row margin0">
                         <div class="col-lg-16 text-center" ng-class="{'well-custom bg-white':!taskAssignments.showPreviousTaskForOwner}">
                              <a href ng-click="showHidePreviousTaskForOwner()">
                              <i class="fa fa-arrow-up fa-2x text-info"></i>
                              <div class="text-primary">Previous task</div>
                              </a>
                         </div>
                         <div class="col-lg-16 text-center well-custom bg-white">
                                 <a href ng-click="selectPreviousTaskForOwnerUser('a')" style="text-decoration: none;" >
                                      <i class="fa fa-list-alt fa-2x text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}"></i>
                                      <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='a' && taskAssignments.potentialOwnersUsers.AssignType!='e'}"></i>
                                     <div class="text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}">Select users/groups</div> 
                                 </a>
                               
                         </div>
                         <div class="col-lg-16 text-center well-custom bg-white">
                                 <a href ng-click="selectPreviousTaskForOwnerUser('d')" style="text-decoration: none;" >
                                      <i class="fa fa-database fa-2x text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='d'}"></i>
                                      <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='d','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='d'}"></i>
                                     <div class="text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='d'}">User from dataset</div>
                                    
                                 </a>
                               
                        </div> <!-- select user from dataset -->
                         <div class="col-lg-16 text-center well-custom bg-white">
                                 <a href ng-click="selectPreviousTaskForOwnerUser('s')" style="text-decoration: none;" >
                                      <i class="fa fa-user-shield fa-2x text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='s'}"></i>
                                      <i class="fa fa-check  text-success" ng-class="{'visibility-visible':taskAssignments.potentialOwnersUsers.AssignType=='s','visibility-hidden':taskAssignments.potentialOwnersUsers.AssignType!='s'}"></i>
                                     <div class="text-primary" ng-class="{'text-success':taskAssignments.potentialOwnersUsers.AssignType=='s'}">Same as task creator</div> 
                                 </a>
                               
                        </div> <!-- same as task creator-->
                      
                     
                    </div>
                    <div class="row margin0" ng-show="taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'" ng-class="{'well-custom bg-white':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}">
                          
                         
                                
                                <h3 class="row margin0 text-primary">How many tasks do you want to create?</h3>
                                
                                <div class="row margin0 text-center">
                                    <div class="col-lg-16">
                                       <a href ng-click="setTaskType('oneinstance')" style="text-decoration: none;" >
                                          <i class="fa fa-2x text-primary" ng-class="{'text-success':task.TaskTypeObject.Name=='oneinstance'}">1</i>
                                          <i class="fa fa-check text-success" ng-class="{'visibility-visible':task.TaskTypeObject.Name=='oneinstance','visibility-hidden':task.TaskTypeObject.Name!='oneinstance'}"></i>
                                          <div class="text-primary" ng-class="{'text-success':task.TaskTypeObject.Name=='oneinstance'}">Only 1</div> 
                                      </a>  
                                            
                                    </div>
                                     <div class="col-lg-16">
                                       <a href ng-click="setTaskType('oneinstanceperuser')" style="text-decoration: none;" >
                                          <i class="fa fa-user fa-2x text-primary" ng-class="{'text-success':task.TaskTypeObject.Name=='oneinstanceperuser'}"></i>
                                          <i class="fa fa-check  text-success" ng-class="{'visibility-visible':task.TaskTypeObject.Name=='oneinstanceperuser','visibility-hidden':task.TaskTypeObject.Name!='oneinstanceperuser'}"></i>
                                          <div class="text-primary" ng-class="{'text-success':task.TaskTypeObject.Name=='oneinstanceperuser'}">1 per user</div> 
                                      </a>  
                                            
                                    </div>
                                     <div class="col-lg-16">
                                       <a href ng-click="setTaskType('oneinstancepergroup')" style="text-decoration: none;" >
                                          <i class="fa fa-users fa-2x text-primary" ng-class="{'text-success':task.TaskTypeObject.Name=='oneinstancepergroup'}"></i>
                                          <i class="fa fa-check  text-success" ng-class="{'visibility-visible':task.TaskTypeObject.Name=='oneinstancepergroup','visibility-hidden':task.TaskTypeObject.Name!='oneinstancepergroup'}"></i>
                                          <div class="text-primary" ng-class="{'text-success':task.TaskTypeObject.Name=='oneinstancepergroup'}">1 per group</div> 
                                      </a>  
                                            
                                    </div>
                              </div>
                         
                    </div> <!-- task types -->
                    <div class="row margin0" ng-show="taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'" ng-class="{'well-custom bg-white':taskAssignments.potentialOwnersUsers.AssignType=='a' || taskAssignments.potentialOwnersUsers.AssignType=='e'}">
                        
                                <div class="col-lg-6">
                                    <a href ng-click="changeOwnerAssignTypeUser()">
                                    <i ng-class="{'fa fa-user-check text-success':taskAssignments.potentialOwnersUsers.AssignType=='a','fa fa-user-times text-danger':taskAssignments.potentialOwnersUsers.AssignType=='e'}" >
                                      &nbsp Users
                                    </i>
                                    </a>
                                    <span class="text-success" ng-if="taskAssignments.potentialOwnersUsers.AssignType=='a'">&nbspSelected users can be the owners and execute this task</span>
                                   
                                    <span class="text-danger" ng-if="taskAssignments.potentialOwnersUsers.AssignType=='e'">&nbspSelected users can NOT be the owners and execute this task</span>
                                    <div kt-select-users-with-scope selected-items="taskAssignments.potentialOwnersUsers.AssigneeList"></div>
                                         
                                        
                                </div>
                                <div class="col-lg-6">
                                     <a href ng-click="changeOwnerAssignTypeGroup()">
                                    <i ng-class="{'fa fa-users text-success':taskAssignments.potentialOwnersGroups.AssignType=='a','fa fa-users text-danger':taskAssignments.potentialOwnersGroups.AssignType=='e'}" >
                                      &nbsp Groups
                                    </i>
                                    </a>
                                    <span class="text-success" ng-if="taskAssignments.potentialOwnersGroups.AssignType=='a'">&nbspSelected groups can be the owners and execute this task</span>
                                   
                                    <span class="text-danger" ng-if="taskAssignments.potentialOwnersGroups.AssignType=='e'">&nbspSelected groups can NOT can be the owners and execute this task</span>
                                    
                                     <div kt-select-groups-with-scope selected-items="taskAssignments.potentialOwnersGroups.AssigneeList"></div>
                                </div>
                                  
                          
                         
                    </div> <!-- users/groups from list -->
                        
                       <div  class="row margin0" ng-class="{'well-custom bg-white':taskAssignments.potentialOwnersUsers.AssignType=='d'}">
                          
                          <div ng-show="taskAssignments.potentialOwnersUsers.AssignType=='d'" class="row">
                                <div class="col-lg-6">
                                   <div kt-codes-dropdown search-text="Select unique user tag" label="" value-length="col-sm-12" code-name="usertags" selected-code-id="taskAssignments.potentialOwnersUsers.UniqueId"></div>
                                </div>
                               
                                  
                          </div>
                         
                    </div> <!-- user from dataset -->
                    
                       
            <button type="button" ng-click="saveTaskAssignments(1)"  class="btn btn-success">
                                <span class="fa fa-save"></span>&nbsp Save assignments</button>
                   <button type="button" ng-click="showHideTaskRoles(3)"  class="btn btn-danger">
                                <span class="fa fa-times"></span>&nbsp Close</button>
            </div>
          
          <!-- show task statuses-->
          <div ng-if="showTaskStatus" class="row margin0">
                    
                    <div class="row margin0 text-left well-custom bg-white">
                         
                                      <span class="text-info fa fa-2x">Status transition &nbsp&nbsp&nbsp</span>
                                      <i ng-if="taskStatusFrom.name!='created'" class="fa fa-2x text-primary" >&nbsp  {{taskStatusFrom.value}}</i>
                                      <i class="fa fa-arrow-right fa-2x text-info" >&nbsp  {{taskStatusTo.value}}</i>
                                     
                    </div><!-- status transition-->
                    
                    <div ng-show="taskStatusTo.name=='created'" class="row margin0 text-left well-custom bg-white">
                         
                         <div>
                                 <a href ng-click="task.AutoInitiate=!task.AutoInitiate" style="text-decoration: none;" >
                                      <i class="fa fa-angle-double-right fa-2x" ng-class="{'text-success':task.AutoInitiate, 'text-danger':!task.AutoInitiate}">&nbsp Auto create task and skip form processing &nbsp </i>
                                      <i class="far fa-check-square fa-2x text-success" ng-if="task.AutoInitiate"></i>
                                      <i class="far fa-square fa-2x text-danger" ng-if="!task.AutoInitiate"></i>
                                     
                                 </a>
                         </div>
                         <div class="margin-top-5">
                                  <a href ng-click="setAutoExecute()" style="text-decoration: none;" >
                                      <i class="fa fa-check fa-2x" ng-class="{'text-success':task.AutoExecute, 'text-danger':!task.AutoExecute}">&nbsp Task is completed after being created  &nbsp </i>
                                      <i class="far fa-check-square fa-2x text-success" ng-if="task.AutoExecute"></i>
                                      <i class="far fa-square fa-2x text-danger" ng-if="!task.AutoExecute"></i>
                                     
                                 </a>
                               
                          </div>
                    </div><!-- auto create and skip form processing-->
                     <div ng-show="taskStatusTo.name=='InProgress'" class="row margin0 text-left well-custom bg-white">
                         
                         <div>
                                 <a href ng-click="task.AutoStart=!task.AutoStart" style="text-decoration: none;" >
                                      <i class="fa fa-angle-double-right fa-2x" ng-class="{'text-success':task.AutoStart, 'text-danger':!task.AutoStart}">&nbsp Automatically start working on the task after claiming &nbsp </i>
                                      <i class="far fa-check-square fa-2x text-success" ng-if="task.AutoStart"></i>
                                      <i class="far fa-square fa-2x text-danger" ng-if="!task.AutoStart"></i>
                                     
                                 </a>
                         </div>
                     </div> <!-- auto start-->
                      <button ng-if="taskStatusTo.name!='claim' && taskStatusTo.name!='completed'" type="button" ng-click="saveTaskParameters()"  class="btn btn-success">
                                <span class="fa fa-save"></span>&nbsp Save parameters </button>
                  
                   <div class="row margin0 text-center well-custom bg-white">
                     <div class="row margin0">
                          <div  class="col-lg-16 text-center well-custom bg-white" >
                                               <a href ng-click="showActions()">
                                               
                                                  <i class="fa fa-cogs text-info" >&nbsp Actions</i>
                                               
                                               </a>
                         </div>
                         <div  ng-if="false" class="col-lg-16 text-center" >
                                               <a href ng-click="showNotifications()">
                                               
                                                  <i class="fa fa-bell text-info" >&nbsp Notifications</i>
                                               
                                               </a>
                        </div>
                       </div>
                     
                                
                           <div ng-if="loadingActions.loading" kt-processing-animation show-msg="true" message="Loading actions..."></div>
                
                      
                      <div ng-show="!loadingActions.loading" class="row margin0 text-left">
                                
                            <div  kt-codes-def-actions status-from="taskStatusFrom" loading-actions="loadingActions" status-to="taskStatusTo" codes="codesList" codes-actions="codesActions" default-code="taskstatuses" task="task" actions-list="Actions" select-code="false" ></div>
                             <button type="button" ng-click="saveTaskStatuses()"  class="btn btn-success">
                                <span class="fa fa-save"></span>&nbsp Save actions </button>
                                <button type="button" ng-click="showHideTaskStatuses(taskStatusFrom.name,taskStatusTo.name,false)"  class="btn btn-danger">
                                <span class="fa fa-times"></span>&nbsp Close</button>
                      </div>
                      
                   </div>
                   
                  
                
            </div>          
        
    </div> <!-- col-lg-24 -->
  
  </div> <!-- row -->