<template>

	<div class="login col-12">
		<div class="text-center my-3">
      
			<img width="150"  src="@/assets/img/Katalyo_name_transparent.png" />
     
		</div>
		<form @submit.prevent="login()" id="loginForm" name="form" class="form-horizontal" role="form" novalidate="true">
			<div v-if="errorMsg" class="row justify-content-md-center">
				<div  class="col-12 p-0">
					<div  class="text-center alert alert-danger">
						<h5>{{errorMsg}}</h5>
					</div>
				</div>
			</div> 
			
			<div class="row justify-content-md-center">

				<div class="col-6 card p-0">
					<div class="card-header text-center">
						<b class="card-title" v-if="!dataLoading"><i class="fa fa-lock mr-1"></i>Please login</b>
						<div v-if="dataLoading" class="text-center">
                    
							<div class="loader"></div>
							<b class="card-title" style="vertical-align:middle;color:#3498db"> Logging in...</b>
						</div>
					</div>
   
				<div class="text-left p-3">
					<div class=""> 
						<div class="form-group" v-bind:class="{ 'text-danger' : usernameInvalid }">
                        
							<label   class="mr-1 mb-2" for="username">Username</label>
                                              
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fa fa-user" id="basic-addon1"></i>
									</div>  
								</div>
								<input type="text" v-on:blur="checkUsernameValidity()" v-model="username" id="username" :disabled="dataLoading" aria-label="Username" aria-describedby="basic-addon1" class="form-control" name="username" placeholder="Username">
                              
                           </div>
                           <span v-show="usernameInvalid" class="text-danger small"> Username is required</span>
                   
                          
						</div>

						<div class="form-group" v-bind:class="{ 'text-danger' : passwordInvalid}">
                       
                            <label class="mr-1 mb-2" for="password">Password</label>
                          
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-key" id="basic-addon2"></i>
									</div>
								</div>
									<input type="password" v-on:blur="checkPasswordValidity()" v-model="password" id="password" :disabled="dataLoading" aria-label="Password" aria-describedby="basic-addon2" class="form-control" name="password" placeholder="Password">
                              
								</div>
								<span v-show="passwordInvalid" class="text-danger small"> Password is required</span>
               
							</div>
							
							<div class="">
                     
								<button type="submit" :disabled="usernameInvalid || passwordInvalid || dataLoading" id="loginBtn" class="btn btn-primary" data-loading-text="<span class='fa fa-hourglass'></span> Logging in...">
								<span class="fa fa-lock"></span> Login

								</button>
                         
                         
							</div>			
              
              
              
						</div>
					</div>
				</div> 
			</div>
     
		</form>
	</div>
</template>

<script>
// @ is an alias to /src

//import Katalyo http module
import KatalyoHttp from '@/api/kt-http.js';
//import Katalyo state manager
import KatalyoStateManager from '@/state_manager/kt-state-manager.js';
//import Vue from 'vue'

//Vue.use(KatalyoHttp);
//Vue.use(KatalyoStateManager);

export default {
	name: 'Login',
	data: function(){
		return{
			errorMsg: '',
			dataLoading: false,
			usernameInvalid:false,
			passwordInvalid:false,
			username:'',
			password:'',
	
		}
  
	},
	methods: {
		checkUsernameValidity: function() {
			if (this.username=='' || this.username==undefined || this.username==null) this.usernameInvalid= true;
			else this.usernameInvalid=false; 
        },
        checkPasswordValidity: function() {
			if (this.password=='' || this.password==undefined || this.password==null) this.passwordInvalid= true;
			else this.passwordInvalid=false;
        },
        login: function() {
			
			var kt_http = KatalyoHttp('http://localhost:8000','POST','/api/login/');
			let login_params = {'username':this.username,'password':this.password};
			var self = this;
			kt_http.send(login_params)
			.then(response => {
				console.log(response);
				let user = response.response.data;
				//create new subject
				let ktState = KatalyoStateManager();
				let ktSubject = ktState.createSubject("currentUser",user);
				ktSubject.setStateChanges = user;
				kt_http.setAuthHeader(user.token);
				//go to home
				self.$router.push('/');
				
			})
			.catch(error => {
				self.errorMsg=error.msg_full;
			});
		

        }
      
    }
}
</script>
