<template>
	<div class="row m-0 form-group mb-1 dataset-item" v-if="fd.ShowField || (formParams.formViewType==1 && formParamsParent.formViewType!=2)" :class="{ 'text-danger' : false }">
                <div :class="colLength[fd.LabelLength-1]">
                     <label  class="marginL5 form-control-label no-border align-middle" :for="fd.Name"> {{fd.Label}}</label>
                    
                </div>
                <div :class="colLength[fd.ValueLength-1]"  v-if="!fd.ReadOnly">
                    <div class="input-group">
                        <input type="time" class="form-control rounded-0" min="fd.Max" max="fd.Min" step="fd.Step" v-model="formData[0]['Field'+fd.ItemId]" :name="getName" :placeholder="fd.ParametersLang.format1.name" />
                   
                  </div>
                  <p v-show="false" class="help-block">{{fd.ErrorMsg}}</p>
            
                   </div>	
                <div  v-if="fd.ReadOnly && formData" :class="colLength[fd.ValueLength-1]">
                  <div class="form-control mb-1" v-bind="formData[0]['Field'+fd.ItemId]"></div>
                    
                </div>
                
                <div class="element-properties-btns bg-primary rounded shadow" v-if="formParams.formViewType==1 && formParamsParent.formViewType!=2">
                  <button type="button" class="btn btn-primary btn-xs prop-btn"  title="sort"><i class="element-drag-handle fa fa-grip-vertical"></i></button>
                  <button type="button" class="btn btn-primary btn-xs prop-btn" title="Field properties" v-on:click="showProperties($event)"><i class="fa fa-cog"></i> </button>		
                        
                </div>
                
    </div>

    
</template>
<script src="./kt-time.js" />
<!--<style src="./kt-time.css"></style>-->