<template>

<div class="component-library">
 
  <div class="helper" style="opacity: 0.5;">
    <h6 class="mb-1">Dataset toolbox</h6>
    <p class="small text-muted mb-4">To build dataset drag &amp; drop components from toolbox</p>
  </div>
		
  <div id="dataset-toolbox" class="list-component-library mb-4">
     
      <div v-for="toolboxItem in toolboxItems" :key="toolboxItem.id" title="Drag me" class="item element-drag-handle" v-hide="toolboxItem.HideFromToolbox">
       									
            <span  class="element-drag-handle icon-muted" :class="toolboxItem.Facss"></span> <span class="element-drag-handle mx-1">{{toolboxItem.Label}}</span>
            <i class="task-element-drag-handle handler fas fa-grip-vertical text-dark mr-1" style="opacity:0.2"></i>
      </div>
       
  </div>
	
</div>
    
</template>
<script src="./kt-toolbox.js" />
<!--<style src="./kt-toolbox.css"></style>-->