<div class="p-1">    
       
          <div class="expand-property-panel tag" data-toggle="collapse" href="#mainPropertyPanel" role="button" aria-expanded="true" aria-controls="mainPropertyPanel">
			<span class="col p-0">Main time properties </span>
                  
                  	<i class="fa fa-cog fa-lg"></i>
	</div>
	  
            
	 <div class="mb-4 collapse show" id="mainPropertyPanel">
	      <div>
			<label class="label-xs text-muted"><b>ID:</b> {{fd.ItemId}}</label>
			<label class="label-xs text-muted"><b>Presentation ID:</b> {{fd.PresentationId}}</label>
			<label class="label-xs text-muted"><b>Type:</b> {{fd.ElementType}}</label>
          </div>
    	
	 <label class="label-xs text-muted">Label length </label> <input  type="number" min="1" max="24"   ng-model="fd.LabelLength" class="form-control form-control-xs" />
           <label class="label-xs text-muted">Value length </label> <input  type="number" min="1" max="24"  ng-model="fd.ValueLength" class="form-control form-control-xs" />
	      
	<label class="label-xs text-muted">Label </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Label"  />
          <label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
        <br>
         <ui-select ng-model="fd.ParametersLang.format1" sizexs="true" name="timeFormatList" reset-search-input="true" > 
                      <ui-select-match allow-clear="true" class="ui-select-match" placeholder="Search or select time format...">
                        <span class="p-0">{{$select.selected.name}}   
                        </span>
                      </ui-select-match>
                      <ui-select-choices class="ui-select-choices" repeat="tf in (fd.timeFormatList | filter: { name: $select.search }) track by tf.id" refresh="refreshResults($select)" refresh-delay="0">
                        <span>{{tf.name}}</span>
                      </ui-select-choices>
                  </ui-select>
              <label class="label-xs text-muted"><b>Selected format:</b> {{fd.ParametersLang.format1.name}} </label>
           
	<div class="custom-control custom-checkbox">
								
			<input type="checkbox" class="custom-control-input" id="cbRequired" ng-model="fd.Required"> 
			<label class="custom-control-label label-xs" for="cbRequired">Required</label>
								 
	</div>  
            
</div>
          	 <div kt-date-extended-properties></div>   
    
</div>   