<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{% block layout_style %}
<style> 

@page { size: a4 landscape; margin: 2cm; }

@media print {
    
    .printme, .printme * {
        visibility: visible;
    }
    .printme {
        position: absolute;
        left: 0;
        top: 0;
    }
    .printme, .printme:last-child {
        page-break-after: avoid;
    }

    .display-none-on, .display-none-on * {
        display: none !important;
    }
    html, body {
        height: auto;
        font-size: 8pt; /* changing to 10pt has no impact */
    }
 </style>
{% endblock %}

<html>
 <head>
   <title>Test</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>
   <h1>HETA report</h1>
   <table>
     <thead>
       <tr>
         {% for column in columns %}
         <th>{{ column.displayName }}</th>
         {% endfor %} 
       </tr>
     </thead>
     <tbody>
       {% for record in datalist %}
         <tr> 
            {% for col in record %}       
                <td>{{ col }}</td>
            {% endfor %}    
         </tr>
       {% endfor %}    
     </tbody>
   </table>
 </body>
</html>