.gu-mirror {
  position: fixed !important;
  display: block;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  list-style: none;
  border:2px dashed gray;
  background-color: #fefefe;
  padding:0.25rem;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {

 border: 2px dashed orange;
 background-color:#efefef;
 margin:0.75rem;
 color: #a1a1a1; 
 display: block;
/* position: relative;*/
 width: 100%;
 padding: 0.25rem;
 font-size: xx-small;

}