﻿/* The CSS that's required to position the elements */	   

 
html{
 /*position: absolute;*/
  position: relative;
  min-height: 100%;

}

body{
   /*background-color: #efefef;
      margin: 0;
      padding:0;*/
      padding-top:60px;
     background-color:  #f8faff; 
     /* background-color: #95c8d8  #c6d9ec; */
     height: 100%;
      overflow-x: hidden;
      margin-bottom: 50px;
   }

#header
{
 position: relative; 
 /*height: 5%;
 padding:2px;*/
 width: 100%;
 height:30px;
 background-color: #5f5f5f;
/* border-bottom: 3px solid Green;*/
color:  white;
}
#headerdetails
{
 position: relative; 
 /*height: 5%;*/
 padding:2px;
 width: 100%;
 background-color: #dedede;
/* border-bottom: 3px solid Green;*/
display:none;
color:#4D4DB8;
}
.navbarsize{
  border:1px solid red;
}
.navbarContainer
{
  
}
#contentHolder            	  
{
  top:5px;
  position: relative;
}

.layout            	  
{
  top:5px;
  margin-bottom:10px;
}

@media (max-width: 768px) {
    #contentHolder {
      margin-top: 240px;
    }
  }
.displayNone {
  display:none;
}
.min10
{
  position:relative;
  height:100%;
  min-height: 40px;
   /*padding:20px;*/
  border: 1px dashed gray;
  
}

.max300
{
  /*position:relative;
  height:100%;*/
  max-height: 300px;
 overflow-y: auto;
  
}
.max200
{
  /*position:relative;
  height:100%;*/
  max-height: 200px;
 overflow-y: auto;
  
}
.placeholder-drag-drop{
  /*border: 3px dotted #000 !important;*/
  /*margin-bottom:10px;*/
  /*height:20px;*/
  }

.myGrid {
  /*width: 98%;
    
   height: 250px;
   position:relative;*/
   
     
 height:450px;
/*width:100%;
 margin-right:15px !important;*/
}

@media (min-width: 1024px) {
  .my-grid {
    width: 772px;
  }
}

@media (min-width: 1280px) {
  .my-grid {
    width: 972px;
  }
}

@media (min-height: 768px) {
  .my-grid {
    height: 480px;
  }
}

@media (min-height: 900px) {
  .my-grid {
    height: 650px;
  }
}

.myGrid2  {
  height: 110px;
  margin-right: 0px;
  margin-left: 0px;
 background-color: #fff;
}

.myGrid2CellClass .ui-grid-cell-contents{
 background-color: #fff;
}


.myGridSmall {
  /*width: 98%;
    
   height: 250px;*/
   
    
 height:300px;
 
 /* position:relative;
width:100%;*/
}
.padding0{
  
  padding:0 !important
  
}
.padding5{
  
  padding:5px !important
  
}
.margin0{
  margin:0 !important
  
}
.margL0 { margin-left:0 !important }
.padL0 { padding-left:0 !important }
.padR0 { padding-right:0 !important }
.padding5{
  
  padding:5px !important
  
}

.noHorizontalPadding
{ padding-left:0 !important ;
padding-right:0 !important ;
 /*padding-top:2px;
 padding-bottom:1px;*/
/*margin-left: -40px !important;*/
}
ul.form-container
{
 padding: 0 !important;
  /*margin-left: -40px !important;*/
  
}
.marginL5
{
  
margin-left: 5px !important;
  
}
.inline-block-div
{
  
display:inline-block;
margin-right:10px;
margin-left:10px;
vertical-align: text-top;
  
}
.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
}
.sort-box
{
 /* margin-right:10px !important;
  background-color: #F8F8F8;*/
  padding:5px !important;
 /* padding-right: 15px !important;*/
  }
.gridRow{
    /*background-color:#f1f1f1;
    border: 5px solid white;
    margin-left:1px;
    margin-right:15px;*/
}
  
.gridColumn{
    background-color:yellow;
    /*border: 5px solid white;
    margin-left:5px;
    margin-right:10px;*/
}
  
.no-border {
    border: none !important;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    background: none;
    margin: 0 !important;
}
.loadingGif
{
 
  width:55px;
  height:55px;
  background-image: url('/static/loading.gif');
  
}
.processingContent{
   background-color: #fff;
  /* padding-top:5px;
   padding-bottom:5px;*/
   box-shadow: 0 0 10px 10px #444;/*#9CC1E6;#FFDEAD;*/
}
.show-border
{
  border:5px dotted green;
  background-color: green;
  color:  green;
  /*min-height: 50px;*/
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.6;
}
.grid-column-border
{
  border:2px dotted Gray;
  /*margin: 5px !important;*/
}

#processingDialog
{

}
.side-menu
{
  padding-right: 0 !important;
  margin-right: 0 !important;
  padding-left:5px;
  margin-top:5px;
  
}
.toolbox
{
  max-width: 93%;
}
#content            	  
{
 padding:5px !important;
 padding-left:0px !important;
 margin-bottom:50px;
  /*min-height:86vh;*/
 /*background-color:#6daac6;#b8d8d8;*/
}

.contentR         	  
{
 background-color:#6daac6;/*#b8d8d8;*/
}
.padding-0{
   padding-right: 0 !important;
   margin-right: 0 !important;
   padding-left:10px;
  
}

.padding-3{
   padding:3px;
  padding-left:5px
}
.footer
{
 /*position: relative;
 height:5%;border-top: 3px solid gray;  */
position: absolute;
min-height:50px;
bottom: 0;
/*margin:5px;
background-color:#34495E;
color:white;*/
background-color:#eef1fa;
width: 100%;
}


.boxshadow {
    position: relative;
    box-shadow: 1px 2px 3px #888888;
    /*padding: 10px;*/
  /*  background: white;*/
  margin-bottom: 5px;
 /* margin-right:15px;*/
  background-color: #fefefe;
}

.boxshadow img {
    /*width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;*/
}

.boxshadow::after {
   /* content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    width: 70%; 
    left: 15%;  /*one half of the remaining 30% 
    height: 100px;
    bottom: 0;*/
}

.well-custom
{
  margin-bottom:5px !important;
  padding:5px !important;
  border-color:#c1c1c1 !important;
  border-radius: 0 !important;
}

.well-custom-flex
{
  margin-bottom:5px !important;
  padding:5px !important;
  border-color:#c1c1c1 !important;
  border-radius: 0 !important;
  display:flexbox;
  
}
.well-custom-no-lock-padding
{
  margin-bottom:5px !important;
  padding:20px;
  border-color:#c1c1c1 !important;
  border-radius: 0 !important;
}
.margin-top-5
{
   margin-top:5px !important;
}
.ui-grid-row{
clear: both;
}
.noPadTopBottom
{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.checkbox-zoom-large {
    zoom: 1.75;
}

/* The starting CSS styles for the enter animation */
.fade {
  transition:0.1s linear all;
  opacity:1;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-hide {
  opacity:0;
}


.exampleRow {
  /*  display: flex;
    flex-direction: row;  MIGOR VIDJETI DA LI PRIVRMENO*/
  }

.exampleCell {
    flex-grow: 1;
  }

.exampleRow, .exampleCell {
    margin: 5px;
    padding: 5px;
    background-color: rgba(11, 11, 11, 0.3);
    border: 1px solid; 
    border-radius: 3px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
.fade {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}
.fade.ng-hide {
    opacity:0;
}
.exampleCell2 {
    margin: 5px;
    padding: 5px;
    color: white;
    /* background-color: rgba(220, 5, 50, 0.7); */
    background-color: rgba(50, 50, 150, 0.7);
    border: 1px solid; 
    border-radius: 5px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
.z-last{
padding-left:15px;
}
.icon-list .fa-hover a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #222;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}

a.linkIcon {
   padding-top:15px;
   border:1px solid transparent;
}

a.linkIcon:hover {
   /* background-color: #1d9d74;
    color: #fff;*/
   background-color: #f1f1f1;
   border:1px solid #e1e1e1;
   color:orange;
    text-decoration: none;
    cursor: pointer;
}

.spinner-std {
  width: 100px;
  height: 100px;

  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 50px);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9c9;
  border: solid 3px #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

form.well {
  position: relative;
}

.overlay {
  opacity: .75;
  background-color: #000;
  width: calc(100% + 10px);
  height: calc(100% + 22px);
  position: absolute;
  z-index: 5;
  margin: -20px -20px;
  border-radius: 3px;
}

.login-progress {
  text-align: center;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% - 45px);
  color: #fff;
  z-index: 10;
}

.active-edit-sidemenu{
  background-color: #F7D358;
 /*  background-color:#2980B9;*/
  color: #fff !important;
  
}


.sidebar-nav .nav li a:hover {
    background-color: #428bca !important;
    color: white !important;
  }

.activeEditMode, .inactiveEditMode {font-size:40px;cursor:pointer;}
.activeEditMode, .inactiveEditMode {font-size:40px;cursor:pointer;}
i.activeEditMode { color: #5cb85c}
i.inactiveEditMode {color: #d9534f}

img.centered{
 display: block;
    margin-left: auto;
    margin-right: auto  
  
}
.visibility-visible
{
  visibility: visible;
}
.visibility-hidden
{
  visibility: hidden;
}

.row-eq-height {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
 }
 
.arrow-triangle {
    border-right: 2px solid; 
    border-bottom: 2px solid;
    height: 10px;
    width: 10px;
    transform: rotate(-45deg);
    margin:0 auto;
}
.arrow-right
{
   transform: rotate(-45deg);
   top:-6px;
   position: relative;
}
.arrow-left
{
   transform: rotate(135deg);
   top:-4px;
   position:relative;
}
.arrow-up
{
   transform: rotate(-135deg);
}
.arrow-down
{
   transform: rotate(45deg);
  
}
.arrow-line-up{
border:1px solid;
width: 0;
margin: 0 auto;
min-height:30px;
margin: 0 auto;
top:-10px;
position: relative;

}
.arrow-line-down{
border:1px solid;
width: 0;
min-height:30px;
margin: 0 auto;
bottom:-10px;
position: relative;
}
.arrow-line-up-down{
border:1px solid;
width: 0;
min-height:30px;
margin: 0 auto;
}
.arrow-line-left-right{
border:1px solid;
height: 0;
top:15%;
position: relative;
}
.bg-thistle{
 background-color: #eaeaea;/*#F3E2A9; #fffeee; #d5eabb;#E6E6FA; */
  
}
.bg-purple-custom{
background-color:  #210B61 ;
  
}
.bg-head-custom{
background-color: #ddefd8; /*#ddd888;*/
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  
  top:0px;
  margin-top:67px;
  width: 100%;
  z-index:600;
  border:2px solid gray;
  max-height:500px;
  overflow-y: auto;
    
}

.properties-opened {
 position: relative;
 max-height:50%;
 overflow-y:scroll;
 top:50px;
 width:98%;
}
.sticky-properties-bottom {
 position: fixed;
   /* width: 100%;*/
    z-index:500;
    overflow: scroll;
    max-height:80%;
    /*width:inherit;*/
    max-width:50%;
    /*left:0;
  
  top:20px;
 bottom:0px;
  margin-top:40px;
*/  
}

.prop-btn {
     /*  display: none;*/
    visibility: hidden;
}

.dataset-item:hover .prop-btn, .prop-btn:hover {
   /*display: inline-block;*/
      visibility: visible;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}