   <div class="card my-1">
      <div class="text-center"><div class="h4 my-2">Enter new code</div></div>
      
         <div class="p-1 my-2"  style="position: absolute;">
                    <a class="text-primary" href="" title="{{returnState.Label}}" ng-click="returnToPreviousPage()">
                    <i class="fas fa-chevron-left mr-2"></i>
						{{returnState.Label}}
                    </a>
        </div>
        
        
  </div>
  
    <div class="card p-2">
      <div class="row p-0">
         <div class="col-lg-10 p-4" ng-class="{'col-lg-6':CodeHead.id>0}">
            <form ng-submit="saveNewCode(form.$valid)" id="form" name="form" class="needs-validation form-horizontal" role="form" novalidate>
                     <div class="form-group" ng-if="CodeHead.id>0">
                          <label class="" for="codeName">Code id</label>
                          
                              <input type="text" ng-model="CodeHead.id" ng-disabled="true" class="form-control" id="codeId" name="codeId" placeholder="Code id" />
                             
                          
                      </div>
                     
                      <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.codeName.$touched) && form.codeName.$invalid }">
                          <label class=" for="codeName" ng-class="{ 'text-danger' : (form.$submitted || form.codeName.$touched) && form.codeName.$invalid}">Code name</label>
                          
                              <input type="text" ng-model="CodeHead.CodeName" ng-required="true" class="form-control" id="codeName" name="codeName" placeholder="Code name" />
                              <p ng-show="(form.$submitted || form.codeName.$touched) && form.codeName.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.codeName.$touched) && form.codeName.$invalid}">Enter code name</p>
                         
                      </div>
                         <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.CodeHeadName.$touched) && form.CodeHeadName.$invalid }">
                          <label class="" for="codeHeadName" ng-class="{'text-danger':(form.$submitted || form.CodeHeadName.$touched) && form.CodeHeadName.$invalid}">Code hashtag</label>
                          
                             <input type="text" ng-model="CodeHead.CodeHeadName" ng-required="false" class="form-control" id="codeHeadName" name="codeHeadName" placeholder="Code unique identifier" />
                             <p ng-show="(form.$submitted || form.CodeHeadName.$touched) && form.CodeHeadName.$invalid" ng-class="{'d-block invalid-feedback':(form.$submitted || form.CodeHeadName.$touched) && form.CodeHeadName.$invalid}">Enter unique hashtag (any text up to 255 characters)</p>
                         
                      </div>            
                        <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.codeDescription.$touched || form.codeDescription.$dirty) && form.codeDescription.$invalid,'is-valid' : (form.$submitted || form.codeDescription.$touched || form.codeDescription.$dirty) && form.codeDescription.$valid}">
                          <label class="" for="codeDescription" ng-class="{'text-danger':(form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid}">Code description</label>
                          <div class="">
                              <textarea ng-model="CodeHead.Description" name="codeDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                              <p ng-show="(form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.codeDescription.$touched) && form.codeDescription.$invalid}">Enter code description(min 20 chars)</p>
                          </div>
                      </div>
                        
                        <div ng-if="codeTypeListDownloaded" class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.codeType.$touched || form.codeType.$dirty) && form.codeType.$invalid,'is-valid' : (form.$submitted || form.codeType.$touched || form.codeType.$dirty) && form.codeType.$valid}">
                        
                           <label class="" for="codeType" ng-class="{'text-danger':(form.$submitted || form.codeType.$touched) && form.codeType.$invalid}">Code type</label>
                           
                              <kt-dropdown-standard ng-model="CodeHead.CodeType" is-multiple="false" name="codeType" required="true" dropdown-items="codeTypeList" dropdown-id="'codeType'" parent-form-id="'form'" search-text="'Search or select code type'"></kt-dropdown-standard>
                              <p ng-show="(form.$submitted || form.codeType.$touched) && form.codeType.$invalid" ng-class="{'d-block invalid-feedback':(form.$submitted || form.codeType.$touched) && form.codeType.$invalid}">Select code type</p>
                           
                        </div>
                        
                       <!-- 
                        <div ng-if="codeLanguageListDownloaded" lass="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.lang.$touched || form.lang.$dirty) && form.codeType.$invalid,'is-valid' : (form.$submitted || form.codeType.$touched || form.codeType.$dirty) && form.codeType.$valid}">
                        
                           <label class="" for="lang" ng-class="{'text-danger':(form.$submitted || form.lang.$touched) && form.lang.$invalid}">Language</label>
                       
                           <kt-dropdown-standard ng-model="CodeHead.CodesHeadLang[0].Lang" is-multiple="false" name="lang" required="true" dropdown-items="codeLanguageList" dropdown-id="'lang'" parent-form-id="'form'" search-text="'Search or select lang'"></kt-dropdown-standard>
                           <p ng-show="(form.$submitted || form.lang.$touched) && form.lang.$invalid" ng-class="{'d-block invalid-feedback':(form.$submitted || form.lang.$touched) && form.lang.$invalid}">Select language</p>
                        </div>-->
                        
                        
                       <div class="form-group">
                          <label class="" for="active">Active
                        
                            <input type="checkbox" class="ml-2 my-2" style="transform: scale(1.4)" ng-model="CodeHead.Active" name="active" ng-required="false"  />
                        </label>
                          
                      </div> 
                      
                       <div class="form-group">
                          <label class="" for="userGeneratedId">User generated id
                        
                            <input type="checkbox" class="ml-2 my-2" style="transform: scale(1.4)" ng-model="CodeHead.UserGeneratedId" name="userGeneratedId" ng-required="false"  />
                        </label>
                          
                      </div> 
                      
                      
                      <div  class="control-group mb-2"  ng-hide="CodeHead.id>0">
                             
                                  <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-outline-success">
                                      <span class='fa fa-save mr-2'></span> Save code</button>
                                            

                       </div>
      
        </form>
      </div>
      
       <div class="col-10">
         <div kt-codes-detail-edit code-id="CodeHead.id"  class="w-100"></div>
      </div>
      
      
     <!-- <div class="">
         <div kt-codes-detail-list code-id="CodeHead.id" code-changed="setDirectiveFn(theDirFn)" class="w-100"></div>
      </div>-->
   </div>
</div>      