<div>
  
  <div class="panel panel-default">
    <div class="panel-heading "><span class="fa fa-bars">&nbsp Menu</span></div>
     <div class="">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="activeLinkSidemenu('app.menu.codes.list')"><a ui-sref="app.menu.codes.list" ><i class="fa fa-university">&nbsp; Codes</i></a></li>
            <li ng-class="activeLinkSidemenu('app.menu.codes.new')"><a ui-sref="app.menu.codes.new" ><i class="fa fa-plus">&nbsp; New code</i></a></li>
          
        </ul>
     </div>

</div>



 
 