

 <form id="codesData.html" ng-submit="ResourceSearch(1)"  name="form" class="form-horizontal" role="form" novalidate>

    <div class="card mt-3"> 

     <div class="">
                       
         
         <div class="row mx-2">
            <div class="col-lg-24  text-center py-2 border-bottom"><span class="h4"> Codes </span></div>
            
            <div class="col-lg-24 mt-4">
                       <div class="form-group"  ng-class="{ 'has-error' : (form.$submitted || form.Name.$touched) && form.Name.$invalid }">
                                <div class="row" style=" margin-bottom: -10px;">
                                      
                                      <!--   SEARCH TYPE - TODO
                                      <div class="col-lg-8 pl-0">  
                                          <label for="resourceType">Resource type</label>
                                          <kt-dropdown-multiple ng-if="resourceTypeList.length>0" ng-model="resource.ResourceType" selected-items="resource.ResourceType" name="resourceTypes" required="false" dropdown-items="resourceTypeList" dropdown-id="'resourceType'" parent-form-id="'form'" search-text="'Search or select resource type...'"></kt-dropdown-multiple>   
                                       </div>-->
                                       <div class="col-lg-16  d-flex align-items-center"> 
                                       
                                       <div class=" w-100">
                                           <div>
                                             <label class="mb-1" for="resourceName">Code name</label>
                                             </div>
                                           
                                           <div class="ostalo row align-items-center">
                                           
                                                <div class="col-16">
                                                   <input type="text" ng-model="resource.Name" ng-required="false" class="form-control p-1" id="Name" name="Name" placeholder="Enter Code name" />
                                                   <p ng-show="(form.$submitted || form.Name.$touched) && form.Name.$invalid" class="help-block">Enter Code name</p>
                                                </div>
                                      
                                       <div class="mx-1">
                                              <button type="submit" class="btn btn-outline-info" >
                                                    <span class='fa fa-search mr-2'></span> 
                                                    Search
                                               </button>
                                                   </div>
                                                   
                                               <div class="mx-1">   
                                              <button type="button" ng-click="gotoMessageDef()" class="btn btn-info" >
                                                  Create New
                                               </button>
                                               </div>
                                               
                                          </div>
                                      
                                       </div>
                                       </div>
                                      
                                       
                                </div>
                                        
                        </div>
                        
                        
                        <!--  REMEBER SEARCH - TODO
                          <div class="col-auto p-0 my-auto" > Remember search </div> 
                          <div class="my-1">
                                      <label class="switch switch-green">
                                                <input  ng-change="rememberSearchFn()" ng-model="pageState.rememberSearch" type="checkbox" ng-true-value="true" ng-false-value="false"  class="switch-input">
                                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                                <span class="switch-handle"></span>
                                      </label>
                           </div>
                           
                           -->
                           
                           
                           
                        <div ng-if="advancedSearch" class="row search-resources m-0">
                           
                            <div class="col-12 col-md-24 p-0">
                       
                                   <div class=" row form-group" ng-class="{ 'has-error' : (form.$submitted || form.Subject.$touched) && form.Subject.$invalid }">
                                       <label class=" col-lg-12" for="Subject">Subject</label>
                                       <div class="col-lg-24">
                                           <input type="text" ng-model="resource.Subject" ng-required="false" class="form-control" id="Subject" name="Subject" placeholder="{{ resource.ResourceDefId.ResourceType.name}} subject" />
                                           <p ng-show="(form.$submitted || form.Subject.$touched) && form.Subject.$invalid" class="help-block">Enter {{ resource.ResourceDefId.ResourceType.name}} subject</p>
                                       </div>
                                   </div>                
                       
                                   <div class="row form-group" ng-class="{ 'has-error' : (form.$submitted || form.Description.$touched) && form.Description.$invalid }">
                                       <label class="col-lg-12" for="Description">Description</label>
                                       <div class="col-lg-24">
                                           <textarea ng-model="resource.Description" name="Description" ng-required="false" ng-min-length="20" class="form-control"></textarea>
                                           <p ng-show="(form.$submitted || form.Description.$touched) && form.Description.$invalid" class="help-block">Enter {{ resource.ResourceDefId.ResourceType.name}} description(min 20 chars).</p>
                   
                                       </div>
                                   </div>
                         
                            </div>   
                           
                        </div> 
                        
                        <div class="row m-0"  ng-class="{ 'has-error' : (form.$submitted || form.resourceType.$touched) && form.resourceType.$invalid }">
                           <div  class="col">
                                               
 
                           </div>
                 
                        </div>
                          
            
           
        </div>

        </div>
      </div>
      
      
        
      <div class="mt-4 p-2 text-primary text-center" ng-if="paginationOptions.totalItemCount==0 && firstQuery && !resourceLoading" > 
        <i class="fa fa-folder-open fa-6x"></i><br>
        <span class="h3">No codes for your search</span>
    </div>   
      
      
      <!--  <div class="mt-1" style="min-height:495px" ng-show="resourceLoading || resourceSelected || paginationOptions.totalItemCount>0">-->
      <div class="mt-3" style="min-height:195px" ng-show="!firstQuery || resourceTableData.length>0">
             
               <div class="" ng-show="resourceTableData.length>0">
                     <div ng-if="false">
                         <button type="button" ng-click="gotoState()" class="btn btn-sm btn-outline-success" ng-disabled="!resourceSelected">
                         <span class="fa fa-{{resourceIconSelected}}"></span> Edit {{selectedResourceType}} definition</button>
                     </div>
               </div>
              
               <div>
                    <div class="row " ng-if="resourceLoading" ng-class="{'processing-overlay':resourceLoading}" kt-processing-animation show-msg="true" show-as-card="true" message="Loading codes..."></div>
                     
         <!--  <div class="table-katalyo-wrapper pt-0"   ng-if="searchInitiated"  kt-smart-table will be refreshed based on Search query-->
                    <div class="table-katalyo-wrapper pt-0" 
                     ng-if="searchInitiated" 
                        show-action-buttons="showTableActions"  
                        kt-smart-table 
                        kt-refresh-data="getResourceDef(pageNumber,pageSize)" 
                        kt-process-action="processTableAction(item,actionId)" 
                        items-on-page="results.pageSize" 
                        initial-page="currentPage" 
                        row-selected-change="rowSelectionChanged(item)">
                    </div>
               </div>
        
      </div> 

</div>
</form>
 <div class="col-24 p-1 m-1"><span class="h5"> </span></div>


<div class=" mt-2">
  
      <!--   <div id="grid1" ui-grid="gridOptions1" ui-grid-selection ui-grid-resize-columns ui-grid-grouping class="mt-2 myGrid"></div>-->
    
         <div kt-codes-detail-list class=""></div>
             
</div>