<div class="card mt-1 p-2">
      <form ng-submit="saveOrganisation(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

            <div class="row m-0">
				<div class="col-lg-24 p-2 text-center border-bottom mb-4"><span class="h5">Community info</span></div>
				
				<form ng-submit="saveUser(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>
					<div class="col-lg-24">
					
						<div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid }">
							<label ng-class="{'text-danger':(form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid}" for="organisationName">Community name</label>
							<div class="">
								<input type="text" ng-model="organisation.Name" ng-required="true" class="form-control" id="organisationName" name="organisationName" placeholder="Organisation name" />
								<p ng-if="(form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid}">Enter community name</p>
							</div>
						</div>
									  
						  <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid }">
							<label ng-class="{ 'text-danger' : (form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid }" for="organisationDescription">Community description</label>
							<div class="">
								<textarea ng-model="organisation.Description" name="organisationDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
								<p ng-if="(form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid}">Enter community description(min 20 chars).</p>
		
							</div>
						</div>
						
						<div ng-if="false" class="row m-0 my-1">
							
							
								<div class="col-24 p-0">
									<label class="mb-1">Organisation type</label>
								
								</div>	
									<div class="btn-group" role="group" aria-label="Menu type">
										<button type="button" ng-click="organisation.OrgType='ForProfit'" ng-class="{'active':organisation.OrgType=='ForProfit'}" class="btn btn-sm btn-outline-primary">
											For profit
										</button>
										<button type="button" ng-click="organisation.OrgType='NonProfit'" ng-class="{'active':organisation.OrgType=='NonProfit'}" class="btn btn-sm btn-outline-primary">
											Non profit
										</button>
										
									</div>
									   
							
						 </div>
						  
						    
						
							
							
								
							  <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.status.$touched) && form.status.$invalid }">
									<label  class="form-control-label" for="status">
										Active
										<input type="checkbox" class="my-2 ml-2" style="transform: scale(1.4);" name="status" ng-model="organisation.Active" ng-checked="organisation.Active" />
									</label>
			
							  </div>
				</div>
				
				
				<div class="col-lg-24 m-0 my-1">
					
							<div class=""> 
					  
									<button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-outline-success">
										<span class="fa fa-save mr-2"></span> Save community info</button>
							</div>
				</div>
			</div>  
	</form>
</div>