 <form ng-submit="saveNavbar(form.$valid)"
      id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

                <div class="text-center"><h3>New navbar</h3></div>
                        <hr>
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.name.$touched) && form.name.$invalid }">
                    <label class=" col-sm-2" for="name">Name</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="menu.name" ng-required="true" class="form-control" id="name" name="name" placeholder="Name" />
                        <p ng-show="(form.$submitted || form.name.$touched) && form.name.$invalid" class="help-block">Enter name</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.target.$touched) && form.target.$invalid }">
                    <label class=" col-sm-2" for="target">Target</label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="menu.target" ng-required="true" class="form-control" name="target" placeholder="Target" />
                        <p ng-show="(form.$submitted || form.target.$touched) && form.target.$invalid" class="help-block">Enter target</p>
                    </div>
                </div>              
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid }">
                    <label class="col-sm-2" for="organisationDescription">Organisation description</label>
                    <div class="col-sm-6">
                        <textarea ng-model="organisation.organisationDescription" name="organisationDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
                        <p ng-show="(form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid" class="help-block">Enter organisation description(min 20 chars).</p>

                    </div>
                </div>
                
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.organisationType.$touched) && form.organisationType.$invalid }">
                    <label class="col-sm-2" for="organisationType">Organisation type</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="organisation.OrganisationType" ng-disabled="disabled" name="organisationType" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select organisation type...">
                            <span>{{$select.selected.name}}
                              <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="orgType in (organisationTypeList | filter: { name: $select.search }) track by orgType.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{orgType.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.organisationType.$touched) && form.organisationType.$invalid" class="help-block">Select organisation type</p>
                    </div>
                </div>
                  
                   
                  <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.country.$touched) && form.country.$invalid }">
                    <label class="col-sm-2" for="country">Country</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="organisation.Country" ng-disabled="disabled" name="country" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select country...">
                            <span>{{$select.selected.name}}
                              <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="country in (countryList | filter: { name: $select.search }) track by country.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{country.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.country.$touched) && form.country.$invalid" class="help-block">Select country</p>
                    </div>
                </div>
              <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.industry.$touched) && form.industry.$invalid }">
                    <label class="col-sm-2" for="industry">Industry</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="organisation.Industry" ng-disabled="disabled" name="industry" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select industry...">
                            <span>{{$select.selected.name}}
                              <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="industry in (industryList | filter: { name: $select.search }) track by industry.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{industry.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.industry.$touched) && form.industry.$invalid" class="help-block">Select industry</p>
                    </div>
                </div>     
              <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.status.$touched) && form.status.$invalid }">
                    <label class="col-sm-2" for="status">Status</label>
                    <div class="col-sm-6">
                       <ui-select ng-model="organisation.Status" ng-disabled="disabled" name="status" ng-required="true" reset-search-input="false" >
                          <ui-select-match class="ui-select-match" placeholder="Search or select status...">
                            <span>{{$select.selected.name}}
                              <a class="btn btn-sm btn-link" ng-click="clear($event, $select)"><i class="fa fa-times"></i></a>
                            </span>
                          </ui-select-match>
                        <ui-select-choices class="ui-select-choices" repeat="status in (statusList | filter: { name: $select.search }) track by status.id" refresh="refreshResults($select)" refresh-delay="0">
                         <span>{{status.name}}</span>
                        </ui-select-choices>
                      </ui-select>
                        <p ng-show="(form.$submitted || form.status.$touched) && form.status.$invalid" class="help-block">Select status</p>
                    </div>
                </div>

                  
                <div  class="control-group">
                       
                            <button type="submit" id="clearBtn" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save navbar</button>
                                      
                            <br><br>   
                 </div>
</form>