<div  class="card mt-1">
    <div class="row mx-2">
		<div class="col-lg-24 p-2 text-center border-bottom py-3 mb-4"><span class="h5">Groups</span></div>
		
		 <div class="col-lg-24 mb-4">
			 <button ng-hide="isShowNewGroup" type="button" class="btn btn-sm btn-outline-primary" ng-click="showNewGroup(form)">
				 <i class='fa fa-plus'></i><span class="ml-1"> Create new group</span>
			 </button>
		 </div>
		 <div ng-if="isShowNewGroup && (!selectedGroup)" class="col-lg-24 shadow-sm p-2 mb-2 border">
			 <form ng-submit="saveGroup(newGroup,formNew.$valid)" id="saveForm" name="formNew" class="form-horizontal" role="form" novalidate>
		 
			 <div class="h5 text-center border-bottom my-auto p-1">New group</div>
			 <div class="row m-0 py-2">      
			  
			   <div class="col-12">
			    
			    <!-- <div class="form-group" ng-class="{ 'has-error' : (formNew.$submitted || formNew.groupId.$touched) && formNew.groupId.$invalid }">
					 <label class=" col-lg-8" for="groupId">Group ID</label>
					 <div class="col-lg-8">
						<input type="text" ng-model="newGroup.GroupId.id" ng-required="false" disabled="true" class="form-control" id="groupId" name="groupId" placeholder="Group ID" />
						<p ng-show="(formNew.$submitted || formNew.groupId.$touched) && formNew.groupName.$invalid" class="help-block">Enter group id</p>
					 </div>
				  </div> -->
				  
				  
				  <div class="form-group" ng-class="{ 'text-danger' : (formNew.$submitted || formNew.groupName.$touched) && formNew.groupName.$invalid }">
					 <label class=" col-18" for="groupName">Group name</label>
					 <div class="col-18">
						<input type="text" ng-model="newGroup.GroupName" ng-required="true" class="form-control" id="username" name="groupName" placeholder="Group name" />
						<p ng-show="(formNew.$submitted || formNew.groupName.$touched) && formNew.groupName.$invalid" class="text-danger small ">Enter group name</p>
					 </div>
				  </div>
				  <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (formNew.$submitted || formNew.description.$touched) && formNew.description.$invalid }">
					 <label class=" col-sm-2" for="description">Group description</label>
					 <div class="col-sm-6">
					    <textarea ng-model="newGroup.description" ng-required="true" class="form-control" id="description" name="description" placeholder="Group description" />
			
						<p ng-show="(formNew.$submitted || formNew.description.$touched) && formNew.description.$invalid" class=" text-danger small">Enter group description</p>
					 </div>
				  </div>
				 
				   <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (formNew.$submitted || formNew.lang.$touched) && formNew.lang.$invalid }">
					 <label class="col-18" for="lang">Language</label>
					 <div class="col-18">
					    <ui-select ng-model="newGroup.langObj" ng-disabled="disabled" name="lang" ng-required="true" reset-search-input="false" >
						  <ui-select-match class="ui-select-match"  placeholder="Search or select language...">
						    <span class="p-0">{{$select.selected.name}}<a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
			    
						  </ui-select-match>
						<ui-select-choices class="ui-select-choices" repeat="cl in (codeLanguageList | filter: { name: $select.search }) track by cl.id" refresh="refreshResults($select)" refresh-delay="0">
						 <span>{{cl.name}}</span>
						</ui-select-choices>
					   </ui-select>
						<p ng-show="(formNew.$submitted || formNew.lang.$touched) && formNew.lang.$invalid" class="help-block">Select language</p>
					 </div>
				  </div> 
				 <div class="form-group" ng-class="{ 'has-error' : (formNew.$submitted || formNew.owners.$touched) && formNew.owners.$invalid }">
					 <label class=" col-18" for="description">Group owners</label>
					 <div class="col-18">
					    <ui-select ui-select-multiple-list ng-model="newGroup.GroupOwners" on-select="ownerSelected($item,$model)" ng-disabled="disabled" name="owners" ng-required="false" reset-search-input="false" > 
						   <ui-select-match class="ui-select-match" placeholder="Search or select user...">
							<span class="p-0">{{$select.selected.name}}<a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
						   </ui-select-match>
						   <ui-select-choices class="ui-select-choices" repeat="owner in (userList | filter: { name: $select.search }) track by owner.id" refresh="refreshResults($select)" refresh-delay="0">
							<span>{{ owner.name }}</span>
						   </ui-select-choices>
					    </ui-select>
					    
					   <p ng-show="(formNew.$submitted || formNew.owners.$touched) && formNew.owners.$invalid" class="help-block">Select owners</p>
					
				    </div>  
	 
				 </div>
			 </div>
			 
			 
			 <div class="col-12">
				<div class="form-group" ng-class="{'text-danger' : (formNew.$submitted || formNew.groups.$touched) && formNew.groups.$invalid}">
					 <label class=" col-18" for="description">Users</label>
					 <div class="col-18">
					    <ui-select ui-select-multiple-list ng-model="newGroup.GroupId.users" on-select="userSelected($item,$model)" ng-class="{'text-danger border-danger' : (formNew.$submitted || formNew.groups.$touched) && formNew.groups.$invalid}" ng-disabled="disabled" name="groups" ng-required="false" reset-search-input="false" > 
						   <ui-select-match class="ui-select-match" placeholder="Search or select users...">
							<span class="p-0">{{$select.selected.name}}<a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
						   </ui-select-match>
						   <ui-select-choices class="ui-select-choices" repeat="user in (userList | filter: { name: $select.search }) track by user.id" refresh="refreshResults($select)" refresh-delay="0">
							<span>{{ user.name }}</span>
						   </ui-select-choices>
					    </ui-select>
					    
					   <p ng-show="(formNew.$submitted || formNew.groups.$touched) && formNew.groups.$invalid" class="text-danger small">Select user(s)</p>
					
				    </div>  
			   </div>
			 </div>
		    </div>
		    
		    <div  class=" row m-0 p-2 px-4 control-group">
					    
						    <button type="submit" ng-disabled="formNew.$invalid" class="btn btn-sm btn-success">
							   <i class='fa fa-save mr-2'></i> Save  </button>
								    
							<button type="button" ng-click="deselectGroup()" class="btn btn-sm btn-danger ml-2">
							   <i class='fa fa-cancel mr-2'></i> Cancel  </button>
		    </div>
		    
			 </form>
		   
		 </div>
			 
		<div class="col-lg-24 form-group">      
		 <form ng-submit="saveGroup(selectedGroup,form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>
					 
		  <ul ng-model="groups" class="permission-list ">
			
			<li  style="top:50px;z-index: 1;" class="item sticky align-self-start shadow-sm border rounded mb-3 bg-white" >
				 <div class="row m-0" >
				 <div class="col-auto"> Group Name </div>
				 <div class="col-10">
				  <input type="text" class="form-control form-control-sm col ml-3" placeholder="Search groups..." ng-model="groupFilter" />        
				</div>
				 
				 
						    
			 </li>
						  
	   
			 <li  class="text-left p-1 border-bottom" ng-repeat="group in groups | filter: groupFilter track by group.id">
				 <div class="row" >
					 <div class="col">
							  {{group.GroupName}}
							   <small class="text-muted ml-2">( id={{group.GroupId.id}} )</small>
					 </div>
					 <div class="col-auto">
							  <button ng-hide="selectedGroup.id==group.id" type="button" ng-click="editGroup(group,$index)" class="btn btn-xs btn-outline-primary ml-3">Edit</button>
					 </div>           
				   </div>
							
				   <div ng-show="selectedGroup && selectedGroup.id==group.id" class="row shadow-sm p-3 mb-2 border">
			 
					 <div class="col-12">
						 <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.groupId.$touched) && form.groupId.$invalid }">
							 <label class=" col-18" for="groupId">Group ID</label>
							 <div class="col-18">
								<input type="text" ng-model="selectedGroup.GroupId.id" ng-required="false" disabled="true" class="form-control" id="groupId" name="groupId" placeholder="Group ID" />
								<p ng-show="(form.$submitted || form.groupId.$touched) && form.groupId.$invalid" class="text-danger small">Enter group id</p>
							 </div>
						 </div> 
						 <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.groupName.$touched) && form.groupName.$invalid }">
							<label class=" col-18" for="groupName">Group name</label>
							<div class="col-18">
							    <input type="text" ng-model="selectedGroup.GroupName" ng-required="true" class="form-control" id="username" name="groupName" placeholder="Group name" />
							    <p ng-show="(form.$submitted || form.groupName.$touched) && form.groupName.$invalid" class="text-danger small">Enter group name</p>
							</div>
						 </div>
						 <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.description.$touched) && form.description.$invalid }">
							<label class=" col-18" for="description">Group description</label>
							<div class="col-18">
							   <textarea ng-model="selectedGroup.description" ng-required="true" class="form-control" id="description" name="description" placeholder="Group description" />
				    
							    <p ng-show="(form.$submitted || form.description.$touched) && form.description.$invalid" class="text-danger small">Enter group description</p>
							</div>
						 </div>
						
						  <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.lang.$touched) && form.lang.$invalid }">
							<label class="col-18" for="lang">Language</label>
							<div class="col-18">
							   <ui-select ng-model="selectedGroup.langObj" ng-disabled="disabled" name="lang" ng-required="true" reset-search-input="false" >
								 <ui-select-match class="ui-select-match"  placeholder="Search or select language...">
								   <span class="p-0">{{$select.selected.name}}<a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
					   
								 </ui-select-match>
							    <ui-select-choices class="ui-select-choices" repeat="cl in (codeLanguageList | filter: { name: $select.search }) track by cl.id" refresh="refreshResults($select)" refresh-delay="0">
								<span>{{cl.name}}</span>
							    </ui-select-choices>
							  </ui-select>
							    <p ng-show="(form.$submitted || form.lang.$touched) && form.lang.$invalid" class="help-block">Select language</p>
							</div>
						 </div> 
						<div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.owners.$touched) && form.owners.$invalid }">
							<label class=" col-18" for="description">Group owners</label>
							<div class="col-18">
							   <ui-select ui-select-multiple-list ng-model="selectedGroup.GroupOwners" on-select="ownerSelected($item,$model)" ng-disabled="disabled" name="owners" ng-required="false" reset-search-input="false" > 
								  <ui-select-match class="ui-select-match" placeholder="Search or select user...">
								    <span class="p-0">{{$select.selected.name}}<a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
								  </ui-select-match>
								  <ui-select-choices class="ui-select-choices" repeat="owner in (userList | filter: { name: $select.search }) track by owner.id" refresh="refreshResults($select)" refresh-delay="0">
								    <span>{{ owner.name }}</span>
								  </ui-select-choices>
							   </ui-select>
							   
							  <p ng-show="(form.$submitted || form.owners.$touched) && form.owners.$invalid" class="help-block">Select owners</p>
						    
						   </div>
						</div>
					 </div>
			 
				 <div class="col-12">
					 <div class="form-group" ng-class="{'text-danger' : (form.$submitted || form.groups.$touched) && form.groups.$invalid}">
					 <label class=" col-18" for="description">Users</label>
					 <div class="col-18">
					    <ui-select ui-select-multiple-list ng-model="selectedGroup.GroupId.users" on-select="userSelected($item,$model)" ng-class="{'text-danger border-danger' : (form.$submitted || form.groups.$touched) && form.groups.$invalid}" ng-disabled="disabled" name="groups" ng-required="false" reset-search-input="false" > 
						   <ui-select-match class="ui-select-match" placeholder="Search or select users...">
							<span class="p-0">{{$select.selected.name}}<a class="btn btn-sm btn-link p-0" ng-click="clear($event, $select)"><i class="ml-3 fa fa-times float-right"></i></a>
						   </ui-select-match>
						   <ui-select-choices class="ui-select-choices" repeat="user in (userList | filter: { name: $select.search }) track by user.id" refresh="refreshResults($select)" refresh-delay="0">
							<span>{{ user.name }}</span>
						   </ui-select-choices>
					    </ui-select>
					    
					   <p ng-show="(form.$submitted || form.groups.$touched) && form.groups.$invalid" class="text-danger small">Select user(s)</p>
					
				    </div>  
			   </div>
		    </div>
		    
			<div  class="row m-0 p-2 px-4 control-group">
					    
						    <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-sm btn-success">
							   <span class='fa fa-save'></span> <span class="ml-1">Save </span> </button>
								    
							<button type="button" ng-click="deselectGroup()" id="clearBtn" class="btn btn-sm btn-danger ml-2">
							   <span class='fa fa-times'></span> <span class="ml-1">Cancel </span> </button>
		    </div>
		
	    </div>
	  
	 
						  </li>
	 
						</ul>
				  </form>                 
	    </div>                  
	</div>
</div>
   

        
