<div class="card mt-1 p-2">
      <form ng-submit="saveOrganisation(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>

            <div class="row m-0">
				<div class="col-lg-24 p-2 text-center border-bottom mb-4"><span class="h5">Organisation info</span></div>
				
				<form ng-submit="saveUser(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>
					<div class="col-lg-24">
					
						<div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid }">
							<label ng-class="{'text-danger':(form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid}" for="organisationName">Organisation name</label>
							<div class="">
								<input type="text" ng-model="organisation.Name" ng-required="true" class="form-control" id="organisationName" name="organisationName" placeholder="Organisation name" />
								<p ng-if="(form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.organisationName.$touched) && form.organisationName.$invalid}">Enter organisation name</p>
							</div>
						</div>
									  
						  <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid }">
							<label ng-class="{ 'text-danger' : (form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid }" for="organisationDescription">Organisation description</label>
							<div class="">
								<textarea ng-model="organisation.Description" name="organisationDescription" ng-required="true" ng-min-length="20" class="form-control"></textarea>
								<p ng-if="(form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid" ng-class="{'invalid-feedback':(form.$submitted || form.organisationDescription.$touched) && form.organisationDescription.$invalid}">Enter organisation description(min 20 chars).</p>
		
							</div>
						</div>
						
						<div class="row m-0 my-1">
							
							
								<div class="col-24 p-0">
									<label class="mb-1">Organisation type</label>
								
								</div>	
									<div class="btn-group" role="group" aria-label="Menu type">
										<button type="button" ng-click="organisation.OrgType='ForProfit'" ng-class="{'active':organisation.OrgType=='ForProfit'}" class="btn btn-sm btn-outline-primary">
											For profit
										</button>
										<button type="button" ng-click="organisation.OrgType='NonProfit'" ng-class="{'active':organisation.OrgType=='NonProfit'}" class="btn btn-sm btn-outline-primary">
											Non profit
										</button>
										
									</div>
									   
							
						 </div>
						  
						   <div class="form-group" ng-form="form" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.country.$touched) && form.country.$invalid }">
							<label ng-class="{'text-danger' : (form.$submitted || form.country.$touched) && form.country.$invalid }" for="country">Country</label>
							
							<kt-dropdown-standard ng-if="countryList" ng-model="organisation.Country" is-multiple="false" name="country" selected-items="organisation.Country" required="true" dropdown-items="countryList" dropdown-id="'country'" parent-form-id="'form'" search-text="'Select country'"></kt-dropdown-standard>
							<p ng-if="(form.$submitted || form.country.$touched) && form.country.$invalid" ng-class="{'invalid-feedback d-block':(form.$submitted || form.country.$touched) && form.country.$invalid}">Select country</p>
							
							</div>  
						
							<div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.industry.$touched) && form.industry.$invalid }">
								  <label ng-class="{'text-danger' : (form.$submitted || form.industry.$touched) && form.industry.$invalid }" for="industry">Industry</label>
								  
								  <kt-dropdown-standard ng-if="industryList" ng-model="organisation.Industry" is-multiple="false" selected-items="organisation.Industry" required="false" dropdown-items="industryList" dropdown-id="'industry'" parent-form-id="'form'" search-text="'Select industry'"></kt-dropdown-standard>
								  <p ng-if="(form.$submitted || form.industry.$touched) && form.industry.$invalid" ng-class="{'invalid-feedback d-block':(form.$submitted || form.industry.$touched) && form.industry.$invalid}">Select industry</p>
								  
							  </div>
							
								
							  <div class="form-group" ng-class="{ 'is-invalid was-validated' : (form.$submitted || form.status.$touched) && form.status.$invalid }">
									<label  class="form-control-label" for="status">
										Active
										<input type="checkbox" class="my-2 ml-2" style="transform: scale(1.4);" name="status" ng-model="organisation.Active" ng-checked="organisation.Active" />
									</label>
			
							  </div>
				</div>
				
				<div class="col-lg-24">
					
					<div class="my-4">
						<span class="bold h6 border-bottom border-primary p-1 mb-2 text-primary">API setup</span>
                              
					</div>
					<div>
						<button type="button"  ng-click="GenerateApiKeys()" class="btn btn-outline-primary">
										<span class="fa fa-key mr-2"></span> Generate API key</button>
					</div>
					<div class="my-4">
						<div><span class="bold h6 border-primary p-1">Api id: {{organisation.ApiUser.username}}</span></div>
						<div><span ng-if="api_id" class="bold h6 border-primary p-1">Api id created: {{api_id}}</span></div>
						<div><span ng-if="api_key"  class="bold h6 border-primary p-1">Api key: {{api_key}}</span></div>
					</div>
				</div>
				<div class="col-lg-24 m-0 my-1">
					
							<div class=""> 
					  
									<button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-outline-success">
										<span class="fa fa-save mr-2"></span> Save organisation info</button>
							</div>
				</div>
			</div>  
	</form>
</div>