<div>
  
  <div class="panel panel-default">
    <div class="panel-heading "><span class="fa fa-bars">&nbsp Menu</span></div>
     <div class="">
        <ul class="nav nav-pills nav-stacked">
          <li ng-class="activeLink('app.menu.organisation')"><a ui-sref="app.menu.organisation" ><i class="fa fa-university">&nbsp; Organisation</i></a></li>
          
        </ul>
     </div>

</div>



 
 