<div class="card mt-1 px-2">
     <div class="col-lg-24 p-2 text-center border-bottom py-3 mb-4"><span class="h5" ng-bind="pageLabels.pageHeader || 'Users'"></span></div>
     <form ng-submit="saveUser(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>
  
  <div class="row m-0">
     <div class="col-lg-24 mb-4"> <button type="button" class="btn btn-sm btn-outline-primary" ng-click="newUserFunc(form)">
                                <span class='fa fa-plus mr-2'></span><span ng-bind="pageLabels.newUserBtnLabel || 'Create new user'"></span> </button>
     </div>

    <div  class="col-lg-24" ng-if="newUser">
          
                                        
                                        <div class="px-3 pb-4"> 
                                         <div class="col-lg-24 p-1 text-center border-bottom mb-4"><span class="h6 text-primary" ng-bind="pageLabels.newUserHeader || 'New user'"></span></div>
                                         <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.username.$touched) && form.username.$invalid }">
                                             <label class=" col-24" for="organisationName" ng-bind="pageLabels.username || 'Username'"></label>
                                             <div class="col-24">
                                                 <input ng-class="{'border-danger text-danger':(form.$submitted || form.username.$touched) && form.username.$invalid }" type="text" ng-model="selectedUser.UserId.username" ng-required="true" class="form-control" id="username" name="username" placeholder="{{pageLabels.username}}" />
                                                 <p ng-show="(form.$submitted || form.username.$touched) && form.username.$invalid" class="text-danger small" ng-bind="pageLabels.usernameError || 'Enter username'"></p>
                                             </div>
                                         </div>
                                         <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.password.$touched) && form.password.$invalid }">
                                             <label class=" col-24" for="password" ng-bind="pageLabels.password || 'Password'"></label>
                                             <div class="col-24">
                                                 <input ng-class="{'border-danger text-danger':(form.$submitted || form.password.$touched) && form.password.$invalid }" type="password" ng-model="selectedUser.UserId.password" ng-required="newUser" class="form-control" id="password" name="password" placeholder="{{pageLabels.password}}" />
                                                 <p ng-show="(form.$submitted || form.password.$touched) && form.password.$invalid" class="text-danger small" ng-bind="pageLabels.passwordError || 'Enter password'"></p>
                                             </div>
                                         </div>
                                         <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.first_name.$touched) && form.first_name.$invalid }">
                                             <label class=" col-24" for="first_name" ng-bind="pageLabels.first_name || 'First name'"></label>
                                             <div class="col-24">
                                                 <input type="text" ng-class="{'border-danger text-danger':(form.$submitted || form.first_name.$touched) && form.first_name.$invalid}" ng-model="selectedUser.UserId.first_name" ng-required="true" class="form-control" id="first_name" name="first_name" placeholder="{{pageLabels.first_name}}" />
                                                 <p ng-show="(form.$submitted || form.first_name.$touched) && form.first_name.$invalid" class="text-danger small"  ng-bind="pageLabels.firstNameError || 'Enter first name'"></p>
                                             </div>
                                         </div>
                                          <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.last_name.$touched) && form.last_name.$invalid }">
                                             <label class=" col-24" for="last_name" ng-bind="pageLabels.last_name || 'Last name'"></label>
                                             <div class="col-24">
                                                 <input ng-class="{'border-danger text-danger':(form.$submitted || form.last_name.$touched) && form.last_name.$invalid}" type="text" ng-model="selectedUser.UserId.last_name" ng-required="true" class="form-control" id="last_name" name="last_name" placeholder="{{pageLabels.last_name}}" />
                                                 <p ng-show="(form.$submitted || form.last_name.$touched) && form.last_name.$invalid" class="text-danger small" ng-bind="pageLabels.lastNameError || 'Enter last name'"></p>
                                             </div>
                                         </div>
                                          
                                             <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.email.$touched) && form.email.$invalid }">
                                             <label class=" col-24" for="email" ng-bind="pageLabels.email || 'E-mail'"></label>
                                             <div class="col-24">
                                                 <input type="text" ng-class="{'border-danger text-danger':(form.$submitted || form.email.$touched) && form.email.$invalid}" ng-model="selectedUser.UserId.email" ng-required="true" class="form-control" id="email" name="email" placeholder="{{pageLabels.email}}" />
                                                 <p ng-show="(form.$submitted || form.email.$touched) && form.email.$invalid" class="text-danger small" ng-bind="pageLabels.emailError || 'Enter e-mail'"></p>
                                             </div>
                                         </div>
                                        
                                        
                                        <div class="row form-group" ng-class="{'text-danger' : (form.$submitted || form.groups.$touched) && form.groups.$invalid}">
                                             <label class=" col-24" for="description"  ng-bind="pageLabels.groups || 'Groups'"></label>
                                             <div class="col-lg-24">
                                                <kt-dropdown-multiple ng-if="groupsDownloaded" ng-model="selectedUser.UserId.groups" selected-items="selectedUser.UserId.groups" name="groups" required="false" dropdown-items="groupList" dropdown-id="'groups'" parent-form-id="'form'" search-text="pageLabels.searchGroupsText"></kt-dropdown-multiple>

                                            </div>

                          
                                     </div>
                               
                                     <div class="my-3">  
                                        <button type="submit" id="saveBtn" ng-disabled="form.$invalid" class="btn btn-sm btn-outline-success">
                                                            <span class='fa fa-save mr-2'></span ><span ng-bind="pageLabels.saveButtonlabel || 'Save user details'"></span></button>
                                         <button type="button" id="clearBtn" ng-click="showUserDetailsFn(false)" class="btn btn-sm btn-outline-danger">
                                                            <span class='fa fa-times mr-2'></span><span ng-bind="pageLabels.cancelButtonlabel || 'Cancel'"></span></button>
                                     </div>
                                   </div>
                                    
                              </div>
    <div ng-if="!usersLoaded" style="min-width: 16%;background-color: white; z-index: 2000 !important; top: 50%;left: 50%; transform: translate(-50%); position: absolute;padding: 1.5rem !important;text-align: center !important;border: 1px solid #E7E9EC;border-radius: 0.5rem !important;">
      <div class="loader loader-lg"></div>
      <div class="mt-2">
            <div class="panel-title px-1" style="vertical-align:middle;color:#3498db">
                <span ng-bind="pageLabels.loadUsersMsg || 'Loading users...'"></span>                                   
            </div>
      </div>
    </div>

     <div  class="col-lg-24">
         <div class="form-group ">
                     <div class="row m-0">
                                   <div class="col-lg-3 my-auto bold" ng-bind="pageLabels.userListUsernameHeader || 'Username'"> </div> 
                                   <div class="col-lg-4">
                                        <input type="text" class="form-control form-control-sm" ng-model-options="{debounce:500}" placeholder="{{pageLabels.searchLabel}}" ng-model="userFilter" />        
                                   </div>
                                   <div class="col-lg-17 bold my-auto text-left" ng-bind="pageLabels.userListGroupsHeader || 'Groups'">   
                                   </div>
                    </div>

                     <ul ng-model="users" class="permission-list" >
                     
                          <li  class="item" ng-repeat="user in users | filter:userFilter track by user.id" ng-class="{'active':user.id==selectedUser.id}">
                           <div class="row m-0">
                              <div class="col-lg-7">
                                   <small>{{user.UserId.username}} </small>
                               <small class="text-muted ml-2">( id={{user.UserId.id}} )</small>
                              </div>
                              <div class="col-lg-16 text-left">
                                   <div class="badge badge-light text-muted m-1" ng-repeat="group in user.UserId.groups" >
                                        {{group.name}}
                                   </div>
                               </div>
                              <div class="col-lg-1 text-center"> 
                                  <button type="button" ng-click="editUser(user,$index)" class="btn btn-xs btn-outline-primary mr-1"><span ng-bind="pageLabels.editButtonLabel || 'Edit'"></span></button>
                              </div>

                              <div  class="col-lg-24 mt-4" ng-show="selectedUser && selectedUser.id==user.id">
          
                                        
                                        <div class="px-3 pb-4"> 
                                         <div class="col-lg-24 p-1 text-center border-bottom mb-4"><span class="h6 text-primary"  ng-bind="pageLabels.editUserHeader || 'User details'"></span></div>
                                         <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.username.$touched) && form.username.$invalid }">
                                             <label class=" col-24" for="organisationName" ng-bind="pageLabels.username || 'Username'"></label>
                                             <div class="col-24">
                                                 <input ng-class="{'border-danger text-danger':(form.$submitted || form.username.$touched) && form.username.$invalid }" type="text" ng-model="selectedUser.UserId.username" ng-required="true" class="form-control" id="username" name="username" placeholder="{{pageLabels.username}}" />
                                                 <p ng-show="(form.$submitted || form.username.$touched) && form.username.$invalid" class="text-danger small" ng-bind="pageLabels.usernameError || 'Enter username'"></p>
                                             </div>
                                         </div>
                                       
                                         <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.first_name.$touched) && form.first_name.$invalid }">
                                             <label class=" col-24" for="first_name" ng-bind="pageLabels.first_name || 'First name'"></label>
                                             <div class="col-24">
                                                 <input type="text" ng-class="{'border-danger text-danger':(form.$submitted || form.first_name.$touched) && form.first_name.$invalid}" ng-model="selectedUser.UserId.first_name" ng-required="true" class="form-control" id="first_name" name="first_name" placeholder="{{pageLabels.first_name}}" />
                                                 <p ng-show="(form.$submitted || form.first_name.$touched) && form.first_name.$invalid" class="text-danger small" ng-bind="pageLabels.firstNameError || 'Enter first name'"></p>
                                             </div>
                                         </div>
                                          <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.last_name.$touched) && form.last_name.$invalid }">
                                             <label class=" col-24" for="last_name" ng-bind="pageLabels.last_name || 'Last name'"></label>
                                             <div class="col-24">
                                                 <input ng-class="{'border-danger text-danger':(form.$submitted || form.last_name.$touched) && form.last_name.$invalid}" type="text" ng-model="selectedUser.UserId.last_name" ng-required="true" class="form-control" id="last_name" name="last_name" placeholder="{{pageLabels.last_name}}" />
                                                 <p ng-show="(form.$submitted || form.last_name.$touched) && form.last_name.$invalid" class="text-danger small" ng-bind="pageLabels.lastNameError || 'Enter last name'"></p>
                                             </div>
                                         </div>
                                          
                                             <div class="row form-group" ng-class="{ 'text-danger' : (form.$submitted || form.email.$touched) && form.email.$invalid }">
                                             <label class=" col-24" for="email" ng-bind="pageLabels.email || 'E-mail'"></label>
                                             <div class="col-24">
                                                 <input type="text" ng-class="{'border-danger text-danger':(form.$submitted || form.email.$touched) && form.email.$invalid}" ng-model="selectedUser.UserId.email" ng-required="true" class="form-control" id="email" name="email" placeholder="{{pageLabels.email}}" />
                                                 <p ng-show="(form.$submitted || form.email.$touched) && form.email.$invalid" class="text-danger small" ng-bind="pageLabels.emailError || 'Enter e-mail'"></p>
                                             </div>
                                         </div>
                                                                                 
                         
                                        <div ng-if="!newUser" class="row form-group">
                                             <label class="col-24" for="lang" ng-bind="pageLabels.lastLoginLabel || 'Last login'"></label>
                                             <div class="col-24">
                                               {{selectedUser.UserId.last_login | date:'dd.MM.yyyy HH:mm:ss'}}
                         
                                             </div>
                                         </div> 
                                         
                                          <div ng-if="!newUser" class="row m-0 mb-2 form-group">
                                            
                                            <div>
                    
                                                <label  class="" for="isAdmin">
                                                
                                                <input type="checkbox" class="kt-checkbox-properties my-2 mr-2" name="isAdmin" ng-model="selectedUser.UserId.is_superuser" ng-checked="selectedUser.UserId.is_superuser" />  
                                                <span ng-bind="pageLabels.superUserLabel || 'Super user'"></span>
                                                </label>
                                                     
                                            </div>
                                            
                                            
                                         </div> 
                                        
                                        
                                        <div class="row form-group" ng-class="{'text-danger' : (form.$submitted || form.groups.$touched) && form.groups.$invalid}">
                                             <label class=" col-24" for="description" ng-bind="pageLabels.userListGroupsHeader || 'Groups'"></label>
                                             <div class="col-lg-24">
                                                <kt-dropdown-multiple ng-if="groupsDownloaded" ng-model="selectedUser.UserId.groups" selected-items="selectedUser.UserId.groups" name="groups" required="false" dropdown-items="groupList" dropdown-id="'groups'" parent-form-id="'form'" search-text="pageLabels.searchGroupsText || 'Search or select groups...'"></kt-dropdown-multiple>

                                            </div>

                          
                                     </div>
                                    
                                     <button type="button" ng-click="ResetPassword(selectedUser.UserId.id)" class="btn btn-sm btn-outline-warning">
                                                            <span class='fa fa-password mr-2'></span><span  ng-bind="pageLabels.resetButtonlabel || 'Reset password'"></span></button>
                                        <!--<span class="mx-2">Reset password link: <b>{{resetPasswordRef}}</b> </span>-->
                                        <button type="button" ng-if="selectedUser.resetPasswordRef" ng-click="CopyResetPasswordLink()" class="btn btn-sm btn-outline-primary mx-3">
                                                            <span class='fa fa-copy mr-2'></span><span  ng-bind="pageLabels.copyButtonlabel || 'Click to copy reset password link'"></span></button>
                                                            <span ng-class="{'visibility-visible':copyPassResetLink,'visibility-hidden':!copyPassResetLink}" class="text-primary small ml-1" ng-bind="pageLabels.copyMsg || 'Copied!'"></span>

                                     <div class="my-3">  
                                        <button type="submit" id="saveBtn" ng-disabled="form.$invalid" class="btn btn-sm btn-outline-success">
                                                            <span class='fa fa-save mr-2'></span><span ng-bind="pageLabels.saveButtonlabel || 'Save user details'"></span></button>
                                         <button type="button" id="clearBtn" ng-click="showUserDetailsFn(false)" class="btn btn-sm btn-outline-danger">
                                                            <span class='fa fa-times mr-2'></span><span  ng-bind="pageLabels.cancelButtonlabel || 'Cancel'"></span></button>
                                     </div>
                                   </div>
                                    
                              </div>
                         
                           </div>
                          </li>

                </ul>        
               
     </div>
    
     </div>

   

 </div>
  
  
     </form>
        
</div>