<div>
  
  <div class="panel panel-default">
    <div class="panel-heading "><span class="fa fa-bars">&nbsp Menu</span></div>
     <div class="">
        <ul class="nav nav-pills nav-stacked">
          
        </ul>
     </div>

</div>



 
 