<div class="card mt-1 p-2">
 
       <div class="col-lg-24 p-2 text-center border-bottom mb-4"><span class="h5" ng-bind="pageLabels.myDetailsPageHeader || 'User details'"></span></div>
      
      <div class="row m-0 mt-3">        
             
             <div class="col-12 my-2">
               <div class="h5 border-bottom pb-2" ng-bind="pageLabels.editUserHeader || 'User info'"></span></div>
            
               <form ng-submit="saveUser(form.$valid)" id="saveForm" name="form" class="form-horizontal" role="form" novalidate>
                
               
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.username.$touched) && form.username.$invalid }">
                    <label class=" col-24" for="organisationName" ng-bind="pageLabels.username || 'Username'"></label>
                    <div ng-if="false" class="col-24">
                        <input type="text" ng-model="user.username" ng-required="true" class="form-control" id="username" name="username" placeholder="Username" />
                        <p ng-show="(form.$submitted || form.username.$touched) && form.username.$invalid" class="help-block">Enter username</p>
                    </div>
                    <div class="col-24">
                         <span class="form-control">{{user.username}}</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.first_name.$touched) && form.first_name.$invalid }">
                    <label class=" col-24" for="first_name" ng-bind="pageLabels.first_name || 'First name'"></label>
                    <div ng-if="false" class="col-24">
                        <input type="text" ng-model="user.first_name" ng-required="true" class="form-control" id="first_name" name="first_name" placeholder="First name" />
                        <p ng-show="(form.$submitted || form.first_name.$touched) && form.first_name.$invalid" class="help-block">Enter first name</p>
                    </div>
                    <div class="col-24">
                         <span class="form-control">{{user.first_name}}</span>
                    </div>
                </div>
                 <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.last_name.$touched) && form.last_name.$invalid }">
                    <label class=" col-24" for="last_name" ng-bind="pageLabels.last_name || 'Last name'"></label>
                    <div ng-if="false" class="col-24">
                        <input type="text" ng-model="user.last_name" ng-required="true" class="form-control" id="last_name" name="last_name" placeholder="Last name" />
                        <p ng-show="(form.$submitted || form.last_name.$touched) && form.last_name.$invalid" class="help-block">Enter last name</p>
                    </div>
                     <div class="col-24">
                         <span class="form-control">{{user.last_name}}</span>
                    </div>
                </div>
                 
                    <div class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.email.$touched) && form.email.$invalid }">
                    <label class=" col-24" for="email" ng-bind="pageLabels.email || 'E-mail'"></label>
                    <div ng-if="false" class="col-24">
                        <input type="text" ng-model="user.email" ng-required="true" class="form-control" id="email" name="email" placeholder="E-mail" />
                        <p ng-show="(form.$submitted || form.email.$touched) && form.email.$invalid" class="help-block">Enter e-mail</p>
                    </div>
                    <div class="col-24">
                         <span class="form-control">{{user.email}}</span>
                    </div>
                </div>
                
                <div ng-if="false" class="form-group" ng-class="{ 'has-error' : (form.$submitted || form.lang.$touched) && form.lang.$invalid }">
                    <label class="col-24" for="lang">Language</label>
                    <div class="col-24">
                         <span class="form-control" title="(id={{user.langObj.id}})">{{user.langObj.Name}} ({{user.langObj.Code}})</span>
                    </div>
                </div>
                    
               <div class="form-group">
                    
                    <div class="col-24">
                         <span class="mr-2" ng-bind="pageLabels.superUserLabel || 'Super user'"></span>
                         <i class="fas fa-check-square" title="{{pageLabels.superUserTitle}}" ng-if="user.is_superuser"></i>
                         <i class="far fa-square" title="{{pageLabels.notSuperUserTitle}}" ng-if="!user.is_superuser"></i>

                    </div>
                  
                </div> 
               
               
               <div class="form-group">
                    
                    <div class="col-sm-12">
                     <span class="mr-2" ng-bind="pageLabels.lastLoginLabel || 'Last login'"></span> <span class="text-muted ml-2">{{user.last_login | date:'dd.MM.yyyy HH:mm:ss:ms'}}</span>
                    </div>
                </div>
               
          </form>

          </div>
          <div class="col-12 my-2">
               <div class="h5 border-bottom pb-2" ng-bind="pageLabels.changePasswordHeader || 'Change password'"></div>
            
               <form id="changePassForm" name="forma" class="form-horizontal" role="form" novalidate>
               
                    <div class="form-group" ng-class="{ 'text-danger bg-danger-light' : (forma.$submitted || forma.currentPass.$touched) && forma.currentPass.$invalid }">
                        <label class=" col-24" for="currentPass" ng-bind="pageLabels.currentPasswordLabel || 'Current password'"></label>
                        <div class="col-24">
                            <input type="password" ng-model="currentPass" ng-required="true" class="form-control" id="currentPass" name="currentPass" placeholder="{{pageLabels.currentPasswordLabel}}" />
                            <p ng-show="(forma.$submitted || forma.currentPass.$touched) && forma.currentPass.$invalid" class="small text-danger" ng-bind="pageLabels.currentPassError || 'Enter current password'"></p>
                        </div>
                    </div>
                    
                     <div class="form-group" ng-class="{ 'text-danger bg-danger-light' : (forma.$submitted || forma.pass1.$touched) && forma.pass1.$invalid }">
                        <label class=" col-24" for="pass1" ng-bind="pageLabels.newPasswordLabel || 'New password'"></label>
                        <div class="col-24">
                            <input type="password" ng-model="pass1" ng-required="true" ng-pattern="strongPassRegex" class="form-control" id="pass1" name="pass1" placeholder="{{pageLabels.newPasswordLabel}}" />
                            <p ng-show="(forma.$submitted || forma.pass1.$touched) && forma.pass1.$invalid" class="small text-danger" ng-bind="pageLabels.newPassError || 'Enter valid password (at least 8 characters long, at least 1 number, 1 lower case and 1 upper case letter and 1 special character)'"></p>
                        </div>
                    </div>
                     
                      <div class="form-group" ng-class="{ 'text-danger bg-danger-light' : (forma.$submitted || forma.pass2.$touched) && forma.pass2.$invalid }">
                        <label class=" col-24" for="pass2" ng-bind="pageLabels.confirmNewPasswordLabel || 'Confirm new password'"></label>
                        <div class="col-24">
                            <input type="password" ng-model="pass2" ng-required="true" ng-change="validate_pass2(forma)" debounce="1000" class="form-control" id="pass2" name="pass2" placeholder="{{pageLabels.confirmNewPasswordLabel}}" />
                            <p ng-show="(forma.$submitted || forma.pass2.$touched) && forma.pass2.$invalid" class="small text-danger" ng-bind="pageLabels.confirmPassError || 'Passwords must match'"></p>
                        </div>
                    </div>
                    <div class="form-group col-24">
                        <button type="button" ng-disabled="forma.$invalid" ng-click="change_password()" class="btn btn-success">
                                    <span class="fa fa-lock mr-2"></span><span ng-bind="pageLabels.changePasswordButton || 'Change password'"></span></button>
                   </div>
               </form>
          </div>
     </div>
     
     
     <div ng-if="false" class="row m-0 mt-3">
          <div class="col-lg-24 my-1">
                    <div class="h5 border-bottom pb-2">Groups</div>
                 
          </div>
          <div class="col-lg-24 my-1">
             <div class="row m-0"> 
                    <div class="col-lg-2 border-rigth">
                         <b>Group id</b>
                    </div>
                    <div class="col-lg-22">
                    <b>Group name</b>
                    </div>
              </div>
            <ul class="list-group" ng-model="user.groups">
              <li class="list-group-item px-0" ng-repeat="group in user.groups track by group.id">
               <div class="row m-0"> 
                    <div class="col-lg-2 border-rigth">
                        {{group.id}}
                    </div>
                    <div class="col-lg-22">
                  {{group.name}}
                    </div>
              </div>
              </li>
            </ul>

          </div>
   </div>
     <button ng-if="false" type="button" class="btn btn-light">
                                <span class='fa fa-group'></span>&nbsp Request to join group </button>
 </div>
 <div  ng-if="false" class="">
                       
                            <button type="submit" id="clearBtn" ng-disabled="form.$invalid" class="btn btn-light">
                                <span class='fa fa-save'></span>&nbsp Save user details</button>
                                      
  </div>
