{% load static %}
<!doctype html>

<html>
   
    <head>
        <title ng-bind="headTitle">Katalyo | Home</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" type="image/x-icon" href="{% static  'img/favicon.ico' %}" />
       
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/build/css/font-awesome/css/all.css' %}" /> 
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/ui-grid.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/build/css/master.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static  'modules/styles/build/css/main.css' %}" />

        <script src="{% static 'modules/0000_common/0003_libs/jquery.min.js' %}"></script>
        
        
        <!-- Hotjar Tracking Code for https://beta.katalyo.com/ 
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2847792,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>-->


        <!-- Latest compiled and minified Angular.js -->
         <script type="application/javascript"  src="{% static 'modules/0000_common/0000_angular/angular.js' %}"></script>
         
         <script src="{% static 'modules/0000_common/0000_vue/vue.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/ui-bootstrap-tpls-3.0.4.min.js' %}"></script>
         <script src="{% static 'modules/0000_common/0001_directives/external/smart-table/smart-table.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/smart-table/mainStyle.css' %}" />
        <script src="{% static 'modules/0000_common/0003_libs/trumbowyg.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/angular-trumbowyg.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/trumbowyg-pasteimage.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/trumbowyg-colors.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'modules/0000_common/0003_libs/trumbowyg.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'modules/0000_common/0003_libs/trumbowyg-color.css' %}">
           
        <!-- Latest compiled and minified Angular-route.js -->
  
         <script src="{% static 'modules/0000_common/0000_angular/angular-ui-router.js' %}"></script>
         <script src="{% static 'modules/0000_common/0000_angular/angular-cookies.js' %}"></script>
         <script src="{% static 'modules/0000_common/0000_angular/angular-animate.js' %}"></script>
        <script src="{% static 'modules/0000_common/0000_angular/angular-sanitize.js' %}"></script>
        <!-- Export to pdf  -->
        <script src="{% static 'modules/0000_common/0003_libs/pdfmake.js' %}"></script>
       <!-- <script src="{% static 'modules/0000_common/0003_libs/csv.js' %}"></script>-->
        <script src="{% static 'modules/0000_common/0003_libs/vfs_fonts.js' %}"></script>
      
       <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0003_libs/ui-select-master/dist/select.css' %}" /> 
        
        <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/color-picker/color-picker.css' %}" /> 

<!-- DRAGULA-->
      <link rel="stylesheet" type="text/css" href="{% static 'modules/styles/dragula.css' %}" /> 
      <script src="{% static 'modules/0000_common/0002_services/external/dragula.js' %}"></script>
<!-- DRAGULA-->          
         
       <script type="module" src="{% static 'modules/0001_modules/0001_index/angularJS/bootstrap.js' %}"></script>

	   <script type="module" src="{% static 'modules/0001_modules/0001_index/angularJS/indexCtrls.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/popper.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/math.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0003_libs/ui-select-master/dist/select.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/ui-grid/ui-grid.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/ui-uploader/uploader.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/lrDragNDrop/lrDragNDrop.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/ngFileUpload/ng-file-upload-shim.js' %}"></script> <!-- for no html5 browsers support -->
        <script src="{% static 'modules/0000_common/0001_directives/external/ngFileUpload/ng-file-upload.js' %}"></script>
       	
        
        <script src="{% static 'modules/0000_common/0001_directives/external/exceljs/exceljs.min.js' %}"></script> 
        <script src="{% static 'modules/0000_common/0001_directives/external/exceljs/FileSaver.min.js' %}"></script>
         
		<script src="{% static 'modules/0000_common/0001_directives/external/color-picker/color-picker.js' %}"></script>
        
        <script src="{% static 'modules/0000_common/0001_directives/external/Chartjs/Chart.min.js' %}"></script>
        <script src="{% static 'modules/0000_common/0001_directives/external/Chartjs/angular-chart.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static  'modules/0000_common/0001_directives/external/Chartjs/Chart.min.css' %}" /> 
       
        <script src="{% static 'modules/0000_common/0002_services/external/angular-spinners.js' %}"></script>
        
    <!--    <script src="{% static 'modules/0000_common/0002_services/angularJS/parameters.js' %}"></script>-->
        
        <script src="{% static 'modules/0000_common/0002_services/external/angular-spinners.js' %}"></script>
		<!-- Ethereum web3 library-->		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.3.5/web3.min.js"></script>
		<!-- Ethereum web3 library-->
	    <script type="text/javascript" src="https://unpkg.com/web3modal"></script>
		<script type="text/javascript" src="https://unpkg.com/evm-chains"></script>
		<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider"></script>
		<script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
<!-- DRAGULAR-->
<!--      <link rel="stylesheet" type="text/css" href="{% static 'styles/dragular.css' %}" /> -->
      <script src="{% static 'modules/0000_common/0002_services/external/dragular.js' %}"></script>

        <script src="{% static 'modules/0000_common/0003_libs/angular-recaptcha.js' %}"></script>
      
       <script type="module" src="{% static 'modules/0000_common/0001_directives/angularJS/build/ktdirectives.js' %}"></script>
	   
        <!-- gulp services -->
        <script type="module" src="{% static 'modules/0000_common/0002_services/angularJS/build/services.js' %}"></script>
        <!-- ES6 modules -->
        <script type="module" src="{% static 'modules/0000_common/0004_modules/authModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/codesModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/errorModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/gridsterModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/interceptorModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/menuModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/messagingModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/processingModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/resourcesDataModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/settingsModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/stateManagerModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/widgetDataExchangeModule.js' %}"></script>
		<script type="module" src="{% static 'modules/0000_common/0004_modules/widgetRegisterModule.js' %}"></script>
         <!--gulp ctrls-->
        <script type="module" src="{% static 'modules/0001_modules/0002_auth/angularJS/authCtrls.js' %}"></script>
        <script type="module" src="{% static 'modules/0001_modules/0003_resources/angularJS/resourcesCtrls.js' %}"></script>
        <script type="module" src="{% static 'modules/0001_modules/0004_settings/angularJS/settingsCtrls.js' %}"></script>
        <script type="module" src="{% static 'modules/0001_modules/0005_tasks/angularJS/tasksCtrls.js' %}"></script>
        
    </head>
  
    <body ng-controller="appController as appCtrl" ng-keydown="multiSelectKeyUpDown($event,this)" ng-style="gsrvc.getPaddingForBody()">
    
      <div ui-view="header">
      </div>
       
      <div ui-view="content">    
      </div>
     
      <div ui-view="footer">    
      </div>
      
    </body>
 
</html>
