<div class="row m-0">

	<!--this is menu-->
	<div class="p-0" ng-class="{'col-auto':!menu_service.getSideMenuSize(),'col-lg-4':menu_service.getSideMenuSize()}" ng-if="localVars.sideMenus.length>0">
		<div kt-page-menu-exe side-menus="localVars.sideMenus"></div>
	</div>
	<!--this is page content-->
	<div class="col p-0" ng-class="{'col-lg-20':localVars.sideMenus.length>0,'card mt-2':resourceDefinition.Parameters.ShowCard}">
		<div ng-if="false" class="mt-4 text-center p-2 border-1 processing-style" ng-show="!formLoaded && !pageLoaded">
		  
		  <div class="spinner-std">
		    <div class="rect1 ml-1"></div>
		    <div class="rect2 ml-1"></div>
		    <div class="rect3 ml-1"></div>
		    <div class="rect4 ml-1"></div>
		    <div class="rect5 ml-1"></div>
		  </div>
		  <div> <h4>Loading page...</h4></div>
		  
		</div>

	     <div  ng-if="unauthorised" class="col-lg-16"> <h4  class="text-center">Unauthorised!</h4></div>
	  
	  
	     <div ng-show="(formLoaded || pageLoaded) && !unauthorised" class="">
	     
	          
	          <div class="my-2" >

	          <!-- put here web component in the 2nd phase -->
		          <div class="page-grid-container">
		             
		              <!--
		               <div ng-repeat="item in resource.Parameters.pageGridItems" 
		                    class="page-grid-item p-3 shadow-sm rounded" 
		                        style="background-color:#ffffff;border:1px solid lightgray;grid-column: {{item.ColumnStart}} / span {{item.HorizontalSize}};grid-row: {{item.RowStart}} / span {{item.VerticalSize}}">
		                    style="overflow: hidden;  max-width: 100%;
											<div kt-task-widget local-vars="localVars" task-id="item.task.id"></div>
		               </div>        
		          -->
		          	
			          <div class="" ng-if="pageLoaded">
						<div kt-grid   grid-type="::gridsterType" resource-form-loaded="pageLoaded" resource-definition="::resourceDefinition" form-params="resourceDefinition.formParams"
								     form-data="dashboard.data" parent="::dashboard.widgets" all-columns="::dashboard.widgets" class="ktGrid"></div>
					</div>

					
		          </div>     
	    
	     	</div>
		</div>
	</div>
	
	<div ng-if="!pageLoaded && resource" style="min-width: 16%;background-color: white; z-index: 2000 !important; top: 50%;left: 50%; transform: translate(-50%); position: absolute;padding: 1.5rem !important;text-align: center !important;border: 1px solid #E7E9EC;border-radius: 0.5rem !important;">
      <div class="loader loader-lg"></div>
      <div class="mt-2">
       		<div class="panel-title px-1" style="vertical-align:middle;color:#3498db">
       			<span>{{resource.ParametersLang.LoadPageText}}</span>					           		
       		</div>
      </div>
  	</div>
	
    <div ng-if="!pageLoaded" class="modal-backdrop show"></div>
</div>