<div>
   
     <div  ng-show="!formLoaded && !pageLoaded" class="col-lg-16 mt-2"> <h4  class="text-center">Loading page...</h4></div>

     <div  ng-if="unauthorised" class="col-lg-16"> <h4  class="text-center">Unauthorised!</h4></div>
  
  
     <div ng-show="(formLoaded || pageLoaded) && !unauthorised" class="">
     
          <div class="row" >
            <div class="col-lg-16">
              <div class="text-center">
                    <h4>{{resourceDefinition.Name}}</h4>
              </div>
            </div>			
          </div>
          
          <div>
          
           <div class="my-2 p-2">
                    <div class="h4 text-center">Build the layout of your page </div>
                    
                    <div class="h6 text-center">Katalyo uses css3 grid to build the layout of your page. If you're familiar with it great but don't worry if you're not, it's easy as it gets.</div>
                    
           </div>
           <div class="h4 py-1 border-bottom text-primary border-primary">Define the page layout containers</div>
          <div class="my-2 p-2" style="display:grid;grid-gap: 20px 20px;grid-template-rows: auto auto;grid-template-columns:auto auto">
              
               <div>
                    <label class="label-xs text-muted">Number of rows </label> <input type="text" class="form-control form-control-xs" ng-change="calcRowSize()" ng-model="NoOfRows"  />
                     <label class="label-xs text-muted">Number of columns </label> <input type="text" class="form-control form-control-xs" ng-change="calcColumnSize()" ng-model="NoOfColumns"  />
               </div>
               <div>
                   <label class="label-xs text-muted">Grid gaps between rows </label> <input type="text" class="form-control form-control-xs" ng-model="RowGap"  />
                     <label class="label-xs text-muted">Grid gaps between columns </label> <input type="text" class="form-control form-control-xs" ng-model="ColumnGap"  />
             
               </div>
          </div>
          <!--
          <label class="label-xs text-muted">Error msg </label> <input type="text" class="form-control form-control-xs" ng-model="fd.ErrorMsg"  />
		<label class="label-xs text-muted">SearchText </label> <input type="text" class="form-control form-control-xs" ng-model="fd.SearchText"  />
		<label class="label-xs text-muted">Regex </label> <input type="text" class="form-control form-control-xs" ng-model="fd.Parameters.Regex"  />
		-->
          </div>
          <!-- put here web component in the 2nd phase -->
          <div class="page-grid-container" style="display:grid;grid-row-gap: {{RowGap}}px;grid-column-gap: {{ColumnGap}}px;grid-template-rows:{{rowSizes}};grid-template-columns: {{columnSizes}}">
             
              
               <div ng-repeat="item in pageGridItems" class="page-grid-item p-3 shadow-sm " style="background-color:#ffffff;border:1px solid lightgray;grid-column: {{item.ColumnStart}} / span {{item.HorizontalSize}};grid-row: {{item.RowStart}} / span {{item.VerticalSize}}">
                    <span class="h5">Layout container {{item.id}}</span>
                    
                    <div style="display:grid;grid-gap: 10px 10px;grid-template-columns:auto auto">
                         <div class="bg-light p-2 border shadow-sm text-primary">     
                              <div class="h6 border-bottom border-primary">Position</div>
                              <div>
                                   <label class="label-xs text-muted">Start from row </label> <input type="text" class="form-control form-control-xs"  ng-model="item.RowStart"  />
                              </div>
                              <div>
                                   <label class="label-xs text-muted">Start from column </label> <input type="text" class="form-control form-control-xs"  ng-model="item.ColumnStart"  />
                              </div>
                         </div>
                         <div class="bg-light p-2 border shadow-sm text-primary">
                              <div class="h6 border-bottom border-primary">Size</div>
                              <div>
                                   <label class="label-xs text-muted">Horizontal size </label> <input type="text" class="form-control form-control-xs"  ng-model="item.HorizontalSize"  /> 
                              </div>
                              <div>
                                   <label class="label-xs text-muted">Vertical size </label> <input type="text" class="form-control form-control-xs"  ng-model="item.VerticalSize"  /> 
                              </div>
                         </div>
                    </div>
               </div>        
          
                  
          </div>     
               
    
     </div>
</div> 