<ul class="ui-select-choices ui-select-choices-content">
  <li class="ui-select-choices-group" id="ui-select-choices-{{ $select.generatedId }}" >
    
    <div class="divider" ng-show="$select.isGrouped && $index > 0"></div>
    <div ng-show="$select.isGrouped" class="ui-select-choices-group-label dropdown-header" ng-bind="$group.name"></div>
    <div ng-attr-id="ui-select-choices-row-{{ $select.generatedId }}-{{$index}}" class="ui-select-choices-row"
    ng-class="{active: $select.isActive(this), disabled: $select.isDisabled(this)}" role="option">
      <span class="ui-select-choices-row-inner" ng-class="{'label-xs':$select.sizeXs}">
        <i ng-if="$select.multipleList" ng-class="{'far fa-check-square text-success mr-1':$select.isSelectedMultipleList(this),'far fa-square text-light mr-1':!$select.isSelectedMultipleList(this)}"></i>
      </span>
    </div>
  </li>
</ul>
