<div class="ui-select-footer p-0" ng-transclude>
    <button type="button" ng-click="$select.close()" class="btn btn-link btn-sm text-dark float-right"><span class="small">Close</span></button>
</div>
