<div class="ui-select-match" ng-hide="$select.open && $select.searchEnabled" ng-disabled="$select.disabled" ng-class="{'btn-light-focus':$select.focus}">
  <div tabindex="-1"
      class="ui-select-toggle btn-outline-light w-100 border rounded text-dark row m-0 p-0 py-1"
      aria-label="{{ $select.baseTitle }} activate"
      ng-disabled="$select.disabled" 
      ng-click="$select.activate()"
      ng-class="{'label-xs btn-xs ui-select-size-xs':$select.sizeXs}"
      style="outline: 0;">
    <div class="col px-1">
      <span ng-show="$select.isEmpty()" class="ui-select-placeholder text-muted">{{$select.placeholder}}</span>
      <span ng-hide="$select.isEmpty()" class="ui-select-match-text" ng-class="{'ui-select-allow-clear': $select.allowClear && !$select.isEmpty()}" ng-transclude=""></span>
      <span class="p-0">
        <a ng-show="$select.allowClear && !$select.isEmpty() && ($select.disabled !== true)" class="btn btn-link p-0" aria-label="{{ $select.baseTitle }} clear"
          ng-click="$select.clear($event)" ng-class="{'btn-xs':$select.sizeXs,'btn-sm':!$select.sizeXs || $select.sizeXs==undefined}">
          <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      </span>
    </div>
    <div class="col-auto my-auto">
      <i ng-class="{'dropdown-toggle-multiple-list':$select.multipleList}" class="dropdown-toggle" ng-click="$select.toggle($event)"></i>
    </div>
  </div>
</div>
