<div>
  <div class="ui-select-container border-0 ui-select-bootstrap dropdown" ng-class="{'open': $select.open}">
    <div class="ui-select-match"></div>
    <span ng-show="$select.open && $select.refreshing  && $select.spinnerEnabled" class="ui-select-refreshing border {{$select.spinnerClass}}"></span>
    <input type="search" autocomplete="off" tabindex="-1"
         aria-expanded="true"
         aria-label="{{ $select.baseTitle }}"
         aria-owns="ui-select-choices-{{ $select.generatedId }}"
         class="form-control ui-select-search rounded-0"
         ng-class="{ 'ui-select-search-hidden' : !$select.searchEnabled,'form-control-xs':$select.sizeXs }"
         placeholder="{{$select.placeholder}}"
         ng-model="$select.search"
         ng-show="$select.open">
    <div ng-show="$select.open && $select.items.length > 0" class="ui-select-dropdown dropdown-menu">
      <div class="ui-select-header"></div>
      <div class="ui-select-choices"></div>
      <div class="ui-select-footer"></div>
    </div>
    <div class="ui-select-no-choice"></div>
  
    </div>
    <div class="ui-select-panel-body-v-scroll" ng-if="$select.selectedItemsMultipleList.length>0">
      <ul class="list-group border-left border-right multiselect-container-selected">
        <li class="p-0 pl-3 border-bottom rounded-0 row m-0" ng-repeat="siml in $select.selectedItemsMultipleList track by siml.id">
          <span class="col" ng-class="{'label-xs':$select.sizeXs}">{{siml.name}}</span> 
          <button type="button" ng-class="{'btn-xs':$select.sizeXs,'btn-sm':!$select.sizeXs}" class="col-auto btn btn-link float-right py-0" tabindex="2" ng-click="$selectMultiple.removeItemFromList($index)" aria-label="close">
            <i class="fa fa-times"></i>
          </button>
        </li>
      </ul>
  </div>
</div>  