<div class="ui-select-container ui-select-bootstrap dropdown" ng-class="{'open': $select.open}">
  <div class="ui-select-match"></div>
  <span ng-show="$select.open && $select.refreshing  && $select.spinnerEnabled" class="ui-select-refreshing {{$select.spinnerClass}}"></span>
  <input type="search" autocomplete="off" tabindex="-1"
         aria-expanded="true"
         aria-label="{{ $select.baseTitle }}"
         aria-owns="ui-select-choices-{{ $select.generatedId }}"
         class="form-control ui-select-search"
         ng-class="{ 'ui-select-search-hidden' : !$select.searchEnabled,'form-control-xs':$select.sizeXs}"
         placeholder="{{$select.placeholder}}"
         ng-model="$select.search"
         ng-show="$select.open">
  <div ng-show="$select.open && $select.items.length > 0" class="ui-select-dropdown dropdown-menu">
    <div class="ui-select-header"></div>
    <div class="ui-select-choices"></div>
    <div class="ui-select-footer"></div>
  </div>
  <div class="ui-select-no-choice"></div>
</div>
