<script src="formula-parser-IGOR.js"></script>

<script>
var parser = new formulaParser.Parser();

//r=parser.parse('SUM(1, 6, 7)'); 
//console.log(r)
//parser.setVariable('MY', 5);
//r=parser.parse('1 + MY'); // returns `5.6`


parser.setFunction('ADD_5', function(params) {
  return params[0] + 5;
});

parser.setFunction('FF', function(params) {
  return obj[params[0]];
});

parser.setFunction('GET_LETTER', function(params) {
  var string = params[0];
  var index = params[1] - 1;
  return string.charAt(index);
});

js='[{"id":162,"Field108":{"id":12,"name":"low","value":"low","active":true},"Field109":"909090909090909090","Field110":"2019-03-06T08:48:07.162580Z","Field106":1,"Field114":null,"Field105":"hkhhhh","Field107":{"id":14,"name":"Affected Service 1","value":"AffectedService 1","active":true},"ChangedBy":null,"ChangedDateTime":null,"Field111":null,"CreatedBy":1,"Field113":{"id":6,"name":"new","value":"new","active":true},"CreatedDateTime":"2019-03-06T08:48:07.165581Z","Field125":[],"Field120":[1,2,3]}]'
obj=JSON.parse(js)[0]
parser.setVariableObject(obj);

//r=parser.parse('id'); // returns `10`
r=parser.parse('SUM(id,1)'); // returns `10`


//r1=parser.parse('SUM(4, ADD_5(1))'); // returns `10`
//r2=parser.parse('GET_LETTER("Some string", 3)'); // returns `m`


</script>